.side-nav li.active{
  background-color: rgba(41, 182, 246, 0.5);
}
.side-nav li > a {

  height: 24px;
  line-height: 24px;

}
#jobsForPsychologyMajorsMenu.side-nav li > a, #gamesMenu.side-nav li > a{
  height: 48px;
  line-height: 48px;

}
.pagination li.active{
  background-color: #29b6f6;
}
.pageFix{
 position: inherit !important;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.responsive-header{
  font-size: 54px;
  margin:0;
}
.audioOnBottom{
  position:relative;
  /* right:15px; */
  z-index: 99;
  width:100%;
  background: white !important;
}
@media only screen and (max-width : 992px) {
  .responsive-header{
    font-size: 34px;
    margin:0;
  }
  .audioOnBottom{
    right: 0;
    left: 0;
    width:100%;
    background: white;
  }
}

@media only screen and (max-width : 450px) {
  .responsive-header{
    font-size: 30px;
    margin:0;
  }
  
}
      

  /* header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
      */




    .secondMenu {
      padding-left: 300px !important;
    }
    .marginForSecondMenu{
      margin-left:300px !important;
    }
    #jobsForPsychologyMajorsMenu, #test11{
      top: 64px;
      z-index: 997;
    }

    
    @media only screen and (max-width : 601px) {
      .paddingOnMobile{
        padding-top: 24px;
      }
      .fullScreenModal {
        top: 0 !important;
        right: 0;
        left: 0;
        padding: 0;
        margin: 0;
        width: 100% !important;
        bottom: 0;
        max-height: 100%;
      }
    }
    @media only screen and (max-width : 992px) {
      #jobsForPsychologyMajorsMenu, #test11{
        top: 0px !important;
        z-index: 999;
      }
      .secondMenu {
        padding-left: 0 !important;
      }
      .marginForSecondMenu{
        margin-left: 0 !important;
      }
    }
    .opacityCover{
      width: 100%;
      height: 100%;
      opacity: 0.6;
      background: black;
      right: 0;
      position: absolute;
      bottom: 0;
    }
    

    @media only screen and (max-width : 377px) {
      .pagination li a{
        padding: 0 5px;
      }
    }

    paper-audio-player[color="orange"] #progress{
      background-color: #4fc3f7 !important;
    }
    paper-audio-player[color="#29b6f6"] #progress{
      background-color: #ffb74d !important;
    }


    [data-role="page"] .video-container{
      margin: 0 auto;
      width: 50%;
    }
    @media only screen and (max-width : 992px) {
      [data-role="page"] .video-container{
        width: 100%;
      }
    }