    <div id="duke_modal" class="modal fullScreenModal">
        <div class="card" style="margin: 0;">
            <div class="card-image">
                <img class="materialboxed" src="img/DUKE.jpg">
                <div class="opacityCover"></div>
                <span class="card-title" style="top:0;width:100%;">
                    <a href="" class="btn right light-blue modal-action modal-close waves-effect">Close</a>
                    <p style="position: absolute;bottom: 0;">
                        Duke University - Psychology programs

                    </p>

                </span>
            </div>
            <div class="card-content">
                <p>
                    Just for Grins and Giggles - who can afford it?
                    <br>
                    <br> Cost for One year ~ $70,000 (not including the summer) estimate from 2015 pricing for
                    <b>IN-STATE</b> students.
                </p>
                <a href="http://psychandneuro.duke.edu/undergraduate-major-minor-in-psychology" target="_blank">http://psychandneuro.duke.edu/undergraduate-major-minor-in-psychology</a>
                <p>
                    Undergraduate Major/Minor in Psychology
                    <br>
                    <br> The undergraduate psychology program offers two majors (B.A. and B.S.) and a minor in Psychology. At
                    Duke, the psychology program focuses on five areas: Abnormal/Health, Biological, Cognitive, Developmental,
                    and Social. A degree in psychology prepares students to become well rounded, liberally educated citizens
                    - (That does not mean you are a liberal! It means you have LOTS of varied educational classes), and is
                    excellent preparation for nearly any career in which an understanding of human behavior is important.

                </p>

            </div>
        </div>
    </div>