<div id="ecsu_modal" class="modal fullScreenModal">
    <div class="card" style="margin: 0;">
        <div class="card-image">
            <img class="materialboxed" src="img/ECSU.jpg">

            <span class="card-title" style="top:0;width:100%;">
                <a href="" class="btn right light-blue modal-action modal-close waves-effect">Close</a>
                <p style="position: absolute;bottom: 0;">
                    ECSU Undergraduate Psychology Department
                    <br> Elizabeth City, NC
                </p>

            </span>
        </div>
        <div class="card-content">
            <!-- <h4 class="orange-text">
            ECSU Undergraduate Psychology Department 
        </h4> -->
            <p>
                Cost for One year ~ $13,000 (not including the summer) estimate from 2015 pricing for in-state students living at home (no
                boarding costs included).
            </p>
            <p>
                <a href="http://www.ecsu.edu/academics/department/education-psychology/psychology/index.html">http://www.ecsu.edu/academics/department/education-psychology/psychology/index.html</a>

                <br> Providing a B.S. in Psychology! The study of psychology provides knowledge regarding the causes of behavior
                and psychological methods of investigation. A background in psychology promotes within an individual a sense
                of competence and efficiency through a better understanding of development, learning, cognition, and emotion.
                Therefore, a fundamental effort in the Department of Psychology is to impart to students a thorough knowledge
                of the practical, scientific, and theoretical/philosophical factors associated with the study of human behavior.
                The Department offers a Major, a Minor; and an Academic Concentration (Teacher Education Majors) in Psychology.
                School of Education and Psychology
            </p>
            <img class="materialboxed" src="img/ECSU_2.jpg" style="width:100%;">
        </div>
    </div>
</div>