<div id="ecu_modal" class="modal fullScreenModal">
    <div class="card" style="margin: 0;">
        <div class="card-image">
            <img class="materialboxed" src="img/ECU.jpg">
            <div class="opacityCover"></div>
            <span class="card-title" style="top:0;width:100%;">
                <a href="" class="btn right light-blue modal-action modal-close waves-effect">Close</a>
                <p style="position: absolute;bottom: 0;">
                    Psychology Undergraduate Program
                    <br> at East Carolina University
                    <br> Greenville NC

                </p>

            </span>
        </div>
        <div class="card-content">
            <!-- <h4 class="orange-text">
            ECSU Undergraduate Psychology Department 
        </h4> -->
            <p>
                Cost for One year ~ $31,000 (not including the summer) estimate from 2015 pricing for in-state students
                <!-- Picture of the ECU dining hall -->
            </p>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/UXsIT7xaAFg" width="853" height="480" frameborder="0" gesture="media" allowfullscreen=""></iframe>
            </div>

            <p>
                <a href="https://www.youtube.com/watch?v=UXsIT7xaAFg" target="_blank">https://www.youtube.com/watch?v=UXsIT7xaAFg</a>

                <br>
                <br>
                <a href="http://www.ecu.edu/psyc/" target="_blank">http://www.ecu.edu/psyc/</a>

                <br>
                <br> The Department of Psychology offers both a major (BA) and a minor in Psychology. The BA degree requires
                120 total credit hours, with 42 hours of liberal arts foundation courses, 12 hours of a foreign language
                (1001 to 1004), 35 hours in the study of Psychology, a minor, and general electives. The Psychology minor
                requires 24 hours of study in Psychology. The Psychology curriculum at ECU is similar to that of other major
                universities and colleges across the country. Specifically, it provides the student with a background in
                the various areas of study in psychology and the research techniques used in the scientific study of behavior
                and thought.


            </p>
        </div>
    </div>
</div>