    <div id="marymount_modal" class="modal fullScreenModal">
        <div class="card" style="margin: 0;">
            <div class="card-image">
                <img class="materialboxed" src="img/Marymount1.jpg">
                <div class="opacityCover"></div>
                <span class="card-title" style="top:0;width:100%;">
                    <a href="" class="btn right light-blue modal-action modal-close waves-effect">Close</a>
                    <p style="position: absolute;bottom: 0;">
                        Psychology Program at Marymount University

                        <br> Arlington, Virginia
                    </p>

                </span>
            </div>
            <div class="card-content">
                <p>
                    Cost for One year ~ $41,000 (not including the summer) estimate from 2015 pricing for out-of-state students.
                </p>
                <a href="http://www.marymount.edu/Academics/School-of-Education-Human-Services/Undergraduate-Programs/Psychology-(B-A-)"
                    target="_blank">http://www.marymount.edu/Academics/School-of-Education-Human-Services/Undergraduate-Programs/Psychology-(B-A-)</a>

                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/GMOqIDmWb4k" width="853" height="480" frameborder="0" gesture="media" allowfullscreen=""></iframe>
                </div>
                <a href="https://www.youtube.com/watch?v=GMOqIDmWb4k " target="_blank"> https://www.youtube.com/watch?v=GMOqIDmWb4k </a>
                <p>YouTube video about Marymount</p>
                <p>
                    Do you wonder why people think, feel, and behave the way they do? The psychology program at Marymount will immerse you in
                    the study of topics such as:
                </p>
                <ul>
                    <li>
                        <span style="font-size: medium; font-family: arial, helvetica, sans-serif;">traumatic brain injury</span>
                    </li>
                    <li>
                        <span style="font-size: medium; font-family: arial, helvetica, sans-serif;">social media
                        </span>
                    </li>
                    <li>
                        <span style="font-size: medium; font-family: arial, helvetica, sans-serif;">parent-child relationships
                        </span>
                    </li>
                    <li>
                        <span style="font-size: medium; font-family: arial, helvetica, sans-serif;">stereotyping</span>
                    </li>
                    <li>
                        <span style="font-size: medium; font-family: arial, helvetica, sans-serif;">psychopathology</span>
                    </li>
                </ul>
                <p>
                    If you’re intrigued by topics such as these, consider majoring in Psychology.
                    <br>
                    <br> Our emphasis on problem solving, research, and interpersonal development will prepare you for a wide
                    variety of careers. Psychology graduates go on to work in social and mental health services, government,
                    research, schools, and business or pursue graduate studies.
                </p>
            </div>
        </div>
    </div>