    <div id="millersville_modal" class="modal fullScreenModal">
        <div class="card" style="margin: 0;">
            <div class="card-image">
                <img class="materialboxed" src="img/Millersville.jpg">
                <div class="opacityCover"></div>
                <span class="card-title" style="top:0;width:100%;">
                    <a href="" class="btn right light-blue modal-action modal-close waves-effect">Close</a>
                    <p style="position: absolute;bottom: 0;">
                        Millersville University Psychology Program

                        <br> Millersville, Pennsylvania
                    </p>

                </span>
            </div>
            <div class="card-content">
                <p>
                    Cost for One year ~ $30,000 (not including the summer) estimate from 2015 pricing for
                    <b>out-of-state</b> students.
                </p>
                <span style="font-size: medium; font-family: arial, helvetica, sans-serif;">
                    <a href="https://www.youtube.com/watch?v=x7-e6nyAlFc" target="_blank">https://www.youtube.com/watch?v=x7-e6nyAlFc</a>&nbsp;Millersville on Youtube
                </span>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/x7-e6nyAlFc" width="853" height="480" frameborder="0" gesture="media" allowfullscreen=""></iframe>
                </div>

                <a href="http://www.millersville.edu/psychology/undergraduate/index.php" target="_blank">http://www.millersville.edu/psychology/undergraduate/index.php</a>
                <p>
                    Through learning experiences in and out of the classroom, our undergraduate program prepares students who are well-versed
                    in psychological theories and scientific methodologies and who demonstrate cultural sensitivity and embrace
                    a variety of points of view. The faculty is committed to preparing students to make informed choices
                    among options that include entering the workplace in human service, business, or industrial settings
                    as well as pursuing graduate study.
                </p>

                <p>
                    The undergraduate program in psychology exposes students to both the humanistic and the more traditional experimental approaches
                    to the study of behavior. Curriculum flexibility allows psychology majors to prepare for graduate training
                    in psychology and related fields or for employment in a variety of human service or business and industrial
                    areas. Millersville University has a 120 credit Bachelor's Degree in Psychology and an 19 credit minor
                    in psychology.
                </p>


            </div>

        </div>
    </div>