    <div id="odu_modal" class="modal fullScreenModal">
        <div class="card" style="margin: 0;">
            <div class="card-image">
                <img class="materialboxed" src="img/odu.jpg">
                <div class="opacityCover"></div>
                <span class="card-title" style="top:0;width:100%;">
                    <a href="" class="btn right light-blue modal-action modal-close waves-effect">Close</a>
                    <p style="position: absolute;bottom: 0;">
                        Old Dominion University Psychology Programs
                        <br> Norfolk, Virginia
                    </p>

                </span>
            </div>
            <div class="card-content">
                <p>
                    Cost for One year ~ $39,000 (not including the summer) estimate from 2015 pricing for out of state students.
                </p>
                <a href="http://www.odu.edu/psychology" target="_blank">http://www.odu.edu/psychology</a>
                <a href="https://youtu.be/YbMTIBODFb0" target="_blank">https://youtu.be/YbMTIBODFb0</a>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/YbMTIBODFb0" width="853" height="480" frameborder="0" gesture="media" allowfullscreen=""></iframe>
                </div>
                <p>
                    The B.S. in Psychology is designed to provide a knowledge base of current methods, content areas, and theories. It seeks
                    to facilitate the development of intellectual skills and characteristics that enhance the student's lifelong
                    personal and career success. The program begins with a general psychology course and includes courses
                    in quantitative methods and experimental design. Additional coursework is selected from a broad range
                    of available courses. Students are encouraged to pursue breadth across the areas of psychology, particularly
                    when planning for advanced study in psychology. The department does, however, identify sets of courses
                    particularly relevant for students interested in applied experimental, clinical, industrial/organizational,
                    or human factors (engineering) psychology.
                </p>
            </div>
        </div>
    </div>