<div id="troy_modal" class="modal fullScreenModal">
    <div class="card" style="margin: 0;">
        <div class="card-image">
            <img class="materialboxed" src="img/TROY.jpg">
            <div class="opacityCover"></div>
            <span class="card-title" style="top:0;width:100%;">
                <a href="" class="btn right light-blue modal-action modal-close waves-effect">Close</a>
                <p style="position: absolute;bottom: 0;">
                    TROY ONLINE University
                    <br> Troy, Alabama
                </p>


            </span>
        </div>
        <div class="card-content">
            <p>
                Cost for One year ~ $14,000 (not including the summer) estimate from 2015 pricing for out-of-state (online) students. Troy
                is all over the world ONLINE but their main campus is in ALABAMA.
            </p>

            <a href="http://www.troy.edu/ugpsychology/" target="_blank">http://www.troy.edu/ugpsychology/</a>
            <p>
                Psychology is the science concerned with the understanding of behavior and mental processes. A major in psychology provides
                students with (1) a useful foundation for further study at the graduate level, leading to various careers
                in psychology, or to study in the health professions and social work; (2) skills related to employment
                at the baccalaureate level for the pursuit of careers in mental health services, industry, human services
                or areas where the knowledge of behavior would be deemed beneficial; and (3) a sound preparation for
                describing, understanding, predicting, and controlling the events in their own lives. Students who obtain
                an advanced degree have a growing range of new opportunities for employment in medical settings, sports,
                business, the military, as well as private practice, university teaching, and research.
                <br>
                <br> There are two options for a psychology major:
                <br>
                <br> 1) a 36 hour major with an 18-hour minor, and 2) a 54 –hour major with no minor.
                <br>
                <br> The 36-hour psychology major provides students an opportunity to select courses from three major areas
                of psychology to meet professional and personal objectives. These areas are natural science, social science,
                and applied psychology. The 54-hour psychology program is a more structured major, emphasizing the core
                areas of psychology and methods of scientific investigation.
            </p>

        </div>
    </div>
</div>