    <div id="uga_modal" class="modal fullScreenModal">
        <div class="card" style="margin: 0;">
            <div class="card-image">
                <img class="materialboxed" src="img/UGA.jpg">
                <div class="opacityCover"></div>
                <span class="card-title" style="top:0;width:100%;">
                    <a href="" class="btn right light-blue modal-action modal-close waves-effect">Close</a>
                    <p style="position: absolute;bottom: 0;">
                        The Psychology Department at the University of Georgia:
                        <br> Athens, Georgia
                    </p>

                </span>
            </div>
            <div class="card-content">
                <p>
                    Cost for One year ~ $41,000 (not including the summer) estimate from 2015 pricing for
                    <b>out-of-state</b> students.
                </p>

                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/NnEDUKz-nPA" width="853" height="480" frameborder="0" gesture="media" allowfullscreen=""></iframe>
                </div>
                <a href="https://www.youtube.com/watch?v=NnEDUKz-nPA" target="_blank">https://www.youtube.com/watch?v=NnEDUKz-nPA</a>
                <a href="http://www.psychology.uga.edu/undergraduate/" target="_blank">http://www.psychology.uga.edu/undergraduate/</a>
                <p>
                    Welcome to the psychology major at UGA! Psychology is one of the most popular majors at UGA, and offers students a broad,
                    scientifically-based education applicable to a wide variety of careers. Psychology is a field that studies
                    processes areas as diverse as clinical behavior problems, child development, workplace violence, self-esteem,
                    the effect of nutrition on vision, racial prejudice, memory, how people make decisions, anxiety disorders,
                    cognition in primates, and the effect of different drugs on neurotransmitters in the brain. In fact,
                    the UGA psychology department has faculty members studying all of these types of issues, and many more!
                </p>
            </div>
        </div>
    </div>