<div id="uncch_modal" class="modal fullScreenModal">
    <div class="card" style="margin: 0;">
        <div class="card-image">
            <img class="materialboxed" src="img/UNCCH.jpg">
            <div class="opacityCover"></div>
            <span class="card-title" style="top:0;width:100%;">
                <a href="" class="btn right light-blue modal-action modal-close waves-effect">Close</a>
                <p style="position: absolute;bottom: 0;">
                    Undergraduate and Graduate Programs in Psychology At UNC Chapel Hill
                    <br> Chapel Hill, North Carolina


                </p>

            </span>
        </div>
        <div class="card-content">
            <!-- <h4 class="orange-text">
            ECSU Undergraduate Psychology Department 
        </h4> -->
            <a href="https://www.youtube.com/watch?v=Lmx-LQ_2b3c" target="_blank">https://www.youtube.com/watch?v=Lmx-LQ_2b3c</a>

            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/Lmx-LQ_2b3c" width="853" height="480" frameborder="0" gesture="media" allowfullscreen=""></iframe>
            </div>
            <a href="http://psychology.unc.edu/undergraduate-studies/" target="_blank">http://psychology.unc.edu/</a>
            <p>
                The undergraduate program in psychology is designed to provide students with a broad exposure to the behavioral sciences
                with a focus on the statistical and research tools used in contemporary psychological research. The subject
                matter is preparatory to a career in psychology either in basic research and teaching, or in any number of
                professional applications to various human problems. A psychology major may prove useful to those planning
                other professional careers such as medicine, law, education, business, social work, or pastoral counseling,
                as well as those who seek a broad cultural background in the behavioral sciences.
            </p>
            <p>
                Below is a list of the undergraduate degrees offered by the Department of Psychology. Please click on one of the following
                links to access the Undergraduate Bulletin which contains the requirements for each degree.
            </p>
            <p>
                <strong>
                    <a href="http://www.unc.edu/ugradbulletin/depts/psyc.html" target="_blank">
                        <span style="font-size: 12pt; font-family: arial,helvetica,sans-serif;">B.S. and B.A. Requirements</span>
                    </a>
                    <a href="http://psychology.unc.edu/undergraduate-studies/resolveuid/3c84255743ba35e70adb312cd574b13e" class="broken_link">
                        <br>
                    </a>
                </strong>
                <span style="font-size: medium; font-family: arial,helvetica,sans-serif;">
                    <br> PHD Training is offered in six sub-fields:</span>
            </p>
            <a href="http://bnpsych.unc.edu/" target="_blank">Behavioral Neuroscience,</a>
            <br>
            <br>
            <a href="http://clinicalpsych.unc.edu/" target="_blank">Clinical Psychology,</a>
            <br>
            <br>
            <a href="https://cogpsych.unc.edu/" target="_blank">Cognitive Psychology,</a>
            <br>
            <br>
            <a href="http://devpsych.unc.edu/" target="_blank">Developmental Psychology,</a>
            <br>
            <br>
            <a href="http://quantpsych.unc.edu/" target="_blank">Quantitative Psychology, and</a>
            <br>
            <br>
            <a href="http://socialpsych.unc.edu/" target="_blank">Social Psychology.</a>
        </div>
    </div>
</div>