        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">The Lifespan (6)</p>
            <div class="row">
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                      Welcome back. This is lecture number six in Lifespan Development and we just got finished talking about Carol Gilligan and
                      how she added to the theory of Kohlberg, adding women’s views.
                      <br>
                      <br> As an example of this idea that women are different than men I like to take my students back to Hurricane Katrina and
                      the flooding of New Orleans, Louisiana. There were cameramen there and they were filming the riots. People were breaking
                      into flooded stores and the men were coming out of the stores with televisions and radios. They were stealing things
                      that were absolutely unusable because there was no electricity and it wouldn’t help their families at all. Women were
                      coming out of the stores with clothes and food to help their families. In her research Dr. Gilligan would ask men and
                      women questions based on a scenario she described to them For Example: You have a child who is dying and their is a drug
                      which can heal your child. It is an expensive drug and you only have half the money required to purchase it. You go to
                      the drug store and the druggist tells you that you must have all the money. He needs full payment. What would you do?
                      Women say they would appeal to his humanity. Surely he could be reached on some deeper level and would understand. Men
                      say they would wait for the store to close, break in, and steal the drug. Men and women have completely different orientations
                      even in a situation where all order breaks down - like it did in New Orleans.&nbsp;
                      <br>
                      <br> Now let’s talk about temperaments. Some babies are born shy and some are bold. Some are easy children and others are
                      difficult children.
                      <span style="font-weight: bold;">Temperament</span> is an individual’s characteristic manner of behavior or reactions. It is a strongly genetic trait.
                      If you’re born one way, you’re most likely going to die that way. There is a great book about the Hippocratic temperaments
                      called
                      <a style="text-decoration: underline;" target="_blank" title="How to understand others" href="http://www.alibris.com/booksearch?keyword=Persoanlity+Plus%3A++How+to+undertand+others+by+understanding+yourself+by+Florence+Littauer&amp;mtype=B&amp;hs.x=37&amp;hs.y=30&amp;hs=Submit">
                          Personality Plus: How to understand others by understanding yourself by Florence Littauer</a>. It discusses the Sanguine,
                      Phlegmatic, Choleric and Melancholy temperaments. Some people like to be the center of attention and love to talk. Others
                      are natural leaders and take charge when no one else will. Some people are more perfectionist than others. We will discuss
                      the Hippocratic personality types further in the unit on personality and I'll give you a test at that time to determine
                      where you fit on that spectrum. Jerome Kagan’s research found that approximately 30% of babies are born highly shy or
                      highly bold. There are 15% very shy and 15% very bold. The rest of us are average in shyness or boldness. Other researchers
                      have indicated that shyness reaches its zenith, in other words it becomes the greatest, and we become the shyest we’ll
                      ever be, in our late teenage years. Whether you are a bold child or a shy child, the shyest you’ll ever be is in your
                      late teenage years.
                      <strong>
                          Socialization </strong>is a lifelong process of developing behavior patterns and values that conform to your society.
                      Kohlberg’s moral reasoning stages contain aspects of socialization. Society expects us to behave in specific ways. There
                      are certain times in our lives when we are faced with problems where we don’t do the things that society expects of us.
                      Psychologists like to study those times when people don’t do what’s expected of us and we’ll talk about that in the Social
                      Psychology lectures.&nbsp;
                      <br>
                      <br>
                      <span style="font-weight: bold;">Attachment </span>is a very important aspect of children's development. It is the role between the child and the parent
                      or caregiver. It does not have to be a connection between the parent and the child. It can be between any caregiver (such
                      as a nanny) and the child. John Bowlby, Mary Ainsworth and Harry Harlow were studying this phenomenon in England, Uganda,
                      Maryland and Wisconsin. John Bowlby was doing research in England around WW II. One of his first conclusions was that
                      children deprived of their mother's contact were more prone to unlawful conduct. If you have ever seen the movie "The
                      Lion the Witch and the Wardrobe" you will remember that all the children in London were placed on trains and sent to
                      the countryside. It may be a Hollywood movie, but that actually happened! To save the children from the German bombing
                      of London, the children were sent out of the city to the country side to live in orphanages - or if they were lucky with
                      relatives. Bowlby visited those orphanages and found children in various stages of despair. He was commissioned to study
                      children in hospitals and discovered connections between the time away from their mother and a child's behavior. Mary
                      Ainsworth worked with Bowlby later in her career. She developed the Separation Anxiety test. She placed babies into situations
                      where a stranger was introduced to them either with or without the mother present to see how the children reacted. These
                      psychologists had a hand in the creation of the Attachment Theory, but Harry Harlow is one of the best known because
                      of his experiments with Monkeys. Some people would say, he tortured the monkeys.
                      <br>

                        <div>
                            <div class="col s7">
                                <div class="card">
                                    <div class="card-image">
                                    <img src="img/Harry-harlow.jpg">
                                    <!-- <span class="card-title">Card Title</span> -->
                                    </div>
                                    <div class="card-content">
                                        <p>
                                            Harlow with one of his monkey
                                        </p>
                                        <p>
                                            By Achen1997 (Own work) [CC BY-SA 4.0 
                                            (<a href="http://creativecommons.org/licenses/by-sa/4.0" target="_blank">creativecommons.org</a>)], 
                                            via Wikimedia Commons
                                        </p>
                                    </div>
                                    <!-- <div class="card-action">
                                    <a href="#">This is a link</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                      <!-- <div class="images">
                          <div style="border: 0px solid white; padding: 10px; float: left; width:320px; font-family: Arial;">
                              <div>
                                  <img style="width: 290px; padding: 10px;" alt="Harlow pictured with a monkey" src="img/Harry-harlow.jpg" border="2">
                                  <br>
                                  <center>Harlow with one of his monkey
                                      <br> By Achen1997 (Own work) [CC BY-SA 4.0 (http://creativecommons.org/licenses/by-sa/4.0)], via Wikimedia
                                      Commons</center>
                              </div>
                          </div>
                      </div> -->
                      <br> In order to test his theory of attachment Harry Harlow used surrogate mothers to raise baby monkeys. He took the babies
                      away from their mothers and put the babies in a cage with two 4X4 pieces of wood. The wooden poles were covered in either
                      cloth or wire. These items served as "mothers" for the baby rhesus monkeys. The surrogate mother wrapped in wire had
                      food on it, and the other surrogate mother wrapped in cloth did not have any food. The babies overwhelmingly preferred
                      the cloth "mother" to the wire/food mother. They wanted to be in contact with the cloth mother. They hung onto the cloth
                      mother more than they would touch the wire mother. The only time they would contact the wire mother is when they wanted
                      food. They would try to pull their cloth mother over to the wire mother and drink from the food bottle. If they could
                      not move the cloth mother they would run over and get food from the wire mother and then go back to their cloth mother
                      again. If he took the mothers out of the room, the babies would go into a corner of the room and hold themselves, wrapping
                      their arms around themselves and sway back and forth and hit their heads on the wall. We see this kind of behavior in
                      some human autistic children and some children in daycare centers. We describe these monkeys as being Insecurely attached.
                      What Harry showed was that contact comfort is very important in raising children.
                      <strong>
                          <br>
                          <br> Contact comfort</strong> is defined as the stimulation and reassurance that’s derived from the touch of a caregiver.
                      Harlow showed that contact comfort was more important than the need for food. All the baby monkeys grabbed the cloth
                      mother instead of going to the wire mother that had the food. They wanted the contact comfort given by the cloth. Without
                      the ability to get contact comfort from the cloth mothers the monkeys developed stress reactions that reduced their survivability.
                      <br>
                      <br> Contact comfort is incredibly important. Remember this when you have children. When children are in our care, they need
                      to be hugged and held. This is something that scientists did not always agree on. Back when Harry Harlow did these experiments,
                      the idea was that you don’t ever touch your children, don’t ever hug your children, don’t ever caress your children,
                      certainly don’t kiss your children or you will spoil them. That might seem strange to us now, but back in those days
                      they didn’t know how to control diseases. They didn’t understand bacteria and viruses like we do today. They did understand
                      that the more contact that children had with people the more they got sick. It was better not to have any contact at
                      all. Back in Harlow's days if you were one year old or less and were placed into an orphanage, there was a one hundred
                      percent (100%) chance that you were going to die in that orphanage. The reason why was they didn’t understand germs and
                      they were pushing all these children into the same facility. They didn’t know about Clorox and bleach and cleaning and
                      how to keep people away from germs. They could not stop the germs from migrating from person to person. That’s why they
                      said don’t touch your children. Harlow showed that even if you don’t touch and the child survived, survival is not enough.
                      You need contact comfort in order to be a fully functioning person. A terrific book to read on this time in history is
                      the book “
                      <a title="Link to Alibris love at goon park" href="http://www.alibris.com/booksearch?title=love+at+goon+park&amp;mtype=B" target="_blank">
                          <em>Love At Goon Park</em>
                      </a>”, which is the story of Harry Harlow and his experiments.
                      <br>
                      <br> Contact comfort is important to remember in the childcare industry, however also remember that it has to be proper contact,
                      that’s vitally important! Premature children also thrive when they are comforted, when they are touched. The thought
                      used to be that since they’re premature and more susceptible to germs you shouldn’t touch them. Now we’ve found that
                      it is vitally important that you take some sort of time and hold or caress the children, because it helps their biology
                      to complete its maturation process. They need the touching. Another observation that was made by Harlow was these babies
                      never socialized. The ones that were always separated from their parents, that had the surrogate mothers, they may have
                      gotten their contact comfort, they may have made an attachment, but they could not socialize with other creatures of
                      their kind.&nbsp; They never learned from their parents how to communicate and what types of communication were important
                      in society. So, an attachment figure helps to train a baby for socialization purposes as well as giving contact comfort.
                      Attachment problems are good indicators of later problems in social relationships.
                      <br>
                      <br> When babies form attachments, they show a drop in body temperature when their attachment figure leaves the room. We
                      say that
                      <strong>Separation Anxiety
                      </strong> is causing them stress. If a child is attached to their mother and the mother leaves the room, then we see
                      the child's body temperature drop, and we assume that the body temperature dropping shows a form of distress. If a stranger
                      comes into the room, the body temperature drops even more, especially if the parent is not in the room. If the attachment
                      figure is in the room and a stranger enters the room, then it doesn’t affect the baby as much depending on what kind
                      of attachments there is between that baby and their attached figure. We can also see blood cortisol levels rise in children
                      who are insecurely attached (a sign of stress), but not in those who have a secure attachment. These experiments are
                      called the Separation Anxiety tests. We place a baby in a room with its mother, then the mother leaves and the baby’s
                      in the room by itself. The mother might return or a stranger might enter the room. We try to determine how babies will
                      react in each situation.&nbsp; The way they react helps us define their attachment to their parents or other attachment
                      figure.
                      <br>
                      <br> Everyone is attached. There are two main types of attachment: those who are
                      <span style="font-weight: bold;">securely attached</span>
                      and those who are
                      <span style="font-weight: bold;">insecurely attached
                      </span>. The insecurely attached has two sub-types as well:
                      <span style="font-weight: bold;">Anxious-ambivalence</span>
                      children or
                      <span style="font-weight: bold;">avoidant</span>
                      children. Avoidant children may have learned that nothing they do works anyway.&nbsp; They avoid their parents. They’ve learned
                      that no matter what they do, there’s nothing that is going to work, and they have developed a condition called
                      <strong>learned helplessness</strong>. We can take an animal and teach them learned helplessness. Take a Baboon - an extremely
                      aggressive animal, a nasty, mean animal - put him in a metal cone which has a very large opening at the top and tappers
                      to a very small space at the bottom. The animal is put into the top of the cone it slides down into the bottom area.
                      In the bottom area the animal has almost no room to move. He doesn’t like being down there and he tries as much as he
                      can to get out of the cone. He jumps up toward the top and slides back down into the bottom. He screams and hollers and
                      bites at the metal. He flings his poop - because that's what baboons do when they get aggravated. There’s nothing that
                      he can do that works. He finally gives up and just sits at the bottom of the cone. Now, you can take that animal which
                      used to be a very vicious, nasty, angry animal, and take him out of the metal cone. That animal will no longer be as
                      mean or as vicious or as angry as it used to be. He is much more manageable than he used to be. It is still a dangerous
                      animal because all baboons are, but he’s learned that nothing that he does makes any difference. That feeling of helplessness
                      then relates to the rest of his life. He thinks that nothing that he can do in any part of his life is worthwhile doing.
                      He has experienced learned helplessness which expands to everything that he does. Human children do the same thing. If
                      we have children that continuously try to get us to interact with them and they fail over and over and over again,&nbsp;
                      they learn nothing they do is useful. Nothing they do will help them, and they become avoidant in their nature and insecurely
                      attached to their caregivers.&nbsp;
                      <!-- <br> -->
                      <!-- <div style="width:320px; height:315px; border: 0px solid white; padding: 10px; float: left;">
                          <iframe src="https://www.youtube.com/embed/xZeH-cGOTRI" allowfullscreen="" style="width:320px; height:315px;" frameborder="0"></iframe>
                      </div> -->
                      <div class="video-container left" style="width: 320px;margin-right: 14px;">
                          <iframe src="https://www.youtube.com/embed/xZeH-cGOTRI" width="320" height="315" frameborder="0" gesture="media" allowfullscreen=""></iframe>
                      </div>
                      <br> Attachment is very similar to imprinting but it is not the same thing.
                      <span style="font-weight: bold;">Imprinting </span>is the form of innate or biological attachment in some animals. Unlike attachment, imprinting has a
                      specific time frame. You will either imprint in the very first hours of your life or you will never imprint at all. We
                      call this a
                      <strong>Critical Period</strong>
                      because it must happen in the correct time frame or it never does. There is a wonderful movie made in 1996 about imprinting
                      called "
                      <span style="font-style: italic; text-decoration: underline;">Fly Away Home
                      </span>" and I included the Hollywood Trailer for it on the left. Konrad Lorenz who died in 1989 is probably the most
                      famous for his work on imprinting. You can see pictures of him with his ducklings following after him, because they all
                      think that he is their mother. They imprinted on him because he was the first thing that they saw when they hatched.
                      Ducks will follow the first moving animal that they see. Hopefully that animal is not a fox. Otherwise the fox has lunch
                      following after him. He turns around and eats one of the ducklings and keeps on going. All the remaining ducklings will
                      just keep following him!
                      <!-- <iframe style="border: 0px solid white; float: right; width:320px; height:315px; padding:10px;"
                          src="video/Lorenz.mp4" allowfullscreen="" frameborder="0"></iframe> -->
                      
                        <div class="row">
                            <div class="col s12 offset-s0 m6 offset-m3">
                                <video class="responsive-video" style="width:100%;" controls>
                                    <source src="video/Lorenz.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                     
                      <br>
                      <br> As for attachment, it appears that it is best for a child to form a Secure Attachment in the first four years of their
                      life, but it is not a critical period. Attachment can occur later in life so we call the first four years a
                      <strong>Sensitive period</strong>. Attachment can happen any time during your life. When you become securely attached you can
                      certainly lose that secure attachment and become insecurely attached (for instance: when your parents get a divorce).
                      When you’re insecurely attached you can become securely attached later in life (for instance: when you have a child).
                      So, attachment changes throughout life but imprinting is during a very specific time frame.
                      <br>
                      <br> &nbsp;
                      <br>
                      <p class="MsoNormalCxSpMiddle" style="line-height:150%">I’m going to stop here.
                          <br> It's time for a break guys, and gals.
                          <br> Go get a cup of coffee.
                          <br> Go do something other than study.&nbsp;
                          <br> Step away from the screen for 15 minutes or so.
                          <br> Distributed learning is the best learning.
                          <br> We will continue Lifespan Development in lecture number 7.
                          <br>
                      </p>
                  </div>
              </p>
            </div>
          </div>
        </div>