        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">The Lifespan (4)</p>
            <div class="row">


              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">

                      Welcome back, this is lecture number four in Lifespan Development.
                      <br>
                      <br> We just got finished talking about some of the sociability factors of a child. Some children are just hard to deal with
                      and other children are easy. This leads to an aspect of development called
                      <span style="font-weight: bold;">Reciprocal Determinism</span>.
                      <div class="images">
                          <div style="border:0px solid white; float: left; padding: 10px;">
                              <div>
                                  <img alt="Picture of a spiral" src="img/Spiral.jpg">
                                  <br>
                                  <center> Reciprocal Determinism Helix</center>
                              </div>
                          </div>
                          <br> According to Albert Bandura "a person's behavior both influences and is influenced by personal factors and the social
                          environment". As the picture demonstrates your behavior influences the environment and the environment influences
                          your thoughts. You can spiral downward into despair or upward into joy. An example would be if you have a very easy
                          going - easy to care for - baby, then the mother is happy and not anxious or frustrated. The mother deals with the
                          baby easily, which helps the baby to be even happier. If you have a baby that’s hard to deal with, as much as you
                          want to be a good parent, and as much as you want to be helpful and caring and loving to your child; you get frustrated,
                          you get anxious, you get nervous. You get tired and you cannot deal with the child well. Since the mother is anxious
                          she creates an atmosphere that leads the baby to be even harder to deal with. The child’s inborn trait, being hard
                          to deal with, creates an environment that makes it even harder for the baby. The baby then gets even more frustrated
                          and that frustrates the parents even more. This means we have some influence and responsibility for our development.
                          That’s an example of Reciprocal Determinism. Most visual representations of this idea show it as two dimensions,
                          and I think it is better shown as a three dimensional helix to demonstrate how the person's development changes -
                          up or down - as each interaction occurs.
                          <br>
                          <br> The physical growth of the human child starts as a very active phase. When we're born we continue to grow rapidly.
                          We go through our clothes very fast in this active phase.&nbsp; Our growth rate slows until we have a burst of growth
                          again in puberty. Growth slows again in our late teens to twenties. Physical growth occurs in two ways. The
                          <span
                              style="font-weight: bold;">Proximal/Distal growth
                              </span> is when the parts in the middle of the body develop before the periphery. We develop our major body part,
                              the torso, before we develop the outer parts, the legs and arms, and hands and feet. The
                              <span style="font-weight: bold;">Cephalocaudal
                              </span>description of growth means that the areas closer to the head develop prior to the areas closer to the
                              feet. At birth our head is well above normal size compared to the rest of our body. As our body continues to
                              grow, the head starts to get smaller and smaller in proportion to the body's size. The head's still growing but
                              the body growth outpaces the growth of the head. A large head and large eyes is a typical cartoon figure of a
                              baby either in humans or in animals. If you look at cartoons (especially anime), you'll see the drawings that
                              are cutest look like babies with larger heads and large eyes.
                              <br>
                              <div class="images">
                                  <div style="border:0px solid white; float: right; padding: 10px;">
                                      <div>
                                          <img alt="Big Eyes art" src="img/Develop_big_eyes.png">
                                          <br>
                                          <div style="text-align: center;">Large head and eyes</div>
                                          <a href="http://creativecommons.org/licenses/by/2.0/" rel="license" target="_blank">
                                              <img alt="Creative Commons Attribution 2.0 Generic License" src="http://i.creativecommons.org/l/by/2.0/80x15.png"
                                                  title="Creative Commons Attribution 2.0 Generic License" align="centre" border="0">
                                          </a>&nbsp;&nbsp;by&nbsp;
                                          <a href="http://www.flickr.com/people/kodomut/" target="_blank">&nbsp;</a>
                                          <a href="http://www.flickr.com/people/kodomut/" property="cc:attributionName" rel="cc:attributionURL"
                                              target="_blank" xmlns:cc="http://creativecommons.org/ns#">kodomut</a>
                                      </div>
                                  </div>
                              </div>
                              Our motor development occurs from mass to specific. We can perform mass movements first and much later we develop the ability
                              to perform specific motor movements. For instance; we can make a mess with a crayon scribbling long before we
                              can draw a circle. We can bounce to the rhythm of music before we can walk.
                              <br>
                              <br>
                              <span style="font-weight: bold;">Maturation </span>is the unfolding of the genetically programmed predictable process of growth and development
                              over time. Maturation means we have genes in our chromosomes that say you're going to grow and you're going to
                              develop at a specific pace. Maturation has absolutely nothing to do with learning. I know we usually say someone
                              matures when they learn to be an adult, but this is not the same use of the term "mature". Maturation is possibly
                              continuous, it can also be discontinuous. As I have stated earlier, if you look at something as obvious as puberty
                              it appears to be a stage, but that is only the outward appearance. You are a child and then suddenly you are
                              in puberty. However, if you look into a person's blood chemicals you can see that there are changes that are
                              occurring in the blood before you can see any outward signs of the changes. The blood change process occurs slowly
                              until there's enough changes within the blood that we can see the outward changes start to occur. So, there's
                              that question again, is puberty continuous or discontinuous. It's hard to say one way or the other at this point.
                              Let's look at a typical development time table that shows the developmental norms of the childhood in the first
                              year of life.
                              <br>
                              <br> These are averages. Some children grow faster, some not as fast. For instance; premature babies will show these
                              milestones slower than those born on time.
                              <br> For the
                              <span style="font-weight: bold;">first month</span>
                              children become quiet when they're picked up and they will vocalize (other than crying) occasionally.
                              <br> Their cries will differentiate between frustration, diaper dirty, hungry, hurt and lonely. A parent that appropriately
                              responds will connect emotionally to the child.
                              <br> At
                              <span style="font-weight: bold;"> two months</span>, they can recognize their mother. They can roll from side to back, lift their head and hold
                              it steady.
                              <br> At
                              <span style="font-weight: bold;">three months</span> they will vocalize to the smiles of adults, and smile at adults that are talking to them.
                              They search for the source of sounds with their eyes and ears. They are looking for sounds in the environment.
                              <br> They recognize that sounds aren't necessarily coming from them but something in the environment and they use
                              one sense to track another. They can sit up with support with their head pretty steady.
                              <br> At
                              <span style="font-weight: bold;">four months</span> their gaze will follow a dangling ring, a vanishing spoon, and a ball that's moved across
                              a table and they'll sit with slight support at that point.
                              <br> At
                              <strong>five months</strong> they can discriminate strangers from a familiar person, Now you will see a stranger anxiety
                              reaction. They can recognize that there's somebody in the room they don't know.
                              <br> Also at five months they can turn from their back to their side. They will make distinctive vocalizations that
                              sound like things that parents really want them to be saying but that's not exactly what they're saying.
                              <br> At
                              <strong>six months</strong> they can lift cups and bang it on the table which starts to be a pain for the parents but
                              definitely amusement to the children.
                              <br> They will smile at a mirror image of themselves, they start to recognize themselves. They reach for small objects.
                              <br> At
                              <strong>seven months</strong> they can make playful responses to mirrors. They sit alone steadily without having to sway
                              back and forth. They start crawling around seven months.
                              <br> At
                              <strong>eight months</strong> they will vocalize up to four different syllables. They listen selectively to familiar
                              words, so they're starting to recognize words that they know in the environment.
                              <br> Their memory is starting to take place at eight months of age. They can pull themselves to a standing position
                              which means at this point they can actually start dancing before they start walking.
                              <br> Most children will dance before they can walk, they can stand up holding themselves and sway to music even though
                              they can't walk yet.
                              <br>
                              <strong>Nine months</strong>, continued improvement on muscle tone development and coordination.
                              <br> At
                              <strong>ten months</strong> they can play pat-a-cake with someone.
                              <br> At
                              <strong>eleven months</strong> they can stand alone.
                              <br> At
                              <strong>one year</strong> they can walk alone, and at that point I feel for the parents because now they're all over
                              the place.
                              <br>
                              <br> You should know that neglect can affect the timing of this maturation process. If you don't feed a child proper
                              amounts of nutrition, if you don't give them proper amounts of love and care, attention, and attachment, then
                              it can slow this process down. There are certain biological conditions that there's nothing you can do about
                              which will slow this timetable down (for instance: premature birth and down's syndrome), but this is the average
                              way that a child will develop up to a year of age. Remember that the standard normal distribution curve says
                              that 68% of children will fall within one standard deviation of the middle. The children that fall into that
                              68% are considered normal. Just because they do not fall inside that first SD does not mean there is a problem
                              that needs addressing. When a child does not meet this timetable there are many factors to take into consideration
                              before determining that an intervention is needed.
                              <br>
                              <br> Now, we'll look at the various theories written to describe development. We will discuss: Freud's Psychosexual
                              stage theory; Piaget's cognitive theory; Harlow's attachment theory; Erikson's Psychosocial theory and the moral
                              reasoning theories of Kohlberg and Giligan.
                              <br>
                              <div style="border:0px solid white; float: left; padding:5px;">
                                  <div>
                                      <img style="width:320px;" alt="picture of psychosexual theory" src="img/Psychosexual.png">
                                  </div>
                              </div>
                              Freud's theory has five stages. Together they are known as the
                              <span style="font-weight: bold;">Psychosexual theory </span>released upon the world in 1905. The stages are the
                              <span style="font-weight: bold;">oral, anal, phallic, latency, and genital stages</span>. Although this is called the psychosexual theory the
                              stages are not about Oral sex or Anal sex. That is not the correct interpretation. The oral stage is from birth
                              to one year of age. The anal stage is from one to three years of age. The phallic stage is from three to six
                              years of age. The Latency stage is from six to twelve years of age, and the genital stage is from twelve to adulthood.
                              Notice in the picture that after adulthood Freud has no interest in what has happened to you. If you have a pathology
                              his theory predicts that the pathology stems from your childhood. Basically after you become an adult, nothing
                              matters according to Freud. Everything you do as an adult depends on something that happened to you in one of
                              these five stages. As a developmental theory there is no good evidence that this theory can predict how you develop.&nbsp;
                              It is interesting enough to mention for development, but is better discussed int he Personality unit. We will
                              discuss the stages in depth in the Personality section of the class.&nbsp;
                              <br>
                              <br> According to Freud your mouth is the center of focus in your first year of life. The first stage is therefore
                              called
                              <span style="font-weight: bold;">
                                  the Oral stage</span>. You are getting liquid food and you are later weaned from liquid food. Also in the
                              oral stage children are all about putting everything into their mouth. Every person who has a child knows that
                              the first year of life anything in the hands goes immediately into the mouth. This is because the lips are very
                              sensitive. Adults use their fingers to "feel", but the lips are a much better source of information - they are
                              more sensitive than the fingers. Lips have a better two point threshold! As adults we know about germs, so we
                              don't rub everything on our lips. Babies do, and then push it into their mouth to taste it too! The second stage
                              is the
                              <span style="font-weight: bold;">Anal stage
                              </span> lasting from age one to three years old. You're going to be potty trained in this stage. In
                              <strong>the Phallic stage
                              </strong> - from three to six years of age you figure out that you have the genitalia of a male or a female.&nbsp;
                              This stage is significant because you realize that you are permanently one sex or the other (not gender but sex).
                              <strong>The Latency stage
                              </strong> occurs from six to twelve years of age.&nbsp; This is the time of elementary school. The last stage
                              is
                              <strong>the Genital stage</strong> from twelve to adulthood.&nbsp; It is really the only truly "sexual" stage in his
                              theory.&nbsp; As I said, we will discuss this in depth in the personality section of this book.
                              <br>
                              <div style="border:0px solid white; float: left; padding: 10px;">
                                  <div>
                                      <img title="Picture of Piaget" alt="Picture of Piaget" src="img/Piaget.png">
                                      <br>
                                      <center>
                                          <a target="_blank" href="https://commons.wikimedia.org/wiki/File%3AJean_Piaget_in_Ann_Arbor.png">JEAN PIAGET
                                          </a>
                                      </center>
                                  </div>
                              </div>
                              <br> The next stage theory deals with the development of our capability to think. Jean Piaget created a theory of
                              Cognitive development. His emphasis was on a child's thought processes. He noticed that children make mistakes
                              in their thought processes. Although it is very funny the way they make mistakes, it's also very predictable
                              how they make mistakes. There must be something behind the way children develop thought because they all seem
                              to make mistakes the same way. Piaget believes there are stages of increasing mental development. Cognitive development
                              is the process by which changes occur in thinking, reasoning, and problem solving over time. Piaget died in 1980.
                              He developed a theory to try and explain the cognitive development of children by studying his own three children,
                              which is a mistake. Anybody would tell you that you don't study your own children. You are too biased towards
                              them. He knew this, of course. He took his scientific research very seriously, and did what he could to remove
                              the bias while studying his children. However, because of biases we never want to do this. His theory has been
                              tested on tens of thousands of children since then and has held up remarkably well. His theory includes the terms:
                              Schemes, Assimilation, Accommodation, Mental Representations, Object permanence, and four stages of development.
                              <br>
                              <br> What is a
                              <span style="font-weight: bold;">Scheme</span>? This is a mental structure or program that guides the development of a child's thoughts. It is
                              a set of linked mental representations of the world. We use them to understand and to respond to the situations
                              in our life. What is the child's thought about his father? Is it that his father is the protector?
                              <span style="font-weight: bold;">Mental representations
                              </span> are the ability to form images of objects and events in your mind. You have to have a memory before you
                              can do this, and memory develops slowly, so mental representations don't occur immediately. Infants do not have
                              them and then as memory improves they are able to imagine. According to Piaget, there are two basic processes
                              of cognitive development. You either assimilate information or accommodate information. When you
                              <span style="font-weight: bold;">assimilate </span>information you modify new information to fit into existing schemes. So, if I ask you to imagine
                              an airplane, what do you see when you imagine an airplane? Most of you will imagine an airplane that has a wing
                              on either side of the middle of the airplane. Jet engines will be on each wing. The airplane will be shaped sort
                              of like a bullet, made out of metal, and it will have a tail rudder. But, what about biplanes? Well, biplanes
                              are also airplanes but they don't have one wing on either side. They have one wing on top of the other. They
                              have a propeller instead of jet engines? The wright brother's plane was made of wood. As I'm bringing up all
                              these other aspects of airplanes you are assimilating that information into your schema of what an airplane is.
                              Your scheme is a very loose one that is probably any man made object that flies. SO it is easy to assimilate
                              all the types of planes into your scheme.
                              <span style="font-weight: bold;">Accommodation
                              </span>is a mental process that restructures the existing schemes. When your schema is so strict that new information
                              can not fit it, then you have to change the scheme to accommodate the new information. What about UFOs? You have
                              a schema of UFOs. How many of you actually believe in UFOs? Probably half of you believe in UFOs and half of
                              you don't . If I ask you why you don't believe in a UFO, those of you who do not will most likely say "because
                              you don't believe that there is life on another planet, and UFOs are spaceships from another planet". Therefore
                              you don't believe in UFOs. I did not ask you about flying saucers from another planet. I said “Do you believe
                              in Unidentified Flying Objects?”. Anything that you cannot identify - that is flying - is a UFO. Now, you have
                              to change your whole idea of a UFO. That's accommodation. Accommodation means that your scheme was so specific
                              (that you believed that a UFO is only and can only be something that is from outer space) you can not assimilate
                              new information that belongs in the scheme. A UFO is anything that is flying that is also unidentified - now
                              you have to accommodate the new information by loosening your scheme to accommodate the new information.
                              <br>
                              <br> I’m going to stop here.
                              <br> It's time for a break guys, and gals.
                              <br> Go get a cup of coffee.
                              <br> Go do something other than study.
                              <br> Step away from the screen for 15 minutes or so.
                              <br> Distributed learning is the best learning.
                              <br> We will continue Lifespan Development in lecture number 5.</div>
                  </div>
              </p>
            </div>
          </div>
        </div>