        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">The Lifespan (8)</p>
            <div class="row">
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                  
                  
                      Welcome back to lecture number eight (the last lecture) in Lifespan Development.&nbsp;
                      <br> We just finished discussing Erik Erikson’s psychosocial theory and now we’re going to talk about some less structured
                      ideas in development.
                      <br>
                      <br> First of all, let's talk about
                      <strong>Gender differences</strong>. The Social Cognitive Theory indicates that part of learning is watching others perform.
                      We view how other people act and the repercussions of those acts and we act accordingly. So, we watch how males act and
                      if we’re male that’s how we act. We see how females act and if we’re female that’s how we act. What society expects of
                      us in our social roles also influences our behaviors. So, whatever we choose or are forced to do in life, society looks
                      at us and expects us to behave in specific ways. If we’re a cheerleader, they expect us to behave one way. If we’re a
                      jock, they expect us to behave in another way. If we are a geek, they expect us to behave in another way. What society
                      expects of us in our social roles influences our behaviors.
                      <strong>Gender schemes </strong>organize our behaviors and thoughts. We have ideas that are based on gender and they organize
                      how we think and behave.
                      <strong>
                          <br>
                          <br> Gender identity </strong>is how each of us identifies ourselves. That may or may not jive with our physical sexual
                      organs. We have been told all our lives that there are two sexes. They are Male and Female. We can look around and visibly
                      see that there are only two sexes. It is therefore a fact that there are two sexes. When we look at the genetics of the
                      sexes there are only two possibilities XX and XY. Right?! Wrong! We have already seen that in Genetics there is XY and
                      XX but we also saw that there can be XYY and XXY and just plain X. So the comfortable/easy answer becomes harder to support.
                      When we look at how the environment influences the growth of the fetus in the womb and how an XY "male" can end up looking
                      exactly like a female (in every single way) because the fetus never responded to testosterone in the womb, the proposition
                      that there are only two sexes becomes even harder to support. Let's make it simple and say if you have a penis then you
                      are male and if you have a vagina you are female. However, hermaphrodites (people born with both male and female organs)
                      make it even more ambiguous. It isn't pleasant to have our world shaken, but our understanding of reality was wrong.
                      It is not as simple as asking a person to choose "are you male or are you female"? As varied as human skin colors are,
                      so are the gender feelings we possess.
                      <br>
                      <br> When it comes to gender identity it isn't as simple as looking between someone's legs for evidence. The brain can't
                      be viewed and the brain's wiring is part of what makes us who we are and how we feel about ourselves. Just as the physical
                      attributes are not simple, neither are the psychological feelings a person has. A person can feel like a male or a female
                      and have the opposite physical attributes. The physical parts of the body (your
                      <span style="font-weight: bold;">sex</span>), the feeling of male or female (your
                      <span style="font-weight: bold;">gender</span>), and the attraction to a male or a female (your
                      <span style="font-weight: bold;">sexual attraction </span>or
                      <span style="font-weight: bold;">orientation</span>) are all independent of each other. It is also not a choice one makes. The brain is wired the way
                      it gets wired. A human with a penis can feel like they are a woman and be sexually attracted to women or men. Our TWO
                      little boxes we have been so happy to carry with us are not enough to fit all the possible combinations. We have told
                      people they either "have no choice in the matter" and we put them in the box we think is correct for them, or we tell
                      them they have to "choose a box and stay in it". Our comfort level is challenged by something that does not fit one box
                      or the other. When we are uncomfortable we tend to strike out at that thing which makes us uncomfortable. We want it
                      to change to fit our version of reality so we feel comfortable again. That isn't going to work any longer.
                      <br>
                      <br> Gender is defined by how a person feels about themselves. Male and Female are only two possibilities. Some people have
                      no feeling of differentiation. They don't feel male or female. Sexual orientation is how our bodies respond to others.
                      That response begins in the brain and starts in 3rd grade. A 9 year old's brain is starting to respond sexually to males
                      or females or nothing or both.
                      <span style="font-weight: bold;">
                          Asexual </span>people have no feelings of sexual attraction to others. NONE!
                      <span style="font-weight: bold;">Heterosexuals </span>respond to the opposite sex.
                      <span style="font-weight: bold;"> Homosexuals
                      </span>respond to the same sex and
                      <span style="font-weight: bold;">Bisexuals
                      </span>respond to both sexes.
                      <strong>Omnisexuals </strong>have sexual feelings for more than their own species.&nbsp; If your sex organs align with how you
                      feel about yourself, congratulations, you are in the majority of the population, but there are others whose organs and
                      feelings don't align. They aren't sick or deranged. We know from the standard distribution curve that there are lots
                      of types of people. We call those that fall into the 68% - normal. That makes the other 32% different from the norm,
                      but it does not make them wrong. Consider that the normal population is truly happy less than 50% of the time. However,
                      some people are much happier than others. They are different because they are happy more often, but they are not pathological.
                      They are not sick. They are not wrong because they are different from the rest of us. When people live in the 68% (when
                      they are the majority and considered normal), their tendency is to look at the other 32% and say "there is something
                      wrong with you". We need to recognize that the other 32% are just different, they are not wrong or sick. There are other
                      identifying characteristics of "sick" people which we will discuss in the pathology unit. Just being different is not
                      enough to diagnose a pathology.
                      <br>
                      <br> Some masculine and feminine tendencies appear to be genetically controlled. For instance: Girls tend to organize in
                      small cooperative groups when they get together. Their groups are fairly small compared to male groups and while playing
                      together they cooperate with each other. Boys tend to form larger groups than girls do and they’re more hierarchical
                      in nature. What does hierarchical mean? It means that they beat each other to death until they figure out who’s the strongest
                      down to who’s the weakest. That’s hierarchical control. Boys are usually more aggressive than girls. However, there are
                      those girls who tend to be "Tom Boys". Society has no problem with them, and yet, there are boys who are more "Terri
                      Girls" and society freaks out! If we can accept "Tom Boys" we should also be accepting of the "Terri Girls".
                      <br>
                      <br> Individuals can learn to become more aggressive or cooperative based on parenting and other nurturing factors. Since
                      boys are fairly aggressive, it might be important to teach boys to be more cooperative. Why would we want boys to be
                      more cooperative? So we don’t get into more wars in the world, because if it’s our way or the highway then nations would
                      be beating each other up much more often.&nbsp; In this particular aspect, a lot of people will easily come up with reasons
                      why men should be more cooperative, but a lot of people have trouble coming up with why girls should be more aggressive.
                      Why is it more important for girls to be more aggressive? I think one of the biggest reasons is pay and the pay difference
                      between males and females in corporations. One of the reasons why women have lower pay is because they cooperate. Even
                      if they have a female boss, not a male boss, what is the boss’s main bottom line? It is the income of the corporation
                      - the bottom dollar - income - profit and loss statements. They will come to the woman employee and say “This is your
                      pay next year, this is your pay raise,” and a woman is much more cooperative by nature and will say “Okay, this is my
                      pay, I will do this for the corporation, I will suck it up and not get as much as I wanted.” Where a male would be immediately
                      aggressive about it, “No! I’m not going to take that, you’re going to give me more money or there are other people out
                      there that could hire me and I’ll go somewhere else,”! Men will debate the issue more often where girls will not, and
                      it is important that women learn to be more aggressive so they will get better pay raises. However, being as aggressive
                      as men causes issues for women. Social norms are a bear! If a student comes to me and asks for a favor to make up a test
                      and I tell them that my policy is never to let students make up tests, I'm "strict". If my wife says the exact same thing,
                      she's a "bitch". This isn't right, but it's the social norm. We will talk about social norms more in the social psychology
                      section.
                      <br>
                      <br> Adolescence is the developmental period beginning at puberty and ending in adulthood. This is the time between 12 to
                      18 years of age. However, determining when we are adults is a little difficult - some never reach adulthood as some women
                      find out when they start dating. Eighteen is very difficult number, it’s arbitrary. Some of us have responsibilities
                      that are necessary for adulthood at 18. We can’t drink at 18 but we can certainly have kids, we are capable of having
                      children at 12 (and sometimes even younger). We have part-time jobs at 18 and some have a full time job by then. We can
                      die for our country at 18! It is hard to say turning 18 is the definition of adulthood. A lot of textbooks talk about
                      the transition between adolescence and adulthood and call this period the "developing adulthood" years. This transition
                      period between adolescence and adulthood, and all of the things that are necessary for us to finally decide that we are
                      adults changes per society. There are some societies that absolutely state that you are an adult when you turn 18.&nbsp;
                      That’s how they define adulthood. There are religious sects that define adulthood as 12 years old - although that is
                      normally not for marriage but to be counted as an adult in religious ceremonies.&nbsp; In the United States we have other
                      - much more arbitrary, cumbersome, and complicated - ways to define adulthood.&nbsp; We say it is when you have children.&nbsp;
                      Great!&nbsp; I'm still a child at 60, because I never had children! There are 9 years olds having children!&nbsp; Are
                      they adults? We say it is when you get your first full time job.&nbsp; I know lots of 30 years olds who have only had
                      part time jobs and I know a 16 year old with a full time job!&nbsp; Then it must be when you get married.&nbsp; Please!
                      Really?? There are plenty of people in their 30's who have never married. Developing adulthood is an interesting field
                      of study.
                      <br>
                      <br> Puberty is the onset of sexual maturity, sexual orientation, and thoughts of affection, love, and intercourse, which
                      occurs between 9 and 17 years of age. By 9 years of age, you recognize whether you are attracted to men or women. 9 years
                      of age! Children will recognize that they have certain feelings that are different towards one sex or the other. For
                      most of us, it’s towards the opposite sex, but as I stated previously there are other ways to feel. There are many rites
                      of passage - social rituals - that mark the transition between the developmental stages. There is the confirmation ceremony
                      in Catholic communities. In the Jewish community there is the bar mitzvahs and bat mitzvahs. In the southern United States
                      you see Debutant balls, or sweet 16 parties. These rituals are saying "you have come of age, this is your time, you are
                      now an adult in the eyes of your community". Puberty is associated with a growth spurt. The later that puberty hits us
                      the taller we appear to grow. Those who show signs of puberty early are shorter in stature when the growth spurt stops
                      (I wish my body had waited a few years).&nbsp; I am shorter than many family members, but I had a mustache in 7th grade!
                      As a small, skinny, non-muscular male - it gave me cred!
                      <br>
                      <br> Physical attraction is one of the biggest concerns during adolescence. Is beauty only skin deep? In research we find
                      that appearance is connected to self-esteem. Part of how others rate you is how you feel about yourself. For girls the
                      main part of attraction is physical beauty. How closely does your body adhere to a symmetrical mathematical model. Girls
                      tend to be interested in their lipstick color, their hair, their makeup and the symmetry of their bodies. Boys physical
                      attraction is tied to athletic ability. You can be a fairly unattractive male but if you are the quarterback of the football
                      team, pitcher of the baseball team or captain of the soccer team, people find you attractive. Boys are also more interested
                      in who can beat up the other guys. Physique is more important than how they look or think.
                      <br>
                      <br> The style of parenting influences our development too. There are three main types of parenting. There’s
                      <span style="font-weight: bold;">Authoritative
                      </span>parenting,
                      <span style="font-weight: bold;">Authoritarian
                      </span>parenting and
                      <span style="font-weight: bold;">Permissive </span>parenting. The
                      <strong>Authoritative</strong> is a more supportive and loving type of parenting with rules. The rules can be bent. The child
                      can negotiate those rules with the parents. This teaches the child how to debate. As conditions indicate the parent may
                      change the rules slightly for specific time frame or totally change the rules. It takes communicating with the child.
                      This method produces the best results in adolescences. You end up with a child who can communicate with the parent.
                      <strong>Authoritarian</strong> parents are those that are like the king of the family. Rules are absolute and paramount. I made
                      the rule, this is the way it’s going to be, there is no argument, there is no other way, it is the way I say it’s going
                      to be because I said it. This method may be best in dangerous neighborhoods. In some neighborhoods and in countries at
                      war that the parents want strict control to keep their child alive. There’s a cost/benefit connection between these types
                      of parenting. Your children may hate you, but they live! Authoritarian rule does not produce a child who is very sociable
                      or connected well with society. The
                      <strong>Permissive </strong>parent loves their child a lot; they show their love through kisses and hugs, giving the child anything
                      they want. There are no rules; the child can do anything they want to do. It’s the belief of Benjamin Spock (1903 – 1998)
                      that a child will grow up to be a perfect being if you just leave them alone. We know now that this is not correct, this
                      is not true. Children raised in permissive homes are extremely creative. However, whoever they end up with as friends,
                      that’s how they will wind up. If you’re lucky they’ll end up with friends that have the same moral standards you do.
                      If they end up with friends who are smokers and drug addicts and alcoholics and aggressive bullies or friends with some
                      psychopathology then they are more likely to end up that way too. Also, children with permissive parents are not very
                      happy in the work force. They never learned to follow rules and the work force is all about rules.
                      <br>
                      <br> We know the brain changes throughout the lifespan. It has86 billion neurons at birth but it still grows and that growth
                      occurs by creating axon/dendrite connections rather than creating new neurons. Neurons are sending out new dendrites
                      and new axons connecting to other neurons. In adolescence the limbic system is going into overdrive and the frontal lobe
                      has not finished growing. The limbic system is in charge of our emotions. Adolescents are on drugs every day. Their bodies
                      are producing them. Hormones are coursing through the blood system and effecting the limbic system. Their emotions are
                      in overdrive but the executive functions of the prefrontal cortex of their brain still haven't totally developed. The
                      prefrontal cortex is not finished developing until 21 to 25 years of age, so the ability to make good judgments does
                      not fully develop until then. For some people you wonder if it ever develops. Adolescents are experiencing wild emotions
                      without any proper cognitive evaluative control, so they take irrational risks. Hopefully when they are young their parents
                      are able to instill within them a sense of responsibilities for their actions, but even those that have had the best
                      training still are being controlled by their emotions during adolescence. It’s a very difficult time of life. It is one
                      of the reasons why an adolescent who commits a crime should not be placed in a jail. They should be placed in an institution
                      where they can be trained to behave properly. They can still learn proper social actions. Their brain is still being
                      formed. When they’re placed in jail, what they’re learning in jail is what the other prisoners are going to teach them.
                      They'll come out better criminals. Adolescents who commit a crime still have a chance. On the other hand older adults,
                      they’re basically set in their ways. It’s much more difficult to retrain an adult than an adolescent, because the adolescent
                      brain is much easier to mold than an adult's.
                      <br>
                      <br>
                      <div style="border: 0px solid white; padding: 10px; float: left; width: 320px; font-family: Arial;">
                          <div>
                              <img alt="Picture of triangular love" src="img/Triangular_Love.png" style="float:left; width:300px; padding:10px;">
                              <br>
                              <center>Picture of triangular love</center>
                          </div>
                      </div>
                      <br> Robert Sternberg developed what he called the love triangle to describe different aspects of love. There’s commitment,
                      intimacy, and passion, and to be true (consummate) love, it needs to contain all three of these.
                      <span style="font-weight: bold;">
                      Commitment </span>is making a pledge to another person and sticking to it, being committed to that person.
                      <span style="font-weight: bold;">Intimacy
                      </span>is feeling close and connected to another person; actually feeling that they complete you is intimacy.
                      <span style="font-weight: bold;">Passion
                      </span>is feeling that physical arousal around that other person, just being out of your mind when you see them, with
                      passion and desire, that’s the passion part of love. Fortunately, most people will have one or two of these levels of
                      connections when they supposedly "fall in love" with somebody. Most of the time it’s "falling in lust" with somebody
                      not in love.&nbsp; If you only have commitment and passion, it’s not true love.&nbsp; Intimacy and commitment is not
                      true love without passion. However, it makes a great best friend. Intimacy and passion are not enough, you need commitment.
                      According to Sternberg you need all three to have the strongest type of loving relationship.
                      <br>
                      <br> Finally, let's talk about the end of life.
                      <strong>Normal aging</strong>
                      is a gradual slowing of our bodies and minds. We don’t know exactly what causes aging, actually that’s not true, we do know
                      what causes cells to age (the break down of telomeres on the chromosomes).&nbsp; Some scientists believe that one day
                      they’ll be able to keep cells functioning forever. Cells in the Hypothalamus are also implicated in aging.&nbsp; Taking
                      cells from the hypothalamus of young mice and injecting them into older mice - increased the vigor,cognitive ability
                      and lifespan of the older mice. Scientists believe they can stop aging but not reverse aging. We simply will no longer
                      age. They will probably find the magic formula when I'm 95, stuck in a wheel chair and drooling. No thanks!
                      <br>
                      <br> &nbsp; As for Normal aging the body is going to break down slowly. Your body begins the normal break down in your forties.
                      You notice that you don’t see as well. You need glasses all of the sudden and you never needed glasses before. You don’t
                      have as much stamina; you just can’t run the races you used to run. You do not hear as well as you once did. Your joints
                      hurt, and creak, and crack. These are just a few of the problems that begin in your forties. By your fifties, your brain
                      actually starts to slow down. Its processing speed starts to slow down. Your perceptual reaction speeds starts to slow.
                      The brain processes change. Older adults know a lot of stuff, called
                      <strong>crystallized intelligence
                      </strong>, and older adults can increase crystallized intelligence ‘cause they can continue to learn as long as there’s
                      no brain damage. But older adults can’t evaluate as fast. Their
                      <strong>fluid intelligence
                      </strong> is impaired. Fluid intelligence is finding solutions to problems. We will discuss fluid and crystallized intelligence
                      in the Intelligence Unit. Although they can learn still, they learn at a slower pace. Where you might think they’re stupid
                      because they can’t learn it as fast as you can, they’re not, they’re just slower. They need more time to learn new material
                      but they can still get it. Memory can become harder to recall, especially when you have problems in your brain cells,
                      for instance, Alzheimer’s disease or other types of dementia. There are people who have genetic predispositions to problems
                      in their brain. Alzheimer’s and vascular degeneration are two of the major causes for the breakdown in old age memory.&nbsp;
                      <strong>Pathological aging</strong>
                      is not normal aging. It is caused by genetics or body and mind abuse. If pathological aging is caused by genetics there is
                      not much we can do to control it. However, other forms of pathological aging are under our control. Don't abuse yourself!
                      Stay active, eat healthy, don't drink alcohol to excess or take illicit drugs. Stay out of the sun. Get annual doctor
                      checkups and keep your teeth healthy!
                      <br>
                      <br> That's it! We are done with the Lifespan Unit.
                      <br>
                      <span class="flow-text">
                          <span class="flow-text">
                              <span class="flow-text">
                                  <span class="flow-text">I’m going to stop here. It's time for a break guys, and gals.
                                      <br> Go do something other than study.
                                      <br> It's time to try the Crossword puzzle for the Lifespan.
                                      <br> Take 15 minutes or so before you go to the next slide.
                                      <br> Distributed learning is the best learning.
                                      <br>
                                  </span>Talk with you in the next lecture series.
                                  <br>
                                  <br>
                                  <br>
                              </span>
                          </span>
                      </span>
                  </div>
              </p>
            </div>
          </div>
        </div>