        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">The Lifespan (5)</p>
            <div class="row">
              
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                  
                      Welcome back to lecture number five in the Lifespan Development chapter unit. We're talking about some of the terms used
                      in Piaget's theory.
                      <br> We just finished talking about Accommodation and how it's different than Assimilation. Let's continue with more of the
                      terms of Piaget's theory.&nbsp;
                      <br>
                      <br>
                      <span style="font-weight: bold;">Object permanence</span> is the knowledge that an object that you can’t see still exists in the world. As adults we have
                      no problem imagining the objects in our lives even if they are not within sight. Infants can not do this. This requires
                      some memory ability. If you don’t have the ability to lay down memory, then you can’t possibly have object permanence,
                      so this is again tied to the biological maturation of the memory systems in your brain.
                      <span style="font-weight: bold;">Mental operation
                      </span> is the ability to view objects in your brain and manipulate those objects in your head. For instance imagine
                      three pennies, and then take one penny away. Children must develop object permanace before they can manipulate objects,
                      and they must be able to hold more than one picture in their head at a time.&nbsp; This develops as the child matures.&nbsp;
                      At one age they can do the operations in real life but can’t do it in their brain - mentally.
                      <span style="font-weight: bold;">Egocentrism </span>is the inability to see another person’s point of view. Children have a very hard time imagining what
                      other people think. They don’t even recognize that people have a separate mind from their own. Little children actually
                      think that you know the same things that they know. They also look at the world from their own point of view, from their
                      own experiences, and they think that everybody else would look at it the same way. There are some adults that are that
                      way as well, they’ve never matured.
                      <span style="font-weight: bold;">The theory of mind</span>
                      is the awareness that other people’s behaviors may be influenced by their beliefs, by their desires, and by their emotions,
                      and that those emotions, desires and beliefs are different from your own. We develop this idea that other people have
                      different thoughts, different beliefs, different desires, and emotions at a young age. By the age of 5 most children
                      will understand that your thoughts are different their their own. Unfortunately this means at 5, since they know you
                      don't know what they know, they learn to lie.
                      <br>
                      <br>
                      <span style="font-weight: bold;">Animism </span>is giving life to inanimate objects. Children can pick up a rock and begin talking to it. They'll play
                      with a rock. Dolls are the same way. Children will talk to a doll and have a party with it. Children can be entertained
                      by the strangest things for a long period of time, and think that they have complete conversations and discussions with
                      these inanimate objects. Some things are already alive like cats and dogs. You do not have to
                      <em style="text-decoration: underline;">animate</em>
                      them, but we do give them human characteristics.
                      <span style="font-weight: bold;">Anthropomorphism
                      </span>is giving human characteristics to non-human objects. You can give human characteristics to a doll but we also
                      give human characteristics to cats, dogs, chimpanzees, and lions and tigers and bears. Anthropomorphism is giving human
                      characteristics to these creatures that are not human. For instance, when a cat rubs up against your legs, you say “Aww,
                      the cat loves me” and you’re so pleased with the cat because it loves you. Then you watch it rub up against the trash
                      can the same way it rubbed up against you. We don’t say “Aww, it loves the trashcan”. No, we gave human characteristics,
                      the feelings of love, to a cat which is doing what it naturally does - rubbing up against things spreading its smell.
                      <span style="font-weight: bold;">Centration </span>is concentrating on one thing at a time. It is the inability to multitask. It turns out Humans have
                      trouble multitasking. We can sit in front of the television with a pile of laundry right next to us and never even know
                      that there’s a pile there. See mom - it wasn't my fault - it's just human nature!&nbsp; If you are in a classroom and
                      looking at your phone and listening to your instructor, you are missing most of what s/he says.&nbsp; Wherever your eyes
                      are - that's where your brain is!
                      <span style="font-weight: bold;">Conservation </span>is the idea that the physical properties of an object do not change when the appearance of the object
                      changes as long as nothing was taken away or added. Think of a ball of dough. We can show a child the ball and then spread
                      it out into a pizza crust. The child is most likely to say that the round pizza dough has more in it than the small ball
                      of dough, because it’s obviously bigger. It is wider. They don’t understand that as long as something isn’t taken away
                      from the dough and as long as something isn’t added to the dough, it’s exactly the same thing. They centrated on one
                      aspect of the dough - the space it took up on the counter top. I had a student who baby sat for a youngster.&nbsp; The
                      young one wanted lunch.&nbsp; She asked, "so you want one or two sandwiches".&nbsp; The young one said "One".&nbsp; She
                      made a peanut butter and jelly sandwich and then cut it in half. "NO!", the child cried, "I only wanted one sandwich".&nbsp;
                      My student was quick on her feet and handed the child one half and said "This one is for you and the other one is for
                      me".&nbsp; That was perfectly fine for the child!&nbsp; All of these abilities combined together compare to the old saying
                      "you can't teach a pig to sing". It will frustrate you and annoy the pig! Children are the same way. We try to teach
                      them things, we try to get them to do things, which they are not physically or mentally prepared to do. Don’t push them!
                      You will frustrate yourself and you will annoy the child! Until they have the ability, until their brain reaches a specific
                      stage, they will not be able to do some of these things and you will be asking them to perform at a higher level than
                      they are prepared to do. We will talk about Vygotsky and his concept of scaffolding later.
                      <br>
                      <br> Now let’s look at Piaget's stage theory. According to Piaget, the stages we go through while developing the ability
                      to think like adults are the Sensorimotor, Preoperational, Concrete Operational, and Formal Operational stages. Keep
                      in mind that sixty percent of the world never makes it to full Formal Operational thought. Even though sixty percent
                      of people will show signs of Formal Operational thought, many will never develop the full potential of the stage.
                      <br>
                      <br> The
                      <span style="font-weight: bold;">Sensorimotor </span>stage is from birth to about age two where we are relying on our senses and our motor skills. The
                      child relies heavily on innate motor responses to stimuli. The Sensorimotor intelligences are Mental representations,
                      the ability to see things in your head, and object permanence. Of course once you can see these things in your head,
                      once you have a memory and able to use that memory, you can understand that just because something disappears doesn’t
                      mean that it’s gone, you can represent it in your head, you can go search for it. You can play hide and seek. Before
                      you develop object permanence you have no reason to search for an object that you can not see, because you don't realize
                      it still exists. Before object permanence develops Peek-a-boo is a great game because you have not disappeared.
                      <br>
                      <br> The
                      <span style="font-weight: bold;">Preoperational </span>stage occurs from two to six or seven years of age and is marked by a well-developed mental representation.
                      Children now have very good mental representation. Language is a mental representation and from 2 to 7 years of age they
                      are learning how to use language. The Preoperational intelligences are Egocentric intelligence - kids are very egocentric
                      in this stage, and animistic, and anthropomorphic thinking. They still have a difficult time with multitasking - so they
                      still centrate. You try to tell a child in this stage from two to six years of age “Go wash your hands”, and they’ll
                      come back with their hands fairly dirty. They are not as dirty as they were and you say “What did you do?” They'll answer
                      “Well, I rubbed them on a towel”. That's basically all they can remember of the requirements for washing their hands.
                      You can walk them into the bathroom and tell them what to do "turn on the faucet, good, stick your hands under the water,
                      good, rub them together, great, get some soap, good, rub the soap on there, that’s right, now rinse the soap off, very
                      good, now turn the water off, good, now dry your hands off, excellent". Your told them one thing at a time! And they
                      will do that very well. Before a certain age, they cannot multitask. After a certain age, they are able to multitask
                      and you’re able to tell them to go was their hands and expect them to properly accomplish that task. One of the things
                      about being able to do mental operations is that you have to be able to hold multiple objects in memory. Children centrate
                      because they cannot think of multiple things at once. Their working memory is not large enough. So, even though they
                      can represent information in their mind, they can’t represent multiple things in their mind and therefore cannot mentally
                      do operations on those things. In other words - they can only think of one thing at a time.
                      <br>
                      <br> The
                      <span style="font-weight: bold;"> Concrete Operational </span>stage is about age 7 to 11. We’re in school, now. The child’s beginning to understand conservation
                      but is incapable of abstract thought which we’ll talk about in just a minute. The Concrete intelligences include conservation
                      - the ability to understand that as long as you don’t take something away or add something to an object or to anything,
                      then it is exactly the same. It also includes strong mental operations - the ability to manipulate information in the
                      brain using items in memory.
                      <br>
                      <br> The
                      <span style="font-weight: bold;"> Formal operational</span> stage is from about age 12 onward. Abstract thought begins to appear in about sixty percent
                      of the population. Abstraction is like algebra. X + 2 = Y. How is that possibly a good formula? There are two variables
                      (X and Y) The X can be all kinds of numbers which would make Y all kinds of numbers. So, if X is two, then Y equals four.
                      If X is a three then Y equals five. The person who doesn’t have abstract thought will stop you right there and say “Excuse
                      me, but how can X be multiple things? You already told me that X equals two, and you already told me that Y equals four.
                      So, that’s what X and Y equal.” If you want them to be something else, then use different letters. That’s concrete thinking,
                      not abstract thinking. Even though 60 percent of us reach the Formal Operation stage we are limited by how far we move
                      into that stage. We may be able to understand Geometry and Trigonometry or Algebra, but can we understand Calculus or
                      discrete math? Some of us dip our toes into formal operational thinking while others commit their entire being.
                      <br>
                      <br> Besides our mental agility we also have moral abilities. Lawrence Kohlberg studied the change that we go through in
                      moral reasoning from birth until old age. Lawrence Kohlberg believed that we go through stages of moral development.
                      In the first stage - which is called the
                      <span style="font-weight: bold;">preconventional morality
                      </span> stage - you have two sub stages. First - in infancy - we are looking at pleasure and pain orientation. You are
                      moral because you want to avoid pain. You’re looking at obedience because of punishment basically. In the second sub
                      stage you see cost and benefit orientation, or reciprocity; you want to achieve and receive rewards. “I’ll do this if
                      you give me a dollar.” Or you want to do mutual benefits. “I’ll scratch your back if you scratch my back.” It’s definitely
                      based on an individualistic perspective. According to Kohlberg it is a give and take exchange.
                      <br>
                      <br> The second stage is known as
                      <strong>conventional morality</strong>, and includes two sub stages. In stage three you want to be the “good child”. You want
                      to gain acceptance and avoid disapproval, but it’s more about approval than pain and punishment. You want the approval
                      of those around you. You are not thinking about the punishment aspect of your behavior. This stage can help develop good
                      interpersonal relationships. The child should develop the ability to relate to other people fairly well. In stage four
                      we see a law and order orientation. You follow the rules to avoid the penalties of breaking the rules. You’re not thinking
                      about a reward specifically as pleasure. You’re thinking about avoiding the penalty and achieving a reward. You also
                      want to maintain some sort of social order. You understand that there is a need for social order.
                      <br>
                      <br> In the third stage -
                      <span style="font-weight: bold;">
                          Post-conventional</span> or principled morality - you also have two sub stages. The social contract orientation means
                      that you want to promote the welfare of your own society and you understand social contracts and individual rights. We
                      understand that a person can do a specific thing because society has given them permission to do so and we all have to
                      abide by that. In stage six we develop an ethical principle orientation, which is to achieve justice but to be consistent
                      with your own principles. We understand society’s rules, but we also have our own rules and we want to avoid our own
                      self condemnation. We understand that there exists within the world universal principles that trump the societal rules.So,
                      there exists universal principles and they overshadow or trump society’s sometimes, rules and regulations.
                      <br>
                      <br> Kohlberg performed his studies on males. He used his students as subjects. He worked in an all male all Caucasian university.
                      In his mind he believed that he could take the things that he learned from his students and use them as universal principles
                      for all people. He was rather arrogant to believe that his all white all male all upper middle class students represented
                      all people on the planet. If you did not act like White Anglo-Saxon Male Protestants then there must be something wrong
                      with you? When the school allowed women into the classes one of his students was Carol Gilligan. Carol Gilligan thought
                      he was full of bunk and knew that women think differently than men. For her PhD she went out and did his same research
                      with women and found out that she was right, women do think differently than men. So, Carol Gilligan added information
                      to the moral reasoning theories for Kohlberg and rounded it out for the American male and female. Gilligan concluded
                      that women think more about the caring thing to do rather than what the rules allow. However, there’s a big difference
                      between the United States (an individualistic society) and Japan (a collectivist society). The material that they gathered
                      for moral reasoning is good for the United States, but not so good to describe the moral reasoning of other countries.
                      Just because individual societies act a specific way does not mean we can say “This is how everyone should act”.
                      <br>
                      <br> I’m going to stop here. It's time for a break guys, and gals.
                      <br> Go get a cup of coffee. Go do something other than study.
                      <br> Step away from the screen for 30 minutes or so.
                      <br> Distributed learning is the best learning.
                      <br> We will continue Lifespan Development in lecture number 6.
                  </div>
              </p>
            </div>
          </div>
        </div>