        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">The Lifespan (3)</p>
            <div class="row">
              <div class="row">
                <div class="container">
                    <paper-audio-player color="orange"
                                        src="audio/Develop_take_me_home.mp3"
                                        title="SEMISONIC - Closing Time">
                    </paper-audio-player>
                </div>
              </div>
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                          
                      
                      &nbsp; <br>
                      Welcome back to lecture number three in Lifespan Development. How
                      many of you know that "Closing Time" is about the birth of his
                      child??? <br>
                      <br>
                      We just got through mentioning Sickle Cell Anemia and the Blue
                      Fugates. First I want to talk a little bit about Sickle Cell Anemia.
                      Sickle Cell Anemia is mistakenly called a <span style="font-weight: bold;">recessive
                          </span>disorder. That indicates that you have two have two of the
                      recessive genes to acquire the disease. With Sickle cell your blood
                      cells are so badly shaped that they do not carry oxygen properly
                      throughout your system, the cells lock together rather than roll off
                      each other causing blockages in your blood vessels.&nbsp; You will
                      feel tremendous pain and have numerous complications that look like
                      asthma. In the past it was a death sentence, but today we have a
                      number of different drugs that can be given to children. With our
                      medical technology we can keep the child alive even though it’s in
                      pain and get it through those rough periods of their life. However,
                      Sickle cell anemia is not a recessive disorder. It is a <span style="font-weight: bold;">partially
                          dominant</span> disorder, because if you have one bad gene it does
                      effect the body. The dominant gene does not totally mask the bad
                      gene. We say these people have a Sickle cell trait. In normal
                      recessive genes, one gene does not effect the body. The person is a
                      silent carrier. If a dominant gene causes a deadly issue, then it
                      should not be as prevalent in society as Sickle Cell Anemia is. The
                      reason Sickle Cell Anemia is so prevalent is because carriers have
                      an immunity to Malaria. In the area where the Sickle Cell Anemia
                      mutation occurred the people who had both of the recessive genes
                      (homozygous for sickle cell) died because they couldn’t breathe
                      properly. Those people who were normal (homozygous for normal blood)
                      died because they caught Malaria, and those people who were carriers
                      (heterozygous) survived because they could not get Malaria and they
                      didn’t have the full blown traits of Sickle Cell. That’s why we have
                      such a prevalence of Sickle Cell Anemia in certain populations. <br>
                      <div class="images">
                          <div style="border: 0px solid white; padding: 10px; float: left; width: 320px; font-family: Arial;">
                          <div> <img style="border: 0px solid white; padding: 10px; width: 300px;" alt="picture of the fugates" src="img/Fugates.png"><br>
                              <center>The Blue Fugates of Kentucky<br>
                              with permission from <a target="_blank" href="http://waltspitzmiller.com/index.html">Walt
                                  Spitzmiller</a></center>
                          </div>
                          </div>
                      </div>
                      <br>
                      Some people have a yellow hue, some people have a red hue. Africans
                      have a dark brown to black hue. Caucasians are a light brown to
                      olive to fair skinned.&nbsp; Albinos are white, and the Blue Fugates
                      are Blue. Yes - these people appear to be Powder Puff Blue. If you
                      look at your hand, you see blue veins. The veins in your body carry
                      blood back to the lungs. Those veins are taking the un-oxygenated
                      blood back to your lungs so they can become re-oxygenated again.
                      When your blood is oxygenated it is red, and when it is
                      de-oxygenated, it appears through your skin to be blue although it
                      is actually more a maroon color. The reason why people look flushed
                      in their face and in their palms, is because of the capillaries that
                      run through these areas which carry oxygenated blood very close to
                      the surface of the skin. If those particular capillaries in your
                      face and hands carried less oxygenated blood, you would appear to be
                      blue instead of red. It turns out that the Blue Fugates are missing
                      a specific type of enzyme (diaphorase), so their blood doesn’t turn
                      as Red as yours when it becomes oxygenated. It becomes much darker,
                      and that darker color appears through the skin to be Blue (like the
                      veins in your hand). So, they appear Powder Puff Blue. It’s an
                      extremely rare condition. It is a recessive genetic trait because it
                      takes TWO of the same genes to combine to cause the condition. One
                      of the genes alone is silent - it does not show in any physical
                      manner. There’s only one person that I know of in the present time
                      who actually has the condition. He was attending the University of
                      Kentucky the last time I heard. There’s a pill that he can take that
                      provides the enzyme that he’s missing, so he appears to be normal
                      for as long as he’s taking that particular enzyme. When he stops
                      taking the enzyme, he turns Powder Puff Blue. Unlike Sickle Cell
                      this mutation has no negative effect - accept how people respond to
                      you!<br>
                      <br>
                      We've talked about prenatal development and some of the things that
                      can go wrong during that period. Now let's talk about how
                      development proceeds after birth. <br>
                      <br>
                      The Neonatal period is the first month after birth. Recent research
                      indicates that there are around 86 billion neurons in a neonate’s
                      brain. This amount will NOT increase significantly throughout their
                      life. Besides the 86 billion neurons, there are another nine-hundred
                      billion cells in your brain. That means that you have close to a
                      trillion cells in your brain when you’re born. Your brain will
                      decrease the number of neurons later in life through a process we
                      call "<strong>pruning</strong>". Of course, when the brain is
                      damaged it can also decrease the number of neurons. At birth the
                      connections between neurons have NOT finished developing. The growth
                      of the brain during the first few years of life is NOT creation of
                      new cells but creation of more connections between cells. The growth
                      of the brain is due to all the connections being created between
                      neurons. It’s the creation of these connections that are believed to
                      play the role in the mental development of the child. At first there
                      are not enough connections for the child to make good leaps of
                      intellect.. It is only later, when the frontal lobes are fully
                      developed, that we can use our brain to its full potential. The
                      brain reaches its final size between 11 and 16 years of age, and
                      that size is dependent upon how many connections are made. The
                      connections created are based on the amount of environmental stimuli
                      that the child receives. If you stimulate the brain, then there are
                      more connections that are made. If you do not have the proper
                      environmental stimuli then your brain will not develop as fully.
                      This is one of the reasons that poverty is so detrimental to the
                      child's development. It is also the reason that the Montessori
                      preschools were created. Montessori schools believe in giving
                      children as much experience as possible in touch, sound, sight, etc
                      while they are young! Some people say we do not use 100% of our
                      brain and this is incorrect. We do use all of the brain, however, we
                      do not use it all at one time. If someone's brain is active 100% -
                      that is called Epilepsy! There are no "hidden" portions of the brain
                      that are currently unused which will one day give us the ability to
                      read other people's minds or move objects. <br>
                      <br>
                      We need to find nourishment as a baby. We also need to make contact
                      with people (we need to become social beings), and we need to avoid
                      harmful situations. These are three survival tasks that a newborn
                      has to deal with. Newborns begin life equipped to deal with these
                      basic survival tasks. The newborn has numerous reflexes present at
                      birth that help with these particular tasks. For instance neonates
                      show pleasure at sweet taste, and distaste for sour tastes and
                      rotten smells. As the Evolutionary Psychologists would say sweet
                      tasting material will mean it’s high in calories which the growing
                      body needs. Anything that tastes bad or smells bad is most likely
                      bad for children because it has become rotten. Therefore it’s
                      important that we are attracted to sweet and repelled by sour and
                      rotten. How did we develop these reflexes? The people who lived
                      thousands of years ago may have liked all kinds of tastes. Children
                      who were not repelled by sour smells died from eating rotten foods.
                      Since they died - they have no ancestors. Our ancestors lived
                      because they had a predilection for sweet things and were repelled
                      by the rotten foods. <br>
                      <br>
                      The sociability factor is inborn, everybody seems to love a child.
                      When you are in the presence of a happy giggling baby you smile. It
                      doesn’t matter how badly you felt before you see the child. When a
                      baby laughs and smiles at you, you feel pretty good about it.
                      Children prefer the voices of women over men, maybe because they’ve
                      heard the voice of a woman for nine months in the womb. Motherease
                      (or parentese) is a method of talking to children in a very slow
                      high pitched voice. We don’t speak to a child at a rapid rate. We
                      speak to infants very slowly, and we raise the frequency of our
                      voice. They seem to like that type of speech. We recognize that when
                      babies are born - right out of the womb - they’re different. Even
                      twins can be different. Some babies are born shy and others are born
                      fearless. Nurturing can push these sociability factors a little in
                      the other direction. A shy child can be made more fearless, and a
                      fearless child can be made a little bit more shy. Some babies are
                      easy to deal with while others are difficult. This is another inborn
                      factor. Some babies are just hard to please, and other babies are so
                      easy to please you don’t have to do anything for them. If you are
                      lucky you get an easy child as your first, or you won't want another
                      one! <br>
                      <div style="float:left; padding: 20px; border:0px solid white;"><iframe src="https://www.youtube.com/embed/7gSZfW4gVhI" allowfullscreen="" frameborder="0" height="315" width="320"></iframe></div>
                      <br>
                      <br>
                      Infancy starts from the end of the first month to about 1 and a half
                      year of age. We call the baby an infant from the first month to
                      about 1 and half years, because at 1 and a half years we begin to
                      speak. Infancy ends when the child establishes speech. That’s why we
                      say infancy ends at about 1 and half years, because that’s when we
                      really start talking. The word Infant actually comes from a Latin
                      word (infans) which means “incapable of speech”. It’s does not mean
                      incapable of language, because we find that at 9 months children
                      understand and can communicate through sign language. We see them
                      begin to communicate at 6 months. Their hand coordination and
                      hand-eye coordination is much better than the vocal muscles. The
                      muscles of the arms and fingers have developed much faster than the
                      vocal cords, and the areas of the brain that are required for
                      speech. If you can manipulate your fingers and your arms and your
                      hands, then you can speak by sign language and certain children who
                      have sign language available to them, can learn to communicate
                      starting at 6 months of age. They can start learning to communicate
                      with their hands. The body’s dexterity is faster to form than the
                      muscles of the voice. Babies that grow up in families where sign
                      language is used learn to use this method of communication faster
                      than they learn to speak. These children are also less frustrated
                      because they can let you know what they want. When you find a child
                      who has been able to use sign language to communicate they pick up
                      speech much better once they do pick it up. They can communicate
                      faster because they’ve already learned some of the parts of speech
                      while using sign language. In the beginning they show some advances
                      in their intellect because of their ability to communicate, but that
                      disappears fairly rapidly and they average out with other children
                      by the first grade. Having sign language will save you some
                      frustration in your household, but it doesn’t actually produce a
                      smarter child.<br>
                      <br>
                      <br>
                      <div style="float:right; padding: 20px; border:0px solid white;"> <iframe src="https://www.youtube.com/embed/vdiCep6OStA" allowfullscreen="" frameborder="0" height="315" width="320">&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;br&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;</iframe></div>
                      At birth the neonate has many abilities. Newborns have all the
                      senses functioning – touch, taste, sight, sound, and smell. Some are
                      better than others. Sight is the least developed. The motor
                      abilities are also well developed. They have a Rooting Reflexes:
                      when an object touches the baby’s cheek, the baby turns towards that
                      object and begins to suck. This reflex usually lasts for up to seven
                      months. It is obvious that it helps us to find food. The Palmar and
                      Plantar Grasp Reflexes are when the baby will grasp an object placed
                      in the hands or they will curl their toes around fingers placed near
                      their toes. The Palmar Reflex usually lasts three to four months and
                      the Plantar can last up to a year. The Moro Reflex is the startle
                      reflex which appears with a sudden sound or noise or any intense
                      stimulation that occurs. The arms and the legs in this instance
                      extend and the fingers fan outward with the thumb and the forefinger
                      forming a C-shape. This reflex usually disappears within three to
                      four months. Why are these reflexes important? Because we know that
                      these reflexes exist, we know that they are a part of the nervous
                      system, and so when a baby is born we will test the baby based on
                      the Rooting Reflex, Palmar and Plantar Grasping Reflexes, and if
                      they do not perform properly, that means that their nervous system
                      has not formed properly and we can find out that this baby needs
                      some special care immediately because there’s been something wrong
                      in its development. There are lots of other reflexes present at
                      birth. There are the Tonic Neck, Doll’s Eye, Babinski Reflex,
                      Stepping Reflex, Bauer’s Reflex, Traction Reflex, the Arm Recoil,
                      the Galant’s Reflex, Crossed Extension and Postural and Grasping
                      reflexes. These reflexes are important for testing the baby’s proper
                      development. When the child is born it should have these reflexes.
                      They show that the baby’s nervous system has developed properly. The
                      only reason that the reflexes exist is because the nerves are in
                      place to respond. If the baby doesn’t respond or responds
                      incorrectly, the neurons aren’t there or have developmental issues.
                      Babies are tested at birth for numerous functions. If there are
                      problems, then doctors know an intervention is required. With all of
                      these reflexes infants have the ability to learn through classical
                      conditioning as soon as they are born. We can teach a child based on
                      the theories of classical conditioning. <br>
                      <br>
                      Infants have limited vision, they are born with vision but their
                      vision is about 20/500 which is in most states is considered legally
                      blind. My wife has one eye which is 20/500, it never developed
                      properly. My little sister has 20/500 vision, she never did get very
                      good vision, she has really thick glasses. We know from experiments
                      that when we show babies certain objects that they prefer human
                      faces to other stimuli. They’ll actually look at a human face much
                      longer than they’ll look at any other type of stimulus. The visual
                      cliff experiment shows that they can see depth and that they fear
                      heights at an early age. Even before they can crawl we can put a
                      child in what appears to them to be empty space, we can sit them on
                      a piece of glass that’s obviously higher than the floor, they can’t
                      see the glass and their heart rate will go up and their breathing
                      will go up, indicating that they can see this visual cliff, this
                      depth, and they know that they could be in danger. When they start
                      to crawl they will not crawl into the visual cliff area where it
                      looks like they would fall. They will avoid that cliff. This is
                      useful for a child beginning to crawl in a house with stairs!<br>
                      <br>
                      I’m going to stop here. It's time for a break guys, and gals. <br>
                      Go get a cup of coffee. Go do something other than study. <br>
                      Step away from the screen for 15 minutes or so. <br>
                      Distributed learning is the best learning. <br>
                      We will continue Lifespan Development in lecture number 4.
                  </div>
              </p>
            </div>
          </div>
        </div>