        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">The Lifespan (2)</p>
            <div class="row">
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                      
                      Welcome back to lecture number two in Lifespan development.
                      <br> We just got finished talking about self-fulfilling prophecies, so let’s continue on.
                      <br>
                      <br> Let’s talk about the Psychological traits that exist within your genes. We have already studied a little about genetics
                      in the biology lectures. While Psychological traits are formed by the interaction of heredity and the environment, many
                      traits have a strong genetic influence, and as I said before these can be highly canalized or weakly canalized. Genetics
                      can have an overwhelming influence on behavior, and development. For instance, Panic disorders, obsessive compulsive
                      disorder, antisocial personalities and Tourette’s syndrome are all linked to genes. You may never have heard of these
                      disorders but they can surely change behavior and make living a nightmare. Tourette’s syndrome can be very damaging,
                      especially if it’s a severe case. If you’ve ever had a panic attack you know that they can be very debilitating, and
                      they are genetically influenced. The development of Down’s syndrome children can sometimes be measurably improved - as
                      I said before - through learning behavioral modification techniques and by giving the child the environment they need
                      to flourish instead of just sticking them into an institution somewhere. So genetics definitely has an influence on us
                      but we don’t want to discount the environment.&nbsp;
                      <br>
                      <br> Many of you may have heard of Dolly the lamb. After 266 failed attempts she was the first cloned mammal born on 5 July
                      1996. There have been numerous animals cloned since then (horses , cows, pigs and deer). CC the cat is one of the best
                      known. CC the cat is a famous little creature born on December 22, 2001. They named her CC which is short for Copy Cat
                      or carbon copy. She was cloned directly from her mother's cells. She should have been an identical copy of her mother.
                      She was genotypically an identical copy of her mother - named Rainbow - but phenotypically she is not the same. Dolly
                      the lamb looked exactly like her mom, but CC does not look like her mother and she has a very different personality.
                      <div class="images">
                          <div style="border: 0px solid white; padding: 10px; float: left; width: 320x; font-family: Arial;">
                              <div>
                                  <img style="padding: 10px; " alt="Picture of CC and rainbow" src="img/rainbow&amp;cc.jpg">
                                  <br>
                                  <center>Picture of Rainbow (left) and CC (right)</center>
                              </div>
                          </div>
                      </div>
                      Why is this? Well, CC’s mother was a wild cat that had been caught and tamed, whereas CC was born into an environment where
                      people were holding her and caring for her all her life from the very beginning. She was much more free around people
                      than her mother ever was. It also turns out that the color of a cat's coat depends on the temperature of the womb. When
                      the cat is growing inside the mother the cat genes for the colors of the fur will activate depending on the temperature
                      of the womb. So, the wombs environment certainly affects the look of the cats. The scientists thought that CC should’ve
                      looked exactly like her mom but she didn't. So, here’s a place where you can see environment definitely has an influence
                      on genetics, and on biology, and certainly in a location that we would not have expected it. We certainly don’t expect
                      that hair color will change just because of the temperature of the mother’s belly. I don’t know if it’s the case for
                      humans because we haven’t cloned any humans to find out yet; and I say “yet” because I’m sure that sometime in the future,
                      some idiot is going to clone a human being, and as you can tell I don’t think that’s a good idea, but it’s going to happen
                      at some point. So, genetics offers a basic plan which in some cases, the environment can certainly modify.
                      <br>
                      <br> We start developing as soon as we’re conceived, I mean biologically conceived, not when our mother and father think
                      about having us. When we are biologically conceived, the second that the egg is fertilized, the egg changes, so it cannot
                      have a second sperm enter it. This means that immediately upon fertilization, we start to develop, the egg has already
                      changed to become something other than what it was. It does not allow any other sperm to enter it at that point. Developmental
                      biologists, and psychologists study the three different aspects of development, while we are developing inside the womb.
                      They talk about the Zygote, the Embryo, and the Fetus. We’ll look at those aspects of development in this Unit. Most
                      of the changes in your life occur in these first nine months, during the prenatal period of life. The
                      <span style="font-weight: bold;">prenatal
                      </span>period of life is before we’re born.
                      <br>
                      <br> Here’s some terms that you need to know. The
                      <span style="font-weight: bold;">Zygote
                      </span>is a fertilized egg. The
                      <span style="font-weight: bold;">Embryo
                      </span>is day 1 to 8 weeks of growth, the heart actually begins to beat during this stage, does that mean that it is
                      actually pushing blood, no, it means that the heart muscles are starting to respond to electrical stimulation, that they
                      are beating because that’s what they’re supposed to do.
                      <span style="font-weight: bold;">
                          Differentiation </span>is the process by which cells in the Embryo take on specialized functions, like heart cells.
                      Remember, we’re first a single cell. That single cell will grow into a human being, how does that single cell, which
                      then becomes two identical cells, and then four identical cells, and eight identical cells, all the way up to the
                      <span
                          style="font-weight: bold;">Blastocyst </span>stage of 100 cells, all of them identical cells. How does, then, one decide it’s going to be a liver,
                          one decides it’s going to be a heart, one decides it’s going to be an eye, or the skin or bones or nerves. How does
                          that happen? We still don’t know exactly how that happens, but we do know, now how to actually affect these cells,
                          and we can take what’s called a stem cell and actually push that stem cell to become something specific, like a heart
                          cell, which scientists have already done, they’ve already been able to take an embryonic cell, which is a stem cell,
                          and create from that stem cell heart cells, and liver cells. Those are the two we’ve been able to create so far.
                          That would be just wonderful if they could take your stem cells in your body, which we have in our bodies all the
                          time, stem cells and if you’re having troubles with your heart, take one of the stem cells out and build a heart
                          for you, or take multiple stem cells out and make a heart faster for you. So, this Differentiation process, how a
                          cell decides to become some other type of cell that we’re going to need for life. We don’t really know how it works
                          in all cases, but we do know now how to create heart cells and liver cells from these initial germ cells or stem
                          cells. The
                          <span style="font-weight: bold;">Fetus</span>, then, is what a baby is called from 9 weeks until birth. The
                          <span style="font-weight: bold;">Placenta
                          </span>is the organ that separates the embryo from the mother. It allows basically nourishment to get to the child,
                          and it takes other material away from the child, but there are certain other harmful chemicals that can get through
                          it, it’s supposed to protect the child, but there are some chemicals that it cannot stop from getting through, and
                          so material like cocaine, and nicotine, and caffeine can get through the placenta and affect the child’s development.
                          These chemicals that can get through the placenta and other chemicals that can be absorbed through the skin of the
                          mother and affect the child are called Teratogens.&nbsp;
                          <span style="font-weight: bold;">
                              <br>
                              <br> Teratogens </span>are any substance that can damage the developing organism before birth occurs. Why does this
                          happen? Well, think about development as if it was a train that leaves New York that’s headed for Atlanta, and somebody
                          throws a switch and instead of ending up in Atlanta, it ends up in Dallas, Texas. Well, the people on the train are
                          going to be pretty pissed off but the train is in perfect condition. There’s nothing wrong with the train; it just
                          didn’t end up in the place it’s supposed to end up. If a cell in development ends up in the wrong place in your body,
                          it can be a very big problem. That’s what Teratogens do to development. They throws the process of development out
                          of wack. The cells certainly have all of the requirements to grow correctly. For instance: to become perfect brain
                          cells, perfect heart cells, and perfect liver cells, and kidney cells the development of those cells better be correct
                          or we are in bad shape. The Teratogen will stop the proper process of development or throws the process off, so that
                          the cell does NOT grow as is supposed to grow. There is nothing wrong with the cells, they simply get thrown off
                          the correct track.
                          <span style="font-weight: bold;">Mutagens
                          </span>on the other hand are anything that causes permanent changes to occur in the chromosomes. Any substance that
                          can effect the genetic material - the chromosomes - is a mutagen. Any environmental situation that can change chromosomes
                          is a mutagen. When the chromosomes have been affected, those chromosomes can get passed on to the next generation,
                          to all future generations. So Mutagens create mutations and mutations can be passed on to future generations.&nbsp;
                          <br>
                          <br> Two big Teratogens are
                          <span style="font-weight: bold;">nicotine </span>and
                          <span style="font-weight: bold;">alcohol</span>. They are the most common. Alcohol is the most preventable cause of mental retardation in the world.
                          It can certainly be avoided. Alcohol gives your child a risk for Fetal Alcohol Syndrome (FAS).
                          <span style="font-weight: bold;">FAS
                          </span>includes facial abnormalities, reduced intelligence and reduced emotion control. The risk for FAS is the greatest
                          when alcohol is consumed in the first two months of pregnancy. Most women don’t even know that they’re pregnant during
                          this time period. So if you are active and not protecting yourself from pregnancy, then do not drink! Also
                          <span
                              style="font-weight: bold;">SIDS </span>(Sudden Infant Death Syndrome) is very highly correlated to alcohol use and abuse while pregnant, especially
                              if a person is pregnant and takes seven drinks in one day, which is called binging. If you take seven drinks
                              in one day, there’s a high probability that you will be damaging your baby in ways that can not be repaired and
                              could cause the child to die in their sleep within the first year. Imagine the cells in a babies body are migrating
                              to their proper places in the body as the baby develops. Now imagine all those cells drunk! A drunk does not
                              walk a straight line. A drunk cell has issues developing properly.
                              <span style="font-weight: bold;">
                                  <br>
                                  <br> Thalidomide </span>is another type of Teratogen. The FDA saved the American people from this horrible drug.
                              <div class="images">
                                  <div style="border: 0px solid white;  padding: 10px; float: left; width: 325px; font-family: Arial;">
                                      <div style="">
                                          <iframe src="https://www.youtube.com/embed/4K0bnesPcxw?rel=0?ecver=2" allowfullscreen="" frameborder="0"
                                              height="315" width="300"></iframe>
                                          <center>Australia Thalidomide reparations</center>
                                      </div>
                                  </div>
                              </div>
                              Thalidomide caused birth defects across more than 46 nations and affected over 10,000 babies from 1957 to 1961. It was promoted
                              as a great drug to stop morning sickness. If you took Thalidomide during pregnancy, you did not feel bad while
                              you were pregnant. However, your child is then born without any arms or legs! They have hands and feet but they’re
                              connected to the torso, because the arms and legs are missing. This is why they were called flipper babies. Thalidomide
                              stopped the process of arm and leg generation, but did not stop the process of hand and feet generation. The
                              head of the FDA wanted to give the company the OK, but one FDA official -
                              <a style="text-decoration: underline;"
                                  title="Link to Frances Kelsey's biography" href="https://www.nlm.nih.gov/changingthefaceofmedicine/physicians/biography_182.html">Frances Oldham Kelsey</a> - slowed down the official acceptance. The drug company wanted her fired, but she insisted
                              on more studies in the United States before they would accept the drug. Then - in Europe - where it had been
                              approved for use, Flipper babies stared being born. So U.S. children were spared this horrible issue because
                              of Ms. Kelsey. I am certainly happy for Ms. Kelsey because I was born in 1957. My mother could certainly have
                              been given the product! Thalidomide is still around. It is very useful for problems associated with leprosy!
                              However, you should never take it if you could be pregnant.&nbsp;
                              <br>
                              <br>
                              <span style="font-weight: bold;">Rubella </span>will cause defects in the second and third months of pregnancy. Rubella is a disease like measles,
                              and it causes defects including vision loss or blindness, hearing loss, heart defects, mental retardation, and
                              less frequently movement disorders can occur because you contract Rubella. If you catch Rubella after the third
                              month, the development of those systems is already begun - the train’s already past the switch - so it doesn’t
                              matter at that point. Two other diseases that can cause defects are Syphilis and Toxoplasmosis. Syphilis is a
                              sexually transmitted disease. It is curable. It’s one of the curable STDs while Herpes and HIV are NOT curable.
                              <a title="Link to informaiton about taxoplasmosis" href="http://www.cdc.gov/parasites/toxoplasmosis/gen_info/pregnant.html">
                                  <span style="font-weight: bold; text-decoration: underline;">Toxoplasmosis</span>
                                  <span style="font-weight: bold;"> </span>
                              </a>is an organism that you can get from cats. Mice get infected by eating feed that is contaminated with taxoplasmosis.
                              It develops to a certain point in the mouse and then must get into the cat to finish its development. Interestingly
                              the organism changes the mouse brain so that infected mice are no longer afraid of cats and even appear to be
                              attracted by the smell of cats. This helps the organism get into the cat because the mouse will walk right up
                              to a cat which will eat it. Then the Toxoplasmosis organism can finish its development inside the cat. It will
                              come out of the cat in its feces. If a person is pregnant, they should never clean out a kitty litter box because
                              they might get Toxoplasmosis which can affect their baby before it’s born. As an aside - do you know anyone who
                              hated cats and then got a significant other who had cats and within a short time they no longer hated cats? I'm
                              not saying like mice the taxoplasmosis changed their brain, but - hey - what if?
                              <br>
                              <br> I’m about to finish this up but I want to finish by introducing two specific mutations. Sickle cell anemia is
                              one mutation that occurred many hundreds of years ago in Africa. Sickle cell can both kill you and also keep
                              you alive. The Blue Fugates of Kentucky is a mutation that occurred very recently in the last century. It turns
                              people blue - like smurfs. Both of these mutations are considered recessive genetic disorders, which means that
                              you have to have two of the same gene in order for the trait to appear in an individual. A recessive gene needs
                              to be with another recessive gene in order to show up because if one of the genes is dominant it will always
                              overpower the recessive gene. I’ll talk about Sickle Cell Anemia (which is actually a partially dominant disorder)
                              and the Blue Fugates in the next presentation - number three.
                              <br>
                              <p class="MsoNormalCxSpMiddle" style="line-height:150%">That's it for this lecture.
                                  <br> I’m going to stop here. It's time for a break guys, and gals. Go get a cup of coffee.
                                  <br> Go do something other than study (maybe play the hangman game).
                                  <br> There is one crossword puzzle for the entire unit,
                                  <br> but the hangman games are made for each slide.
                                  <br> Take 15 minutes or so before you go to the next slide.
                                  <br> Distributed learning is the best learning.
                                  <br> We will continue the study of the Lifespan in the next lecture.
                                  <br> Talk with you then.
                                  <br>
                                  <br>
                                  <span class="flow-text"> </span>
                              </p>
                  </div>
              </p>
            </div>
          </div>
        </div>