        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">The Lifespan (7)</p>
            <div class="row">
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                  
                      Welcome back!&nbsp;
                      <br> This is lecture number seven for the Lifespan Development unit and we’ve just finished talking about Harry Harlow and
                      his attachment experiments.
                      <br>
                      <br> Let’s move on now to another stage theory developed by Erik Erikson. Doctor Erikson had a Psychosocial theory where
                      Freud had a Psychosexual theory. Erikson is more socially oriented and less sexually oriented than Freud. Erik Erikson
                      died in 1994 and he created a theory of development that spans the entire lifespan. Freud’s theory stopped at adulthood,
                      but Erik Erikson's theory continues all the way until death. His theory is based on dual opposing states that exist within
                      every person at specific times of their lives. A person has to successfully navigate each of these stages to be able
                      to positively navigate the next stage.
                      <br>
                      <br> There are eight major development challenges and thus eight stages across the lifespan. Each stage requires an individual
                      to rethink his or her orientation to himself or herself or other people. Each stage has two dual opposing crisis which
                      must be successfully navigate to be prepared for the next stage.
                      <strong>Stage one </strong>exists from birth until one year of age and the crisis - the dual opposing states - are trust vs.
                      mistrust. In the first year of life; infants depend on others for care, food, warmth, and affection and therefore must
                      be able to blindly trust the parents or caregivers who are providing those particular things. That means you either trust
                      the person because they give you what you need when you need them or you develop mistrust in people because you’re not
                      getting what you need. A parent who responds to their child crying because their diaper needs changing, but who attempts
                      to comfort the child by feeding them is not responding appropriately to the child's needs. The positive outcome occurs
                      if the child's needs are met consistently and responsively by the parents. Infants not only will develop a secure attachment
                      with the parents but will learn to trust their environment in general as well. If the parent does not respond responsibly
                      then the child learns that the parent is not a trustworthy person. “I’m not hungry, change my diaper, you idiot!” They
                      learn mistrust. The negative outcome occurs if the child does not learn the feeling of trust.&nbsp; They will develop
                      mistrust towards people and things in their environment. If they never developed a trust category then they can’t even
                      trust themselves. However, you certainly don’t want to trust so much that you get into trouble because you trusted the
                      wrong person or situation. You don’t want to have too much mistrust either. What children need to do is develop a balance
                      between trust and mistrust. All of Erikson's stages are a balance between the two opposing sides. One side should be
                      more dominant than the other to successfully (or positively) go through that stage, but you still need to learn about
                      the other opposing state as well.
                      <br>
                      <br> The
                      <strong>Second stage</strong> is age one to two. In this stage the crisis is Autonomy vs. shame and doubt. We begin to develop
                      an independence at this age. If our independence is squashed then we doubt ourselves and feel shame for trying to be
                      independent (autonomous). Autonomy means the ability to act independently. If you successfully got through stage one
                      and know the feeling of trust, then you can trust in yourself and can act independently. If you never developed trust
                      in yourself then you’re not going to act independently. Toddlers learn to walk, talk, use toilets, and do things for
                      themselves in this particular time frame. Their self-control and self-confidence begins to develop at this time, and
                      if they mistrust themselves, how can they develop independence? The positive outcome of Autonomy and Shame occurs if
                      parents encourage children even in the face of poor judgement on the child's part. Encourage the child’s use of initiative
                      and reassure him or her when they make mistakes. The child will develop the confidence needed to cope with future situations
                      that require a choice and that require control and independence. The negative outcome occurs if parents are too overprotecting
                      or too disapproving of the child’s acts of independence. If that happens the child may begin to feel ashamed of their
                      autonomous behavior or have too much doubt in their own abilities. Again, we have to find a balance between these two
                      crisis. At some point in the child's life it is going to pick up a crayon and draw on the wall. This is bad and wrong
                      and cannot be tolerated, but the way a parent deals with the situation will either support the child's autonomous action
                      or stamp it down. "What a great picture - it is too bad we have to destroy it because this is not the place for pictures.
                      If you drew it on this nice paper we could hang it on the refrigerator. However, now you and I have to clean the wall
                      and destroy your picture." When you are finished destroying the picture - put them in front of some paper with a crayon
                      and have them draw on the paper. When a parent yells at the child for drawing on the wall, the child knows that drawing
                      on the wall is bad, but they also tend to think that their idea "to draw" anything was also bad. They may think that
                      their independent thought process has been punished and stop thinking for themselves.
                      <br>
                      <br> At age two to six we enter the
                      <strong>Third stage</strong>. The crisis here is Initiative versus guilt. There is a difference between autonomy and initiative.
                      You have to be able to think for yourself (autonomous) before you can do things by yourself (initiative). There is also
                      a difference between guilt and shame. Shame diminishes a person and gives no way out. Guilt allows a person to grow by
                      giving the person a way out of the situation in which they find themselves. Shame is a trap with no way out. Guilt is
                      a maze with a way out. At this stage children have a new found power - they finally have successfully developed their
                      ability to walk. They have developed better motor skills and become more and more engage in social interaction with the
                      people around them. They develop friends. They now must learn to achieve a balance between their eagerness for more adventure
                      and more responsibilities in their lives and learn to control their impulses and their childish fantasies. The positive
                      outcome occurs if parents are encouraging. Encourage children, and be consistent in discipline. You must have rules,
                      yes, but you encourage the child to be independent and have initiative. Be sure your discipline is appropriate for whatever
                      the child did to break a rule. Your response to bad behavior needs to be appropriate. Children will learn to accept -&nbsp;
                      without guilt - that certain things are not allowed, but at the same time will not feel that they have been shamed. They
                      will feel positive about their imagination and engaging in make-believe role-plays. They learn that there is a limit
                      to make-believe, but they haven’t been shamed into that realization and that means that it’s okay to be imaginative and
                      do make-believe and to have initiative. The negative outcome occurs if the parents are too controlling. Then the child
                      may develop a sense of guilt or even shame and may come to believe that it is wrong to be independent. If this happens,
                      then in their future it will be very hard for them to do things on their own. They will become a very dependent type
                      of personality.
                      <br>
                      <br>
                      <strong>Stage four</strong> occurs from age six to twelve. The crisis in this stage is between Confidence and inferiority. Children
                      are now in school from first to 6th grade. School is the important event in their lives. Children learn to make things,
                      to use tools, and acquire the skills to be a worker in life and a potential provider as a parent. They do all of this
                      while making the transition from the world of home into the world of their peers. The peers start to become the more
                      important aspect of their life. This is the hardest thing for parents to understand. The parents lose some of their power
                      over the child and the peers become more important. This will be even more pronounced in the teenage years. So it’s very
                      important that, at the very beginning of a child’s life, patents make certain they connect with families with their own
                      sense of moral and ethical standards. Find those with the same moral values that you have, and have frequent contact
                      between their children and yours. You can't force your child to be friends with another child, but the more contact they
                      have, the more chance that occurs. This will help children develop peers later that will not lead them astray. My mother
                      did this. There were families that had children in our faith that were invited for parties and other events so we would
                      develop relationships with children that have a good chance to be good role models. One parent down the street knew our
                      family and had issues with her son, so she asked my mother if her son could be a part of our crowd. My mother allowed
                      her son to come over and play with us and it worked out well for him. Later in ninth grade there was another boy that
                      wanted to be friends with my group. I did not feel right about him, but we had some limited contact. In our senior year,
                      he murdered one of the students in our class. I could feel there was something wrong with him and I believe it came from
                      the contacts my mother made for me at a young age. To Erikson the positive outcome occurs if children can discover pleasure
                      in intellectual stimulation, being productive and seeking success. They will then develop a sense of competence in their
                      abilities. If the negative outcome occurs they will develop a sense of inferiority.
                      <br>
                      <br>
                      <strong>Stage five</strong> occurs from twelve to eighteen years of age - adolescence! This is a very confusing time for most
                      people. The crisis that must be negotiated is between Identity or role confusion. This is the time we ask the question
                      “Who am I?” “What am I?” To successfully answer this question, Erikson says the adolescent must integrate the healthy
                      resolution of all their earlier conflicts. In other words, if you don’t positively go through all the previous stages,
                      you’re not going to positively go through this one. Did we develop the basic sense of trust? Do we have a strong sense
                      of independence, competence, and feel in control of our lives? Adolescences who have successfully dealt with earlier
                      conflicts are ready for their “Identity crisis”. Erikson considered this the single most significant conflict a person
                      has to face. Stage five is the number one, most important stage to him. Of course it is! Look at Erikson's time as an
                      adolescent.
                      <br>
                      <br> Erikson's mother was Jewish and from Denmark and his biological father was a gentile from Denmark (never named). Erikson's
                      mom moved them to Germany where she married a Jewish doctor. Erik's last name was Homberg and he grew up with Jewish,
                      olive skinned, dark haired, dark eyed children. However, he was a tall, thin, blond haired, blue eyed boy. How does he
                      fit in??? He decided later in life to change his last name to Erikson (a name he made up). If you take a class on the
                      Theories of Personality you will find that each psychologist's theory mirrors something from their life (usually from
                      their childhood) - this gives credence to Freud who blames everything on something that happened in childhood. Anna Freud
                      - Sigmund Freud's daughter - was instrumental in getting Erik to study psychology.&nbsp; Getting back to the stage five:
                      a positive outcome occurs if the adolescent solves this conflict successfully. The child will then come out of this stage
                      with a strong identity and ready to plan for their future. A negative outcome will cause the adolescent to sink into
                      confusion. They will be unable to make decisions and choices in their lives. They will not be able to figure out what
                      they want to do for work. Their sexual orientation will be confused and their role in life in general will be confusing
                      to them.
                      <br>
                      <br>
                      <strong>Stage six</strong> occurs from 19 to 40 years of age. At this point he has surpassed all other stage theories which stop
                      at adulthood (around 20 - 25). The crisis at this stage is between intimacy and isolation. You’re nineteen to forty years
                      old. You are finding your love interest at this point in your life. In this stage, the most important events are love
                      and relationships. According to Erikson - no matter how successful you are with your work you are not developmentally
                      complete until you are capable of an intimate relationship with someone. An individual who has not developed a sense
                      of identity usually will fear commitments. So, they’ll have a fear of committed relationships and may retreat into isolation.
                      The positive outcome occurs when adult individuals can form close relationships and share with others because they have
                      achieved a sense of identity in themselves. If not, they will fear commitment and feel isolated and unable to depend
                      on anybody in the world.
                      <br>
                      <br> In the next stage, (
                      <strong>Stage seven</strong>) we are between forty and sixty-five years of age. We are living in the middle of life through the
                      young-old years. Old age is broken up into young-old and old-old. In this stage the crisis is between generativity and
                      stagnation. By “generativity”, Erikson refers to the adult’s ability to look outside him or herself and care for other
                      people. We lose our egocentric manners. Parenting the next generation is one way to be generative. Think of it as people
                      who are helping out other generations. Erikson suggests that adults need children as much as the children need adults.
                      This stage reflects the need to create a living legacy, and to help the next generation. The way to positively navigate
                      this stage could be accomplished by having and nurturing children or by helping the next generation in other ways. Teaching,
                      preaching and grand parents babysitting their grand children are methods of creating the feeling of generativity. Today,
                      something Erikson didn’t foresee when he first developed this theory was that we can also care for the previous generation
                      (when our parents are getting older and we bring them back into our homes to care for them). Helping our parents is a
                      type of generativity even though it may not be the future generation. Helping the previous generation is a commitment
                      to someone else, you cannot do so and be egocentric. Most reasearch on generativity has shown that one specific group
                      outperforms all others on generativity. African Americans are the most generative. If this crisis is not successfully
                      resolved, the person will remain self-centered, egocentric and experience stagnation later in their life.
                      <br>
                      <br> Finally we come to
                      <strong>Stage Eight</strong>. This stage lasts from age sixty-five until death. The crisis that must be resolved is between integrity
                      or despair. Our old age is a time for reflecting upon our life and our roles. In the big scheme of things our life was
                      filled with pleasure and satisfaction, or filled with disappointments and failures. The positive outcome occurs if the
                      adult has achieved a sense of fulfillment about their life and a sense of unity with themselves and other people. If
                      the adult can look back on their life without regrets, then he or she will accept their death with a sense of ego-integrity.
                      Ego-integrity is the ability to look back on life without regrets and to enjoy a sense of wholeness about your life.
                      Yes, you can ask the "what if" questions as a curiosity. What if I had joined the military. What if I had stayed at a
                      particular job instead of quitting. What if I married someone else? However, if a person has Ego-integrity, those questions
                      are just for fun. The person is satisfied with were they are. They have a healthy sense of who they are.&nbsp; Just as
                      the healthy child will not fear life - said Erikson - the healthy adult will not fear death. If not, the individual will
                      despair and fear death. If one fears death, the end of life will not be pleasant nor will one be prepared for it. There
                      are many procedures that need to be accomplished before death.&nbsp; Paperwork needs to be completed, insurance and other
                      papers need to be found and passed to the heirs.&nbsp; Past issues with family members may need to be resolved.&nbsp;
                      None of this can happen if you fear death.
                      <br>
                      <br> In the later years we start to use
                      <strong>selective social interaction
                      </strong> to restrict the number of social contacts to those people who are most gratifying to us. In our younger years,
                      it doesn’t matter about people’s views about us, it doesn’t matter about how many friends we might have. We call people
                      friends when they are actually only acquaintances or Fair-Weather-Friends. You know the type. Friends who are there for
                      you while everything is nice and rosy, but who can't be found when the dark clouds are hovering overhead. Those aren't
                      true friends. Early in life you might say “I have thousands of acquaintances, hundreds of friends and a few good friends”.
                      You spend lots of time with all of them. You dance around life and just enjoy it. As you get to be older, you realize
                      you don’t have that much time left. You also don’t have time for those people who are looking for something from you
                      and not giving anything back to you. You begin to restrict your social contacts to those who are most gratifying in your
                      later years. This is the act of selective social interactions. Some research has suggested that a person with three very
                      good friends (BFFs) will live longer than those without.
                      <br>
                      <br> I’m going to stop here. It's time for a break guys, and gals.
                      <br> Go get a cup of coffee. Go do something other than study.
                      <br> Step away from the screen for 30 minutes or so.
                      <br> Distributed learning is the best learning.
                      <br> We will continue Lifespan Development in lecture number 8.
                      <span class="flow-text"></span>
                  </div>
              </p>
            </div>
          </div>
        </div>