        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">The Lifespan (1)</p>
            <div class="row">
              <div class="row">
                <div class="container">
                    <paper-audio-player color="orange"
                                        src="audio/Develop.mp3"
                                        title="Whitney Houston - I believe the children">
                    </paper-audio-player>
                </div>
              </div>
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                  
                  
                  
                  
                      Welcome to the first lecture on Lifespan Development.
                      <br> We’ll be talking in this chapter about how people develop from birth until they die.
                      <br> This entire section of Introduction to Psychology is also a preview of what you would study in a course in Developmental
                      Psychology.
                      <br> So for those of you who have to take Developmental Psychology (for instance: Nursing students), pay close attention.
                      <strong>
                          <br> Developmental Psychology</strong> also called Lifespan Development is the study of how organisms change over time
                      as the result of their biological and environmental influences.
                      <br>
                      <br> Watch BOTH of the following videos before you continue:
                      <br> Discovering Psychology Series - "The Developing Child"
                      <br> Language: Crash Course Psychology #16
                      <span class="flow-text"></span>
                      <div class="row">
                          <div class="col s12 offset-s0 m6 offset-m3">
                              <a href="http://www.learner.org/series/discoveringpsychology/05/e05expand.html" target="_blank">
                                  <img class="hoverable" width="100%" src="img/The_child.png">
                              </a>
                          </div>
                      </div>
                      <div class="video-container">
                          <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="https://www.youtube.com/embed/s9shPouRWCs?list=PL8dPuuaLjXtOPRKzVLY0jJY-uHOH9KVU6?rel=0"></iframe>
                      </div>
                      <p class="MsoNormalCxSpMiddle" style="line-height:150%"> There is an interaction between biology and the environment. There are arguments in psychology based around development
                          .&nbsp; Which is more important - nature or nurture?&nbsp; Some of my students have trouble with the definitions
                          of Nature and Nurture. To most students the word Nature means the outside world. It is when you’re walking in the
                          woods. It's the birds, the bees and the flowers and the trees - that's the thing called love (it's a song). To many
                          people that is the description of Nature, but to a person in Psychology the word Nature means – YOU - your biology.
                          To a psychologist Nurture is how you have been influenced by the environment. So
                          <span style="font-weight: bold;">Nurture </span>is the environment in which you grow and
                          <span style="font-weight: bold;">Nature
                          </span>means your biology. The interaction between the two is a process by which the forces work together and influence
                          each other in some way, shape, or form.
                          <br>
                          <br> An example of the interactions of Nature and Nurture is the Down Syndrome baby. In the past the Down Syndrome baby
                          was looked upon as a person who had no potential; who would never amount to anything in life. That being said they
                          would put a Down Syndrome child into an institution (an asylum) where it was pretty much guaranteed that the child
                          would never amount to anything, because they never gave the child anything but the minimum nutrition, love, education
                          and attention that it needed to survive. They never gave it an environment in which it could flourish, and therefore
                          it did not.&nbsp; It is a great example of a self-fulfilling prophecy! In today’s society, we keep a Down Syndrome
                          child in the family and give it the love and attention that it needs.&nbsp; We give it education, food, clothing,
                          and anything else that it would need to thrive. In that case the child does thrive. A Down Syndrome child can become
                          a contributing, working, tax paying member of society. They can hold a job. So it is not specifically the biology
                          alone that determines what a person will be, but both the biology and how the environment influences that biology.
                          A Down's syndrome child has a
                          <strong>
                              reduced potential </strong>compared to a child who has the proper compliment of genes. However, even with the
                          proper genetics a child in an impoverished environment will not reach its potential. So our genes set a specific
                          potential which we may or may not reach. Your potential is the best that you could be according to your genes. Very
                          few of us ever reach that potential. The environment from conception through adulthood determines how much of that
                          potential we will achieve.
                          <br>
                          <br> Nature and Nurture continue to produce changes in personality and mental processes throughout your life cycle. You
                          will continuously adapt and change to your environment. So how do Psychologists explain development? Well, your
                          <span
                              style="font-weight: bold;">development
                              </span>is a process of growth and change that’s brought about by the interaction of your heredity and the environment.
                              This leads to the Nature-Nurture controversy which is the long standing dispute over the relative importance
                              of Nature and Nurture and their influences on behavior and mental processes. At one point in time, there were
                              some scientists declaring that it was
                              <b style="mso-bidi-font-weight:normal">all</b>
                              Nature and others who would declare it was
                              <b style="mso-bidi-font-weight:normal">all</b>
                              Nurture. Unfortunately people got caught in that cross-fire and were hurt because it is not all one or the other. Development
                              is a combination of both. You cannot take a boy, raise him as a girl, and expect him to be a girl, and yet, there
                              were people who believed that it was possible to do exactly that! They believed gender had nothing to do with
                              nature. They thought it was all in a person's environment and how they were nurtured. So, if you were nurtured
                              as a girl, then you would be a girl. However, that’s not the case as the documentary about the “Boy who was raised
                              as a girl” shows us. Below is a 9 minute presentation about this child. The doctor (Dr. Money from Johns Hopkins
                              in Baltimore Maryland) caused this problem and was eventually disgraced and lost almost all support in the scientific
                              community. There’s no one today that will say that it’s absolutely one way or the other, it’s all Nature or it’s
                              all Nurture. We do know that it’s a combination of the two. However, it is a big issue today to determine which
                              one is more important? Is Nature more important or is Nurture more important. </p>
                      <div style="border: 0px solid white; padding: 20px; float: left; font-family: Arial;">
                          <iframe src="https://www.youtube.com/embed/3GhbVFjIaN0" allowfullscreen="" frameborder="0" height="315" width="320"></iframe>
                      </div>
                      <br>
                      <p class="MsoNormalCxSpMiddle" style="line-height:150%"> Most scientists agree now that there is an interaction between Nature and Nurture. We believe that the two work hand
                          in hand. Heredity establishes your potential and Environment helps to determine how much of that potential will be
                          realized. However, which one is more important?. Of course, we have to ignore the fact that if the Biology didn’t
                          exist, there would be nothing there for the environment to work on. That would make biology(nature) very important!
                          <br>
                          <br> So the Nature people have a very good reason to claim theirs is the most important. Not withstanding the fact that
                          you have to be conceived, you have to have a Biology - which is more important after your conception, your biology,
                          or your environment. Did you know that birth order appears to affect your personality? That’s an environmental factor
                          that you have no control over. You are either the first born, second born, or third born in your family. There is
                          a loose association between the personality of a person and their birth order, and there’s an entire personality
                          theory based on that order. Birth order is a part of your environment, and so it shows that even birth order, that
                          little piece of your environment, can play a role in how you are going to develop. The first born son never has to
                          share with anyone. They are the King of the house. When their brother is born they suddenly have a switch in their
                          environment. They are no longer King of the house. They have to share. The second born son always has to share! They
                          never have the experience of being an only child. This leads to different views of the world and different personalities.
                          However, if the second child was a daughter, then she is queen and still has a slightly “only child” view of the
                          world.
                          <br>
                          <br>
                          <strong>Twin studies</strong> are used to determine the relative importance of Nature and Nurture. Of course we don’t separate
                          twins on purpose, but unfortunately at times twins will be given up at birth and be placed into adoption agencies.
                          The adoption agency has no intention of keeping the twins together. They will adopt them out to whatever parent comes
                          along and wants them, and is eligible to adopt. Most parents don’t want to adopt two children, so they will adopt
                          one twin to one family and another twin to another family. But, later in life, we can go back and find those twins
                          and we can find out if there’s any difference between the twins. If there is a difference between the twins, those
                          differences will most likely be due to different environmental influences. Their similarities will be due to biology
                          – their similar genetics. The "
                          <strong>Twinsburg Twins Days
                          </strong>" in Twinsburg, Ohio USA is a festival that was started in 1976 with only 36 sets of twins. It has grown
                          to be the world's largest annual gathering of twins with approximately 3,000 sets attending each year. It is a huge,
                          fun-filled twin weekend - attracting twins, multiples and their families from all over the world, many returning
                          year after year. Scientists descend upon the party to get information from all those twins.
                          <br>
                          <br> Imagine a Caucasian Jewish family has male twins and puts them up for adoption. One child is adopted by an Asian
                          Buddhist family and another by a black Muslim family. Many years later we can compare them. Will their eye colr be
                          different? Of course not. Will their skin color have changed? Nope! How about their religion? Most likely it will
                          be different. How about their height? Maybe so. Why would their height possibly be different? The Muslim family eats
                          meat and the Buddhist family is vegetarian. The nutrition could be different and nutrition affects growth. So developmental
                          investigation in twin studies is where twins, especially identical twins, are compared in the search for genetic
                          and environmental effects. Twins are more similar than other siblings on measures of intelligence, personality, and
                          interests. This means intelligence, personality, and interests have a basis in biology. We say these traits are also
                          somewhat canalized.
                          <span style="font-weight: bold;">Canalization
                          </span>is the amount a genotype is resistant to the environment, which means that a highly canalized genotype (like
                          eye color and skin color) is only minimally influenced by the environment, and a weakly canalized genotype (like
                          height) is more easily adapted to the environment. Your hair color is highly canalized. It doesn’t matter what kind
                          of food you’re fed, doesn’t matter what kind of house you grow up in, doesn’t matter what kind of religion you are,
                          your hair’s going to be the same color unless you use a bottle to change it. It is the same with your eyes. Eye color
                          is eye color, and there’s nothing that you can do to change that. We say it is very highly canalized. How about your
                          thought processes? They are more weakly canalized if they have any relationship to genetics at all! However, your
                          height is only slightly canalized. You are born with a specific potential to be a specific height. Whether you reach
                          that height will be dependent upon how many calories you get, how many carbohydrates you ingest, how much exercise
                          you get, how many liquids you get and your intake of vitamins and minerals. All of that is a part of your environment.&nbsp;
                          Your environment plays a role in how tall you’re going to be.
                          <br>
                          <br> Genetics account for about 20 to 60 percent of your verbal, spatial, and perceptual abilities. Which means that
                          the rest has to do with the environment. Other adoption studies used to determine the relative importance of Nature
                          and Nurture find other siblings that are not identical and compare them. Siblings that are related but not twins
                          should be genetically 50 percent alike. They will share about 50 percent of their genes if they have the same mother
                          and father. OK, I have to emphasize that they are 50% the same ONLY if they have the same father! A woman can be
                          very "active" (you know what I mean) and have fraternal twins with different fathers! They are only 25% genetically
                          identical. When adopted they may go to different environments and again we will look to see what is the same about
                          them and what is different about them. All these studies compare the adopted children’s characteristics to those
                          of their biological family (their Sires) and their adopted family. We look at them to see how similar they are to
                          each other, and how similar they are to their adopted family and their sires.
                          <br>
                          <br> Their adopted family traits will be close to them in certain situations, but in others they’ll be more similar to
                          their biological family. Whatever traits or behaviors or appearances that are more similar to their biological families
                          will be based on genetics. Those things that are more similar to their adopted family will be related to environment.
                          <br>
                          <br> Through these studies we know that heredity can play a role in a variety of mental disorders, that’s why we’re talking
                          about it. We are in Psychology! Genetics plays a role in the potential to abuse alcohol, Alzheimer’s disease, Schizophrenia,
                          depression and panic disorder. All of these are influenced by genetics (nature) in some way, shape or form, but you
                          can’t discount the environment’s ability to interact with that condition - or the potential that you might have that
                          condition. Even an identical twin, which has a twin that’s schizophrenic, may not get schizophrenia. If you have
                          an identical twin that has schizophrenia, there’s only a 50 percent chance that
                          <i style="mso-bidi-font-style:normal">you</i>
                          will get schizophrenia. This shows it is not all genetic and there is some environmental factors that are involved. In the
                          Psychopathology unit we will talk about identical twins in England where one has schizophrenia and the other does
                          not and discuss the reasons why. </p>
                      <div class="images">
                          <div style="border: 0px solid white; padding: 10px; float: left; width: 340px; font-family: Arial;">
                              <div>
                                  <img style="padding: 10px; " alt="Picture depicting discontinuity" src="img/Discontinuity.png">
                                  <br>
                                  <center>Visual of the Discontinuity model</center>
                              </div>
                          </div>
                      </div>
                      <div class="images">
                          <div style="border: 0px solid white; padding: 10px; float: right; width: 280px; font-family: Arial;">
                              <div>
                                  <img style="padding: 10px; " alt="Picture depicting continuity" src="img/Continuity.png">
                                  <br>
                                  <center>Visual of the Continuity model</center>
                              </div>
                          </div>
                      </div>
                      <p class="MsoNormalCxSpMiddle" style="line-height:150%"> There is a question about how we change as we develop. Some people believe that the changes that occur are very gradual;
                          this is the
                          <span style="font-weight: bold;">Continuity
                          </span>view, that we’re always continuously changing. Then there’s the abrupt changes view, which is the stair step
                          ladder view that’s called Discontinuity. In the
                          <span style="font-weight: bold;">Discontinuity
                          </span>view change is based on very specific time frames and very specific changes that occur. We view puberty as
                          a discontinuous process. You are not able to produce children and then poof - you are able to produce children. So,
                          there’s a big change that occurs, and that definitely appears to be a step process. However, if you look very deeply
                          into the biology of a person prior to the time those changes occur, you might be able to say that there were very
                          small changes in the blood hormones that continued to occur throughout the body from age 9 till puberty. Eventually
                          the hormones build in the body to a large enough volume that the process that was hidden to us suddenly appears!
                          So, puberty may actually support the Continuity view instead of a Discontinuity view. We need to recognize that this
                          is one of those arguments that occur in Psychology. Are things continuous in nature or are they discontinuous?
                          <br>
                          <br> The continuity view says that development is gradual and continuous. The discontinuity view says that development
                          proceeds in uneven steps; and the developmental stages of life, the periods of life that are initiated by significant
                          transitions or changes in physical or psychological functioning, occur in leaps rather than smoothly. The changes
                          in outward appearance at Puberty, again, as I said, is a good example of one of these stages. Later in this chapter
                          we will discuss some stage oriented theories.
                          <br>
                          <br> Development can be caused by self-fulfilling prophecies. We have to accept that we do have influence over our own
                          lives. The self-fulfilling prophecies are expectations that become reality because the prophecy that we have in our
                          heads guides the believer’s behavior. So if parents believe that their child is shy then they act towards their child
                          like they are shy. The parents behave in all ways, shapes, and form like the child is shy. They protect the child
                          from environments where you think the child will suffer and most probably the child will end up being shy! The child
                          may not have been shy at first, but the parents made them that way through their behavior toward the child. This
                          is a self fulfilling prophecy!
                          <br>
                          <br> That's it for this lecture.
                          <br> I’m going to stop here. It's time for a break guys, and gals. Go get a cup of coffee.
                          <br> Go do something other than study (maybe play the hangman game).
                          <br> There is one crossword puzzle for the entire unit,
                          <br> but the hangman games are made for each slide.
                          <br> Take 15 minutes or so before you go to the next slide.
                          <br> Distributed learning is the best learning.
                          <br> We will continue the study of the Lifespan in the next lecture.
                          <br> Talk with you then.
                          <br>
                          <br>
                          <span class="flow-text"> </span>
                      </p>
                  </div>
              </p>
            </div>
          </div>
        </div>