</p>
    <div class="col s6 m4 IF_SHOULD_BE_RIGHT_OR_NOT">
        <img class="materialboxed" data-caption="DATA_CAPTION_HERE" width="100%" src="img/NAME_OF_PIC.jpg">
    </div>
<p class="flow-text">

--------------------------------------------------------------------------------------------------------------------------------

<a href="URL_GOES_HERE" target="_blank">NAME_GOES_HERE</a>

--------------------------------------------------------------------------------------------------------------------------------


<p class="flow-text">
    TEXT_GOES_HERE
</p>

--------------------------------------------------------------------------------------------------------------------------------

<div class="col s6 m4 IF_SHOULD_BE_RIGHT_OR_NOT">
    <img class="materialboxed" data-caption="DATA_CAPTION_HERE" width="100%" src="img/NAME_OF_PIC.jpg">
</div>
<p class="flow-text">
    TEXT_GOES_HERE
</p>

--------------------------------------------------------------------------------------------------------------------------------

<div class="video-container">
    <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="http://www.learner.org/series/discoveringpsychology/02/e02expand.html"></iframe>
</div>
<div class="video-container">
    <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="https://www.youtube.com/embed/hFV71QPvX2I"></iframe>
</div>

--------------------------------------------------------------------------------------------------------------------------------



<div class="row">
    <div class="col s12 offset-s0 m6 offset-m3">
        <a href="LINK" target="_blank">
            <img class="hoverable" width="100%" src="img/IMG_IMG.png">
        </a>
    </div>
</div>
<div class="video-container">
    <iframe src="LINK" width="853" height="480" frameborder="0" gesture="media" allowfullscreen=""></iframe>
</div>

<div class="row col s12">
    <ul id="hoverOldLady" class="collapsible popout" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">Click to see old lady</div>
            <div class="collapsible-body">
                <img id="imgOldYoung" src="img/Lady_old.png" style="width:100%;">
            </div>
        </li>
    </ul>
</div>


<div id="SCHOOLNAME _modal" class="modal fullScreenModal">
    <div class="card" style="margin: 0;">
        <div class="card-image">
            <img class="materialboxed" src="img/IMG_SRC.jpg">
            <div class="opacityCover"></div>
            <span class="card-title" style="top:0;width:100%;">
                <a href="" class="btn right light-blue modal-action modal-close waves-effect">Close</a>
                <p style="position: absolute;bottom: 0;">
                    ONE
                    <br> 
                    TWO
                </p>

            </span>
        </div>
        <div class="card-content">
            <p>
                STUFF
            </p>
        </div>
    </div>
</div>