<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Emotion & Motivation (5)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Emotion_feel_it_in_the_air.mp3"
                                title="Phil Colins - In the air tonight">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
                
            
                <span style="font-weight: bold; font-style: italic;">"People often say that motivation doesn't last. Well, neither does bathing - that's why we recommend it daily." ~ Zig
                    Ziglar </span>
                <br>
                <br>
                <span class="flow-text">There are a number of theories about how we are motivated. One such theory is a social learning theory that says that
                    there are two important aspects of motivation that include the
                    <em style="text-decoration: underline;">expectation of achievement</em> and
                    <em>
                        <span style="text-decoration: underline;">the value of the goal</span>
                    </em>. For example: what if I put a steel beam across two high rise buildings. To cross the beam you would travel over
                    a side walk, two lanes of traffic going one way and then two lanes of traffic going the other way before you cross
                    over the opposite sidewalk to get to the rooftop of the other building. These buildings are 10 stories high. Could
                    you cross the board? Not “would” you – could you. You could crawl across the steel beam. Do you have an expectation
                    of achievement? Many of you know you can do it, but why would you? Where is the goal? What if you got paid $100 to
                    cross the beam? How about for $10,000? Some of you would not even do it for $10,000. What if your child is on the
                    other side and will fall off? Now achievement is thrown out the window and you will cross the board because the goal
                    is so large. You are motivated by both your belief you can achieve a goal and the value of the goal.
                    <br>
                    <br> Locus of control is another aspect of motivation. Your
                    <strong>locus of control</strong> is your belief in your ability to control outcomes. An
                    <strong> internal </strong>locus of control rests with the individual, while an
                    <strong> external </strong>locus of control rests with something outside the individual. I played baseball for a number of
                    years. I had a very high batting average, but I never hit a home run. I hit singles and doubles and because of my
                    speed I could push a double into a triple. There was a guy on our team that could hit a home run with one hand tied
                    behind his back! I was soooo jealous! I practiced and practiced in the batting cage. If I ever hit a home run (which
                    I never did) I could look at it two ways. First, I could consider that all the practice paid off and I now have the
                    capability to hit a home run. That is an internal locus of control. Second, I can think, WOW, the wind was blowing
                    just right! That is an external locus of control.
                    <br>
                    <br> This plays into cultures as well. We call this the Cross-cultural perspective. For many years much of psychological
                    research was controlled by American psychologists who were arrogant enough to think that the results of their studies
                    of Americans would be the same in any human population. This is decidedly incorrect. The United States is an
                    <strong>individualistic </strong>society and people are supposed to take care of themselves. We place a high value on individual
                    achievement and individual distinction. Capitalism rewards individual achievement. We admire individuals who are
                    in control of themselves and their environment. One of our favorite saying is “The squeaky wheel gets the grease”.
                    This means that the person who complains the most gets what they need. In Asian Cultures they are much more
                    <strong>collective </strong>in their view of society. The collective view sees the group as much more important the individual.
                    Group loyalty is group pride over individual distinction. The saying in Japan goes like this: “The nail that sticks
                    its head above the board gets nailed back down”. The nail has an important function. Along with all the others, it
                    holds the board in place. The board in this respect is society. If a person is not behaving properly in society,
                    then it is the function of all others to help that person to return to their place. Communism rewards the group collective.
                    In communist countries, the government makes most of the decisions about your life. It is hard to have an internal
                    locus of control in such a society.
                    <br>
                    <br> Maslow’s Humanistic Theory:&nbsp; We are motivated by specific needs.
                    <br>
                    <br>
                    <div class="images">
                        <div style="border: 0px solid white; padding: 10px; float: left; width: 320px; font-family: Arial;">
                            <div>
                                <center>
                                    <img alt="picture of maslows needs" style="width:290px;" src="img/Motivation_Maslow.png">
                                    <br> Maslow's Hierarchy of Needs
                                    <br> Topped by Rogers Fully Functioning Individual </center>
                            </div>
                        </div>
                    </div>
                    <br> Maslow says that we have specific "deficiencies" in our life.&nbsp; We must meet our lower deficiency needs (life
                    requirements) before we can achieve Self-Actualization. We are motivated (we have some built-in "innate" mechanism
                    driving us) to become Self-Actualized. The lack of the basic needs motivate us to achieve those needs. When our life
                    is deficient of the basic "
                    <strong>biological</strong>" needs - the foods and water and oxygen and rest, and we live in a tense environment and do not
                    have enough sex, we are motivated to acquire those items to the neglect of all else. Once those needs are met we
                    can concentrate on the second "Basic"
                    <strong>Safety </strong>level to find security and comfort and a freedom from fear. Once the second level of safety needs
                    are met we can work on the third level "psychological needs" of
                    <strong>Attachment </strong>which include the need to belong, to affiliate and to love and be loved. As an aside, you can
                    tell that a man made this pyramid because if a woman had made it then Love and Sex would never have been on two different
                    levels! Men see them as separate while women see them as the same thing!
                    <br>
                    <br> At any time we reach any level a change in our life may drag us back down to a lower level. Divorce is one such
                    event. The fourth level of
                    <strong>Esteem </strong>is also considered a psychological need. However, in some manuals it can be considered a “being”
                    need. We build our self-efficacy (our belief in our own abilities) which include our self-esteem, self-worth and
                    self-confidence. When we have met all the deficiency needs what else is there!? According to Maslow the top of the
                    pyramid is our drive to become the best that we can be which he called a self-actualized person. Unfortunately humanistic
                    psychology believes that humans are wonderful creatures.&nbsp; We will produce wonderful people when we become self-actualized.
                    In retrospect, Hitler met all his basic needs and became the best tyrant he could be! So don’t think that a person
                    at the top is always wonderful!
                    <br>
                    <br> Carl Rogers believed that there was one more step to the pyramid and that was a "
                    <strong>fully functioning</strong>" person. These people are psychologically healthy (which is not a requirement of a self-actualized
                    person). They also have effective self-control and respect for others. They show a positive-self-concept that is
                    congruent with reality. In other words, what they think of themselves is real and true rather than a fantastical
                    dream. Kanye West is a self-actualized person who is not a “Rogers” fully functioning person. He has certainly fulfilled
                    all aspects of Maslow’s pyramid, but he does not have a real world view of himself. He believes he is the greatest
                    (as Muhammad Ali once declared of himself). However, Kanye lost Grammys and other awards and could not face the truth
                    that other people do not see him as he sees himself. He believes he should be given the rewards he believes he deserves
                    all the awards. He was also so self-centered without regard for others that he stole Taylor Swift's time when she
                    won best video at the MTV awards. He was completely unable to accept the reality that the person he liked (Beyonce')
                    did not win. He may be self-actualized, but he isn't fully functioning.
                    <br>
                    <br> Even though rewards can be an extrinsic goal to motivate a person, they can sometimes squelch motivation in what
                    we call over justification!
                    <strong>Over-justification</strong> is the process by which extrinsic rewards can sometimes displace internal (intrinsic)
                    motivation. This is when a reward is given without regard to the quality of the performance. In this case we see
                    a drop in the motivation to perform the behavior that was rewarded. As an example: An Italian immigrant comes to
                    New York City and finds a ground floor apartment. He speaks very little English and loves to listen to opera in his
                    own language. The kids in the neighborhood think he’s crazy and hate the music he plays. They decide to upset him
                    (an intrinsic motivation). They go to his apartment complex and play their boom boxes outside his first floor apartment
                    window as loud as they can to drown out the opera. He tries to chase them away, but they just come back the next
                    day. He calls the police, but the kids are gone when the cops arrive and they are back again when the cops leave.
                    Do you know anyone like that? I was like that as a kid. We played at a stone quarry that had no trespassing signs.
                    We knew when the police were on the way and we left only to come back again when the police left. One day the old
                    man comes out with a wad of cash! He tells them he has gotten used to their music and wants to pay them to come play
                    their music. In fact – he says – tell all your friends and I’ll give everyone a dollar to show up and play your music.
                    (And as Paul Harvey says -What’s the rest of the story?)
                    <br>
                    <br> For a week he pays them all a dollar to come play their music and gives them cold cans of soda. The next week he
                    pays them, but near the end of the week he says he can’t afford the sodas any more. In the middle of the next week
                    he tells them he is running out of money and can only pay them a quarter to come over and play their music. What
                    happens? “MAN are you kidding! We ain’t playing our music for a lousy quarter!” They leave and never come back! In
                    two weeks he accomplished what he was unable to do prior to that. He replaced their intrinsic motivation for an external
                    reward (money).&nbsp;
                    <br>
                    <br> This is simply a story to illustrate the idea, but it is a sad commentary on the human condition. Adults have the
                    same issue as the children in this story. As adults entering the work force we interview for a company position because
                    we love the company and what it stands for, and we love doing the work. Within a few years we are jealous of the
                    people getting promotions and bonuses for the work we did. We do a better job than they do! Others are getting better
                    pay raises than we are. We lose our intrinsic love of the job and it is replaced with the extrinsic desire for admiration,
                    attention, promotions and pay. Then we leave the job discouraged - our love of the job - destroyed.
                    <br>
                    <br> Unfortunately we do the same to children in grade school. Do you remember the joy of kindergarten and first grade?
                    Going to school was fun and it was fun learning new things and making friends. You looked forward to the smell of
                    the pencils and erasers, paint and paper each year. What do we do to that intrinsic motivation to learn? We put gold
                    stars on the board for good behavior and give out awards if you have enough stars. We give grades of A through F
                    for how much the child has learned. It does not take long for the joy of learning to turn sour. I know, we have to
                    know how much the child has learned and we have to keep them under control. I don’t have an answer for you. I can
                    only tell you, the methods we are using are causing secondary issues.
                    <br>
                    <br> We saw an experiment where pleasure and hunger were compared. We would like to have a theory that compares all the
                    drives and motives, but there is no theory that encompasses all aspects of motivation and drive. No single theory
                    can account for all forms of motivation, because each motive involves its own mix of biological, mental, behavioral,
                    and social/cultural influences. Rather than try to explain all motives with a single large theory we can study small
                    aspects of motivation like the “Need to Achieve”.
                    <br>
                    <br> What is the person’s need to achieve? We call the need for achievement the (nAch). It is defined as a mental state
                    that produces a psychological motive to excel or reach some goal. We can measure this force in each individual and
                    find that person’s desire to achieve. Each of us has some level of nAch. Some people have a large need to achieve
                    and others a smaller amount. We can use
                    <strong>Projection Tests</strong> to find the level of nAch that exists in a person. A projection test is a process by which
                    people attribute their own unconscious motives to other people or objects. Physiologist Henry Murray (1893 - 1998)
                    developed the Thematic Apperception Test (TAT). Murray has a very sordid past.&nbsp; He is associated and may be
                    responsible for both Ted Kaczynski (the unabobmber) and Timothy Leary and his LSD experiments.&nbsp; The TAT test
                    was used by Psychologist David McClelland (1917 - 1998) in his nAch research. This research was a 12 year longitudinal
                    study between 1977 and 1982. The TAT test is such a pop culture test that it has appeared in movies and books such
                    as A Clockwork Orange, Flowers for Algernon and Red Dragon. &nbsp;
                    <br>
                    <div class="images">
                        <div style="border: 0px solid white; padding: 10px; float: left; width: 320px; font-family: Arial;">
                            <div>
                                <center>
                                    <img alt="Girl Playing Violin" style="padding:5px;" src="img/Motivation_TAT_Test.jpg">
                                    <br>
                                </center>
                            </div>
                        </div>
                        <span class="flow-text">
                            <br>
                        </span>
                        <span class="flow-text">
                            <span class="flow-text">The test itself is extremely easy to administer. Look at this picture of this girl with the violin. Think
                                about it for a minute
                                <br>
                                <br>
                            </span>Now describe it to me. </span>The picture is ambiguous enough that different people will interpret
                        it differently. Each person will be using their own motivational forces to describe the picture. Your description
                        tells a lot about your motivation! One person will describe the picture as a child trying to get a specific piece
                        of music perfect. They want to impress their mother and their teacher. They want to do really well on their recital.
                        Another person will say that you can tell from the child’s face that they are not happy doing this. Their parents
                        and teacher are making them do this work. They do not want to play this violin. The difference is that the first
                        has a larger Need for achievement (nAch value) than the second. This works better on children than on adults,
                        but it can and has been used on adults.</div>
                </span>
                <span class="flow-text">
                    <br> It's time for a break guys, and gals.
                    <br> Go get a cup of coffee.
                    <br> Go do something other than study (maybe play the hangman game).
                    <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                    <br> Take 15 minutes or so before you go to the next slide.
                    <br> Distributed learning is the best learning.
                    <br> We will continue the study of Emotions in the next lecture.
                    <br> Talk with you then.
                    <br>
                    <br>
                    <br>
                </span>
            </div>
        </p>
    </div>
    </div>
</div>