<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Emotion & Motivation (4)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Motivation_renegades.mp3"
                                title="X Ambassadors - Renegades">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
                
            
                <span style="font-weight: bold; font-style: italic;">"Motivation will almost always beat mere talent." ~ Norman Ralph Augustine </span>
                <br>
                <span class="flow-text">
                    <br> This Crash course in Psychology video is less than 12 minutes.
                    <br>
                    <br>
                </span>
                <span class="flow-text">
                    <span class="flow-text">.</span>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/9hdSLiHaJz8?list=PL8dPuuaLjXtOPRKzVLY0jJY-uHOH9KVU6" width="853" height="480" frameborder="0" gesture="media" allowfullscreen=""></iframe>

                    </div>
                    <br> Welcome back to the lecture series on Motivation and Emotion. Now we are turning our attention to Motivation. Motivation
                    takes many different forms which involve an inferred physiological and psychological factor and metal processes that
                    select and direct our behavior. Motivation selects and directs our behavior. We say
                    <strong> inferred</strong> because we cannot measure motivation directly. Instead we assume motivation through what we see
                    in the environment. This means that the process is subjective rather than objective. What we think we are observing
                    in another person may not be correct. Motivation includes all processes involved in starting, directing and maintaining
                    physical and psychological activities. We describe
                    <strong>motivation</strong> as an internal process that causes us to move toward a goal. In moving toward a goal we can either
                    move away from an unpleasant situation or move toward a pleasant one. We are describing internal processes which
                    cause us to make and acquire a goal. I cannot motivate you! You motivate yourself. I can manipulate the environment
                    in the hopes you motivate yourself, but I do not motivate you. I can put up a reward to find a lost dog, but you
                    motivate yourself to acquire that reward. We connect motivation to internal states and observable behavior.
                    <br>
                    <br> We tend to ascribe motivation to a person who is eating. We say they are hungry and motivate to eat by the hunger.
                    Really? How many of you eat when you are not hungry?! I do! If it is 12:00, it is lunch time. I get one hour off
                    work to eat lunch. Whether I am hungry or not, I eat. When I go out with friends I eat as a social exchange. We can
                    also account for variability in behavior with motivation. When there is no other reason for some behavior we connect
                    it to some internal state we call “motivated”. “Why is that person running in the rain?” “I don’t know, he must be
                    motivated!” We also explain perseverance in spite of adversity as motivation. “Didn’t anyone tell him it can’t be
                    done?” Yes, but he is trying anyway!” As Christopher Reeve once said; “A hero is an ordinary individual who finds
                    the strength to persevere and endure in spite of overwhelming obstacles.”
                    <br>
                    <div class="images">
                        <div style="border: 0px solid white; padding: 10px; float: left; width: 320px; font-family: Arial;">
                            <div>
                                <img alt="Picture of Crhis Reeve in Wheel Chair" style="width:290px;padding:10px;" src="img/Motivation_Christopher_Reeve.jpg">
                                <br> March 2003 Christopher Reeve at MIT lecture </div>
                        </div>
                    </div>
                    <br> There is a difference between a Motive and a Drive. A
                    <strong>Drive
                    </strong>is the internal
                    <span style="text-decoration: underline;">biological</span>
                    processes that push us toward a goal. When we are thirsty we drink and when we are hungry we eat. However, seeing someone
                    eat does not mean that they are driven by a drive, it could be a learned motive instead. A
                    <strong>motive </strong>is a reason we do something that was
                    <span style="text-decoration: underline;">learned</span>
                    rather than biological. Motivation can be part of a conscious thought process, “I want that so I will get it”, but it does
                    not have to be a conscious decision. As Freud predicted, there are also unconscious motives. Repressed experiences
                    can lead us to behave in a certain manner and we have no idea why? As an example: An adult female who was sexually
                    abused as a child may not remember the abuse, but may not trust men. Her friends may ask her why she hates and mistrusts
                    men, but she will not know why. Freud would say she needs to access that childhood experience revealing the reason
                    behind her behavior. Then she can consciously decide not to trust men. She is now aware of why she behaves as she
                    does. She may also decide it is her Uncle she cannot trust (sexual abuse is almost always by a relative or close
                    friend).
                    <br>
                    <br> A drive is a biologically instigated motivation which is implemented to reduce physical and psychological needs
                    that are critical to our survival and physical well being. We eat because we are hungry even though eating does not
                    mean we are hungry. We cannot definitively state that a person who is eating is hungry which is why ascribing motivation
                    is subjective. We know that a person who is hungry will eat, but we cannot attribute hunger to a person simply because
                    they are eating. A Motive is an internal mechanism that directs behavior which is often used to describe motivations
                    that are learned, rather than biologically based. You study for a college course to get a good grade. Since this
                    is not biologically driven (we have no biological mechanism driving us to get a good grade) then we say there must
                    be a “motive” behind your study (rather than a drive). You are listening to these lectures because you have a desire
                    (a motive) to get a good grade. Those who do listen to the lectures usually do much better than those who do not!
                    Incentives are goals that are either objects or thoughts that we learn to value. We are motivated to obtain these
                    goals. They do not have to be in the real world. Incentives can be found only in our minds. They can be thoughts
                    that we learn to value and we are motivated to obtain.
                    <br>
                    <br>
                    <strong>Intrinsic motivation</strong> is the desire to engage in an activity for its own sake. You can remember that it is
                    internal because it starts with the word “IN”. When you do something without any desire for an external reward it
                    is due to
                    <strong>intrinsic</strong>
                    motivation. An intrinsic behavior might be when you volunteer at the local food bank to help the less fortunate. You do not
                    want money or fame. You do not want praise for doing the job. You simply do it because it makes you feel good or
                    because (in your mind) it is the “right thing to do”. The behavior fulfills your beliefs or expectations of yourself.
                    On the other hand
                    <strong>extrinsic motivation
                    </strong> is the desire to engage in an activity to achieve an external consequence (e.g. a reward). For instance
                    an extrinsic motivation would be working at the food bank to get a pay check. Unfortunately politicians are at a
                    disadvantage in this case. When we see a politician working for the food bank our first thought is that they are
                    working to get our vote. The politician may be interested in helping others and may not be doing it for our votes,
                    but we do not see it that way. Again - we cannot measure motivation directly. It is subjective! Even if the politician
                    says they did not want the exposure, we don’t believe them.
                    <br>
                    <br>
                    <strong>Instinct theory</strong> gives us an idea of why we have motivation in the first place. This is the view that certain
                    behaviors are determined by innate “biological” factors. Humans supposedly do not have these fixed action patterns.
                    We certainly have instinctual behaviors, but they are very basic behaviors. See the development unit to get an idea
                    of all the reflexes that are built into the human biology. Other animals have more complex behaviors that are built
                    into their systems. We call thee patterns of behavior - found in every animal within a species -
                    <strong>Fixed Action Patterns</strong>.&nbsp; Saint Francis once tried to give a sermon but the swallows in the area were
                    very noisy. He asked them to be silent for his sermon and they did. This is the legend of the swallows of Capistrano.
                    The swallows migrate every year between Argentina and California. They return every year at nearly the same time.
                    It is an extraordinary migration. They are “Driven” since it is most likely a biological directive. Since it requires
                    many different physiological behaviors we call it a Fixed Action Pattern rather than simple instinct. Fixed action
                    patterns are genetically based behaviors that are seen across an entire species.
                    <br>
                    <br> Salmon spawn in fresh water streams and then they die. After the eggs hatch the young salmon live for a year in
                    the fresh water before traveling downstream to live in the area between the stream and the ocean. For another year
                    they become accustom to the salt water before venturing out into the deep ocean. At around 6 years of age they return
                    from the ocean to the exact same stream where they were spawned. Now going down stream to the ocean is not a simple
                    feat. Many of these streams have waterfalls and the fish fall over the water fall on their way to the ocean. However,
                    that is not as amazing as the 6 year old salmon who swim
                    <span style="text-decoration: underline;">UP the water falls</span> to return to the location where they were spawned! It takes a lot of power to push up the
                    water fall and when they break the surface of the water at the top of the falls, they leap into the air, where bears
                    are waiting to catch them! It takes so much energy to get back to the spawning grounds that after laying and fertilizing
                    the eggs the adult salmon die. They used up all their energy to continue their species. These behaviors are called
                    “fixed action patterns”.
                    <br>
                    <br> The view that a biological need exists when there is an imbalance that threatens survival and produces a drive to
                    return to normal is called
                    <strong>Drive Theory</strong>. The word
                    <strong>Homeostasis</strong>
                    means the body’s tendency to maintain a biologically balanced condition. When we are out of homeostasis ( out of balance)
                    there is a desire to reduce the condition and return to a stable biological status. This does not explain all behavior.
                    For instance there are people who love to jump out of perfectly good airplanes or go white water rafting. All mammal
                    children show play behavior and curiosity. None of these behaviors is currently explained through the idea of homeostasis
                    or Drive theory and not all drives are equal.
                    <br>
                    <br> We observe that some drives and motives are more powerful than others. Some researchers study differences in motives
                    and drives. One study wanted to answer the question “is hunger more motivating than the desire for pleasure (sex).”
                    This experiment was performed prior to independent review boards. It was done over a decade before the independent
                    review boards existed. The experiment would not be allowed to proceed as they did today.
                    <br>
                    <br> The sex vs hunger experiment:&nbsp; In the 1950’s James Olds and Peter Milner did a number of experiments with rats
                    and stimulation of the pleasure center of the brain. Rats with implanted electrodes would press a bar over 7000 times
                    an hour to get brain stimulation in the pleasure center until they dropped from exhaustion. Then they trained rats
                    to cross a very large cage to press a bar (a lever) to get this stimulation. When they pressed the right lever they
                    would get the stimulation and then they would have to cross to the other side to press the left lever to get the
                    next stimulation. They had to go back and forth across the cage. Then they placed an electrical grid in the middle
                    of the cage. It was large enough that they could not jump over it. They had to touch it to cross to the other side.
                    Other rats were trained the same, but they got food for pressing the lever.&nbsp;
                    <br>
                    <br>
                    <img alt="Skinner box pic" src="img/Rat_box.png" style="width:100%;">
                    <br>
                    <br> The rats who got food would cross the electric grid and get a static shock. Then the electricity was turned up and
                    the shock became stronger. The shock caused the muscles of the rats to convulse and they jumped as they hit the grid.
                    The shock got larger and their feet started to burn. The rats would then refuse to cross the grid and would starve
                    on the other side. Those that got an electrical stimulation of the brain (in the pleasure center) crossed the grid
                    even when their feet burned. They crossed the grid as their hair burned and their feet blistered. They crossed it
                    until the electrical jolt was large enough to electrocute them to death. The desire to receive pleasure is more powerful
                    than that to relieve hunger. It is unfortunate that our MOTIVE to do well in school is not as powerful as our DRIVE
                    to receive pleasure. Too many times we look for that "LIKE" on Facebook or wait for the return text from our special
                    someone (both of which produce a powerful pleasure sensation in the brain) instead of studying. </span>
                <span class="flow-text">
                    <span class="flow-text">We watch our favorite TV show (for the fifth and sixth times) rather than study. </span>We consume our favorite foods
                    instead of the reduced calorie foods we should be eating. Now that you know why you find all kinds of reasons not
                    to study, will it make a difference in your behavior??
                    <br>
                    <br> Many experiments from the history of psychology are horrible (like this one) and would not be allowed to be performed
                    today. Since 1979 Independent Review Boards (IRBs) require a change in the experiment if it is determined that the
                    subjects of the experiments (Humans and animals) are treated poorly.
                    <br>
                    <br> It's time for a break guys, and gals.
                    <br> Go get a cup of coffee.
                    <br> Go do something other than study (maybe play the hangman game).
                    <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                    <br> Take 15 minutes or so before you go to the next slide.
                    <br> Distributed learning is the best learning.
                    <br> We will continue the study of Emotions in the next lecture.
                    <br> Talk with you then.
                    <br>
                    <br>
                </span>
            </div>
        </p>
    </div>
    </div>
</div>