<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Emotion & Motivation (1)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Emotion_roar.mp3"
                                title="Katy Perry - Roar!">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
                <div class="flow-text">
                        
                
                    <span style="font-weight: bold; font-style: italic;">"There are two levers for moving men - interest and fear." Napoleon Bonaparte&nbsp; </span>
                    <span class="flow-text">
                        <br> Napoleon's quote gets to the heart of both motivation and emotion!
                        <br>
                        <br> Welcome to the unit on Emotion and Motivation. </span>
                    <br>
                    <span class="flow-text">Watch one or both of the videos below before you continue:
                        <br> Discovering Psychology Series - "Motivation and Emotion" is a 28 minute video.
                        <br> The Crash course in Psychology video is less than 12 minutes.
                        <br> I find that older students enjoy the Discovering Psychology video and
                        <br> the younger students like the Crash course videos.
                        <br>
                        <br>
                    </span>
                    
                    <div class="row">
                        <div class="col s12 offset-s0 m6 offset-m3">
                            <a href="http://www.learner.org/series/discoveringpsychology/12/e12expand.html" target="_blank">
                                <img class="hoverable" width="100%" src="img/motivation_icon.png">
                            </a>
                        </div>
                    </div>
                    <div class="video-container">
                        <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="https://www.youtube.com/embed/gAMbkJk6gnE?list=PL8dPuuaLjXtOPRKzVLY0jJY-uHOH9KVU6"></iframe>
                    </div>
                    First let’s discuss emotions and then turn our attention to motivation. Why do we have emotions? From an evolutionary
                    perspective emotions evolved to help us respond to important situations and to convey our intentions to others. Here
                    is how an evolutionary psychologist might explain it:&nbsp; In the bible, Cane was a jealous man and his brother Able
                    was very trusting. Out of jealousy Cane killed his brother. So, the trusting emotion died with Able and the jealous emotion
                    survived with Cane and was passed on to the next generation (Cane’s children) and all his future generations.&nbsp; I
                    do not want to misrepresent anyone's religious beliefs. This is only an example.&nbsp; Anyone who knows their bible knows
                    that none of us come from Cain or Able but from the third brother Seth.&nbsp; Of course most scientists would never have
                    used the bible as a reference anyway, but I find it a convenient reference!
                    <br>
                    <br> Emotions are a four-part process that involves subjective feelings, behavioral expression, physiological arousal &amp;
                    cognitive interpretation. Subjective feelings are the way YOU feel about a situation. Expressions are the outward patterns
                    of behavior that we display when we are in the middle of an emotional episode. Physiological arousal refers to the biological
                    changes which occur during an emotional episode. The cognitive portion of emotions is how you think about the event behind
                    the emotion.
                    <br>
                    <br> Emotional attributes were probably useful for survival- they were adaptive. For instance the world contains a great
                    many people who are fearful of snakes.&nbsp; If our ancestors loved snakes they might have picked up every snake they
                    saw.&nbsp; Eventually they would picked up a poisonous snake, get bit, and die,&nbsp; This would most likely happen before
                    they had a chance to have children of their own. Those who were fearful of snakes ran away and lived to have babies who
                    also were afraid of snakes (if fear of snakes is a biological pattern that can be passed on).
                    <br>
                    <br> Dr. Robert Plutchik (1927 – 2006) believed there were eight primary emotions. He thought they were: anger, fear, sadness,
                    disgust, surprise, anticipation, trust, and joy. He picked an even number because he believed that each was paired with
                    a polar opposite. He believed other emotions were developed by blending the basic emotions. This idea gave rise to the
                    “emotion wheel”.&nbsp; As you can see from the picture below each&nbsp; emotion has a polar opposite on the other side
                    of the wheel.&nbsp; For example: Joy is opposite of sadness and anger is opposite of fear.&nbsp; Some psychologists consider
                    other emotions as a blending of seven (rather than 8) basic emotions - one less than Dr. Plutnik believed. Researchers
                    have counted over 500 different emotional states.
                    <br>
                    <br>
                    <div class="images">
                        <div style="border: 0px solid white; padding: 10px; float: left; width: 320px; font-family: Arial;">
                            <div >
                                <img style="width:300px;" alt="Emotion weel" src="img/emotion_wheel.png">
                                <br>
                            </div>
                        </div>
                    </div>
                    <br> Emotional expressions are a means of communication. It is important for people to recognize and respond appropriately
                    to the emotions that others express.&nbsp; It builds bonds and avoids conflict.&nbsp; People with Asperger's syndrome
                    (now a part of the austism spectrum disorder) can't recognize emotions.&nbsp; This disconnects them from normal social
                    interactions. We communicate a great deal with facial expressions and they can not read the facial expressions. Interestingly
                    facial expressions are relatively the same throughout the world. A psychologist named Paul Ekman (1934 - ) studied facial
                    expressions around the world and his research revealed a universal constant in seven emotions. These seven emotions appear
                    in all cultures – even the most primitive ones. The seven are sadness, fear, anger, disgust, contempt, surprise and happiness.
                    <br>
                    <br> Each emotion can be expressed in varying degrees of intensity or levels of arousal. Psychologists studying arousal found
                    that arousal and performance can be graphed together in the shape of an inverted “U”. You may think that a team should
                    get “PUMPED UP” for an event and that - when evenly matched - the team that is the most “pumped” will win the game. The
                    coach that can get his team the most excited “aroused” will have the best performance and win the day. However, the inverted
                    “U” describes the relationship between arousal and performance; and shows that both low and high levels of arousal produce
                    lower performance than does a moderate level of arousal. So, we can say that too much emotional stimulation is bad for
                    performance. The coach that can get the team to the sweet spot and stop, will be the one that wins the day. As an aside:
                    It is interesting to note that the inverted U even shows up in economic theories such as the Kuznets curve.
                    <br>
                    <br>
                    <div class="images">
                        <div style="border: 0px solid white; padding: 10px; float: left; width: 320px; font-family: Arial;">
                            <div >
                                <img style="width:300px;" alt="inverted U" src="img/emotion_arousal.png">
                                <br>
                            </div>
                        </div>
                    </div>
                    The inverted “U” is a problem for Sensation seekers who are described as people that are addicted to the adrenaline rush
                    that comes when one is facing death. These people participate in extreme sports. They are putting their lives on the
                    line, and with death on the line the person’s emotional state is extremely high and their performance suffers! These
                    are individuals who have a biological need for higher levels of emotional stimulation than other people. These people
                    seek out behaviors that tend toward deadly. They enjoy the sensation of facing death. Their performance levels are no
                    different than the rest of us. So they put themselves at risk because the higher the level of emotion, the worse they
                    will perform. When you are facing death you want to perform your best. To paraphrase part of the script from “A Princes
                    Bride”: One should never be physically compromised when death is on the line.
                    <br>
                    <br> We all have scripts (how we are supposed to act) that address emotion.&nbsp; The scripts of our life change depending
                    on our culture. When a person from one culture interacts with another there can be numerous issues. Here is an example
                    of Social/cultural responses interacting with scripts: In the United States when we find ourselves waiting in our car
                    to turn right, and someone stops and lets us in, we wave thank you. If you are in Greece and a driver lets you in line
                    and you give a “thank you” wave, it means “I wipe excrement on your face”. The driver will not react the way you think!
                    The driver will not have the emotional reaction that you expect? Scripts are important and they are different between
                    people and cultures! You need to know them when you travel abroad. Your personal/cultural script may not transfer well
                    to another person or culture.&nbsp; My father was a CDR in the US Navy.&nbsp; He traveled to Brazil on one of his assignments.&nbsp;
                    He had some leave time and there was a John Wayne movie (Sands of Iwo Jima) playing in the town, so he went to watch
                    the movie. John Wayne is a Marine Sergeant, and he and his men land on the beach with bullets flying and grenades exploding.&nbsp;
                    John Wayne is behind a sand dune with some of his men and his captain is behind another dune nearby.&nbsp; The captain
                    yells to John Wayne to take out the machine gun bunker and John gives him the American OK sign.&nbsp; The entire theater
                    bursts out in laughter.&nbsp; Why?&nbsp; The American sing for OK is the Brazilian sign for&nbsp; - well we extend the
                    middle finger in the US.&nbsp; So the captain told him to take out the bunker and John Wayne gave him the finger!&nbsp;
                    Seriously funny!&nbsp; A cultural miscue. This is why the President of the United States has a foriegn office.&nbsp;
                    When a foreign dignitary is coming to town, the president is instructed on what NOT to do (like serve pork to the Saudi
                    representative).
                    <br>
                    <br> What Influences emotions? Emotions result from an interaction of social/cultural, biological, mental and behavioral
                    processes.&nbsp; Some cultures are taught to hide emotions while others are taught to show them. For instance: Asian
                    cultures tend be more stoic - which means non-emotional. Italian men cry when they are sad, but men in the US are told
                    that “men don’t cry”. However, suppressing emotions can cause physiological damage. We will discuss this in the unit
                    on “stress and health”. We already discussed scripts and how differing cultural scripts may produce differences in emotional
                    states. Biology also plays a role in emotions. There is reason to suspect that our sex (part of our biological make-up)
                    plays a role in emotion. For instance: the psychological pathologies of Panic Disorders and Depression are both related
                    to emotion and they appear more often in women than in men.
                    <br>
                    <br> What is the neuroscience (the brain) connection to emotions? Emotions respond differently depending on the parts of
                    the brain’s anatomy that connects to it. For instance: the memory systems influence emotions. The Implicit memory system
                    responds quickly which means emotions connected to it will also respond quickly. The fight or flight syndrome is one
                    such emotional system. When a gunshot goes off you do not have to think about it. You react rapidly to decide if you
                    are going to fight or run or duck and cover. Slower emotions may be tied to explicit memory systems and the cerebral
                    cortex. In the biology sections we talked about the reticular activating system (RAS). It is the general arousal system
                    of the brain. If it shuts down you go to sleep. If you speed it up you appear emotionally charged. We are all slightly
                    different biologically. No two people are exactly the same. If a person’s RAS is more active than another, they will
                    appear to be more emotionally charged. The limbic system controls hormone release into the blood stream. Many of those
                    hormones affect your emotions. The Amygdala is well correlated with the fear response. For instance; say you are one
                    of the people deathly afraid of snakes and you see one. You react with fear. You run away. The hormones in your blood
                    cause your heart rate to increase, and your breathing to increase. You are sweating and shaking. Even after you get away
                    from the snake and know logically that you are safe, you still feel all the physiological effects of the hormones caused
                    by the fear reaction. You will continue to do so until they are metabolized (broken down) and removed from your system
                    by the liver and kidneys.
                    <br>
                    <br> It's time for a break guys, and gals.
                    <br> Go get a cup of coffee.
                    <br> Go do something other than study (maybe play the hangman game).
                    <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                    <br> Take 15 minutes or so before you go to the next slide.
                    <br> Distributed learning is the best learning.
                    <br> We will continue the study of Emotions in the next lecture.
                    <br> Talk with you then. 
                </div>
        </p>
    </div>
    </div>
</div>