<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Emotion & Motivation (7)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Emotion_i_will_survive.mp3"
                                title="Gloria Gaynor - I will Survive">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
            
            
                <em>
                    <strong></strong>
                </em>
                <span class="flow-text">Welcome back to the last lecture of emotion and motivation. Gloria Gaynor's song is a terrific way to introduce the last
                    unit on motivation.
                    <br> I will survive!
                    <br>
                    <br>
                </span>
                <span class="flow-text">
                    <span class="flow-text">We just finished talking about the motivations for hunger, and w</span>e saw an experiment that compared the power
                    of pleasure to that of hunger in rats. Now let’s discuss the motivations for sex. In both males and females.&nbsp;
                    The most powerful sexual organ is - the brain. Whatever activates the pleasure center of your brain, whatever it
                    finds attractive, is what you will find attractive. Whatever turns you on is what your brain finds arousing. For
                    men that’s just about anything - just kidding.&nbsp; The brain reactions can be seen in children as young as 9 years
                    old.&nbsp; It isn't a sexual feeling at that age, but a feeling of mild attraction.&nbsp;&nbsp;
                    <br>
                    <br>
                    <strong>Sexual scripts</strong> – Each of us have scripts of acceptable social behaviors. Part of those scripts are related
                    to sexual behaviors. Sexual scripts are organized in your brain by gender, class, ethnicity, culture and other social
                    variables. We can say they are socially learned ways of responding in sexual situations. The scripts are created
                    through family, culture and religious attitudes. They are not solely how to behave but are also used to classify
                    behaviors as sexual or not. Some behaviors we all agree are sexual, but is kissing on the cheek sexual? Is holding
                    hands in public sexual? Some people think so. When people interact with different scripts, major problems can occur.
                    <br>
                    <br> My family loves to hug and kiss and touch. But I can’t go around touching and hugging indiscriminately. My wife’s
                    family was not a touchy feely family. I could not hug my father in law. When I got married, people would ask me “what
                    do you call your mother in law, and I would say "MOM". What do you call your father in law, and I would say “SIR”!
                    We have finally come to an agreement and I can hug him, but I would not try to kiss him on the cheek! We found a
                    compromise. That is what life is all about. My wife and I both like dogs.&nbsp; She likes Poodles and I like Shelties.&nbsp;
                    We have 6 cats; compromise! When your sexual script does not match someone else’s, you need to compromise! Have you
                    ever seen the movie “My Big Fat Greek Wedding”? That was our wedding! Her family is not nearly as touchy as mine
                    and her family is not nearly as large as mine! When we were first dating my wife would not hold hands in public.
                    We will talk more about how my wife and I met and the interactions we had in our first few years in the social psychology
                    section. When I was a manager in charge of a number of employees, they would be working on fixing computers or programming
                    and I would walk up behind them to see how they were doing. I would place my hand on their shoulder as (what I thought)
                    was a comfort signal. I was trying to tell them “I am not here to bother you or cause trouble. I am just here to
                    see how things are going and make sure everything is all right, how you are doing? Is there anything you need?” One
                    of my female employees felt violated. You have to recognize there are people in the world with different scripts
                    than yours. You have to find compromises when you interact with those people. I entered her personal space.
                    <strong>Personal space
                    </strong> is the physical space immediately surrounding someone, into which any encroachment feels threatening or
                    uncomfortable for them. Each person defines their own personal space. Culture plays a role in this as well. An anthropologist
                    named Edward Hall defined the study of personal spaces as
                    <strong>
                        proxemics</strong>. He defined different aspects of our personal spaces from public space to intimate space.
                    <br>
                    <br>
                    <img alt="Hall's  proxemics" src="img/Motivation_Personal_Space.png">
                    <br>
                    <br> The distances on the chart are different for each person and each culture. For instance in the middle east personal
                    space is around 1 and a half feet while in America it is 4 feet. In Japan it is closer to 5 feet. Anyone entering
                    your intimate space can be considered sexual contact. Touching my employees was entering their personal space. My
                    female employee considered it sexual harassment. I had to change my behavior, not only for her, but for all my employees.
                    Instead of touching them, I pulled up a chair and sat down next to them. I would never have considered my behavior
                    sexual, but it is NOT my objective view that matters. It is her subjective view that matters!
                    <br>
                    <br> As defined in Wikipedia: A
                    <strong>gender role</strong> is a set of societal norms dictating the types of behaviors which are generally considered acceptable,
                    appropriate, or desirable for people based on their actual or perceived sex or sexuality. These are behaviors, attitudes
                    and personality traits that society designates as masculine or feminine. Gender roles greatly influence the way we
                    think and behave. As a male there are specific ways that men are supposed to behave and roles they should play defined
                    by each society’s norms. In the 1950’s men joined the army and women did not. Women ran the house and – if they joined
                    the workforce – they were secretaries. We had protective mechanisms in place to protect the so called weaker sex.
                    Those gender roles have changed. We see men as nurses and women as doctors today. However, other countries are very
                    different. In Israel men and women join the army and participate in combat! It isn’t that women in the United States
                    can’t fight. It is society that determined the “proper” roles for different sexes. The term gender roles is actually
                    a bad use of the word. We actually mean what roles each sex can fit into, but “sex role” sounds pornographic! Sex
                    and gender are different.
                    <br>
                    <br>
                    <strong>Gender Identity</strong> is what an individual’s subjective experience of being male or female is - irrespective
                    of their biological physical accoutrements. It does not matter what another person would say seeing you naked. They
                    might want to determine your sex by how you look, but your gender identity (do you feel like a male or a female)
                    is in your brain. People can’t see how you brain is wired. You may have a masculine gender identity but may not have
                    the masculine accoutrements. How masculine or feminine a person feels is on a sliding scale. For most people their
                    gender fits their sex and we call this
                    <strong>cisgender
                    </strong>, but there are approximately 5% of the population that have a different gender feeling from their physical
                    accoutrements.
                    <br>
                    <br> We are so used to&nbsp; pointing out that people are black or white.&nbsp; That isn't true.&nbsp; It is a false
                    dichotomy.&nbsp; I have seen a white person, they are called Albinos.&nbsp; Except for a picture, I have never met
                    a black person.&nbsp; I know a lot of brown people.&nbsp; Except for the albino and that one person with truly black
                    skin, we are all shades of brown!&nbsp; There is olive, tan, caramel, ochre, coffee - to name a few. Skin color is&nbsp;
                    not simply Black and White and neither is the feeling of gender.&nbsp; People believe there are only two "genders"
                    which is called
                    <strong>gender binary, </strong>but even they have issues with gender when it does not align with the physical properties
                    of the person.
                    <strong> </strong>Why is it that in the Unites States a girl who likes to do boy things is easily identified and accepted
                    as a
                    <strong>Tom Boy</strong>, but a male that likes the female activities is not acceptable as a
                    <strong>Terri Girl</strong>?&nbsp; Of course there is the term - metrosexual - but again that refers to gender activities
                    not sexual attraction!&nbsp;
                    <br>
                    <br> Another part of the sexual human being is what attracts them erotically. This also comes from a separate part of
                    the brain. So it may not match your physical and gender identity.
                    <strong>Sexual orientation
                    </strong> is one’s erotic attraction toward members of the same sex, the opposite sex, or both sexes. Most of us
                    are Heterosexual, but there are homosexuals, bisexuals and people who are asexual (people who feel no erotic attraction
                    at all). One sexual encounter does not make you homo, hetero or bi. You may not yet be able to identify what excites
                    you (much like the person who does not know they are getting angry) and they are questioning themselves and their
                    attractions. This type of individual is called a qsexual - someone who is questioning how they feel and not certain
                    yet where they are on the spectrum. </span>
                <span class="flow-text">
                    <span class="flow-text">I do not mean to be funny, but science fiction has given us the expression
                        <strong>omnisexual</strong>
                        - which means the person's sexual attraction is not limited to humans!&nbsp; The second person ever put to death in the colonies
                        (Thomas Graunger) was hanged for omnisexual behavior.
                        <br>
                    </span>
                    <br> The study of sex goes back many years to Alfred Kinsey. He was a biologist in 1947 and did some of the first studies
                    on sexuality in the Unites States. He used self-report interviews. That means he sat down with the subjects and asked
                    them questions about their sexual behavior. I can’t imagine how he did it! If I asked you some of the questions he
                    asked people, I would fear a punch in the face!! Kinsey is the father of
                    <strong>sexology</strong>, which is the systematic, scientific study of human sexuality. His books Sexual Behavior in the
                    Human Male published in 1948, and Sexual Behavior in the Human Female published in 1953 are still some of the bestselling
                    scientific books of all time. Because of Kinsey’s work and his ability to acquire information about all kinds of
                    sexual behavior, the APA removed homosexuality from its list of mental illnesses in 1973. Prior to 1973 a homosexual
                    could be put away for mental illness. After 1973, it was recognized as just one aspect of the varied spectrum of
                    human sexual conditions.
                    <br>
                    <br> The question remains, what are the origins of sexual and gender orientation. How does one turn out feeling male
                    in a female body or vice-versa. Is it a choice or is it biology? It turns out to be a little of both! The Biosocial
                    theory of gender believes it is biological hormonal connection in the womb combined with social interactions once
                    we are born. For example - the female role as “child bearer” sets a standard for sexual behavior and is one of the
                    ways we develop a gender identity. Our parents and then society treat us a specific way defined by the sex organs
                    with which we are born. Biological evidence for gender identity can be found in the percentage of Male Homosexuals
                    born as the second male child if there are no other children between them. Is this caused by a strong connection
                    to the older sibling, or is it a biological change that occurs in some women after the first son is born? Even if
                    the first male child was still born or miscarried the second male can still be homosexual. That eliminates the idea
                    of the older male sibling being a factor. There are examples that show how biological factors can change over multiple
                    births and influence and impact the development of a child in the womb. The HR factor is one such example.
                    <br>
                    <br> What is your blood type? It could be A+ or A-, or AB+ or AB-&nbsp; or O+ or O- (the
                    <strong>universal donor</strong>) and some lesser known possibilities. What do the plus and negative signs indicate? Why
                    is O- a universal donor? </span>
                <span class="flow-text">
                    <span class="flow-text">Since O blood can live with A or B blood the O- blood type can be donated to anyone regardless of the receiver's
                        blood type. </span>Most people today have no idea what the Positive and Negative blood specification indicates.
                    The
                    <strong>HR factor</strong> is a protein in the blood. If you are negative you do not have it. If you are positive it exists
                    in your blood. The factor is inherited. Some people think it came from Neanderthal genetics. If you are a positive
                    male and you marry a negative female and have a child, the child might be positive from the father! The mother’s
                    body sees the positive fetus as an invading organism and attacks it and develops antibodies to kill it. The first
                    pregnancy does not produce enough to harm the child, but if the second child is also positive the body produces even
                    more antibodies and kills the second fetus. In the past, you had to marry based on your blood type HR factor. Today
                    we do not care, because we have drugs to stop this from happening! Drug companies do produce useful chemicals!
                    <br>
                    <br> Knowing how the RH factor works - and knowing how different a male child is - we can certainly assume the the difference
                    is enough to cause a reaction during the first male child's pregnancy – the second male could then be affected even
                    more and be modified in the womb and become homosexual? Another example of the biological connection comes from research
                    done by Simon Levay. He showed differences in the hypothalamus between homosexual (smaller) and heterosexual (larger)
                    males. The verdict is still out on this evidence. More evidence of biological factors comes from experiments with
                    monkeys and testosterone injections. Testosterone prenatally injected into the womb changes female rhesus monkeys
                    fetuses. They act more like males when they are born simply because there was testosterone in their mother's system
                    while they were developing.
                    <br>
                    <br>
                    <strong>Hermaphrodites </strong>are another example that shows that sex is not simply male or female. Hermaphrodites are
                    children born with both sex organs. One is usually better formed than the other. This occurs at about 1 in every
                    14,000 births. Since there were almost 4 million babies born in the U.S. in 2015 that means there were approximately
                    290 hermaphrodites born in the U.S. in 2015. Besides hermaphrodites there are other people who show that sex and
                    gender are not simply choices. For example: there can be hormone problems during prenatal development.
                    <strong>Complete androgen insensitivity syndrome (CAIS)</strong> is a condition that results in the complete inability of
                    the body’s cells to respond to specific hormones. The only reason a fetus becomes a MALE is because it reacts to
                    the hormones being produced in the womb. In this case an XY male ends up looking exactly like a female, because the
                    developing fetus does not react to the testosterone! Think about it – the perfect assassin. Any genetic evidence
                    left behind would indicate an XY assassin, but the person is ALL FEMALE.
                    <br>
                    <br> Why is all this important to psychology? Obvious there are mental issues related to ambiguity of sex in children.
                    Do you want your doctor to say “congratulations you have a little – uh – we’ll get back to you”. More importantly
                    I want to show that there are biologically related issues in some sexual orientations. It isn’t as simple as some
                    would have you believe! It is not a choice! As a point to those who always believed it was a choice, rather some
                    biological motivation - It is not a choice how these humans feel, but - I will give it to you that it is a choice
                    if they decide to follow how they feel. However, I can tell you, I need to lose weight! I am Obese. I know I should
                    not eat as much sugar as I do, but I crave sugar! I can try to ignore my desire for sugar, but I will then think
                    about it all day long!! Ignoring my craving will cause me obsessive psychological issues.&nbsp; Of course my craving
                    for sugar is an addiction, but I hope you get the idea that denying who you are is not psychologically healthy.
                    <br>
                    <br> That is all for this lecture series guys, and gals.
                    <br> Go get a cup of coffee.
                    <br> Go do something other than study (maybe play the crossword puzzle).
                    <br> There is one crossword puzzle for the entire unit, and we just finished the Unit!
                    <br> The hangman games are made for each slide.
                    <br> Take 15 minutes or so before you go to the next slide.
                    <br> Distributed learning is the best learning.
                    <br> We will continue the study of Psychology in the next lecture series.
                    <br> Talk with you then.
                    <br>
                    <br>
                </span>
            </div>
        </p>
    </div>
    </div>
</div>