<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Emotion & Motivation (2)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Emotion_teenager_in_love.mp3"
                                title="Marty Wilde - Teenager in Love">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
                
                
                <span style="font-style: italic;">
                    <span style="font-weight: bold;">"Anyone can become angry. That is easy. But to be angry with the right person, to the right degree, at the right
                        time, for the right purpose, and in the right way, this is not easy". ~ Aristotle</span>
                </span>
                <span class="flow-text">
                    <span style="font-style: italic;">
                        <span style="font-weight: bold;"> </span>
                    </span>
                    <br>
                    <br> Welcome back to the second lecture in of our series of lectures on emotion and motivation were talking about emotions.
                    We just finished talking about some of the neuroscience of emotions. We discussed the reticular activation system
                    and the limbic system which are part of the brain structures that pertain to emotions. The Cortex - the upper area
                    of the brain - is also involved in interpreting events. We have talked about the lateralization of the brain. Now
                    let me give you another term (
                    <strong>lateralization of emotion</strong>). It is interesting that the right hemisphere of the brain (which controls the
                    left side of the body) specializes in negative emotions like anger and depression, while the left hemisphere (which
                    controls the right side of the body) specializes in positive emotions like happiness. Students have asked me “are
                    people who are left handed - who are mostly in the right hemisphere of the brain - more negative than those people
                    who are oriented in the left hemisphere?” I do not know of any research studying that particular issue. I don't know
                    the answer, but it is an interesting question that shows the student was thinking like a scientist.
                    <br>
                    <br> The thalamus is the brain’s relay station and has connections to numerous other parts of the brain. These connections
                    are probably not built into the brain at birth. They are not innate. We learn these connections through operant and
                    classical conditioning. We know that as we learn the brain creates new connections. We learn what we are afraid of
                    and we probably make connections between many parts of the brain based on those fears. The Thalamus probably responds
                    to them. The thalamus may play a role in stimulating the fear response before we are actually consciously aware of
                    the threat that exists.
                    <br>
                    <br> As I discussed in the biological unit the Autonomic nervous system is broken into two parts (the sympathetic and
                    parasympathetic systems). Pleasant situations activate the parasympathetic nervous system and unpleasant situation
                    activate the sympathetic nervous system. In an unpleasant situation you're getting ready to run or fight. The sympathetic
                    system is preparing you to meet the dangerous situation in your environment.
                    <br>
                    <br> We have already discussed hormones which are chemicals that are released into the body by specific glands. Serotonin
                    is involved with depression and we know that there is actually a gene that is specific to producing serotonin on
                    one of our chromosomes. We can review the genetic structure of a person and look at the serotonin genes (on Chromosome
                    number 17). We know that people who have two long serotonin genes do not get depressed as often, and when they do
                    get depressed they don't stay that way as long as the people who have the short version of the gene. This shows how
                    genetics plays a role in emotions.
                    <br>
                    <br> Adrenaline is the hormone involved in the fear response and Noradrenaline is involved with the emotion for Anger.
                    Hormones are released to affect other parts of the&nbsp; bodies systems. When they are released by their specific
                    gland they flow through the blood system and interact somewhere else in the body. They can increased heart rate and
                    increase blood pressure. They can cause you to sweat and can cause you to breathe faster or slower depending on which
                    hormone is flowing in the blood. Once hormones are in the blood the only way to stop the body from reacting to them
                    is to metabolize (break down) the hormones. Hormones take a long time before they affect the body (they have to flow
                    through the blood), but then their affect is felt for a long time. We already discussed what happens when you see
                    a snake and are afraid of them.
                    <br>
                    <br> One type of hormone that is man-made is called a steroid. There are lots of different types of steroids. Let’s talk
                    about one type that I myself have taken the in the past which is called cortisone. It's given to people who have
                    bursitis or tennis elbow. It takes the pain away pretty easily. It gives a sense of relief when you first take the
                    hormone. If you continue to take hormones it can lead to rapid anger responses. If you continue to take it after
                    that, it leads to rage and a much higher rate of depression. Do you know someone on steroids? You may notice that
                    their emotional state has changed. They may normally be a nice calm individual but now they are quick to anger. People
                    who take steroids without doctor supervision and take too many steroids to enhance their performance are causing
                    their body stress. Hormones keep your body at a higher level of metabolism. High metabolism is stress. Too much stress
                    over a long period of time is harmful to your health as we will discuss in the Stress Unit.
                    <br>
                    <br> When I have a large allergic reaction the doctor prescribes prednisone (which is another hormone). It is always
                    given in a large first dose and then slowly tapered down to nothing. When I am on prednisone I am quick to snap.
                    Little things that I would normally ignore “set me off”. I have to remember the agitation (anger) is due to the steroids.
                    I would normally be able to control my emotions, but on steroids it is harder to do so. Remember emotions trump thoughts!
                    <br>
                    <br> We see sports personalities getting into trouble all the time. When a person like that has a hard time controlling
                    their emotions, we can assume - with a fair amount of accuracy - that they are on steroids and have been for a long
                    time. Not only are they becoming enraged often and getting into trouble with the law, they are also destroying their
                    internal organs due to the stress on their body systems. Steroids have their uses but like any drug with side effects,
                    they should not be taken on long-term basis.
                    <br>
                    <br> There are two main theories about human emotions. They are very similar. The first is the James-Lang theory (yes
                    William James). This theory says that an emotion-provoking stimulus produces a physical response that in turn produces
                    an emotion. We normally think of this as backwards. The theory says that we cry first and then we feel sorry. First
                    we tremble and then we feel angry. We usually think that the emotion produces physical response. I do not particularly
                    hold to the James-Lange theory.
                    <br>
                    <br> Just because a theory works does not make that theory the one and only explanation. Theories are good for their
                    predictive value however just because the theory can predict an event does not mean that there isn't another explanation
                    especially when there are confounding variables like past learning which occurs in humans. When we are studying humans
                    - they have a lot of history behind them. Consider classical conditioning. As children we have an emotion and we
                    react to it. That reaction and the emotion become connected. Later, as adults, we have the physical reaction and
                    it could then be followed by the connected emotion.
                    <br>
                    <br> The other theory is the two factor theory which states that Emotion results from the cognitive appraisal of the
                    physical response and the emotion provoking stimulus. The only real difference between the two is the thought that
                    is involved in considering the event that produces the emotion. Remember that cognitive psychologists believe in
                    the cognitive processes and behaviorists do not.
                    <br>
                    <br>
                    <span style="font-weight: bold;">Show the VISUAL of the two </span>
                    <br>
                    <br> Although emotional responses are not always consciously regulated we can and should learn to control them. There
                    are people who will teach control of emotions, especially anger. Anger management is a type of therapy for people
                    who cannot control their anger responses. All emotions are OK! All behaviors are not! We can teach people to consciously
                    regulate their emotions. However, there are times that are more difficult than others. There are lots of different
                    ways you can react to a specific situation. What would you do if a waitress spilled a cup of coffee on you? You are
                    out with a whole bunch of friends getting sandwiches and the waitress comes over and spills coffee on you. The coffee
                    is not so hot that it burns you. Let’s think about your possible reactions. You can joke about it. That's one emotional
                    reaction you can have. You can ignore it completely or you can get up and scream and holler and jump up and down
                    and threaten to get the waitress fired. You choose which one is most appropriate. Which one is more appropriate?
                    Screaming and hollering doesn't really do anything and having her fired is retribution. You might want to ask for
                    money to have your suit dry-cleaned. You can negotiate intellectually if your emotions do not control you. However
                    let's take into consideration what might have happened to you earlier in the day. You woke up and the alarm clock
                    did not go off so you were 45 minutes later than normal. You run and get dressed and notice that the dog decided
                    not to wait for you and left a nice steaming pile of poo on your floor. You throw him outside and clean up the poo
                    and feed the dog. Outside you find that something fell on your car that night from a tree and embedded itself in
                    your convertible roof. You pull it out and find out you forgot to get gas the night before, so you have to stop for
                    gas. When you get to work the boss is all in your face about being late. You get to the restaurant with your friends
                    and the waitress spills a cup coffee on you. What is going to happen? You are going to jump up and down and scream
                    and holler and threaten to get her fired! The events of the day will influence your emotional reactions. Why? Because
                    emotions interfere with thought. When you are highly agitated already, you are not thinking clearly. You are going
                    to go off! You are not going to pay attention to consciously regulating your emotions. That is what anger management
                    tries to teach you to do. Consciously regulate your emotions. Anger is an emotion, and it is OK to be angry. However,
                    some people do not recognize their own emotional state.&nbsp; They do not have a large amount of
                    <strong>Emotional Intelligence</strong>. They do not feel anger until they are enraged and at that point all thought is gone!&nbsp;
                    Anger management does not teach you to reduce anger. Anger is a proper emotional response to certain situations.&nbsp;
                    Some people need to be taught to recognize the cues that tell them that they are getting angry.&nbsp; Anger management
                    also teaches proper reactions to anger.&nbsp; For instance: if at all possible, remove yourself from the situation
                    before you get enraged.
                    <br>
                    <br> Why do we attempt to control our emotions? We have display rules. There are permissible ways of displaying emotions
                    in particular societies. Some societies teach to hide emotions while others teach to display them as we've talked
                    about - men in Italy can cry while men in the U.S. can’t. If you are in a very large community like New York City
                    - which has more people in the entire state of North Carolina - then you don't want to be walking down the street
                    on a sidewalk with five thousand other people and show a strong emotion.&nbsp; That strong emotion will be picked
                    up by others around you and sooner or later you're going to have a riot on your hands, so there are display rules.
                    You tone it down when you're around a whole bunch people In a riot situation people are not thinking clearly. Why
                    would you riot and burn your own neighborhood down. If you are going to riot, then go somewhere else and burn their
                    neighborhood down so you can come back to your house. It is kind of stupid to be burning your own hose down! However,
                    people are not thinking when they are experiencing a highly emotional state.
                    <br>
                    <br> Emotional intelligence is being able to understand and control your emotions and emotional responses. Some people
                    do a great job while others are very bad at it. One aspect of emotional Intelligence might be considered our ability
                    to delay gratification. Put off the emotional gratification for a bigger reward later. A psychologist name
                    <strong>Walter Mischel </strong>(1930 - ) performed a number of experiments at Sanford University in 1960 to test delayed
                    gratification in children. Then he followed those children for a number of years and measured aspects of their lives
                    to see if there is any relation to delayed gratification. Another psychologist named
                    <strong>Daniel Goleman</strong> (1946 - ) wrote a book about the experiments called “
                    <strong>Emotional Intelligence
                    </strong>” in 1995. Until then the experiment had little impact on psychology, but the book became a best seller
                    and the experiment became a sensation! I mention this because science is not always as aware of itself as you might
                    expect. The book made the experiment famous, but the experiment had a right to be famous much earlier simply based
                    on its own merits. The results should have been enough, but the experiment was lost in the avalanche of publications.
                    How many others are out there, waiting to be re-discovered?
                    <br>
                    <br> The children in the experiment were between 4 and 6 year old. They were questioned about themselves and one of the
                    questions was related to their favorite food. This experiment is called the marshmallow experiment simply because
                    the only video of the experiment included a child who liked marshmallows. The experimenter walked into the room with
                    a handful of the child’s favorite food. In this case marshmallows. He told the child they were going to count the
                    number of marshmallows. The first one was counted and laid on the table. The second one was counted, and as it was
                    placed on the table the door opened and an assistant said, “There is an important call for you doctor”. The doctor
                    still has a handful of the favorite food. He tells the child, “I have to leave for a moment and then I will be back
                    to continue counting. If you do not eat these two marshmallows, then you will be allowed to eat all the marshmallows
                    in my hand. If you eat those two on the table, you will not be allowed to eat any more”. He then leaves for 15 minutes.
                    The children’s reactions are being monitored through a two way mirror.
                    <br>
                    <br> Some children simply sit and wait for 15 minutes. Other children do not eat the marshmallows, but their reactions
                    are priceless. You can see the frustration in their faces. Those marshmallows are calling their names! They hit their
                    heads on the desk, they slap their heads, they turn their backs, and they moan and push the marshmallows around the
                    table tasting their fingers after touching the marshmallows. Then there is a group of children that can’t wait and
                    as soon as the door clicks shut, BAM! Those marshmallows are GONE! There is no ability to delay their gratification
                    and wait for the bigger reward. Which do you think you would be?
                    <br>
                    <br> After following up with these children a number of years later they found that there was a difference between the
                    group of children who could delay and those who could not. Those who could delay and did not eat the “small reward”
                    tended to have better life outcomes, as measured by SAT scores, the level of education they reached, their body mass
                    index and they showed less frustration in their lives and had more self-reliance making them significantly more competent
                    than the others who ate the small reward and never got the larger reward.
                    <br>
                    <br> Every parent knows that we teach our children how to delay gratification. “Eat your vegetables and then you can
                    have your desert!” “Yes we just bought Oreos at the store and you can have them when we get home!” “Be good all year
                    and Santa will bring you what you want for Christmas, Hanukkah, Kwanza – or whatever your faith has as a similar
                    holiday.” The problem as I see it is that we do not know if Delay of Gratification is learned or innate! If we teach
                    children who cannot control desire to do so will it produce the results seen in this experiment?
                    <br>
                    <br> We can put a little cookie on dog's nose and teach the dog to sit still until we say OK at which time it will eat
                    the cookie. We can teach dogs to control their behavior, so we could certainly teach children to control their behavior.
                    However, would it matter?&nbsp; They should have taken the children who could not delay their gratification and split
                    them into two groups. One group would then be specifically taught to delay their gratification and the other group
                    would not be taught. Then we could compare the children who were taught to delay gratification with those who did
                    so automatically. Maybe those children who delayed had been taught by their parents, or maybe it was some innate
                    ability. It’s important to know! Would teaching delayed gratification at an early age help the child to increase
                    their sat scores, give them less frustration and less stress in their life, give them more self-reliance? Or is it
                    something biological that is correlated to BOTH delay of gratification AND these other positive qualities? Remember
                    correlation does not mean causation!
                </span>
                <span class="flow-text">
                    <span class="flow-text">This experiment - as far as I know - has never been done!</span>
                    <br>
                    <br> It's time for a break guys, and gals.
                    <br> Go get a cup of coffee.
                    <br> Go do something other than study (maybe play the hangman game).
                    <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                    <br> Take 15 minutes or so before you go to the next slide.
                    <br> Distributed learning is the best learning.
                    <br> We will continue the study of Emotions in the next lecture.
                    <br> Talk with you then. </span>
            </div>
        </p>
    </div>
    </div>
</div>