<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Emotion & Motivation (6)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Emotion_knocked_down.mp3"
                                title="Chumba Wumba - I get knocked down">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
                
                Welcome back to lecture number 6.&nbsp; We are talking about Motivation.&nbsp; I think Chumba Wumba shows the courage of
                motivation to succeed.&nbsp; "I get knocked down, but I get up again.&nbsp; You're never going to keep me down".&nbsp;
                Failure is not measured by getting knocked down.&nbsp; Failure is not getting back up again. We will always make mistakes.&nbsp;
                Learn from them. Get back up and practice not making the same mistake again.
                <br>
                <br> Now let's talk about hunger as a motivator (drive). We think of hunger as motivated by many different states. This is
                described as the
                <strong>multiple-systems</strong> approach to hunger. We know the brain has blood monitoring sites that determine how much fat
                or liquid is in the blood and there is a set point that this level is measured against. If the level drops below the
                set point we ingest. If it falls above the set point we stop ingesting. Just like the varying degrees of the shades of
                skin color, everyone has a different set point!! If your set point is high then you may be heavier than a person whose
                set point is low! There is no blame associated with this! The body maintains what the body was born to maintain!
                <br>
                <br> Each of us is different enough that the signals we get from our stomach are not exactly the same, so again, the body
                gets what the body wants. We cannot claim that a person who is heavy is gluttonous. Although that might be the case,
                it could also be what their body’s set point is higher than others.
                <br>
                <br> We have a social need which not only determines when we eat but what we eat. Some religions determine if you can eat
                pork or not. Some determine that you do not eat meat on Fridays. There are cultures that are vegetarian. Many of us eat
                at noon because it is lunch break. You see, there are many reasons for eating. The most interesting to me (first trained
                in biology) is the brains mechanisms. This also has an interesting history.
                <br>
                <br> We also know that a distended stomach sends signals to stop eating. An experiment was performed on flies in 1967 by
                a neurologist named Gelperin. He cut the feedback from the stomach of the fly. It drank sweet water past the point where
                the signal would have told it to stop. It continued to drink and drink and drink until -- it exploded! Forgive me. I’m
                sorry I find that funny!&nbsp; When discussing body weight,
                <strong>homeostasis </strong>refers to the tendency of the body to maintain a certain level of body fat, liquid and body weight.
                Receptors have given “Set Points” in the brain that measure fat and sugar content in the body and measure this against
                the normal set point. When the set points are reached a trigger in the brain stops or starts eating behavior. We know
                where the mechanisms for eating are located! These triggers are in the
                <strong>Lateral Hypothalamus
                </strong> LHT (I feel hungry) and
                <strong>Ventromedial Hypothalamus
                </strong> VmHT (I feel full). If you stimulate the LHT in a rat the subject eats. If you damage the LHT in a rat the
                subject will starve to death because it never gets the signal to eat.&nbsp; If you stimulate the VmHT in a rat the subject
                stops eating. If you damage the VmHT in a rat the subject becomes fat (it overeats).
                <br>
                <br> Experiments have shown that a protein called “
                <strong>Leptin</strong>” in Mice binds with the VmHT to trigger the ‘Set Point’ to stop the rat from eating. Mice without Leptin
                become obese. OMG!! When these experimental results were released to the public there was a frenzy! People purchased
                millions of dollars of products that came on the market with Leptin! SO MANY PEOPLE would love to take a substance that
                makes them stop eating. WOW! However, later experiments showed that – although rat brains react chemically very similar
                to human brains - Leptin did not do the same thing in humans. We do produce Leptin, but human brains do not react to
                the Leptin the way rat brains do. If we have too little of it we eat, but too much of it does nothing. Overweight people
                already have large amounts of Leptin in their blood. It is created by fat cells. The more fat sells you have the more
                leptin is in your blood, but you keep on eating. It is called Leptin-resistance. Darn!! All those dollars wasted! Do
                you know – they STILL sell leptin products? People are so gullible! Another example of poor thinking in the human species
                – jumping to conclusions and being manipulated by marketing campaigns that have only half of the truth. If there is one
                thing I would like you take away from these lectures it is to evaluate what you are told. Think about the alternatives!
                Is it possible you only have half the truth? Is it possible the statistics given to you are not being interpreted correctly?
                <br>
                <br> We all have a
                <strong>metabolic rate</strong>. Some of us have a high metabolism and others a lower one. The higher our metabolism the more
                energy we burn every hour of the day. Those with high metabolisms can eat more and will not gain weight. If you eat as
                much as another person but your metabolism is slower, well then, you are going to pack it on! The higher the activity
                of your body, the more calories you burn and the more you can eat. Sports figures work out a LOT! They burn massive amounts
                of calories at a much higher rate than the normal couch potato. At some point their career in sports will end. If they
                continue to eat the same amount, they will start to put on drastic amounts of weight. They will be taking in more calories
                than they burn off! BTW – Gatorade was made for athletes who burn calories. If you are a couch (or mouse) potato you
                have no business drinking it! You should not be drinking anything with sugar in it. When your body weight is 20% over
                the ideal body weight you are considered
                <strong> Overweight</strong>. When your weight is 30% over the ideal body weight you are considered
                <strong>Obese</strong>. There are multiple levels of the Obese stage, but it starts at 30%. The national cost associated with
                U.S. citizens being overweight and above was tallied in 2008 as over 100 Billion dollars!
                <br>
                <br> The
                <strong>Body Mass Index (BMI)</strong> determines this percentage. The BMI is calculated as follows:
                <br> Weight in pounds times 0.45 divided by (height in inches * .025) squared
                <br> If you are 68 inches and weigh 199 then the calculation would be:
                <br> (199 * 0.45) / (68 * .025)2 = 89.55/ 2.89 = 30.98 BMI
                <br> Now the chart for BMI is as follows:
                <br> Underweight = 18.5
                <br> Normal weight = 18.5–24.9
                <br> Overweight = 25–29.9
                <br> Obesity = BMI of 30 or greater
                <br>
                <br> Overweight and Obese are not words to describe a person’s beauty. There are people who are both overweight and obese
                who are beautiful and desirable. If you are happy with yourself, do not let others bring you down. Beauty is in the eye
                of the beholder and it is not simply skin deep.&nbsp; We will discuss the concept of beauty in the social psych unit.
                The words Overweight and Obese describe your susceptibility to unhealthy medical conditions - not your level of beauty.
                The higher your BMI the more reduced your lifespan will be. The higher your BMI, the more likely you are to have or develop
                heart disease and stroke, high blood pressure, liver hepatitis, diabetes, stroke, coronary disease, body pains, some
                cancers, gallbladder disease and gallstones (which can be extremely painful and can only be removed by removing the entire
                gallbladder), osteoarthritis, gout, breathing problems (such as sleep apnea and asthma), and lower quality of life as
                you age. The longer you are in either category, the more chance you have of developing one or more of these issues –
                many of which are deadly!&nbsp; Some people have more muscle mass than others so they will weigh more and some have thicker
                bones.&nbsp; As with most of the materials in this text,
                <span style="text-decoration: underline; font-style: italic;">the normal distribution curve is relevant</span>.&nbsp; There will be people outside the norm and the formula will not
                relate to them.&nbsp; However, their doctors will not care!&nbsp; If the formula shows that you are overweight or obese
                then your doctor must act because there is a greater chance that you will have medical issues. Data shows an ever increasing
                number of Americans in one of these two categories!
                <br>
                <br> If we are overweight, what are we told to do? We should diet and exercise. Let’s take exercise first. Extreme exercise
                produces hunger, but moderate exercise suppresses appetite. With moderate exercise you will burn more calories than you
                eat at the next meal because the proper amount of exercise suppresses your hunger. I cannot tell you what the correct
                amount of exercise for your personal body type is. You must figure that out yourself. If after you exercise you feel
                relaxed and are satiated (not hungry), then that is a good amount for your body. If you exercise and are starving and
                need to eat afterward, then you went too far. You will most likely eat more calories than you burned!
                <br>
                <br> What about diet. That’s a whole new can of worms (every pun intended). A normal man doing everyday tasks should consume
                a maximum of 2500 calories a day. A normal woman doing daily tasks should consume a maximum of 2000 calories per day.
                The less active you are the less calories you should consume. Cheap food may be good for your wallet now, but you’ll
                pay for it in medical expenses later. One double hamburger and medium fries with an orange drink (leave out the desert)
                from a local joint could easily be as follows: 430 + 230 + 170 = 830 calories in one meal - without the desert!!&nbsp;
                <br>
                <br> Be aware of your caloric intake. Although you must eat calories, sugar calories are bad! Fructose in any form is worse!
                Reduce sugar and eliminate all foods with the word fructose or any semblance thereof as an ingredient from your diet.
                Sugar contains 50% fructose, but higher levels of fructose are sweeter. The corn industry produces High Fructose corn
                syrup and crystals! They have a much larger amount of fructose than sugar. They are sweeter, companies can put less of
                it in the food to make it sweet and they are cheaper than other alternatives. You will find Fructose in peanut butter,
                jelly, candy, bread, almost every can of soup from the Campbell Company (at least in 2017), almost every non-diet soda
                – it is insidious! Fructose has two effects on the body.&nbsp; It produces more hunger and it creates bad cholesterol.&nbsp;
                You should also look for and eat foods with a high antioxidant value, but be sure you are comparing antioxidants at the
                same parts per million. Some foods tell you they have 1000 points in antioxidants compared to 80 of another, but when
                you read closer it is 1000 per KG compared to 80 per gram in the other (which is equal to 80,000 per KG). Marketing attempts
                to lure you into their web! Don’t go! Read and think for yourself!&nbsp; NASH stands for Non-alcoholic sugar hepatitis.&nbsp;
                It is a silent disease which produces Fatty Liver.&nbsp; It is a precursor to cirrhosis of the liver.&nbsp; You usually
                do not know you have it until your liver fails. By 2025 it is predicted to be the number one reason for all liver transplants.&nbsp;
                It is caused by too much sugar and carbohydrate intake.&nbsp; In 2017 there are FOUR year olds (4!) being diagnosed with
                this disease!&nbsp; Reduce your sugar intake and stop eating so much bread and pasta!!
                <br>
                <br> We talked about when emotions get out of control. We also have times when our motivation gets out of control. We can
                become motivated to change our body type. When this happens we can go in either direction. We can become overweight or
                underweight. There are two conditions listed in the DSM V as psychological issues of weight control. They are Anorexia
                and Bulimia. I will quickly cover those issues of weight control here, but we will cover them more closely in the pathology
                unit. Anorexia includes a drive not to eat while Bulimia includes a drive to eat. Both include an overwhelming competing
                desire (or motivation) to lose weight and an unrealistic view of the subject’s current weight. They will look at themselves
                in a mirror and even when any reasonable person would see them as too thin, they see themselves as too fat. Anorexia
                has been linked to childhood sexual abuse and to a loss of love. However, just because a person is anorexic does not
                mean they have been sexually abused. It is a question the therapist will review to be sure this is not the cause. If
                we fix the anorexia, but sexual abuse or loss of love is the basis of the issue, it will return unless we fix those issues
                too. Karen Carpenter is considered the poster child for Anorexia. We will talk more about her and the eating disorders
                in the pathology section when we discuss body dysmorphic disorder. Even if we fix the anorexia or bulimia the client
                may have caused other damage to internal organs and that may cause many issues later in life. You can tell when a person
                is an anorexic because you never see them eat anything. A bulimic eats and then removes the calories surreptitiously
                before they are metabolized (through regurgitation or enemas).
                <br>
                <br> It's time for a break guys, and gals.
                <br> Go get a cup of coffee.
                <br> Go do something other than study (maybe play the hangman game).
                <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                <br> Take 15 minutes or so before you go to the next slide.
                <br> Distributed learning is the best learning.
                <br> We will continue the study of Emotions in the next lecture.
                <br> Talk with you then. 
            </div>
        </p>
    </div>
    </div>
</div>