<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Emotion & Motivation (3)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Emotion_Sweet_emotion.mp3"
                                title="Emotion - Aerosmith">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
                
                
            
                <span style="font-weight: bold; font-style: italic;">"When a man is wrong and won't admit it, he always gets angry." ~ Haliburton </span>
                <br>
                <br> Welcome back to lecture number three on emotions we just talked about marshmallow experiments about controlling delay
                of gratification.
                <br>
                <br> We are teaching children to control their emotions. There are people who are very good at controlling their emotions.
                Many people use that control to deceive others. However, there are cues that we can use to tell if someone is trying
                to deceive us (Lying).
                <span style="text-decoration: underline;">
                    Dilated Pupils</span> will show deception. Of course you have to be close enough to see their pupils! If they are
                on a stage lying to you, their pupil size is not going to help you! Also, if the person has light colored eyes we can
                easily see their pupils up close, but if they have dark eyes you can’t see the pupil.
                <span style="text-decoration: underline;">Long pauses in speech</span> are another method of telling when a person is lying, but you need to know their regular
                speech pattern to know if the pauses are longer than usual.
                <span style="text-decoration: underline;">Body cues
                </span> are another way to tell. When a person is nervous then they show cues such as
                <span style="text-decoration: underline;">reduced eye blinking</span> and
                <span style="text-decoration: underline;">averted eye contact</span>. There is
                <span style="text-decoration: underline;">less smiling
                </span> involved. Many people believe that the direction a person looks (left - right- upo -down) is an indication of
                lying.&nbsp; The FBI has done studies on this trait and found it to be an old wives tale without any merit.&nbsp; If
                you know a person's normal behavior patterns, then you can tell when they are lying. If you do not know the person, then
                it is more difficult to relate the cues to lying.&nbsp; They may be the normal behavior pattern of the individual.
                <br>
                <br> The truly big clue is called a
                <strong>micro expression</strong>. You do not need to know the person to see their micro expressions. Micro Expressions are hard
                to hide. The FBI, CIA, and NSA among others are trained to watch for micro expressions when they are interrogating a
                suspect.&nbsp; Below is a video of President Clinton saying he did not have sex with Monica Lewinsky.&nbsp;
                <br> Watch his eyebrows at 20 seconds into the video!
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/VBe_guezGGc" width="853" height="480" frameborder="0" gesture="media" allowfullscreen=""></iframe>
                </div>
                <br> Did you see the raised eyebrows?&nbsp; It was a flash. It happened in a micro second. You would not notice it if you
                weren't looking for it.&nbsp; Yes, he knew he had sex. He knew he was lying. He was trying to differentiate between Oral
                Sex and Sexual Intercourse. In his mind he was saying he did not have vaginal sexual intercourse. He was trying to rewrite
                the dictionary (redefining Oral Sex to Presidential Relations).&nbsp; He knew Oral sex is still sex and it showed in
                his facial micro expression.
                <br>
                <br> The
                <strong>polygraph</strong> (also called a lie detector) is an arousal detector. It measures changes in heart rate and other physical
                arousal. When a person lies, supposedly their physical attributes change. The polygraph measures these changes in relation
                to a standard base pattern that is recorded first. They ask you to lie and then tell the truth to create the baseline.&nbsp;
                However, there are people who can control these physical aspects. My stepfather (a retired Marine Master Gunnery Sergeant)
                can control his heart rate. Through many years of ancient oriental training techniques he has found a way to slow his
                heartbeat to a crawl. He loves to tease nurses when they are taking his blood pressure. They freak out!! He can pass
                a polygraph because he can control these physical attributes. He is only one example. There are many people trained to
                beat a polygraph.
                <br>
                <br> There are other people who can pass the test. Your physical attributes change because you know you lied. Sociopaths
                can pass the test because - in their minds - they never lie. They believe everything they say is the truth. There is
                another problem with the polygraph. In my case, if I was taken in as a suspect for murder and they asked me if I ever
                killed someone while I was attached to a polygraph, I would have to say – YES! My car was in an accident which killed
                someone. I was not driving. I was not even in the car. I loaned it to someone. I feel responsible for the death. If I
                said NO – it would show that I was lying, because I believe I was responsible. The way the questions are asked is very
                important. I have to say I killed someone and so would any soldier who's been in battle. If the right questions are not
                asked, you will not get to the correct answers. The person running the polygraph and asking the questions can make the
                results look any way they want.
                <br>
                <br> There are new polygraphs which look at brain scans. A person is hooked into a brain scan machine. They will be shown
                all kinds of pictures of weapons and locations and people. If their brain only reacts to the pictures of items involved
                in the crime, then you are a very strong person of interest.&nbsp; The suspect becomes a person of interest because their
                brain reacts to pictures of the murder scene but not to any other pictures.&nbsp; This is a much more reliable polygraph.
                Polygraphs can make you a person of interest, but because of their inherent issues, they can not be used to convict you
                in a court of law.
                <br>
                <br> At times emotions do get out of control. When they run amok we lose control and behave in ways contrary to societies
                rules and we get into trouble with the law.&nbsp; We need to learn to manage our emotions. The emotion that seems to
                be the easiest to run amok is anger. Anger easily turns to rage and the behaviors associated with rage are not good.
                <br>
                <div class="images">
                    <div style="border: 0px solid white; padding: 10px; float: left; width: 220px; font-family: Arial;">
                        <div>
                            <center>
                                <img alt="Man showing anger" src="img/motivation_anger.jpg">
                                <br>
                            </center>
                        </div>
                    </div>
                </div>
                <br> In anger management we are not trying to remove anger. Anger is an emotion and all emotions are OK. However, all behaviors
                are not! The reduction of both our emotional feelings and the physiological arousal associated with them is the goal
                of anger management. Even though we cannot change the environment that causes us anger, we can change the reactions we
                have to that environment. The most effective way to control the escalation of anger is to stop it before it gets out
                of control. Most of you know when you are getting angry. There are many physiological reactions that tell you this. However,
                some people have no idea that they are getting angry. It is as if they have Asperger’s syndrome. A person with Asperger
                cannot grasp another person’s emotions. If you were angry and standing right in front of someone with Asperger's, they
                would not be able to tell that you were angry. There are many people who have a lower level of
                <strong>emotional intelligence</strong>. They do not recognize their own emotions. It is the goal of anger management to teach
                them to determine when they are angry so they can make a decision about their behavior before they become enraged and
                loose the ability for intellectual thought.&nbsp; Once a person is unable to think straight they behave improperly. They
                will get in trouble with the law and possibly get themselves injured. The most effective way to control the escalation
                of emotion is to stop it before it gets out of control. You have to learn to identify the subtle signs of anger. If you
                can recognize those subtle signs, then you can take control of the emotion before it takes control of you.
                <strong>You can manipulate your own emotion before it manipulates you</strong>. I have to interject here that Fear is another
                very powerful emotion that causes us to behave without thinking. It is used very successfully by many people to lead
                us astray! You will dump your morals, ethics and intelligence and behave improperly when you are fearful.
                <br>
                <br>
                <br> This is the end of Emotion lectures.
                <br> Now we turn our attention to Motivation!
                <br>
                <br> It's time for a break guys, and gals.
                <br> Go get a cup of coffee.
                <br> Go do something other than study (maybe play the hangman game).
                <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                <br> Take 15 minutes or so before you go to the next slide.
                <br> Distributed learning is the best learning.
                <br> We will continue the study of Emotions in the next lecture.
                <br> Talk with you then. 
            </div>
        </p>
    </div>
    </div>
</div>