<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Personality (1)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Personality.mp3"
                                title=" Lloyd Price - Personality (1959)">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
                
            
                <span class="flow-text">
                    Welcome, this is the first lecture on Personality. Let's get started.
                    <br> If you have followed the chapters in order, you will notice that personality includes portions of many of the other
                    chapters.
                    <br> Before you start reading watch one or both of the videos below before you continue:
                    <br> Discovering Psychology Series - "The Self" is a 28 minute video.
                    <br> The Crash course in Psychology video that is less than 12 minutes.&nbsp;
                    <br> I find that older students enjoy the Discovering Psychology video and the younger students like the Crash course
                    videos.
                    <div class="row">
                        <div class="col s12 offset-s0 m6 offset-m3">
                            <a href="http://www.learner.org/series/discoveringpsychology/15/e15expand.html" target="_blank">
                                <img class="hoverable" width="100%" src="img/personality_icon.png">
                            </a>
                        </div>
                    </div>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/sUrV6oZ3zsk" width="853" height="480" frameborder="0" gesture="media" allowfullscreen=""></iframe>
                    </div>
            
                    <br> First of all, let's define personality.
                    <strong>Personality</strong>
                    is defined as the psychological qualities that bring continuity to an individual's behavior in different situations and different
                    times. In other words, you are going to be in lots of different environments, and you are going to be in lots of
                    different situations, but you're going to act like "you" in most of those situations.&nbsp; However, personality
                    can change from moment to moment depending on the situation.&nbsp; Think of personality as the way you walk.&nbsp;
                    You walk a specific way and most people can tell who you are from behind by your gate. &nbsp; If you hurt your foot,
                    the gate may change slightly until your foot heals.&nbsp; If you try to walk in a pool of water, you change your
                    gate because of the pressure of the water, but when you get out of the pool your normal pattern returns.&nbsp; Portions
                    of your personality can be modified by environmental factors (just like walking gait can be modified), but they will
                    be modified in unique ways that are associated with you as an individual.&nbsp; We already discussed both emotions
                    and motivation and both are a part of your personality.
                    <br>
                    <br> There are three ways to discuss personality.
                    <br> 1.&nbsp; </span>
                <span class="flow-text">
                    <span class="flow-text">We can discuss Abnormal Personalities - or
                        <br>
                    </span>2.&nbsp; We can Discuss Personality characteristics - or
                    <br> 3.&nbsp; We can talk about the various Theories of personality.
                    <br>
                </span>
                <br>
                <span class="flow-text">
                    <span class="flow-text">We will not spend a lot of time on abnormal personalities in these lectures. There is an entire class on abnormal
                        psychology which is a more appropriate setting for that discussion.&nbsp; However, to acquaint you with the issue
                        I will define personality disorder?
                        <strong>Personality Disorders</strong>
                        are behaviors and thoughts that are different from ones culture, maladaptive and inflexible, rare and NOT associated with
                        a medical condition.&nbsp; They are broken into three groups in the fifth edition of the Diagnostic and Statistics
                        Manual (DSM V) classification system.
                        <br> The three clusters described in the DSM V as follows:
                        <br> The Eccentric Cluster (Also called Cluster A) includes: Paranoid, Schizoid and Schizotypal.
                        <br> The Erratic cluster (Also called Cluster B) includes: Histrionic, Antisocial, Borderline, and Narcissistic
                        <br> The Anxious cluster (Also called Cluster C) includes: Avoidant, Dependent and Obsessive-Compulsive
                        <br> We will briefly discuss some of these issues during these lectures.
                        <br>
                        <br> What about the characteristics of personality? </span>What makes up a personality? There is a long list of personality
                    aspects.&nbsp; Personality comes from a person's emotions, motives, drives, cognition, self concept, self efficacy,
                    temperament, types, and traits.&nbsp; In this unit we will discuss many of these personality characteristics.
                    <br>
                    <br> Why do we act the same way during the day as we do at night?&nbsp; The environment is completely different. While
                    we are awake we are very similar in our behavior and thought processes in both environments.&nbsp; You are usually
                    the same type of person over many varied environmental situations.&nbsp; Your personality maintains that continuity
                    - that sameness - in your life. How do we derive this personality?&nbsp; The theories of personality attempt to describe,
                    explain and predict how personalities develop and why there are so many different kinds of personalities in the world.&nbsp;
                    There is no ONE specific personality theory that is all encompassing, that contains everything about personality.
                    In fact some of the personalities theories only look at a very small specific part of your personality.&nbsp; We'll
                    look at some of these theories but not in great depth, because this is an introduction class.
                    <br>
                    <br> According to the psychodynamic, humanistic, and cognitive theories personality is a developmental process.&nbsp;
                    Your personality is growing and changing all the time, but specific parts of your personality are innate.&nbsp; You
                    are born with specific traits that are part of your personality.&nbsp; Here is the Nature/Nurture debate all over
                    again.&nbsp; Is personality dependant on nature or nurture?&nbsp; The answer depends on what portion of personality
                    you are attempting to describe. It starts being created when you're born and it's shaped by our internal needs, our
                    motives, our drives, and the way we think and by the external pressures that are placed upon us from our environment.&nbsp;
                    The environment includes our social environment (our connection with other people). Genetics does seem to play a
                    role of about 40% in shaping specific aspects (characteristics) of our personality.&nbsp; Some of us are born shy
                    and some of us are born bold, but that's only one specific aspect of our personality.&nbsp; There is certainly a
                    great deal more to personality than that one trait. Yet, as a shy person, you will do specific things in your life.
                    You will stay away from events where there are lots of people, which means that you will reduce social interactions
                    and shape your personality because of your shyness. Your personality will be shaped by the experiences that you allow
                    in life.&nbsp; Shy people deny themselves certain experiences.&nbsp; Extroverts will have different experiences that
                    will help shape their specific personalities and make them different from those who are introverts.
                    <br>
                    <br> Let me start discussing theories with a broad overview of each type. The
                    <strong>Psychodynamic </strong>theories call attention to the power of the unconscious.&nbsp; This is Freud's theory however,
                    there are many followers of Freud who are also psychodynamic theorists.&nbsp; Pure psychodynamic theories believe
                    that the influences of our early childhood experiences, rather than our late adulthood or adult experiences, shape
                    our personality. </span>
                <span class="flow-text">
                    <span class="flow-text">
                        <strong>Psychic determinism
                        </strong> is a term that Freud used to indicate that all mental and behavioral reactions are caused by earlier
                        life experiences that determine our behavior as adults.&nbsp; We are pushed in specific directions. Nothing we
                        do is accidental. All our acts are determined by our unconscious or conscious forces, and both our conscious
                        and unconscious forces are determined by what happened to us as children.&nbsp; </span>Remember that Freud was
                    mostly interested in people who had a pathology.&nbsp; He wanted to describe what causes pathology within personality.&nbsp;
                    The
                    <strong>Humanistic </strong>theories emphasize our present subjective reality as the force that creates our personality.
                    What's happening to us right now is important in understanding a personality. According to Humanistic psychologists
                    what we believe is important at - this time - in our lives, right now, and how we think of ourselves in relations
                    to other people - right now - is important in describing why we display a specific personality - at this time. Your
                    personality can change from day to day depending on what happens to you during the day, and you will build your personality
                    every day. Each day will be similar to the next unless you have a pathology, but there will be differences from day
                    to day and situation to situation. Since Freud's theory believes that your personality is completely developed by
                    the time you're an adult, it is diametrically opposed to the humanistic theories. However, remember that Freud was
                    interested in people with pathologies, and the humanistic theory describes both the healthy and pathological personality.&nbsp;
                    <strong>Cognitive
                    </strong>theories evaluate very specific pieces of personality.
                    <br>
                    <br> Now let's drill down into the specific psychodynamic theories. We will discuss three of them in these lectures.
                    We will discuss Freud, of course, and his Psychoanalytic theories.&nbsp; Then we will look at Carl Jung.&nbsp; He
                    extended the unconscious that Freud created.&nbsp; Then we will look at Karen Horney (pronounced Horn-eye).&nbsp;
                    She's the feminist voice in Psychodynamic Psychology.&nbsp; You can remember that Horney is a Psychodynamic theorist
                    because Freud's theory is also called the Psychosexual Stages.&nbsp; Karen Horney's last name appears to relate -
                    although that is not the way it is pronounced. That's one way you can remember to place her among the Psychodynamic
                    theorists.
                    <br>
                    <br> We have already discussed the unconscious in the unit on consciousness.&nbsp; Remember this iceberg?
                    <br>
                    <div class="images" style="float:left; padding:10px;">
                        <div style="height:300px; width:320px;">
                            <div>
                                <img alt="iceberg relates to the mind" style="width:300px; height:290px; padding:5px;" src="img/Conscious_iceberg.png">
                            </div>
                        </div>
                    </div>
                    <br> To Freud the
                    <strong>Unconscious </strong>is the psychic domain of which the individual is not aware. Some of the material in our unconscious
                    is hidden from us.&nbsp; It is the storehouse of our
                    <strong>repressed
                    </strong>impulses and drives and conflicts. Freud believed that no behavior occurs through chance.&nbsp; Experiences
                    in your infancy and your childhood affect your personality more than anything else. It doesn't matter what happens
                    to you today as an adult, the death of a mother, the death of a father, death of a sibling, your job, none of that
                    matters.&nbsp; What matters is what happened to you as a child.&nbsp; There are three instinctive drives in Psychoanalytic
                    theory.&nbsp; They are known as Eros, Libido, and Thanatos. Eros and Libido are ones that you've probably heard of
                    before.&nbsp; They have to do with love and sex. Thanatos you've probably never heard of before.&nbsp;
                    <strong>Eros
                    </strong>is the drive that helps people move towards acts that are sexual and life-giving. Eros makes people want
                    to experience sensual pleasure and helps them come up with creative ways to achieve those goals.&nbsp; Eros is a
                    drive.
                    <strong>Libido </strong>is actually the energy that exists behind the drive for Eros. If your libido is large then you have
                    a lot of energy behind Eros.&nbsp; According to Freud, this energy is always accumulating. You have to release this
                    energy, like the water behind a damn.&nbsp; A dam builds up water behind it, and if the water grows too high, the
                    dam breaks!&nbsp; Engineers build release valves in damns in case the water builds too fast.&nbsp; In most dams we
                    produce electricity through the flow of the released water.&nbsp; The pressure of the water rushing through the damn
                    turns the turbines that produce electricity. &nbsp; Sometimes the water builds up behind the dam too fast and the
                    normal release through the turbines is not enough to maintain the level of water.&nbsp; The water starts to rise
                    and the pressure on the damn increases.&nbsp; Sluices are opened to let water leave the damn without creating any
                    electricity, to protect the structural integrity of the damn. If the pressure of the water was too great, the the
                    damn could crack.&nbsp; Relate that to personality.&nbsp; Eros is the means to release the energy of libido. The
                    inhibition, suppression, denial or restraint of eros will allow too much energy to build up in libido and cause the
                    personality to crack.
                    <br>
                    <br> Thanatos is something that Freud did not believe in or accept in the beginning. Later he was driven to accept the
                    concept of Thanatos by other psychoanalysts.&nbsp; Some of the doctors in his group, his disciples, came up with
                    the idea of Thanatos and Freud dismissed it out of hand.&nbsp; Later he added it to his theory, because the others
                    broke from him and started their own society and were getting attention because of the thanatos concept. Thanatos
                    is the drive that pushes people towards aggressive and destructive behaviors.&nbsp; We are a very destructive species.&nbsp;
                    We have a lot of aggression and destructive behaviors in us, and we have to somehow define why.&nbsp; So Freud accepted
                    the concept of Thanatos - if only to bring attention back to himself.
                    <br>
                    <br> Let's look at a funny side of psychodynamic theory; the idea of the
                    <strong>Freudian slip</strong>.&nbsp; It is an accidental speech or behavior that reveals an unconscious desire of some kind.
                    While you are talking to your therapist you may say something that you didn't expect to say.&nbsp; It would be something
                    you are thinking but restraining yourself from voicing. Much like a Tourettes patient cannot refrain from yelling
                    out inappropriate words, you let this thought slip out.&nbsp; The therapist may say to you "Is there anything else
                    on your mind" and you say “Yes, I have a mother .... I mean another problem”.&nbsp; Your therapist might then say
                    “Well then. Let's talk about your your mother.”&nbsp; This is the Freudian slip, because supposedly it is weighing
                    on your soul.&nbsp; It is exactly what you were thinking, but you didn't want to say it out loud.
                    <br>
                    <br> Freud's theory is a stage theory.&nbsp; We mentioned it in the unit on development. Freud's stage theory is called
                    the Psychosexual theory but the stages are not sexual stages. It's very poorly defined as sexual stages. Yes, there
                    are two stages that are slightly sexual in nature, but the others are not. Freud described specific areas of the
                    body as erogenous zones.&nbsp; He did not mean that we are having sex. </span>
                <span class="flow-text">Before I begin to discuss Freud's theory I want you to remember and consider that he developed this theory in 1905 at
                    the end of the "Victorian" age (1901).&nbsp; There were over 8,000 prostitutes in London alone, but people did not
                    talk about sex in mixed company.&nbsp; People were prudish in public.&nbsp; There were very structured sexual social
                    norms and roles.&nbsp; All female behavior was very strictly controlled.&nbsp; Doctors could not look directly between
                    a woman's legs.&nbsp; Births were handled by other ladies - midwives. In private, there was a great deal of sexual
                    promiscuity. Along comes Freud's theory and people could now talk about the theory. It gave them a way to talk about
                    sex in mixed company. This might be one of the reasons for Freud's popularity.
                    <br>
                    <br>
                </span>
                <span class="flow-text">
                    <span class="flow-text">That's it for this lecture.
                        <br> I’m going to stop here. It's time for a break guys, and gals. Go get a cup of coffee.
                        <br> Go do something other than study (maybe play the hangman game).
                        <br> There is one crossword puzzle for the entire personality unit,
                        <br> but the hangman games are made for each slide.
                        <br> Take 15 minutes or so before you go to the next slide.
                        <br> Distributed learning is the best learning.
                        <br> We will continue the study of personality in the next lecture.
                        <br>
                    </span>Talk with you then.</span>
            </div>
        </p>
    </div>
    </div>
</div>