<div class="section no-pad-bot" id="index-banner">

    <div class="container">
        <p class="flow-text center orange-text responsive-header">Personality (2)</p>
        <div class="row">
            <div class="row">
                <div class="container">
                    <paper-audio-player color="orange" src="audio/Personality_youre_so_vain.mp3" title="Carly Simon - You're so vain">
                    </paper-audio-player>
                </div>
            </div>
            <p class="flow-text" style="padding-top:18px;">
                <div class="flow-text">



                    Welcome back, this is the second of the Personality lectures. We just finished introducing Freud's Psychosexual stages. Remember
                    we introduced this theory in the development section, but it is much more pertinent to this unit's topic.
                    <br>
                    <br>
                    <div style="border:0px solid white; float: left; padding:5px;">
                        <div>
                            <img style="width:320px;" alt="picture of psychosexual theory" src="img/Psychosexual.png">
                        </div>
                    </div>
                    &nbsp;Freud's theory has five stages. Together they are known as the
                    <spanstyle="font-weight: bold;">Psychosexual theory </span>released upon the world in 1905. The stages are the
                    <spanstyle="font-weight: bold;">oral, anal, phallic, latency, and genital stages</span>. Although this is called the psychosexual theory
                    the stages are not about Oral sex or Anal sex. Freud used the word erogenous zones to describe the areas
                    of interest in each stage.&nbsp; Freud was consumed with sexuality and using the term erogenous rather
                    than a less provocative term is an example of his obsession with sex. This leads many to say it is sexual.
                    That is not the correct interpretation. The oral stage is from birth to one year of age. The anal stage
                    is from one to three years of age. The phallic stage is from three to six years of age. The Latency stage
                    is from six to twelve years of age, and the genital stage is from twelve to adulthood. Notice in the
                    picture that after adulthood Freud has no interest in what has happened to you. If you have a pathology
                    his theory predicts that the pathology stems from your childhood. Basically after you become an adult,
                    nothing matters according to Freud. Everything you do as an adult depends on something that happened
                    to you in one of these five stages.
                    <br>
                    <br> The first of Freud's stages is the oral stage. This does not mean oral sex. It has nothing to do with
                    oral sex. It means that the first year of life is all about your mouth. Your mouth is the center of focus
                    and pleasure in your first year of life.&nbsp; The first stage is therefore called
                    <spanstyle="font-weight: bold;"> the Oral stage
                    </span>. You are sucking on your mother's breast. This is not sexual! You are completely dependent on
                    your mother for food. You are going to be slowly weaned off mother's milk and given other foods. This
                    weaning process can be very traumatic! If you are not weaned properly you can have major issues in your
                    personality.&nbsp;&nbsp; Infants are also testing all things that end up in your hands by putting them
                    in your mouth - as I discussed in the development section.&nbsp; Usually it is a good thing to have mother's
                    milk for six months and then during the next six months to still have mother's milk but to add other
                    foods as well
                    <spanstyle="font-weight: bold;">.
                    </span>By the end of the first year you should be weaned from your mother's milk. Weaning causes frustration
                    and anger. Freud uses his stages to predict how people will behave as adults and how to help them. He
                    says that people get
                    <spanstyle="font-weight: bold;">Fixated
                    </span>in a particular stage and never move through it to the next.&nbsp; A child may not ever leave
                    this stage if they are not properly weaned.&nbsp; They may get an "oral fixation".&nbsp; This can cause
                    the adult to be a gum chewer or nail biter or enjoy biting people. They can also be very talkative and
                    sarcastic. Theories are only as good as their predictive value. There is not enough research evidence
                    to supported this concept. However, a theory is also useful if it can help someone, and Freudian psychotherapy
                    does help people resolve issues. To help an individual the therapist must help them move through the
                    stage in which they are stuck and move them through the rest of the stages successfully.
                    <span>In the oral stage you learned some independence, in the next stage you will learn self control. </span>
                    <br>
                    <br>
                    <spanstyle="font-weight: bold;">The Anal stage</span> occurs between one to three years of age. Children are going to be potty trained
                    at this age. They are learning bowel movement and bladder control. They are no longer allowed to relieve
                    themselves in their diapers.&nbsp; Children learn to use the toilet. So, the anus is the focus of interaction,
                    and elimination and toilet training are central. According to Freud the most important aspect of this
                    stage is developing self control. You are learning how to control yourself.
                    <span>Fixation in this stage leads to the anal retentive and anal aggressive (expulsive) personality types.
                        The
                        <strong>Anal Expulsive</strong>
                        (also known as aggressive) personality type is very emotional and rebellious, disorganized and messy.
                        <span>&nbsp;
                        </span>They can also be generous to a fault or cruel and destructive.
                        <span>&nbsp; </span>The other side of being fixated in the anal stage is called anal retentive. I am sure
                        you have heard the phrase “anal retentive” at some point in your life.
                        <span>&nbsp; </span>This shows that Freud's theory has influenced our speech and its influence remains
                        after many years.
                        <span>&nbsp;
                        </span>This gives his theory some credibility.
                        <span>
                        </span>The
                        <strong>Anal Retentive</strong> person is obsessively tidy - tending toward perfectionism.
                        <span>&nbsp;
                        </span>Their personality can also be mean, stubborn, stingy, dictatorial, and passive-aggressive.
                        </span>
                    <span>
                        <span>This personality develops if the child gets stuck in this stage, because the parents are too demanding
                            in toilet training.&nbsp;
                        </span>
                        <br>
                    </span>
                    <br> In
                    <strong>the Phallic stage</strong> (stage two) - from three to six years of age - the genitals are the focus.
                    Gender roles develop. You're determining that you are a male or you are a female. This stage is the most
                    important stage for sex identification. In this stage you learn that you are a male or a female and will
                    not change. Prior to this point you are not positive that wearing a dress as a boy will not turn you
                    into a girl. Or for girls they wonder if wearing the color blue will make them a boy. You also learn
                    in this stage that you are the same sex as your mother or your father, and you develop an interest in
                    the other opposite sexed parent. According to Freud, you become very jealous of your same sex parent
                    because the opposite sex parent is giving some attention to the same sex parent and you (the child) want
                    all the attention! As a child - you want it all. We will discuss the ID in this lecture which is the
                    basis for this idea. A son sees that the father is getting hugs and attention from the mother. He wants
                    the hugs for himself. How dare the father get any! The child enters what Freud called the
                    <spanstyle="font-weight: bold;">Oedipus and Electra complexes</span>. Freud's idea is that little boys, at 3 to 6 years of age, definitely
                    realizes that they like their mothers more than their fathers and want the mother's attention. They wish
                    their father were dead to get rid of the father, because mom gives some of her attention to him. There
                    is an opposite to the Oedipus complex called the Electra complex.&nbsp; The daughter loves her father
                    and notices that her father gives attention to her mother. Since the daughter wants all that attention
                    for herself, she hates her mother and wants her dead. This comes from an ancient Geek Tragedy. King Laius
                    had a son and the prophets came to the king and told him that his son would one day kill him. So the
                    king took his son to a mountain and left him there to die. Another King was also walking the mountains
                    and found the abandoned child. Having no son of his own he decided the God's must have given him this
                    child. He raised the boy as his own. One day - when the son was a man - he visited the Oracle at Delphi
                    and was told of the prophecy that he would kill his father. The young prince did not know that the man
                    who raised him was not his father. He did not want to kill this man, so he left his home to keep from
                    fulfilling the prophecy. He wondered into the kingdom of his birth. He met a man, quarreled with him,
                    and killed him. He found out that the man he killed was a good man and a good husband. He felt bad that
                    he made the wife a widow so he married her. Of course, unknown to him, it was his father he killed and
                    it was his mother he married. This is where Freud's complex is derived. A young male child wants to kill
                    his father and marry his mother. To finish the story, when the prince found out that he killed his father
                    and married his mother, he ripped out his eyes! Fixation in this stage leads to a self-assured but vain,
                    narcissistic and impulsive personality. If the Boy is rejected by his mother then he might develop a
                    poor sense of self worth which is the same as the girl rejected by her father. If the Boy is smothered
                    by his mother he could develop a very high opinion of himself,
                    <span>be vain (thus the Carly Simon song above), </span>and self centered which is the same as a girl smothered
                    by the father. Notice the parallel here with Freud’s own life in which he was smothered by his mother!!&nbsp;
                    Although it's called the Phallic stage and you recognize whether you're a boy or a girl because of the
                    differences between your legs, there's really not a sexual nature to that as much as there is love and
                    wanting contact with the another person.
                    <br>
                    <br>
                    <strong>The Latency stage</strong> (stage three) - is from six to twelve years of age.&nbsp; This is the time
                    of elementary school and ends with puberty. Your energies shift to physical and intellectual activities.
                    You learn to delay gratification. In school we are taught not to express any sexual or aggressive tendencies.
                    We have to learn modesty and shame at 6 years of age. Up to 6 years of age we may have run around naked
                    but now we're in school and we have to wear our clothes.&nbsp; There are now more controlled socially
                    acceptable ways to behave.
                    <br>
                    <br> The fourth and last stage is
                    <strong>the Genital stage</strong>
                    from twelve to adulthood.&nbsp; This is where we enter puberty. The genitals are the focus with the onset of puberty. Developing
                    mature sexual relationships is central to this particular stage. Although Freud had an obsession with
                    sex and used it as the main drive for all pathologies, this stage is really the only truly "sexual" stage
                    in his theory. This is absolutely and totally positively sexual in its nature. We are in puberty. We
                    are entering adulthood. We are maturing sexually, able to have children and we have mature sexual feelings.&nbsp;
                    In our relationships we have to learn to displace the sexual energy that we have into other healthy activities,
                    because the world does not allow us to have sex with anybody at anytime.&nbsp; We have social morals
                    and social norms, so we have to learn to take the libido energy and somehow release that energy outside
                    of a sexual relationship. We learn that we can run, jog, box, swim or do something in the creative arts
                    to release the sexual energy, because you're not allowed to release it with sexual activity.
                    <br>
                    <br> Again remember that Freud's theory said that early childhood experiences are the only events to determine
                    personality and if your personality is somehow abnormal then it's because you got fixated or stuck in
                    one of his stages. So, when a person does not successfully navigate a particular stage of development
                    and becomes stuck in that particular behavior pattern, they will develop specific behaviors and thought
                    processes.&nbsp;&nbsp; What a therapist has to do is help you get through the stuck stage into the next
                    stage and complete the journey to the final stage.
                    <br>
                    <br> Another aspect of Freud's theory concentrates on specific personality structures called Es (it), Ich
                    (person) and Über-Ich (over-person) or as we like to call them in the States: the Id, the ego and the
                    superego. You may have heard of these structures. The
                    <strong style="text-decoration: underline;">ID</strong> is the primitive, unconscious portion of your personality and it houses your most basic drives,
                    the Eros and Thanatos, and it's the storehouse of our repressed memories as well. We are born with an
                    ID. The Id is the cause of all our Hedonistic activities and it is present at birth. What is Hedonism?&nbsp;
                    Caligula, the Roman Emperor, was considered a hedonist. Hedonism is the ability and desire to feel pleasure.&nbsp;
                    A person with strong hedonistic tendencies will not do anything unless it leads to pleasure.&nbsp; Why
                    do anything else?&nbsp; If it doesn't please me, there is no reason to do it.&nbsp; You go clean the
                    house, I don't get any pleasure from cleaning!&nbsp; The ID basically doesn't care about any of the rules
                    of society. All it cares about is “I want it and I'm going to get”. It's a very childish, very infantile
                    type of drive that everybody has.&nbsp;&nbsp; The id is not evil.&nbsp; The ID is not good.&nbsp; The
                    ID simply - is!&nbsp; It has no remorse, no morals, no ethics, no conscience. It wants what it wants.
                    It wants it now, and it will do whatever it can to get it.
                    <br>
                    <br> Then there's the superego. We are taught rules by our family and society.&nbsp; The
                    <spanstyle="font-weight: bold; text-decoration: underline;">Superego</span>
                    is the living embodiment of these rules. The superego is the mind's storehouse of values, ethics and the moral attitudes
                    that are learned from our parents and society. It's the same as the notion of a conscious. It is the
                    Jiminy Cricket on your shoulder. Hopefully you all recognize the term Jiminy Cricket from Walt Disney's
                    “Pinocchio”. I realize there are some people who had a deprived childhood and have never seen “Pinocchio”.&nbsp;
                    If you didn't know - Jiminy Cricket is a little cricket that tells Pinocchio' what's good and what he
                    should do and what's bad and what he should not do. The superego contains what's called the “ego ideal”,
                    which is a picture of the perfect person. This person follows all the morals, the values, and the rules
                    of society.&nbsp; The superego is the police force of the mind. It makes sure that we follow all of the
                    rules so we can be the perfect picture of the ideal ego. For instance, we're not allowed to lie, we're
                    told as children “don't lie”.&nbsp; It's specifically told to us, and later in life we learn certain
                    circumstances where we're allowed to lie. There are little white lies and half truths. The superego doesn't
                    accept that. The superego says “there's a rule and the rule says you're not allowed to lie”.&nbsp; There
                    are NO EXCEPTIONS.&nbsp; I remember the day I found out I was allowed to lie.&nbsp; I was 11 years old.&nbsp;
                    I attended a school in the suburbs of Philadelphia, but we lived in the city. My mom used my grandmother's
                    address to enroll us in the school outside the city limits.&nbsp; I got hurt and the nurse asked me where
                    I lived. - - - uhh - - - If I lie I get in trouble. - - - oy -- - If I tell the truth I am fairly certain
                    I will be in trouble. - - - huh&nbsp; - - - I nearly had a nervous breakdown! I told the truth and everything
                    changed. We were thrown out of that school and had to attend the school (3 blocks from where we lived)
                    in the city.&nbsp; I remember that event to this day more than 50 years later because it was a momentous
                    occasion for me; a revelation!&nbsp; There are times when adults think it is OK to lie!
                    <br>
                    <br> When your Id says “I have to lie to get this particular thing” and the superego says “No, you can't
                    lie” that is when the
                    <strong>
                        <spanstyle="text-decoration: underline;">Ego</span>
                    </strong>
                    develops - in order to resolve the conflict between the two other forces. The Ego, or the conscious portion of the mind.
                    It is that which we think about.&nbsp; It is the part of life that we are aware of.&nbsp; It is the rational
                    part of personality.&nbsp; It is charged with keeping the peace between the superego and the Id. This
                    is the moderator - self monitoring - part of the mind. It directs the behavior that we decide the world
                    should see. The ego is like a mask that we put on.&nbsp; It is that portion of us we allow the world
                    to see.&nbsp; It's not who we really are, but it is who we want the world to know, and it allows us to
                    get some of the things we want by breaking some of the rules that the superego says we're supposed to
                    abide by.&nbsp; It helps us acquire the things that the Id wants us to have. People who are high in self-monitoring
                    look for cues in the situation to tell them how to behave.&nbsp; The can fit into any situation by continuously
                    changing the mask they wear.&nbsp; Those who are low in self-monitoring use their own values and motives
                    to guide their behavior.&nbsp; They simply are and the situation they find themselves in does not change
                    the mask they wear. &nbsp;
                    <strong>(include a self monitoring test??)</strong>
                    <br>
                    <br>
                    <div class="images" style="float:left; padding:10px;">
                        <div style="height:300px; width:320px;">
                            <div>
                                <img alt="iceberg relates to the mind" style="width:300px; height:290px; padding:5px;" src="img/Conscious_iceberg.png">
                            </div>
                        </div>
                    </div>
                    <br> Remember this iceberg?&nbsp; The ego is the part of the iceberg that sits above the water - the conscious
                    self - the self we allow the word to see. The superego is the area of preconscious. The world does not
                    see it, but we are very aware of it and can access those rules at any time. The biggest part of your
                    personality - according to Freud - is the Id - represented by the unconscious. That monster, massive
                    infant that sits underneath all of us that wants us to do and get the things that it wants us to get
                    is the ID. It is the hidden portion of the iceberg and the most massive part.
                    <br>
                    <br> When our ego is attacked, we have to defend ourselves.&nbsp; We use specific "ego defense mechanisms"
                    to recover when the ego is attacked.&nbsp; They are largely “unconscious” mental strategies that are
                    employed to reduce the experience of conflict or anxieties that exist when our egos are under attack.
                    Two of these are specific to Freudian philosophy: they are repression and projection.&nbsp; We repress
                    anything traumatic that happens to us. It is not a conscious decision.&nbsp; It's an unconscious - automatic
                    - mechanism. We do not consciously say “Oh, I don't like this thing, I'm going to repress it and never
                    think of it.” That's denial, because you know that the thing exists. In repression you don't know. It
                    is an immediate shut down. Your brain folds the information up and locks it away in a closet of your
                    mind.&nbsp; To you it is as if it never occurred. Projection is taking how you feel and projecting that
                    onto somebody else. If your ego has anxiety because you stole something from a store, you start seeing
                    other people stealing items (even though they are NOT).&nbsp; You project your anxiety causing behavior
                    onto the other people.&nbsp; Then your ego feels better. Misery loves company!
                    <br>
                    <br> So, how good is Freud's theory according to the people that evaluate it? We noticed that the ego is
                    a conscious force but it employs repression which is an unconscious mechanism.&nbsp; There's not a lot
                    of consistency there.&nbsp; His theory is not very scientific. When you try to test the theory, where
                    you can, there is not much data to support it. However, it can be used to help people with their problems.&nbsp;
                    It may not do well at predicting, but it is useful.&nbsp;
                    <br>
                    <br> Now let's look at Carl Jung. First, a little history of Carl Jung. While Freud was creating his theories
                    and becoming famous, all of the people that were agreeing with him and who were a part of his group were
                    Jewish.&nbsp; Every single one of them was Jewish. Psychoanalysis started to become known as “that Jewish
                    thing”. Then, like a bolt from the heavens, Freud gets a message from Carl Jung who is a Christian.&nbsp;
                    Jung says “I really like this idea and I like what you're talking about, and I'd like to know more about
                    it”. Freud hears the hallelujah chorus! Freud wanted to be famous and since Jews are only about 5% of
                    the population, he needed more representation to become famous. Freud made Jung his right hand man.&nbsp;
                    If he could teach Jung his ideas and then get Jung to go out and talk to the Christian world, it wouldn't
                    just be a Jewish thing any longer!&nbsp; Freud mentioned in a letter that he needed good friends in his
                    life as well as strong enemies, and it was lucky for him that he could easily convert his friends to
                    enemies.&nbsp; Freud was extremely tyrannical about his theory. He did not want anybody to have any input
                    into it.&nbsp; They were just supposed to learn what he said and repeat it. Intelligent people have their
                    own opinions and many in his groups wanted to change the theory.&nbsp; He became enemies with all those
                    people. Jung believed that Freud overemphasized sex and that de-emphasized spirituality. Jung was fairly
                    spiritual and Freud was not.&nbsp; There was a breakdown in the communications between the two, and Jung
                    became one of the casualties of Freud's friendships.
                    <br>
                    <br>
                    <spanclass="flow-text">
                        <spanclass="flow-text">That's it for this lecture.
                            <br> I’m going to stop here. It's time for a break guys, and gals. Go get a cup of coffee.
                            <br> Go do something other than study (maybe play the hangman game).
                            <br> There is one crossword puzzle for the entire personality unit,
                            <br> but the hangman games are made for each slide.
                            <br> Take 15 minutes or so before you go to the next slide.
                            <br> Distributed learning is the best learning.
                            <br> We will continue the study of personality in the next lecture.
                            <br>
                        </span>Talk with you then.</span>
                    <br>
                    <br>
                </div>
            </p>
        </div>
    </div>
</div>