<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Personality (3)</p>
    <div class="row">
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
            
                Welcome back! This is lecture number 3 for Personality.&nbsp; We just finished introducing Carl Jung.
                <br>
                <br> According to Carl Jung, there's a
                <strong>collective unconscious</strong>. This involves a reservoir of instinctive memories, including what he called archetypes,
                which exist in all people. Now, if we all have certain memories, that sounds really strange, because it indicates that
                if some horrible event occurred to an ancestor, it was so strong that it created a really strong genetic memory and was
                passed down through the generations! WHAT?&nbsp; Your genetics can't be altered by horrific events, catastrophes.&nbsp;
                Or can they?&nbsp; Epigenetics indicates that depression causes a change to the genetic structure of the person suffering,
                and that change can be passed to their children.&nbsp; However, that's not really what he was talking about. He was talking
                about sort of a Buddhist principle because again, he's spiritual, but not specifically Christian spiritual. He was spiritual
                and studied all kinds of religions.&nbsp; Yes, he was a Christian, and he understood a lot about aspects of many other
                different religions.&nbsp; He could read Sanskrit and read the Hinduism books in their original language!&nbsp; Hinduism
                and Buddhism state that all of us are a part of a specific entity or event. We are all part of the same universe.&nbsp;
                We have a connection to that universe and have the ability to access cosmic knowledge.&nbsp; We can travel to tribes
                in Africa or South America who have never met each other, and they have the same types of stories of their ancestors.&nbsp;
                Their fables are similar as are their ghosts and demons. &nbsp; How is that possible?&nbsp; How can they all have the
                same kinds of stories?&nbsp; According to Jung, we are all connected to universal knowledge.&nbsp; Our access to it is
                rather limited, but occasionally we make contact and some of that knowledge flows to us. &nbsp; We are able to access
                the reservoir of instinctive ideas and memories that are out there for all of us to use. Besides the collective unconscious,
                Jung also talks about the
                <strong>personal unconscious
                </strong>, which is the portion of unconscious roughly equivalent to Freud's Id.
                <br>
                <br> Jung's archetypes are many and varied!&nbsp; The three most obvious and easily explained are Animus, Anima, and Shadow.
                Animus and Anima are the male and female within us all. Every one of us has an Animus and Anima. According to Jung, the
                Animus and Anima should be balanced within every person, but of course in males they're mostly Animus and very little
                Anima. In females they're mostly Anima and very little Animus. Most people are not in balance.&nbsp; Aberrations in personality
                are caused by the unbalance.&nbsp; An archetype can gain control over us if we do not acknowledge it.&nbsp; Like the
                water behind a damn idea, when you do not acknowledge a part of yourself, that part has no means of letting go of its
                energy.&nbsp; The energy continues to build until there is enough to overpower your normal personality. The Shadow is
                very similar to Freud's Thanatos. Shadow is the archetype that represents the destructive and aggressive tendencies that
                we don't want to recognize in ourselves.
                <br>
                <br>
                <img alt="darth vader" style="width:190px; float:left;padding:10px;" src="img/Personality_vader.png">We just got finished talking about three of the main archetypes that Carl Jung believes exists in every single person.&nbsp;
                You should know that he believed in lots of different archetypes.&nbsp; He had dreams and the creatures and characters
                of his dreams were included in his archetype theory.&nbsp; He believed that archetypes show up in our dreams,&nbsp; so
                there's a lot more than just the Animus, Anima and Shadow. For those of you reading this who are science fiction fans;
                all the major characters in star wars have related archetypes. There is the guide archetype which relates to the astral
                figure of Yoda. There is the father (and also Dark Father) which is seen in Darth Vader. There are many more fascinating
                comparisons, but that is enough about archetypes - for now.
                <br>
                <br> Jung believed that there are many opposites within a person, which is known as the principle of opposites.&nbsp; You
                cannot know what good is without also knowing what bad is.&nbsp; You can't define one without the other.&nbsp; He went
                as far as to say that when you have a good thought, somewhere you realize within you the bad thought. In the bible the
                Lord creates the Earth and says, it is good.&nbsp; In Jewish tradition that means he must have created other worlds and
                he was comparing Earth with the others. Jung portrays each personality as a balance between opposing pairs of unconscious
                tendencies. For instance: we don't really think about being introverted or extroverted, we just are. For Jung introverted
                and extroverted were his top personality types. He used the terms differently than we currently use the terms.&nbsp;
                In the popular view extroversion and introversion fit on a continuous rating scale with two opposing poles. The only
                time you can be both is when you are in the middle of the scale. For Jung they were separate scales. Extroverts focus
                more on the external world.&nbsp; Introverts deal with the internal world.&nbsp; To Jung we must do both equally! Few
                people are in perfect balance between shadow, and anima, and animus and introversion and extroversion.&nbsp; He said
                to be a really fully developed person, you needed to find the perfect balance between all of them.
                <br>
                <br>
                <img alt="picture of forever_knight" style="width:190px; float:right;padding:10px;" src="img/Personality_knight.png">Another psychiatrist in Freud's time named Karen Horney is the female voice for the Psychoanalytic theory. She wrote
                the very first self-help book. One of her most famous ideas was angst, which is just another word for anxiety.&nbsp;
                There was a show on TV called "
                <a target="_blank" href="https://en.wikipedia.org/wiki/Forever_Knight">Forever Knight
                </a>". It was about a police officer who always worked the night shift. He did this because he was a vampire. He did
                not want to be a vampire. He was always trying to find a way to be normal. He was full of angst!&nbsp; Horney believed
                that anxiety is built into all of us. We're made to conflict with ourselves and this confliction creates neurotic trends.
                The basic neurotic trends that Karen Horney talks about are how people relate to others. Remember she is talking about
                neurotic trends, which means they take their behavior to extremes.&nbsp;&nbsp; They move toward, against, and away from
                others. You may know people move toward others.&nbsp; They are extremely needy.&nbsp; They need to be loved. They need
                to have people tell them that they're good and they're okay. They are very clingy people. Then there are people who move
                against others.&nbsp; These are people who are overly competitive.&nbsp; They will stomp on everybody to get to the top
                of their particular profession, but once they get up to the top of that profession they find out that it's very lonely
                at the top because they hurt everybody on the way up. They didn't care! Next there are the people who are moving away
                from others. They appear shy, but really they're afraid of being hurt. They protect themselves by moving away from people.
                They stay away from people in order to protect themselves. Those are the neurotic trends of Karen Horney.
                <br>
                <br> That's the end of the Psychoanalytic theories. Now we're going to talk about the Humanistic theories. The Humanistic
                theories believe that we need to learn and adapt to our environment.&nbsp; We need to grow and we have a drive to excel,
                to become better than we are at this current time in our life. Whatever we are, we can be better than that.&nbsp; In
                the same vain: my mom always said that the last day of your life should be the best, because you should be improving
                yourself every day. Abraham Maslow is the father of humanistic psychology and his theory is about creating the healthy
                self actualized personality.&nbsp; He developed the 5 level hierarchy of needs pyramid. At the top of Maslow's pyramid
                is the self actualized person. At the time he developed his theory there were only two forces in psychology, the Freudian's
                with their psychoanalytical theory and the behaviorists. Maslow was opposed to the psychoanalytic concentration on the
                abnormal personality.&nbsp; He also disliked the behaviorists who's ideas of behavior as a reaction to stimuli made humans
                into computers or at best automatons. Maslow studied healthy people rather than sick people, and he does that to learn
                what makes them and keeps them healthy.&nbsp; Abraham Maslow began talking about needs - which can't be seen.&nbsp; His
                ideas became the third force in Psychology. Other researchers have continued to expand on his theory and have added other
                levels to his hierarchy.&nbsp; There are currently (2017) 8 levels.&nbsp;&nbsp;
                <br>
                <br> Achieving Self-actualization is a lifelong process where one attempts to reach their highest potential. A
                <strong>self-actualizing</strong>
                person is basically a healthy individual who has met their basic needs, all their needs of the pyramid and so they are free
                to pursue an interest in higher ideals such as truth, justice and beauty, and Maslow found these people to be very creative,
                happy, and spontaneous, and duh, of course they're spontaneous, they have time to be spontaneous and creative, the rest
                of us are just scrounging around just trying to meet our basic needs and we don't have time to be creative or spontaneous,
                we're working on just trying to survive, once you reach the top of the pyramid, all those other basic needs are met,
                so you've got time to be spontaneous and creative.
                <br>
                <br> Carl Rogers is one of the humanistic theorists. He added the idea of the Fully Functioning Person.&nbsp; The
                <strong>Fully Functioning</strong>
                person is one that reached Abraham Maslow's state of self actualization, but who also has a self concept that is both positive
                and congruent with reality.&nbsp; According to Carl Roger says “In order to be really fully functioning, you need to
                be grounded in reality.” We already discussed both of these ideas in the motivation unit and discussed how Kanye West
                is not fully functioning. Rogers found that these people to have a high self-esteem, and this self-esteem was consistent
                with the messages that they got from the people around them. In other words - what they felt about themselves was realistic,
                and the feedback from those around them agreed. Both Carl Rogers and Abraham Maslow believed that people were basically
                good. I'm sorry, people just aren't. We're a very aggressive species.&nbsp; We have many dark thoughts, and we're not
                the best type of person unless we control ourselves.
                <br>
                <br>
                <img alt="paperback - saved by the light" src="img/Personality_saved.png" style="width:190px; float:left;padding:10px;">Rogers also came up with the idea of the
                <strong> phenomenal field</strong>, which is our psychological reality composed of subjective perceptions and feelings.&nbsp;
                It is how we feel about our world, but what about how we feel in death.&nbsp; What about after death experiences? Many
                people who die and are brought back to life, actually recall feelings or experiences that they had when they were dead.
                One great story that relates to this idea is called 'Saved By The Light' (book cover shown).&nbsp; It was also made into
                a feature length movie.&nbsp; It is about a man who gets electrocuted by a lightning bolt and dies.&nbsp; He is taken
                to the hospital and pronounced dead on arrival - DOA.&nbsp; He is taken to the morgue but it is full, so they can't put
                him in the morgue. They leave him on a gurney outside the morgue with a sheet over his head. As an orderly passes by
                a little bit later in the day, the orderly notices that the sheet is moving right by his head, because 30 minutes after
                he died he wakes up.&nbsp; He's completely paralyzed, and he's got this sheet over him and he doesn't know what's going
                on.&nbsp; He is blowing up at the sheet, trying to get the sheet off his head, because that's the only thing he can do.
                That's only the beginning of the story, because he fully recovers, then he talks about his after death experiences.
                <br>
                <br>
                <strong>Unconditional positive regard</strong> was also a term that was created by Carl Rogers. It means you love or care for
                someone without any conditions attached to that love. You should know that Carl Rogers' life was anything but that. It
                was extremely conditional. Every amount of connection that he had with his parents was because he did something correctly,
                so there were conditions attached to everything. It was a very strict environment and maybe he developed his theory to
                oppose his childhood.&nbsp; You will find this over and over again amongst theorists.&nbsp; Their theory has seeds from
                their history as children, which is kind of interesting isn't it? Because Freud said everything that comes from you as
                an adult comes from what happened to you as a child! It is interesting that the theories actually have connections to
                childhood events - giving a nod to Freud!
                <br>
                <br> You should know a little bit about
                <strong>positive psychology</strong>.&nbsp; It's another movement in Psychology that started in 1998. It's an extremely new theory.&nbsp;
                It comes out of humanistic psychology and focuses on the desirable aspects of human functioning as opposed to the emphasis
                on psychopathology. Most of Psychology is based on understanding the people who are not normal.&nbsp; We should find
                ways to bring those people back to normal. Positive psychology says why stop at normal? Let's go further than normal.
                Let's go to - Wow I feel really good. What makes happiness? What creates happiness. That's what positive psychology is
                all about.&nbsp; Think about an ordinate scale from +5 to 0 to -5.&nbsp; Zero is normal and -5 is a very bad pathology.&nbsp;
                We've been trying all these years to get people from a -5 (or any negative number) to a 0. Why? Why don't we try to get
                them into a positive area. There are people that live more of their lives int he positive. &nbsp; Let's see what it is
                that helps people to move in a positive direction.&nbsp; Positive psychologists wish to find a way to improve the human
                condition from normal to “better than” normal. We should be able to live in the positive side of the scale - thus - Positive
                psychology.
                <br>
                <br> One of the ideas that positive psychologists developed is that there are three different aspects to living.&nbsp; They
                are the pleasurable life, the good life and the meaningful life.
                <br>
                <br> The
                <strong>pleasurable life</strong> is living for the pleasure.&nbsp; What activity makes you happy. For some it is fishing or
                hunting or shopping.&nbsp; Sex is a wonderful, pleasurable experience, but as soon as it's over, so is the feeling.&nbsp;
                It doesn't make us happy for days after. I like bowling.&nbsp; If I am feeling down, I can go bowling and I feel great
                while I am participating in the activity.&nbsp; When I get home, that feeling is gone.&nbsp; We say that pleasure is
                on a square curve.&nbsp; You are not happy, then you are, and the you aren't again.&nbsp; That's called a pleasurable
                life. Doing things that please you does not necessarily increase your happiness over all. It increases it for a very
                temporary period of time. That's the humanistic theories.
                <br>
                <br> Then there is the good life.&nbsp; The
                <strong> good life</strong> is living to your strengths.&nbsp; If you are good with your hands, then you will most likely be happy
                is a career where you work with your hands.&nbsp; You might be a mechanic or an electrician.&nbsp; While you are working
                time flies by.&nbsp; You may start working on a car motor in the afternoon and when yu look up the sun has already set!&nbsp;
                Where did the time go.&nbsp; This is called flow.&nbsp;
                <strong>Flow</strong>
                occurs when you are doing a task that is so engrossing that you lose track of time.&nbsp; If this has ever happened to you
                then you know it is a wonderful experience.&nbsp; You are doing something that makes you feel like you can do anything.&nbsp;
                When you are done, the feeling goes away rapidly.&nbsp; Again, we say the good life is on a square curve.
                <br>
                <br> The
                <strong>meaningful life</strong> is helping other people.&nbsp; Doing things for others allows you to feel the reward long after
                the event.&nbsp; When you help somebody you feel good, and when you are done you still feel good.&nbsp; A day later you
                still feel good about helping that person. To improve our personal happiness we should help other people.&nbsp; You will
                feel happy for much longer, and if you do so again, before the feeling wears off, then your happiness level will remain
                higher longer.&nbsp; A meaningful life will improve your happiness for longer periods of time.&nbsp; I am not saying
                I can make a sad person happy, but I can make him less sad, and that person may define that as happier.
                <br>
                <br> Cognitive psychology was developed directly out of Maslow's work.&nbsp; It does not try to provide a comprehensive approach
                to personality.&nbsp; It looks at very specific phenomenon, rather than all of your life. According to cognitive psychologists,
                personality is&nbsp; influenced by interactions of thought, the environment and behavior.&nbsp; It is also influenced
                by observational learning, and reciprocal determinism. Where do you think your control is in life, does it come from
                inside you, or is there something external that is controlling you?&nbsp; We'll also look at the locus of control which
                is part of the cognitive theorists mechanisms that influence personality. In studying personalities the cognitive psychologists
                consider our beliefs, our expectations, the values that we hold dear in life, our intentions in life, our expectations
                of the future, and the interpretation of our social role in life. There are many personal factors involved in personality
                such as emotions. Emotional makeup is determined by our genetics and environmental factors, which can be a combination
                of our social, political and cultural influences as well as our past experiences.
                <br>
                <div class="images" style="float:left;">
                    <div style="border:0px solid white; width:320px; padding: 10px;">
                        <div>
                            <img alt="Picture of a spiral" src="img/Spiral.jpg">
                            <br>
                            <center> Reciprocal Determinism Helix</center>
                        </div>
                    </div>
                </div>
                <br> We have already discussed reciprocal determinism, which is the process in which the person, situation and environment
                are mutually influencing each other.&nbsp; We discussed how this can influence your development in the development unit.
                It can also influence your personality.&nbsp; My example of reciprocal determinism is if you are feeling down and you
                come into a room where there's a giggling happy child, it doesn't matter that you feel bad, you start to feel good because
                of that little child.&nbsp; The way the child is acting is part of your environment.&nbsp; You get happier.&nbsp; The
                child gets happier because you're feeling good.&nbsp; The child reacts with even more giggling, and you feel even better
                about life.&nbsp; It can take the opposite direction too. If you're feeling really happy - really great - and a child
                is colicky and screaming and hollering and can't be quieted, then the child is creating an environment in which you start
                feeling bad.&nbsp; You think horrible thoughts, "oh my god this child is going to kill me, I haven't gotten sleep for
                12 hours because he's screaming and hollering and it's getting on my nerves".&nbsp; Your thought processes are creating
                behaviors which are not loving and not wonderful.&nbsp; Although you're not going to hurt the child, you still feel horrible
                which creates an even worse environment for the child, so the child feels and acts even worse. When you have a child
                who is a hard child to deal with, it's a spiral downwards.
                <br>
                <span class="flow-text">
                    <span class="flow-text">
                        <br> That's it for this lecture.
                        <br> I’m going to stop here. It's time for a break guys, and gals. Go get a cup of coffee.
                        <br> Go do something other than study (maybe play the hangman game).
                        <br> There is one crossword puzzle for the entire personality unit,
                        <br> but the hangman games are made for each slide.
                        <br>
                        <br> Take 15 minutes or so before you go to the next slide.
                        <br> Distributed learning is the best learning.
                        <br> We will continue the study of personality in the next lecture.
                        <br>
                    </span>Talk with you then.
                    <br>
                    <br>
                </span>
                <br>
            </div>
        </p>
    </div>
    </div>
</div>