<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Personality (4)</p>
    <div class="row">
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
                
                Welcome back, this is lecture number four and the last lecture for Personality. We just finished talking about reciprocal
                determinism - again.
                <br>
                <div class="images">
                    <br>
                    <strong>
                        <img alt="bobo doll" style="width:190px; float:left;padding:10px;" src="img/Learning_Bobo.jpg">
                    </strong>Albert Bandura (1925 - ) assumes that there are four processes that influences our personality. The first one is
                    <strong>
                    language</strong>. Our native language influences how we think. You can look at different languages across the world
                    and they have different emphasis on aspects of life.&nbsp; For instance: there is a folk story that Eskimos in Alaska
                    have many different words for snow.&nbsp; We only have one word for snow.&nbsp; They have words for wet snow, dry
                    snow, and snow you can walk on, and snow you can eat, and snow you can't eat, that's the yellow snow (never eat the
                    yellow snow). There are many other types of snow that they recognize that we don't recognize. Our personalities are
                    influenced by different aspects of our world. If our world appears different, then our personalities can develop
                    differently.
                    <br>
                    <br> The second of Dr. Bandura's processes is
                    <strong>Observational learning
                    </strong> which is observing other people's actions and consequences.&nbsp;
                    <strong>Observational learning</strong> is defined as watching other people and their behaviors and learning from them. Not
                    only are we learning the behaviors to copy, but the consequences that occur from those behaviors. Albert Bandura
                    is probably the most well known of for this phenomenon.&nbsp; He did the Bobo doll experiments. The Bobo doll experiments
                    showed that if children are in a room where they are playing with toys where one of the toys is a Bobo doll.&nbsp;
                    Bobo was a clown in the day of Bandura. If I said “Ronald McDonald” you would immediately know who that was.&nbsp;
                    In Albert Bandura's days if you asked “Who is Bobo the clown” everybody would know who your were talking about. There
                    were blow up dolls of Bobo that had a bottom that was rounded and heavy,&nbsp; You couldn't push him over, he'd just
                    pop back up again. The children would play in the toy room.&nbsp; The scientists would record their behavior as they
                    played with the toys.&nbsp; The children would then be taken to a room where they could watch adults play with toys.&nbsp;
                    The adults would pick up the toys and beat up the Bobo doll. That behavior was never seen in the children's play
                    behavior. The children never beat up the Bobo doll in their normal behavior.&nbsp; Now the children are allowed back
                    into their room.&nbsp; After they had watched the adults play with the Bobo, the children would pick up the toys
                    in their environment and beat up the Bobo doll.&nbsp; They learned behavior by observation. They became more aggressive
                    (a personality trait). They also learn by the consequences they observed. In one of the revisions of the experiment
                    an adult picked up a toy and started beating up the Bobo doll, and the other adults jumped on that adult and said
                    “No, you don't do that. You can't do that. That's not good.”&nbsp; If the children witnessed this behavior, the children
                    would not beat up the Bobo doll, and if one did, the children would use the same phrases to stop that child.&nbsp;
                    This shows that we need to see consequences as well as watching the behaviors.&nbsp;
                    <br>
                    <br> A third aspect is our
                    <strong>purposeful behavior</strong>.&nbsp; We also have
                    <strong>the ability to anticipate</strong> what is going to happen. We are able to plan ahead which is part of our personality.&nbsp;
                    Our
                    <strong>self analysis </strong>- which is monitoring our own thoughts and monitoring our own behaviors based on what we know
                    to be what's right and what we know is wrong - leads to our self-efficacy.&nbsp; We determine that we are either
                    good or bad, through evaluation of previous experiences, comparisons to other people and listening to others, our
                    own self feedback.&nbsp; These evaluations help to form our personality. The internal feedback we experience is usually
                    negative. Most of us will talk about ourselves when we do something bad: “Oh, we're such an idiot”, “Oh, that was
                    just so dumb.” “Oh, I'm just stupid, stupid, stupid”.&nbsp; How many of us look in the mirror and say “Wow, we're
                    great, we're wonderful, we're spectacular and exceptional!” We should do more positive self-talk. There are already
                    people out there talking bad about us, we don't need to be talking bad about ourselves.&nbsp; We should be talking
                    good about ourselves.&nbsp;
                    <br>
                    <br> Another influence on the developing personality was described by
                    <strong>Julian Rotter </strong>(1916 - 2014)
                    <strong>.&nbsp;</strong> Locus of control as defined by Rotter was how an individual believed they were rewarded in life.&nbsp;
                    Are reinforcements coming from an outside force (society, family, G-d) or are they internalized rewards.&nbsp; Bandura
                    expanded this to define locus of control as all the influences in ones life.
                    <strong>Locus of control</strong>
                    is an individual's sense of where his or her life influences originate.
                    <strong>Internal control</strong> is the belief that we have control over our situations and rewards and this correlates
                    to higher grades and feeling better about life. The
                    <strong>external locus of control</strong> is a belief in fate or control of your life by forces other than yourself. The
                    Locus of Control can be determined by the society in which one lives. In the United States - as an individualistic
                    society - we have a much more internal locus of control.&nbsp; In China, which is a collectivist culture where the
                    government has the authority to determine how you live, they have a much more external locus of control. There is
                    a great story of a very religious old man.&nbsp; He has given his life to the Lord.&nbsp; One day during his daily
                    prayers he asks the Lord to let him win the lottery.&nbsp; That week - he does not win.&nbsp; He asks again the next
                    week. Again - he does not win.&nbsp; The third week he kneels by his bed and begins to pray, but before he can finish
                    a voice comes out of the heavens, BUY A TICKET! Are you laughing? The&nbsp; internal locus of control is: I have
                    to purchase a ticket. It is up to me!&nbsp; G-d helps those who help themselves. One of my students with an overdeveloped
                    external locus of control once responded; If the Lord wants you to win, then the winning ticket will fly into your
                    car while driving down the interstate.
                    <br>
                    <br> Those who evaluate cognitive psychology say they overlook the emotional input of our lives, they overlook our childhood
                    influences and they overlook motives. They also say that cognitive psychologists exaggerate rational thought because
                    cognitive psychologists believe that we are rational beings, and we just are not rational at times. Our emotions
                    get in the way, which is overlooking our emotional input. Cognitive psychology is also too piecemeal. There's no
                    overriding theory in cognitive psychology, but I don't know if that's a good evaluation of cognitive psychology,
                    because that's what they wanted to do. They want to take little pieces and put them together later. Maybe once they've
                    got all the the little pieces, they will be able to put the larger puzzle together.
                    <br>
                    <br> Another influence for our personalities is the family systems theory. In dealing with pathologies, the family systems
                    theory may be a replacement for Freud's Psychotherapy. &nbsp; This theory by Dr. Murray Bowen (1913 - 1990) says
                    that personality is first influenced by your family.&nbsp; The family relationship is paramount in developing successfully.&nbsp;
                    Each member of the family is interdependent on the rest.&nbsp; We are - after all - social creatures and the family
                    is our first "society".&nbsp; We develop our "self" within the family group.&nbsp; Parents attempt to form the children
                    into a semblance of the parents.&nbsp; Self can be described as autonomy from others and separation of thoughts from
                    feelings. However, each sibling in a multi sibling family develops a different "self". Some will be more like the
                    parents and others less like the parents. In affect, some children have a better developed self and others a less
                    developed self.&nbsp; We tend to marry individuals like ourselves, and then we begin to develop the "self" of our
                    own children.&nbsp; Multi generational families see a schism between the older generation and the newest generation
                    of adults.&nbsp;
                    <a target="_blank" title="Family Systems theory website" href="http://thebowencenter.org/theory/eight-concepts/">According to Dr. Bowen</a> the "level of differentiation of self can affect longevity, marital stability, reproduction,
                    health, educational accomplishments, and occupational successes." This theory also takes into consideration the birth
                    order of the siblings giving different characteristics to each depending on first, second or third born. In his career
                    Dr. Bowen treated families with a schizophrenic child and worked with juvenile delinquents.&nbsp; He noticed a pattern
                    he called Regression. In regression people act to relieve the anxiety of the moment rather than act on a principled
                    and a long-term view.&nbsp; He noticed that society does this as well.&nbsp;
                    <a target="_blank" title="Regression described by Dr. Bowen"
                        href="http://thebowencenter.org/theory/eight-concepts/">As he described it: </a>"The 'symptoms' of societal regression include a growth of crime and violence, an increasing
                    divorce rate, a more litigious attitude, a greater polarization between racial groups, less principled decision-making
                    by leaders, the drug abuse epidemic, an increase in bankruptcy, and a focus on rights over responsibilities." Do
                    you notice any similarity to our own time??
                    <br>
                    <br> Your families traditions, beliefs, morals, and values are the culture of your family. Many families together form
                    societal cultures. There are cultural influences on personality. The US is no longer an overwhelmingly White Anglo
                    Saxon Protestant society dominated by men. We used to be a melting pot where all the types of people in society merged
                    into the majority view of what was right and proper. This was known as
                    <strong>acculturation</strong>. Now we're different groups of metals all living in the pot together, but not coming together
                    into one type of metal. There are a lot of different cultures living inside the United States and maintaining their
                    individuality. Culture has a lot of influence on personalities, so we have a lot of different types of personalities
                    based on the different cultures within the United States.
                    <br>
                    <br> The society is also becoming less dominated by men. Women have more power and sway today than they did in the 1950's.
                    The differences among males and females has to be accepted and appreciated in any definition of personality. Men
                    and women are different. There is a great book that explains this called "
                    <a target="_blank" title="book link to Amazon"
                        href="https://www.amazon.com/Men-Mars-Women-Venus-Understanding/dp/0060574216">Men are from Mars, Women from Venus</a>". Our personalities are going to be different just based on the fact that
                    we're male or female.
                    <br>
                    <br> Another aspect of personality is our ability to delay gratification.&nbsp; We talk about this in the motivation
                    unit. Some people's personalities include a great deal of motivation and others have less. Walter Mischel studies
                    this aspect of personality in children. We talked about this in the motivation unit.&nbsp; However, in that unit,
                    I told you the positive aspects of being able to delay gratification.&nbsp; Let me now give you the negatives that
                    occur when you cannot delay gratification. Children who show no aptitude to delay their gratification need immediate
                    reward. As adults they are much more impulsive. They make impulsive purchases and they are impulsively violent as
                    well. They have more eating disorders. They are more prone to drug abuse. They show much higher sexual promiscuity,
                    and because of that they also have higher rates of unwanted pregnancy and STDs.&nbsp; The ability to delay gratification
                    seems to be a very important aspect of our personalities to create a successful life.
                    <br>
                    <br> Some theories attribute personality to stable patterns known as traits, types and temperaments. Our temperaments
                    are basic inherited dispositions that are apparent in every child and establish the tempo and moods of an individual's
                    behaviors. I use kittens in a box to explain temperaments. Consider 6 kittens that have just recently opened their
                    eyes, and are now moving around in a box. You walk up to the box.&nbsp; Two of the cats may be in the front of the
                    box, leaning up against it, looking up at you, meowing at you - “pick me up, pick me up”.&nbsp; Two others may be
                    in the middle of the box. They are cleaning themselves and don't care about you one way or another. Then there are
                    two kittens cowering in the back of the box. “Look at that giant monster, I don't want it anywhere near me!” These
                    kittens are all from the same litter and yet have completely different temperaments. This is not a learned behavior.&nbsp;
                    They are newly born.&nbsp; This is an innate inborn personality disposition. Jerome Kagan (1929 - ) studied shyness
                    and boldness and found from his studies that between 10 to 15 percent of people are born extremely shy while 10 to
                    15 percent of people are born extremely bold.&nbsp; The other 70% of us are somewhere in the middle. The temperament
                    of a child can influence its development and personality. We create our environments because of our temperaments.&nbsp;
                    <br>
                    <br>
                    <strong>
                        <img alt="temperaments fluids" style="float:left;" src="img/Personality_temperaments.png">
                    </strong>Four Hundred years before the birth of Jesus the Greek physician "Hippocrates" incorporated four temperaments into
                    his medical theories. The idea is that you are a blend of four fundamental personality types. Those types are:
                    <strong>popular sanguine </strong>(optimistic leader-like). These are cheerful people who are bubbly and always talking and
                    the center of attention. The
                    <strong>powerful choleric </strong>(bad-tempered or irritable) is a natural leader, easily angered and very competitive.
                    The
                    <strong>perfect melancholy
                    </strong> (analytical and quiet) is a perfectionist and depressed more often than not.&nbsp; The
                    <strong>peaceful phlegmatic </strong>(relaxed and peaceful) is aloof and an unemotional person.&nbsp; I have created an online
                    quiz which you can take to determine your "Hippocratic temperament"
                    <strong>.&nbsp;
                    </strong>
                    <a href="http://psych.techscholia.com/Hippocrates/personality.php" title="Hippocrates test on personality"
                        target="_blank">Click Here to start the test</a>. It takes about a half an hour to answer the questions about yourself. When you
                    click submit it will give you the amount of each temperament that you possess. You highest number is the one that
                    most controls you, although you have aspects of the others in proportion to their amounts. If you want more information
                    about your specific strengths and weaknesses, find the book '
                    <a target="_blank" title="The book Personality plus"
                        href="https://www.amazon.com/Personality-Plus-Understand-Understanding-Yourself/dp/1854245090">Personality Plus' by Florence Littauer (ISBN 978-0-8007-5445-7)</a>
                    Hippocrates called temperaments - Humors.&nbsp; He said there are four of them and they are related to specific bodily fluids.
                    The fluids control personality by their relative presence or absence. Hippocrates related bodily fluids were blood,
                    phlegm, black bile or yellow bile. I guess if somebody is just way too cheerful then they need to have a blood letting!&nbsp;
                    Bring in the leaches!&nbsp;
                    <br>
                    <br> Although, we have thrown out the bodily fluids idea, the four different kinds of temperaments that he classified
                    are still with us today.
                    <br>
                    <br> Those four temperaments are still with us today.&nbsp; We know that is not the case today, but we can still define
                    those people who are extremely cheerful people from those who are angrier individuals. No one's personality is all
                    one temperament.&nbsp; We are a mixture of temperaments.&nbsp; However, one of the temperaments will be stronger
                    than the others. Take my wife and I for example.&nbsp; I am a very strong choleric with some sanguine mixed in.&nbsp;
                    My wife is a very strong phlegmatic with some melancholy mixed in. I like to plan.&nbsp; When we go on trips I want
                    to know where we are going and how to get there before we leave the house.&nbsp; I will plan for how long it will
                    take us to travel.&nbsp; If I take a wrong turn and realize it 15 minutes later, I am furious.&nbsp; I just wasted
                    a half hour.&nbsp; How could I mess up that badly!&nbsp; My wife will be looking at the scenery saying, but we haven't
                    been here before.&nbsp; It's pretty. We found a new place to visit.&nbsp;
                    <strong> </strong>
                    <br>
                    <strong></strong>
                    <br> Traits are a subset of the temperaments.
                    <strong>Traits</strong>
                    are "stable" personality characteristics that are presumed to exist within the individual and guide his or her thoughts and
                    actions under various conditions. Stable is a relative term.&nbsp; They do change throughout your life in predictable
                    patterns. No matter where you live, no matter what society, we can measure a person on five different traits.&nbsp;
                    The “big five” are extroversion, which Jung talked about, agreeableness, neuroticism, openness to experiences, and
                    conscientiousness. Jung would've said all these five aspects include an exact opposite. Extroversion, introversion,
                    agreeable, not agreeable, neurotic, stable, open to experiences, closed to experiences, and conscientious or not
                    conscientious. We can measure the opposing traits - each on its own ordinal scale. One such scale is the NEO-PI,
                    which is the big five inventory that defines those five characteristics. It is used to study the stability of personalities
                    over the lifespan. We can give this test to a person as a young child and then keep giving it to them over their
                    lifespan and see how much it changes over the lifespan. The Minnesota Multiphasic Personality Inventory (MMPI-2)
                    is great for the abnormal personality.&nbsp; When somebody not quite normal, we give them the MMPI to judge their
                    personality, but it's not used regularly for the normal personality.
                    <br>
                    <br> Projection tests are another way to test personalities. Projection is one of the Ego Defenses proposed by Freud.&nbsp;
                    We tend to relate ourselves to others and to objects. The Rorschach inkblot test presents specific ink blots to a
                    person to describe. We don't make the blots just prior to the test.&nbsp; The subject does not sit waiting while
                    the psychologist puts some ink on a piece of paper, folding it in half and then asking for a description! Hermann
                    Rorsch (1884 - 1922) developed the inkblot test around 1921. One year later he died - most likely from an appendicitis.
                    They are controversial and some say pseudoscience.&nbsp; It is well known what the typical response to a specific
                    inkblot is and what is a rare response.&nbsp;
                    <div class="images">
                        <div style="border:0px solid white; float: left; padding: 10px; width:300px;">
                            <div>
                                <img alt="Ink Blot" style="width: 270px; padding:10px;" src="img/Personality_ink_blot.png">
                            </div>
                        </div>
                    </div>
                    <br> Here is a typical inkblot.&nbsp; How would you describe it.&nbsp; Face of a wolf? Hip joints? Butterfly?&nbsp; The
                    bloody aftermath of a murder?&nbsp; OK, that last one was very rare! We have the normal response out of tens of thousands
                    of people who have seen it. We know what most people will say and if you say something like “Oh, that looks like
                    a pelvis”, well lots of people say it looks like a pelvis! That's a normal response, you have a normal personality,
                    but if you say “It looks like somebody just got shot and there's blood all over the place and it's leaking out of
                    their head” that's a little strange and doesn't usually get said for that particular inkblot. We may want to spend
                    a little time with you!
                    <br>
                    <br> Another projection test is the Thematic Apperception Test (TAT) which is used to study achievement motivation. We
                    talked about his in the motivation unit too. You will describe a situation you see in some sort of ambiguous picture.
                    You will be shown an ambigous picture and asked to describe it. One person will describe it one way and another person
                    will describe it another way. They are describing it in relation to their own personalities. Since they are using
                    their personality to interpret the particular picture, we can tell a lot about a person by their description.
                    <br>
                    <br> The MMPI, NEO-PI, TAT, and Rorschach tests have been shown to be both valid and reliable. Valid meaning yes it does
                    have something to do with personality and reliable meaning it gives the same results over and over again given to
                    the same person. So, a score that is valid measures what it is supposed to measure while one that is reliable always
                    occurs within a small range of scores for that particular person.
                    <br>
                    <br> Walter Mischel (1930 - ) created a stir in psychology when he proposed that personality is never stable.&nbsp; If
                    we know that a person is afraid of guns, we tend to say the person is fearful.&nbsp; That label may be accurate when
                    it comes to guns, but they may be a master at wielding a sword or jumping out of an airplane.&nbsp; If there something
                    you do that another person would be afraid to do? Is that person's personality "fearful" simply because they do not
                    like a specific task.&nbsp; They may even be afraid to come out of their home.&nbsp; They may be agoraphobic!&nbsp;
                    Now that is a fearful person - right!? In their house they may have pet tarantulas and snakes. Dr. Mischel tried
                    to point out that personality is dependent on the situation in which one finds themselves. The
                    <strong>person-situation</strong>
                    controversy is a theoretical dispute that's concerning the relative contribution of personality factors and situational factors
                    in controlling behavior. For example: Think of personality as the way you walk.&nbsp; The air helps direct our behaviors.
                    In the air we walk a specific way. However, if circumstances change, we may be forced to change our walk.&nbsp; In
                    the water we are diverted from our normal behavior. When you're put in water, you have to change the way you walk.
                    It's normal! The situation changes your behavior.&nbsp; When you leave the water you're right back to your normal
                    walking behavior.&nbsp; We say the situation will determine your personality at any particular time.&nbsp; The situation
                    will change your behavior.&nbsp; Philip Zimbardo (1933 -&nbsp; ) has a great saying for this.&nbsp; I am sure you
                    have heard the saying “A bad apple spoils the bunch”.&nbsp; A bad apple will spoil all the rest of the apples. Dr.
                    Zimbardo says that it isn't the bad apple that spoils the bunch.&nbsp; It is the bad barrel that they're all kept
                    in that spoils the apples.&nbsp; The barrel is the "bad" situation that they're in.&nbsp; All those apples become
                    rotten because of the situation in which they find themselves, not because of one bad apple! However, as we will
                    see in the Social psychology section, one bad apple can make a bad situation worse.
                    <br>
                    <br> Folk theories surface when we make implicit assumptions about personalities, but these assumptions vary in important
                    ways across different cultures. We create stereotypes of people. These are personal implicit personality theories,
                    which are assumptions about personality that are held by people to simplify the task of understanding others. It's
                    much easier to have in our head, at least some outline of what we expect of life.&nbsp; We assume some driving in
                    front of us is going to behave a specific way.&nbsp; We have a reasonable expectation of life events. &nbsp; We do
                    the same with people. We have assumptions about specific people. If you know a lot of Asians and those Asians are
                    really good at math, then you have an idea that all Asians must be good at math.&nbsp; When you meet an Asian, you
                    recognize that person must be good at math and you might even react to them a specific way because of your belief.
                    &nbsp; In the United States, it is likely you will meet an Asian in your math class.&nbsp; There are a lot of Asians
                    who are in schools across the country. They're mostly here and in school because they are intelligent people, and
                    we have a very good school system.&nbsp; However, there are many more people back in Asia who could not attend our
                    education system.&nbsp; If you went to Asia and assumed that everybody you met was good at math, you'd be absolutely
                    incorrect. Your situation leads to folk theories&nbsp; You're in the United States, in school, you're meeting those
                    Asians, who happen to be in school, who are here because they're smart! Unfortunately, you then create an incorrect
                    implicit personality theories.&nbsp; Your personal folk theories can then lead you to make incorrect assumptions
                    which lead to errors in judgment
                    <br>
                    <br> One of the biggest errors in judgment is the
                    <strong>fundamental attribution error</strong>. This is an assumption that another person's behavior, especially when it's
                    undesirable behavior, is the result of some flaw in their particular personality, rather than the situation that
                    they happen to be in. These fundamental attribution errors occur, when we do not have enough facts, and or they are
                    not the correct facts. Culture influences our fundamental attribution errors. In a different culture we make errors
                    because we don't know the situations that are directing the behaviors based on that culture. We see a behavior in
                    that culture, we think “that's stupid, that's idiotic to do that” but that's what the culture expects that person
                    to do. We sare not allowing for the difference in the situation. That's our fundamental attribution error. We may
                    be right! That person might be an idiot, but the error that we made is not considering the situation that may have
                    caused the behavior that we saw. We make more of these errors when we're in a different culture than when we're in
                    our own culture.
                    <br>
                    <br> The type of society one is raised in will affect their personality.&nbsp; There are huge differences between individualism,
                    collectivism!&nbsp; Also in some cultures there are differences in how a person is treated or the expectations of
                    the person based on age and sex.&nbsp; Elders may be revered in one group and despised in another.&nbsp; Women may
                    become second class citizens in some cultures where they're not allowed to go to school, they're not allowed to go
                    out in public, and they have to obey everything their husband says. They are expected to have babies, and care for
                    the house.&nbsp; Research shows cultural influence on personality based on sex and advanced age.
                    <br>
                    <br> Do you know someone who feel in love at first sight?&nbsp; They had a whirlwind romance and then got married.&nbsp;
                    Romantic love is not always thought of in the same way in different cultures.&nbsp; It is an individualistic cultural
                    attribute.&nbsp; In collectivist cultures they don't think of romantic love, they get married for the good of the
                    group.&nbsp; That was the norm in ancient times.&nbsp; There were countries that were at war for years.&nbsp; They
                    would have their children marry because connecting the two countries this way would end the war.&nbsp; There's no
                    such thing as romantic love in that instance. Besides, you don't fall in love at first sight, you fall in lust.&nbsp;
                    It takes years living with a person and getting to know all their bad traits as well as their good ones before you
                    can say you "love" the person. In the Chasidic religious group - all over the world - a woman declares that she is
                    ready to get married.&nbsp; Men and women can not touch unless they are married!&nbsp; The Rabbi will line up some
                    men who are also ready to get married.&nbsp; The woman has dates with the men.&nbsp; Dates!??&nbsp; The Rabbi and
                    his wife chaperone.&nbsp; The woman sits next to the Rabbi's wife.&nbsp; The Rabbi sits next to his wife, and the
                    man sits next to the Rabbi.&nbsp; The date is the two prospective mates talking over and between the Rabbi and his
                    wife.&nbsp; You determine who is the best prospect and hope they also feel the same way.&nbsp; You marry and have
                    up to 12 children.&nbsp; If you are still together, you LOVE each other!&nbsp; They believe love develops over time.
                    <br>
                    <br> Another differences that correlate to culture is stoicism - or the ability to hold in your emotions. Asians definitely
                    suppress strong emotions, while in individualistic cultures we tend to allow them, certain ones, to come out.&nbsp;
                    In Italy men are allowed to cry. If you're a man in the United States - don't you dare cry!&nbsp; You're supposed
                    to be more stoic about crying in the United States.&nbsp; In the United States we tend to separate thinking and feeling
                    into two distinct categories. Other cultures do not necessarily do so.&nbsp; Another difference in cultures in whether
                    we attribute our behavior to external or internal factors? In different cultures, we will see differences based on
                    the type of culture.&nbsp; If the culture is a traditional collectivist culture or a dictatorial regime then the
                    typical attribution will be external.&nbsp; Other people tell me what to do or expect very specific actions from
                    me.&nbsp; In an Individualistic culture, the attribution is more often internal. I get to decide how I behave and
                    it is my responsibility. However, there are variations in every society.&nbsp; Remember 68% of a group (ONE standard
                    deviation on the normal distribution curve) represents what is normal in a group. There will be those who do not
                    fit the majority of the population.
                    <br>
                    <br> We are done with this group of lectures on Personality.
                    <br> Go do something other than study (maybe play the hangman game).
                    <br> You are now prepared for the crossword puzzle for the entire personality unit.
                    <br> Give it a try!
                    <br> The hangman games are made for each slide.
                    <br> Take 15 minutes or so before you go to the next slide.
                    <br> Distributed learning is the best learning.
                    <br> Talk with you in the next lecture series.
                    <br>
                    <br>
                </div>
            </div>
        </p>
    </div>
    </div>
</div>