<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Intelligence (3)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Intelligence_YBI.mp3"
                                title="Masta Ace - Young Black Intelligent">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
                    
            
                <span style="font-weight: bold;">The man who asks a question is a fool for a minute, the man who never asks is a fool for life. ~Confucius
                    <br>
                    <br>
                </span>Welcome back to the third lecture in thinking and intelligence. We just talked about the biases that can cause
                us to make improper judgments &amp; improper decisions. Creativity helps in finding new approaches to solving problems.
                Creativity is one of the properties of the mind that we study in Psychology. It is considered part of intelligence --&nbsp;
                <br>
                <br> The study of creativity dates back to the 1950s to a Psychologist named Joy Paul Guilford (1897 – 1987) who defined
                two approaches to problem solving. He studied under Titchener at Cornell university. His descriptions of problem solving
                included Divergent thinking and Convergent thinking. Creativity, according to Guilford, appears to be correlated to divergent
                thinking. Today we still believe that creativity has a connection, a correlation, to divergent thinking. What is divergent
                thinking?
                <strong>Divergent Thinking</strong> is the ability to come up with many different responses to a single problem. This is also
                the process used in what's called
                <strong>brainstorming</strong>. When a whole bunch of people get together for a problem solving meeting, and they write down
                any and every different possible combination of ways to solve a problem, this is called brainstorming. All ideas are
                accepted no matter how crazy or ridiculous the ideas are. Even something as crazy as - "let's make a movie about sharks
                flying in tornadoes".
                <br>
                <br> One of the examples that I can give you for Divergent thinking is a well known poem - "The road not taken" by Robert
                Frost (1874 - 1963). To paraphrase the poem he says: "I came upon a fork in the road and - I took the one less traveled".
                Considered that statement. What other ways can we end that sentence? I came upon a fork in the road and - WHAT? How about:
                I came upon a fork in the road and I took the one
                <span style="text-decoration: underline;">most</span>
                traveled. Or you could say: I came upon a fork in the road and I made a new path. Why take either of the two roads that diverge
                in the woods? Make your own path! Another way to end the sentence could be: I came upon a fork in the road and that was
                good because I already had a spoon and a knife and I needed the fork! HAH! I used a different meaning of the word FORK!
                Can you picture the fork lying in the road? That is truly divergent thinking.
                <br>
                <br> Many people do not like divergent thinking. They want an answer. ONE specific answer! They want to know that there is
                a "right" answer and everything else is wrong. That is convergent thinking. Convergent thinking is used to find the one
                specific answer to a problem. In Convergent thinking we put the pieces of a topic together in some organized and structured
                fashion just like a jigsaw puzzle. We converge on a single point. You might want to put a piece of the jigsaw puzzle
                in a location where you think it belongs, but if it wasn't cut from that area, it needs to go somewhere else. I hate
                jigsaw puzzles - especially if I don't have the box top to know what it looks like. I've heard that there are now jigsaw
                puzzles with a picture on both sides! A picture on both sides!?? There are TWO possible answers. Every piece can be flipped
                over as part of another puzzle. You don't know which side goes with which puzzle. That would just drive me insane. The
                very first thing I have to do when I get a jigsaw puzzle is put all pieces face up and use the colors to arrange them.
                A puzzle with a picture on both sides - oh G-d, I would just throw the whole thing out. I wouldn't even bother trying.
                I'm a top down thinker, not a bottom up thinker.
                <br>
                <br> We can test people to find out what kind of thinking they tend to favor. Remember from the first slide in this lecture
                that the word "Metrics" means a system of measurements, so
                <span style="font-weight: bold;">Psychometrics
                </span>is a process of measuring psychological properties. Psychometrics is the task of developing the tests or assessments
                to test personality, emotions, skills, beliefs, mental abilities and anything else that has to do with Psychology. Intelligence
                is one of the psychological traits that we measure, We have many ways of measuring it. The history of measuring intelligence
                is fairly controversial. Even today it's still controversial. Most psychologists consider intelligence as a normally
                distributed trait that can be measured by performances on lots of different tasks.
                <span style="font-weight: bold;">
                    <br>
                    <br> The IQ - also known as the Intelligence Quotient</span> - is a test that compares you to other people your age.
                It tests you on "normalized" data. This is data that everyone your age should know. The issue with the normalized data
                is that the people who make the test do not know you nor are they familiar with any of your experiences. Let me give
                you an example. My wife grew up on the beach on the Outer Banks of North Carolina (OBX). I grew up all over the world.
                My dad was a Naval Officer and my mom was a dancer, school teacher, and vice principle of an elementary school and while
                we lived in Japan she studied being a florist. When I was first dating my wife she would point to a flower and say what
                a pretty flower. I would say that is a peony. Oh that one is pretty. That's a tulip. There's a pretty one. That's a bird
                of paradise - and I'm thinking, what is wrong with this girl? She knows nothing about flowers. One day we were walking
                along the beach and I picked up a shell and said "what a pretty shell". She said "It's a shark eyed moon snail"!
                <br>
                <br> I hope you chuckled at that example and recognize that both of us are highly intelligent people. My experience through
                my mother's florist training is with flowers and her's was with the beach. We are both able to learn from our environment,
                remember and use that knowledge. However, we each have a limited amount of data from which to extrapolate! Our experiences
                are different, just like your experiences are different from other people. So how do we make a test that is general enough
                to test the knowledge held by all people? It is nearly impossible. We have to find the knowledge that everyone knows
                at a specific age independent of experiences based on socioeconomic status (SES) and culture and any other variable that
                may be different between people.
                <br>
                <br> One of the first tests developed was
                <span style="text-decoration: underline;">purposefully</span>
                made with questions based on what White Anglo Saxon Protestant (
                <strong>WASP</strong>) middle to upper class males were exposed to in a normal day. It included material that was specific to
                their lifestyle. One question asked about a character from a magazine (
                <strong>Velvet Joe</strong>). If you had never been exposed to that magazine, you would certainly not know the answer! When taken
                by people of color and other religions and foreigners the conclusions were that they were imbeciles. Some of the terms
                we use today came from this version of the test - such as:
                <span style="font-weight: bold;">Idiot </span>(below 20 IQ);
                <span style="font-weight: bold;">Imbecile </span>(20 - 49);
                <span style="font-weight: bold;">Moron </span>(50 - 69);
                <span style="font-weight: bold;">Borderline </span>
                <strong>Deficient </strong>(70 - 79); etc.
                <br>
                <br>
                <span style="font-weight: bold;">Henry Goddard</span> (1866 - 1957) wrote the first Intelligence test in the United States in 1908. The word "Moron" was
                a creation of Goddard which came from the Greek word meaning "dull". Goddard and Sir Francis Galton (1822 - 1911) believed
                that intelligence was 100% genetic, and it was not equally distributed among the races. In other words, some races are
                smart, and other ones are stupid. This belief promotes a history of xenophobia and egocentric megalomaniacal discrimination.
                What is xenophobia? Xenophobia is the fear, also called a phobia when it is pathological, of people that are not like
                yourself. In other words, it is the fear of other races. Dr.
                <strong>Galton </strong>(cousin of Charles Darwin) coined the term
                <strong>Eugenics</strong> which initially meant the breeding of people of intelligence with others of intelligence. He also coined
                the phrase "Nature vs. Nurture". However the term Eugenics was taken by a Biologist named
                <strong>Harry Laughlin </strong>(1880-1943) and perverted into a new meaning - (breeding of intelligent people
                <span style="text-decoration: underline;">AND</span>
                sterilization of those with low intelligence).
                <strong>Robert Yerkes
                </strong> (1876 - 1956) embraced this darker form of Eugenics and believed that if we continuously breed intelligent
                people together we will increase the intelligence of their children. Those people who are not intelligent should be sterilized
                so that we don't decrease the intelligence level of the human population by letting them have babies. Henry Goddard did
                not believe sterilization would be acceptable to the general populace so instead he advocated for segregation of the
                feeble minded into colonies. You might think we are talking about Hitler and his "master race", but Galton was British
                and Harry Laughlin and many of his followers were United States Citizens advocating for this darker form of Eugenics.
                <br>
                <br> In 1916
                <strong>Lewis Terman</strong> (1877 - 1956) rewrote the Goddard intelligence test and called it the Stanford-Binet. Many influential
                scholars started using the results of these "intelligence" tests to influence immigration laws. The lawyer
                <strong>Madison Grant </strong>(1865 - 1937) was a crucial figure in the dark eugenics movement and influenced many of the strongest
                supporters of the immigration act of 1924. The results of these tests were used to prove that a limit should be placed
                on immigration from certain countries. They believed that intelligence was based solely on genetics and stupid people
                would always create stupid children (a false belief). They thought stupid people should not be allowed to come to the
                United States and reduce the intelligence of our country. Stupid people that are already here should be sterilized so
                they do not produce more stupid children. Anyone poor or from a Slavic country scored as an idiot or worse on the tests.
                Immigrants may have been very knowledgeable people in their country and in their own language, but with very little English
                skills and little
                <strong>acculturation
                </strong>(getting used to the U.S. culture) they could not pass the test and their scores gave them a moron or worse
                rating.
                <br>
                <br> Well, how would you do on a test, if the test had the words: Dubro utrah, tuckus, Servilleta, Aqua no hielos? Would
                you know what those words meant? Would you know anything about them? 'Dubro Utrah' is 'Good Morning' in Russian. Tuckus
                is what you're sitting on in Yiddish (not the chair - your ass). Servilleta is napkin in Spanish. Agua no hielos is Water
                with no ice in Spanish. How did you do? You probably couldn't even pronounce many of the words correctly. If they were
                on a test, you would certainly be stupid according to your score, but, you're not stupid! If I gave you a test with this
                information, it would be a poorly made metric and would not capture the information which you have been exposed to in
                your lifetime. Even if the immigrants were highly intelligent, if they had not studied any of the information of what
                a middle-class White Anglo-Saxon Protestant male knew, they wouldn't have done well on the test because the data on those
                tests was taken from a WASP lifestyle. These scholars were able to influence state governments to create Eugenics laws.
                It was not until 2003 that
                <strong>Governor Easely
                </strong> (1950 - ) pushed the North Carolina legislature to repeal a "forced Sterilization" law in that state. From
                the 1920s to 2003 over 7,600 documented cases of forced sterilization occurred in North Carolina and some think there
                were thousands more undocumented cases. North Carolina was not the only state with these laws. We will never know how
                many people in the United States were butchered in this way.
                <br>
                <br> I hope you can see that intelligence has a very sordid history in the United States and that creating a good test to
                define a person's actual intelligence is complicated at best and nearly impossible at worst. The testing of intelligence
                did not start in the United States. The tests we use today were first developed in France by a lawyer (turned medical
                psychologist) named
                <strong>Alfred Binet</strong>
                (1857 - 1911) and a medical student enthralled by Mr. Binet named
                <strong>Theodore
                </strong>
                <span style="font-weight: bold;">Simon</span> (1872 - 1961). The French government tasked them with developing a test to measure all the children in France.
                They wanted to create special schools for children that were slow learners. Those students would hold back education
                programs for the "Normal" child. If you can place the slow child in special classes they get more individual attention
                to help them learn and don't slow down the children who can learn faster. The test was not meant to measure intelligence
                but to measure a level of knowledge required for school. How much information did you have in your brain and could you
                use that information? The level of knowledge would be used to place you into specific levels at school - no matter what
                your chronological age was.
                <br>
                <br> Your
                <span style="font-weight: bold;">chronological </span>age is how many years you have been on this earth. Many of you would start counting those years
                from the time you were born. Some cultures count a new born as 1 year old, because the child has already spent time on
                earth in the mothers womb! Think about that. One goal I have for this class is to get you to think about cultural norms
                and how we assume "our way" of thinking is the only way to think. For the purpose of this class I'll say we are 1 day
                old 24 hours after we are born. So a 5 year old child was born 5 years ago. That child may take an IQ test and measure
                at the level of a 12 year old. That means that their mental age is far more than their chronological age. The IQ score
                rates your level of knowledge compared to the average of other people. The scores are normally distributed within a specific
                age range.
                <strong> Normal distribution</strong> means most people score in the mid range and few score on the high and low ranges. An IQ
                of 130 and above is considered gifted (the high range). An IQ of 100 is normal. An IQ of 70 or below (the low range)
                means a person is mentally challenged. However, there are lots of parts to "intelligence" besides the score on an IQ
                test! We know that intelligence is not only based on what you know but also on how you use that knowledge. Are intelligent
                people more successful than others? Success is based on more than knowledge. Success requires the ability to use the
                knowledge you accumulated in your brain. We also need drive, ambition and creativity to manipulate the knowledge. It
                would also help you to succeed if you are a self starter.
                <br>
                <br> Then we have the special cases that trump all the others - the savants. These people were initially called “idiot savants”.
                <strong>Savants
                </strong>are people who can remember vast amounts of information and/or can do amazing feats of math and calendar tasks,
                but can't tie their own shoes. When tested these people achieve spectacular scores in one specific area, and are very
                low scoring, almost non-existent scoring on all other tests of intelligence. There are less than 50 true savants living
                in the world today. Most of them can do phenomenal calendaring skills. You can give them your birthday and they can tell
                you the day of the week on which you were born. You can give them a date "X" number of years in the future and they'll
                tell you what day it'll be. They can do something spectacular like memorize every phone book in the United States. Some
                have incredible artistic capabilities. They can sit down and play a piano having heard a song one time. However, they
                can't make change for a dollar if they are purchasing a $0.36 cent piece of candy. They're phenomenal in a specific field
                but all other fields they are mentally deficient, except for the one known savant who is phenomenal in certain areas
                and normal in almost all other skills - the Prodigious Savant
                <a target="_blank" title="Tammet" href="https://en.wikipedia.org/wiki/Daniel_Tammet">
                    Daniel Tammet</a> (1979 - ). However, Tammet is also a synesthete - a person with
                <a target="_blank" title="Synesthesia"
                    href="https://en.wikipedia.org/wiki/Synesthesia">Synesthesia</a>. In
                <strong>synesthesia </strong>a person can see colors associated with numbers or sounds or tastes. Their sensory systems are "cross-wired".&nbsp;
                Any two senses can be combined and react together.
                <br>
                <br> The following video is an 11 minute TED talk by Mr. Tammet.
               
                <div class="video-container">
                    <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="https://embed-ssl.ted.com/talks/daniel_tammet_different_ways_of_knowing.html"></iframe>
                </div>
                <div style="border: white;">
                    <br> You may remember the 1988 movie "Rain Man"
                    <br> which was made with The Mega Savant
                    <strong>Kim Peek</strong>
                    (1951 - 2009) in mind.
                    <br> The Eleven minute YouTube video below is about Kim.
              
                    <div class="video-container">
                        <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="https://www.youtube.com/embed/k2T45r5G3kA?rel=0"></iframe>
                    </div>
                </div>
                <br> It's time for a break ladies and gentlemen.
                <br> Go get a cup of coffee.
                <br> Go do something other than study (maybe play the hangman game).
                <br> There is one crossword puzzle for the entire unit,
                <br> but the hangman games are made for each slide.
                <br> Take 15 minutes or so before you go to the next slide.
                <br> Distributed learning is the best learning.
                <br> We will continue the study of Intelligence in the next lecture.
                <br> Talk with you then.&nbsp;
                <br>
                <br>
            </div>
        </p>
    </div>
    </div>
</div>