<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Intelligence (1)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Intelligence_Pinky_and_brain.mp3"
                                title="Pinky and the Brain">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
                    
            
                <span style="font-style: italic; font-weight: bold;">Do the best you can until you know better. Then when you know better, do better</span>. ~Maya Angelou
                <br>
                <br> Welcome to the first lecture on Thinking and Intelligence.&nbsp;
                <br>
                <span class="flow-text">
                    We'll talk about what thinking or cognition means, how we make judgments and we’ll talk about intelligence and psychometrics
                    as well.
                    <br>
                </span> Before you start reading watch one or both of the videos below:
                <br> Discovering Psychology Series - "Testing and Intelligence" is a 28 minute video.
                <br> The Crash course in Psychology video is less than 12 minutes.
                <br> I find that older students enjoy the Discovering Psychology video and the younger students like the Crash course videos.&nbsp;
            
                <div class="row">
                    <div class="col s12 offset-s0 m6 offset-m3">
                        <a href="http://www.learner.org/series/discoveringpsychology/16/e16expand.html" target="_blank">
                            <img class="hoverable" width="100%" src="img/Intelligence_Icon.png">
                        </a>
                    </div>
                </div>
                <div class="video-container">
                    <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="https://www.youtube.com/embed/9xTz3QjcloI"></iframe>
                </div>
                The word "Metrics" means a system of measurements, so
                <mark>
                    <strong>Psychometrics</strong>
                </mark>
                is a process of measuring psychological properties. Psychometrics is the task of developing and implementing the assessments
                to test personality, emotions, skills, beliefs, mental abilities and anything else that has to do with psychology. In
                this section we will talk a great deal about the measurement of Intelligence and thinking. The word "Cognition" means
                the mental processes that are involved in thinking, in knowing something, in perceiving, in learning and remembering.
                Also all of the contents of these processes are part of the definition of cognition. How many times have you thought
                about your ability to think? If you think about the contents of your thoughts, that is called
                <mark>
                    <strong>Metacognition</strong>
                </mark>. A general definition of
                <mark>
                    <strong>Intelligence</strong>
                </mark>
                is the mental capacity to acquire knowledge and to use the knowledge you have (as in the ability to reason and to solve problems
                effectively). We will see that this general definition of Intelligence has been broadened by some psychologists to include
                more than knowledge of facts and mathematical abilities. In this lecture we will also meet some people who can accumulate
                mountains of facts and recall them correctly, but they can't use the information to solve problems. They can't tie their
                own shoe laces or calculate the change for a dollar when purchasing a 64 cent piece of candy.
                <br>
                <br> The components of thought include information from the senses and memory. We combine those with emotions and cognition
                (or thinking). We create and manipulate mental representations such as concepts, images, schemes and scripts. We’ll talk
                about each of these in this section. The brain area most associated with common sense or judgement or intuition, and
                controlling cognition and emotion appears to be within the frontal lobe, especially the prefrontal lobe which is just
                above the eyes in the brain. This is the area that many years ago some doctors would remove from the brain in the procedure
                known as the PreFrontal Lobotomy. It is no wonder that those patients had issues making decision after the surgery. Lobotomy
                patients could not make future plans and had issues maintaining goal-oriented activities. They could not maintain complicated
                plans in their heads. They tended to be distracted by immediate stimuli. They would - for instance - eat if food was
                placed in front of them whether they were hungry or not. They would be distracted by everything in store front windows
                and lose track of what they were doing - for instance -&nbsp; retrieving a package from the post office down the street.
                We will talk a little more about the prefrontal lobotomy in the pathology section.
                <br>
                <br>
                <mark>
                    <strong>Concepts </strong>
                </mark> are mental representations of categories of items or ideas based upon experience. There are a number of different types
                of concepts.
                <mark>
                    <strong>Natural concepts
                    </strong>
                </mark> are imprecise mental classifications of objects and events. The word
                <mark>
                    <strong>prototype</strong>
                </mark>
                means the “typical” or “ideal” form of a specific natural concept. So, for instance, if you think of the typical bird, what
                do you think of? It turns out the prototype for a bird in the eastern United States is the shape of a Robin. That’s the
                shape and size that most people imagine when they think of a bird in the eastern United States. However, experience and
                culture play roles in the creation of our prototypes. If you are from the beach, you may think of a sandpiper. If you
                are from Australia, you may think of an Ostrich. The
                <span style="font-weight: bold;">exemplar </span>
                model is the “least common denominator” of some concept that lives in memory. New items are compared to the exemplar to see
                how many points of similarity the new object has in common with the exemplar. If there are enough similarities then we
                determine the two items are connected.
                <span style="font-weight: bold;"> Artificial concepts </span>
                (also known as formal concepts) are created by rules of math and language to organize information.
                <span style="font-weight: bold;">
                    Concept hierarchies </span> are lists that go from a general to a more specific organizational structure. The picture
                below is a poor example of a concept hierarchy. This particular hierarchy has flaws in it.
                <br>
                <img alt="picture of concept" style="widht:290px;" src="img/Intelligence_concept.png">
                <br> Let's discuss some of the flaws. First a hierarchy begins with the most general category - in this case
                <strong>"Animal"</strong>. Animals is the top "node" or block. With each level we travel down the hierarchy the definition of
                the node should become more specific. We define the Animal as the least specific - "has skin, eats and breathes. Next
                we break the Animal category into lower blocks or "nodes" called
                <strong>"birds" </strong>and "
                <strong>fish"</strong>. Yes there are many other types and ways to break down Animals, but for this example I only need two types.
                The bird is described as "has wings, can fly, and has feathers". The fish is described as "has fins, can swim, and has
                gills". Maybe you can already notice what is wrong with this hierarchy. Next we’ll break bird into sub-components. First
                we will describe "
                <strong>canary" </strong>and then
                <strong>"ostrich"</strong>. Canary is described as "can sing and is yellow". The Ostrich is described as "can’t fly and is tall".
                <br>
                <br> Let me now point out one of the inconsistencies of this chart. If the top hierarchy has a specific definition, none
                of the parts below it can contradict or negate it. We said birds are able to fly, but ostriches can’t fly, therefore
                "can fly" is not a good description for the top hierarchy of "Bird". &nbsp; The bird level of the concept hierarchy doe
                snot need "can fly" in it. In fact some birds fly, some can't fly and some can SWIM - but we defined fish as "Can swim"!!
                The definition "can swim" is correct for fish, but is not a definition that pertains only to fish.&nbsp;
                <br>
                <br> For the Fish we describe "has fins, can swim, has gills". We break the "Fish" level into two sub-components of "
                <strong>Shark</strong>" and "
                <strong>Salmon</strong>". The shark is described as "can bite and is dangerous". The Salmon is described as "is pink and is edible".
                Another issue with this concept hierarchy is that each of the levels should have definitions specific enough to each
                of the levels that nothing else matches. Let's look at the shark - "is dangerous and can bite" which would also be a
                description for a piranha. That isn't a good breakdown of the hierarchy. Maybe we should have a sub category of fish
                that are "dangerous" and another sub category "Not dangerous" before putting in "Shark" under dangerous. The salmon definition
                of "is pink and is edible" is also not the best. Nodes in the same level should not have duplicated definitions. There
                are lots and lots of fish that are edible and SO IS THE SHARK! Have any of you had shark fin soup?? All fish are edible
                so the definition “is edible” should be with fish description, "has fins, can swim, has gills, is edible" (yes some fish
                have poisonous parts but at least some of the fish is eatable). How many of you have been fishing and caught a Salmon?
                Would you put your fingers near its mouth? They have massive teeth and jaws. They are dangerous and can bite, so the
                description of Shark as "dangerous and can bite" does not define a shark any differently than some other fish - for example
                a piranha or salmon. The descriptions for each node of the chart need to be specific to that node. If the hierarchy is
                built correctly, and I told you a definition was "dangerous and can bite" without telling you the node name, you should
                not be confused because it defines numerous nodes (or blocks) on that level.
                <br>
                <br> The process of cleaning up the descriptions in the hierarchy is called normalization. People who work with computer
                databases are very familiar with normalizing databases so that each definition of the database does not duplicate or
                conflict with other areas of the database. Unfortunately our memory is arranged like the concept hierarchy above - with
                many inconsistencies. With such bad hierarchical memories, how can we make good logical decisions?!
                <br>
                <br> Most people have a concept of the world and pictures of their world in their head. We will call these images
                <strong>cognitive maps</strong>. They are visual ways of thinking. Cognitive maps are mental representations of 3-Dimensional
                space. We know that the brain has areas in it which help us to remember 3-Dimensional space. If you can’t find your keys,
                you can think about where the keys are and can see the keys in the kitchen on the counter top in your mind. That’s a
                representation in your head of 3-Dimensional space. Cultural influences on cognitive maps are not unlike personal or
                egocentric representations of space.
                <br> Click here to see a picture of a boat for one second.
                <br>
                <strong>
                    <br> Place Moving image OF BOAT here</strong>
                <br>
                <br> Now without replaying the video - “Did the boat have an anchor?” The speed at which you will answer depends on your
                culture and language that you use. I guarantee that people in the United States will be able to answer the question faster
                than people in Israel. People in the United States will see the anchor in their head faster than Israelis and answer
                the question first! I only need to change one perspective of the boat and people in Israel will answer faster than people
                in the United States. This boat had an anchor on the left side.&nbsp; If I show you a boat where the anchor happens to
                be on the right-hand side of the boat people in the United States will answer “Yes, it had an anchor” slower than a person
                in Israel. WHY? This is because in Israel they read Hebrew from right to left, and so they scan images in their head
                from right to left. They would see the anchor on the right side of the boat first. People in the United States would
                be scanning it from the left to the right because their primary language is English which is read from left to right.
                So, if the anchor is on the right side of the boat, they would see the anchor later in their scan than people from Israel
                would.
                <br>
                <br> If I ask you to draw a picture of the world, how would you draw it? The world is round, so we could start anywhere and
                draw the picture with any part of the world starting in the middle. Children tend to draw the world starting in the middle
                of the paper with their own country. It is an Egocentric view of the world. Some adults do this too! The people in Greenwich
                England would start with England as the middle of the world, and they would actually be correct, because in 1884 twenty
                two countries voted to adopt the Greenwich meridian as the
                <strong>prime meridian</strong> of the world - the center of "Earth time". So you can see we have an egocentric representation
                of space, which is also based on our culture.
                <br>
                <br> The behaviorists do not like to discuss thinking because they could not take it into a laboratory and view it. How can
                we see thinking? In the biopsychology section we talked about the Electroencephalograph. We can see a lot in the EEG
                when we’re looking at whether a person is asleep or awake or what state of consciousness they are in, but unfortunately
                an EEG doesn’t have enough precision for us to look at specific potentials. When we say to you the word “bird” we cannot
                see that word bird represented in an EEG graph. Prior to computers there was just too much background noise to “see”
                those potentials, but now that we have computers and better scanning mechanisms, we can actually see a great deal more
                about how information flows through the brain. For instance we have Functional MRI scans. If I hook you up to an FMRI
                machine and say to you the word “dog”, your brain waves would light up on the left hand side of your brain first where
                the auditory centers are located, because you heard the word "dog". Then they would flow back to the occipital lobe of
                your brain because you might be picturing a specific dog from your childhood. The visuals of dogs would activate the
                occipital lobe. Then it might flow up to the hippocampus where a specific episodic memory from your past is retrieved.
                The amygdala might activate because that memory activates your fear of dogs. There’s a great deal more information that
                we can see in the brain now that we can take pictures of the brain while it’s working. We can see a great deal more about
                how you think than we could when the Behaviorists were developing their form of psychology, but we still can not see
                the organization of data in your brain - the schemes of your world.
                <br>
                <br>
                <span style="font-weight: bold;">Schemes </span>give us a broad outline of what to expect in life. Most knowledge is stored as a scheme, which is a cluster
                of related concepts to provide some sort of general framework to our world. Most of us prefer some form of organization
                in our world. These frameworks provide expectations about topics, events, objects, people, and situations in your life.
                We have a
                <strong>reasonable expectation</strong> of others who share our scripts and our schemes in life. We have a reasonable expectation
                that people will behave the way we do while performing the same general functions. These behaviors are arranged in scripts.
                <br>
                <br> A
                <span style="font-weight: bold;">script </span>gives us specifics about what to expect. A script is very similar to all the words and the movements that
                an actor is given when they are in a play. The script we define for psychology is a cluster of knowledge about sequences
                and events and actions expected to occur in a particular situation. Different socioeconomic and sociocultural settings
                alter our scripts. They can be different based on your level of income, based on what culture you live in or based on
                your religion. We like to know what’s going to happen. We don't like surprises that make us look foolish. If, you are
                following a person in a car you know from the scripts of life that they aren’t just gonna throw their brakes on without
                any provocation. If you see a deer coming out of the forest next to the road then you could expect that they’re going
                to either swerve, put their brakes on or hit the deer. You can then choose what action you need to perform for this specific
                situation. You have an expectation of the events proceeding in a specific way because of your scripts.
                <br>
                <br> There are many different types of scripts in the world and the fact that we don’t know another person’s script makes
                us uncomfortable around the other person. We may not like it, but it is OK to be uncomfortable. Have you ever heard someone
                say "you have to step outside your comfort zone to grow"? How many times have you said to someone "Let's go out to lunch"?&nbsp;
                It is easy to say with people you know, but with strangers you have no idea what that means. Do they eat vegan, vegetarian,
                no pork, lots of bacon - in which restaurant can they eat? We are comfortable when we have an expectation of the behaviors
                in the people and the world around us. We are uncomfortable around people who do not share our scripts - especially if
                we do not know their scripts. So, we separate ourselves and hang with others who we know (or assume) share our scripts.
                This is called
                <strong>self-segregation</strong>! We look for those people with whom we believe we will feel comfortable. If we got to know
                other people’s script, we would feel okay with them, but we don’t purposefully go out and try to find out how other people
                act and what their scripts are, so we end up self-segregating. We are comfortable around other people who are like us
                because we have a reasonable expectation of their behavior. Take a step outside your comfort zone!&nbsp; Learn the scripts
                of at least one other different person.
                <br>
                <br> Going back to the driving example: you have a reasonable degree of expectation, but when the guy in front of you does
                throw on his brakes for no specific reason, you have to act fast. Occasionally our assumptions are incorrect and we have
                to find a way to solve the problem that just came up. When this happens, a good, quick thinker can
                <strong>adapt, improvise, and overcome</strong>. Some of you may recognize this motto from the United States Marines! I know
                this because my mother divorced my father (Robert, a CDR in the US Navy) and married my step father (Robert, a Master
                Gunnery Sergeant in the US Marines)~ To adapt improvise and overcome you first have to realize there is a problem to
                solve. Identifying the problem is the first thing you have to figure out. A good thinker will consider all options in
                determining what this problem is as rapidly as possible. Experience and learning from mistakes increases the ability
                to come to a correct decision about what’s happening. If you have lots of experiences in your life, if you have made
                lots of mistakes in your life, and learned from them, then you can quickly come to the decision as to what’s going to
                happen when things go kerflunkt (go down hill rapidly). This experience leads to what we call heuristics - which I will
                discuss in a minute. When a specific event happens in your life and it reminds you of a similar event that has already
                been solved in your life, you can make a quick decision as to whether you want to try the same solution on this new event.
                <br>
                <br> Good thinkers can use algorithms or heuristics to select a strategy for solving problems. The more experience we have,
                the more heuristics and algorithms are in our repertoire. As I said, those people with lots of experience can draw on
                a lot of information from memory, and come up with ways to solve problems. Good thinkers not only have a repertoire of
                effective algorithms and heuristics, they know how to avoid the common impediments to problem solving and decision making.
                Along with heuristics and algorithms we will talk about the common impediments to problem solving in the next lectures.&nbsp;
                <br>
                <br> It's time for a break guys, and gals.&nbsp;
                <br> Go get a cup of coffee.
                <br> Go do something other than study (maybe play the hangman game).
                <br> There is one crossword puzzle for the entire unit,
                <br> but the hangman games are made for each slide.
                <br> Take 15 minutes or so before you go to the next slide.
                <br> Distributed learning is the best learning.
                <br> We will continue the study of Intelligence in the next lecture.
                <br> Talk with you then.
                <br>
                <br>
            </div>
        </p>
    </div>
    </div>
</div>