<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Intelligence (2)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Intelligence_Lauren_Adams_Smart_Girl.mp3"
                                title="Lauren Adams - Smart Girl">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
            
            
                <span style="font-style: italic;">
                    <strong> We are continually faced with great opportunities which are brilliantly disguised as unsolvable problems. ~Margaret
                        Mead.
                        <br>
                    </strong>
                </span>
                <span class="flow-text">
                    <span class="flow-text">
                        <span class="flow-text">
                            <span class="flow-text">
                                <span style="font-style: italic;">
                                    <span style="font-weight: bold;">
                                        <br>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </span>
                </span> Welcome back to lecture number two for intelligence and thinking.
                <br>
                <br> We’ve just talked about some of the strategies for thinking and what makes a good thinker. We talked about algorithms
                and heuristics but we didn’t really define them, so let’s define what an algorithm is. An
                <strong>algorithm </strong>is a man made problem solving procedure or formula. An algorithm guarantees a correct outcome if it
                is applied correctly.
                <img alt="picture of triangle" src="img/Intelligence_triangle.png" style="float: left; top: 217px; height: 131px; left: 4px; width: 156px;"> For instance, to find the length of a side of a right triangle where you know the two other sides, you can use the Pythagorean
                theorem. A
                <sup>2</sup>
                + B
                <sup>2</sup> = C
                <sup>2</sup>.
                <br>
                <br>
                <br>
                <br>
                <br> If you’re trying to find the area under a curve the Pythagorean theorem will not work for you. You must use the formula
                correctly.
                <br> How about this: Could you use the Pythagorean theorem to find the circumference of a circle?
                
                <div class="row col s12">
                    <ul id="intelligenceTriangleCircleCard" class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">Hover here for the answer!</div>
                            <div class="collapsible-body">
                                <img src="img/Intelligence_triangle_circle.png">
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- <div id="popup" style="border: 0px solid white; padding: 10px; float: left; font-family: Arial;">
                    <div id="popup" style="border: 1px solid green; padding: 5px; float: left; font-family: Arial;">
                        <a href="#">
                            <br>
                            <center>Hover here for the answer! </center>
                            <span>
                                <img alt="picture of circle and triangle" src="img/Intelligence_triangle_circle.png">
                            </span>
                        </a>
                    </div>
                </div> -->
                That is an unusual example of where it would work. Besides algorithms we have learned we also have a registry of heuristics
                in our repertoire. A
                <strong>heuristic </strong>is a thinking strategy or cognitive strategy used as a shortcut to solve complex mental tasks. It
                does not guarantee a correct solution. For instance, a good heuristic is the saying “I before 'E' except after 'C' or
                in sounding like 'A' as in neighbor and weigh.” You may have heard this rhyme before is you learned English in the United
                States. It will help you spell almost all of the American English words with "I' and "E" in the word. Do you remember
                when to put the ‘I’ before the ‘E’ or the ‘E’ before the ‘I’ in a word. If you follow that rule, “I before E except after
                C or in sounding like 'A' as in neighbor and weigh” you will properly spell ALMOST all of the words. However, because
                it’s a heuristic, there is a whole list of words about 25 of them that don’t follow that rule, so if you memorize those
                25 words plus this rule, you can spell any word in the "American" English language based on the ‘I’ and ‘E’ rule. Unless
                of course somebody else comes along and makes another stupid word that doesn’t follow the rule because American English
                has no governing body!&nbsp; In fact: it isn't even the official language of the country!
                <br>
                <br> One common heuristics is to
                <strong>search for analogies</strong>. This is the process of finding a commonality between one new problem and an older one
                - especially if you already know a solution to the old problem.&nbsp; I have twelve gardens in my yard that I water every
                week.&nbsp; I have a 300 foot hose to get the water to each of the gardens.&nbsp; Occasionally the hose gets stuck on
                a rock or a branch and I tug at it till it comes free.&nbsp; That is my heuristic for "hose is stuck" - "pull on hose".&nbsp;
                I added a new garden further back on the property.&nbsp; That week as I watered the garden the hose got stuck before
                I got to the back garden.&nbsp; Using my heuristic which always works, I pulled on the hose.&nbsp; The hose did not come
                free from whatever it was stuck on. I pulled harder, and it still did not come free.&nbsp; I pulled really hard, and
                pulled the water pipe out of the wall of the house, because it was not stuck, the hose was at the end of it's length!
                Heuristics do not always work, because the variables may have changed between the two similar situations!!
                <br>
                <br> You can also
                <span style="font-weight: bold;">break a large problem into smaller problems.</span> Can the issue you need to solve be represented by smaller less complicated
                problems? Possibly. If you can solve each of the less complicated issues then you may solve the larger one, especially
                in mathematics. There’s a very good chance that if you’ve solved all the smaller math problems - and you’ve done them
                correctly, then you will find the answer of the entire problem. So, you’re looking to break a big problem into smaller
                ones.
                <br>
                <br> You can also work backwards. No one ever said that you had to start at the beginning. Our assumption that we have to
                start at the beginning can keep us from getting to the correct answer, because it may be easier to just start from the
                end and work backwards! For instance: here’s a visual of
                <span style="font-weight: bold;">working backwards
            
                </span>.
                
                <div class="row col s12">
                    <ul id="intelligenceMazeCard" class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">
                                Hover here to see an example
                                 where you could use the
                                Working Backward heuristic!
                            </div>
                            <div class="collapsible-body">
                                <img src="img/Intelligence_maze.png" style="width:100%;">
                            </div>
                        </li>
                    </ul>
                </div>
                Most of the time you start with a mouse on the outside trying to get to the cheese on the inside, but in this particular
                situation you can just take it from the cheese’s point of view. It is usually easier to get out of the maze than it is
                to get into the maze because the people making the maze assume that you’re always going to go forward from the outside
                to the inside. They make it hard in that direction, and it’s actually easier in the other direction. This picture of
                the working backwards heuristic is a good example and an excellent way to solve some problems.
                <br>
                <br> We have discussed some of the ways to solve problems. Now lets discuss some of the
                <strong>obstacles to solving a problem</strong>.
                <br> Some of the obstacles to problem solving are mental sets, functional fixedness, self-imposed limitations and faulty
                heuristics.
                <br>
                <br> First let’s look at the
                <span style="font-weight: bold;">mental set
                </span>. This is a standard approach that’s proved successful in the past - which is known as a heuristic! You’ve been
                able to figure out how to get a problem solved in a specific way, and that sets in your mind that this is the way it
                has to be done every single time. Your mind is set on that particular pattern to solve the problem. We have a tendency
                to respond to a new problem in the same manner that we used for the previous problem. Unfortunately that doesn’t always
                work. If it DOES NOT work, what do we do? We try the exact same thing again thinking "this time it’ll work"! We repeat
                our procedures again and again - Over and Over! We won't throw out the idea and start from scratch. I was selling my
                home and decided to change the faucets in the kitchen and bath. A pliers easily released the kitchen and bathroom sink
                faucets. Then it was the bathtub's turn. I tried to unscrew the mechanism with the pliers to replace it with the new
                $75 faucet I just purchased. It turned a little but it got stuck. I tried again. It would not budge. So, I got a wrench,
                I obviously did not have enough torque. I connected the wrench and - - - Pulled the entire faucet away from the pipes
                and ripped and bent the supply lines. What should have been a $75 fix ended up costing $2,500. If I'd called the plumber
                it would have been a few hundred for the entire job (kitchen, bath and tub).
                <br>
                <br> One type of a mental set is found in
                <strong>Functional fixedness</strong>
                which is assigning one and only one use for an object. It’s the inability to see a new use (or function) for some object
                associated with a different purpose. For instance, you may have to unscrew a flat head screw. You have a bunch of dimes
                in your pocket. The dime is a perfect flat-head screwdriver; it even gives you pretty good torque as well. There are
                many people that will use the dimes in their pocket to purchase a flat-head screwdriver instead of just using one of
                the dimes as a flat-head screwdriver. This is a good example of functional fixedness, thinking that there’s only one
                way to use a particular item. Once we decide what an object does it is hard to think of anything else. A dime is used
                to purchase things, not to be used as a screwdriver!&nbsp;
                <br>
                <br> We have a tendency to impose limitations on our thinking.
                <span style="font-weight: bold;">Self imposed limitations</span> are hard to break. It takes some "thinking outside of the box".
                <span style="font-weight: bold;">Self-imposed limitations
                </span> can be extraneous or superfluous limitations we impose on ourselves.&nbsp; They are like the idea we saw earlier
                where we do not consider working backwards. "That just isn't right", we think to ourselves.&nbsp; Really?! Why? We unconsciously
                imposed these limitations on ourselves.&nbsp; Check out the picture below and
                <span style="font-weight: bold; text-decoration: underline;">without lifting your pen from the page, can you connect all 9 dots with only 4 lines</span>? What stops most people from
                succeeding in accomplishing this task is a self-imposed limitation. Hover over the image for the answer.
                <br>
                <br>

                <div id="popup" style="border: 0px solid white; width:320;">
                    <div id="popup" style="border: 1px solid white; width:319px;">
                        <a href="#">
                            <img id="pictureOf9Dots" alt="picture of 9dots" style="border: 1px solid white;" src="img/9dot-img.png">
                            <!-- <span>
                                <img alt="9dots solution" src="img/9dot-solution.png">
                            </span> -->
                        </a>
                    </div>
                </div>
                <br> The answer is that your lines need to run outside the visually colored box. You had to think outside the box. You’ve
                heard that saying many times. Seeing this picture we create a self-imposed limitation. I said to draw the lines without
                taking your pen off the
                <span style="text-decoration: underline; font-style: italic;">page</span>. You assume - you put a self-imposed limitation on yourself - that the "page" is the colored section. You
                think you have to stay within the little orange or yellow box, but I didn’t say that! I said don’t take your pen off
                the page. The page is the entire screen. You assumed the box was the page. So, why do we imagine that we are required
                to stay inside the box? We tend to limit ourselves in many situations. We have problems making judgments and decisions
                because of our own self-imposed limitations. Adapt, Improvise, Overcome!
                <br>
                <br> Some other issues in solving problems and judgment and decision making are our biases. Our biases come in different
                forms such as the hindsight bias, confirmation bias, anchoring bias, representative bias and the availability bias. Let’s
                look at each one of them and give an example of each.
                <br>
                <br> Many times, while making a judgment, we are thrown by a bias called "
                <span style="font-weight: bold;">Hindsight bias</span>". That means when the answer has already been worked out, and we are told the answer, it seems
                like the simplest thing in the world and anyone should know that answer. We say that "Hindsight is 20/20" meaning when
                we look back on a solved problem we have perfect vision. That denigrates the people who had to figure out the problem
                in the first place. It was not easy to find the solution, but since we now know the answer, we do not give them the credit
                they deserve for finding the "truth". 20/20 hindsight is the tendency after learning about an event that you believe
                that you could have predicted the event in advance. For instance, the first shuttle accident in 1986 was caused by the
                o-rings expanding and leaking fuel which caused the Challenger to explode. The scientists figured out that the o-rings
                and the metal around the o-rings were two different metals.&nbsp; When they were both frozen, the contracted.&nbsp; As
                they heated up the o-rings expanded more rapidly than the metal around them leaving gaps which leaked fuel. Everybody
                thought “Well, that's obvious. You should've figured that one out”, but it wasn't really obvious until after it happened.
                What hindsight bias actually does is belittle those people who are in charge prior to the accident. We think we would
                do better because we've been told the answer. They should've known this since it's so obvious to us now. Well, it wasn't
                obvious until they figured it out and told the rest of us what it was!
                <br>
                <br> Now let's discuss the confirmation bias.
                <span style="font-weight: bold;">Confirmation
                    <strong>
                    </strong>
                </span>
                <strong>bias</strong> is ignoring or finding fault with or reducing the importance of information that does not fit our opinions.
                We tend to seek out information with which we tend to agree and amplify its importance. There are two sides to most issues,
                but confirmation bias makes us fixate on specific material that confirms our own belief. People do not like to be wrong.
                There isn't a single one of you who enjoys being shown that you are incorrect about something. Certainly we learn from
                that mistake, but it isn't pleasant. Some people with a pathology feel so pressured to be correct that they can not admit
                to anything that would prove them wrong. They only pay attention to items that "confirm" their belief about the world.
                If something in their environment disagrees with them, they pay no attention to it or denigrate the item saying "that
                has no real meaning and is not important". Hopefully knowing that these biases exist will help you to avoid them in the
                future.
                <br>
                <br> The
                <span style="font-weight: bold;"> Anchoring bias</span> is a faulty heuristic caused by basing or anchoring an estimate on a completely unrelated quantity.
                The tendency to give some undue weight to evidence which occurs earlier or most recently in a requirements list is part
                of the anchoring bias. For instance, let's look at the math formula called 8 factorial (8!). What is 8 factorial? It
                is usually stated as 8 times 7 times 6 times 5 times 4 times 3 times 2 times 1. I want you to tell me the answer based
                on just what you can do in your head, not putting it down on paper, not using a calculator, just figuring it out in your
                head. You will come up with an answer that is much higher than another group of people that I will tell to multiply 1
                times 2 times 3 times 4 times 5 times 6 times 7 times 8. This is the exact same answer mathematically. However, I started
                them out (I anchored them) in a much lower number (1 times 2). I started you out in a much higher number (8 times 7),
                and your answer will typically be much higher because you were anchored at a higher number. Our legal system uses this
                approach. It gives the prosecution the first argument, helping them to sway the jury with an anchoring bias of "guilty".
                Now, why would the legal system put such a burden on the person that's on trial? The jury is swayed towards a guilty
                verdict before the defense can come up and present their arguments for Not Guilty! Why would we do this? The reason is
                that the jury was already anchored before the case began. The jury is supposed to be anchored in our societal belief
                that you are "innocent until proven guilty". So, the Jury is initially anchored in innocence first. Then the prosecution
                gets a chance to break that innocence anchor before the defense comes back to prove they are innocent. If we told people
                that everyone is innocent until proven guilty, and then the defense gets to prove they actually are innocent before the
                prosecution gets a chance to prove guilt, it would place an undue burden on the prosecution and it would be difficult
                to find someone guilty - even if they are!
                <br>
                <br> The
                <span style="font-weight: bold;">Representative bias</span> is a faulty heuristic strategy based on the presumption that once a person or event is categorized,
                it shares all features of other members in that category. For instance, we say that "Blondes have more fun". We meet
                a blond and think she will be more fun. The representative bias is basically a stereotype. Actually, an experiment was
                done to find out if Blonds do have more fun than brunettes, redheads and raven haired women. Raven haired women have
                pitch black hair. The experiment found that they DID!! However, when the variables were analyzed, it was the expectation
                of their dates that caused the fun. When the men thought they would have more fun, they participated in activities that
                were more fun! For another example, maybe you know someone from Asia that is going to school in your country. The student
                is in science and math. In fact they are incredibly smart in mathematics and science. Your faulty heuristic develops
                that "all Asians must be really smart in Mathematics and Science", because that's the only member of that category that
                you have. You are creating a faulty heuristic based on ONE example (an anecdote). The reason this Asian is in your class
                is because s/he IS good in Science and Math and wants an education in your country. In experimental language - this was
                a bad sample! If you travel to Asia, you will find that they have as many people who are bad in math and science as your
                own population! The people who are bad in math and science don't generally travel to another country to go to school!
                <br>
                <br> Another reason that we make faulty judgments and decisions is due to the
                <span style="font-weight: bold;">Availability bias</span>
                which is a faulty heuristic strategy based on the information that can be recalled from personal experience. The availability
                bias is that we tend to grab at the very first thing that comes to mind to solve a problem, and that's not always the
                best way to solve the problem. Any kind of categorization scheme favors some searches over some other searches. So, the
                structure of our information system itself can bias our judgments and decisions. Your memory structure organizes information
                in a specific way. Any and every categorization structure lists certain information first and others later in the list.
                You have to use the hierarchy that you have created in your brain to solve the problems in your life. When you make a
                judgment or find a solution to a problem the very first thing that comes to your mind is at the very top of your hierarchy.
                When it is the first thing that comes to mind we give it more value than any other solution, even though it was arbitrarily
                accessed first. Since it is the first thing that comes to mind, you are going to try it - even though it may not be the
                best solution. It was simply the most easily accessed.
                <br>
                <br> It's time for a break guys, and gals.
                <br> Go get a cup of coffee.
                <br> Go do something other than study (maybe play the hangman game.
                <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                <br> Take 15 minutes or so before you go to the next slide.
                <br> Distributed learning is the best learning.
                <br> We will continue the study of Intelligence in the next lecture.
                <br> Talk with you then.&nbsp;
                <br>
            </div>
        </p>
    </div>
    </div>
</div>