<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Intelligence (4)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Intelligence_undertones_smarter_than_you.mp3"
                                title="Undertones - Smarter than you">                                
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
                    
            
                Welcome back to the fourth and last lecture on intelligence and thinking.
                <br>
                <br> Let's go back to the beginning of modern intelligence testing and wrap it up. When Alfred Binet and Theodore Simon started
                to give the test to the children in France they had many people helping them. A young man named Jean Piaget helped administer
                some of these tests. You have heard the name Jean Piaget before and you will again. A short history fact: Jean Piaget
                was a zoologist and is famous in psychology because of his studies of children.&nbsp; This is where he got his start
                in psychology.
                <br>
                <br> The 1904 French test eventually made its way to the United States where Henry Goddard translated the test into English
                in 1908 and Yerkes convinced the US Government to use this examination to test military recruits. WWI was right around
                the corner. It was easy to convince the military that this test could determine which were the intelligent recruits who
                should become Officers. It could also find the lower intelligent recruits who would be assigned the enlisted man's duty
                to be foot soldiers and gun fodder. Also, the very expensive hardware that was going to war needed intelligent people
                to run that hardware. So, who will be the foot soldiers and who would be officers and mechanics? It turns out that blacks
                and foreigners did extremely poorly on this test, mainly due to its socioeconomic questions, and were assigned as enlisted
                personnel. Since this test was biased toward the White Anglo-Saxon Protestant middle class males, they did the best on
                the test and were given officer ranks. The civilian consequences of this test were that people now had a reason for disliking
                specific people. They had a reason for racism. The country of origin and the ethnicity of a person appeared to determine
                whether you were stupid or smart.
                <br>
                <br>
                <strong>William Stern</strong>&nbsp; (1871 - 1938) coined the phrase Intelligence Quotient (IQ) which he originally decided was
                calculated as whatever score you got on your test divided by your age. The problem with this is it's a mathematical certainty
                that you will continue to age but your score on this test will remain fairly constant. If you divide a constant number
                by an ever increasing number, you end up with smaller and smaller scores. In your teenage years your IQ score will be
                larger than in your older years. What does that mean? Older people look stupid! Another issue in an ever increasing list
                of injuries done by the IQ. In 1914, Stern proposed a change in the formula. Now your score would be based on all the
                tests taken by people your age. If you are 50 years old, and your score is the average of all 50 year olds then your
                mental age is 50, and your chronological age is also 50. You get 50 divided by 50 which equals 1 times 100 which equals
                100. An average score will always be 100. We will look at the Normalized curve in just a moment.
                <br>
                <br> IQ attempts to compare you to the average population, but who makes these tests and what assumptions do they make when
                they create these tests? The Stanford-Binet intelligence scale was revised in 1916 when Professor Lewis Terman completed
                his American update of the Binet-Simon tests at Stanford University. Revisions of the Stanford-Binet intelligence scale
                are still used today. It's a very popular adult IQ test. Adults and children are given different types of tests. Today,
                the best children's tests are the WISC for older children from about the ages of 6 to 18, and for younger children from
                about 2 and a half to 6 years of age are given the WPPSI. Adults are given either the Stanford-Binet or the WAIS. There
                are a number of versions of each of these tests. For example the WAIS can be the third or fourth version WAIS-III or
                WAIS-IV or the revised version WAIS-R.
                <span style="font-weight: bold;">To remember which test goes with which group you can remember that any young child that hears the word "PP" starts to
                    giggle. So the WPPSI is for very young children. The WISC has the letter "C" in the name, so it is for older "C"hildren.
                    The rest are for adults. </span>
                <br>
                <br> Even today there are still problems with the tests. For instance: There's a phenomenon where women do worse in math
                exams. However, in a scientific experiment were women are told right up front that the test they are about to take was
                designed so that women do well on the test then they actually score very well on the test. In fact the test is exactly
                the same test. There was no difference. Maybe poor math scores in women is caused by a self-fulfilling prophecy. Women
                have always been told that they score poorly on math exams. They get to the math exam and they freak! Women still do
                worse on the SATs than men. They still don't have higher scores on average as men do. Are these tests measuring intelligence?
                Is that what they're measuring? Or is there something else involved, like their emotional state. Are the tests actually
                valid? Are they actually testing intelligence? They're certainly reliable.
                <strong>Reliable</strong>
                tests give the same results on each trial. Every time you take an intelligence test you will end up with a score within a
                narrow range.
                <strong>Valid</strong> tests are measuring what they're designed to measure. Are they actually measuring intelligence or some
                emotional state?
                <br>
                <br> Why not try your hand at it. This link is to a site that is not weighted down by advertisements and the questions are
                reasonable approximations of a good test.
                <a style="text-decoration: underline;" target="_blank" href="http://www.free-iqtest.net/">
                    <span style="font-weight: bold;">IQ TEST
                    </span>
                </a>
                <br>
                <br> The normal distribution curve is a bell-shaped curve, as seen below. It describes the spread of a characteristic through
                a population. We talk about the normal distribution or the bell-shaped curve for intelligence, but it's also a normal
                distribution curve for the amount of happiness, sadness, depression, anxiety in the population as well. The normal range
                is the scores falling in approximately the middle two-thirds of a normal distribution. So, you can be average, or you
                can be a little bit higher than average, but you're all falling within the normal range. In France they have tried to
                determine what predicts a child's intelligence level in research over the last several decades.&nbsp; They found that
                <strong>the best predictor of a child's IQ level is the mother's level of education and the family's financial status.</strong>
                However, when that data was collected in 1950, the family was a father and a mother.&nbsp; The father worked.&nbsp; The
                mother was the parent that took the most care of the children and had the most contact with them. Today we have families
                that are a single mother or a single father and two fathers or two mothers. The research needs to be continued based
                on these cultural changes. Remember this is not really testing intelligence, it's testing how much you know, and the
                more the mother knows, the more they can impart on the child. Also the more money you have, the more tools you have in
                the household to get knowledge to the children. The higher the financial status the more books you have, the more information
                is available for the child and the more educational locations (such as museums) you can afford to take the child. Families
                with enough money go to more museums, and expose their children to more information than those who can't afford it. This
                is why these children do better on intelligence tests, because these tests aren't really measuring intelligence, they're
                measuring how much you know compared to other people in your age group. These children know more because they have been
                exposed to more. To see this picture on a phone you will need to turn your phone sideways.&nbsp;
                <br>
                <br>
                <img alt="picture of intelligence curve" style="width:600px;" src="img/Intelligence_normal_curve.png">
                <br> Here's a picture of the IQ standard, normal distribution, bell-shaped curve. You can see that the 68 percentile is considered
                the normal percentile. If you fall within the first standard deviation you are considered normal. 68 percent of the population
                scores from 85 to 115 on the IQ test. The score of 70 and below is considered mentally deficient. Anything above 130
                is considered superior intelligence, and anything above 145 is basically genius. A very, very small percentage of the
                population falls in this area of superior intelligence or of genius. A very, very small percentage of the population
                falls in the lower sections as well. People with a 70 to 85 IQ can be productive members of society. They'll be able
                to have a job, pay taxes and have a family, but they are not ever going to be rocket scientists, they're not going to
                be teachers, they're not going to do a lot of evaluation type of problem solving. If they score below 70 they will be
                taken care of for the rest of their lives. It is not just genetics that determines your score. Many environmental influence
                can effect a person's IQ. Lack of nutrition, smoking and drinking during pregnancy, not enough attention and emotional
                connection in childhood, the financial status of the family and the amount of experiences the child has during the first
                12 years are some of the environmental influences on the development of intelligence.
                <br>
                <br> There are two types of exceptional children, the mentally challenged and the mentally gifted. People with an IQ below
                70 are
                <strong>mentally challenged
                </strong>. The causes of mental retardation can be genetic or environmental. One example of genetic reduction in intelligence
                would be Downs Syndrome which is also known as Trisomy 21, because the zygote contains 3 (TRI) strands on the 21st chromosome
                instead of 2 strands. You'd think that if you had more of something that would be better. Right? When I ask for a double
                dip ice cream and they give me three dips I am thrilled! It turns out that you need exactly the number of chromosomes
                required, no more and no less. We discussed this in the Biopsychology section. Besides chromosomal errors there are also
                environmental issues can cause decreased mental capacity. These includes drugs and alcohol. Alcohol is the biggest environmental
                world wide factor for mental deficiency that can easily be prevented. Alcohol, if taken during pregnancy, throws off
                the developmental process. You can imagine when a person is drunk they cannot walk in a straight line. A child developing
                in the womb has all of the necessary genetics, but as it's developing, any alcohol throws off growth (as if the neurons
                are drunk) so that the child's brain does not develop the way it's supposed to. It can also reduce the number of connections
                neurons make as well as reduce the number of neurons being created. If you can get pregnant - DO NOT DRINK! Also, if
                you are taking medication to prevent pregnancy (pill, patch, shot or implant), the medication will NOT work while you
                are taking antibiotics at the same time. This is one great reason to have the same pharmacists for all your medications.
                The pharmacist should let you know if you are on medications that interact with each other.
                <br>
                <br> How do we deal with mental retardation? What can we do to fix mental retardation? Unfortunately, there's not much we
                can do, once the damage is done. Brain damage cannot be repaired today. It is not possible to repair a damaged neuron
                or move a neuron into it's proper location if it grew in the wrong direction. However, even a brain that has been compromised
                has some potential. Environmental factors may help the child achieve his or her highest potential. With good environmental
                factors (you are loved, you're well fed, you're taught as much as possible) you may end up in the high end of the potential.
                In the past Downs Syndrome children were placed into a hospital where all they received for their environment was what
                it took to survive, and they ended up in the low end of the range. If you give a Downs Syndrome child love, attention,
                and affection, and the right amount of nutrients and training, they end up on the high side of their potential and most
                hold jobs and pay taxes.
                <br>
                <br> Children with IQ scores above 130 are considered
                <strong>gifted</strong>, and Professor Terman who revised the Stanford-Binet intelligence test, ran a study that tested a whole
                lot of children in California. He found 1,500 children who scored above 130. They were affectionately called Terman's
                "Termites". These students were then studied for over 70 years. Of course Mr. Terman was dead long before it was over.
                Robert R. Sears continued the experiment after Terman's death and Albert Hastorf continued the experiment after Dr. Sears.
                This is typical of a
                <strong>longitudinal</strong> study which can take more than a lifetime to finish. What they found in these studies was that
                these children all excelled at school. Well, guess what? That was not a surprise. That is what the original French intelligence
                test was meant to determine. However, they also had good health. They also were overall happier than the average population,
                but, there were no Einsteins, no Picassos, no Mozarts, no Rodans, no Nobel prize winners. There was no one that really
                set themselves out as the best of their crowd. Not one child became famous even though they all had above 130 IQ.
                <br>
                <br> Just because you're a genius on the IQ test, does not mean you're going to make a mark in the world. However it does
                appear that you're going to have good health, you're going to be overall happier than the average population and satisfied
                with your life. To become famous you need something in addition to high IQ. One of the things that helps to facilitate
                intelligence is
                <strong>motivation</strong>
                or
                <strong>drive</strong>. If you have a lot of motivation, a lot of drive and energy, you might do something great in the world
                (even if your IQ is simply average). A person with normal intelligence with more drive and ambition may achieve more
                than a very high intelligence person with very little ambition. We used to call people who sat on the couch at home and
                never did anything "couch potatoes" , but today that same person plays games on the computer so we call them "Mouse Potatoes"!
                Motivation and drive are important to making a person with any intelligence achieve something in the world. So, just
                because you score well on an intelligence test doesn't mean that you're going to do well in school or in life. In a job
                you need motivation and drive to facilitate any intelligence.
                <br>
                <br> Is this a Valid and reliable test? It is certainly reliable because it gives very similar results each time you take
                it (as long as you are in the same mental state). You will not get the same results on these tests if you are sick or
                grieving. How about validity? That depends on what you expect this test to show. If you know more than your peers, which
                is indicated by the score of 130 or above, then you're going to do very well in school, because you know what they will
                be teaching. If you're using this test specifically to determine if a child is going to do well in school and they do
                very well on the test as well as in school, we can call this a valid test. It does what it is supposed to do. It predicts
                school performance.
                <br>
                <br> So what is intelligence? What do we include in a list of intelligence? Some psychologists believe that intelligence
                is just one single general factor. They call it the 'g' factor. Others believe that intelligence is described as a collection
                of distinct abilities.&nbsp; We'll continue this line of thought in the next lecture.
                <br>
                <br> It's time for a break guys, and gals.
                <br> Go get a cup of coffee.
                <br> Go do something other than study (maybe play the hangman game).
                <br> There is one crossword puzzle for the entire unit,
                <br> but the hangman games are made for each slide.
                <br> Take 15 minutes or so before you go to the next slide.
                <br> Distributed learning is the best learning.
                <br> We will continue the study of Intelligence in the next lecture.
                <br> Talk with you then. &nbsp;
                <br>
                <br>
            </div>
        </p>
    </div>
    </div>
</div>