<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Intelligence (5)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Intelligence_AI_Bach.mp3"
                                title="Bach style music written by an Artificial Intelligence Computer">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
            
            
                Welcome back! This is lecture number 5 - the last lecture - for Intelligence and thinking. &nbsp;
                <br>
                <br> Charles Edward Spearman (1863 – 1945) is the British psychologist who came up with the idea of the 'g' factor. The "G"
                stands for one
                <span style="text-decoration: underline;">general</span> factor of intelligence. He thought this because many tests of intelligence in the 1920s gave nearly identical
                scores in all the different types of tests. So, there's a highly correlated group of scores in an individual and that
                points to a general intelligence factor. Many psychologists think that our intelligence is located somewhere in the frontal
                lobe of the brain. Raymond Bernard Cattell (1905 – 1998), another British psychologist, said there are two specific types
                of intelligence. There's fluid intelligence and crystallized intelligence. The
                <strong>fluid</strong> intelligence is the ability to see and solve complex problems.&nbsp; With Fluid Intelligence you can think
                on your feet. The
                <strong>crystallized</strong>
                intelligence is the ability to access and to store knowledge in your brain. Fluid intelligence decreases in early adulthood,
                while crystallized can increase throughout your life. People who are best at fluid intelligence are young adults. As
                you get older in adulthood, I'm talking in your 30s, you start to see a decrease in your fluid intelligence. However,
                we continue to learn new knowledge and increase our crystallized intelligence throughout life. If you're using your brain
                continuously to solve problems then fluid intelligence can remain high in later life, but most of us end up in a job
                where we're doing the exact same thing all day long where we stop using our brains for solving complex problems. In that
                case we quickly lose our fluid intelligence. If you're in a job like a nuclear scientist or rocket scientist, somebody
                at NASA, who has to continuously solve problems, you will have a higher level of fluid intelligence later in life, but
                eventually it will decrease.
                <br>
                <br> Both Robert Sternberg (1949 - ) and Howard Gardner (1942 - ) state that there are multiple ways to describe intelligence.
                Sternberg says that he has found 3 types of intelligence, and Gardner says there are 7 different intelligences. They
                don't really contradict each other because they're talking about different types of intelligence. So, what does Sternberg
                say? He says we have practical intelligence, logical reasoning, and experiential intelligence. The
                <strong>
                    practical intelligence</strong> is your ability to cope with your environment, or your ability to have street smarts.
                It's also called contextual intelligence because you're able to understand the context within which you're finding a
                problem.
                <strong>Logical reasoning
                </strong> is your ability to analyze problems, find correct answers. This is the ability that's usually measured on your
                IQ tests. It is problem solving skills in logic or mathematics. It is a part of all Intelligence tests. It's also called
                componential intelligence or component oriented reasoning and is also known as analytic reasoning.
                <strong>Experiential intelligence</strong> also known as creative intelligence on the other hand is a form of intelligence that
                helps people see new relationships among concepts, involving insight and creativity. So, experiential/creative intelligence
                includes the ability to think divergently.
                <br>
                <br> We will discuss Gardner in the next lecture. We just finished discussion Sternberg's three types of intelligence. Gardner
                says that we have 7 intelligences that can be measured. They include: Linguistics, logical-mathematical, Spatial, Musical,
                Bodily-Kinesthetic, Inter and Intrapersonal skills. The first one is linguistics. It's often measured on the IQ tests
                to measure reading comprehension and vocabulary. Linguistics is your ability to understand grammar and speech including
                reading and writing. The logical-mathematical is also measured on the IQ tests. It is your ability to do mathematics
                and logic - which includes your ability to find analogies. Those first two are basic abilities that are used in school
                systems all over the world. The rest of the intelligences are not measured in most school systems. A person may do very
                badly in school because they don't have math skills or don't read well. However, they could have a great profession if
                they have one of these other intelligences - like a Dancer! That is not to say dancers are not mathematical or can't
                read, but with the dance skill they can make a living without the other two.
                <br>
                <br> What is spatial intelligence? This is the ability to form mental images of objects and think about their relationships
                in space. I have a great deal of spatial intelligence. I can drive somewhere one time and then, from then on, I can picture
                that drive. I can tell you exactly how to get there. I can never get lost going to that particular location again. I
                can see landscapes in a 3-Dimensional view. A landscape architect or graphic designer would do very well with this type
                of intelligence.
                <br>
                <br> Maybe you are musically oriented. This is the ability to perceive and create patterns of rhythms and pitches. Some of
                the world's savants are incredibly musically talented, and yet may have no other intelligence on Gardner's Seven Intelligences.
                My sister is extremely musically intelligent. She had an invitation to attend Julliard. My entire family plays instruments
                and sings. You may enjoy being a choir director, music teacher, singer or songwriter if you have this talent.
                <br>
                <br> The Bodily-Kinesthetic ability allows one to control their movements with coordination. This is one I definitely do
                NOT have. I had to practice for months with my wife before we had our wedding so that I could dance with her and not
                step all over her feet. She was taking her life in her hands while she was trying to teach me how to dance. We aren't
                talking about a complicated dance either! The Waltz only has three steps! I did learn it and we did have a great "first"
                dance together. Good jobs for this type of intelligence might be actor, dancer, or athlete.
                <br>
                <br> Some people have Interpersonal intelligence which is the ability to understand other people's emotions, motives, and
                actions. This would be highly useful to a person who works at the United Nations. The ability to understand how other
                people are feeling and what their motives and actions are may prevent a war. Professions that use this talent would include
                a nurse, politician or psychologist.
                <br>
                <br> Lastly there's intrapersonal intelligence. This is the ability to know one's self, and to develop a sense of your own
                identity. Some people can do that very well while other people have a hard time describing themselves. "Know thyself"
                was the inscription at the entrance to the Temple of Apollo at Delphi. It was one of the favorite responses given by
                the Oracle at Delphi to people requesting a prophecy.
                <br>
                <br> There are many cultural differences in the definition of intelligence. The Native American concepts of intelligence
                states it is better to know how to treat others with respect than to be book learned. According to Native American concepts,
                the "white man" has what's called “Backwards knowledge”. Our book learning is not important. What's important is to be
                able to treat others with respect. If you can't treat others with respect then nothing that you have ever learned is
                useful to you. A lack of respect for the intelligence of the Elders in a community indicates stupidity in some of the
                Indian tribes. Cross-cultural psychologists reflect on the differences in the definition of intelligence among other
                cultures. For many years Psychology in the United States was very ego-centric. Other cultures are not like our culture.
                Americans thinking is not the same in other cultures. Cross-cultural psychologists want to look at other types of cultures
                like American Indians, and people from Asia, India, China, and Russia. Those cultures are very different from the United
                States WASP dominated society. They may have other ideas about the definition of intelligence and what is important in
                a person's behaviors. Of course that is true for personality and other aspects of psychology as well.
                <br>
                <br> What is the influence of heredity on IQ? There appears to be a close relationship between the IQ of children and their
                parents, their biological parents, and especially twins. Identical twins have the most similar IQs, and they are more
                similar to their biological parents than they are to their adopted parents. Their adopted parents control their environment
                while their biological parents (their sires) gave them their genetic programing. IQ is a factor of your genetics (which
                defines your potential intellect) and your environment (which determines how much of that potential you will reach).
                Your genetics are similar to your sires, but in the mixing of genes, you may end up with a much higher potential than
                your sires. Michael Kevin Kearney is a great example! He was turning himself over by the time he was 3 moths old as well
                as lift his head.&nbsp; He passed the three word stage of language by five months of age.&nbsp; He graduated from college
                with his first degree by the time he was 6 years old and was teaching at a major university before he was 17. His IQ
                was measured at over 300 when he was 6 years old. His younger sister also shows the signs of high intelligence, but the
                severity of her behaviors has been mitigated by her position as second child.
                <br>
                <br> Where we end up on the intelligence scale can be below or above our sires depending on the environment. A stimulating
                environment in the very young years shows better cognitive development in children. Rats that are caressed with an artist's
                brush have bigger brains than rats that aren't caressed with an artist's brush. This was a strange experiment. Scientists
                took a bunch of newborn rats and separated them from their mother. They split them into two groups. Both groups were
                given exactly the same treatment. They had the right amount of food, the right amount of nutrients, the right amount
                of water, the right amount of oxygen in the air, and the moisture in the air was perfect for little rats to grow. Everything
                was perfect for these rat pups to grow into healthy rats. The only difference between the two groups was that one group
                was brushed by an artist brush. They were caressed like a mother rat cleaning them. The brushed rats were smarter, more
                intelligent, they were able to solve problems faster, they had bigger brains, and their developmental process was much
                more further along than the other rats. In comparison: children in suppressed environments have suppressed IQs, while
                those in enhanced environments show enhanced IQs. Environment does play a role in the level of your final intelligence.
                <br>
                <br> Heritability is the amount of variation within a group that can be attributed to genetic differences. If two people
                are genetically identical then differences that they have between them are due to the environment, but if two non-identical
                people share the same environment, then the differences are more probably due to genetics. Some genes are more canalized
                than others. Canalized genes are those that do not react strongly to environmental influences. The most highly canalized
                genes are your eye, skin and hair color. No matter what your environment is, I don't care if we feed you popcorn, or
                grilled cheese sandwiches, or hot dogs every day or chocolate instead of vanilla ice cream, your eyes are going to be
                what your eyes were set to be by your genes. This is an incredibly highly canalized group of genes. The environment will
                have nothing to do with the phenotype. If you have highly canalized genes, it won't matter what the environmental differences
                are. However, weakly canalized genes can change based on the environment.
                <br>
                <br> A psychologist (Arthur Jensen [1923 - 20012]) published a paper in 1969 presenting evidence that racial differences
                in IQ scores may be influenced by genetics. He said that IQ was a function of hereditary, not environment, and a lot
                of people considered that to be a racist statement. It certainly can be used that way by people who don't see the variety
                of heritable traits in all races, but the question is, was he correct? Is it hereditary and not environment? In 1976
                Sandra Scarr (1936 - ) and Richard Weinberg published the results of their adoption study.&nbsp; They looked at over
                256 non-white children that had been adopted into affluent white families.&nbsp; This study contradicted the results
                of Jensen. There were 176 Black children that were adopted into White families. Their IQs for them, their sires had 100
                IQ, their parents had 115 IQ, and the children fell between them at 110 IQ. This means that environment does play a role,
                especially in young children. Their exact statement on the issue in 1994 was as follows: "We think that it is exceedingly
                implausible that these differences are either entirely genetically based or entirely environmentally based. The true
                causes of racial-group differences in IQ, or in any other characteristic, are likely to be too complex to be captured
                by locating them on a single hereditarianism-environmentalism dimension".&nbsp; Social class and IQ are definitely correlated.
                That means that poverty is connected to illiteracy which is connected to hopelessness, and in poverty self concept decreases.
                All these are related to IQ, and some of them may even be self fulfilling prophecies in that people tend to "be" as they
                have been told they are.&nbsp; All the children in the study were adopted years after birth.&nbsp; Their rearing environments
                were very different.&nbsp; Environment certainly plays a role in your intelligence level as well as many other personal
                aspects related to psychology.
                <br>
                <br> That’s it for the lectures for Intelligence.
                <br> It's time for a break guys, and gals.
                <br> Go do something other than study.
                <br> It's time to try the Crossword Puzzle for Intelligence.
                <br> Take 15 minutes or so before you go to the next Unit.
                <br> Distributed learning is the best learning.
                <br> Talk with you in the next lecture series.
                <br>
            </div>
        </p>
    </div>
    </div>
</div>