        <div class="section no-pad-bot" id="index-banner">
          <div class="container">
            <p class="flow-text center orange-text responsive-header">Biopsychology (3)</p>
            <div class="row">
              <p class="flow-text">
                  <div class="flow-text">
                      
                      <span class="flow-text">Welcome back! This is lecture number three for Biopsychology and we’re talking about neurons. &nbsp;
                          <br> We’ve just discussed afferent, efferent and interneurons.&nbsp;&nbsp;
                          <br>
                          <div class="images">
                              <div style="border: 0px solid white; padding: 10px; float: right; width: 340px; ">
                                  <div>
                                      <img alt="Picture of a Neuron" src="img/Rat_Neuron.jpg" style="border: 0px solid white; padding: 10px; width: 300px;">
                                      <br>
                                      <center>This is what a Neuron actually looks like</center>
                                  </div>
                              </div>
                          </div>
                          The picture to the right is a rather amazing little picture of a neuron of a rat.&nbsp;&nbsp; I appologize to the RG color
                          blind students.&nbsp; They will not be able to tell the difference. I am trying to find another picture with a different
                          color combination. Some of the projections from the body are called dendrites.&nbsp; The
                          <span style="font-weight: bold;">dendrites </span>are the receiving portion of a neuron.&nbsp; A signal that’s received from the dendrites goes through
                          the cell body (also called the
                          <span style="font-weight: bold;">Soma</span>), down through the
                          <span style="font-weight: bold;">axons </span>to the
                          <span style="font-weight: bold;">terminal buttons</span>, which are the sending portion of the neuron.&nbsp; So, the nerve receives a signal at the
                          dendrites and it sends a signal at the terminal buttons - at the end of the axon. A&nbsp; neuron can have multiple
                          axons but every single one of them is sending information through it to the terminal buttons. They only send information
                          in one direction. &nbsp;There are no neurons that take information from the terminal buttons to send it back to the
                          dendrites. &nbsp; The dendrites are always the receiving end, the terminal buttons are always the sending end. &nbsp;
                          So, the signal goes from the dendrites, through the cell body (soma), through the axon, to the terminal buttons.
                          &nbsp;In a moment we will discuss what happens when the signal reaches the terminal buttons.
                          <br>
                          <br>
                      </span>
                      <span class="flow-text">
                          <span class="flow-text">The axon can be surrounded by another cell, called a Glial cell. </span>
                      </span>
                      <span class="flow-text">
                          <span class="flow-text">&nbsp;</span>
                      </span>
                      <span class="flow-text">
                          <span class="flow-text">The
                              <span style="font-weight: bold;">Glial </span>cell forms what’s called a
                              <span style="font-weight: bold;">Myelin sheath</span>
                              which is a fatty sheath around the axon. If an axon has a myelin sheath, it looks white because of the fat, and if it doesn’t
                              have a myelin sheath, it looks grey. So, the brain contains both grey matter, and white matter.&nbsp; The white
                              matter has a myelin sheath, the grey matter doesn’t. Grey matter is slower than white matter, white matter is
                              much faster and much more efficient and we’ll see why in just a minute. </span>
                      </span>
                      <span class="flow-text">
                          <span class="flow-text">
                              <div class="images">
                                  <div style="border: 0px solid white; padding: 10px; float: left; width: 340px; ">
                                      <div>
                                          <img alt="Drawing of a Neuron" src="img/Neuron.png" style="border: 0px solid white; padding: 10px; width: 300px;">
                                          <br>
                                          <center>This is a drawing of a Neuron</center>
                                      </div>
                                  </div>
                              </div>
                              &nbsp;
                              <br> In this drawing you see the little myelin sheaths surrounding the axon.&nbsp; They look like hot dogs put together
                              end to end.&nbsp; You can see the bun (the myelin sheath) and the Hot Dog sticking out (nodes of Ranvier). &nbsp;
                              Louis-Antoine Ranvier (1835 - 1922) found them in his microscope slides - in 1878 - and was the first to describe
                              them, so he got to name them after himself (
                              <span style="font-weight: bold;">Nodes of Ranvier
                              </span>).&nbsp; With the Glial cell attached the neuron transmits its signal much faster.&nbsp; The electrical
                              signal jumps from Gap to Gap instead of having to travel the entire length of the Axon, but that isn't the end
                              of the Glial Story!
                              <br>
                              <br> You may have heard of Albert Einstein.&nbsp; He was a genius of unprecedented proportions.&nbsp; The question
                              many ask is - why?&nbsp; Einstein died at the Princeton Hospital in Princeton, N.J. in 1955. &nbsp; The pathologist
                              who did the autopsy (Thomas Harvey) stole his brain.&nbsp; He took it out and put it in formaldehyde and left
                              with it!&nbsp; Michael Paterniti was researching the stolen brain and convinced Mr. Harvey to return it.&nbsp;
                              The two of them actually carried the brain with them when they drove in a car to the west coast of the United
                              States to return it to Einstein's daughter, but she did not want it.&nbsp; So he kept it and went back to the
                              East coast.&nbsp; You can read a book about the ordeal called
                              <span style="font-style: italic;">Driving Mr. Albert: A Trip Across America with Einstein's Brain</span>.&nbsp; Scientists occasionally asked for
                              parts of his brain for study and Mr. Harvey would send them what they wanted.&nbsp; One scientist studied glial
                              cells in the brain and found that Einstein had many more than normal.&nbsp; Did this mean his neurons were better
                              cared for than others?&nbsp; How would that make him smarter?&nbsp; In 1990 a scientist at Standford University
                              discovered that glial cells talk to each other.&nbsp; They are not simply for housekeeping.&nbsp; Could the abnormal
                              amount of glial cells in Eisenstein's brain have helped him to reason creatively?&nbsp;&nbsp;
                              <br>
                              <br>
                              <div class="images">
                                  

                                  <div class="video-container">
                                      <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="https://videopress.com/embed/h0fQRsqK"></iframe>
                                      
                                  </div>
                                  <center> Shared by Dr. R. Douglas Fields
                                      <br> Author of "The other Brain" </center>
                                      

                              </div>
                              In Dr. Fields video above you can see both the neurons and the glial cells communicating!
                              <br> There was only one other difference in Einsteins brain.&nbsp; His parietal lobe was larger than most.&nbsp;
                              <br> Mr. Harvey eventually returned Einstein's brain to Princeton University.
                              <br>
                              <br>
                              <div class="images">
                                  <div style="border: 0px solid white; padding: 10px; width: 239px; float:left;">
                                      <div>
                                          <img style="width: 219px; height: 230px;padding:10px;" alt="picture of Albert Einstein" src="img/Biopsych_Albert_eintein.jpg">
                                          <br>
                                      </div>
                                  </div>
                                  <br>
                                  <span class="flow-text">Enough of that diversion.&nbsp; Let's return to the anatomy of the brain&nbsp;&nbsp; </span>
                                  <br> Let's talk some more about the terminal buttons at the end of the neuron.&nbsp; The terminal buttons will
                                  never actually touch the destination cell.&nbsp; They never physically connect to another cell. They get
                                  within close proximity.&nbsp; The little space in between the terminal buttons and the next cell is called
                                  a synapse or the
                                  <span style="font-weight: bold;">synaptic cleft
                                  </span>.&nbsp; It can be close to another neuron, or it could be a muscle, or it could be a gland. &nbsp;
                                  How is it that you’re sending an electrical signal to something and there is no connection on the terminating
                                  side, there’s a space.&nbsp; Everybody knows if you’re sending an electrical signal and you get to a space
                                  that the electrical signal has to be really, really strong in order to jump the space (a spark).&nbsp; To
                                  get a spark to jump between one side and the other side of the space it has to be a large voltage.&nbsp;
                                  Neurons don’t have that much power.&nbsp; So, how does the electrical signal make it through this gap to
                                  its destination.&nbsp; The answer is chemicals called
                                  <span style="font-weight: bold;">Neurotransmitters</span>.&nbsp;&nbsp; Before I continue talking about the chemicals you should know there
                                  are some cells that are connected through a "
                                  <span style="font-weight: bold;">Gap Junction
                                  </span>" which allows the electrical flow to continue directly to the next cell.&nbsp; This is unusual in
                                  the nervous system but does occur in other body cells.
                                  <br>
                                  <br> The terminal buttons have synaptic vesicles which are holding chemicals in them.&nbsp; When the electrical
                                  signal comes down to the terminal buttons, it opens the vesicles and allows the chemicals to be released
                                  into the space between.&nbsp; The chemicals float between the two, and if enough of the chemicals come into
                                  contact with the dendrite on the other side, if enough of those chemicals interact with the dendrites on
                                  the other side, it will create a new action potential in the next neuron or cause a&nbsp; muscle to contract,
                                  etc...&nbsp; That means we, and any living animal on planet Earth, are electrical AND chemical in nature.
                                  We have electrical charges, and we have chemicals that will be used in the communications between neurons
                                  and the object of their affection.&nbsp; It also means we have two places where things can go wrong. We can
                                  have the electrical signal go wrong or we can have the chemical signal go wrong.
                                  <br> &nbsp;
                                  <br> Pharmaceutical companies will create drugs which will either hinder or help the neurotransmitters to cross
                                  the synaptic cleft.&nbsp; If you have too many being released, the pharmaceutical company could come up with
                                  a drug that will stop the release of the neurotransmitters.&nbsp; The drugs can also mimic the neurotransmitter
                                  and attach to all the locations on the next object (muscle, gland or neuron).&nbsp; The drugs can be similar
                                  enough to produce an action on the next object, or they can be just different enough to block the true neurotransmitter
                                  without creating any action.&nbsp; Some drugs help to increase the destruction of the neurons in the synaptic
                                  cleft.&nbsp; Other drugs help the terminal buttons reabsorb the chemicals so they do not stay in the cleft
                                  as long as they normally would.&nbsp; That’s where the drug industry plays a role in Psychology.
                                  <br>
                                  <br> Here’s a rehash of the terms we just discussed for Neuron anatomy.&nbsp;
                                  <span style="font-weight: bold;">Dendrites </span>receive signals from another neuron. The
                                  <span style="font-weight: bold;">Nucleus
                                  </span> of the neuron contains the chromosomes of the cell.&nbsp; The body of the cell is known as the
                                  <span
                                      style="font-weight: bold;">soma</span>. The Soma contains nutrient material, the cytoplasm, which helps to keep the cell alive.&nbsp;
                          The
                          <span style="font-weight: bold;">Axon
                          </span> is the long leg of the neuron which transmit in only one direction.&nbsp; The
                          <span style="font-weight: bold;">Myelin sheath
                          </span> , made of
                          <span style="font-weight: bold;">Glial
                          </span> cells, actually protect the axon and speed up signal transmission.&nbsp; They also provide nutrients and
                          they remove waste from the Axon. A neuron with glial cells connected to it is much better off because it’s being
                          helped in its life by the glial cell. When Glial cells break down (die) you will have have a lot of different issues,
                          one of them – Multiple Sclerosis.&nbsp; The
                          <span style="font-weight: bold;">
                              Nodes of Ranvier </span>are the places between the Myelin sheaths, where the Glial cells don’t actually touch,
                          and the Axon is visible. The
                          <span style="font-weight: bold;">terminal buttons
                          </span> have synaptic vesicles in them.&nbsp; The
                          <span style="font-weight: bold;">synaptic vesicles</span> are where the neurotransmitters are held.&nbsp;
                          <div id="popup" style="border: 0px solid white; padding: 10px; float: left; ">
                              <div id="popup" style="border: 1px solid green; padding: 5px; float: left; left:-100px; ">
                                    <div class="card">
                                        <a href="#">
                                            <img id="onHoverSleep" style="float:left;" alt="Icon of a Neuron" src="img/Sleep_Hours_icon.png">
                                        </a>
                                    </div>
                              </div>
                          </div>
                          The
                          <span style="font-weight: bold;"> neurotransmitters</span>
                          are chemicals released into the synaptic cleft which pass through the synaptic cleft to get to the object on the other side.
                          [Hover over the icon to see a bigger picture].&nbsp; The
                          <span style="font-weight: bold;">Synapse </span>(or synaptic cleft) is the space between the neuron’s terminal buttons and the dendrites of the next
                          neuron or other cell type.&nbsp; Synaptic transmission is when the chemical neurotransmitters are released into the
                          synaptic cleft where they float to the adjoining cell.&nbsp; They will bind to that cell and if enough chemicals
                          make the connection the next neuron will start another electrical charge.&nbsp; If the next cell is a muscle then
                          the muscle will contract or relax depending on the type of neurotransmitter being released (either excitatory or
                          inhibitory).&nbsp; The term
                          <span style="font-weight: bold;">
                              Lesions</span> means tissue damage which results from disease or injury.&nbsp; The injury can be purposeful or
                          accidental. If you hit your head, it’s an accidental injury, but we can (and do) go into the scalp and purposely
                          cut neurons in the brain for specific reasons. We’ll talk about those later (Cancer is one reason).&nbsp;
                          <br> &nbsp;
                          <br> How does the Neural Impulse, the electrical signal, work?&nbsp; This is a brief electrical (ionic) surge that carries
                          the neuron’s message in one direction from the dendrites through the soma and to the axon and finally to the terminal
                          buttons and the vesicles, and ending in the terminal buttons with the release of neurotransmitters that cross the
                          synaptic cleft and bind to the dendrites on the next neuron (or the receptors on the next cell). If enough of these
                          transmitters bind to the next cell, the communication continues to the destination and triggers a reaction in the
                          next cell.&nbsp; So, it could be a muscle that flexes or it could be a muscle that relaxes or it could be a gland
                          that releases hormones.&nbsp; So, the neuron brings a signal to some part of the body or sends a signal from some
                          part of the body back to the brain.&nbsp; Ions are charged particles that are moved across the cell membrane. &nbsp;
                          They are Na, K, and Cl.&nbsp; You probably recognize NaCl as Sodium Chloride.&nbsp; When&nbsp; Cl and K are put together
                          you get Potassium Chloride.&nbsp; So, Na is Sodium, K is Potassium, and Cl is Chlorine.&nbsp; What is NaCl typically
                          called? ..... Table Salt!&nbsp; How about KCl?&nbsp; .....&nbsp; Salt Substitute (for people trying to reduce their
                          sodium intake).&nbsp;&nbsp; These are the chemicals required to make your neuron' electrical charge work.
                          <br>
                          <div class="images">
                              <div style="border: 0px solid white; padding: 10px; float: left; width: 340px; ">
                                  <div>
                                      <img alt="Gif of electronic charge" src="img/Electric_charge.gif" style="border: 0px solid white; padding: 10px; width: 300px;">
                                      <br>
                                      <center>This is what the Neuron charge looks like</center>
                                  </div>
                              </div>
                          </div>
                          &nbsp;
                          <br> The neuron in a resting state has a negative 70 millivolt charge.&nbsp; There is a negative charge, when the neuron’s
                          ready to send the signal.&nbsp; During the
                          <span style="font-weight: bold;">Action Potential
                          </span> (when it’s sending a signal) the cell goes from a negative 70 millivolt to a positive 30 millivolts.&nbsp;
                          That’s a 100 millivolt change in its charge.&nbsp; The
                          <span style="font-weight: bold;">Refractory period
                          </span>, after the signal is sent, is a
                          <span class="flow-text">
                              <span class="flow-text">restorative
                              </span>
                          </span>time-frame where the cell is unable to respond until it reacquires or re-accumulates its charge of sodium, and potassium,
                          and chloride. This happens through holes called
                          <strong>chemical pumps</strong> which pull the ions through to the other side of the cell.&nbsp; That brings the neuron back
                          to a negative 70 millivolt potential.&nbsp;&nbsp; This process takes some time and during that time there is no way
                          for the neuron to fire off again.&nbsp; A neuron typically can only fire off 1000 times per second.&nbsp; That is
                          extremely fast.&nbsp; I cannot click my figers fast enough to be 1000 times per second, because of the mechanical
                          functioning of the&nbsp; muscles.&nbsp; If I could, I would probably set my fingers on fire from the friction it
                          would cause.&nbsp; That limits us in many ways.&nbsp; As we will see in Sensation and Perception, hearing is limited
                          by the number of times a neuron can fire off per second.
                          <br>
                          <br> That brings us to the
                          <span style="font-weight: bold;">neurotransmitters</span>. The neurotransmitters are chemicals that are stored in vesicles in the terminal buttons.
                          These neurotransmitters are messengers that relay neural messages across the synapse.&nbsp; I will talk about 7 of
                          them here, but there are more than these.&nbsp; Some neurons have dopamine, some have GABA, some have serotonin,
                          some not. Some neurons have a conglomeration of these.&nbsp;&nbsp; Each neuron is dedicated to its own specific communication
                          style.&nbsp; So, we’re not simply electrical signals moving through our bodies.&nbsp; Without these chemicals to
                          pass the signal from neuron to neuron and to the cells of the body, there would be no life. We would be dead.&nbsp;
                          I as I stated these chemicals work to either
                          <span style="font-weight: bold;">suppress or stimulate
                          </span> other cells.&nbsp; Some of them actually stop nerves from working and some of them stimulate nerves to work.&nbsp;
                          <br>
                          <br> We’ll talk about these seven neurotransmitters when we get to the next lecture, lecture number four for Biopsychology.
                          <br>
                          <br>
                          <span class="flow-text">
                              <span class="flow-text">
                                  <span class="flow-text">
                                      <span class="flow-text">That's it for this lecture.
                                          <br> I’m going to stop here. It's time for a break guys, and gals.
                                          <br> Go do something other than study (maybe play the hangman game).
                                          <br> There is one crossword puzzle for the entire unit,
                                          <br> but the hangman games are made for each slide.
                                          <br> Take 15 minutes or so before you go to the next slide.
                                          <br> Distributed learning is the best learning.
                                          <br> We will continue the study of the Biopsychology in the next lecture.
                                          <br>
                                      </span>Talk with you then.</span>
                                  <br>
                                  <br>
                              </span>
                          </span>
                          </div>
                      </span>
                      </span>
                  </div>
              </p>
            </div>
          </div>
        </div>