        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">Biopsychology (5)</p>
            <div class="row">
              
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                  
                      Welcome back, this is lecture number five for Biopsychology. &nbsp;&nbsp; &nbsp;&nbsp;
                      <br> We’re talking about the brain structures.&nbsp; The Hind brain is the lowest layer, and we’ve talked about it.&nbsp;
                      Now we’re moving onto the second layer of the brain which is the Limbic system. &nbsp; &nbsp;
                      <br> &nbsp;
                      <br>
                      <div class="images">
                          <div style="border: 0px solid white; padding: 10px; float: left; width: 320px; ">
                              <div>
                                  <img alt="Picture of the Limbic System" src="img/LimbicSystem.png" style="border: 0px solid white; padding: 10px; width: 300px;">
                                  <br>
                                  <center>A picture showing the Limbic System</center>
                              </div>
                          </div>
                      </div>
                      The Limbic system regulates our emotions, complex motives, and urges, and helps increase memory abilities. Now, we will talk
                      about three different sections of this particular layer of the brain; the Hippocampus, the Amygdala, and the Hypothalamus.
                      According to
                      <a style="text-decoration: underline;" title="Link to Hadel and Moscovitch" href="http://www.ncbi.nlm.nih.gov/pubmed/10985275">Nadel and Moscovitch</a>, who have a theory called the Multiple Memory Trace theory, the
                      <span style="font-weight: bold;">Hippocampus</span>
                      is responsible for retention and retrieval of long term episodic, but not semantic memory. It helps in remembering the location
                      of items in space, and connects our present and our past.&nbsp; Episodic memory is the episodes of our life. &nbsp; It
                      turns out that episodic memory is the first to go in dementia, whether it’s Alzheimer’s disease or vascular dementia,
                      it doesn’t matter, episodic memories are the first to be lost.&nbsp;&nbsp; This tends to indicate that the hippocampus
                      is not a very strong structure, that dementia affects the Hippocampus first. There are only three locations in the brain
                      where new neurons are formed after you are born.&nbsp; The hippocampus, specifically in the the dentate gyrus, is one
                      of the locations where Neurogenesis occurs. The other two areas are the Sub-ventricular zone (connected to the reward
                      center of the brain) and the Striatum.&nbsp; There are approximately 700 new neurons created every day of your life.&nbsp;
                      700 per day times 365 days a year times an average life of 80 years is a total of 20 million new neurons in a lifetime.&nbsp;
                      Compared to the 86 billion in your brain when you are born, that is insignificant and yet, it may be the very reason
                      we can remember.&nbsp; We will discuss a man without the ability to remember anything since his hippocampus was damaged
                      in the memory chapter.
                      <br>
                      <div class="images">
                          <div style="border: 0px solid white; padding: 10px; float: right; width: 240px; ">
                              <div>
                                  <img alt="Rotating scull showing hippocampus" src="img/Biopsych_Hippocampus.gif" style="border: 0px solid white; width: 220px;height:200px;">
                                  <center>
                                      <br> The hippocampus is in red
                                      <br> Attribution: Wikipedia </center>
                              </div>
                          </div>
                      </div>
                      The
                      <span style="font-weight: bold;">Amygdala </span>controls emotions like aggression and fear, and the formation of our emotional memories. Emotional memories
                      are the ones that are connected to a strong emotion as we’ll see when we talk about memories.&nbsp; Emotional memories
                      are some very strong memories.&nbsp; Emotions are the reason why children may learn curse words before they learn anything
                      else.&nbsp; They learn words tied to emotions, and when you say those curse words, you say them with a great deal of
                      emotion.&nbsp; The emotion triggers the child's emotional center, the Amygdala of their Limbic system.&nbsp; This helps
                      to set that particular memory.&nbsp; So, be very careful about what you say around your children, and if you really want
                      to help them to remember words, say the words with emotion, make it an emotional memory.&nbsp; Cutting the Amygdala or
                      causing the Amygdala not to work anymore, will decrease aggression. If you lesion the Amygdala in a very aggressive cat,
                      you get an excessively tame animal, but if you take a tame cat and put an electrical stimulation to the Amygdala, you
                      get hissing and aggressive posturing, indicating that when the Amygdala is activated by the brain, you get a great deal
                      more emotion.&nbsp; When the Amygdala is inhibited by the brain, you get less emotion.&nbsp; The
                      <span style="font-weight: bold;">Hypothalamus
                      </span>is involved in regulating body temperature, hunger, thirst, emotions and sex. It is the homeostatic portion of
                      the brain; it keeps everything stable.&nbsp; So, the Hypothalamus serves as the brain’s blood-testing laboratory.&nbsp;
                      It is constantly monitoring blood to determine the condition of the body to maintain a steady state (
                      <strong>homeostasis</strong>). If it sees that you need more water, it will activate the thirst centers. If it sees that you
                      need more sugar, it will activate your hunger centers. If you’re too hot, it will tend to find a way to cool you down,
                      or if you’re too cold it will find a way to heat you up. It even helps regulate the circadian rhythms which we will discuss
                      in the unit on consciousness. &nbsp;
                      <br>
                      <br>
                      <img alt="rotating brain" src="img/Brain_rotation_colored.gif" style="padding: 10px; float: left;">Next we will discuss the top-most layer of the brain - the
                      <span style="font-weight: bold;">Cerebrum</span>.&nbsp; The Cerebrum is the bulbous cap which is covering the limbic system. &nbsp; The Blue Whale has
                      a much larger brain than ours but it is only .02 percent of its body mass.&nbsp; It’s a peanut compared to its size.&nbsp;
                      Our brain is one of the top 5 largest in the animal kingdom by body size (about 2.1 percent).&nbsp;&nbsp; Incredibly
                      the Shrew has a larger ratio than ours .&nbsp; The shrew is a small mouse.&nbsp; Anyone remember Hitchhikers guide to
                      the galaxy?&nbsp; The Dolphin is about 1.19 percent of its body weight.&nbsp; The Macaque, Baboon and Chimpanzee are
                      close behind the dolphin.&nbsp; The Cerebrum enables reasoning, planning, creation, problem solving, and higher cognitive
                      functioning.&nbsp;&nbsp; It is the largest mass of the brain.&nbsp; The
                      <span style="font-weight: bold;">Cortex </span>is the outer most part of the cerebrum.&nbsp; It is the thin grey matter covering the Cerebrum.&nbsp;&nbsp;
                      The word Cortex is actually a Latin word for bark or shell and the bark of the tree is on the outside as the Cerebral
                      cortex is on the outside of our brain.&nbsp; The Cerebrum is divided into two halves connected by a mass of fibers called
                      the
                      <span style="font-weight: bold;">Corpus Callosum
                      </span>, and this bundle of nerves allows one half of the brain to talk to the other half of the brain.&nbsp; Without
                      the Corpus Callosum the two halves of the brain are unable to communicate to each other.&nbsp; We’ll talk more about
                      split brained patients and the Corpus Callosum in the next lecture.&nbsp;
                      <br>
                      <br> The
                      <span style="font-weight: bold;">fissures </span>in the brain are the valleys of the brain. The brain is basically a shriveled up balloon.&nbsp; If&nbsp;
                      you could expand it out, it’d be much bigger than the scull could accommodate, so it’s shriveled up. &nbsp; There’s a
                      lot more in your head than you would expect to be able to put into the scull if it was blown up.&nbsp; The folds (fissures)
                      create this extra space, like a shriveled up balloon or a squished up sponge in your hand, it creates little folds and
                      valleys within that sponge that you’re holding. Many of these valleys are found in the majority of humans.&nbsp; The
                      <span style="font-weight: bold;">central sulcus
                      </span> is a major valley found in everyone which separates the frontal and parietal lobes.&nbsp; That valley, that fissure,
                      is found in all humans, however, there are little differences here and there between brains so that they’re not all exactly
                      the same. &nbsp; The crevices of the brain are much like a fingerprint - different for everyone.
                      <br>
                      <br>
                      <div class="images">
                          <div style="border: 0px solid white; padding: 10px; float: left; width: 320px; ">
                              <div>
                                  <img alt="Picture of the brain" src="img/Brain_Lobes_colored.png" style="border: 0px solid white; padding: 10px; width: 300px;">
                                  <br>
                                  <center>A picture showing the lobes of the brain</center>
                              </div>
                          </div>
                          The
                          <span style="font-weight: bold;">cerebral cortex</span> is the outer portion of the brain. The picture to the left shows the different lobes of the
                          brain. There are four lobes on each side of the brain.&nbsp; Actually we call it our "brain", but in reality it is
                          two brains!&nbsp; Remember that the part of the brain that connects the two halves is the corpus callosum. Now let's
                          look at the four lobes of the Cerebral cortex. The
                          <span style="font-weight: bold;">Frontal lobe
                          </span> is right above your eyes.&nbsp; It has two major areas I want to define: the pre-frontal lobe and the motor
                          cortex.&nbsp; The pre-frontal lobe sits above and in front of the eyes.&nbsp; The motor cortex is in the back of
                          the frontal lobe. The frontal lobe controls movement, thinking, and personality, and it contains the Motor cortex
                          and Broca’s area which we will discuss a little later.&nbsp; In the picture below the frontal lobe is pink and the&nbsp;darker
                          pink area is the
                          <span style="font-weight: bold;">Motor cortex
                          </span>. What does that mean?&nbsp; It’s the area of the brain that starts the movement of all body functions. If
                          I give a small electrical stimulation to some area of the Motor cortex, a portion of your body will move. I can then
                          map, and actually tell what parts of your brain are mapped to your toes, your feet, your legs, your hips, your arms,
                          your fingers.&nbsp; Even when you’re talking, your tongue and your jaw move and it’s all coming from the Motor cortex.&nbsp;
                          A
                          <span style="font-weight: bold;">pre-frontal lobotomy </span>is a surgery that used to be performed on people who were extremely dangerous to themselves
                          and to other people and who were in asylums living their lives wrapped up in a straight jacket.&nbsp; In order to
                          change their personality, the doctor would operate to separate their pre-Frontal lobe from the rest of the brain.&nbsp;
                          They would just slice it off and that changed the very, highly aggressive, mean, angry individuals into people that
                          you could control. They could live a somewhat normal life. They no longer had to be in straight jackets all their
                          lives. We don’t do lobotomies anymore. They were very badly misused and there were side effects that weren’t as good
                          as people might have thought at the time that they were doing them.
                          <br>
                          <div class="images">
                              <div style="border: 0px solid white; padding: 10px; float: right; width: 320px; ">
                                  <div>
                                      <img alt="Picture of the brain" src="img/Brain3.png" style="border: 0px solid white; padding: 10px; width: 300px;">
                                      <br>
                                      <center>Names for areas of the brain</center>
                                  </div>
                              </div>
                              <br> Just behind the motor cortex and on top of the brain is the
                              <span style="font-weight: bold;"> Parietal lobe </span>and just next to Motor cortex is the
                              <span style="font-weight: bold;">Somatosensory cortex
                              </span> - in the picture to the right the parietal lobe is shown in blue and the somatosensory cortex is in dark
                              blue.&nbsp; The Somatosensory cortex includes the word “soma” which means “body”.&nbsp; It also includes the
                              word sensory.&nbsp; So it’s the area that activates when the body is feeling something.&nbsp; If I touch your
                              finger, a part of the Somatosensory cortex will light up. If I directly activate the Somatosensory cortex with
                              electrical stimulation, you might think somebody is touching your leg, or touching your arm, or touching your
                              cheek.&nbsp; Your entire body is outlined somewhere in the Somatosensory area.&nbsp; The Somatosensory cortex
                              is right next to the Motor cortex, which is pretty good because when you feel something you don’t like, you want
                              to get away from it really fast.&nbsp; The motor and sensory areas can communicate rapidy. Underneath the Frontal
                              lobe and Parietal lobe but closer to the front of the brain, next to the ear and nose is the
                              <span style="font-weight: bold;">Temporal lobe</span>. It processes sounds, including speech.&nbsp; Behind the Temporal lobe is the
                              <span style="font-weight: bold;">Occipital lobe</span>
                              which is for visual processing, it contains the visual cortex.&nbsp; As a child, if you lose parts of the left side of your
                              brain, the right side of the brain can take over. In women, it’s already starting to take over, but in men as
                              an adult, if you lose the left side of your brain, you’re really in trouble because although the brain is plastic,
                              it can only change so much once you’re an adult.&nbsp; As an adult the brain is pretty much set, and it’s going
                              to take a much longer time and much more effort to make the brain change as an adult, where as in a child, it’s
                              basically like hot plastic.&nbsp; The brain of a child can be molded in any way shape or form. That’s why experience
                              in childhood is so important to the developing the brain - easpecially in the first four years.
                              <br> &nbsp;
                              <br> &nbsp;&nbsp; It is also the reason that poverty is so devestating to the developing brain.&nbsp; Poverty changes
                              the type and limits the amount of experience.&nbsp; Two important areas in the Frontal and Temporal lobes of
                              the cerebrum are
                              <span style="font-weight: bold;">Broca</span>’s and
                              <span style="font-weight: bold;">Wernicke</span>’s area. The are marked in&nbsp; the figure to the right.&nbsp; These men are two doctors. Broca
                              was born in 1824 and died in 1880. He found the center of the brain used to translate thoughts into speech. As
                              you’re talking you have to think about what you are going to say. This happens so fast that we do not actually
                              notice the thought process. What happens if Broca's area is broken? You have a condition called
                              <span style="font-weight: bold;">Aphasia</span>. With Aphasia you can think about what you want to say, but then you can’t translate those thoughts
                              into speech. You get all kind of gobbledy-gook that comes out of your mouth. Broca's area is only found in the
                              LEFT Frontal lobe of the brain. It is NOT found in the RIGHT Frontal lobe. However, women tend to be able to
                              use the right side of the brain for speech. FMRI scans show that when women speak both sides of their brain are
                              active. Broca was the first person to prove that a behavior relates to brain structures.&nbsp; Some of his patients
                              were Aphasic, and when they died he did an autopsy on them. Every single one of them had lesions or dead areas
                              in the same areas of the left Frontal lobe. Since they all had damage in the same area, he said this proves that
                              the brain is associated with this particular behavior - speech. Wernicke was born in 1848 (about 20 years after
                              Broca) and died in 1904. He found the center of the brain used for understanding speech. When somebody talks
                              to you - you hear it - and then you have to interpret what you hear. That is what Wernicke’s area does. It’s
                              in the left Temporal lobe. Again, this is the left side of the brain, but now it’s in the Temporal lobe, not
                              the Frontal lobe. Both of these areas of the brain make the left side of the brain the area for speech and hearing.
                              Although - as I said earlier - women tend to be able to use the right side of the brain as well. Maybe that’s
                              why they talk so much more than men do - just kidding! That is a folk story.&nbsp; Research shows that men talk
                              more than women!
                              <br>
                              <br> The
                              <span style="font-weight: bold;">Lateralization </span>of the brain means that the brain is different on the left and right sides. While the left
                              side of the brain is more responsible for hearing and speech, although women use more of both sides, the right
                              side of the brain is mostly involved in spatial and visual activities. I am going to list activities of the left
                              and right sides to give you an indication of what some of the right side does, and what some of the left side
                              does. The left side is for spontaneous speaking and writing (as in debate), but the right side is for repetitive
                              but not spontaneous speaking (as in the memorized lines of an actor). So, in a debate you would use the left
                              side, but while acting you would use the right side. This leads us to the idea of left and right brained individuals.
                              Everyone can carry on a conversation (spontaneous speech) and everyone can memorize some speech. However, some
                              are better at one rather than the other.&nbsp; It is not that you can't use both sides, but you tend to favor
                              one side over the other. There are tests you can take to see which side you favor.
                              <br>
                              <br> The left side responds to complex commands but the right side responds to simple commands.
                              <br> In the left side we have word recognition as we saw in Wernicke’s area,
                              <br> and in the right side, facial recognition, where you can recognize other people as they are passing through
                              your field of vision.
                              <br> The memory for words and numbers is on the left side,
                              <br> and memory for shapes and music on the right side.
                              <br> Sequences of movements for the left side,
                              <br> spatial interpretation on the right side.
                              <br> Feelings of anxiety on the left side,
                              <br> but emotional responsiveness on the right side,
                              <br> and the left side is more involved with positive emotions
                              <br> while the right side is more involved with negative emotions.
                              <br>
                              <br> Some of my students ask me an interesting question. If the right side of the brain is more negative, and the
                              right side of the brain controls the left hand, then does that mean that left handed people are more negative
                              than right handed people.&nbsp; I have no idea.&nbsp; It is an interesting very good hypothesis.&nbsp; I do not
                              know if it has every been tested.&nbsp; If you go to
                              <a target="_blank" href="http://www.personalitytest.net/questionnaires/braindominance/">this location
                              </a>, you can take a test to see which side of your brain you
                              <span class="flow-text">favor.&nbsp; I picked this location because it has very few advertisements and does not appear to ask for any
                                  money before they give you your results.
                                  <br>
                                  <br>
                                  <span class="flow-text">
                                      <span class="flow-text">
                                          <span class="flow-text">That's it for this lecture.&nbsp;
                                              <br> I’m going to stop here. It's time for a break guys, and gals.
                                              <br> Go do something other than study (maybe play the hangman game).
                                              <br> There is one crossword puzzle for the entire unit,
                                              <br> but the hangman games are made for each slide.
                                              <br> Take 15 minutes or so before you go to the next slide.
                                              <br> Distributed learning is the best learning.
                                              <br> We will continue the study of the Biopsychology in the next lecture.
                                              <br>
                                          </span>Talk with you then.</span>
                                  </span>
                              </span>
                          </div>
                      </div>
                  </div>
              </p>
            </div>
          </div>
        </div>