        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">Biopsychology (4)</p>
            <div class="row">
              <p class="flow-text">
                  <div class="flow-text">
                      
                      <br> Welcome back to this the fourth lecture for Biopsychology.&nbsp; We are now talking about neurotransmitters, the chemical
                      messengers that will pass through the synaptic cleft from the terminal buttons of a neuron to whatever they are going
                      to impinge upon on the other side. Different neurotransmitters are found in different parts of the brain.&nbsp; Let me
                      take a side step and ask, how?&nbsp; When we are conceived we are a single cell - a zygote.&nbsp; The zygote splits into
                      two identical cells 30 hours after conception.&nbsp; Then those two cells divide and become 4 identical cells. The next
                      division creates 8, then 16, then 32, then 58 and then within 4 days there are 107 IDENTICAL cells.&nbsp; This stage
                      is called a blastocyst and in a microscope looks like a tennis ball - round and hollow on the inside.&nbsp;&nbsp; If
                      the cells are all the same, how do they become skin and eyes and heart and neurons?&nbsp; How do they know when to do
                      this and where to go, so our nose in the the right location and our eyes are not on our ass.&nbsp; How does the correct
                      neuron end up in the correct location of the brain for most of us?&nbsp; For others they do not end up connecting properly
                      or growing properly and If they do not end up in the correct location there can be some devastating consequences both
                      physical and psychological. This is all accomplished through genetics.&nbsp; The 107 cells of the blastocyst are all
                      "stem cells" - meaning they can become any kind of cell of the human body.&nbsp; Scientists are able to force a stem
                      cell to become liver, heart and some other kinds of cells, but have yet to force them into neurons.&nbsp; We will discuss
                      this more in the development chapter.&nbsp;&nbsp;&nbsp;
                      <br>
                      <br> Now let's return to the neurotransmitters.&nbsp; First we will look at the neurotransmitter called
                      <span style="font-weight: bold;">Dopamine</span>. It’s normal function is that it produces sensations of pleasure and rewards. It influences learning
                      and attention. It influences learning because we’re happy when we’re rewarded so we try to get more dopamine. We try
                      to get more pleasure. Dopamine influences learning and attention, and it’s used by the Central Nervous System in
                      <strong>voluntary</strong> movements. There are muscles that are under your control. These are the voluntary muscles. There are
                      also involuntary muscles, but the voluntary ones are controlled by dopamine. &nbsp;
                      <br>
                      <br>


                        <div class="card">
                            <a href="#">
                                <img id="onHoverDopamine" style="float:left;" alt="Icon of a Neuron" src="img/Dopamine.jpg">
                            </a>
                        </div>


                      [
                      <span style="font-style: italic; font-weight: bold;">Hover over the picture to the left to see Dopamine paths in the brain]&nbsp;
                      </span>
                      <br> Too much Dopamine causes Schizophrenia, but too little causes Parkinson’s disease. One of the effects of Parkinson’s
                      disease is that you are unable to control the voluntary muscles. When you’re looking at the screen reading this page
                      your head is stable - it is not moving. The reason your head is stable is because you can feel where your head is in
                      relationship to your body through Proprioceptors (something we will discuss in sensation and perceptions) and you have
                      the ability to hold your head in place. You are voluntarily holding your head still. A person with Parkinson’s disease
                      cannot do that. They have lost control of the voluntary muscles (the muscles you should be able to control). Their head
                      will nod and bob because they don’t have control over the voluntary muscles anymore. In my day Katherine Hepburn was
                      a famous actress with Parkinson and today Michael J. Fox is a well know actor with the disease.&nbsp; Substances that
                      affect Dopamine in the brain are Cocaine, Amphetamines, Ritalin, and Alcohol. Why do we study this biological information?&nbsp;
                      Schizophrenia is a psychological disorder and symptoms of the disease can be caused by a biological issue (too much dopamine).&nbsp;
                      We will discuss this transmitter with respect to Schizophrenia in the chapter on psychopathologies.
                      <br>
                      <br> Let’s move on to
                      <span style="font-weight: bold;">Serotonin</span>. This chemical regulates sleep and dreaming. It also regulates your mood, pain, aggression, appetite,
                      and sexual behavior. One Problem with an imbalance with Serotonin is that too little of it is linked to Depression. If
                      you don’t have enough Serotonin, you’re depressed. We also know from earlier in this unit that there are two sizes of
                      the serotonin gene on Chromosome 17. There is a long version which protects someone from stress and depression, and there
                      is the short version that makes someone more susceptible to stress and depression. Certain anxiety disorders are related
                      to Serotonin, as well as obsessive-compulsive disorder. All of these are Psychological problems linked to a biological
                      issue. Substances that affect Serotonin in the brain are Prozac and hallucinogenic compounds like LSD.
                      <br>
                      <br>
                      <span style="font-weight: bold;">Norepinephrine </span>is another neurotransmitter that works on the Autonomic Nervous system and regulates the heart
                      rate, sleep, sexual responsiveness, stress, vigilance, and appetite. It is produced in the Reticular Formation. Problems
                      with its imbalance are high blood pressure, and again depression. Substances that affect Norepinephrine are tricyclic
                      antidepressants and beta blockers. You may know someone taking beta blockers to control their blood pressure.&nbsp;
                      <br>
                      <br>
                      <span style="font-weight: bold;">Acetylcholine </span>is the first neurotransmitter discovered. It is the primary transmitter used by the efferent neurons
                      carrying messages from the CNS to the motor centers (your muscles). It’s involved in some kinds of learning and memory.
                      If you have problems with an imbalance then certain muscle disorders will occur as well as Alzheimer’s disease. Substances
                      that affect it are Nicotine, the botulism toxin, curare, atropine, and the Black Widow Venom (BWV). The black widow's
                      venom blocks the action of Acetylcholine causing muscle paralysis. The heart is a muscle! Think about it!&nbsp; BWV can
                      kill an infant but most spiders only produce enough to make a healthy adult very sick!
                      <div class="images">
                          <div style="border: 0px solid white; padding: 10px; float: right; width: 170px; ">
                              <div>
                                  <iframe src="https://www.youtube.com/embed/OsS079RdftU" allowfullscreen="" style="padding:10px;width:150px;height:150px;"
                                      frameborder="0"></iframe>
                                  <br> The Neuron Sisters Sing about Glutamate </div>
                          </div>
                      </div>
                      <br>
                      <span style="font-weight: bold;">Glutamate </span>is the
                      <strong>primary
                          <span style="text-decoration: underline;"> excitatory</span>
                      </strong>
                      neurotransmitter in the Central Nervous system.&nbsp; Fifty percent of neurons are glutamate neurons.&nbsp; It is involved
                      in learning and memory. Too much of glutamate released in the brain can cause migraines and seizures - because the excitation
                      of neurons becomes too great.&nbsp; A substances that can affect glutamate in the brain is Monosodium Glutamate (MSG).
                      There are people who have bad reactions to MSG. It is used like salt to enhance the flavor of foods. Food with MSG tastes
                      better. Many Chinese foods have MSG in them (because "cat" does not taste good without it) - Just Kidding!&nbsp; MSG
                      is in other foods as well because we have a sensor on our tongue which responds to MSG, and activating those taste buds
                      makes foods taste richer (we will continue this discussion in the sensation and perception chapter).&nbsp; PCP, otherwise
                      known as “angel dust” will also affect glutamate in the body.&nbsp; I don't know who made this video with the "Neuron
                      Sister", but he has my admiration!
                      <br>
                      <br> During most of my lecture I have talked about how neurons excite other neurons and cause other neurons to fire off a
                      new signal.
                      <b>
                          GABA </b> is the most prevalent
                      <strong style="text-decoration: underline;">inhibitory</strong>
                      neuron in the Central Nervous system. GABA inhibits and Glutamate excites. There are as much as 1000 times more GABA neurons
                      than any other inhibitory neuron. They make up over 30% of all Neurons.&nbsp; Only glutamate neurons (at 50%) outnumbers
                      GABA.&nbsp;&nbsp; An inhibitory transmitter means that it
                      <strong style="text-decoration: underline;">stops</strong>
                      other neurons from firing and stops other cells from functioning - it inhibits. Problems with its imbalance is that too little
                      of it can cause epilepsy. Think about it. If we aren't inhibiting the brain it can have too many neurons firing off at
                      one time (epilepsy). Low GABA levels are also associated with psychological disorders including depression, anxiety,
                      insomnia, stress, ADHD, as well as low growth hormone levels, and motion sickness. Substances that affect it are Barbiturates,
                      tranquilizers, Valium, Librium, and alcohol. Alcohol affects most things in the brain. If you can't walk a straight line
                      when you are drunk, how do you expect neurons in a developing baby to grow straight if you are pregnant and drunk?&nbsp;
                      We will discuss this also in the development section.
                      <br>
                      <br> The last neurotransmitter I will discuss is the
                      <span style="font-weight: bold;">Endorphins</span>. Endorphins cause pleasurable sensations and control of pain.&nbsp; When you go to the chiropractor
                      and get your back cracked or as your chiropractor likes to say “get your back adjusted”, the popping sensation actually
                      releases endorphins in the body. When you leave the doctor’s office, you feel much better. You have that pleasurable
                      sensation because of the extra endorphin release. Endorphins are wonderful natural chemicals that will help to cause
                      pleasure and release pain in the body. Our normal level of endorphin release keeps us feeling "OK". We would feel absolutely
                      miserable without our endorphin system.
                      <br>
                      <br> Lowered levels of Endorphin can result from inappropriate opiate use. An opiate basically does the same thing as the
                      natural endorphins in your system. Opiates make you feel good, they reduces pain.&nbsp; That’s why we take morphine during
                      and after surgery. Heroin and opium were also used by doctors to help people reduce pain. (we will discuss this in the
                      section on therapy).&nbsp; The reason these drugs are given to people in pain is because it relieves the pain! We should
                      not use them to relieve anxiety and fear and frustration with life. Many people who do not feel "right with the world"
                      self diagnose and then take alcohol or drugs to reduce their suffering,&nbsp; only to increase their troubles when they
                      become addicted. Your body produces endorphins naturally, and if you take any of the opiates for any reason other than
                      "you are in PAIN", then your body no longer needs your own endorphins and your endorphin producing system shuts down.
                      Without the natural endorphin release - in order to feel any pleasure - you will need the opiates. When the opiates ware
                      off you feel absolute misery, because your normal level of Endorphins has been removed! Since you have no endorphins,
                      the only way to feel better is to take more opiates. That’s one of the reasons why opiates are so addicting.
                      <br>
                      <br> We’re told that the brain grows up to a certain point and then it stops growing and is set and no longer changes. That’s
                      absolutely not true. The brain is a plastic animal. It continues to change throughout life. It just changes a heck of
                      a lot more in our youth than it ever will in our old age. The word plastic means "changeable".&nbsp; If you heat plastic
                      it melts and you can shape it into any form you wish.&nbsp; As it cools it become harder and harder to change the sahpe.&nbsp;
                      A childs brain is like hot plastic.&nbsp; It is ready to be shaped by experince.&nbsp; As the child grows into an adult
                      the brain becomes cooler and harder to change.&nbsp; After the age of 25 many of the areas are nearly impossible to change,
                      and yet the brain does still transform.&nbsp; Brain
                      <span style="font-weight: bold;">plasticity </span>means the ability of the brain to change shape and function. The nervous system adapts and changes
                      as a result of experience. As you learn, your brain creates engrams of that memory. That’s a change. So, certainly everything
                      you remember is a change to the brain. We have the capacity to learn till the day we die.&nbsp;
                      <br>
                      <br> The brain grows as if it’s a hot piece of plastic and shapes itself by our experiences from birth to about 25 years
                      of age. By 25 it’s fairly stable, stuck in the form it has. It certainly can still change, but it doesn’t change as much
                      as it does when we are young. This ability to change can help the nervous system adapt to physical damage. When we’re
                      younger, function can easily change. For instance: consider the occipital lobe in blind people. The occipital lobe is
                      for sight, so in blind people it’s not necessary? Does it just shrivel up and disappear if you are born blind? No it
                      doesn’t. It actually activates when a blind person reads Braille as if they were seeing something. The occipital lobe
                      becomes a part of the sense system to help the blind read Braille. This shows that the function of the brain can change.
                      The left side of the brain has the centers for producing speech. If a child's left brain is damaged then the right side
                      easily takes over. In an adult where the brain has cooled down, the story is much more tragic.
                      <br>
                      <br> When we are born there are 86 billion neural cells in the brain. You may hear people quote an older number of 100 billion
                      but new research suggests it is more like 86 billion. Even in old age these neurons can change connections as a result
                      of learning. But, the question that we might ask is how do we know? You can’t just open up a brain and look at it and
                      see the cells growing and changing! How can we tell when the brain is functioning properly? How do we look into the working
                      brain, and how do we know what a properly functioning brain actually looks like?
                      <br>
                      <br> We have windows into the brain. The
                      <span style="font-weight: bold;">Electroencephalogram
                      </span>(EEG) for instance, is a device for recording the electrical activity of brain waves. It’s measures brain waves
                      by connecting electrodes to the scalp. It shows us electrical activity like a telegraph Morse code. There’s not a lot
                      of information there. You can see the brain waves but if I said “cat”, there’s no way you can actually tell what “cat”
                      means to your brain just from looking at an EEG. The brain waves themselves are patterns of electrical activity that’s
                      generated by the brain. The waves are measured by their amplitude and frequency. Frequency is measured in cycles per
                      second. Amplitude is the power or force of the wave. We’ll talk about the amplitude and frequency in later lectures.
                      <br>
                      <br> Different types of brain scans also exist besides the EEG. These other brain scans are definitely better than the EEG
                      for seeing the functioning brain. They’re recordings of the brain’s electrical or biochemical activity at specific sites
                      in the brain. The CT scan - which stands for
                      <span style="font-weight: bold;">computerized tomography
                      </span> - shows the structure of our brains. The PET scan - which stands for
                      <span style="font-weight: bold;">positron emission tomography</span> - shows the actual functioning of the brain. An MRI, which is
                      <span style="font-weight: bold;">magnetic resonance imaging</span>, can show either functioning or structure and has many types such as the FMRI and DTI.
                      <br>
                      <br>
                      <div class="images">
                          <div style="border: 0px solid white; padding: 10px; float: left; width: 340px; ">
                              <div>
                                  <img alt="picture of DTI" src="img/DTI.jpg" style="border: 0px solid white; padding: 10px; width: 300px;">
                                  <br>
                                  <center>An example of a DTI scan</center>
                              </div>
                          </div>
                      </div>
                      <br> Here’s a DTI scan of the brain which actually shows the bundles of nerves as they are activated. The DTI traces the
                      water molecules as they move along nerves. The color depends on the direction of the water molecules movement. Remember
                      the brain is 3D so water can go up or down. It can go left, right, and diagonal. Each direction has a different color.
                      It is a fairly interesting observation to watch as the movement of molecules, water molecules, through the brain occurs.
                      It indicates the way that the electrical activity is occurring in the brain in real time. So, we’re getting really good
                      at seeing inside of the brain and seeing how it actually functions. Now if I said the word "Cat" - while you were being
                      scanned by a DTI - I would see how your brain reacts to the word in real-time. The first part of your brain to light
                      up would be the left frontal lobe, because it is the area tied directly to the auditory nerve. I would see Broca's area
                      light up! If you were afraid of cats (or loved them too much) your emotion center might light up next. If you pictured
                      a specific cat your occipital lobe would activate as well.
                      <br>
                      <br> Of course we could always cut a brain into slices and look at it when a person is dead. We don’t do that when the person
                      is alive, obviously! However, the brain has no pain fibers, so you can actually poke at a patient's brain during brain
                      surgery and the patient does not feel any pain. It doesn’t hurt the person even if they are awake. The only part that
                      hurts is the opening of the scalp in order to get at the brain. That requires a local anesthetic. So people can actually
                      be awake while they’re having brain surgery; which is one of the ways that we have mapped the brain. We know which parts
                      of the brain perform certain functions, and we’ll get to that later in our lectures as well.
                      <br>
                      <br> Next we will discuss specific regions of the brain. We will talk about the Hindbrain (including the Midbrain) , the
                      Limbic system, and the Cortex.
                      <br> &nbsp;
                      <br>
                      <br>
                      <div class="images">
                          <div style="border: 0px solid white; padding: 10px; float: left; width: 320px; ">
                              <div>
                                  <img alt="Picture of the Hindbrain" src="img/Hindbrain.png" style="border: 0px solid white; padding: 10px; width: 280px;">
                                  <br>
                                  <center>The Hindbrain labeled</center>
                              </div>
                          </div>
                      </div>
                      <br> The first layer we will discuss is the Hind brain. We'll call it layer one. It contains the Brain stem, the Pons, the
                      Medulla, Reticular Formation, and the Cerebellum. This is the oldest part of the brain. It’s the part of the brain that
                      appears very similar in every mammal on the planet. The
                      <span style="font-weight: bold;">Pons
                      </span>links the spinal cord and the brain to each other and it regulates the brain’s activity during sleep. The
                      <span
                          style="font-weight: bold;">Medulla
                          </span>regulates your heart rate and breathing. The
                          <span style="font-weight: bold;">Reticular formation
                          </span> is involved in maintaining consciousness and in waking up from sleep, and alerting that there is incoming
                          data. If a person’s Reticular formation stops functioning, which means it is no longer maintaining consciousness,
                          that person falls asleep, immediately. That disease is called
                          <span style="font-weight: bold;">narcolepsy
                          </span>and you may have seen movies with narcoleptics in them. I won’t mention any specific movie here.
                          <br>
                          <br> The
                          <span style="font-weight: bold;">Cerebellum </span>regulates motor coordination, posture, and balance, and according to recent research, this structure
                          may be involved in classical conditioning, and even in long term habit formation memory. It seems that once a memory
                          becomes a habit, once a behavior becomes a habit, that behavior, the actual movements for that behavior, are copied
                          into the cerebellum. This may be why habits are so hard to break. The Cerebellum contains the majority of our neurons.
                          It is only 10% of the size of the brain, but it contains more neurons than the rest of the brain put together.
                          <img
                              alt="picture of doughnuts" src="img/donuts.jpg" style="float:right; padding: 10px; width:310px;"> I like to compare it to an original doughnut. If you are familiar with doughnuts then you know that there are different
                              kinds. One is light and fluffy (the glazed&nbsp; doughnut) and another is heavier and more solid (the old-fashioned).
                              The glazed doughnuts squish easily. However the old-fashined are denser - much more substantial. They are heavier
                              and thicker. The Cerebellum is like an old-fashioned doughnut while the rest of the brain is like a glazed doughnut.
                              <br>
                              <br> If the Cerebellum is damaged, and there are people who have a disease that destroys the cerebellum, the person
                              looks drunk and they can no longer control their motor coordination, posture and balance. An English actor -
                              Dudley Moore - was an excellent piano player and actor. He started having trouble coordinating his hands while
                              playing the piano and he was eventually diagnosed with this disease which killed him in 2002. He looked drunk
                              all the time and played a rich spoiled drunk in the original movie "Arthur" in 1981. He did not have to act drunk,
                              he looked that way naturally.
                              <br>
                              <br> The second layer of the brain is the Limbic system which controls our emotions.
                              <br>
                              <br> I’ll pick that layer up as we continue on lecture five.
                              <br> Time for a rest.
                              <br> Play the hangman game or take a coffee break (maybe with a doughnut!).
                              <br>
                              <span class="flow-text">
                                  <span class="flow-text">
                                      <span class="flow-text">
                                          <span class="flow-text">
                                              <span class="flow-text">
                                                  <span class="flow-text">There is one crossword puzzle for the entire unit,
                                                      <br> but the hangman games are made for each slide.
                                                      <br> Rest for 15 minutes or so before you go to the next slide.
                                                      <br> Distributed learning is the best learning.
                                                      <br> We will continue the study of the Biopsychology in the next lecture.
                                                      <br>
                                                  </span>Talk with you then.</span>
                                          </span>
                                      </span>
                                  </span>
                              </span>
                              <br>
                              <br>
                              <br>
                              <span class="flow-text"> </span>
                  </div>
              </p>
            </div>
          </div>
        </div>