        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">Biopsychology (1)</p>
            <div class="row">
              <div class="row">
                <div class="container">
                    <paper-audio-player color="orange"
                                        src="audio/Biopsych_BRAIN.mp3"
                                        title="Wizard of OZ - If I only had a brain">
                    </paper-audio-player>
                </div>
              </div>
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">


                    <span class="flow-text">
                        <span style="font-style: italic;">
                            <span style="font-weight: bold;">
                                <br> If the brain were so simple we could understand it, we would be so simple we couldn't. ~ Lyall</span>
                        </span>
                    </span>
                    <span class="flow-text">
                        <br>
                    </span>
                    <span class="flow-text">
                        <span class="flow-text">
                            <span class="flow-text">
                                <span class="flow-text">
                                    <br> Welcome to the first lecture in Biopsychology. &nbsp; We’ll be talking in this chapter about how the
                                    brain and body communication systems work.&nbsp;
                                    <br> This entire section of Biopsychology is also a preview of what you would study in a course on Neuroscience.&nbsp;&nbsp;
                                    <br> Biopsychology is the study of how genes, neurons, nerves and the endocrine systems function</span>
                            </span>
                        </span>
                    </span>
                    <br> Before you start reading w
                    <span class="flow-text">
                        <span class="flow-text">
                            <span class="flow-text">atch one or both of the videos below before you continue:
                                <br> Discovering Psychology Series - "The Behaving Brain" is a 28 minute video.
                                <br> The Crash course in Psychology video that is less than 12 minutes.&nbsp;
                                <br> I find that older students enjoy the Discovering Psychology video and the younger students like the Crash
                                course videos.
                                <br>
                            </span>
                        </span>
                    </span>
                    <br>

                    <div class="row">
                        <div class="col s12 offset-s0 m6 offset-m3">
                            <a href="http://www.learner.org/series/discoveringpsychology/03/e03expand.html" target="_blank">
                                <img class="hoverable" width="100%" src="img/Behaving_brain.png">
                            </a>
                        </div>
                    </div>
                    
                    <div class="video-container">
                        <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="https://www.youtube.com/embed/W4N-7AlzK7s"></iframe>
                    </div>
                    <span class="flow-text">
                    <br> &nbsp;
                    <br> &nbsp;First I want to talk about the word Biopsychology and why we don't call it Psychobiology.&nbsp; In English, we
                    always put the adjective that refers to the noun in front of the noun.&nbsp; Since&nbsp; this unit is about the biological
                    aspects of Psychology we call it Biopsychology.&nbsp; Anybody coming from a different background - maybe a biological
                    perspective - might call it Psychobiology because their noun would be biology.&nbsp;&nbsp; This is a Psychology class.&nbsp;
                    Psychology is our noun.&nbsp; English puts the adjective prior to the noun - therefore it is Biopsychology.&nbsp; What
                    is Biopsychology? It’s a specialty in Psychology which studies the interaction of the behaviors that we can see, our
                    biology, and the environment.&nbsp;&nbsp;&nbsp;&nbsp;
                    <br>
                    <br>
                    <span style="font-weight: bold;">Neuroscience </span>is a subset of Biopsychology.&nbsp; It is an interdisciplinary field that focuses on the brain and
                    its role in psychological processes.&nbsp; What does
                    <span style="font-weight: bold;">interdisciplinary </span>mean? It means that it’s not just one discipline: we have Chemists, and Physicist as well as
                    Biologists and Psychologists, all working together in Neuroscience.&nbsp;&nbsp; Why do we need so many disciplines working
                    in this field?&nbsp; The human brain is biological, chemical and electrical in nature.
                    <br>
                    <br> This particular unit is all about Biology, and this class is supposed to be a Psychology class, not a Biology class.
                    &nbsp;I get this question all the time.&nbsp;&nbsp; If this is a psychology class then why do we have to study all this
                    Biological junk?&nbsp;&nbsp; If you’re not into Biology this unit might be a little difficult for you.&nbsp; However,
                    by the end of this unit you should be able to answer the question "why do we need to know biology to study psychology?".
                    <br>
                    <br> When we talk about Biology in a psychology class it brings up the discussion of
                    <span style="font-weight: bold;">Nature </span>versus
                    <span style="font-weight: bold;"> Nurture</span>.&nbsp; In Psychology we refer to our nature as our organs, the brain, and&nbsp; the electrical and chemical
                    energies that control us. This is a problem for some students.&nbsp; They have an issue with the definition of Nature.&nbsp;&nbsp;
                    When they think about Nature, they think about outside.&nbsp; They have been trained all their lives that nature equals
                    the trees and the birds and the bees. That’s not what we refer to when we’re talking about nature in psychology. &nbsp;
                    Nature is us!&nbsp; Our Biology is our Nature.&nbsp; What’s outside of us is Nurture - what nurtures us.&nbsp; &nbsp;Nurture
                    refers to our interaction with the environment.&nbsp; Another word for Nurture is the
                    <strong>Environment</strong>.&nbsp; Our Nurturing environment includes (but is not limited to) our parent's love, nutrition,
                    the experiences of our lives, our shelter and the education we receive. &nbsp;
                    <br>
                    <br> Which of these is more important: Nature or Nurture? That question is an argument of epic proportions in Psychology.&nbsp;
                    It’s a theme we’ll continue to see throughout our studies.&nbsp; Throughout the different units in this book we’ll see
                    where people are questioning whether Nature is more important than Nurture or Nurture is more important than Nature.&nbsp;
                    There were many people who would argue for nurture as the be all and end all of who we become. &nbsp;One such doctor
                    was John Money from Baltimore.&nbsp; He was involved in one of the most horrific experiments of his time. &nbsp;In Canada
                    twin boys were born. &nbsp;They were taken to the hospital a few weeks later to get circumcised due to an infection.&nbsp;
                    Something went wrong and the first twin's penis was burned to a crisp. &nbsp;It was unrepairable. &nbsp;Dr. Money was
                    consulted and told the parents it was OK. &nbsp;They simply needed to dress the child as a girl. &nbsp;Treat the child
                    as a girl. &nbsp;Let the child's hair grow and give the child girl toys and the child would grow up a girl, because how
                    you treat the child (nurture the child) is what makes them a boy or girl, not their physical accouterments. &nbsp;He
                    was horribly wrong! &nbsp;We will see more of this in the development unit. &nbsp;Today there are very few people who
                    believe that Nature is everything or that Nurture is everything.&nbsp; Today we realize there’s an interaction&nbsp;between
                    the two, but which one is
                    <span style="font-weight: bold;">more</span> important is the question of the hour.
                    <br>
                    <br> Here is another great example of an argument in psychology that was an all or nothing debate that turned out to be a
                    combination of the two.
                    <br> The Great Brain Debate
                    </span>
                    <br>
                    <br>

                    <div class="video-container">
                        <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="https://www.youtube.com/embed/pv6QHxkBFzY"></iframe>
                    </div>
                    <br>
                    <span class="flow-text">
                    <br> That brings me to the topic of&nbsp;
                    <span style="font-weight: bold;">Natural selection
                    </span>, which was proposed by Charles Darwin in 1859. Natural selection is the driving force behind evolution. Evolution
                    is where the environment selects the fittest organisms. But, that’s a bad definition because the "environment" is neutral,
                    it doesn’t do anything, it’s passive, it just - is - it’s just there.&nbsp; So, it is incorrect to say the environment
                    “selects” anything. Instead we say that some animals have a “selective advantage”, or they “fit” the environment better
                    than other animals do.&nbsp; If they fit the environment better they survive better and they produce more offspring than
                    the other animals do. Organisms that are well adapted to their environment will out propagate (out produce) the competition.
                    Therefore the course of evolution is really known as “the survival of the fittest”.&nbsp;
                    <br>
                    <br> Now I should address the issue of "Evolution and Natural selection" vs "Creationism and Evolution". This particular
                    course is not about theology and we are not going to debate how everything got onto the planet, which is the essence
                    of Creationism.&nbsp; We can all agree that life’s been on Earth for over 5700 years and that life changes.&nbsp; I call
                    those changes evolving.&nbsp; Humans live longer than they did 100 years ago. Crops give better yields. Dogs are bred
                    into specific types for specific functions. Species go extinct. New species are found. We recognize that everything living
                    on the Earth changes.&nbsp; When I talk about how the creatures presently on the Earth change over time I’ll use the
                    word “evolved”.&nbsp; I will talk about how life changes while it’s on the Earth and leave how those organisms got onto
                    the Earth for a different course (Biology, Theology or Philosophy?).&nbsp; I would be glad to talk to anybody about Evolution
                    and Creation and science any time over a cup of coffee, but for this class we’re
                    <span style="font-weight: bold;">not
                    </span>going to talk about Creationism versus Evolution.&nbsp; Instead I'm to say that&nbsp;the creatures and plants
                    on the Earth change, and how they change is very important.
                    <br>
                    <br>
                    <div style="border: 0px solid white; padding: 10px; float: left; ">
                        <div class="card">
                            <a href="#">
                                <img id="onHoverDnaPicture" style="float:left;" alt="Structure of DNA" src="img/DNA_icon.png">
                                
                            </a>
                        </div>
                    </div>
                    The mechanism for change is DNA, chromosomes, and genes.&nbsp; If you hover over the picture to the left you will see a larger
                    image of a portion of the structure of DNA.&nbsp;
                    <span style="font-weight: bold;">DNA
                    </span>is a chemical.&nbsp; All living creatures and plants have DNA, which is a long complex molecule that encodes genetic
                    characteristics.&nbsp; &nbsp;Normal
                    <span style="font-weight: bold;">chromosomes
                    </span>contain one strand of DNA.&nbsp; Chromosomes come in pairs (one from your mom and one from your dad).&nbsp; So
                    a pair of chromosomes contains two strands of DNA.&nbsp;
                    <span style="font-weight: bold;">Genes
                    </span> are the functional units of a chromosome, and there are thousands of genes in one chromosome.&nbsp; Genes contain
                    the instructions for creating proteins, and proteins are essential parts of all living things.&nbsp;
                    <br>
                    <br> An unfertilized human egg contains 23 chromosomes. A human sperm also contains 23 chromosomes.&nbsp; When you get the
                    two together, you have 23 “pairs” of chromosomes.&nbsp; Twenty two (22) of those pairs are called
                    <span style="font-weight: bold;">Autosomes</span>.&nbsp; The last pair is
                    <span style="font-weight: bold;">Sex chromosomes</span>
                    </span>
                    <span class="flow-text">.&nbsp; In a female the combination is usually (XX). &nbsp;In a male the combination is usually (XY). You will discover
                        why I say "
                        <span style="font-weight: bold;">usually</span>" in a minute. &nbsp;The Autosome strands are almost duplicates of each other, but the genes can be
                        slightly different on each strand.&nbsp; The Sex chromosomes can be extremely different.&nbsp; When they contain
                        an X from the mother, and an X from the father, they are almost identical.&nbsp; However an X from the mother and
                        a Y from the father make them very different.&nbsp; Almost every cell in your body contains chromosomes, sometimes
                        the chromosomes are damaged, and that can cause major issues: both psychologically and biologically.
                        <br>
                        <div class="images">
                            <img style="width: 200px; height: 223px; float: left; padding:10px;" alt="Picture of Chromosomes" src="img/Biology_Chromosomes.jpg">
                        </div>
                        The word "
                        <span style="font-weight: bold;">genotype"&nbsp;</span>means your DNA makeup. &nbsp;A picture of your chromosomes would be a picture of your genotype.
                        &nbsp; I actually have a picture of my chromosomes I took when I was in college.&nbsp; Every year that I was in college
                        I would&nbsp;send my mother a picture of myself.&nbsp; That year I sent her a picture of my genotype.&nbsp; I told
                        her "that's me MOM - and half of the picture is you"!&nbsp; A genotype picture like that doesn’t say much about you.&nbsp;
                        What is important is how it affects the outward appearance, which we call your
                        <span style="font-weight: bold;">"phenotype"</span>.&nbsp; The phenotype is an organism’s observable physical characteristics; your hair color, your
                        skin color, your eye color and height and weight, sex and what phylum you belong to.
                        <br>
                        <br> How are genes and behavior linked? Behavior that is consistently found in every one of the members of a species
                        is likely to have a genetic basis.&nbsp; We can say the behavior became this way, or evolved, because that particular
                        behavior has been "
                        <strong>adaptive</strong>" to the living process for that particular species. Whatever behavior they do that helped them
                        to survive became the dominant behavior of that species. Or, it was specifically selected for by a breeder.&nbsp;
                        As humans we breed animals or breed crops and we can manipulate DNA through interbreeding to produce a particular
                        type or subspecies of a particular breed.
                        <br>
                        <br>
                        <br> Here are some more genetic terms:
                        <br>
                        <span style="font-weight: bold;">Adaptive</span> means the presence of a condition increases the likelihood of survival.&nbsp; If something is adaptive
                        then that thing will help you to live.
                        <span style="font-weight: bold;">Adaptation</span>
                        is when a condition becomes the predominant condition in a population because it was adaptive. When a species becomes adapted
                        to the environment, it has participated in Adaptation.&nbsp; The particular behaviors and biological and chemical
                        signatures seen in that species helped it to survive better and out perform others.
                        <br>
                        <span style="font-weight: bold;">Innate </span>is when a behavior is inborn or part of our biology.&nbsp; Innate means present at birth or part of
                        the organism’s biological heritage.
                        <br>
                        <span style="font-weight: bold;">Evolution</span> I will define as "the gradual process of biological change that occurs in a species as it adapts
                        to its environment, as adaptation occurs".
                        <br>
                        <br> How does DNA change from one generation to the next?
                        <br>
                        <span style="font-weight: bold;">Mutations </span>are part of the process of change in DNA.&nbsp; Mutations are the genetic variations which occur
                        randomly in the genetic chromosomes and are then passed on to future generations.&nbsp; DNA mutates because of radiation
                        from sun spots, or you may work around radiation in a nuclear reactor, or it might be caused by chemicals that have
                        gotten into your body and changed your DNA.&nbsp; Mutation especially happens during the recombination of chromosomes
                        which occurs in sexual reproduction.&nbsp;&nbsp; Many mutations cause the animal to die or to have a reduced viability
                        in the world.&nbsp; We don't have mutations where a person can control the weather or shoot laser beams out of their
                        eyes (X-Men).&nbsp;&nbsp; There is only one organism that mutates and the mutations consistently help the organism
                        to survive.&nbsp; We throw all kinds of harmful environments at this organism and it mutates and keeps on living.&nbsp;
                        Sounds great - yes?&nbsp; No!&nbsp; it's the HIV virus.&nbsp; No mater how many drugs we throw at it, the HIV virus
                        mutates and continues to live. This is an excellent example of adaptation - although not very good for humans!
                        <br>
                        <br> So, how does Natural selection work? First something in the&nbsp;environment changes. &nbsp;This causes pressures
                        on the species that exist within the new environment.&nbsp; For instance: Frogs are having a hard time surviving
                        in&nbsp;the new warmer climates of the world.&nbsp; This may be caused by bacteria and viruses that did not survive
                        well in the cooler ponds but are able to reproduce faster and survive better in the warmer waters.&nbsp; We say that
                        changes in the environment create a survival pressure. This may change the resources available to a particular species.
                        &nbsp;Plants may adapt to the warmer climate and produce less fruit. &nbsp;This causes competition for the reduced
                        resources.&nbsp; For instance: consider a new ice age, where most of the food disappears and the temperatures are
                        very cold! Who’s going to survive? People who can use the food that’s available and who can acquire it the best are
                        the people who are going to survive. The same is true for any species. This competition produces the selection of
                        the fittest phenotype. Those people who were able to create a better outcome for themselves will have children that
                        can duplicate their survival.&nbsp; Their phenotype carries on because they’re stronger or because they’re heavier
                        (have more protection from fat).&nbsp;&nbsp; In an ice age heavier people would have an advantage because more fat
                        layers keep them warmer.&nbsp; Skinny people would not have any advantage in very cold weather.&nbsp; The phenotype
                        is based on DNA (the structure of genetics).&nbsp; The reproductive success of that particular phenotype means the
                        genotype that corresponds to the fittest phenotype passes from generation to generation. &nbsp;The frequency of that
                        genotype increases in future generations.&nbsp; That’s how Natural selection works.
                        <br>
                        <br> Behavior genetics is a specific field of study in genetics that tries to determine which behaviors are related to
                        which genes. They try to find out if there is a connection between behavior and genetics.&nbsp; We have found definite
                        connections between behaviors and genes. For instance: the
                        <span style="font-weight: bold;">Serotonin
                        </span> gene comes in two sizes.&nbsp; The large size gives people an advantage over stress &amp; depression.&nbsp;
                        If a person has two small genes for serotonin they handle stress differently and are more depressed, stay depressed
                        longer, and have a hard time coming out of depression.&nbsp; Two long versions of the gene is the exact opposite!&nbsp;
                        Most of us have a combination of one short and one long gene.&nbsp; In order to study behavior as it relates to genetics,
                        we have to know what a gene is. &nbsp;As described by Wikipedia:
                        <a style="text-decoration: underline;" href="https://en.wikipedia.org/wiki/Human_Genome_Project"
                            target="_blank">
                            <span style="font-weight: bold;">The Human Genome Project</span>
                        </a>
                        was an international scientific research project with the goal of determining the sequence of nucleotide base pairs that
                        make up human DNA, and of identifying and mapping all of the genes of the human genome from both a physical and a
                        functional standpoint. &nbsp;They succeeded in mapping all the pieces of the human genome.
                        <br>
                        <br> We’ve known the genetic makeup of a fruit fly for many years, and we’ve known exactly what each one of the genes
                        on the chromosomes for the fruit flies does, but we don’t know that for a human.&nbsp; The&nbsp; Human Genome Project
                        mapped all the genes in the human DNA.&nbsp; When they completed the project they found close to 25,000 human genes
                        among the chromosomes of the human body. This number surprised a lot of people, because they thought that there would
                        be hundreds of thousands of genes in order to make such a complex creature as us.&nbsp; Yet only 25,000 genes makes
                        us who we are.&nbsp; Are there really only 25,000 genes directing our growth, and in control of our behaviors?&nbsp;
                        If we live long enough, we should know the answer to this question. &nbsp;Right now - because of the Human Genome
                        Project - we know that there are another 25,000 locations, what we might call dead spaces, on the chromosome. &nbsp;Those
                        "dead" spaces do not appear to be a gene (which would produce a protein).&nbsp; We still don’t know exactly what
                        those particular areas are used for.&nbsp; Some people believe that the "dead" space in-front of&nbsp;the gene is
                        an activation sequence (starts the production of a protein) while the space after the gene is a&nbsp;termination
                        sequence (completes the protein creation).&nbsp; What we can say about the human genotype is that&nbsp;there are
                        25,000 genes, and 25,000 other locations.&nbsp; Altogether on the human chromosomes there are 50,000 specific locations.
                        <br>
                        <br> When there’s a problem in the genetics, you can have issues in behavior and thought, which is the realm of Psychology.&nbsp;
                        <br> For some Psychological processes we know the genes that control them (like depression).&nbsp;
                        <br>
                    </span>
                    <br>
                    <span class="flow-text">
                        <span class="flow-text">That's it for this lecture.
                            <br> I’m going to stop here. It's time for a break guys, and gals. Go get a cup of coffee.
                            <br> Go do something other than study (maybe play the hangman game).
                            <br> There is one crossword puzzle for the entire unit,
                            <br> but the hangman games are made for each slide.
                            <br> Take 15 minutes or so before you go to the next slide.
                            <br> Distributed learning is the best learning.
                            <br> We will continue the study of Biopsychology in the next lecture.
                            <br>
                        </span>Talk with you then.
                        <br>
                        <br>
                    </span>
                </div>
              </p>
            </div>
          </div>
        </div>