        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">Biopsychology (6)</p>
            <div class="row">
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                      
                      Welcome back, this is the last lecture - lecture number six for Biopsychology. &nbsp;&nbsp;
                      <br>
                      <img alt="Rotating brain" src="img/Rotating_Cerebrum.gif" style="padding: 10px; float: left;">
                      <br> We’ve just finished talking about the left and right sides of the brain.&nbsp; We discussed the fact that they are different,
                      and that they have different reasons for existing.&nbsp; We’ve also talked about the Corpus Callosum and how it is used
                      so that your brain can communicate between the right and left sides.&nbsp; If the Corpus Callosum doesn’t exist, then
                      you have two separate brains - a left side and a right side -&nbsp; that don’t communicate with each other in your head.
                      That means one controls the right side of your body, the other controls the left side of your body, and they both have
                      knowledge that the other one doesn’t have, so you have a big issue.&nbsp; People without an intact corpus callosum are
                      called
                      <span style="font-weight: bold;">split-brain patients</span>.&nbsp; These are individuals who have had the Corpus Callosum surgically severed or were
                      born without this part of the brain.&nbsp;&nbsp;&nbsp; Some people are born&nbsp; with a damaged (or constricted) Corpus
                      Callosum and their brain cannot communicate from left to right as easily as a person with a fully developed Corpus Callosum.&nbsp;
                      <strong>Kim Peek</strong> was the most famous Savant in the world (he died in 2009).&nbsp; The movie "
                      <strong>Rain Man
                      </strong>" was made with Kim in mind.&nbsp; We will discuss savants in the Intelligence unit.&nbsp; Why do I mention
                      him here, because scans of his brain showed that his corpus callosum was extremely small.&nbsp; Could that be the reason
                      for his extraordinary powers of the mind?&nbsp; In many cases the surgery severing the Corpus Callosum is to stop dangerous
                      epilepsy, where nothing else has been able to stop the epilepsy, and the person is a danger to themselves.&nbsp; Epilepsy
                      is a sudden uncontrolled electrical discharge of the neurons of the brain.&nbsp; An uncontrolled electrical discharge
                      starts in one small area of the brain.&nbsp; It effects one neuron.&nbsp; However, one neuron discharging for no reason,
                      sends an electrical signal to all the neurons connected to it.&nbsp; Those other neurons then activate more neurons.&nbsp;
                      It becomes an Algorithmic explosion of neurons going off for no reason what-so-ever.&nbsp; The brain loses control over
                      the neurons.&nbsp; The electrical stimulation can cross the corpus callosum and affect the other side of the brain.&nbsp;
                      That’s how we get epileptic seizures. &nbsp; If nothing works to stop the epilepsy - no drugs or therapy - and if the
                      epilepsy is dangerous to the patient then surgeons will separate the two halves of the brain (by cutting the corpus callosum)
                      , creating a Split-brained human.&nbsp; The electrical discharge is not able to cross from one side of the brain to the
                      other. &nbsp;This keeps the worst cases of epilepsy from killing the patient.&nbsp; Severe epilepsy could cause their
                      death, and death is a lot worse than having a split brain.
                      <br>
                      <br> &nbsp;
                      <span style="font-weight: bold;">Duality of consciousness</span>
                      is a condition where the split brain patient has a separate consciousness in each of the hemispheres.&nbsp; One side of the
                      brain knows some information, and the other side knows other information, and they do not communicate with each other
                      any longer.&nbsp; Now, that seems really neat!&nbsp; I’ve got two brains. That’s great!&nbsp; Except - they’re not communicating
                      with each other and that could cause major problems.&nbsp; Dr. Roger Sperry did many experiments with split brained patients
                      to discover the extent of the damage that lack of communication can cause. He and David Hubel and Torsten Wiesel, won
                      a joint 1981 Nobel Prize in Physiology and Medicine for their split-brain research. For instance: If split-brained patients
                      hold a book in the left hand, but it is behind a screen so the patients can not see the object, they cannot speak its
                      name because while in the left hand&nbsp;the right side of the brain knows what it is, but can’t transfer that information
                      to the left side of the brain where Wernicke’s area and Broca’s area are located.&nbsp;&nbsp; Broca’s area is unable
                      to convert knowledge of&nbsp;the object into a word.&nbsp; If the object is transferred to the right hand, the left brain
                      has no problem identifying the object by name.&nbsp; Dr. Sperry would display a word to the right eye of the spit brained
                      person - the left eye was not able to see the word.&nbsp; If the word was dog, the patient could say the word dog.&nbsp;
                      Later, if the paper with the word dog and the book are on a table in front of the patient and the patient is asked what
                      they saw, they will say dog, but the left hand will gesture toward the book!!&nbsp; If you want to look at split-brain
                      patients, you can just type in “split-brain patient” and Google search it. It’s pretty fascinating.&nbsp;&nbsp;&nbsp;&nbsp;
                      <br>
                      <br> We’ve discussed the the brain's nervous system.&nbsp;
                      <br> We talked about the nerves and neurons in the Central Nervous System and the Peripheral Nervous System.
                      <br> We still have another method of communication in the body and that’s the Endocrine (Chemical) system.
                      <br> Now let’s look at the Endocrine system.
                      <br>
                      <br> There are basic brain structures that control the Endocrine system, which means there are electrical brain functions
                      that control the chemical Endocrine communications system. The first brain structure to review is the pituitary gland
                      which is about the size of a pea and is located just behind your nose.&nbsp; Its size is out of proportion to the amount
                      of work it does. The position of the
                      <span style="font-weight: bold;">Pituitary</span>
                      <span style="font-weight: bold;">gland</span>
                      is just below the hypothalamus.&nbsp; It is also called the
                      <strong>master gland
                      </strong> because it produces chemicals that influence the secretions or retentions of most endocrine glands in the body.&nbsp;
                      It also produces a hormone that influences growth. The brain controls or regulates the amount of hormones in the body,
                      mostly by way of the Pituitary gland.&nbsp;&nbsp; You may have heard of
                      <span style="font-style: italic; font-weight: bold;">
                      Pituitary growth hormone
                      </span>.&nbsp; Even though it is very small there are specialized ares of the pituitary that produce different hormones.&nbsp;
                      A tumor on the pituitary can throw it out of balance.&nbsp; If it produces too much activity we call that hyperpituitarism
                      and if the active is stunted we call that condition hypopituitarism.&nbsp; The pituitary is physically attached to and
                      is activated by the
                      <span style="font-weight: bold;">Hypothalamus</span>
                      The hypothalamus influences the functions of temperature regulation along wit the thyroid. It also gets you to eat when you
                      are hungry and drink when you are thirsty. It regulates your sleep and wake patterns, and some emotional behaviors and
                      memory.
                      <br>
                      <div class="images">
                          <div style="border: 0px solid white; padding: 10px; float: left; width: 220px; ">
                              <div>
                                  <img alt="Rotating brain showing the pituitary" style="width:200px; height: 200px;" src="img/Biopsych_Pituitary_gland.gif">
                                  <br>
                                  <center> The pituitary is shown in red
                                      <br> Attribution: Wikipedia</center>
                              </div>
                          </div>
                      </div>
                      <br> Remember, the Hypothalamus attempts to maintain
                      <span style="font-weight: bold;">homeostasis
                      </span>(which means a balance within the body).&nbsp; The Pituitary gland is one of the ways that it does that. The hormones
                      themselves are simply molecules that are very slow to function compared to neurons that work in tenths of a second.&nbsp;
                      The effects of Hormones are extremely long lasting compared to the activity of neurons.&nbsp; The body must metabolize
                      the hormones (break down their structure) before their effects wear off.&nbsp; So if you see a snake, you get scared.&nbsp;
                      You run away.&nbsp; When you are half a mile away from the snake you stop running and you know the snake hasn’t followed
                      you.&nbsp; In fact you probably scared it as much as it scared you and it probably ran (or slithered) the other way.&nbsp;
                      You turn around and you can see there’s nothing anywhere near you.&nbsp; There’s no reason to be afraid anymore. Logically
                      you know you should be safe. &nbsp;However,&nbsp;your body is still hyperventilating, you’re still sweating, your heart
                      is still racing, and all of that is because of
                      <span style="font-weight: bold;">adrenaline</span>, which is one of the hormones that’s been released into your blood.&nbsp; Adrenaline has to be metabolized
                      *destroyed and removed from the blood) before it stops functioning. &nbsp;As long as it’s in the blood, your body reacts
                      to it.&nbsp; The chemical hormones are very slow to function because they must be released into the blood.&nbsp; Then
                      they must flow through the blood system to interact with the organs (heart and lungs) and the autonomic nervous system.
                      &nbsp;Once the hormones start interacting with the organs of the body they continue to do so for a long time - until
                      they are broken down by the liver and kidneys and are no longer in the blood.
                      <br>
                      <br> So, what do we call the body’s chemical messengers - the hormones. Many come from the Thyroid and Parathyroid in the
                      neck.&nbsp;
                      <br> They also come from the adrenal glands, pancreas, the ovaries in women, and testes in men.
                      <br>
                      <br>
                      <div class="images">
                          <div style="border: 0px solid white; padding: 10px; float: left; width: 320px; ">
                              <div>
                                  <img style="border: 0px solid white; padding: 10px; float: left; width: 300px;" alt="Endocrine picture" src="img/endocrine_system.png">
                                  <br>
                                  <center>A picture of the Endocrine System</center>
                              </div>
                          </div>
                      </div>
                      <br> I am just going to cover a few hormones.&nbsp; In the Thyroid there are plenty of hormones. &nbsp; The
                      <span style="font-weight: bold;">Thyroid
                      </span>produces two hormones called T3 and T4.&nbsp; Every cell in the body depends upon Thyroid hormones for regulation
                      of its metabolism. What does that mean? These hormones help to convert oxygen and calories into energy. &nbsp; The cells
                      of your body can not live without T3 and T4, they die. There are drugs that mimic these hormones for people with under-functioning
                      thyroids (Hypothyroidism).&nbsp; The Thyroid also regulates growth.&nbsp; The
                      <span style="font-weight: bold;">Pancreas</span> produces insulin, glucagon, somatostatin and pancreatic polypeptide. It also secretes digestive enzymes
                      that aid the digestion and absorption of nutrients in the small intestine. You’ve heard about Diabetes. The
                      <strong>Pancreas
                      </strong>helps regulate blood sugar. &nbsp;&nbsp; The
                      <strong>adrenal glands
                      </strong> produce hormones including adrenaline and aldosterone and cortisol.
                      <span style="font-weight: bold;">
                          Cortisol </span>is the "stress" steroid - released when you are stressed.&nbsp; Cortisol can effect a developing
                      fetus.&nbsp; If the mother is stressed all during pregnancy, the developing fetus is too! When the hair is standing up
                      on the back of your neck (or if you get goosebumps), you are under the influence of parts of the Adrenal hormones.
                      <br>
                      <br> The male
                      <span style="font-weight: bold;">testicles </span>produce testosterone. The growth and development of male reproductive structures is controlled by testosterone.
                      It increases skeletal and muscular growth as we’ll see later when we discuss Developmental Psychology. There is also
                      an enlargement of the larynx accompanied by voice changes. The growth and distribution of body hair and an increased
                      male sexual drive are also results of testosterone.&nbsp; You can give testosterone to women and it will also increase
                      their sex drive.&nbsp; However, they will also start talking in a low voice and growing hair on their face and out of
                      their ears.&nbsp; Who wants that?!&nbsp;&nbsp; Besides Testosterone is bad for women in continuous doses which is why
                      every cream with testosterone has a warning - "Children and women should avoid contact with the unwashed or unclothed
                      area where the testosterone gel has been applied."!&nbsp;&nbsp; The female
                      <span style="font-weight: bold;">Ovaries
                      </span>produce progesterone and estrogen which are essential for female development in puberty as well as fertility and
                      birth..
                      <br>
                      <br> We are nearing the end of the Biopsychological lectures and I’ve got just a couple of extras that I wanted to add here.&nbsp;
                      First of all, happiness is genetic.&nbsp; We’re all predisposed to a specific average of happiness, some of us are happier
                      than others because that’s just the way they were born. We fluctuate around our average. We stay within our average range,
                      sort of like a rubber band has a specific length, and it wants to maintain that length. If you stretch the rubber band
                      out too much one way or the other, or both ways, it pulls itself back to its original shape.&nbsp; We live our life inside
                      the rubber band's size.&nbsp; Some have a large rubber band and others a small one.&nbsp; We stay within that little
                      average area, that’s our happiness. For some of us our average is much lower or higher than other people’s.&nbsp; When
                      our happiness is so different than another person’s we may look at that person and say “What’s wrong with you?” and they
                      may say “Nothing, I’m happy today” and you may say “If I looked like that, I would not be happy”.&nbsp; It appears to
                      you from your own perspective, that the person shouldn’t be happy, but for them, they’re happy!&nbsp; That is their happy
                      level!&nbsp; Some of us are just happier than other people are, some of us sadder&nbsp; than others.&nbsp; This is passed
                      to us through our genetics.&nbsp;Heredity is the biological transmission of traits from generation to generation as I
                      already said. Genetics is the study of inheritance of physical and psychological traits of our ancestors. Another interesting
                      fact is that men’s brains are larger than women’s by as much as 10%. If you take the same sized woman and the same sized
                      man, the man’s brain is about 10% larger. However women use more of their brains than men for the same task.&nbsp; Women's
                      brains run hotter - using more glucose.
                      <br>
                      <br> That’s it for the lectures for Biopsychology
                      <br>
                      <span class="flow-text">
                          <span class="flow-text">
                              <span class="flow-text">
                                  <span class="flow-text">I’m going to stop here. It's time for a break guys, and gals.
                                      <br> Go do something other than study.
                                      <br> It's time to try the Crossword Puzzle for Biopsychology.
                                      <br> Take 15 minutes or so before you go to the next slide.
                                      <br> Distributed learning is the best learning.
                                      <br>
                                  </span>Talk with you in the next lecture series.</span>
                          </span>
                      </span>
                      <br>
                      <br>
                      <span class="flow-text"> </span>
                  </div>
              </p>
            </div>
          </div>
        </div>