        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">Biopsychology (2)</p>
            <div class="row">
              <div class="row">
                <div class="container">
                    <paper-audio-player color="orange"
                                        src="audio/BioPsych_Brain_Grey_matter.mp3"
                                        title="Oingo Boingo - Grey Matter">
                    </paper-audio-player>
                </div>
              </div>
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                  
                  
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                      <span class="flow-text">&nbsp;
                          <br> Oingo Boingo - "There's something inside your head. Grey matter!"&nbsp;
                          <br> Welcome back to lecture two in Biopsychology.&nbsp; We are talking about the problems with genetics and what issue
                          the genetic problems cause.
                          <br>
                      </span>
                      <div class="images">
                          <div style="border: 0px solid white; padding: 10px; float:left; width: 240px; ">
                              <div>
                                  <img style="border: 0px solid white; padding: 10px; width: 210px;" alt="Downs syndrome child" src="img/Down_Syndrome.JPG"
                                      width:220="">
                                  <br>
                                  <center>Down's Syndrome</center>
                              </div>
                          </div>
                      </div>
                      <p class="MsoNormalCxSpMiddle" style="line-height: 150%;">
                          <span class="flow-text">If I go to the ice cream store and ask for a double and they give me three scopes of ice cream - Woohoo!&nbsp; I'm
                              happy to have the extra scope.&nbsp; You may think that more chromosomes is a good thing too, but no, it turns
                              out that you need exactly how much you’re supposed to have - no more and no less.&nbsp;
                              <a style="text-decoration: underline;" target="_blank" title="Link to down syndrome" href="http://ghr.nlm.nih.gov/condition/down-syndrome">
                                  <span style="font-weight: bold;"> </span>Down Syndrome</a>
                          </span>
                          is a genetic condition caused by specific chromosomal damage in the 21st chromosomal pair. There are actually two
                          <span style="font-weight: bold;">plus another </span>portion of a strand of DNA, instead of just two strands on chromosome 21.&nbsp; Remember we’re
                          supposed to have 23
                          <strong>pairs</strong>, not 23 triplets.&nbsp;&nbsp;&nbsp; Because there are three strands of chromosome 21 it is also called
                          <span style="font-weight: bold;">
                              Trisomy 21</span>.&nbsp; Down's children have extra thick eyelids which make them look like the Mongols of China,
                          so it is also called
                          <span style="font-weight: bold;">Mongoloidism</span>.&nbsp; They will have low to moderate reduction in intelligence.&nbsp; They are very trusting
                          and loving and can hold jobs and even have normal children.&nbsp; In the past when a person was known to be Down's
                          they were placed in an institution because it was assumed they would never amount to anything.&nbsp; In the Institution
                          with only minimal care and nutrition and education, this was a self fulfilling prophecy.&nbsp; They never amounted
                          to anything.&nbsp; However, in a loving home with the right nutrition, care and education they can reach their potential.&nbsp;
                          Here is a perfect example of the nature nurture controversy.&nbsp; Which is more important - their genetics - or
                          the nurturing?&nbsp; Genes play a role in defining our potential, but nurturing determines how much of that potential
                          we will achieve.
                          <br> &nbsp;&nbsp;
                          <br> Most people have two sex chromosomes.&nbsp; If they have an X from the mother and an X from the father that
                          <span style="text-decoration: underline;">usually</span>
                          makes them a female.&nbsp; Or they could have an X from the mother, and a Y from the father, which
                          <span style="text-decoration: underline;">usually</span>
                          makes them a male.&nbsp; However, some people have more or less than they should have.&nbsp;
                          <a style="text-decoration: underline;" target="_blank" title="Link to Turner syndrome" href="http://ghr.nlm.nih.gov/condition/turner-syndrome">
                              <span style="font-weight: bold;">Turner</span>
                          </a>’s syndrome is a person who has a single X chromosome. They are usually short and infertile. When an embryo has only
                          a Y, it spontaneously aborts, miscarriages, and never comes to term. &nbsp;There is no one living with a single "Y"
                          chromosome without the "X".&nbsp; Sorry guys! We all start out as women.&nbsp; The X chromosome&nbsp;starts working
                          long before the Y chromosome starts to function. Without the&nbsp;X chromosome we would all be dead.&nbsp; We all
                          start off as females before the "Y" chromosome starts up and throws development for a loop! We cannot survive without
                          the "X" chromosome.
                          <span style="font-weight: bold;">&nbsp;&nbsp;
                          </span>
                          <a target="_blank" title="Link to Supermale syndrome" href="http://ghr.nlm.nih.gov/condition/47xyy-syndrome">
                              <span style="font-weight: bold; text-decoration: underline;">Super males
                              </span>
                          </a> have an extra Y (XYY).&nbsp; These XYY super males are a little bit less intelligent, and less able to control their
                          emotions.&nbsp; These men are&nbsp;taller but usually less physically capable than other males.&nbsp;
                          <span class="flow-text">Then there’s
                              <a target="_blank" title="link to Fragile X syndrome " href="http://ghr.nlm.nih.gov/condition/fragile-x-syndrome">
                                  <span style="font-weight: bold; text-decoration: underline;">Fragile X
                                  </span>
                              </a> syndrome, which means there is a damaged X within the chromosomes.&nbsp; In females with a damaged X, it is not
                              too bad, because they have two X chromosomes. If the second X is good, then it makes up for the loss of functioning
                              of the other broken X. &nbsp; It’s worse in males because men do not have a second X to cover up the errors.</span>&nbsp;
                          People with
                          <a target="_blank" title="Link to Klinefelter" href="http://ghr.nlm.nih.gov/condition/klinefelter-syndrome">
                              <span style="font-weight: bold; text-decoration: underline;">Klinefelter</span>
                          </a>’s syndrome have two Xs and a Y.
                          <span class="flow-text">&nbsp;&nbsp; All the underlined medical terms are links that you can click to check out more information on each
                              of the abnormalities. &nbsp;There are also cases where a person has an X and a Y but they end up FEMALE! It is
                              called&nbsp;
                              <a target="_blank" title="Link to Klinefelter" href="https://ghr.nlm.nih.gov/condition/swyer-syndrome">
                                  <span style="font-weight: bold; text-decoration: underline;">
                                      Swyer syndrome </span>
                              </a> and is due to the developing body either not responding to testosterone or not producing testosterone.&nbsp;
                              Without the testosterone a fetus will become female no matter what their genetic compliment is. &nbsp;</span>
                      </p>
                      <p class="MsoNormalCxSpMiddle" style="line-height: 150%;">
                          <span class="flow-text"></span>
                          <span class="flow-text">Again, I ask, Nature or Nurture?&nbsp; Which one is more important in these conditions?&nbsp; </span>
                          <span class="flow-text">
                              <span class="flow-text">Obviously if we don’t have genes, we don’t exist. &nbsp; In that particular instance, nature is more important
                                  than nurture, but&nbsp; -</span>
                              <span class="flow-text">
                                  <span class="flow-text">
                                      once we’re already here on earth - </span>which one is more important?&nbsp; </span>How would we be able
                              to determine the importance scientifically?&nbsp;&nbsp; We’d have to create, for instance, in a very bad experiment,
                              a lot of Turner syndrome children and give them lots of different nurturing techniques to find out which one,
                              if any, made a difference.&nbsp;&nbsp; Of course we can’t do that.&nbsp; We can’t force the issue of bad genetics
                              onto people, but we do have case studies where we can look at different people who have had these particular
                              syndromes.&nbsp; We can look at people's past, and their nurturing (their environment) to see if it made any
                              difference for them.&nbsp;&nbsp;</span>
                          <span class="flow-text"></span>
                      </p>
                      <p class="MsoNormalCxSpMiddle" style="line-height: 150%;">
                          <span class="flow-text">
                          </span>
                      </p>
                      <div class="images">
                          <div style="border: 0px solid white; padding: 10px; float: left; width: 340px; ">
                              <div>
                                  <div>
                                      <img alt="Picture of Laurent and Larry Bourgeois" src="img/Identical_twins.jpg" style="border: 0px solid white; padding: 10px; width: 300px;">
                                      <br>
                                      <center>Picture of Laurent and Larry Bourgeois
                                          <br> Monozygotic twins.</center>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <span class="flow-text">Twin studies are one of the ways that we perform these assessments. Psychologists can use twins to study the importance
                          of Nature versus Nurture.&nbsp; Unfortunately the system that we have for orphans does not try to keep twins together.&nbsp;
                          We may have two twins, that are White twins, in a Catholic family that become orphans.&nbsp; One may go to an Asian
                          Buddhist family, and the other one may go to a Black Jewish family.&nbsp; Later we can find them and examine their
                          lives and see how similar and how different they are.&nbsp; Because a
                          <span style="font-weight: bold;">Monozygotic</span>
                          twin is a twin that comes from one zygote it comes from one egg.&nbsp; Monozygotic twins have 100% identical DNA, and they
                          are also called
                          <span style="font-weight: bold;">identical twins</span>. The
                          <span style="font-weight: bold;">Dizygotic </span>twins have about a 50% identical DNA - if they have the same father.&nbsp; Yep - two fraternal twins
                          can have different fathers!&nbsp; They come from two eggs, and they’re called
                          <span style="font-weight: bold;">fraternal twins</span> instead of identical twins.
                          <div class="images">
                              <div style="border: 0px solid white; padding: 10px; float: right; width: 320px; ">
                                  <div>
                                      <img alt="Picture of Fraternal Twins" src="img/Fraternal_twins.jpg" style="border: 0px solid white; padding: 10px; float: right; width: 300px;">
                                      <br>
                                      <center>Picture of Fraternal Twins</center>
                                  </div>
                              </div>
                          </div>
                          <span class="flow-text">We do not purposely separate twins from their parents, and each other, but situations arise where twins are separated
                              at birth, and we can take advantage of those conditions to study the differences and similarities between the
                              twins. The "
                              <strong>Twins Days Festival</strong>" in Twinsburg, Ohio is the largest annual gathering of twins (&amp; other multiples)
                              in the world! Twins come together every year for a big party and Psychologists and other scientists descend upon
                              the city to talk to these twins and get them to fill out paperwork about their past and their present and who
                              they are.&nbsp;
                              <br>
                              <br> These comparison studies are looking for
                              <span style="font-weight: bold;">correlations
                              </span>between each twin's environments.&nbsp; We already know that their DNA is identical - for monozygotic
                              twins.&nbsp; So, similarities between the twins are attributed to genetics, and the differences between them
                              are attributed to the differences in the environments in which they grew up.&nbsp; We’ll talk about some of the
                              similarities and differences in later units. &nbsp;
                              <br>
                              <br> Let's move away from genetics and talk about the neuron and endocrine systems of the body.&nbsp; How does the
                              body communicate internally?&nbsp; The body has two different communication systems&nbsp; (the Nervous system
                              and the Endocrine system).&nbsp;&nbsp; Both use chemical messengers to communicate with targets throughout the
                              body.&nbsp; The Nervous system is much faster than the Endocrine system, but the Endocrine signals lasts longer
                              than the Nervous system signal. Let’s first discuss the Nervous system.
                              <br>
                              <br> Neurons are one of the the communication systems in our bodies. They can be classified as either a neuron or
                              as a nerve. One difference between nerves and neurons is that nerves can heal themselves when they are damaged.&nbsp;
                              Neurons cannot heal themselves.&nbsp; There are many ways you can damage or kill neurons in your brain.&nbsp;
                              If you drink enough Alcohol, it damages the neurons in your brain.&nbsp;&nbsp; Once damaged they can't heal.
                              Consider this: when you cut a nerve in your finger you lose feeling in your finger.&nbsp; It may take a while,
                              but you eventually will get your feeling back.&nbsp; If you damage a neuron in your spinal cord and are paralyzed,
                              it will not heal.&nbsp; The difference is that the glial cells that support nerves and neurons are different.&nbsp;
                              The glial cells in the central nervous system suppress the regenerative functions of the neurons whereas those
                              in the periphery do not suppress nerve regeneration. &nbsp; If you hit your head or take drugs that kill neurons
                              in your brain, then they are dead and will not repair themselves.&nbsp; This is a highly active area of research.
                              Another difference between them is that Neurons are part of the the Central nervous system and nerves are part
                              of the Peripheral system. &nbsp; A third difference is that Nerves are bundles of axons from many neurons while
                              neurons are defined as containing a single axon (even though it can bifurcate).&nbsp; Neuron communication is
                              in one direction. A neuron can only communicate one way, like a one-way street. So, the most primitive organism
                              needs at least two of them.&nbsp; We need one pathway for the senses and another for movement.&nbsp; In humans
                              information is sent into the central nervous system from our sense organs going to the brain.&nbsp; Then the
                              brain has to send information out of the central nervous system for movement.
                              <br>
                              <br> The
                              <span style="font-weight: bold;"> Central Nervous System (CNS)
                              </span> is comprised of the brain and the spinal cord.&nbsp; The CNS is comprised of the neurons in your brain
                              and spinal cord.&nbsp; The job of the CNS is to integrate and coordinate all of your bodily functions, it’s processing
                              all of incoming neural messages, and it’s going to send out commands. The spinal cord coordinates the activities
                              of the left and the right sides of the body, and the spinal cord is also responsible for very simple, very fast
                              action reflexes that don’t involve the brain.&nbsp; Yes, there are actually behaviors that you can do where your
                              brain has not been told anything about it.&nbsp;&nbsp; This is called a spinal reflex. The spinal reflex is an
                              unlearned (innate) response that’s controlled by one efferent (motor) neuron, and one afferent (sensory) neuron.&nbsp;
                              Spinal reflexes are built into our biology.&nbsp; What does that mean? &nbsp; It is not learned.&nbsp; You don’t
                              have to learn that response, it’s just there. Spinal reflexes allow us to move when we are in danger before the
                              brain knows what the danger is, because if we had to wait for the brain to make the decision "is this dangerous
                              or not" we might be dead.&nbsp; Therefore, it was adaptive (as the evolutionary psychologists would say) for
                              our ancestors survivals and thus, those survival mechanisms were passed down to us and still protect us.
                              <br>
                              <br>
                          </span>
                          <div class="images">
                              <div style="border: 0px solid white; padding: 10px; float: left; width: 320px; ">
                                  <div>
                                      <img alt="Picture of the CNS and PNS" src="img/CNS.jpg" style="border: 0px solid white; padding: 10px; width: 300px;">
                                      <br>
                                      <center>Picture of Central and Peripheral systems</center>
                                  </div>
                              </div>
                          </div>
                          <p class="MsoNormalCxSpMiddle" style="line-height: 150%;">
                              <span class="flow-text">You have a lot of nerves in your body that aren’t a part of the brain or the spinal cord.&nbsp; They are called
                                  the </span>
                              <span class="flow-text">
                                  <span class="flow-text">
                                      <span style="font-weight: bold;">Peripheral Nervous System (PNS)</span>,</span> because it is out of the center - also called the Periphery.&nbsp;&nbsp;
                                  The PNS is composed of the nerves of the body that connect the CNS to your senses, your muscles and your
                                  organs.
                              </span>
                              <span class="flow-text">&nbsp; The Peripheral Nervous System has two parts, the
                                  <span style="font-weight: bold;">Somatic</span>, and
                                  <span style="font-weight: bold;">Autonomic </span>divisions. It’s pretty easy to remember these and what they do.&nbsp; If you have not studied
                                  Biology or Latin let me tell you that the word
                                  <em>
                                      <span style="text-decoration: underline;">Soma</span>
                                  </em>
                                  actually means “Body”.&nbsp;&nbsp; So the Somatic division is about the body.&nbsp; Autonomic sounds very similar to automatic.&nbsp;
                                  The autonomic division of the PNS handles the automatic functions of the body.&nbsp; So, the Somatic system
                                  regulates the actions of the skeletal muscles, the body, the soma, and contains the sensory nerves responsible
                                  for sight, smell and the other senses. The Autonomic division regulates the automatic stuff, the things you
                                  don’t think about. You don’t think about your heart rate unless you’ve had a heart attack. You don’t think
                                  about your breathing unless you fall down and hit your back and get the wind knocked out of you.&nbsp; Then
                                  you think about it a lot.&nbsp; You also do not think about&nbsp; digestion.&nbsp; These are the automatic
                                  functions of the body, and it’s the Autonomic division of the PNS that takes care of those functions.</span>
                          </p>
                          <p class="MsoNormalCxSpMiddle" style="line-height: 150%;">
                              <span class="flow-text">&nbsp;
                                  <br> The Autonomic system is very complex, and it’s divided into two subsystems called the
                                  <span style="font-weight: bold;">Sympathetic
                                  </span>and the
                                  <span style="font-weight: bold;">Parasympathetic
                                  </span>systems.&nbsp; The sympathetic system deals with emergencies.&nbsp; It’s responsible for the emergency
                                  responses and mobilizing of your energy reserves.&nbsp; You have to have energy reserves for them to mobilize.
                                  The sympathetic system will increase heart and lung activity, and inhibit about everything else. When your
                                  heart and lung functions are increasing in an emergency situation, that’s the Sympathetic nervous system
                                  performing its function.</span>
                              <span class="flow-text">&nbsp; The Parasympathetic system monitors the routine operations of the body, and conserves, and restores energy.&nbsp;
                                  The sympathetic system uses energy, and the parasympathetic system stores energy.&nbsp;
                                  <span class="flow-text"></span>
                              </span>
                              <span class="flow-text">
                                  <span class="flow-text">The parasympathetic system </span> decreases the heart and lung activity, and stimulates most everything
                                  else.
                              </span>
                          </p>
                          <p class="MsoNormalCxSpMiddle" style="line-height: 150%;">
                              <span class="flow-text">&nbsp;
                                  <br> For those of you who are visually orientated, here is a visual representation of the nervous system. We
                                  break it down into the peripheral nervous system and the central nervous system.&nbsp; The CNS is the brain
                                  and the spinal cord. The PNS can be broken down into the autonomic nervous system and the somatic system.&nbsp;
                                  The somatic system works on the body, skeletal muscles and the senses. The autonomic nervous system contains
                                  the sympathetic nervous system and the parasympathetic nervous system. The Sympathetic nervous system uses
                                  energy, and the Parasympathetic nervous system builds up energy.
                              </span>
                          </p>
                          <img alt="Picture of Nervous system" style="width:320px;" src="img/Nervous_system.png">
                          <p class="MsoNormalCxSpMiddle" style="line-height: 150%;">
                              <span class="flow-text">I keep using the words Neuron and Nerve.&nbsp; What is a neuron?&nbsp; A neuron or nerve is a cell in the body
                                  specialized for receiving and transmitting information.&nbsp;&nbsp;
                                  <br>
                              </span>
                          </p>
                          <p class="MsoNormalCxSpMiddle" style="line-height: 150%;">
                              <span class="flow-text">
                                  <span style="font-weight: bold;">Sensory
                                  </span>neurons are called
                                  <span style="font-weight: bold;">afferent
                                  </span>neurons.&nbsp; They carry messages from the sense receptors towards the Central Nervous System.&nbsp;
                                  Then there’s the
                                  <span style="font-weight: bold;">motor</span>, or
                                  <span style="font-weight: bold;">efferent </span>neurons, which carry messages away from the CNS towards the muscles and the glands.&nbsp;
                                  There is also a third group called
                                  <span style="font-weight: bold;">Interneurons</span>.&nbsp; There isn’t actually a neuron that goes all the way from your head to the little
                                  toe in your foot.&nbsp; Those neurons that are in between are called Interneurons, they carry messages between
                                  nerve cells. So, one nerve cell starts a message, sends it to another nerve that continues the message which
                                  sends it to a different nerve, which continues the message, and always in one direction.&nbsp; There’s not
                                  a nerve that send signals in two directions. They only go in one direction.&nbsp; However, they can send
                                  to multiple different locations.&nbsp; We will take that up in the next lecture.
                                  <br>
                              </span>
                          </p>
                          <span class="flow-text">Here’s a drawing of a neuron.
                              <br>
                              <img alt="Picture of Neuron" src="img/Neuron.png">
                              <br>
                          </span>
                          <br>
                          <span class="flow-text">
                              <span>That's it for this lecture.
                                  <br> I’m going to stop here. It's time for a break guys, and gals.
                                  <br> Go do something other than study (maybe play the hangman game).
                                  <br> There is one crossword puzzle for the entire unit,
                                  <br> but the hangman games are made for each slide.
                                  <br> Take 15 minutes or so before you go to the next slide.
                                  <br> Distributed learning is the best learning.
                                  <br> We will continue the study of the Biopsychology in the next lecture.
                                  <br>Talk with you then.
                              </span>
                          </span>
                      </span>
                  </div>
              </p>
            </div>
          </div>
        </div>