        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">Memory (4)</p>
            <div class="row">
              <p class="flow-text" style="padding-top:18px;">
                  <div class="mainPart">
                      
                  
                  
                      <span class="flow-text">
                          Welcome back to the fourth lecture in memory.
                          <br>
                          <br>
                          <b>Tip-of-the-tongue phenomenon</b> is of course when you know you know the word but it just won’t come out of your
                          mouth. Its causes are being researched and its effects are very humorous to those of us that are listening to the
                          speaker, and they are very maddening to those who are speaking. Many times, if you forget about trying to remember
                          the word, you will remember it at 2 o’ clock in the morning when you even forgot that you cared about that particular
                          piece of information.&nbsp; This also shows that your brain is working in the background without you being aware
                          that your brain is working in the background.&nbsp; </span>
                      <span class="flow-text">
                          <span class="flow-text">In tip-of-the-tongue phenomenon </span>it’s possible that similar sounds, words, or phrases interfere with our remembering
                          or you just don’t have the correct starting syllable. When my wife can't reach the information she wants, she just
                          starts at the beginning of the alphabet. "A" ignore the fact that you’re trying to get to a specific word.&nbsp;
                          "B" Try to remember all the words that you know start with that particular letter. "C" you can sometimes trigger
                          the word this way.&nbsp; The harder you think about the information, the harder it is to remember in tip-of-the-tongue
                          phenomenon. Lots of people study tip-of-the-tongue to figure out what it is and why it happens, because if we can
                          figure out why it happens, we can figure out how to stop it from happening.&nbsp; It may actually help other people
                          that never have tip-of-the-tongue to remember easier. We’ll see, who knows.
                          <br>
                          <br> Aside from tip-of-the-tongue syndrome and state dependent learning, most of our memory problems arise from what’s
                          called the “seven sins” of memory. Evolutionary psychologists believe that the seven sins of memory are just by-products
                          of what used to be some kind of adaptive feature to our system.&nbsp; These "sins" were something that helped us
                          to survive in the past, but has become no longer necessary and now is interfering with our memory.&nbsp; Let’s look
                          at these seven sins of memory.
                          <br>
                          <br> They are transience, absent-mindedness, blocking, misattribution, suggestibility, bias, and persistence.&nbsp;
                          <br>
                          <br> The first one is
                          <strong>transience</strong>. As I said before, there are two different types of long-term memory. There is the transient
                          long-term memory and then there’s the permanent long-term memory. Transient describes the impermanence of a long
                          term memory.&nbsp; Long term memories gradually fade in strength over time. It’s really not the memory that is disappearing,
                          but the recall traces or the pathways, that spider web, the little accesses to the center of the spider web that
                          are disappearing rather than the actual memory. Transient, long-term memories, therefore are those with very fragile
                          pathways.&nbsp; You can remember them for a day or so.&nbsp; It is like the memory of what you had for breakfast
                          today. You could probably remember that, but what did you have for breakfast three days ago? That information is
                          gone because there were not a ot of traces to get to it in the first place.&nbsp; We must call it long-term memory,
                          because it’s certainly lasted longer than the 20 seconds of working memory&nbsp; more than the quarter of a second
                          longer of your sensory memory.&nbsp; Long term memories never disappear. We can gather evidence for this using a
                          patient during brain surgery. There are no pain fibers in the brain, so you can actually work on the brain without
                          putting the person under anesthesia. You have to put local anesthesia on the scalp to keep them from feeling you
                          cutting their head open, but once the brain is exposed, there is no pain on the brain, and you can actually touch
                          the brain and it doesn’t hurt the person at all. Researchers will ask people “please, would you help us to map out
                          your brain before the surgery?”. &nbsp; If the surgery patient says “okay, that’s fine with me” then they’re awake
                          while their scalp is opened up.&nbsp; The researcher can touch the patient's brain in specific areas with the little
                          tiny electrical stimulator.&nbsp; The person’s finger or toe arm might move and that means that we've touched the
                          motor section of the brain's frontal lobe along the central sulcus for that body part.&nbsp; Or we might touch a
                          specific area and the patient will say “Oh, somebody just touched my cheek” or “somebody just touched my foot”, and
                          that means we have activated the sensation (remember from the biology chapter the "Somatosensory") cortex.&nbsp;
                          This way we can map the out where specific areas are for sensing and moving the body.&nbsp; We might also touch specific
                          areas of the brain and the patient might&nbsp; remember a dog they had when they were 3 or 4 years old.&nbsp; They
                          may have not thought about that animal for 50 years! That shows that memories remain - although the traces disappear!
                          Placing an electrical signal in the right place reactivates paths to that particular memory.
                          <br>
                          <br> Researchers study "remembering".&nbsp; One method we can use in scientific studies of memory is to learn a whole
                          bunch of words, and then come back later knowing we will have forgotten some and relearn those words. The relearning
                          time shows how much was actually originally stored and remembered.&nbsp; The amount of the difference from the initial
                          learning to relearning is called the "savings method" of evaluating memory.&nbsp;&nbsp; The first person to do this
                          type of experiment was a psychologist named Ebbinghaus.&nbsp; He actually performed the experiment improperly by
                          today's standards.&nbsp; He used himself as the subject of the experiment!&nbsp; I hope you have learned by now that
                          it is a very bad research design to use yourself because of biases that might influence the way that you’re doing
                          the experiment or interpreting the results.&nbsp; He was very careful and after the experiment was redone by other
                          psychologists we know that his results were accurate.&nbsp;&nbsp; What he found is now called the "
                          <strong>Ebbinghaus forgetting curve</strong>".
                          <br>
                          <div class="images">
                              <div style="border: 0px solid white; padding: 10px; float: left; width: 320px; font-family: Arial;">
                                  <div>
                                      <img style="width:290px;" alt="The forgetting curve" src="img/Memory_Ebbinghaus.jpg">
                                      <br>
                                      <center>The Ebbinghaus forgetting curve</center>
                                  </div>
                              </div>
                          </div>
                          When you learn something, you lose a whole bunch of that data rapidly. So, for instance, you learn a 100 percent of the words,
                          and within the first day you’ve lost more than 50 percent of that information. As each day goes by you lose a little
                          bit more, but the amount of loss decreases each day.&nbsp; If you can remember material 10 days after you learned
                          it, it’s yours for a very long time.&nbsp; That information is able to be recalled rather than requiring recognition
                          to remember it. What does this say to you? This is important for every class you take in school and every instruction
                          your boss tells you at work!&nbsp; This says to you: don’t study for just one day!&nbsp; If you CRAM for an Exam
                          then 9 hours later you already forgot over 60% of what you crammed into that brain of yours.&nbsp; Cramming does
                          not work!&nbsp; You need to study over a large number of days, and what you remember 10 days after you’ve studied
                          it, you don’t need to study that anymore.&nbsp; That information is yours.&nbsp; Use your time wisely.&nbsp; Study
                          the material you have not remembered 10 days later.&nbsp; If you can remember something without looking at it for
                          10 days, it’s yours.&nbsp; This also means, you need to be studying every day so you can test yourself and the amount
                          you forgot.&nbsp; You can "refresh" before an exam.&nbsp; Go over the material you have learned to activate those
                          pathways again and get some long term potentiation developed in those pathways before the exam.&nbsp; Refreshing
                          the material you have already learned before a test is a great idea, but cramming to learn it with the intention
                          of keeping it long enough for the test and then forget about it - does not work!&nbsp; You need your sleep more than
                          you need the cram session.&nbsp; Taking a test while tired or taking it while nervous will not produce the score
                          you desire!&nbsp; If you are cramming to learn the material, you are already nervous about knowing the it. If you
                          are cramming simply to refresh, then you are loosing necessary sleep time.
                          <br>
                          <br>
                          <br>
                          <strong>Absentmindedness </strong>is the second sin which is forgetting caused by lapses in attention.
                          <br> Blocking is caused by - wait - wait - did you miss that last one?
                          <br>
                          <br>
                      </span>
                      <span class="flow-text">Absentmindedness is forgetting caused by lapses in attention. Were you paying attention? </span>
                      <br>
                      <span class="flow-text">
                          <img alt="" src="img/Smily.png">
                      </span>
                      <span class="flow-text">
                          <br>
                          <strong>Blocking</strong> is forgetting that occurs when an item in memory cannot be accessed or retrieved because it’s been
                          blocked by something else. Now, there are different types of blocking we need to discuss. They are: Proactive interference,
                          retroactive interference, and the serial position effect.
                          <b>
                              Proactive interference</b> is when information you already know interferes with learning new information and
                          <b> retroactive interference </b> is when learning new information makes it difficult to remember the old information
                          that you knew. To help you out, here is an example.&nbsp; When I was in high school, the first two years I took French
                          because somebody made me take French. At the sophomore level the French teacher told me that she would give me a
                          ‘C’ if I promised never to take French again because I was butchering the language so badly. Interestingly my English
                          teacher had just told me nearly the same thing! In my Junior year I started Spanish. I did much better in Spanish
                          than I did in French. When information I knew from French interfered with learning new information in Spanish, that’s
                          called proactive interference.&nbsp; I would try to learn a word in Spanish that I knew in French.&nbsp; Every time
                          I would try to say the new Spanish word, the old French word would come out of my mouth instead. That’s proactive
                          interference; when old information interferes with the new information.&nbsp; Once I learned the Spanish word, later
                          when I went back to try and speak French, I the Spanish words cameout of my mouth instead. That’s retroactive interference,
                          because learning new information made it difficult to remember the old information that I already knew.&nbsp; New
                          information retroactively replaced the old.
                          <br>
                          <br> Another form of blocking is called the
                          <b> serial position effect
                          </b>. Here is another great piece of information that will help you in school! When you’re learning new information
                          in a list, like the name of the states in alphabetic order, or any textbook you study from the first page to the
                          last page, you can only remember the first and the last items. All the material in the middle is lost. This is called
                          the serial positioning effect or the primacy-recency effect. You remember the last things you studied (recency or
                          most recent) and the first things you studied (primacy). You cannot remember the material in the middle. Knowing
                          this you should change up the sequence of things you want to remember. This is information that can help you through
                          the rest of your college career and in life! Instead of starting at the first page every time you study a topic,
                          start at different points in the text! One day start on the first page and read through to the end. The next day
                          start on the third page and remember to circle all the way around to the first and second. Change up your starting
                          and ending points. Make sure you do not always study from the first to the last every time. This will also help because
                          you will be repeating the material and repetition helps with memory. Take this idea to heart, use it.
                          <br>
                          <br> It's time for a break guys, and gals.
                          <br> Go get a cup of coffee.
                          <br> Go do something other than study (maybe play the hangman game).
                          <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                          <br> Take 15 minutes or so before you go to the next slide.
                          <br> Distributed learning is the best learning.
                          <br> We will continue the study of Memory in the next lecture.
                          <br> Talk with you then.
                          <br>
                          <br>
                      </span>
                  </div>
              </p>
            </div>
          </div>
        </div>