        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">Memory (5)</p>
            <div class="row">
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                      <span class="flow-text">
                          Welcome to the last lecture, lecture number 5 in our memory section.
                          <br> We just finished talking about blocking as one of the seven sins of memory.
                          <br>
                          <br>
                          <b>Misattribution </b>can be considered a type of proactive interference.&nbsp; You recall a memory, you bring up a
                          memory but a memory fault occurs when you do it. The memory retrieved is associated with the wrong time, or the wrong
                          place, or the wrong person. I told you that I’d give you another example of retroactive interference. So, you know,
                          your friends come up and meet your new girlfriend and you say “Hey guys, this is my new girlfriend and her name is”
                          and then you call her by your old girlfriend’s name. All I can say for that is
                          <span style="font-weight: bold; font-style: italic;">buy a lot of chocolate and a lot of roses</span>, because you’re gonna need them.
                          <span style="font-weight: bold;"></span>Now, I have never done that, but the last girlfriend I had before I met my wife was named Jan and my wife's
                          name is Jane.&nbsp; I never have made the mistake, but friends that know both - have!&nbsp; They never get into trouble,
                          I do!&nbsp; My wife says, I never should have dated Jan in the first place!&nbsp;
                          <br>
                      </span>
                      <br>
                      <span class="flow-text">
                          <img alt="" src="img/Smily.png">
                      </span>
                      <span class="flow-text">
                          <b>Suggestibility</b>
                          <span style="mso-bidi-font-weight:bold"> is a
                          </span>nother one of the sins. This is the process of memory distortion as a result of deliberate, in other words
                          purposefully, or inadvertently, by accident, making a suggestion that changes memory. Some people give you the wrong
                          information on purpose to affect your memory. There are also accidental fabricated memories, which happens a lot
                          during memory recovery.&nbsp; For instance: somebody is under hypnosis so that they can remember a specific detail
                          about a specific event, and unfortunately the questions given to them are leading them and suggesting a specific
                          way that they should answer the question. This leads to eyewitness error which we’ll talk about in just a second.
                          But first I want to talk about suggestibility when it applies to children, because children have a hard time in the
                          first place understand the difference between reality and fantasy. Unfortunately police officers and social workers
                          and psychologists and psychiatrists who are improperly trained with children ask the wrong questions suggesting memories,
                          and thus creating memories in children. Eventually the children’s testimony is thrown out of court, because of the
                          questions that were asked. In a specific sexual problem when a child has been sexually abused or we think the child
                          has been sexually abused, you would give the children dolls and you would say “This doll is you” and “This doll is
                          the other person” “How did you play together?” That’s the proper way to ask the question, because you know they played
                          together and the children can then show how they played together without a suggestion as to how they did. However,
                          if you say “How did the other person touch you between your legs”, then you’ve just created a false memory with that
                          child by suggesting that that person actually touched them in a specific way. Unfortunately that information is not
                          useful in court, because you have created memories for that child by suggesting a specific sequence of events. By
                          your question you create a fantasy memory and children do not know the difference. Whether it actually did, it’s
                          now difficult to get the child to remember the actual events that happened to them. In the case of the
                          <a style="text-decoration: underline;"
                              target="_blank" title="Little Rascals case link" href="https://en.wikipedia.org/wiki/Little_Rascals_day_care_sexual_abuse_trial">
                              <strong>
                                  Little Rascals Day Care Center</strong>
                          </a> in Edenton North Carolina, the social worker called in to question the children had no idea how to work with children.
                          She destroyed the case against the defendants because of her leading questions. There were also questions about the
                          so called "therapy" given to the children and the questions posed by the Edenton police. Although convictions occurred
                          in the case - appeals later overturned all convictions. It is impossible to know if there was or was not sexual abuse
                          that occurred because of the memory sin of "suggestibility". This can happen in adults as well. There are plenty
                          of examples of social workers and psychologists and counselors who have created problems in families because the
                          social worker believes that the person that they’re talking to, their client, had been sexually abused. The questions
                          used during therapy lead to memories that never actually happened. This happens often, but that doesn’t mean that
                          sexual abuse doesn’t happen. It does! It’s horrible when it does happen, but you’ve got to be very careful about
                          bringing out those memories so that they can be used properly in a court of law.
                          <br>
                          <br> That brings up the questions of
                          <strong>eyewitness testimony</strong>. During questioning the police ask specific questions which may lead to eyewitness
                          fabricated memories. Memory is so transient at first, as we saw with Ebbinghaus, that you lose a lot of memory right
                          away. Police officers want to get a statement immediately from eyewitnesses, because by time you get to court it’s
                          been many days, weeks, months, or even years and the witnesses memory has become altered. They’ve forgot what they
                          saw. Or they think they remember what they saw, but it’s been changed by the suggestions of their friends talking
                          about it, what they’ve seen on television, what they’ve read in newspapers and magazines and heard on the radio.
                          All of that information has been added to their long term memory, and when they bring up their outline of events
                          for the crime they witnessed, they fill it in improperly. As a police officer you need to ask suggesting questions,
                          you need to have some sort of a leading question to get the information out of the person. Therefore there is a suggestibility
                          issue, but you can tell the witness “I’m about to ask you leading questions, these leading questions might suggest
                          an answer that might change the way you actually saw the events. Please be aware that that can happen and try not
                          to let it happen.” By telling the person that suggestibility might alter their view of events, you reduce the probability
                          that it will. Recollections are less influenced by leading questions if the possibility of memory bias is actually
                          forewarned to the witness. Of course passage of time leads to increasing misremembering of information and remembering
                          information incorrectly because of all the information that gets into long term memory. Every time you bring up that
                          memory outline of the event you’re adding more and more and more data to it. Officers want a written statement.&nbsp;
                          You sign that statement.&nbsp; In court a year later, the prosecutor or defense attorney asks you to view your written
                          statement.&nbsp; "Is that your signature on that paper?", "Yes, then read it to the court".&nbsp; They do not want
                          you to try to remember, because a year later, your memory is full of errors.
                          <br>
                          <br> Of course a bias of age, race and sex occurs when we observe anything. If the witness is very young then the witness
                          pays more attention to young people that were in the event. Older people pay more attention to older people. We pay
                          attention to people that are like us, so we pay attention to the males if we’re male, females if we’re female and
                          people of the same race. If someone in the event has a specific symbol on them that shows that they are like us in
                          religious beliefs (clergy clothing, a cross or kippah, yarmulke or turban), we’ll pay more attention to them. We’re
                          actually seeing only a small portion of the actual event because we’re focusing in on a specific person in the event.&nbsp;
                          We don’t see the entire broad outline of that particular event. Our age, our sex, our races are all biases inherent
                          in a witness.
                          <br>
                          <br> Confidence in your memory does not mean it is correct. Some people who are absolutely adamant that they are correct,
                          that demand that what they saw and what they’re telling you is exactly what they saw - in my view are less believable.
                          They are trying to convince themselves. We’ve seen through many different studies that confidence in memory is absolutely
                          not a sign of accuracy of memory. You may be extremely confident, but I’m sorry, that is not going to sway my opinion
                          of whether it is accurate or not because I know that your confidence has nothing to do with whether your memory is
                          accurate or not.
                          <br>
                          <br> Bias is one of the 7 sins.
                          <strong>Bias</strong> is an attitude, a belief, emotion or experience that distorts your memories. One type of bias is
                          <strong>mood-congruent memory bias</strong>. People who are happy remember happy events and people who are sad remember sad
                          events. It’s very difficult to remember happy events when you’re sad, which is a bad thing because according to some
                          studies, if you’re depressed, and you can remember happy things, it will actually help to pull you out of the depression.
                          Unfortunately when you’re depressed, it’s very difficult to remember happy things that happened in our life. This
                          is equivalent to state-dependent learning. You were in a specific state and you remember other things that are like
                          what you were when you remembered them. If you are sad, you remember things that happened that made you sad or when
                          you were sad you learned a specific thing and if you were sad now you’re gonna remember those things easier than
                          those things that you remember or learn when you are happy. So, that’s state-dependent learning, again.
                          <br>
                          <br> The
                          <strong>Self-consistency bias</strong>, we hate to be wrong.&nbsp; We remember, pay attention to, and over emphasis things
                          that confirm our beliefs.&nbsp; We forget, do not pay attention to, or underemphasis those things that do not conform
                          to our belief structure or that would show that we are incorrect. When our actions and our beliefs conflict, we develop
                          something called
                          <strong>cognitive dissonance</strong>, this is a word that we will hear again in the lecture on social psychology.&nbsp;
                          I’ll give you a little brief synopsis here. When our actions are different than our beliefs, cognitive dissonance
                          occurs.&nbsp; We don’t like the idea that we’re behaving differently than we believe. What do we do to reduce this
                          dissonance? It turns out unfortunately we change our beliefs before we change our actions. We’ll talk more about
                          that in the section on social psychology.
                          <br>
                          <br>
                          <strong>Persistence</strong> is when a memory problem occurs because the memory cannot be released. Memories that you cannot
                          put out of your mind are persistent. Neuroscientists have shown that the brain changes when we create new memories
                          and if those changes are strong enough, if they’re connected to a very strong memory, it may be very difficult to
                          reduce those neural patterns.&nbsp; They become so persistent that we’re unable to think of anything else but those
                          neural patterns.&nbsp; That is a part of what we showed as long term potentiation. Remember, long term potentiation
                          says that if you activate a sequence of neurons, that specific sequence of neurons becomes easier to activate and
                          become stronger in its activation.&nbsp; We develop a memory that’s so habitual we can’t put it out of our minds
                          with all the rest of the things that we’re trying to remember.&nbsp; Many of you can relate!&nbsp; This is not an
                          unusual problem.&nbsp; It may take therapy to - let it go!
                          <br>
                          <br> &nbsp;
                          <b> </b>There are ways to improve your memory, these techniques are called
                          <strong>mnemonics</strong>.
                          <br>
                          <b> Elaboration </b> is one way to memorize material.As we have already seen you can make connections between the new
                          materials you’re trying to learn and the information that’s already in your long term memory.
                          <br>
                          <br> We can also use the
                          <b> method of loci </b>, which is learning something by location. I’ve already said, if you’re in a classroom and you
                          learn everything in that classroom, then you should take the test in that classroom because it’s easier to remember
                          in that location. Many stage actors use this approach. They learn where they’re supposed to stand first and then
                          they remember what they’re supposed to say based on their location on the stage.
                          <br>
                          <br>
                          <b> Natural language mediators </b> are speech patterns that help memory. Remember the conversation about the rhyming
                          poem “I before E except after C or in sounding like “AY” as in neighbor and weigh”. This poem helps us to spell specific
                          words if the word has an “I” and “E” together. This is a heuristic not an algorithm – we talk about the difference
                          between algorithms and heuristics in the intelligence chapter!&nbsp; </span>
                      <span class="flow-text">
                          <span class="flow-text">Heuristics do not always work!
                              <br>
                          </span>
                          <br> The
                          <b> whole method approach </b> means you should get the idea as a whole and then worrying about the details later. For
                          instance: we remember the war of 1812 was between England and the United States. It could be considered the second
                          revolutionary war. Here is another part of the story about the last battle of the war. General Andrew Jackson and
                          his men were defending New Orleans. The British and the Americans had already signed a treaty to end the war. The
                          war was over! However, they had no telephones or Morse code back then, so the troops did not know the war was over.
                          England had ended its war against Napoleon and had a lot more power they could throw at the Americas. The battle
                          for New Orleans was going to be their biggest push against the upstart United States. Even though the peace treaty
                          was already signed in Belgium, no one knew it in the Americas and the long planned British attacked on New Orleans
                          went forward.
                          <br>
                          <br> Against all odds – Andrew Jackson and his men held their ground and stopped the British. Andrew Jackson “Old Hickory”
                          later became president of the United States. So, what does that mean in the whole method? If somebody asks you “Was
                          the war of 1812 before Andrew Jackson became President or after?” Now you know because you know that Andrew Jackson
                          was a general in that war, so he must have become President after that war. Knowing the whole story you can derive
                          little details later.
                          <br>
                          <br>
                          <b> Distributed learning </b> means don’t burn out your brain; take it a step at a time. That’s what I’m doing here,
                          right? I’m giving you 15 minute intervals and you can go off and do something else and come back and get another
                          15 minutes. That is the essence of distributed learning. You don’t want to learn all the time. If you learned everything
                          all at once, then the serial positioning effect would come into play. You’d only remember the first and the last
                          material you studied! You wouldn’t remember the middle part
                          <br>
                          <br>
                          <b>Over learning</b> means don’t stop just because you know the material. Go through it again, and again, and again
                          especially until you’ve got the ability to recall the information. The ability to recall material means you can remember
                          it&nbsp; without having to have something to recognize it. We’ve already gone through the difference between the
                          two quite a bit.
                          <br>
                          <br> That’s is it for this lecture series on memory!
                          <br> Time for a break!
                          <br> Go get a cup of coffee.
                          <br> Go do something other than study (maybe play the hangman game).
                          <br> It is time to play the Crossword puzzle – we are finished with the memory unit!
                          <br> Take 15 minutes or so before you go to the next unit.
                          <br> Distributed learning is the best learning.
                          <br> We will continue the lectures in the next unit.
                          <br> Talk with you then.
                          <br>
                          <br>
                      </span>
                  </div>
              </p>
            </div>
          </div>
        </div>