        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">Memory (3)</p>
            <div class="row">
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                      Welcome back to the third lecture in our memory lectures.&nbsp; As I said before, long term memory is difficult for us to
                      explain. We know it exists within our brain in specific neurons, but we don’t know how those neurons are situated in
                      our brain, we don’t know how they’re activated, but we do give it a name –
                      <b>Engram</b>. The engram is the physical trace of memory, and we’re still unsure of the complete picture of an engram.
                      We do know that we can lose the ability to make new traces, and we can lose the ability to retrieve old ones. When events
                      are emotionally charged, and contain an element of very personal interest, the encoding of that engram is made very effortlessly,
                      and is easily recalled, though, not as accurately as one might imagine. As I have said previously, our memory is an outline
                      that we store, not the full picture. When something is really emotionally charged, we call it a
                      <b>flashbulb</b>
                      event or flashbulb memory. If you were old enough to remember watching the world trade towers fall it was a flashbulb memory.
                      We remember where we were, who was with us, and the events surrounding us when we heard about the 9/11 events. I was
                      in a meeting with Sprint representatives developing a voice over IP network for the regional mental health center. One
                      of the secretaries opened the door and said "terrorists just flew an airplane into the world trade center". I told her
                      to close the door I was going to finish my meeting. Terrorists want to disrupt your life. I was not about to let them,
                      but the memory is very strong! Scientists think that this flashbulb memory occurs when the Amygdala is engaged in the
                      creation of the engram, and again, we have no idea how that happens. We don’t know where the engram is actually stored,
                      or how it’s stored, but we have the name. We call it an engram, and we know that if we damage the brain, we lose the
                      ability to recall. There are very specific areas of our brain that we can lose and lose specific aspects of our memory.
                      <br>
                      <br> The following video is about a man named Clive Wearing. His story is a hard one. He has no ideas what has happened to
                      him since he contracted encephalitis in March of 1985. For over 30 years he has awakened thinking it was 1985. He has
                      no ability to place new memories. Within 20 seconds his memory fades. This video is in British. They talk about the card
                      game patience, which is called solitaire in America. There are other slightly different pronunciations of words. England
                      and The United States are separated by a common language! It takes a minute to get used to the accent, but you do get
                      used to it.
                      <div class="video-container">
                          <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="https://www.youtube.com/embed/OmkiMlvLKto"></iframe>
                      </div>
                      <b>Anterograde </b>amnesia is loss of the ability to form memories for new information. If you have seen “50 First Dates”,
                      you’ve seen the Hollywood version of Anterograde amnesia, but it is not like that! In “50 First Dates” the heroine remembers
                      everything all day long. Then when she falls asleep, she loses all the information. That is not how it happens. Remember
                      the working memory is lost in about 20 seconds. There actually was a person in “50 First Dates” that was a very good
                      representation of what happens during Anterograde amnesia. He was called “10 second Tom”. He could meet you and talk
                      to you and turn around to do something else and 10 seconds later turn back around and see you and say “Hi, who are you?”.
                      Within 10 seconds he would not remember anything about having met you. It was impossible for him to put down new information,
                      so he remembered everything about his life up to the point where his brain was damaged, and then could not remember anything
                      after that point - very much like Clive Wearing. The Amygdala and the Hippocampus are crucial in placing and retrieving
                      memories. Loss of either of these means you will not place new memories into your system.
                      <b>Retrograde </b>amnesia is the inability to remember information previously stored in memory. Retrograde amnesia occurs
                      much less often in young people than Hollywood would have you believe. Hollywood loves to use retrograde amnesia as a
                      story plot. The movie "The Bourne Identity" is one of those movies where a man was shot in the back and fell into the
                      water. When he woke up he couldn’t remember anything about his life. That’s an example of retrograde amnesia. He has
                      lost all of his identity, he has no idea where he lives, who he is, anything. It doesn’t happen like that. In a healthy
                      human you have to have brain damage to get retrograde amnesia. If he fell overboard and hit his head on a passing floating
                      log, THEN I suppose he could’ve created brain damage. In most instances of retrograde amnesia it is not permanent. Slowly
                      those areas of the brain affected will come back online! It’s a temporary loss of memory. However, in aging, if it’s
                      disease related, retrograde can be permanent! When you lose your memory because of Alzheimer’s disease, for instance,
                      it is because your brain is dying. As specific parts of your brain die, if a memory was in that location of your brain,
                      you lose that memory.
                      <br>
                      <br> What about Clive? He has forgotten some information from his past and can no longer put down new memories. What does
                      he remember? He can communicate through speech. Speech is a complicated memory pattern. Speech takes a lot of information
                      and the ability to use each word in the proper order. He can play Patience. One reason he can play patience is that there
                      is no reason to know what has happened prior to the cards as they sit in front of you. All you need to know is what is
                      in front of you in order to decide what to do next. He can dress himself and eat. If you think about it that takes skills
                      that are part of memory (procedural memory). He can also play the piano by reading sheet music. He does not remember
                      what he played 20 seconds ago, but that is not required to continue playing from where you were only one second ago.
                      So he remembers how to read sheet music and how to move his fingers on the piano in relation to the sheet music. That's
                      quite a feat of memory - I took 7 years of piano and all I can play is chopsticks! Clive's life is not completely gone,
                      but he must be anxious, scared and confused all the time.
                      <br>
                      <br> Let's talk about the biological basis of long term memory? The cerebellum seems to be the control for learning of elementary
                      reflexes and habitual movements - our procedural memories. The cerebellum has been determined to be associated with classical
                      conditioning. In animal studies you can see changes in neurons being formed as they learn specific relationships. Memories
                      causes neurons and synapses to change. When you have a learning experience, when you have a memory that’s formed, your
                      brain makes new connections. We do know this occurs. We do not make more neurons in the brain but we grow new dendrites
                      off of existing neurons and we make new axons from the soma and new terminal buttons that will make new connections as
                      we’re creating these memories in specific areas of our brain. We create new pathways to already existing neurons. Neurotransmitters
                      are also implicated in memory as well. If we’re making new terminal buttons, we’re actually creating more neurotransmitters.
                      Releasing more neurotransmitters means that the next level down, whatever it is that it’s impinging upon, has a better
                      chance of responding. This is part of
                      <b>long term potentiation
                      </b>. When a neuron pathway is activated, it becomes easier to activate for a few days, and if you activate it over and
                      over and over again, it becomes very easy to activate. This may be the way habits are formed.
                      <br>
                      <br>
                      <b>Implicit </b>memory is memory that was not deliberately learned or of which you have no conscious awareness. Implicit
                      memories just trickle into your brain. You get information without paying much attention to the detail. Besides the unconscious
                      ability to learn something, we can also process memories without thinking about them. You do not think about how you
                      walk, or ride a bicycle or tie your shoes. This is part of the implicit memory system. On the other hand,
                      <b>explicit </b>memory is memory that has been processed with attention as a part of the process. The words in this book
                      that you actively look for and actively try to remember and can become consciously recalled are Explicit Memories. We
                      have no conscious awareness of our implicit memory until somebody says something and it triggers the memory - “Oh, my
                      gosh, I didn’t realize that I knew that”. We have no conscious awareness that we know that particular item when it is
                      part of an implicit memory. For explicit memory we know we learned it, but sometimes because of tip-of-the-tongue we
                      can’t get it out of our brains. Tip-of-the-tongue is when we know that we know some material, but we can't process it
                      and the harder we think about it the harder it is to remember. So, you give up and then - whatever it was you were trying
                      to remember - wakes you up when it pops into your head at 3 AM while you are asleep. The brain is always working!
                      <br>
                      <br> So, how do we retrieve memories? Whether memories are implicit or explicit the success of their retrieval depends on
                      how they were encoded, and how they are then cued for memory.
                      <br>
                      <br>
                      <b>Priming</b> is a technique for retrieving implicit memories by providing cues that stimulate the memory without providing
                      awareness of the connection between the cue and the retrieved memory. So, let’s do one little thing here: repeat these
                      words; mop, drop, flop, mop, drop, flop, mop, drop, flop, mop, drop, flop. NOW what do you do at a green light? Did you
                      say stop? That’s because you were primed to do so. Since you were primed with the words, mop, drop and flop the phonological
                      loop jumps to a rhyming word "stop". You GO at a green light. You were primed to say the wrong word which is what magicians
                      do. Magicians purposely make you look at something that will make your brain imagine what the next thing’s going to be
                      and oops, that wasn’t what the next thing was. Unfortunately, that’s also what advertising agencies do, they try to find
                      ways to make you believe or do things without knowing that you’re doing them. Of course it helps them sell their items.
                      <br>
                      <br> As an Example of Priming; you could be presented with the following words: assassin, octopus, avocado, mystery, sheriff
                      and climate to study for a few minutes. Later during the day you would easily be able to identify which of the words
                      you had previously seen - when presented with twilight, assassin, dinosaur and mystery. The problem with this is that
                      it is not perfect, because our memory is an outline. An hour later you may be confused by the word Ninja because we associate
                      assassin and ninja. So priming can help or hinder memory. For instance, in an experiment students were shown pictures
                      of a shopping center. They were unable to determine what pictures they had seen when they returned the next day. The
                      priming pictures shown the day before gave them false memories! They were shown a woman with a shopping cart going into
                      the shopping center. Next they were shown a picture of the woman with her shopping cart full of items, and one of the
                      items in her cart was a whole bag of oranges. The next thing they were shown was all the oranges all over the floor in
                      the shopping center. The next day when they came back, they were shown other pictures. They had to pick out the pictures
                      they had seen the day before. One of the pictures that they were shown was a picture of the woman hitting the orange
                      shelf and knocking the oranges onto the floor. Many of the students said that they had seen that picture because it’s
                      part of the memory outline. It was an obvious addition to the outline of their memory of the other three pictures. They
                      believed they had seen that picture before. This is one way that we can create false memories in people.
                      <br>
                      <br> It is very easy to create false memories - especially in children - and very hard to remember the exact details of an
                      item many days or even years later, which is what we’re asking people to do when they come in to talk about a murder
                      that they witnessed. The murder trial is a year or more after the event, which is why policemen like to take the statement
                      of each of the eyewitnesses immediately. When they get to trial, they can read their statement instead of trying to remember
                      what they said.
                      <br>
                      <br> It's time for a break guys, and gals.
                      <br> Go get a cup of coffee.
                      <br> Go do something other than study (maybe play the hangman game).
                      <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                      <br> Take 15 minutes or so before you go to the next slide.
                      <br> Distributed learning is the best learning.
                      <br> We will continue the study of Memory in the next lecture.
                      <br> Talk with you then.
                      <br>
                      <br>
                  </div>
              </p>
            </div>
          </div>
        </div>