        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">Memory (2)</p>
            <div class="row">
              <p class="flow-text">
                  <div class="flow-text">
                      <span>
                          <br> Welcome back to lecture number 2 for memory. To recap - short-term memory, or working memory, lasts longer than
                          sensory memory, but it's not as long lasting as long term, permanent memory. Short term working memory has a capacity
                          of about 7 items plus or minus two - which is to say 5 to 9 pieces of information - and can be stored for about 20
                          seconds. Both long term and sensory memory can hold more information, but sensory memory lasts for a shorter time
                          and long term memory lasts for a longer period of time.
                          <br>
                          <br> So, how do we form our memories? Each of the three memory systems encodes and stores memories in different ways,
                          but they work together to transform sensory experiences into some sort of a lasting record that has a pattern of
                          meaning to us. Human memory is a cognitive system composed of three
                          <b>stages</b> that work together to
                          <b>encode</b>, to
                          <b>store</b>, and to
                          <b>retrieve</b>
                          information.
                          <br>
                          <br>
                          <b>Store it to retrieve it</b>:&nbsp; We have trouble remembering information that doesn’t fit our previous experience.
                          We like to connect new things with previous experiences and previous memories. We have long term memories that we
                          stored many years ago. If we can connect something new to one of those long term memories, it is easier for us to
                          store the new information and it reactivates the long term memory. If new information doesn’t fit our previous experience,
                          then it makes it very difficult for us to store it. Especially, we don’t like to store information that opposes the
                          basis of knowledge that we have. In other words - no one likes to be wrong, and so it’s very difficult to learn things
                          that prove us wrong. Our memory system works well when we can
                          <b>focus our attention</b>. If you just skim over the chapters in the text, then you won’t easily remember anything
                          that’s in those chapters. You have to focus your attention on the information in order to store it. I tell my students
                          all the time: Wherever your eyes are, that is where your brain is.&nbsp; If you are looking at&nbsp; your phone and
                          listening to me in class, you will not store the information.&nbsp; Your brain is on your phone. That is one of the
                          reasons a person with ADHD has such issues. It is hard for them to focus.
                          <br>
                          <br> It’s very difficult for all of us to focus if we have no
                          <b>interest</b>
                          in the subject. If we are interested in a particular subject, then we are able to memorize that information easier. There
                          is a story that relates here. A child in elementary school was interested in snakes. This child could tell you about
                          every snake in his district. He knew the life cycle and eating habits of every snake! None of his teachers could
                          get him to learn anything else. He wasn’t interested. He was always thinking and talking about snakes. His history
                          class was studying the revolutionary war, the Boston Commons and “The shot heard round the world” in 1775 and the
                          signing of the Declaration of Independence in 1776. He was not interested. So, his teacher asked him. “What are the
                          chances that the first shot of the revolutionary war was a farmer shooting at a snake? What kind of snake would it
                          have been? What kind of rifle would they have used? If he missed where would it hide?” The child was thrilled and
                          when the child was finished with his research he knew everything about that event based on snakes.&nbsp; The moral
                          of the story: find a way to personally make the subject interesting!
                          <br>
                          <br>
                          <b>Emotion</b> helps the storage and retrieval process. If the information or the professor is boring then it is difficult
                          to store the data. One of the reasons that we can memorize things when we’re interested in them is because we have
                          a small amount of emotion investment in that particular subject. Emotions help us remember. How many times does a
                          parent try to get their little child to say their first word? They repeat the word to the child. "Say mommy. You
                          can do it - mommy." The child just laughs and stares at them. Then the dad comes charging through the front door
                          from a bad day at work in a huff and yells a “four letter word”. The child immediately repeats the four letter word!
                          Why? It was said with emotion! Anything that arouses our emotions is easier to learn and remember because it activates
                          parts of the limbic system (which we discussed in the biology unit) and that emotion is stored along with the memory.
                          It is one of the reasons I scatter stupid jokes and stories through my lectures. I hope to activate your emotions
                          and help you remember the lecture.
                          <br>
                          <br>
                          <b>Encoding</b> involves selecting, identifying, and labeling information, which includes modification of that information
                          to fit the preferred format of your memory system. Everybody has their own structure, their own schemes for memory
                          retention and we assimilate and accommodate new information into our personal system.
                          <br>
                          <br> I’ve already said that information that fits with our previous experiences is easily remembered, but so is information
                          that we rehearse. So, if we repeat something over and over again, called
                          <b>rehearsal</b>, then we can memorize it easier. The quizzes I have in my classes are setup so you can take them as
                          many times as you want and your highest grade counts. I did that on purpose to get my students to repeat/rehearse
                          the information over and over again. However just repeating something is not the only way to rehearse. There is something
                          called elaborative rehearsal. With
                          <b>elaborative rehearsal
                          </b> you are adding information to the data you are attempting to remember. You are attaching more connections to
                          the information that you’re trying to memorize.
                          <br>
                          <br> During the encoding process, it is best to elaborate, which means to add more information than what it is that you’re
                          trying to remember. Say you’re trying to remember information about the U.S. war of 1812. When somebody asks you
                          other pieces of information about it, you only remember it occurred in 1812. One of the ways to remember the war
                          of 1812 is as the second war of independence fought against England. One of the reasons for it being fought against
                          England was because the English were capturing ships at sea and our sailors and drafting them into their war with
                          France. They did not respect our independence,our property or our citizens, so we declared war with them. That is
                          more information for you than just "it was a war fought in the year 1812".
                          <b>Elaboration
                          </b>is a type of encoding in which meaning from long term memory is added to information in working memory so it
                          may be more easily stored and retrieved. I have connected the U.S. war of 1812 with the U.S. War of Independence,
                          now you know, hey, it’s the Second War of Independence. Hopefully you also
                          <em style="text-decoration: underline;">already</em>
                          know, that England was at war with France and Napoleon in 1812. Now you have another way to remember the war of 1812. It
                          was during the war with France and England. You’ve added more information stored with what’s in long term memory.&nbsp;
                          England was fighting two was on two fronts.
                          <br>
                          <br> You also have information in your brain that you may not know connects to this war. During the war of 1812 the British
                          attacked and burned Washington D.C. to the ground. They could not have done this if D/C was not already the capital.
                          Originally it was Philadelphia. Then the British moved against Baltimore. But Baltimore was ready for them. Fort
                          McHenry pulled in all the troops from Washington and other areas in the North East and fortified its defenses. The
                          commander of the fort ordered the local seamstresses to make the largest American flag ever created, so he could
                          fly it in defiance of the British ships when they entered the harbor. The British ships came into the harbor and
                          started a bombardment of the fort, and the cannons of the fort fired back at the ships. An American was held hostage
                          on the British flag ship and watched the entire battle.&nbsp; He saw that HUGE American flag waving in the breeze
                          and illuminated at night by the rockets red glare the bombs bursting in air.&nbsp; In the morning that flag was still
                          there!&nbsp; through the night. His name was Francis Scott Key and he wrote a poem that would later be put to music
                          called the U.S. National Anthem - "And the rocket’s red glare, the bombs bursting in air, gave proof through the
                          night that our flag was still there." He's talking about the GIANT flag flying over Fort McHenry. Now, if you are
                          reading this and you are from the United States, you know your National Anthem very well - it is part of your easily
                          accessible Long Term Memories! If you did not know the connection before now, I just connected that knowledge of
                          the national anthem to the war of 1812 and the largest American flag ever made (which now hangs in the Smithsonian
                          museum in Washington D.C.) . This information will most likely be with you forever! I triggered emotions in you with
                          the story I just told.&nbsp; I connected old knowledge and new data and emotions to make a very strong memory. It's
                          too bad all the material you have to memorize can't be as well connected and emotional!
                          <br>
                          <div class="images">
                              <div style="border: 0px solid white; padding: 10px; float: right; width: 320px; font-family: Arial;">
                                  <div>
                                      <img style="width:310px;padding:5px;" alt="picture of Fort McHenry" src="img/Memory_Fort_McHenry.jpg">
                                      <br>
                                      <center>Painting of the attack on Ft. McHenry
                                          <br>
                                          <a target="_blank" title="John S Bower LoC" href="http://www.loc.gov/pictures/item/2012645273/">By John Bower</a> from Wikimedia Commons</center>
                                  </div>
                              </div>
                          </div>
                          <b>Storage </b>involves retention of the encoded material over some period of time. Usually, we try to understand the
                          data that we need to store before it’s stored. We can add substance to the data for later retrieval. We will talk
                          about this encoding specificity later. It will come up again. So, storage is retaining the information, but we want
                          to store it in a way that we can access and retrieve that information later.
                          <b>Access and retrieval
                          </b> involve locating and recovering the information from your memory. This location and recovery can be facilitated
                          or helped by where we are when we attempt to retrieve the information. What room are we in or what home or location?
                          If we learn information in a specific place, it is easier to remember that information when we are in that specific
                          location, because we have more information that will cue us. We not only remember the information when we learn something,
                          but we also remember the location where we learned it. The location is part of what we learned. How many pathways
                          we have to the data we want to retrieve is also important, like a spider going to the middle of a spider web, there
                          are lots of pathways to get there. If one pathway is broken, the spider can still get to the middle of the web. Material
                          stored in long term memory is always there, but the pathways to the material disintegrate over time.
                          <br>
                          <br> Now let's view an example of encoding and storing information in working memory.
                          <br> Here is a video that will show you a group of 16 numbers.
                          <br> This time I will allow you to view the numbers for 15 seconds.
                          <br> See if you can remember the numbers that I’m about to show you with only ONE viewing and without writing them down.
                          <br>
                          <br>
                          <video controls="controls" style="border:5px solid black" height="315" width="320">
                              <source src="video/Memory_Encoding.mp4" autoplay="false" allowfullscreen="" frameborder="5px">
                          </video>
                          <br>
                          <br> Alright, are you able to now repeat those numbers back to me? Probably not. There were a lot of numbers there, however
                          there are some of you who will be able to tell me every single one of the numbers in the video and in proper order!
                          We cannot store more than 9 numbers in working memory, so how does a person remember 16? The reason some can do it
                          is because they use a method called chunking.
                          <b>Chunking</b> is organizing pieces of information into a smaller number of meaningful units. You may have trouble
                          remembering all 16 numbers because working memory can only hold or remember 7 items, plus or minus 2. There were
                          a lot more than 9 items in the list. But, there is a way you can do it through chunking. Sorry about this, but I
                          set you all up for this experiment in the beginning of this lecture. Click the link again and see it you can recognize
                          the chunks.
                          <br>
                          <br> &nbsp;Were you able to see the pattern that existed? There weren’t 16 numbers. If you know how to chunk, and you
                          already have the correct LTM memories, then there were only 4 numbers - not 16! You can easily remember 4 items which
                          are already in your long term memory that would allow you to replay all 16 numbers. The hint given to you in the
                          beginning of this lecture was the war we discussed. Did you notice that four of the numbers were the date of that
                          war? If you did, then you may also have noticed that the other numbers were also specific Dates! They are dates relative
                          to citizens of the United States, so if you are from another country you may not be able to chunk the data. The dates
                          were: the attack of the word trade centers which was September 11 of 2001, the year that world war two ended, the
                          United States date of independence, and the war mentioned in the last lecture. There are only four items you have
                          to remember to repeat all 16 numbers back to me. That's the beauty of chunking. However, to be able to chunk, you
                          must have long term memories to associate with the data. The more you know, the more you have available to connect
                          to new information! People with very little or different experience will have trouble finding items to chunk. Lack
                          of experience is an issue created by poverty! It is also a societal issue since different societies create different
                          experiences. Experience is an important attribute in much of psychology.
                          <br>
                          <br>
                          <b>A story about Experience:</b> I will repeat this next story again in other lectures. From the age of 12 my wife grew
                          up at the beach. My father was in the Navy so I grew up all over the world. My mother was an artist and when we lived
                          in Japan she did floral arranging. When I met my wife and we started dating she would see a flower and say, "what
                          a pretty flower". I would say, "it's a Peony", it’s a Tulip", "It's a bleeding heart" or “it’s a bird of paradise”.
                          I would think "What's the matter with this girl. She knows nothing about flowers". One day we were walking along
                          the beach. Most of the shells along the beach are broken, but I found a perfect shell, picked it up and said "what
                          a pretty shell". She said "Neverita duplicata - Shark eyed moon snail".
                          <br>
                          <br> I hope you are laughing! I had no idea what it was called! I had a limited knowledge of shells. She had a limited
                          knowledge of flowers. When we talk about Intelligence we will see, the data the two of us where missing did not make
                          us stupid or unintelligent. We simply had different experiences in our lives. So, how are we expected to know information
                          if we never experienced it?! We have no memory of the material because we were never exposed to it! Culture, society,
                          economic conditions and many other criteria determine our experiences in life and that determines what we may find
                          in our long term memories.
                          <br>
                          <br>
                          <div class="images">
                              <div style="border: 0px solid white; padding: 10px; float: left; width: 320px; font-family: Arial;">
                                  <div>
                                      <img alt="Picture of spider web" style="width:310px; padding:5px;" src="img/Memory_web.png">
                                      <br>
                                      <center>The web strands represents pathways to the memory you wish to retrieve at the center of the web.</center>
                                  </div>
                              </div>
                          </div>
                          <b>Levels of processing theory</b> - described by Craik and Lockhart in 1972 - is an explanation for the observation
                          that information that is more thoroughly connected to more meaningful terms in long term memory will be remembered
                          better. The more ways you can remember an item, the more long term memory items are connected to it, the easier it
                          will be for you to remember it later. So, the more connections we have to a memory, the easier it is to recall the
                          memory. The picture of the spider web is a good analogy for this process. The center of a web has many pathways to
                          get to it and if one of those pathways is broken, there are still many other ways to get to the center of web, which
                          would be the information you’re trying to acquire. You need many different pathways (connections) to memory to make
                          it easier to get to that particular item. One of the things that shows the levels of processing theory is when your
                          teacher tries to remember your name in class. First they learn your name by where you are in the class. This person
                          'Bob' sits in the back left corner of the class. Barbra sits over there in the right hand side in the back of the
                          class. When the teacher enters the class he remembers Bob, and he remembers Barbra because of where they sit, but
                          then he sees them at the local grocery store. He thinks “You know, I know this person, they’re in my class”. Even
                          though he remembers their name in class, in the store he remembers their face but not the name because he only has
                          one pathway to get to that name. If he can picture the class and the seating arrangement he can remember the name!
                          He could also remember noses or eyes or hair color or hair shape or shape of the face. These are all other types
                          of items to remember about Bob and Barbra. The more information he gathers about a student the easier it is to remember
                          them in other venues. He has more pathways of getting to the name. That’s an example of the levels of processing
                          theory. I always try to learn something about my students which makes it easier to remember their names.
                          <br>
                          <br> This is also an example of
                          <b>Encoding specificity</b>. We can retrieve data better if we are in the location where we actually encoded the data,
                          because the location is part of the memory. When you’re listening to the teacher in your lecture hall or in your
                          classroom, remembering that information will be easier if you’re in that room when you take the test. If you go to
                          another room to take the test, you’re missing some of clues and cues that will help you to remember the information.
                          Encoding specificity also include the mood that you’re in, and the drugs that you’re taking. If you meet one of your
                          professors in the drug store, you may not remember his or her name because you’re not in the class, where you actually
                          learned the name. Your professor is more likely to remember your face but will have trouble remembering your name
                          because you aren’t in the seat where she or he learned your name. If there is a match between your encoding and your
                          retrieval it is easier to recall the memory. The more items that are involved in making a memory, the more pathways
                          you have to get to it, and the easier it is to recall.
                          <br>
                          <br> I want to mention
                          <b>state-dependent</b> learning here. Memory retrieval is most efficient when an individual is in the same state as
                          they were in when the memory was formed. Happy memories are easier to remember while you are happy. Sad ones are
                          easier to remember when you are sad. On the other hand, if you can remember happy memories while you are sad, you
                          will come out of your sadness faster. A lot of doctors are on 36-hour intervals when they are doing their internships.
                          This is where they are practicing on live people! Many are on speed to stay awake during that time. They learn how
                          to do their job while they are on speed. State-dependent learning indicates it will be easier for them to recall
                          the information while they are in the same condition they were in when they learned the procedure. It’s difficult
                          for them to recall the information unless they’re on speed. If I have a new doctor doing surgery on me, I want my
                          surgeon to be on speed before he starts cutting on me. Otherwise it’s possible he might not remember what he's doing!
                          Just a humorous way to help you remember state-dependent memories.
                          <br>
                          <br> This also brings up two different access styles of memory recognition and recall. If I ask which type of test question
                          you prefer, multiple choice or fill in the blank, the majority of you will say multiple choice. Most students hate
                          fill-in-the-blank questions! Fill-in-the-blank questions require a deeper understanding of the material. We prefer
                          to have some stimulus to clue us into the answer. We recognize the answer in the multiple choice question – unless
                          one of the options is none of the above! Unfortunately, sometimes the answer you recognize is "AN Answer", but it
                          may be the answer to a different question!! That happens because you do not have a true grasp of the material!
                          <br>
                          <br> If you need
                          <b>Recognition</b> then it is a less established memory than those memories you can
                          <b>Recall</b>. When you can recall information without having to recognize a stimulus clue, then that information is
                          solidly established in your memory. Information that you can recall is hard to forget. We will talk about Ebbinghaus'
                          forgetting curve in another memory lecture. The more levels of processing you have for a memory, the stronger the
                          memory is and the easier it is to Recall. The crossword puzzles I give you are a method of testing your recall of
                          the terms. A crossword puzzle is very similar to a fill in the blank question. If you can do the crossword puzzles,
                          you have a strong memory of the material.
                          <br>
                          <br>
                          <b>Maintenance rehearsal</b> is the process in which information is repeated or reviewed to keep it from fading while
                          it is in working memory, and this is not as good as what we call elaborative rehearsal that I’ve talked about already.
                          <b>Elaborative rehearsal
                          </b> is the process in which information is actively reviewed and related to information that is already in long
                          term memory. So, it’s using your long term memory to help you remember new data. If you are trying to remember a
                          new piece of information about the war of 1812, it will be easier to do so if you connect it to the other information
                          you know about the war.
                          <br>
                          <br> It's time for a break guys, and gals.
                          <br> Go get a cup of coffee.
                          <br> Go do something other than study (maybe play the hangman game).
                          <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                          <br> Take 15 minutes or so before you go to the next slide.
                          <br> Distributed learning is the best learning.
                          <br> We will continue the study of Memory in the next lecture.
                          <br> Talk with you then. </span>
                  </div>
              </p>
            </div>
          </div>
        </div>