        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">Memory (1)</p>
            <div class="row">
              <div class="row">
                <div class="container">
                    <paper-audio-player color="orange"
                                        src="audio/Memory_from_Cats.mp3"
                                        title="Barbara Streisand's sings - Memories!">
                    </paper-audio-player>
                </div>
              </div>
              <p class="flow-text" style="padding-top:18px;">
                <div class="flow-text">
                
                
                
                    <span class="flow-text">
                        <em>

                            <strong>
                                <span class="flow-text">
                                    "I have done that," says my memory. "I cannot have done that" -- says my pride, and remains adamant. At last -- memory yields.
                                    ~ Nietzsche
                                    <br>
                                </span>
                            </strong>
                        </em>
                    </span>
                    <br> Welcome to the section on Memory.&nbsp;
                    <br> I find Barbara Streisand's version of "Memories" from the musical "Cats" is a perfect way to start this unit.
                    <br> In this section we will discuss many aspects of memory as defined by psychologists and biologists.
                    <br> We’ll talk about some of the problems with Memory, and some of the ways that we can improve our memory.
                    <br> Discovering Psychology Series - "Remembering and Forgetting" is a 28 minute video.
                    <br> The Crash course in Psychology video that is less than 12 minutes.
                    <br> I find that older students enjoy the Discovering Psychology video and the younger students like the Crash course videos.
                
                    <div class="row">
                        <div class="col s12 offset-s0 m6 offset-m3">
                            <a href="http://www.learner.org/series/discoveringpsychology/09/e09expand.html" target="_blank">
                                <img class="hoverable" width="100%" src="img/Memory_Icon.png">
                            </a>
                        </div>
                    </div>
                    <div class="video-container">
                        <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="https://www.youtube.com/embed/HVWbrNls-Kw?list=PL8dPuuaLjXtOPRKzVLY0jJY-uHOH9KVU6"></iframe>
                    </div>


                    <span class="flow-text">
                        First of all, what is memory? Gosh - we have no idea! Truly. We can measure certain aspect of it and we know how to improve
                        it and how to damage it. We even know some of the brain parts associated with it. Although we can name it (an engram)
                        and study it we still have no idea how it works in the biological sense. We've traced the motor and sensory cortexes
                        to the specific areas they control but we can't isolate memories that way. It is a huge area of research.&nbsp; Neurons
                        in the brain appear to arrange themselves in 16 different dimensions and that might have something to do with the
                        biological aspect of memory.&nbsp; We know that learning something new in very primitive organisms immediately produces
                        growth in the axon of a neuron in that creature, but predicting which neuron will be affected is still beyond our
                        knowledge. Since we cannot yet define the micro level of memory, we must therefore drop back to look at memory from
                        a more macro level.
                        <br>
                        <br> Any system, in human, animal, or machine, that encodes information, stores the information, and has some process
                        of retrieving that information is considered a memory system. Unlike a computer, which has nearly perfect memory,
                        the memory for a human is more like an outline. It’s not a perfect representation of the facts. When we want to remember
                        something, we pull up the outline. Each time we do that, we fill in the outline differently than the last time we
                        pulled it up. We remember the event with all the rest of the information in our brain (both new and old) which leads
                        to errors. We fill in the outline with new information which we didn’t have previously, but we place that new information
                        in the same time frame as the old memory. We believe the new information was part of the old memory. We do the same
                        with older information. We think events that happened to us earlier in life actually happened during the time frame
                        of the newer memory. We’ll see in this section that our memories are not very good - certainly not perfect. The three
                        memory
                        <b> processes </b> are
                        <b>sensory
                        </b> memory,
                        <b> working </b> memory, and
                        <b> long-term </b>
                        memory. All the information we know went from sensory memory into working memory and was then stored in long term storage.&nbsp;
                        There are some researchers who believe that information is placed in both sensory and working memory at the same
                        time, but for now we will discuss memory as a flow from one process to another.
                        <br>
                        <br>
                        <b>Sensory memory</b> preserves very brief impressions from all our sense organs. These impressions remain in sensory
                        memory for a quarter of a second. Up to 16 items per sense are recorded, so you can have 16 brief sensory impressions
                        through your eyes, 16 through your ears, 16 through your fingertips (body), your sensations of touch, through your
                        nose, through your mouth, there are 16 items per sense. All of them together are your sensory memories. That’s a
                        lot of information! It’s a heck of a lot of data every quarter of a second! Since sensory memory only lasts for a
                        quarter of a second we need to analyze that data very rapidly and pull out the information that we need - the information
                        that is most important to us.
                        <br>
                        <br> Two major types of Sensory memory are Iconic and Echoic memories.
                        <strong>Iconic </strong>is easy to remember because it sounds like eyes, and it is our brief memory senses from our vision.
                        Everyone knows that echoes are what you hear, and
                        <strong>Echoic memory </strong>is your brief sensory impression from your ears. So, Iconic is visual, and Echoic is hearing.
                        There is a special form of Iconic memory. Most of the time our sensory memory is gone in a quarter of a second, and
                        hopefully we’ve pulled the important data into working memory to use, or it’s gone forever. Some people have what
                        is called
                        <b>eidetic memory</b>. This is the ability to immediately preserve (place) visual sensory images into long term memory
                        (almost like bypassing working memory). The impression seems to go directly from sensory memory right into long term
                        memory and it is very easily retrieved. Many of us would love to have eidetic memory. We also call it
                        <b>photographic memory
                        </b>, but those who have it report negative issues with that form of memory. People with photographic memory will
                        tell you it’s not all it’s cracked up to be. Imagine a cellophane sheet of paper. You can see through it. Now use
                        a magic marker and write on that cellophane. Now take another and write on it. Then another and another. Now hold
                        up one page of cellophane and read it. Not any issue correct! Now hold all the pages together and try to read them.
                        Now they all jumble together. That is how people with photographic memory report what happens. This memory is a visual
                        representation of what they’ve seen and it interferes, overlays over top of everything else that they’re trying to
                        see or remember. It is very rare to find an adult with photographic memory, but I had a boss who did. We worked in
                        a computer center and there was an entire wall of documents to tell us what to do with these computers if anything
                        ever broke. When something went wrong he would tell me exactly what book to go to, where the book was on the shelf
                        and what page to turn to find the answer. He never did tell me what the answer was, because he wanted me to look
                        it up myself. That’s the way that we learn. We don’t learn by somebody telling us the answers, we learn by looking
                        those answers up ourselves. So he was training me and impressing me greatly with his ability to remember that kind
                        of information. Interestingly photographic memory and reading interfere with each other. Many children have eidetic
                        memory before they learn to read.&nbsp; As they learn to read their eidetic memory declines. If we go to an aboriginal
                        tribe that does not read, we find a large number of adults with photographic memory. When we teach them to read,
                        their eidetic memory starts to fade.
                        <br>
                        <br> Now let's talk about
                        <b>working memory</b> which preserves the important recently perceived events from your sensory memory for about 20
                        seconds. When sensory memories that we want to work with are moved into working memory the experiences last for approximately
                        20 seconds, unless we are rehearsing - unless we are repeating that information over and again. The working memory
                        is also called short term memory or STM. Unfortunately it has a total limit of 5 to 9 items at one time. Whereas
                        sensory memory has 16 items per sense, the working memory can only hold a total of 5 to 9 items (we call it 7 plus
                        or minus 2). So, here is one of the big issues, a problem of memory, the sensory memory is giving working memory
                        access to at least
                        <em>
                            <strong>80 items every quarter of a second
                            </strong>
                        </em>, but we can only take 5 to 9 items of that information at a time. That’s one of our roadblocks for memory. The link
                        between working memory and sensory memory is a bottle neck.
                        <br>
                        <br>
                        <b> The bottle neck - Working vs sensory memory: </b> Here is a short video as an example of sensory memory interacting
                        with working memory. Click the link and you will see a series of letters for about one second. I want you to try
                        and remember as many letters as you can viewing it only one time for 1 second. Remember that sensory memory is fast
                        and only lasts about a quarter of a second, so 1 second should give your brain plenty of time to view and review
                        the material four times. Do not write them down, just try to memorize them (in one second).
                        <br>
                        <br> Click here to see an example of the bottle neck:
                        <br>
                        <video controls="controls" style="border:5px solid black" height="315" width="320">
                            <source src="video/Sensory_memory.mp4" autoplay="false" allowfullscreen="" frameborder="5px">
                        </video>
                        <br> How many of the items in that one second video can you recall? You move the sensory memory into working memory and
                        most of you can start to write them down on a piece of paper. As you write one letter another one in your memory
                        fades away. You cannot get all of them. The reasoning for this is that there's just too much information coming at
                        us through our senses. You might be able to remember that the picture viewed was a 3 by 3 square of letters. There
                        were 9 pieces of information in the video. Supposedly our visual system can pick up 9 pieces of information easily.
                        We already learned that the sensory systems can pick up 16 at a time which would be a 4 X 4 display. When push comes
                        to shove and we try to remember all 16 it is nearly impossible. It is difficult for us to do because we only have
                        20 seconds, and then the working memory starts to fade. We have to keep the data in working memory while we try to
                        access it and write the letters on paper. It will only store in working memory for about 20 seconds. While we try
                        to list the 9 items, we run out of 20 seconds really fast. Think about it: If everything from our senses was placed
                        into working memory where it remained for 20 seconds, we would have no room for all the sensory input, because we're
                        getting 16 items from sensory memory every quarter of a second and working memory only holds 9 items - at the most.
                        Sensory input is always changing, so if all that information ended up in working memory everything would just get
                        jumbled up and we'd be unable to function - We would have a nervous breakdown! As an aside - this may be part of
                        the issues of people described as autistic. Working memory is not letting go of the information fast enough and too
                        much information is flooding in from sensory memory.&nbsp; Any new sensation is overwhelming!
                        <br>
                        <br> Sensory information is gone within a quarter of a second, and we have to determine in that quarter of a second what
                        is important and move that information into working memory as fast as we can. Then we have to use that information
                        in working memory as fast as we can because it's only there for about 20 seconds. Click on the link again and see
                        how you do the second time around. Hopefully you noticed that you cannot remember all that information because we
                        just can't hold a lot of information in our working memory and because it goes away so fast. If that is the case,
                        how do researchers know that we can remember 16 items? When we do this experiment we do not ask the subjects to write
                        down everything they can remember. Instead we immediately ask the subject to name the letters in the right column,
                        and they can! If we ask them to name the letters in the middle row, they can! We could ask them to name any 4 letters
                        in any pattern in a 4 X 4 square and, they can, but after that - the memory of the rest of the letters is already
                        fading. This is how we know that the sensory memory acquires all 16 letters in a 4 x 4 grid.
                        <br>
                        <br> The structure of our short term (working) memory can actually be broken into smaller units. We know this because
                        people have damage to specific sections of their working memory. From this damage we have learned that there are
                        3 specific aspects to our working memory. One is the
                        <b>central executive</b> which directs our attention to specific items coming in from short term memory, so we can pay
                        attention to those things that are important to us. There is a
                        <b>phonological loop</b> which attends our memory to specific sounds. We also have a
                        <b>sketchpad</b> of short term memory which stores images. There are two specific aspects of working memory for specific
                        types of information: one, for the Echoic information coming in from hearing centers and one for the Iconic coming
                        in from the visual centers. That’s why I told you earlier that Echoic and Iconic memories are so important to our
                        memory systems, because the working memory actually has specific parts that attend to that information.
                        <br>
                        <br> Here is a great 4 minute video explaining a little about the central executive from the man who developed the idea
                        - Alan Braddeley.

                        <div class="video-container">
                            <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="https://www.youtube.com/embed/30QgoVqjkxc"></iframe>
                        </div>
                        <br> Working memory has a process known as
                        <b>Acoustic encoding</b>
                        through our
                        <b>phonological loop</b> which is the conversion of information to sound patterns in working memory. It makes memorizing
                        some information easy. We like words that sound alike and we like songs. The singing group "The Beatles" traveled
                        to Japan for a concert. They though that they would not be able to talk to their Japanese fans because they did not
                        know how to speak Japanese. However, most of the people in the audience were singing along with them in English!
                        They were thrilled!&nbsp; When the concert was over they went out to meet their fans and talk with them. They couldn't,
                        because the audience did not know English. They memorized the sounds through acoustic encoding and reproduced those
                        sounds, but the meaning of the words was learned.
                        <br>
                        <br> I lived in Japan for three years as a child and learned some children songs. I can still sing them today, but I
                        have no idea what they mean. I have amused many a Japanese adult by singing the songs to them. They say my pronunciation
                        is perfect, but it is funny to hear an adult sing a children's song and it is even funnier that I cannot tell them
                        what the sounds mean, or even what sounds make up a single Japanese word.
                        <br>
                        <br> In American English (as opposed to British English) we have a saying " I before E accept after C or in sounding
                        like “AY” as in Neighbor or Weigh". It rhymes and acoustic encoding helps us remember the poem. The saying is a heuristic
                        not an algorithm because there are about a page worth of words that do not fit the rule. We talk about heuristics
                        and algorithms in the Intelligence unit. Knowing this "poem" we can correctly spell
                        <u>most</u>
                        words that have an "I" and an "E" together. If everything we have to learn in school was given to us in poetry or song, it
                        would be much easier to learn!
                        <br>
                        <br> Unfortunately, this also gets in our way, because when we are trying to remember certain words “C”, “B”, and “D”
                        can get mixed up. The letters “E” and “F” are less likely to be mixed up even though they look alike. This is because
                        “E” and “F” sound different. Our phonological loop actually interferes with our memory process for the letter “C”,
                        “B”, and “D”, because they sound alike. When we’re trying to remember something that might start with a “C”, we have
                        trouble and get stuck on “D”. We think the word starts with a "D" when it actually starts with a "C”. The two letters
                        "C” and “D” don’t look alike, but they do sound alike. When my wife gets stuck like this, she just throws the alphabet
                        at it. She starts with the letter "A" thinking of all the possible "A" words that might fit. Then "B" and "C" until
                        the word pops into her brain.
                        <br>
                        <br>
                        <b>Long term memory</b> stores material, organized according to some personal meaning (so it is stored based on a subjective
                        principle). It is also written as LTM. It appears to be unlimited in its capacity and its storage time. I know some
                        of you think, "if I learn one more thing, I am going to forget my name", but there appears to be no limit to LTM.
                        However there appears to be a transient version and a permanent version of long term memory. There is material that
                        you can remember for a couple of days, like maybe what you had for breakfast today. You remember it a lot longer
                        than 20 seconds, so it is part of the LTM system, but by tomorrow or the next day you won’t be able to remember it
                        anymore. It is a transient long term memory, because the pathway to the item is transient. The pathway disappears
                        in a very short time. The items in long term memory are permanent, they are stored forever. Memories that you may
                        not have even thought of for years are still there. If somebody asks an old man about pets he had as a preschooler
                        it would be very difficult for him to remember anything about that time in his life. However, when we have brain
                        surgery it can be conducted with only a local anesthesia because the brain has no pain fibers in it. You may be given
                        the choice to stay awake during the surgery. If you so choose then you get a local anesthesia on your scalp but you
                        are awake. The bone and brain have no pain fibers so they do not need anesthesia to kill any pain in those areas.
                        Surgeons can cut open the skull without pain and when the skull is open they can touch the brain with a very small
                        electrical charge. This is how they map the motor and sensory cortexes. A small electric stimulation to the motor
                        area associated connected to the with the finger will cause your finger to move. A small stimulation to the sensory
                        area for the face will make you think someone touched your face and - since you are awake - you can tell the doctor
                        what you feel. Well, a small electrical stimulation to another part of the brain and you may remember things that
                        you did not think of for 50 or 60 years and yet - there they are. The old man remembers the cat he had as a preschooler,
                        what she looked like, her name and other information. The memory’s still there! What was missing was the trace to
                        it, the pathway to that memory engram. When the electric charge is applied it reactivates those traces or recreates
                        the pathways. So, your memories are forever, (excepting for brain damage) your long term permanent memories are forever,
                        but the traces, the pathways, can disappear.&nbsp; The stronger the path and the more varied the path, the easier
                        it is to remember a specific event.&nbsp;
                        <br>
                        <br> A surgeon can touch your brain area for movement of the finger and your finger will move.&nbsp; The same location
                        in almost every human brain on the planet will cause the finger to move.&nbsp; The same location in almost every
                        human brain will cause you to think someone touched your foot.&nbsp; However, memory is not as confined to a specific
                        location.&nbsp; One patient will report a memory when their brain is stimulated in a specific area, while another
                        will not report any memory associated with that area.&nbsp; Memory is a diffuse system spread throughout the brain.
                        <br>
                        <br>
                        <b> Long term memory </b> has unlimited capacity as I said before, it also has different subdivisions and how we know
                        this is because there are people who lose parts of their long term memory, and still have other parts intact. We
                        can perform experiments with these people to determine the extent of their damage. First let me define
                        <b>procedural memory</b>. This is the division of long term memory that stores memories for how things are done. It
                        includes habits. For instance: the way you speak, your accent, may be a habit and part of your procedural memory.
                        You don’t have to think about it anymore. When you speak the words just come to you. If you learned to ride a bicycle
                        but have not done so for a while, you can more easily pick it up and ride it today, because it is a part of your
                        procedural memory. The way you eat, chew and swallow are part of procedures that you no longer think about. Procedural
                        memory is extremely strong memory and is hard to destroy. It is the last memory to be destroyed in a person with
                        Alzheimer disease. Once an Alzheimer's patient forgets how to swallow, death will follow fairly quickly.
                        <br>
                        <br>
                        <b> Declarative memory </b> is the division of long term memory that stores very explicit information. It’s also called
                        fact memory. Declarative memory has two subdivisions, episodic memory and semantic memory.
                        <br>
                        <br> The
                        <b>semantic memory</b> remembers the facts of your life. One fact for me is that I am married. I know this as a fact
                        of my life like I know my name and my phone number. The semantic memory is a subdivision of the declarative memory
                        that stores general knowledge which also includes words, the meaning of those words, and also the meanings of concepts.
                        <br>
                        <br>
                        <b>Episodic memory</b> is the part of the declarative memory that stores memories for the “episodes” of your life. Just
                        like an episode of your favorite television show, you can relate the events as they occurred in your life. It is
                        like your own movie theater in your mind. The memory of the actual events that you know occurred can be played out
                        as an episode of your life. I can remember my wedding. In my head I can "see" my wife standing at the door of the
                        chapel ready to walk down the aisle with her father. I can remember her father bending over to whisper something
                        to her and she laughed and they started down the aisle. I asked her later what her father whispered and she said
                        "if you don't want to do this, I'll take you anywhere else you want to be right now". Of course she went through
                        with it and we've been married for over 20 years. The reason we know that there’s a difference between the two is
                        because a person may be able to remember that they’re married but have absolutely no ability to bring up that episode
                        of their life. It is the Episode that gives us the flavor of our lives. Without the Episode - who are we? The Magnificence
                        of who we are does not simply boil down to facts. Our episodes give us the flavor of our lives. Episodic memory is
                        the most fragile of the memory partitions. It is the first to be destroyed by Alzheimer disease.
                        <br>
                        <br>
                        <img style="width:320px;" alt="Diagram of long term memory" src="img/Memory_picture.png">
                    </span>
                    <br> For those people who need the visual to remember something by, here it is. Long term memory is broken into parts: Declarative
                    memory and procedural memory, procedural memory includes memory for motor skills, operant and classical conditioning.
                    The declarative memory is broken up into semantic and episodic memory, where semantic includes memory for language, facts,
                    and general knowledge, and episodic includes memory for events or personal experiences in your life
                    <br>
                    <br> It's time for a break guys, and gals.
                    <br> Go get a cup of coffee.
                    <br> Go do something other than study (maybe play the hangman game).
                    <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                    <br> Take 15 minutes or so before you go to the next slide.
                    <br> Distributed learning is the best learning.
                    <br> We will continue the study of Memory in the next lecture.
                    <br> Talk with you then. 
                </div>
              </p>
            </div>
          </div>
        </div>