<div class="section no-pad-bot" id="index-banner">

    <div class="container">
        <p class="flow-text center orange-text responsive-header">Introduction to Psychology</p>
        <div class="row">
        <div class="row">
            <div class="container">
                
                <paper-audio-player color="orange"
                                    src="audio/freudShort.mp3"
                                    title="Chad Mitchell Trio - Sigmund Freud">
                </paper-audio-player>
            </div>

        </div>

        
        <div class="col s6 m4">
            <iframe style="max-width:100%;" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fpsych.techscholia.com%2Fbook%2FMchapters%2FPreface.html&amp;width=451&amp;layout=standard&amp;action=like&amp;size=small&amp;show_faces=false&amp;share=true&amp;height=35&amp;appId" width="451" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
            <img class="materialboxed" data-caption="Trident held by Poseidon" width="100%" src="img/poseidon.jpg">
        </div>

        <p class="flow-text" style="padding-top:18px;">
            The Chad Mitchell Trio song about Doctor Freud gives you an indication of my own personality. 
            I love to laugh! 
            Below you will also see an audio file for those who would rather listen to me read this screen rather than read it themselves. 
            You can scroll through the screen while I read it to you.  This online text is made to supplement any Introduction to psychology textbook.
            <br><br>
            Welcome to General Psychology which is sometimes called an Introduction to Psychology where you will be introduced to some of the strange intricacies of the human condition. In this text we will cut a wide path through psychology. Each topic in this book can also be a complete text and semester long course on its own. Some of you may have no interest in the subject at all, but I assure you I will pique an interest before we are through. In this text we are not trying to make you into a psychologist. However, you will get enough information to carry on conversations about the human condition and you may find yourself slightly different for the experience.   

            <br><br>

            Why do I have a picture of Poseidon? Because many people think that the trident he holds and the symbol for psychology are connected - and they are - simply because both the name Poseidon and the word psychology include the Greek letter PSY which looks like a trident. There is no other connection.    
            <br><br>
            I will keep most of my lectures (one page of content) to approximately fifteen minutes. The reason why I will keep it to fifteen minutes is because research shows that students can listen for about fifteen minutes before they get lost in their own mind; thinking about what they’re going to have for lunch, or what they’re going to have for dinner, or how they’re going to clean the house or take care of the children, or ... whatever the reason is, they zone out after fifteen minutes. That means there will be multiple lectures for each of the units.   
            <br><br>
            In this online text we will cover the basic concepts of General Psychology with words, videos and pictures. I hope you find it a complete holistic experience. Our journey will include some History of psychology and an introduction to the Science used in psychology. We will also examine the Biology (neuroscience) of Psychology, Memory, Development through the lifespan, Language acquisition, States of Consciousness, Sensation Vs. Perception, Personality, Intelligence, Learning, Motivation, Emotion, Stress, Social Psychology, Psychopathology, and Psychotherapy. Let me give you a hint of what is coming your way. Throughout the lectures we will be introduced to some horrific experiments performed before the Institutional Review Boards (IRBs) were established. The IRBs review all legitimate experiments prior to implementation and determine if the subjects will be treated well or if the experimental paradigm must be changed.  In the Sensation and Perception Unit I will show you how our brains can be easily fooled into seeing something that isn't there. In the memory unit I will show you some ways to improve your memory to enhance your learning, and introduce you to a man who's memory is broken. In Development we will talk about children who learn to communicate by 8 months of age! In Learning I'll talk about some remarkable Pigeons that were trained to drop bombs on enemy ships in WWII. In the Intelligence section we will talk about a young man who graduated from college at the age of 10. In the motivation unit we'll see research that tries to prove which drive is more powerful, sex or hunger! Oh - you are in for some treats!    
            <br><br>
            There are many people in this world like you, yet not you. You are unique. I can recognize you in a crowd. You are separate and apart from all others. This includes your looks, your personality, your thoughts and your behaviors. Yes, there are people who are more similar to you than others. There are also those who are less similar to you. We will see that genetics, culture, socioeconomic status, religion, sex and a number of other factors make us who we are. Yet, we are all part of humanity. There is no difference between humans that equates to a reasonable feeling of superiority or inferiority. The word "Race" is used incorrectly.  We are all part of the HUMAN Race.  You are who you are. They are who they are. As long as we respect others, we can all live together in our uniqueness. Check out this 9 minute video which shows how first impressions affect us. You only need 5 seconds to make a first impression, but is it the correct one?
            </p>
            <div class="video-container">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/cguIX7mLPvc" frameborder="0" gesture="media" allowfullscreen></iframe>
            </div>
            <p class="flow-text">
            My grandfather hated what the German's did in WWII. Even though many Germans fought against the Nazis, he blamed ALL GERMANS - even those born after the war. He wanted nothing to do with any Germans anywhere. He refused to purchase any German Products. That's not right..... It is also not correct to blame all Muslims for the radical element among them. Or to blame all Christians for the serial murderers that claim to be Christian. Also, remember -- other people are looking at YOU. What kind of impression are you presenting? People will have a first impression of you, but if they take the time to know you, they will find out who you truly are. You hope others give you the opportunity to show them who you truly are. It is only reasonable for us to give them the same opportunity. 
            <br><br>
            I studied biology and agriculture at the University of Georgia (UGA) for 5 years while attempting to get into Vet School. When that dream did not come to fruition, I applied and accepted a position in the PHD program in psychology at UGA. Psychologists get to work with animals too. We train animals to rescue people and sniff out drugs, explosives, and cancer as well as help the disabled (among other things). I received my Master of Science with a concentration in Psychology from the University of Georgia in 1984. The IBM PC was only 3 years old and the computer generation had just begun. While completing the master degree I had to program some equipment so I taught myself Assembler programming. I fell in love with computer programming and dropped out of school to work in the computer field. I never received my PhD. I acquired three more degrees in computer programming and electronics and worked in the computer field for 13 years. I am currently teaching Introduction to Psychology at the college level and have done so for over fourteen years. In the process of teaching I saved and transcribed my lectures and those lectures gave me the idea to create this book using HTML, CSS and JavaScript. If you need to contact me my email is <a href="mailto:rodgerrossman@gmail.com" target="_top">rodgerrossman@gmail.com</a>
            <br><br>
            Are you considering a degree program, but you have a job and a family and a home life that seems to get in the way? You are not the only one. Consider this: It took me 13 years instead of 12 to get from first grade to high school graduation. It took me a year longer than most to get my bachelors degree and a year longer than most to get my masters degree. No one asks how long it took me. No one cares. They only care that I have the degree. You may feel discouraged that you can't finish your schooling in the "Normal" amount of time. No matter how long it takes you to get your degree, stay on the path ! Your life obligations may slow you down and it may take you longer than other students. Employers want to know you have the degree, they do not care how long it takes you to get it! The end result is well worth the time and effort. Any degree beyond High School will increase your lifetime income. Get the degree! 
            <br><br>
            At the top left of this page you will see a button for "previous page" and "Chapter Menu".  Click the chapter menu button to gain access to the "Table of Contents" for this book. It is a toggle switch, so if you click it again the menu will disappear. The flash cards button is also a toggle switch as is the hangman button. The crossword button will open another window and display a crossword puzzle for you to try your hand at recalling the material in the lectures. The hangman and flash cards are made for each page, but the crossword puzzle is for an entire lecture series.  On the Bottom right of the screen you will find an MP3 file that you can use to listen to the lecture - like an audio book!  On cell phones it is very small, but you should be able to access it.
            <br><br>
            I want to thank Liesl Sale for her work in transcribing all my lectures.  Without her help it would have taken me much longer to complete this project.  Also, my wife has done some amazing art work for these lectures and helped me with some of the most difficult programming - she's an excellent college computer instructor!
            <br><br>
            Below is an excellent 10 minute video to start us on our journey. 
            Watch it and then go to the "Chapter Menu" button and click the next topic.  
            Or click the "Next" button on the top right of the page to go to the next page.  
            <div class="video-container">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/vo4pMVb0R6M" frameborder="0" gesture="media" allowfullscreen></iframe>
            </div>
        </p>
        </div>

    </div>
</div>