        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">States of Consciousness (5)</p>
            <div class="row">
              <div class="row">
                <div class="container">
                    <paper-audio-player color="orange"
                                        src="audio/Mind_I_wanna_new_drug.mp3"
                                        title="Huey Lewis And The News - I Want A New Drug">
                    </paper-audio-player>
                </div>
              </div>
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                      Welcome back to the fifth and last lecture for states of mind. &nbsp;
                      <br>
                      <br> We’ve just finished talking about meditation and hypnosis, and now we’re going to talk about drugs and altering your
                      state of consciousness by taking specific types of drugs. First of all, I want to define
                      <span style="font-weight: bold;">substance abuse</span>
                      as using a substance when use of that substance causes the person to
                      <em>
                          <span style="text-decoration: underline;">not meet the demands of life</span>
                      </em>. That definition means any substance not just drugs - food for instance. I also want to define alcohol as a drug! If
                      you are unable to meet the demands of life because of alcohol, then you have a substance abuse problem. Addiction can
                      lead to numerous life threatening and illegal activities that are part of trying to acquire the next dose of whatever
                      the substance is that you are addicted to. That includes driving drunk to get your next drink!
                      <strong>Addiction</strong> is caused by
                      <strong>tolerance </strong>and
                      <strong>physiological (the body's) dependence</strong>, not psychological (the mind's) dependence. What is tolerance?
                      <span style="font-weight: bold;">Tolerance
                      </span>means having to take more of a substance to achieve the same results because the effects of the substance are
                      reduced after repeated use. One example I use to explain tolerance is when a little child comes up to you and pulls on
                      your leg and says “Mommy. Mommy. Mommy”. You tell the child “Stop it. Mommy’s talking to somebody else. You need to wait
                      your turn”. The child walks away then comes back and pulls on your leg and says “Mommy, mommy, mommy, mommy!” and you
                      say “Stop it! When mommy’s talking to somebody else, you don’t do that.” Eventually, after many months of repeating the
                      same behavior, you ignore the child completely. You’ve become
                      <em style="text-decoration: underline;">tolerant</em>
                      of the behavior of the child. To get your attention the child must be louder and more insistent! You’ve become tolerant of
                      one behavior and the next behavior is going to be a step above to get your attention again. You just taught your child
                      to get more aggressive instead of stopping. Tolerance is the result of the effects of the substance being reduced. At
                      first the effect of your child's behavior created an immediate response from you, but soon the child's behavior has less
                      effect because you became tolerant of the behavior. The same is true for drugs. You have to take more and more of the
                      substance because the exact same amount of the substance doesn’t affect you anymore. You can also crave the drug either
                      psychologically or physiologically.
                      <br>
                      <br> The
                      <span style="font-weight: bold;">physiological (body's) dependence
                      </span> is the body’s dependence on the drug which is part of
                      <em>
                          <span style="text-decoration: underline;">addiction</span>
                      </em>.
                      <span style="font-weight: bold;">Psychological dependence</span> is the mind's dependance on drugs. We do not call the mind's dependance "addiction",
                      we call it psychological dependence - the mind’s dependence on the drug. If somebody is addicted, it’s their body’s dependence
                      on the drug. Psychological dependence is their mind’s dependence on the drug. Psychological dependance is a pervasive
                      desire to use that drug and is independent of the physical addiction. Psychological dependence can actually create
                      <span
                          style="font-weight: bold;">temporary memory failure</span>. Consider this: Some of us take routine trips every day. The same trip, all the time,
                          from our home to our work and back again. It does not have to be a long trip. Have you ever gotten halfway to your
                          destination and realize that you don’t even remember backing out of the driveway. You don’t remember the first five
                          or six turns to get where you are. You have no memory of it, it’s just gone. It is a temporary memory failure. You
                          were not paying attention at all to what you were doing. Your mind was somewhere else completely. People who are
                          psychologically dependent on a drug can be using and have no memory of where they purchased the drug or how they
                          got to the location where they are taking the drug.
                          <strong>Withdrawal</strong>, on the other hand, is a pattern of painful physical symptoms and cravings when a drug is removed
                          and it indicates physical addiction to that particular substance. How many of you can go without your coffee in the
                          morning? How many have tried to stop eating sugar or chocolate or a diet drink. Most of us who have ever tried that,
                          have withdrawal symptoms. Your palms sweat. You have headaches and the shakes. We are addicted to coffee, to chocolate,
                          to diet drinks, because they have caffeine in them. As you will see in just a few minutes, caffeine is incredibly
                          addicting and it is why they put extra caffeine in a lot of products. There are different types of drugs. Psychoactive
                          drugs are chemicals that affect mental processes or behavior by their effects on the nervous system; most of them
                          are illegal drugs. Overall, illegal use of these drugs has declined in the United states, but among teenagers, it’s
                          actually gone up. Some of the classes of drugs that we will talk about are Hallucinogens, Opiates, Depressants, and
                          Stimulants.
                          <br>
                          <div class="images">
                              <div style="border: 0px solid white; padding: 10px; width: 250px; font-family: Arial; float:left;">
                                  <div>
                                      <img style="padding:10px; border:10px;" alt="psychadelic mushroms" src="img/shrooms.jpg">
                                      <br>
                                      <center>Psychoactive Mushrooms</center>
                                  </div>
                              </div>
                          </div>
                          <br> Let’s talk about the
                          <strong style="text-decoration: underline;">Hallucinogens
                          </strong>first. These alter the perceptions of the external environment and inner awareness. They are also called
                          psychedelics because they alter the perceptions of reality. These drugs affect the receptor sites in the brain for
                          serotonin. They include Mescaline, LSD, PCP, Cannabis, Ecstasy, and Angel dust. There are also psychedelic mushrooms
                          which may have been the cause of the Salem witch trial hysteria. Overuse of these drugs leads to paranoid delusions,
                          and impaired coordination, as well as neuron damage in the brain. Once a neuron is damaged in the brain, it is permanently
                          damaged. Neurons in the brain do not repair themselves. LSD is a synthetic drug which means it is made by humans.
                          Cannabis however, comes from a plant. Cannabis is derived from the Hemp plant which gives us Marijuana and Hashish.
                          The Hemp plant is actually a useful plant. Anybody who knows hemp rope knows how useful the plant can be. You don’t
                          smoke hemp. Marijuana is the dried and crushed leaves and flowers of the plant. Marijuana and Hashish contain the
                          same drug, called THC. Hashish (derived from the resin of the plant) is much more potent than Marijuana as it contains
                          more THC. Regular Marijuana use contributes to tolerance, which means you need a higher dose of it to get the same
                          feeling as you get from the original dose that affected you. You need better and more refined Marijuana in order
                          to get higher levels of THC so that you get the same feelings that you had from the lower levels before the tolerance
                          occurred. This means that eventually people who use large amounts of Marijuana start to go to other stronger Hallucinogens,
                          which will give them the same feelings at much lower doses. They turn from THC to Mescaline, Ecstasy, or Angel dust
                          and they start experimenting with the stronger drugs that will cause more harm to the brain than the Marijuana did.
                          <br>
                          <br>
                          <br>
                          <div class="images">
                              <div style="border: 0px solid white; padding: 10px; width: 180px; font-family: Arial;float:left;">
                                  <div>
                                      <img style="padding:10px; width: 160px; height: 190px;" alt="Cannabis" src="img/Cannabis.jpg">
                                      <br>
                                      <center>Cannabis</center>
                                  </div>
                              </div>
                          </div>
                          <br> The medical use of
                          <strong style="text-decoration: underline;">opiates</strong>, of course, is to reduce pain, that’s what it does; it creates a sense of well-being. Opiates are
                          highly physically and psychologically addictive. However, if used for pain the chances of addiction are small. It
                          is when they are used for purposes other than pain relief when addiction occurs. They produce a sense of well-being
                          and they have strong pain relieving properties. They mimic some of our own chemicals in our body called endorphins
                          which are our own natural pain relieving chemicals. This is one of the reasons that they are so addicting. When used
                          improperly the natural mechanisms for endorphine creation in the body shuts down. Why do we need natural chemicals
                          to make us feel good if we are taking the Opiates? When the opiates wear off, we feel Horrible! Why? Our endorphines
                          are not back online yet! The Bayer Company discovered Heroin and used it as a cough medicine. Bayer cough medicine
                          with Heroine worked GREAT! You didn't cough any more! Then they figured out that it was very addicting. Even today
                          Heroin is still a problem drug and one of the biggest causes of property crime in the United States. It is a drug
                          that is misused all over the world. Opium actually means "Plant of Joy". Edgar Allen Poe was an Opium addict. He
                          was probably on Opium when he wrote most of his poems and stories which is why they’re so crazy and weird and unusual.
                          Morphine was a product used in the Civil War and to help people with Opium addiction. Give Opium addicts Morphine;
                          they won’t want the Opium anymore. Then, of course we found out that Morphine was also addicting. Codeine is also
                          a pain reliever and addicting. All of these drugs are used by the Medical establishments because when they are used
                          properly, the patient does not become addicted to them. However, if you use them specifically to get a high (when
                          you’re not in pain) you become addicted very rapidly to them. Follow me here: People were addicted to Opium, so they
                          were given Morphine to come off the Opium. They became addicted to the morphine so they were given Heroine to help
                          them come off the Morphine. They then got addicted to the Heroine. Now we use Methadone to help the Heroine addicts.
                          Methadone is also addicting. Really???
                          <br>
                          <br> An interesting aspect of Heroin is that Heroin addicts can die if they change the location of their fix. Part of
                          the high that comes from Heroin comes from the environment that you’re in. Most Heroin addicts go to a specific place
                          where they shoot up with their Heroin. They become tolerant to the drug and need a higher and higher dose to get
                          the same response. Part of the reaction to the drug is the surroundings that they’re in and it becomes part of the
                          tolerance of the drug. Then one day they have a specific level of Heroin that they’re going to take, but they go
                          to the location that they usually go to and the cops are there. So, they change their location and they die. By changing
                          the location, the effects of Heroin, which are tolerant to the location that they were in, now become extreme because
                          they’re in a brand new location and that environment is interacting with the large dose of Heroin they are taking
                          and they die. So, Heroin addicts can die if they change the location of their fix.
                          <div class="images">
                              <div style="border: 0px solid white; padding: 10px; width: 180px; font-family: Arial;float:left;">
                                  <div>
                                      <img style="padding:10px; width: 160px; height: 190px;" alt="Opium" src="img/Opium.jpg">
                                      <br>
                                      <center>Opium Poppy Flower</center>
                                  </div>
                              </div>
                          </div>
                          <strong style="text-decoration: underline;">
                              <br> Depressants </strong>slow down mental and physical activities by inhibiting the transmission of nerve impulses
                          in the central nervous system. Alcohol, of course, is one of the very first psychoactive substances used by humans.
                          They even talk about alcohol in the bible. Depressants are responsible for over half all drug overdoses. Now, I don’t
                          understand the fact that people get addicted to depressants. “Oh, I want to be depressed. Let me take a drug to get
                          depressed.” Who wants to be depressed? It just doesn’t make sense. Depressants include Barbiturates, Benzodiazepines,
                          and alcohol. Now, here’s why people take them. Barbiturates, in the first doses, in small doses, give pleasant euphoria,
                          but as you continue to take the Barbiturates, you start to get lower and lower brain activity and physical activity,
                          you start to get depressed. Alcohol, when you first take it feels pretty good, but by the time it is affecting you,
                          you’ve also lost the ability to decide whether you should stop taking it, and you drink to excess. If somebody is
                          addicted to Barbiturates, taking the Barbiturates away cold turkey, sudden Barbiturate withdrawal, can cause death.
                          You need to come down slowly off the Barbiturates, not go cold turkey.
                          <br>
                          <br> Now about Alcohol. Women metabolize alcohol in their liver, so it gets into the blood system, then to the liver
                          where it’s metabolized. Men metabolize alcohol in the stomach first; it doesn’t get into the blood as easily as it
                          does for women. A woman will get liver disease faster than a man if they drink the same amount of alcohol. Luckily
                          women don’t usually drink the same amount of alcohol, but women will get liver disease faster than men if they drink
                          the same amount of alcohol. What is it about the stomach of a man? We have certain enzymes in our stomach that women
                          do not have. Men and Women have many differences. Men have enzymes that women do not have that break down alcohol
                          in the stomach. It doesn’t break down all of the alcohol, but it breaks down enough that men can actually drink more
                          than a woman does on average. Of course there are some women that can drink any man under the table. There are also
                          genetic differences in cultures. The Irish have a great deal of the enzyme while American Indians have very little
                          of it. Alcohol contributes to Sudden Infant Death Syndrome (SIDS). We know that alcohol is a leading contributor
                          to having a baby die in the first year of life. Do not drink alcohol while you are pregnant! Mental retardation in
                          newborns is linked more often to alcohol than to any other substance. Alcohol is the leading cause of preventable
                          birth defects in the world! The risk to the newborn increases greatly with more than one drink per day. So, you shouldn’t
                          drink any at all. In France they say “One glass of wine a day is good for you.” So I went out and bought a 32 ounce
                          glass for my wine. Not really! They mean one 8 ounce glass. Most women have no idea if they are pregnant for at least
                          two weeks! What happens to the baby while they’re partying in those two weeks? If you could get pregnant, if you
                          are active, and you know what I mean by active, and you are not protecting yourself in any way – stay off alcohol!!
                          Heck, many women don’t know if they are pregnant for two months. Also, remember that birth control medications
                          <span
                              style="text-decoration: underline;">do not work</span> if you are taking
                              <strong>antibiotics</strong>. I know this is outside the realm of alcohol but since we’re talking about babies, if you
                              are taking birth control medications of any kind, and you are also taking an antibiotic for a cold, you might
                              as well be drinking sugar instead of the medication. Medication will not work in the presence of antibiotics.
                              Now, I’ve probably got some of you that went “Oh my god, that’s how it happened! ” Yeah. If you are taking birth
                              control medications and counting on that to work, but you are sick and the doctor gave you an antibiotics for
                              it, you might as well not be taking anything for birth control. This is one reason to always use the same pharmacist.
                              They should know and advise you if you are on birth control medication and you come in with a prescription for
                              antibiotics.
                              <br>
                              <br>
                              <div class="images">
                                  <div style="border: 0px solid white; padding: 10px; width: 180px; font-family: Arial;float:left;">
                                      <div>
                                          <img style="padding:10px; width: 160px; height: 190px;" alt="barbituates" src="img/barbituates.jpg">
                                          <br>
                                          <center>Barbiturates</center>
                                      </div>
                                  </div>
                              </div>
                              <br> Now let's discuss
                              <strong style="text-decoration: underline;">Stimulants</strong>, the last one, which arouse the central nervous system, speeding up mental and physical responses,
                              and activating the reward centers of the brain. These are all highly addictive. They are Amphetamines, such as
                              speed, bennies, uppers, dexies, crystal meth and Ritalin. Pretty interesting that Ritalin is a stimulant and
                              we’re giving it to children who are already over-stimulated. Does that make sense? Actually, it does because
                              Ritalin stimulates a specific portion of the brain and the brain part that it stimulates is the part that helps
                              us control our behavior. In some children and some adults that particular part of the brain is not fully developed
                              (mature) or is not functioning all the way. Ritalin helps to speed that area of the brain up, so we can now control
                              our behavior. That’s why we give stimulants to children who are already overstimulated. Cocaine, Coca-Cola was
                              actually named after its main ingredient, which was cocaine. It was a time when Atlanta's Industry was booming.
                              Coca-Cola was created in Atlanta. Pepsi is from North Carolina, and Coke is from Georgia. The Coke company had
                              a saying “Have a coke pick me up for lunch!” Why? Because in small doses cocaine boosts your self-confidence,
                              helps you fight depression and increases productivity. A worker after lunch does not produce as well as they
                              do in the morning. They are sleepy after lunch. Not if they had some cocaine!! Workers would go on break, have
                              a coke and come back much better producers - until of course they got addicted to it and required higher doses.
                              When they became tolerant of a single serving of coke they needed more - which was good for the coke company,
                              but in larger quantities cocaine causes anxiety and emotional instability and paranoia. Cocaine is a very dangerous
                              drug and yes, caffeine and nicotine are both as highly addictive as cocaine! The manufacturing industry knows
                              this and that’s why they add it to some foods and drinks and smokes - including the vapors - of which we partake.
                              We become addicted to their products.
                              <br>
                              <br>
                              <br> That's the end of the States of Mind Unit.
                              <br> Before you start the next unit
                              <span class="flow-text">
                                  <span class="flow-text"> go get a cup of caffeine
                                      <img alt="smily" src="img/Smily.png">
                                      <br>
                                      <br> Go do something other than study (maybe play the crossword puzzle).
                                      <br>
                                  </span>
                              </span>
                              <span class="flow-text">
                                  <span class="flow-text">
                                      <span class="flow-text">
                                          <span class="flow-text">Distributed learning is the best learning.
                                              <br>
                                          </span>
                                      </span>Take 15 minutes or so before you go to the next Unit.
                                      <br>
                                  </span>Talk with you in the next lecture series.</span>
                              <br>
                              <br>
                              <br>
                              <span class="flow-text"> </span>
                  </div>
              </p>
            </div>
          </div>
        </div>