        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">States of Consciousness (1)</p>
            <div class="row">
              <div class="row">
                <div class="container">
                    <paper-audio-player color="orange"
                                        src="audio/Mind_DREAM.mp3"
                                        title="Everly Brothers - All I have to do is dream">
                    </paper-audio-player>
                </div>
              </div>
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                      <em>
                          <strong>A lot of what passes for depression these days is nothing more than a body saying that it needs work. ~Geoffrey Norman&nbsp;
                              </strong>
                      </em>
                      <br>
                      <span class="flow-text">
                          <br> Welcome to the first lecture on states of mind.&nbsp;
                          <br> We will talk about consciousness, unconsciousness, subconsciousness, sleep and Dreaming!
                          <br> We will also talk about different ways that we can manipulate our consciousness by taking drugs or hypnosis or medication.
                          <br>
                      </span>
                      <span class="flow-text">Watch one or both of the videos below before you continue:
                          <br> Discovering Psychology Series - "The Mind Awake and Asleep" is a 28 minute video.
                          <br> The Crash course in Psychology video that is less than 12 minutes.
                          <br> I find that older students enjoy the Discovering Psychology video and the younger students like the Crash course
                          videos.</span>
                      <br>
                      <span class="flow-text">
                          <br>
                          <div class="row">
                              <div class="col s6 offset-s3 m6 offset-m3">
                                  <a href="http://www.learner.org/series/discoveringpsychology/13/e13expand.html" target="_blank">
                                      <img class="hoverable" width="100%" src="img/Sleep_icon.png">
                                  </a>
                              </div>
                          </div>
                  
                          <div class="video-container">
                              <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="https://www.youtube.com/embed/jReX7qKU2yc?list=PL8dPuuaLjXtOPRKzVLY0jJY-uHOH9KVU6"></iframe>
                          </div>
                      </span>
                      <br>
                      <br> First we need to define the nature of consciousness? The brain creates our consciousness when it combines external stimulation
                      with internal experiences. Since everybody's internal experiences are different from everybody else's, when your brain
                      combines external stimulation with your internal experiences it creates a unique (
                      <span style="font-weight: bold;">subjective</span>) picture of the world. Each of us has different experiences in life. The experiences stored in your
                      memory are different than what other people have in their memories. So, consciousness is subjective rather than objective.
                      What you perceive in your consciousness is not specifically what somebody else will perceive. As an example: if you've
                      ever been mugged in a dark alley, your experience of dark alleys is completely different from someone who has used dark
                      alleys all their life to get between one street and another street without incident. So, when you pass a dark alley,
                      your conscious awareness of that stimulus is going to be completely different from the person who has never been accosted
                      in one. This is the meaning behind the saying "Don't judge another until you walk a mile in their shoes".&nbsp; We will
                      continue this concept in the sensation and perception unit.
                      <br>
                      <br> Consciousness is not a steady state. It changes on a fairly regular basis. Consciousness includes: your conscious awareness
                      of the world; the pre and sub conscious and nonconscious and Freud's unconscious. It also includes: explicitly controlled
                      procedures, things that we control in our life; Automatic procedures; the processing our body does without our conscious
                      awareness; day dreaming, which some of you may already be doing even though this lecture's only gone on for two minutes;
                      Explicitly altered states, where we alter our brain's functions through drugs for instance; and sleep, which includes
                      dreaming. Dreams are a form of consciousness. Consciousness also includes implicit memories and the unconsciousness as
                      described by Freud.
                      <br>
                      <br> Folk wisdom and ancient philosophies assign consciousness to some sort of anima (which is a Jungian perspective) or
                      a soul (the church's perspective), or an inner force of some kind. Of course this is not scientifically provable. We
                      don't know why we have a consciousness. We don't know why we are who we are. It may be because of a soul, but since we
                      can't prove that scientifically, we try to find other forces that we can put to a scientific test. When psychology was
                      more of a philosophy than a science people used introspection to sort out the parts of consciousness. They thought about
                      their own feelings about a certain situation. A group of men would sit in library arm chairs smoking pipes and all of
                      them talking about how they felt while thinking about their own awareness of specific situations. This method of studying
                      consciousness is called
                      <span style="font-weight: bold;">introspection</span>. It is not acceptable by today's Scientific standards because it is not a controlled experiment.
                      However it can be used to find ideas which can then be put to rigorous scientific testing. In and of itself, introspection
                      is not scientific study. If you and your friends feel the same way about some subject, that is not proof that it is the
                      normal way people feel.&nbsp; The people that are yours friends may be "friends" becasue they think like you do.&nbsp;
                      A scientifically controlled experiment might show that the majority of people think differently.&nbsp; You may uncomfortable
                      with the thought that there are people who do not think like you. Remember, abnormal does not mean pathological. It is
                      OK to be different.&nbsp; Everyone does not need to be "like you" although we enjoy being around those who are "like
                      us". We will discuss that in the social psychology unit.
                      <br>
                      <br> We define
                      <span style="font-weight: bold;">Consciousness </span>as our brain's awareness of our internal and external stimulation. There is some amount of internal
                      stimulation that we don't think about. We'll talk about some of that in just a minute.
                      <span style="font-weight: bold;">
                          Cognitive</span>
                      <span style="font-weight: bold;">neuroscience </span>is an Interdisciplinary field that studies the connections between mental processes and the brain.
                      Neuroscience is the science of the nerves and cognitive means thought processes but what does
                      <span style="font-weight: bold;">Interdisciplinary</span>
                      mean? It means that it isn't just psychologists studying this phenomenon. It is biologists and chemists and physicists working
                      together studying the brain and trying to figure out what mental processes are. Computers are also used as a model comparing
                      them to a brain. The brain processes information, gathers information, stores information, and regurgitates information
                      just like a computer does. Remember the name Skinner from the history unit? Skinner was a great proponent of behaviorism
                      and behaviorism said that thought processes are useless for study because we cannot see thoughts. We shouldn't think
                      about thought processes because thought processes are just a reaction to some stimulus and you can not measure them in
                      a laboratory. Cognitive psychologists purposely study a process that you can't even see - (thought). Skinner said in
                      the most negative terms that he could use, that cognitive neuroscience was “a step backwards into the dark ages of psychology.”
                      He disliked cognitive neuroscientists, and I think I may have already told you before that I attended a University that
                      was almost 100% behaviorists. When I was studying at "The University of Georgia" they had one Cognitive Psychologist
                      and he was relegated to the basement in a dark, dank, damp room with cement walls.
                      <br>
                      <br> What are the functions and structures of consciousness. First of all, consciousness restricts our attention and controls
                      what we notice and what we think about. We can't think about everything that goes on in our life, so we're only conscious
                      of certain things that occur in our environment. Consciousness combines sensation with learning and memory, and is an
                      interpretation (a perception) of our world. As I said before, when you have been mugged in a dark alley, your interpretation
                      of that dark alley is completely different of somebody else's. Consciousness is subjective. Subjective means it's an
                      opinion and not specifically based on fact at that particular point in your life. In our youth we make certain decisions
                      about how we will think and behave, because as children, the world around us is so large and so imposing. Those decisions
                      are usually not reevaluate later in life, so we live our lives as adults by the decisions that we made as children. We
                      don't look at the new facts of our lives and reestablish new opinions. There are psychologists (existentialists) that
                      believe we should live each moment within that moment.&nbsp; Subjective evaluations of our world are very biased and
                      may not be based on current facts. Subjectivity is different than objectivity.
                      <span style="font-weight: bold;">Objectivity
                      </span>is based on current facts. While being objective one attempts to step away from individual biases, interpretations,
                      feelings, and imaginings. Objectivity is looking at the the facts with neutrality and detachment. To make an objective
                      evaluation one attempts to remove oneself as a part of the decision. Obviously consciousness is all about us - it is
                      subjective.
                      <span style="font-weight: bold;">Consciousness helps us select personally meaningful stimuli from our environment.
                      </span> For example: My family has a lot of red haired members. When my wife and I go to the beach we can be sitting
                      enjoying the sun and people can be walking by, and I pay no attention to them. However, when a red head walks by, it
                      is personally meaningful stimulation and I pay attention to the red head. If it is a woman, I get about four seconds
                      before my wife slaps me on the back of the head! Consciousness allows us to draw on lessons stored in memory as well.
                      I know I get about 4 seconds - so i look away after three! We have lots of lessons that we have stored in memory which
                      are available to our consciousness. Sometimes those lessons were learned a long long time ago and the facts have changed.
                      We need to be able to reinterpret those facts.
                      <br>
                      <div class="images">
                          <div style="float:left; padding: 10px; width:320px; height:250px;">
                              <div>
                                  <img alt="Visual of consciousness" style="width:300px; height:210px;padding: 10px;" src="img/Iceberg.png">
                                  <br>
                                  <center> A visual interpretation of the mind </center>
                              </div>
                          </div>
                      </div>
                      <br> Here's a great visual for our Consciousness. Imagine you are the iceberg moving through the world. You are the iceberg.
                      The ocean and sky are our world. Icebergs have an interesting characteristic - other people can only see a small part
                      of the iceberg. As an analogy the top of the iceberg - the part of ourselves that we notice - that we are aware of -
                      is only a tiny fraction of the rest of Consciousness. The Conscious part of our awareness is only a very small part of
                      total consciousness. Consciousness includes our Preconscious which are just below sea level. When waves come along we
                      may become aware of the preconscious material lurking just below the water. It is also easy to purposefully access the
                      preconscious material. Then, very deep in the ocean lies the nonconscious and the unconscious and unattended information.
                      <br>
                      <br> The
                      <span style="font-weight: bold;">preconscious </span>awareness is information that is not currently in our thoughts but can be brought easily and rapidly
                      to our attention. Think of your mother's name. All of you should have immediately thought of your mother's name when
                      you read that sentence. It wasn't something that you were thinking about, it wasn't in your conscious awareness, but
                      now it's in your conscious awareness because I brought it there by saying “Think of your mom's name.” Sometimes you know
                      something and you know you know that thing, but you just can't get it out. That is called the
                      <strong> tip of the tongue</strong> phenomenon. Tip of the tongue is very funny for those of us who are watching but not very
                      funny for those of us who experience it. Of course the harder you think about something the harder it seems to be for
                      you to recall it. If you stop thinking about it and do something else, it will come to you eventually, usually around
                      3 o' clock in the morning when you wake up thinking, “I remember! I know what it is!”. I am a little sarcastic and when
                      someone says it's on the tip of their tongue, I say stick out your tongue and I'll read it. Of course that's ridiculous.
                      It isn't really ON the tip of their tongue. It is sitting somewhere in your brain in a cue waiting for its turn to come
                      out of your mouth. There are lots of reasons for tip of the tongue issues, and there's lots of research being done on
                      tip of the tongue, because if we can find out what causes blockage, what stops us from remembering, maybe we can improve
                      memory recall. When we talk about memory we'll also talk about the processes that cause memory to be blocked. The
                      <span
                          style="font-weight: bold;">Nonconscious
                          </span>is made up of internal processes that do not involve conscious processing. We don't have to think about these
                          processes. Our heart rate is not something we contemplate, unless of course we have a heart attack, and then we're
                          thinking about it quite a bit. Breathing is not something we think about unless we fall down and hit our back and
                          get the wind knocked out of us, or we have Asthma or some other breathing disorder. We simply do not consider controlling
                          our internal organs, but it is a part of our nonconscious awareness.
                          <span style="font-weight: bold;">Unattended
                          </span>information is outside the body.&nbsp; In this analogy - in the ocean but not part of you - the iceberg.&nbsp;&nbsp;
                          Unattended information is part of the external signals of our world. Remember, nonconscious is internal signals that
                          we're not aware of. Unattended information is the external signals that we're not paying attention to. You ignore
                          these things but they do filter into your brain. You are usually aware of the air conditioner system in a room at
                          first but because of sensory adaptation you don't usually hear it after a brief time unless somebody brings it to
                          your attention. If you start studying during the early evening when there's still light outside -&nbsp; and you haven't
                          turned the light on inside - it gets darker and darker and darker.&nbsp; You don't really recognize it, it's happening
                          so slowly, and finally somebody walks into the room and says “Why the heck are you studying in the dark?” It is registered
                          in your memory without conscious attention. Certainly you know that it's dark but you haven't paid much attention
                          to it. Just because you're ignoring the fan on your computer that makes so much noise, doesn't mean that you can't
                          hear it. You do hear it when it's brought to your attention. It is an unattended external signal. Some say that unattended
                          information is found in what many people call the subconscious. The
                          <span style="font-weight: bold;">subconscious
                          </span>is no longer a useful term in psychology, it is archaic. It was used for a short time by Freud and then dropped.
                          If you hear people talking about the subconscious they are most likely meaning the unconscious and they are poorly
                          trained. One way I have ever seen the subconscious used was to mean the store of
                          <span style="font-weight: bold; font-style: italic;">outside
                          </span>information registered in memory without our conscious attention, but that's the same as
                          <span style="font-style: italic; text-decoration: underline;">Unattended</span>
                          <span style="font-style: italic;"> </span>information. Some use it to mean the material we know that is easily remembered, but that is the
                          <em style="text-decoration: underline;">Precociousness.</em> We simply do not have a use for the word subconscious any longer. Today most people using the
                          word subconscious mean the vast storehouse of our mind - the Unconscious.
                          <br>
                          <br>
                          <img alt="" src="img/door.jpg" style="float:left; padding: 10px;">
                          <br> The
                          <span style="font-weight: bold;">Unconscious </span>is the realm of Freud. It is considered part of the mind which stores and processes some information
                          outside of awareness. Our memories are considered to be stored in our unconscious and then we can bring them to conscious
                          thought if we need to, and if tip of the tongue doesn't occur. Freud said that we also have extremely painful memories
                          that are
                          <span style="font-weight: bold;">repressed </span>in the unconscious. These memories cannot cause us undue pain and suffering while they are repressed.
                          Our mind shuts them away in an automatic response. You can think of it as putting them in a closet, closing the door,
                          locking and throwing away the key. The problem is that the closet door has a keyhole, and those memories that are
                          repressed, filter slowly through that keyhole into your mind. Sometimes we act based on those repressed memories,
                          but we don't know why we're acting the way we do. The repressed memories control our behaviors. What a Psychoanalyst
                          would do is try to find those doors in your mind, try to open them and make you aware of the memories that are in
                          them. Then you can deal with those memories. If a child is sexually assaulted, they may repress the memory. As an
                          adult the child might hate all men. She may not trust any man. As an adult she can not tell you why she despises
                          men, she just knows she does. If she can open the door and face the memory from her childhood, she may then be able
                          to see there is only ONE man she should never trust. This may lead her to be able to trust some other men in her
                          future. Freud's ideas were not eagerly accepted in his time, but today we do believe that there are such things as
                          memories that we cannot get to, that we can be helped to acquire, and when we acquire them we will feel better. When
                          we talk about Psychoanalyst and Psychopathology, we will talk more about how Freud came to this conclusion, but not
                          at this time.
                          <br>
                          <br> What are the cycles of everyday consciousness? Our Consciousness cycle with our biological rhythms and the patterns
                          of our environment.
                          <br> Consciousness changes according to the units of our day in a 24 hours cycle.
                          <br> Here is a link to a fun - but non-scientific (not even pseudoscience) observation of the cycles of our life.
                          <br> It is called a biorhythm. It is less than a pseudoscience, but it's fun and gives you an idea about what a cycle
                          is.
                          <br>
                          <br>
                          <span class="flow-text">
                              <span class="flow-text">That's it for this lecture.
                                  <br> I’m going to stop here. It's time for a break guys, and gals. Go get a cup of coffee.
                                  <br> Go do something other than study (maybe play the hangman game).
                                  <br> There is one crossword puzzle for the entire unit,
                                  <br> but the hangman games are made for each slide.
                                  <br> Take 15 minutes or so before you go to the next slide.
                                  <br> Distributed learning is the best learning.
                                  <br> We will continue the study of the States of Mind in the next lecture.
                                  <br>
                              </span>Talk with you then.
                              <br>
                              <br>
                          </span>
                          <br>
                          <span class="flow-text"> </span>
                  </div>
              </p>
            </div>
          </div>
        </div>