        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">States of Consciousness (4)</p>
            <div class="row">
              <div class="row">
                <div class="container">
                    <paper-audio-player color="orange"
                                        src="audio/Mind_Dream_weaver.mp3"
                                        title="Dream Weaver - Gary Wright">
                    </paper-audio-player>
                </div>
              </div>
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                  
                  
                  
                      Welcome back to the states of mind, this is the fourth lecture. We just talked about the activation-synthesis theory, and
                      why we dream.
                      <br>
                      <br> Now let's talk about dreams more in-depth. Freud had some ideas about Dreams.
                      <span style="font-weight: bold;">Latent content</span>
                      is the hidden meaning of a dream, while the
                      <span style="font-weight: bold;">manifest content
                      </span> is the actual dream which masks the real meaning and the "
                      <span style="font-weight: bold;">dream work</span>" is the way the two are combined in the brain. For instance, consider that a person is about to get
                      married. He starts having dreams that he’s flying. His manifest content is the actual dream, that he’s flying, but he
                      does not understand why he is having this dream. His therapist may tell him that he feels that he is about to be tied
                      down, and he wants his freedom. He wants to get out of the wedding. So he’s releasing his tension with dreams about the
                      most free thing he can do - fly! Manifest content is the manifested dream itself (flying). Latent content is the hidden
                      meaning of that dream (he feels tied down). Dream work is the process of transforming the hidden meaning into some sort
                      of manifest content. Dream work takes our frustrations and anxieties and creates a dream so that we can work out our
                      frustration and anxiety in the dream.
                      <span style="font-weight: bold;">
                          <br>
                          <br> Lucid dreaming</span> is a specific type of dreaming, and though it may not sound real it is! The first step in
                      Lucid dreaming is to become aware that you are dreaming while you are in a dream. The second step is to take control
                      of the dream. According to some people this is also the first step towards astral projection, which is an out of body
                      experience. Now, I don’t know if astral projection is real, but lucid dreaming has been studied in research labs. You
                      can take control of your dreams. What does that mean? Let’s say you are dreaming about driving down the street in a Pinto.
                      You suddenly realize, this is a dream! “Hey, I’m dreaming. I know I’m dreaming. This is a stupid dream. I would never
                      own a Pinto. I want to own a Lamborghini.” All of a sudden you are driving down the street in a Lamborghini. “Well, it’d
                      be really cool if this Lamborghini was also an airplane” and sure enough the Lamborghini has wings and you’re flying
                      the Lamborghini through the air. You are controlling the dream knowing that you are dreaming. This is not an easy thing
                      to do, because you are in a state in-between dreaming and wakefulness. You could wake up at any moment. Almost everyone
                      has the dream that you’re running away from something. You have no idea what it is but it is scary. While you’re attempting
                      to escape it seems like you’re running through tar that is hot and sticky.&nbsp;&nbsp; You can’t move your legs. Lucid
                      dreaming is the ability to recognize - I’m dreaming - and decide I’m not going to put up with this dream anymore. You
                      can stop running, turn around and see what it is that we’re running away from. Unfortunately fear doesn’t usually allow
                      us to do that. Most of us wake up before that thing (whatever it is) gets us.
                      <br>
                      <br> &nbsp;What other forms can consciousness take? We have talked about the unconscious, nonconscious, preconscious, repressed
                      memories and dreaming. There are other types of consciousness that we can experience as well. An altered state of consciousness
                      occurs when some aspect of normal consciousness is modified. We can purposefully modify our conscious state by giving
                      up our control or consciousness. We can modify it behaviorally or we can change it through chemical means - which isn’t
                      necessarily the best way to do it.
                      <br>
                      <br> One typical altered state is called
                      <strong>daydreaming</strong>, everybody daydreams. It’s a mild form of consciousness in which attention shifts to memories other
                      than what you should be thinking about. Daydreaming is never about where you should be, it’s where you want to be. So,
                      you’re thinking about expectations of what’s going to happen that night on your date or what you’re going to be fixing
                      for lunch or dinner, where you’re going to be taking your sons or daughters for their tap dance lessons or their soccer
                      practices. Or you may be thinking about your desires or fantasies, and they are taking you away from the immediate situation
                      - the things you should be paying attention to. The
                      <strong>hypnagogic state
                      </strong> is another typical altered state which is the time between waking and sleep. While you’re going to sleep and
                      while you’re waking up, there’s a time between sleeping and waking we call the hypnagogic state. Have you ever dreamed
                      that you’re eating something like a chocolate bar or you just won a million dollars?&nbsp; You feel that you are holding
                      the million dollars or chocolate bar in your hand and then realize you are awake.&nbsp; “Oh, gosh, I was sleeping.&nbsp;
                      It was all a dream”, but you can still feel that million dollars or that chocolate bar in your hand? Then you move one
                      little muscle a fraction of a millimeter, you re-energize your muscles, and the feeling is gone. You were in the hypnagogic
                      state where you feel and sense those things that happen to you in the dream.
                      <br>
                      <br> Some of the other states of consciousness that we’ll talk about are hypnosis, and meditation, and psychoactive drug
                      states. Let's look at Hypnosis first.
                      <br>
                      <br>
                      <span style="font-weight: bold;">Hypnosis</span>, is an altered state of awareness induced by somebody else or by yourself. It is characterized by a heightened
                      suggestibility and a very deep sense of relaxation. Some people say that a 30 minute hypnotic trance is like having 8
                      hours of sleep. A person needs to have a mental ability above 70 IQ to get hypnotized. If they have the correct IQ the
                      next step is to get their permission to hypnotize them. If they do not give you permission you can not hypnotize them.
                      If a person says, "I will not allow you to hypnotize me", then they can not be hypnotized. If a person says I can't be
                      hypnotized, then they can be. Why? If you tell me you can not be hypnotized, I will say to you, “You want to make a bet?”
                      you will say “Sure, go ahead”, and you just gave me your permission. I now have control. That’s the first step to hypnosis
                      - permission giving the hypnotist control. It may take me a few minutes or a few hours to hypnotize you. How long it
                      takes to hypnotize you is dependent on how suggestible you are. A hypnotist doing a show only has an hour on the stage.
                      So they will ask members of the audience who want to be hypnotized to come up on stage. Those people just gave permission!
                      To find the most suggestible out of the crowd the hypnotist may ask them to close their eyes and put their arms out in
                      front of them. Now he will say, "imagine I have a bag attached to your right arm. I am filling it with sand and it is
                      getting heavier and heavier. Imagine a large balloon attached to your left arm I am filling with helium. It is pulling
                      up on your left arm harder and harder lifting your arm into the air." Whichever audience members arms have moved the
                      most, they are the most suggestible. The rest can go back to their seats. The hypnotist does not have enough time to
                      try to hypnotize the least suggestible - although he could - he only has an hour for the show.
                      <br>
                      <br> A hypnotized person
                      <strong>cannot </strong>be made to do something against their basic nature. I cannot hypnotize you and tell you to strip naked.
                      You still know that you’re in a room with a person that does not need to see you naked. However, if by your nature you
                      are an exhibitionist ( a person who likes to show off their naked body) you might! Some people are afraid to be hypnotized
                      because they might be made to do something they didn’t want to do. Hollywood just loves that idea and puts that idea
                      out in films all the time. There are many films where somebody was hypnotized to do a specific task that is against their
                      nature. That is not how it works. I can not make a pacifist into a hit-man assassin.
                      <br>
                      <br> Although it’s used as a stage trick by many people, there are many practical aspects to hypnosis. If you’re having some
                      surgery, you can be hypnotized and be told that you will feel no pain. This is called
                      <strong>hypnotic analgesia</strong>. The word analgesia means to "take away the pain". Hypnosis can diminish sensitivity to pain
                      while you’re under hypnosis. Since you have to concentrate on the hypnotist, you can’t be in pain and be hypnotized to
                      reduce the pain. That would be almost impossible to do. You can be hypnotized
                      <em>
                          <span style="text-decoration: underline;">before</span>
                      </em> you go into surgery and then not feel the pain. So, surgery can be performed without the use of drugs! It’s basically
                      pain relief without medicine. Drugs have side effects and hypnosis only has one which I’ll talk about it in just a second.
                      It’s much better to be hypnotized than to take drugs. But, of course it would have to be done beforehand, and you would
                      have to have a high degree of hypnotizability - you would need to be very suggestible. Why don't people use hypnosis
                      instead of drugs. Drugs are instantaneous and we trust them to work. Also, the hospital can pay an anesthetist to put
                      you to sleep with a shot in one minute instead of spending the money on a hypnotist spending an hour trying to hypnotize
                      you.
                      <br>
                      <br> One problem with hypnosis is that because the brain goes into a specific state, if a person has a potential for an epileptic
                      seizure, then hypnosis can increases that chance. A person who is properly trained in hypnosis can recognize the symptoms
                      when a person is about to go into an epileptic seizure and stop the hypnosis. This is why it is dangerous to just play
                      around with hypnosis. Anybody could read a book and learn how to hypnotize people, but it is a dangerous thing to do
                      in certain circumstances. It takes a lot of training. There are many people who call themselves hypnotists because they
                      have read a book and have learned&nbsp; the process. They have fun with it, but it can be dangerous. So if you are going
                      to go to a hypnotist, you should make sure that person is
                      <em>
                          <span style="text-decoration: underline;">certified</span>
                      </em>, not certifiable, certified as a hypnotist. Certification by the National Board for Certified Clinical Hypnotherapists
                      is a great way to be certain the person you are talking to is professional and well trained.
                      <br>
                      <br> I was&nbsp; with a hypnotist during a show,&nbsp; When he asked for volunteers from the audience a young 14 year old
                      girl waved her hand.&nbsp; Her parents were with her and gave permission.&nbsp; She was suggestible and was one of those
                      who stayed on stage and was hypnotized. When he was finished and sent everyone else back, the young girl was the last
                      on stage. The hypnotist turned to the parents and said, "is there anything you wish she would do"?&nbsp; The parents
                      told him she never cleans her room. The hypnotist turned back to the young girl spoke to her for a minute and then woke
                      her up and send her back to her seat.&nbsp; He stayed and talked to the audience members for a while after the show.&nbsp;
                      The parents came up to say thank you.&nbsp; The child was pulling at her mother's skirt.&nbsp; I was standing next to
                      the hypnotist while this was happening.&nbsp; The mother turned to her child and said "what do you want"?&nbsp; She said
                      "I have to go home and clean my room"!
                      <br>
                      <br> Manipulating motivation is one of the ways that we use hypnosis. Some people need to stop smoking or reduce eating,
                      so they go to a hypnotist to improve their motivation. It works well for psychological dependence. If you are psychologically
                      dependent on something, then hypnosis will help you to stop doing that thing. However, it doesn’t work very well for
                      physical addiction. We’ll talk about this later in these lectures. Smoking has two issues. A person who wants to stop
                      smoking is addicted to nicotine and has a psychological dependence of the act of smoking. If a person wants to stop the
                      physical addiction to nicotine, they have to be able to replace the nicotine from the cigarette with some other form
                      of nicotine. That could be nicotine gum or a nicotine patch or a nicotine drink. They also need to work on the psychological
                      dependance. They need the motivation to stop smoking. That is where hypnosis is used. When a person uses both addiction
                      and dependance control they do much better than if they just tried to control one of the issues. Acquiring the nicotine
                      takes care of the physical addiction but not the psychological dependence. A hypnotist will work on the the psychological
                      but not the physical problem. For those of you who are paying attention and want to quit, there’s a hint for you. It
                      has to be your choice too. Why would a person go to a hypnotist if they didn't want to? Easy answer: your wife wants
                      you to quit smoking.&nbsp; She cannot decide
                      <em style="text-decoration: underline;">she</em>
                      wants you to quit smoking and drag you to go to a hypnotist.&nbsp; You must have some motivation for the hypnotist to work
                      on.&nbsp; If you do not want to be at the hypnotist, then the hypnotist will find it hard to help.
                      <span style="font-weight: bold;">
                          <br>
                          <br> Meditation </span>is a form of consciousness change that is induced by focusing on repetitive behaviors, assuming
                      certain body positions, regulating your breathing and minimizing external stimulation. This is not hypnosis. It may sound
                      like it and even look like it, but it’s different because hypnosis is all about you! Meditation is all about nothing.
                      Meditation is about giving up the
                      <em style="text-decoration: underline;">self</em> and becoming one with the universe. Meditation comes from Buddhist philosophy and is practiced by monks. They
                      use meditation to remove the self. The purpose of meditation is it to give up all personal thoughts and become one with
                      the universe. There is an old joke about the monk who visited New York.&nbsp; A hotdof vender asked him if he wanted
                      a dog.&nbsp; The monk told him he did not eat meat.&nbsp; the vendor said, "I have veggie dogs". &nbsp; The monk told
                      the vendor “Great! Make me one with everything.” Meditation attempts to remove all of who you are, your person, your
                      individuality to become a part of the whole - the universe. While hypnosis is all about becoming a better you, meditation
                      is all about releasing the you. So, they are different. Meditation is part of Acceptance and Commitment Therapy (ACT)
                      as well as Mindfulness-Based Cognitive Therapy. This approach to therapy began in the 1980s and has garnered some interest
                      among practitioners dealing with depressed patients.
                      <br>
                      <br> It is time we turned to drugs, but not in this lecture.
                      <br>
                      <span class="flow-text">
                          <span class="flow-text">That's it for this lecture.
                              <br> I’m going to stop here. It's time for a break guys, and gals. Go get a cup of coffee.
                              <br> Go do something other than study (maybe play the hangman game).
                              <br> There is one crossword puzzle for the entire unit,
                              <br> but the hangman games are made for each slide.
                              <br> Take 15 minutes or so before you go to the next slide.
                              <br> Distributed learning is the best learning.
                              <br> We will continue the study of the States of Mind in the next lecture.
                              <br>
                          </span>Talk with you then.
                          <br>
                          <br>
                      </span>
                      <span class="flow-text"> </span>
                  </div>
              </p>
            </div>
          </div>
        </div>