        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">States of Consciousness (3)</p>
            <div class="row">
              <div class="row">
                <div class="container">
                    <paper-audio-player color="orange"
                                        src="audio/Mind_California_dreamin.mp3"
                                        title="California Dreamin' - The Mamas and The Papas">
                    </paper-audio-player>
                </div>
              </div>
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                  
                  
                  
                      Welcome back to lecture three of the states of mind. We just finished talking about some of the sleep disorders, insomnia,
                      sleep apnea and narcolepsy.&nbsp;&nbsp;
                      <br>
                      <br>
                      <div class="images">
                          <img alt="Dream Catcher" src="img/dream_catcher.jpg" style="float:left; padding:5px;"> </div>
                      Let's look at nightmares, which is a type of sleep disorder.
                      <span style="font-weight: bold;">Nightmares</span> occur in a large portion of both adults and children.&nbsp; It is a horror story played out in your
                      sleep that is so bad that it wakes you up. In fact when I take sleeping pills of any kind, my brain doesn't like it and
                      it gives me nightmares. Every single sleeping pill I've ever taken to get to sleep wakes me up with a nightmare. I don't
                      know what causes that, but maybe that's one of the side effects of those pills.
                      <span style="font-weight: bold;">Night Terrors</span> are a little different from nightmares. They occur mostly in children. I haven't heard of them happening
                      in adults unless they have PTSD.&nbsp; Most children grow out of night terrors.
                      <div class="images">
                          <img alt="Picture of The Scream" src="img/The_Scream.jpg" style="float:right;padding:5px;"> </div>
                      &nbsp; Most children don't remember that they had a night terror. This is how it is different from a nightmare.&nbsp; Children
                      will start screaming in a fit.&nbsp; When the child is having this fit, they are probably not even awake, though they
                      seem to be.&nbsp; They'll talk to you, ask for you to love on them, they'll tell you what the dream was about and then
                      you put them back to sleep again.&nbsp; When they wake up in the morning you say “Are you okay?”.&nbsp; They will reply
                      “Why, what are you asking that for, mom?” because they don't even remember. They were asleep the entire time.&nbsp;
                      <span
                          style="font-weight: bold;">Sleep</span>
                          <span style="font-weight: bold;">walking
                          </span>is another sleep disorder.&nbsp; YOu may have heard it is not a good idea to wake up a sleepwalker.&nbsp;
                          It may cause harm if you do.&nbsp; This is only partially true.&nbsp; It may be dangerous, but it's not dangerous
                          to the sleepwalker. It's dangerous to the person waking them up, because when you wake up somebody and they don't
                          know where they are, they're going to react very strongly, possibly negatively toward you. Which means they're going
                          to hit you if you wake them up. It's just best to watch them, make sure they don't hurt themselves while they're
                          sleep walking or wake them up somewhere out of their reach!&nbsp; Be prepared for a negative response especially
                          if they are military trained. Be careful when you wake somebody up, not because it'll hurt them but because they
                          may attack you.&nbsp; My stepfather is a retired marine and spent three tours of duty in bietmnam.&nbsp; You do not
                          sneak up on him while he is asleep.&nbsp; The enemy sneaks&nbsp; up on you!&nbsp; Instead slam a door or yell from
                          another room.&nbsp;
                          <br>
                          <br> The way we know that consciousness changes physically is that we can view brain waves and tell that there are certain
                          brain wave patterns that occur at certain times during the day and the night.&nbsp; Using an EEG, we can look at
                          the electrical signals created by the brain. The brain works on electrical and chemical energy, so we are able to
                          record the electrical energy and draw its pattern of activity (on a sheet of paper in the old days and today) on
                          a computer. The frequency of the signal is known as Cycles per Second (CPS), and the amplitude is how much energy
                          exists in the wave. Sleep is a cycle, we don't actually go into sleep and stay in one state during the night. We
                          move multiple times through a pattern of activity during sleep. Remember one of those cycles is REM sleep. In Non-REM
                          sleep we go through a number of stages.
                          <div class="images">
                              <div style="border: 0px solid white; padding: 10px; float: left; width: 320px; font-family: Arial;">
                                  <div>
                                      <img style="width: 290px;  padding:10px;" alt="Picture of Stage one sleep waves" src="img/Sleep_EEG_Stage_1.jpg"
                                          border="2">
                                      <br>
                                      <center>Stage one sleep signals</center>
                                  </div>
                              </div>
                          </div>
                          We move through the stages of sleep numerous times throughout the night, we don't just go through it one time. A normal person
                          who is awake has electrical wave patterns of 12 cycles per second during their active state.
                          <span style="font-weight: bold;">Alpha waves</span>
                          are between 8 and 13 cycles per second, and they occur during the time when we are
                          <span style="font-weight: bold;">drowsy</span>. You're not particularly asleep yet, you're just sort of drifting off and your brain waves are slowing
                          down from 12 cycles per second to between 8 cycles to 13 cycles per second.
                          <span style="font-weight: bold;">Theta waves
                          </span> are 3 to 8 cycles per second and they are found in
                          <span style="font-weight: bold;">stage one sleep</span>. When we see activity of the brain at 3 to 8 cycles per second asleep - they are asleep -
                          not just drowsy anymore.
                          <div class="images">
                              <div style="border: 0px solid white; padding: 10px; float: right; width: 320px; font-family: Arial;">
                                  <div>
                                      <img style="width: 290px; height: 153px; padding:10px;" alt="Stage 2 waves" src="img/Sleep_EEG_Stage_2.jpg"
                                          border="2">
                                      <br>
                                      <center>Stage two showing spindles</center>
                                  </div>
                              </div>
                          </div>
                          <span style="font-weight: bold;">Stage two</span> sleep also has theta waves but it includes short spindles of activity.&nbsp; These
                          <strong>sleep spindles</strong> are between 12 and 16 cycles per second. The difference between stage one and stage two is
                          the spindles of activity. Maybe the brain's fighting to come back into consciousness again. I have no idea why we
                          get these sleep spindles, but sleep spindles tell us we're in stage two sleep. In
                          <span style="font-weight: bold;">stage three </span>sleep the brain slows down even more. Now we have
                          <strong>delta waves </strong>where we only have 1 cycle per second. Remember, we usually have 12 cycles per second, and now
                          we're at 1/12th our normal activity. We have very, very, slow electrical signals going through the brain. Finally
                          we get to
                          <strong>stage four </strong>sleep which is the deepest part of sleep. The brain waves are as small as half a cycle per second.
                          In other words it takes two seconds before you get an entire wave pattern in your brain at this stage of sleep. It
                          is extremely slow; however the amplitude has increased tremendously! The amplitude is much higher than a normal brain
                          waves. We reach this stage of sleep the first time about 30 minutes after we fall asleep.
                          <div class="images">
                              <div style="border: 0px solid white; padding: 10px; float: left; width: 320px; font-family: Arial;">
                                  <div>
                                      <img style="width: 290px; height: 153px; padding:10px;" alt="Stage four High Ampliture waves" src="img/Sleep_EEG_Stage_4.jpg"
                                          border="2">
                                      <br>
                                      <center>Stage four High Amplitude waves</center>
                                  </div>
                              </div>
                          </div>
                          <br>
                          <br> Here’s a great little hint for you! If we get to this deep restful sleep after 30 minutes, then you should plan
                          any cat nap for 45 minutes. That gives you time to fall asleep and hit stage four sleep and get a great cat nap.
                          You don’t need to stay there very long before you can wake up. Michelangelo - who painted the Sistine Chapel on his
                          back, way up in the air - would purposefully fall asleep with a spoon in his hand. When he got to stage four sleep
                          and went into REM sleep, his skeletal muscles went into sleep paralysis. The spoon would drop out of his hand and
                          fall to the ground far below. By the time it hit the ground and woke him up, he thought that was enough sleep and
                          he didn’t need any more. That was Michelangelo’s respect for sleep. In REM sleep, the brain waves mimic a fully awake
                          individual. In REM sleep you don’t know that the person is asleep just by looking at their brain activity because
                          it looks like they are awake. That’s why we say we’re dreaming, our brain is as active as when we are awake. It’s
                          as if we were fully awake but our body is in sleep paralysis. All the voluntary muscles are paralyzed. The paralysis
                          and the Rapid Eye Movement are what tell us the person is in the dream state. The sleep paralysis is probably a good
                          thing, because some of us have very violent dreams. If our muscles weren’t paralyzed, we might be beating the person
                          sleeping next to us. There’s actually a disorder where a person does not have very good sleep paralysis. They do
                          have some control of their muscles during REM sleep and they act out what’s happening in their sleep. For instance,
                          I happen to have this disorder and if I’m dreaming that I am in a kung-fu fight and I’m kicking and moving my arms
                          in my dream - I actually do kick and move my arms and I have kicked and hit my wife. She just hits me right back
                          and wakes me up.&nbsp; Of course, it might have been very adaptive that we did have sleep paralysis. Our ancestors
                          that were sleeping in the wild with night hunting animals might have attracted attention while they slept if they
                          were not paralyzed. Sleep paralysis might be a very good thing to allow our ancestors to sleep and dream to be refreshed
                          but also drop into paralysis so they did not get noticed by hungry animals so they lived through the night.
                          <br>
                          <div class="images">
                              <div style="border: 0px solid white;  float: right; width: 320px; font-family: Arial; padding:10px;">
                                  <div>
                                      <img style="width: 290px; height: 153px; padding:10px;" alt="Stages of sleep" src="img/Sleep_Phases.jpg"
                                          border="2">
                                      <br>
                                      <center>Stages of sleep</center>
                                  </div>
                              </div>
                          </div>
                          <br> On the right you can see a graph of the Sleep cycle. You can see that we go from being awake to stage one sleep
                          down to stage two and three and finally stage four sleep. Then we move back up to stage three sleep to stage two
                          sleep and then you go into REM. We stay in REM for a little while and then drop back down to stage two, stage three,
                          stage four and back up again into REM. Notice that this second REM is a little bit larger than the first REM. The
                          next REM is even larger than the other one. The longer you stay in sleep, the longer you stay in REM. We usually
                          wake up while we are in REM sleep. We are usually woken up from a dream, so the last REM might not be as long as
                          it could be, but you could sleep throughout and have a full cycle of REM. We stay in REM sleep for about 10 minutes
                          the first time that we enter REM sleep, and we enter REM sleep many times during the night as you see in the visual
                          display. The last time we’re in REM sleep, we can stay there as long as 60 minutes - as long as we aren’t awakened
                          in the middle of it by our alarm clock.
                          <br>
                          <br>
                          <div class="images">
                              <div id="popup" style="border: 0px solid white; padding: 10px; float: left; font-family: Arial;">
                                  <div class="card">
                                      <a href="#">
                                          <img id="onHoverSleepPicture" style="float:left;width: 100%;" alt="Structure of DNA" src="img/Sleep_Hours_icon.png">
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <em>
                              <strong>Hover</strong>
                          </em> over the icon to the left to see how sleep needs decrease over the years. The need for sleep decreases as you get
                          older. You can see from this chart that as an infant we sleep and dream the longest - as much as 16 hours of sleep
                          a day and we get about 8 hours of dreaming. It is possible we dream so much during infancy to strengthen the visual
                          cortex. Vision is the least developed of the senses when we are born. You can see in this chart that as Teenagers
                          we need between 7 and 11 hours of sleep which averages to 9 hours. You can see from the graph that an adult will
                          get between 6 and 10 hours of sleep (8 hours average). Over the years, the need for REM sleep also decreases. By
                          they&nbsp; time we’re 90, we only need a very small amount of dreaming. Seniors can sleep less and they can still
                          be refreshed. However, we are always told we need 8 hours of sleep and if we don't get it there must be something
                          wrong with us. When you get older, do not let people make you think there is something wrong with you simply because
                          you only sleep four hours a night. It is not as simple as saying everyone needs 8 hours of sleep.&nbsp; Seniors only
                          need a minimum of four hours of sleep while babies can sleep as much as 16 hours a day. That’s a little bit less
                          than cats - which sleep 12 to 20 hours a day. I have lots of cats. When I go to work, my cats are asleep. When I
                          come home, my cats are asleep. When I’m watching TV, my cats are asleep on my lap. While I’m creating this presentation,
                          I have a cat asleep on my lap. When I go to bed they come join me! They sleep all the time. It’s amazing how much
                          animals sleep, and they dream, or so we might think.
                          <br>
                          <br> We see animals sleep and we watch them move, but we can’t know that they’re dreaming. It’s one of the problems in
                          Animal Science. As I said in the last lecture, we know that they’re moving, but it might just be random energy that’s
                          making their legs move. We can't wake them up and ask them if they were dreaming. We can’t wake animals up and have
                          them tell us what was happening. So, why do we humans dream? There are two theories of why we dream. The first believes
                          that Dreaming is some meaningful event that’s replayed in our mind to reduce the stresses that are caused by those
                          events - to work through unresolved conflicts. The second believes that dreams are caused by random brain activity.
                          That random brain activity accidentally activates neurons of a memory and then the brain has to make sense out of
                          the activated memory, so we create a dream around the memory. Even then, it can create a dream to resolve the unresolved
                          conflicts of the day. The first idea about dreaming believes the brain
                          <em style="text-decoration: underline;">purposely</em>
                          creates dreams. The other one says that the reason we dream is
                          <em>
                              <span style="text-decoration: underline;">random</span>
                          </em>. It’s impossible to tell one way or the other which one it is, but these two camps are very adamant about their
                          particular reason for dreaming. In either case, without REM sleep, we show a marked decrease in the ability to store
                          long term memories. Remember, we need this REM. Are we dreaming or not? I don’t know for sure. Only 80% of people
                          awakened during REM say that they are dreaming, but we definitely know that our eyes are moving. So, Rapid Eye Movement
                          is absolutely necessary for helping our long term memories.
                          <br>
                          <br> There are differences in dream content that we can measure by age, by gender and by culture. Depending on who you
                          are, how old you are, your age, your sex, where you live and the culture you live in, your dreams change. Normal
                          dreams are normal for a specific age group, a specific gender, and a specific culture. The idea that dreams are related
                          to meaningful events comes from Freud and other Psychoanalysts. They said that dreams were unconscious desires and
                          unresolved issues of the day acted out in our sleep. Dreams could also serve as a source of wish fulfillment. Some
                          of our dreams allow us to live the way we would like to be able to live. The
                          <span style="font-weight: bold;">activation-synthesis theory
                          </span> is the theory that dreams begin with a random electrical activity that come from the brain stem and then
                          dreams are the brain’s attempt to make sense out of this random activity. Even this theory could explain the differences
                          in dream content, because you still have to have your brain make sense of the random activity. What makes sense to
                          a 16 year old is different than what makes sense to a 50 year old, or what makes sense to a woman never makes sense
                          to a man. I'm pulling on your legs again. Of course dream content changes depending on the culture that you live
                          in. What makes sense to someone in an individualistic culture might be different than what makes sense to a person
                          in a collectivist culture. Even the activation-synthesis theory allows for dreams by age, gender and culture.
                          <br>
                          <br>
                          <span class="flow-text">
                              <span class="flow-text">That's it for this lecture.
                                  <br> I’m going to stop here. It's time for a break guys, and gals. Go get a cup of coffee.
                                  <br> Go do something other than study (maybe play the hangman game).
                                  <br> There is one crossword puzzle for the entire unit,
                                  <br> but the hangman games are made for each slide.
                                  <br> Take 15 minutes or so before you go to the next slide.
                                  <br> Distributed learning is the best learning.
                                  <br> We will continue the study of the States of Mind in the next lecture.
                                  <br>
                              </span>Talk with you then.</span>
                          <br>
                          <br>
                          <span class="flow-text"> </span>
                  </div>
              </p>
            </div>
          </div>
        </div>