        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">States of Consciousness (2)</p>
            <div class="row">
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                  
                  
                  
                      Welcome back to the second lecture in our states of mind, in consciousness. We are talking about the cycles that our consciousness
                      takes during the day. It goes through patterns.
                      <br>
                      <br> The reason we go through patterns is because of circadian rhythms. The circadian rhythm is the 24 hour, less a few seconds,
                      cycle of day and of night on the planet Earth. Our biological clock has adjusted to this schedule. We like to sleep an
                      average of 8 and half hours per day, the rest of the 24 hours we're up and active. Why do I say "less a few seconds"?
                      Some of you might not realize that Earth does not rotate on an exact 24 hour cycle. It takes 23 hours, 56 minutes, 4.2
                      seconds for the earth to rotate completely 360 degrees. That means that over 4 years there's enough seconds that we have
                      lost to add up to an entire day. So we've lost an entire day of seconds every four years. That's why we have Leap year,
                      to add that extra day to get us back in sync with the earth's rotation. Although the the earth's cycle is fairly stable,
                      humans have a hard time keeping our cycle from being disrupted. Let's take jet lag for instance. Jet lag occurs because
                      we throw off our cycle by adding or subtracting hours from our day. It is easier to recover when we add hours to a day.
                      So, if you fly from North Carolina on the East Coast to LA on the West Coast, you're actually adding 3 hours to your
                      day. That's pretty easy to handle, you can do it. You get your 8 and a half hours of sleep and wake up fine the next
                      day. But, when you take 3 hours away, when you go from LA back to North Carolina, then you have a much harder time recovering
                      because you've lost 3 hours in your day. You will most likely not get your 8 hours of sleep. Sleep debt is built up for
                      every hour you do not get the sleep you need. Most of us feel like we're tired all the time. Most of us know we don't
                      get 8 and half hours of sleep at night. We're lucky to get 6, sometimes even less than that.
                      <strong> Sleep debt </strong>is a deficiency caused by not getting the amount of sleep that one requires for "
                      <strong>optimal functioning</strong>".&nbsp; The only way to reduce sleep debt is to sleep more than your body normally requires.
                      Everyone of us is sleepy, but we do not have a huge sleep debt because we can function optimally. We can get the things
                      done that need to be done during the day. If we are so sleepy that we can't think straight, that we're making mistakes,
                      that we're stumbling, that we're dangerous to ourselves and others then we need more sleep. If we use a lot of heavy
                      or dangerous equipment like circular saws, or if we can't drive because we're falling asleep or we're not paying attention
                      to the stop signs or the traffic signals, then we are not functioning optimally and we have too great a sleep debt. &nbsp;
                      &nbsp;
                      <br>
                      <br> Another thing that could throw off our cycle is that some of us work shift work. It is difficult to go from day shift
                      to night shift and back again. We lose our rhythms. Our internal biological clocks are actually run by certain areas
                      of the brain. The Suprachiasmatic Nucleus or the SCN controls the body's
                      <span style="font-weight: bold;">circadian rhythm
                      </span> and is affected by sunlight. If somebody is thrown off of their circadian rhythm badly and really has a hard
                      time getting back into the 24 hour cycle of days and nights, you can shine a bright light into their eyes when they wake
                      up and it resets their Suprachiasmatic Nucleus. It puts them back into a rhythm. It's very simple to do. It's amazing
                      that there's a therapy that is so easy that you could just shine light in somebody's face as they wake up and it will
                      fix their brain patterns. In the brain both the Suprachiasmatic Nucleus and the basal ganglia control many of our internal
                      cycles.
                      <br>
                      <br> Without day and night cues we turn to a 24.5 hour cycle. In experiments we put people into a room with enough food and
                      enough entertainment to keep them going for many days without any outside interaction. We have the lights on all the
                      time so that they don't know if it's day or night. Without any day and night cues, these people tend to change their
                      circadian rhythm to 24
                      <strong>and a half </strong>hours. Our body adds an entire 30 minutes to our cycle. It appears that our bodies don't want to
                      be on a 24 hour cycle. Why? How could we possibly want to be on such a cycle if there is no such cycle? Earth is 24 hours
                      less a few seconds. Where is the clock 24 hours and 30 minutes? Turns out - nowhere. There isn't anywhere on earth where
                      there's a 24.5 hour cycle, but there is somewhere that it is 24.6 hours! The planet Mars has a 24 hours, 39 minutes,
                      and 35.244 seconds cycle. So the human cycle is closer to the cycle of Mars than of Earth. This has led to many science
                      fiction stories about how humans were created on Mars and came to earth later (from the garden of Eden???), but those
                      are just stories, no proof of that exists - accept - of course - our biological cycles!
                      <br>
                      <br> This next section is off the beaten path, but you might enjoy it.&nbsp; It is considered Pseudoscience, maybe less than
                      pseudoscience - however we can have some fun - have you heard of Bio Rhythms???
                      <strong style="text-decoration: underline;">
                          <div class="row">
                            <div class="col s12">
                              <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                  
                                  <span class="card-title">Select Your Birthday</span>
                                  <div class="row">
                                      <div class="input-field col s12 m6">
                                          <select name="var_m1" id="m">
                                              <option value="1">Jan</option>
                                              <option value="2">Feb</option>
                                              <option value="3">Mar</option>
                                              <option value="4">Apr</option>
                                              <option value="5" selected="selected">May</option>
                                              <option value="6">Jun</option>
                                              <option value="7">Jul</option>
                                              <option value="8">Aug </option>
                                              <option value="9">Sep</option>
                                              <option value="10">Oct</option>
                                              <option value="11">Nov</option>
                                              <option value="12">Dec</option>
                                          </select>
                                      </div>
                                      <div class="input-field col s12 m6">
                                          <select name="var_d1" id="d">
                                              <option value="1">1</option>
                                              <option value="2">2</option>
                                              <option value="3">3</option>
                                              <option value="4">4</option>
                                              <option value="5">5</option>
                                              <option value="6">6</option>
                                              <option value="7">7</option>
                                              <option value="8">8</option>
                                              <option value="9">9</option>
                                              <option value="10">10</option>
                                              <option value="11">11</option>
                                              <option value="12">12</option>
                                              <option value="13">13</option>
                                              <option value="14">14</option>
                                              <option value="15" selected="selected">15</option>
                                              <option value="16">16</option>
                                              <option value="17">17</option>
                                              <option value="18">18</option>
                                              <option value="19">19</option>
                                              <option value="20">20</option>
                                              <option value="21">21</option>
                                              <option value="22">22</option>
                                              <option value="23">23</option>
                                              <option value="24">24</option>
                                              <option value="25">25</option>
                                              <option value="26">26</option>
                                              <option value="27">27</option>
                                              <option value="28">28</option>
                                              <option value="29">29</option>
                                              <option value="30">30</option>
                                              <option value="31">31</option>
                                          </select>
                                      </div>
                                      <div class="input-field col s12 m6">
                                          <select name="var_y1" id="y">
                                              <option value="1938">1938</option>
                                              <option value="1939">1939</option>
                                              <option value="1940">1940</option>
                                              <option value="1941">1941</option>
                                              <option value="1942">1942</option>
                                              <option value="1943">1943</option>
                                              <option value="1944">1944</option>
                                              <option value="1945">1945</option>
                                              <option value="1946">1946</option>
                                              <option value="1947">1947</option>
                                              <option value="1948">1948</option>
                                              <option value="1949">1949</option>
                                              <option value="1950">1950</option>
                                              <option value="1951">1951</option>
                                              <option value="1952">1952</option>
                                              <option value="1953">1953</option>
                                              <option value="1954">1954</option>
                                              <option value="1955">1955</option>
                                              <option value="1956">1956</option>
                                              <option value="1957">1957</option>
                                              <option value="1958">1958</option>
                                              <option value="1959">1959</option>
                                              <option value="1960">1960</option>
                                              <option value="1961">1961</option>
                                              <option value="1962">1962</option>
                                              <option value="1963">1963</option>
                                              <option value="1964">1964</option>
                                              <option value="1965">1965</option>
                                              <option value="1966">1966</option>
                                              <option value="1967">1967</option>
                                              <option value="1968">1968</option>
                                              <option value="1969">1969</option>
                                              <option value="1970">1970</option>
                                              <option value="1971">1971</option>
                                              <option value="1972">1972</option>
                                              <option value="1973">1973</option>
                                              <option value="1974">1974</option>
                                              <option value="1975">1975</option>
                                              <option value="1976">1976</option>
                                              <option value="1977">1977</option>
                                              <option value="1978">1978</option>
                                              <option value="1979">1979</option>
                                              <option value="1980">1980</option>
                                              <option value="1981">1981</option>
                                              <option value="1982">1982</option>
                                              <option value="1983">1983</option>
                                              <option value="1984" selected="selected">1984</option>
                                              <option value="1985">1985</option>
                                              <option value="1986">1986</option>
                                              <option value="1987">1987</option>
                                              <option value="1988">1988</option>
                                              <option value="1989">1989</option>
                                              <option value="1990">1990</option>
                                              <option value="1991">1991</option>
                                              <option value="1992">1992</option>
                                              <option value="1993">1993</option>
                                              <option value="1994">1994</option>
                                              <option value="1995">1995</option>
                                              <option value="1996">1996</option>
                                              <option value="1997">1997</option>
                                              <option value="1998">1998</option>
                                              <option value="1999">1999</option>
                                              <option value="2000">2000</option>
                                              <option value="2001">2001</option>
                                              <option value="2002">2002</option>
                                              <option value="2003">2003</option>
                                              <option value="2004">2004</option>
                                              <option value="2005">2005</option>
                                              <option value="2006">2006</option>
                                              <option value="2007">2007</option>
                                              <option value="2008">2008</option>
                                              <option value="2009">2009</option>
                                              <option value="2010">2010</option>
                                              <option value="2011">2011</option>
                                              <option value="2012">2012</option>
                                              <option value="2013">2013</option>
                                              <option value="2014">2014</option>
                                              <option value="2015">2015</option>
                                              <option value="2016">2016</option>
                                              <option value="2017">2017</option>
                                              <option value="2018">2018</option>
                                              <option value="2019">2019</option>
                                              <option value="2020">2020</option>
                                              <option value="2021">2021</option>
                                              <option value="2022">2022</option>
                                              <option value="2023">2023</option>
                                              <option value="2024">2024</option>
                                              <option value="2025">2025</option>
                                              <option value="2026">2026</option>
                                              <option value="2027">2027</option>
                                          </select>
                                      </div>
                                  </div>
                                  
                                  
                                  <blockquote>
                                    Select your birthday information and click "Show me my biorhythm".
                                    <br>Your information is not saved nor is it passed anywhere.
                                    <br>Turn your phone to landscape to see the entire graph at one time.
                                  </blockquote>
                                  <div class="row">
                                      <br>
                                      <strong>
                                      </strong>
                                      <center>
                                          <strong>
                                              <i>
                                                  <span style="color:red; float:left;"> Physical </span>
                                                  <span style="color:blue;"> Emotional </span>
                                                  <span style="color:black;float:right;"> Intellect </span>
                                              </i>
                                          </strong>
                                      </center>
                                  </div>
                                  <div id="bd" style="width:100%;height:350px;display:none;">
                                      <br>
                                  </div>
                                  <div id="calendars"> </div>
                                </div>
                                <div class="card-action">
                                  <button id="cz" class="btn waves-effect waves-light" type="submit" name="action">Show me my biorhythm
                                    <!-- <i class="material-icons right">send</i> -->
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                         

                          <script language="JavaScript" type="text/javascript">
                              $("#cz").click(function numbers() {
                                $('#bd').css('display','block');

                                  td = new Date();
                  
                                  by = $("#y").val();
                                  bm = $("#m").val();
                                  bd = $("#d").val();
                  
                                  bdd = new Date(by, bm - 1, bd);
                                  var od = 1000 * 60 * 60 * 24;
                                  var dsb = Math.ceil((td.getTime() - bdd.getTime()) / (od)) - 1;
                                  var nd = 30;
                                  var wp = new Array();
                                  var we = new Array();
                                  var wi = new Array();
                                  var dy = new Array();
                  
                  
                                  for (var i = 0; i < nd; i++) {
                                      wp.push([i + 1, Math.sin(2 * Math.PI * (dsb + i) / 23) * 100]);
                                      we.push([i + 1, Math.sin(2 * Math.PI * (dsb + i) / 28) * 100]);
                                      wi.push([i + 1, Math.sin(2 * Math.PI * (dsb + i) / 33) * 100]);
                  
                                      to_d = td.getDate();
                                      dy.push([i, to_d]);
                                      td.setTime(td.getTime() + 86400000);
                                  }
                  
                                  $(document).ready(function ploter() {
                                      $.plot($("#bd"), [{
                                              data: wp,
                                              color: ["red"],
                                          },
                                          {
                                              data: we,
                                              color: ["blue"],
                                          },
                                          {
                                              data: wi,
                                              color: ["black"],
                                          },
                  
                                      ], {
                                          series: {
                                              lines: {
                                                  show: true
                                              },
                                          },
                                          xaxis: {
                                              ticks: dy,
                                          },
                                          yaxis: {
                                              ticks: 10,
                                              min: -110,
                                              max: 110
                                          },
                                          grid: {
                                              backgroundColor: {
                                                  colors: ["#fff", "#eee"]
                                              },
                                          },
                                      });
                  
                                      $(".h").css("display", "none");
                                      $(".s").css("display", "block");
                                      sg();
                                  });
                              });
                  
                              function cd() {
                                  var weekday = new Array(7);
                                  weekday[0] = "Sunday";
                                  weekday[1] = "Monday";
                                  weekday[2] = "Tuesday";
                                  weekday[3] = "Wednesday";
                                  weekday[4] = "Thursday";
                                  weekday[5] = "Friday";
                                  weekday[6] = "Saturday";
                                  return weekday[bdd.getDay()];
                              }
                  
                              function sg() {
                                  var s = 1901;
                                  if (bm == 1 && bd >= 20 || bm == 2 && bd <= 18) {
                                      z = "Aquarius";
                                  }
                                  if (bm == 1 && bd > 31) {
                                      z = "Huh?";
                                  }
                                  if (bm == 2 && bd >= 19 || bm == 3 && bd <= 20) {
                                      z = "Pisces";
                                  }
                                  if (bm == 2 && bd > 29) {
                                      z = "Huh?";
                                  }
                                  if (bm == 3 && bd >= 21 || bm == 4 && bd <= 19) {
                                      z = "Aries";
                                  }
                                  if (bm == 3 && bd > 31) {
                                      z = "Huh?";
                                  }
                                  if (bm == 4 && bd >= 20 || bm == 5 && bd <= 20) {
                                      z = "Taurus";
                                  }
                                  if (bm == 4 && bd > 30) {
                                      z = "Huh?";
                                  }
                                  if (bm == 5 && bd >= 21 || bm == 6 && bd <= 21) {
                                      z = "Gemini";
                                  }
                                  if (bm == 5 && bd > 31) {
                                      z = "Huh?";
                                  }
                                  if (bm == 6 && bd >= 22 || bm == 7 && bd <= 22) {
                                      z = "Cancer";
                                  }
                                  if (bm == 6 && bd > 30) {
                                      z = "Huh?";
                                  }
                                  if (bm == 7 && bd >= 23 || bm == 8 && bd <= 22) {
                                      z = "Leo";
                                  }
                                  if (bm == 7 && bd > 31) {
                                      z = "Huh?";
                                  }
                                  if (bm == 8 && bd >= 23 || bm == 9 && bd <= 22) {
                                      z = "Virgo";
                                  }
                                  if (bm == 8 && bd > 31) {
                                      z = "Huh?";
                                  }
                                  if (bm == 9 && bd >= 23 || bm == 10 && bd <= 22) {
                                      z = "Libra";
                                  }
                                  if (bm == 9 && bd > 30) {
                                      z = "Huh?";
                                  }
                                  if (bm == 10 && bd >= 23 || bm == 11 && bd <= 21) {
                                      z = "Scorpio";
                                  }
                                  if (bm == 10 && bd > 31) {
                                      z = "Huh?";
                                  }
                                  if (bm == 11 && bd >= 22 || bm == 12 && bd <= 21) {
                                      z = "Sagittarius";
                                  }
                                  if (bm == 11 && bd > 30) {
                                      z = "Huh?";
                                  }
                                  if (bm == 12 && bd >= 22 || bm == 1 && bd <= 19) {
                                      z = "Capricorn";
                                  }
                                  if (bm == 12 && bd > 31) {
                                      z = "Huh?";
                                  }
                  
                                  var x = (s - by) % 12;
                                  if (x == 1 || x == -11) {
                                      c = "Rat";
                                  }
                                  if (x == 0) {
                                      c = "Ox";
                                  }
                                  if (x == 11 || x == -1) {
                                      c = "Tiger";
                                  }
                                  if (x == 10 || x == -2) {
                                      c = "Rabbit";
                                  }
                                  if (x == 9 || x == -3) {
                                      c = "Dragon";
                                  }
                                  if (x == 8 || x == -4) {
                                      c = "Snake";
                                  }
                                  if (x == 7 || x == -5) {
                                      c = "Horse";
                                  }
                                  if (x == 6 || x == -6) {
                                      c = "Sheep";
                                  }
                                  if (x == 5 || x == -7) {
                                      c = "Monkey";
                                  }
                                  if (x == 4 || x == -8) {
                                      c = "Cock";
                                  }
                                  if (x == 3 || x == -9) {
                                      c = "Dog";
                                  }
                                  if (x == 2 || x == -10) {
                                      c = "Boar";
                                  }
                                  wd = cd();
                  
                                  var t = "<i>Sun Sign: </i><b>" + z + "</b><i>. Chinese Sign: </i><b>" + c +
                                      "</b>.<br /><i>You were born on a </i><b>" + wd + "</b>.<br /><br />";
                                  $("#calendars").html(t);
                              }
                          </script>
                  
                  
                      </strong>
                      <br>Since we are talking about rhythms, let's talk about bio-rhythms.&nbsp;&nbsp; We know that we live within rhythms and
                      cycles.&nbsp; We know that this is a physical attribute. The idea of rhythms goes back to the beginning of historical
                      records.&nbsp; However, the idea of that we could separate of rhythms by emotion and intelligence dates back to the early
                      1900s.&nbsp; Who came up with the notion, a patient of Sigmund Freud - A patient!&nbsp; Just like we sleep in a cycle,
                      supposedly your intelligence can vary from good to bad based on a cycle. These cycles start when you are born.&nbsp;
                      Why not when you are conceived and begin your life journey?&nbsp; The idea caught on and took a life of its own.&nbsp;
                      Consumerism drive it in the 1970's when there were many methods derived to get the consumer's money based on biorhythms.
                      &nbsp; According to this idea your emotional intelligence is also based on a cycle as is your physical stamina and health.&nbsp;
                      Each of the three types of rhythms (emotional, physical and intellect) complete a full cycle at different lengths of
                      days.&nbsp; So there are times when you would have triple peak times and triple negative times, but they are rare.&nbsp;
                      A critical day is defined as when any line crosses the mid-line.&nbsp; Triple critical days occur about once a year.
                      <br>
                      <br>The theory is specific enough that it can be tested.&nbsp; It was tested by dozens of researchers who found the idea
                      to be valid.&nbsp; Remember the difference between validity and reliability!&nbsp; It is certainly reliable!&nbsp; It
                      is based on a mathematical formula.&nbsp;&nbsp; However, the research that&nbsp; gave any credibility to biorhythms was
                      evaluated in 1998 and and found to be invalid for numerous reasons. Some people noticed that when President Kennedy was
                      shot, he was in a critical zone, so it was a very bad time for him to be shot, as if there was a good time to be shot!&nbsp;
                      Clark Gable's deadly heart attack was predicted to be on a double critical day - and that is when it happened.&nbsp;&nbsp;
                      The evidence is anecdotal because they are either&nbsp; - after the fact - or single predictions that came true.&nbsp;
                      Many other predictions did not come true and coincidence will certainly show "evidence" if you have the ability to apply
                      the math against all of history.&nbsp;
                      <br>
                      <br>Charts should include your date of birth and TIME of birth, so the chart I placed in this lecture is not completely accurate,
                      but then, the whole idea has issues.&nbsp; Enter your birth date and click "show me my biorhythm".
                      <br>
                      <br>Now let us turn our attention to sleep and dreaming. Everybody sleeps. There are some people who have a very hard time
                      sleeping. One type of very rare disorder is called
                      <span style="font-weight: bold;">Fatal familial insomnia</span> and as its name implies it leads to death (fatal) from an inability to sleep (insomnia).
                      The gene responsible for this disease is the PRNP gene on chromosome 20 and it is a dominant genetic disorder.&nbsp;
                      We will talk about insomnia a little later. This disease leads to hallucinations, delirium, dementia and eventual death.
                      <br>
                      <br>Most people can sleep, and most people will say that they dream. Rapid Eye Movement, also called
                      <span style="font-weight: bold;">REM</span>
                      (R-E-M for Rapid Eye Movement) occurs at different times during sleep. 80% of people that are awakened when their eyes start
                      to move while they're sleeping report that they're dreaming. So, REM during sleeping is considered to be the dreaming
                      part of sleep. The
                      <span style="font-weight: bold;">Non-REM</span> (NREM) sleep is when you're sleeping and your eyes are not moving - which occurs during the majority of
                      sleep. When people are woken from Non-REM sleep, a small number of them do report that they were dreaming. So, dreaming
                      has been reported in Non-REM sleep, but it's much less often than during REM sleep. Maybe those who report dreaming when
                      they are awakened during NREM are just remembering the last dream episode they had in REM. It could just be a memory
                      problem. The point is we can't say specifically or definitely that REM sleep is the
                      <em>only
                      </em>time that you dream, Non-REM (NREM) sleep also seems to have some dreaming associated with it. Have you ever noticed
                      cats and dogs when they're dreaming? Their skeletal muscles are still active while they sleep. You can watch them. We
                      make up stories about them. I have a number of cats. When they're sleeping I'll say they're chasing mice or they're chasing
                      rabbits. For dogs we say they are running through the fields.&nbsp; In any case, they can move during their dream period
                      - if they are actually dreaming. That highlights a big problem in animal Psychology. We don't know if animals dream.
                      We can only assume it!
                      <br>
                      <br> In humans
                      <strong> Sleep paralysis</strong> occurs during REM sleep. When you are in REM sleep, your bodies muscles are immobilized. Not
                      all of your muscles, your autonomic nervous system is functioning. Your heart is a muscle, and if it was immobilized
                      you would die, so the autonomic nervous system is working fine. All your skeletal muscles are immobilized while you are
                      in REM sleep, while you are dreaming. Have you ever woken up from a dream and you felt like you had fallen into bed and
                      you jerk awake? Well, that's because your muscles are becoming reactivated as you're waking up. Your body jerks as the
                      muscles become active and you have an entire dream around that one little jerk. There are other people who's muscles
                      do not reanimate as rapidly and they awaken and are still paralyzed. This is not an obscure issue, lots of people have
                      this problem. It is scary the first time it happens, but it is a possible part of the human condition.
                      <strong>REM rebound </strong>is when we stay in REM for a much longer period of time after being denied REM sleep. In experiments
                      we will wake the subject up every time their eyes start moving - when they enter REM. In other words, we refuse to let
                      them dream. We refuse to let them have Rapid Eye Movement. We are specifically not allowing their Rapid Eye Movement
                      to occur. When we do this, when we deprive somebody of REM, the next time that we let them stay in REM, the REM state
                      is much longer than normal. Without enough REM sleep our long term memory becomes less efficient, so we need REM sleep.
                      Our body wants it so badly that when we are deprived of REM we have a REM rebound. Science Fiction shows use this often.
                      There was a Star Trek episode where the whole crew couldn't dream, and they all became a little crazy because of it.
                      Now, you won't go crazy, but your long term memory becomes a lot less efficient when you don't have enough REM sleep.
                      You may have weight issues if you do not get enough REM sleep. Coping skills, reflexes and ability to withstand pain
                      may also be affected by a lack of REM sleep.
                      <br>
                      <br> So, what is the function of sleep? We know that our long term memory will be affected without REM, but we also know
                      that we need to conserve our energy and sleeping conserves that energy. We need to restore and repair the body. We have
                      neurotransmitters that are only affected by sleep. We have neuron sensitivity that needs to be reset. So, when we're
                      sleeping, there are certain parts of the brain that are destroying certain chemicals in the body, there are parts of
                      the brain that are active when you're sleeping that aren't active while you're awake. We need sleep to restore our body.
                      We need to flush out useless information from the brain and this is what some people think dreams are for, to flush out
                      all that useless information through our dreams. We may sleep simply because it was adaptive. Our bodies are adapted
                      to it. In other words, those of our ancestors who slept at night, survived and reproduced better. Therefore we sleep
                      because our ancestors slept and they were able to survive because they slept. Those people who didn't sleep didn't survive
                      as well, didn't reproduce as well, and so today we're not descended from the people who couldn't sleep. We are descended
                      from those who could. Sleep deprivation is when we don't allow a person to sleep. We just talked about not allowing someone
                      to enter REM sleep, specifically, but what if you stop ALL sleep. Complete sleep deprivation reduces the effectiveness
                      of our immune systems. We can catch colds faster. Viruses and bacteria can invade us easier because our immune system
                      isn't working as well. Lack of sleep causes irritability and unhappiness. It causes reduced vigilance, a loss of recall
                      - the inability to pull information out of your memory. It creates hallucinations and it depletes your vital energy reserves.
                      You need to conserve energy, you need to reestablish and restore energy, and if you don't sleep, it depletes those vital
                      energy reserves. The energy reserves are there to help you fight the bacteria and the infections, the cuts and the bruises.
                      Along with the our immune system's reduced effectiveness, we don't have any extra energy to help the immune system, to
                      fight all those problem. We definitely need sleep.
                      <br>
                      <br> There are specific reasons we may not get proper sleep and we call these
                      <strong>sleep disorders. </strong>I said that there are some people who have a difficult time getting to sleep which is called
                      <span style="font-weight: bold;">insomnia</span>. Some people fall asleep for a few seconds and then wake back up again, that's part of the insomnia disorder.
                      Insomnia is also the inability to fall asleep quickly. When you lay in bed and your brain just keeps on going and going,
                      that is a type of insomnia. Frequent arousal at night are part of Insomnia. Insomniacs wake up over and over and over
                      during the night. It occurs so often that they are not getting into a deep sleep, and we'll talk about what deep sleep
                      is in the next lecture. There are also people who sleep for a very short period of time and then wake up and cannot go
                      back to sleep. Insomnia is the most common sleep disorder. The next disorder is sleep apnea.
                      <strong>Sleep apnea
                      </strong> is a respiratory disease. It's a respiratory disorder in which a person intermittently, which means every once
                      in a while, stops breathing while they're asleep. How can hold your breath. These people stop breathing that long during
                      sleep, and it happens over and over during the night. This disorder is very common among premature infants and may be
                      one of the causes for
                      <span style="font-weight: bold;">SIDS</span>, which stands for Sudden Infant Death syndrome. To overcome this problem, some adults use a device that pumps
                      air into their lungs during the night. My father-in-law has this device and so do I. It allows us to sleep through the
                      night without waking up all the time because we are suffocating. Your body gets real real upset with you if you do not
                      breath! You'll have nightmares to wake yourself up and start breathing again. You will be gasping for breath as you wake
                      up. Sleep apnea is fairly common and there are different levels of sleep apnea. It could be that part of insomnia is
                      related to people who have sleep apnea. Another type of sleep disorder is called
                      <span style="font-weight: bold;">Narcolepsy </span>- when you fall asleep at inappropriate times, accompanied by what is called
                      <strong>cataplexy
                      </strong>which is s a sudden loss of muscle control that occurs just before the person falls asleep. So a person with
                      Narcolepsy loses muscle control before they fall asleep. They know they are about to pass out, but they can't stop it.
                      It is a waking form of sleep paralysis, remember sleep paralysis is when your skeletal muscles are paralyzed when you're
                      in REM sleep. In a 1999 movie there was a lady who had Narcolepsy. She would fall asleep at inappropriate times. In one
                      of the scenes in the movie she's bowling and she falls asleep as she releases the ball, and she and the ball end up going
                      down the alley together. Now that sounds very funny but it is a very dangerous condition. If you're driving a car and
                      you fall asleep, you're in big trouble.
                      <strong></strong>
                      <br>
                      <br>
                      <span class="flow-text">
                          <span class="flow-text">That's it for this lecture.
                              <br> I’m going to stop here. It's time for a break guys, and gals. Go get a cup of coffee.
                              <br> Go do something other than study (maybe play the hangman game).
                              <br> There is one crossword puzzle for the entire unit,
                              <br> but the hangman games are made for each slide.
                              <br> Take 15 minutes or so before you go to the next slide.
                              <br> Distributed learning is the best learning.
                              <br> We will continue the study of the States of Mind in the next lecture.
                              <br>
                          </span>Talk with you then.
                          <br>
                          <br>
                      </span>
                      <span class="flow-text"> </span>
                  </div>
              </p>
            </div>
          </div>
        </div>