<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Pathology (3)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Pathology-crazy.mp3"
                                title="Gnarles Barkley - Crazy">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
                
            
                Welcome back to lecture three of Pathologies.&nbsp;
                <br> We ended the last lecture discussing Anxiety - specifically Phobias.
                <br>
                <br> There is a list of phobias on-line. Some of the Types of Phobias are: Agoraphobia – the Fear of public places/open spaces.
                Acrophobia – the Fear of Heights Arachnophobia - Fear of Spiders Agraphobia - Fear of sexual abuse (think aggravated
                assault). There are thousands of them! You may laugh at some – like the fear of the color red – but it is not funny to
                the person experiencing this disorder! They need help…. You can find the list at
                <a title="Link to a list of phobias"
                    href="http://psych.techscholia.com/book/Mchapters/www.phobialist.com">www.phobialist.com</a>
                <br>
                <br> The “
                <strong>Preparedness hypothesis</strong>” is the notion that we have an innate tendency to respond quickly and automatically
                to stimuli that posed a survival threat to our ancestors. In the ancient past there may have been people who were not
                afraid of snakes. They would see a snake and pick it up. Eventually they would play with the wrong snake (a poisonous
                one), get bit and die. Another group of people may have been afraid of snakes and avoided them. Something in their genes
                made them fear creepy crawly things. They never played with snakes and lived longer and had more children than the ones
                who died. If the fear of snakes was genetic then their children would also be afraid of snakes. This would explain why
                we are afraid of snakes and lightning but not afraid of automobiles and electrical sockets which cause more harm in our
                present world. Will we then develop a world of people who are afraid of cars? I doubt it, because the human race has
                found a way to avoid the survival of the fittest. If drugs, hospitals, emergency services and machines broke down, then
                we might fall back into the Darwinian pattern, but right now, almost all of us survive and pass on our defective genes
                to the next generation who also survive in spite of our failings. The brain mechanism most associated with anxiety is
                probably the Amygdala. I would hazard to say that it is a good thing for us to be afraid of "NEW" events or objects in
                our environment. Caution allows us to evaluate the situation before getting into trouble.
                <br>
                <strong>
                    <br> Obsessive-compulsive disorder</strong> (OCD) is also a form of anxiety. It is a condition characterized by patterns
                of persistent, unwanted thoughts and behaviors. The thoughts are the obsession and the behavior is the compulsion, so
                it is really two disorders in one. People can have obsessive thoughts without the behaviors and behaviors without the
                thoughts. 2.5% of US citizens have this disorder and there appears to be a genetic link. Tics are found in people with
                OCD. This is not the blood sucking little animal we get while walking in the woods. Tics are uncontrolled movements or
                vocalizations. Most of you will have experienced muscles in your eyelids ticking. It feels like the entire world can
                see the twitching of your muscle in your eye. But truly, no one notices until you cover your eye with your hand. THEN
                everyone asks you “what’s the matter?” The twitching is annoying. Imagine having an involuntary movement that is very
                large and very visible to the population. This is the symptom of Turrets Syndrome. It is not fun! Worse are the uncontrolled
                vocalizations which are usually items we are told we should not repeat – like four letter words – you know what I mean!
                It is almost as if the mechanism in the brain that we use to suppress our thoughts is reversed in people with Tourette's
                syndrome!
                <br>
                <br>
                <strong>Somatoform </strong>disorders are Psychological problems appearing in the form of bodily symptoms or physical complaints.
                They are Psychogenic Disorders because they have no apparent biological cause. One specific type is called a Conversion
                disorder which Is a Somatoform disorder marked by paralysis, weakness, or loss of sensation, but with no discernible
                physical cause.
                <br>
                <br> One type of conversion disorder is called Glove anesthesia. A client will describe that their hand appears to be dead.
                You can ask them to place their hands behind their back and stick the dead hand with a pin and the client does not feel
                anything. But if you stick anywhere on their arm, they feel the pain. That should not happen. For instance: if the thumb
                is dead to pain then biologically the arm on the same side should also be dead. So, there is no logical biological reason
                for the thumb to be dead, but not the arm. That is what makes this a psychogenic disorder. We can describe a method in
                which this could happen. Sensations come from the brain. If the brain for a specific region of the body stops responding,
                then you could get the condition that this client describes. But it is not a nervous system disorder. It is a Neuron
                (brain) disorder. Again, this makes it psychogenic.
                <br>
                <br>
                <strong>Hypochondriasis </strong>is a somatoform disorder involving excessive concern about health and disease. You have all
                probably heard of someone being called a hypochondriac. This is a person who surfs the web looking at different diseases
                thinking they have every one of them because they have a symptom or two of a disease that requires multiple symptoms.
                People with EBOLA have a fever – I have a fever – OMG I have EBOLA! This is different than a malingerer who uses disease
                as an excuse to do nothing. Every time they are supposed to do a task they have some disease that prevents them from
                accomplishing the task. You want me to move boxes? I can't, because I hurt my back yesterday! That's a malingerer. Most
                hypochondriacs will work - even though they are convinced they are sick.
                <br>
                <br> Now we come to the Dissociative disorders. These issues are a group of pathologies involving “fragmentation” of the
                personality. They include Amnesia, Dissociative fugue, depersonalization disorder and dissociative identity disorder.
                <br>
                <br>
                <strong>Amnesia </strong>is a loss of memory for personal information. Usually this is anterograde but sometimes we see retrograde.
                <strong> Anterograde </strong>is the inability to place new memories into your brain. The hippocampus may be damaged in this case,
                because it is responsible for making permanent memories. All the memories you already have are still there, but you cannot
                create new memories. We already talked about the movie "50 first dates" in another lecture. That movie was not reality,
                however there was a character called "Ten second Tom" who portrays this issue. As we saw in the memory unit "Clive Wearing"
                is the perfect example of what really happens to a person when they can no longer create new memories.
                <strong>Retrograde </strong>is the loss of the memories you already have. It is not easy to lose memories in a healthy brain.
                Retrograde is part of the process of Alzheimer’s and vascular dementia, but a healthy brain should not lose memories.
                If a person hits their head very hard then the shock may cause the brain not to function properly for a short period,
                but getting shot in the back should not make you forget who you are! In the movie the "The Bourne Identity" the lead
                character gets shot in the back and falls off a boat into the ocean. He loses his memories of who and what he is. This
                would not happen in reality, unless he hit his head when he fell into the ocean!
                <br>
                <br>
                <strong>Dissociative fugue</strong> is amnesia with the addition of “flight” from one’s home, family, and job. In this case it
                is usually retrograde amnesia. High Stress or alcohol may contribute to this condition. It does seem to be related to
                some impairment of the brain. Curiously, you can read something into the definition given for Dissociative Fugue. Notice
                that the person is lost and does not know who they are or where they work or live, but they are usually found heading
                AWAY from those locations. In other words, they actually do know and they are escaping!
                <br>
                <br>
                <strong>Depersonalization Disorder</strong> is an abnormality involving the sensation of mind and body having separated. There
                is an old religious argument that our souls live within our bodies. We are not our bodies. We are our souls. So, if our
                soul was placed in another body, we would look at ourselves in a mirror and think “That’s not me!”. This actually happens.
                Not the “soul” part – I can’t even confirm we have such a thing as a soul – but people do wake up and think, “this is
                wrong”. “This is not me”! Also, the proprioceptors in a specific area of their body may stop functioning. If you have
                no feedback from a body part, it seems like it is not your own! In a book by Oliver Sacks called “The man who mistook
                his wife for a hat” doctor sacks tells the story of a person who woke up one day with someone’s leg in the bed with him.
                Like the movie the Godfather and the horse head, he freaked out and threw the leg out of the bed. The problem was it
                was his and attached to him so he threw himself out of bed. It sounds humorous, but it isn’t to the person who no longer
                recognizes his own leg. By the way that book is fascinating and easy reading if you want to know more about how specific
                damage to the brain effects specific behaviors and thoughts. Robin Williams played the real life doctor Oliver Sacks
                in the 1990 movie Awakenings. It was Oliver Sacks first job out of medical school and he found coma patients in a mental
                ward who did not act like typical coma patients. He found a way to wake them up out of their comas, only to find – like
                the book Flowers for Algernon that they became habituated to the drug and they slowly reverted back to the coma stage.
                Ultimately we can define an Out of body experience (Astral Projection) as a depersonalization disorder. Some people describe
                that they can separate from their bodies and float free. When they return to their bodies they describe events that happened
                around them. Some report going far away from their bodies. The United States government spent millions of dollars researching
                this. Can you guess why…… let me add that the Russians also spent millions of dollars research this. Now can you guess
                why?..... Let me tell you why. If a soldier could go to sleep in the pentagon and separate from his body and float over
                to the Kremlin and listen to everything that was said and then wake up and tell the U.S. military what they heard, you
                would have the perfect spy. Well, neither the US nor the Russians are spending money on this any longer. Can you guess
                why? Most of my students will say “because they found out it is bunk. No one can do that.” I like to be controversial
                so let me say that every single one of our embassies have counter espionage equipment installed so that agents of the
                government of the country in which the embassy resides cannot listen in on the conversations happening in our embassies.
                So, what if, during the research on astral projection, they found a way to prevent it? No more need to study it! I really
                try to let you have some fun in this class!!
                <br>
                <br>
                <strong>Dissociative identity disorder</strong> may be one of my favorite pathologies. It is a condition in which an individual
                displays multiple identities. This is usually confused with schizophrenia (which is a split from reality) by the general
                population. It may seem to you that a person acting as if they have two people inside themselves is not facing reality
                – so it should be considered a part of schizophrenia, but each of the personalities knows what time it is, what year
                it is, who the president is , who our friends and enemies are and how money and business works. Each personality is rooted
                in reality. Schizophrenics are not! This condition usually occurs within women and normally presents with more than two
                identities. There is a lot of controversy over this condition. Many psychologists do not believe that it is truly two
                identities while others do. What does it matter? Treating a person who presents as “Dissociative identity disorder” helps
                them. Helping them is what counts. The split usually appears in childhood as a defense to protect the person from a terrifying
                event. In the 1976 movie “Sybil”, Sally Fields plays one of the most well-known and documented split personality patients
                in the United States. There is a question about whether she actually had this disorder or not, but it makes for an interesting
                case. When Sybil was 4 years old her grandmother died and when she and her mother attend the funeral her mother picked
                her up, laid her on her grandmother’s cold dead body in the casket and told her to kiss her grandmother goodbye. That
                would freak out any child. It freaked her out so badly that her mind created another personality to deal with the situation.
                
                <br> Another great Hollywood movie portraying dissociative identity disorder is the 2003 movie “Identity”.
                <br> Here is the official trailer for Identity:
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/6rLL8aj-Ntc" width="853" height="480" frameborder="0" gesture="media" allowfullscreen=""></iframe>
                </div>
                <br> In this movie people are dying at a motel, but the bodies keep disappearing!
                <br> Everyone has the same birthday which connects them all together.
                <br> In fact - the people in the hotel are all - - -&nbsp;
                <br> (well SPOILERS: if you want to know click or mouse over here!)
                
                <br>
                <br>
                <br>
                <br> It's time for a break guys, and gals.
                <br> Go get a cup of coffee.
                <br> Go do something other than study (maybe play the hangman game).
                <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                <br> Take 15 minutes or so before you go to the next slide.
                <br> Distributed learning is the best learning.
                <br> We will continue the study of the Psychopathology in the next lecture.
                <br> Talk with you then.
                <br>
                <br>
                <br>
            </div>
        </p>
    </div>
    </div>
</div>