<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Pathology (5)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Pathology_hurt.mp3"
                                title="Johnny Cash - Hurt">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
                
            
                Many years ago I was in a TV movie with Johnny Cash.&nbsp; He was a very nice man.
                <br> Welcome back to the last lecture in Psychopathologies. We were talking about Schizophrenia at the end of the last lecture.
                <br>
                <br>
                <div class="col s12 m5">
                    <div class="card">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Rv0b1unxUpM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                        <center>“Discovery Channel” documentary
                                <br> Schizophrenia:
                                <br> Stolen minds, Stolen lives</center>
                    </div>
                </div>
                <!-- <div class="images" style="float:left;">
                    <div style="width:320px; ">
                        <div style="border: 2px solid green;padding:10px;">
                            <iframe src="https://youtu.be/Rv0b1unxUpM" allowfullscreen="" frameborder="0" height="315" width="300"></iframe>
                            <br>
                            
                        </div>
                    </div>
                </div> -->
                <strong>
                    <br> Schizophrenia </strong>has a genetic basis. We can look at the concordance rate of the disease. A
                <mark>
                    <strong>concordance rate</strong>
                </mark>
                is the percentage of relatives who show the same trait. A child of a parent with schizophrenia has a 15% better chance than
                the regular population of getting the disease. With two parents diagnosed the child has a 40% greater chance of developing
                schizophrenia than the normal population. An identical (monozygotic twin) with the disease only gives the other twin
                a 50% better chance of acquiring the diagnosis the rest of the population. This shows that there is a genetic link, but
                that the environment also plays a role. I have included a link to a great 50 minute “Discovery Channel” documentary on
                YouTube about schizophrenia. The video has an interview with “John Nash” an Economics Nobel prize winner (who is also
                the subject of the 2001 Movie “A Beautiful Mind” starring Russell Crowe) and also talks to John Nash's son who is also
                is schizophrenic. The video also talks about two identical twins in England – one with the diagnosis and the other without
                it. Their mother was diagnosed with schizophrenia. It follows a number of other people as well. The information on the
                twins in England is specifically interesting because it shows the effect of the environment on acquiring the diagnosis.&nbsp;
                The twin without schizophrenia has a bigger brain than the twin with the diagnosis. You may ask, "don’t they have the
                same genetics? Shouldn't they have the same brain size?” In evaluating their life the doctors found that the birth of
                the older twin went well, but the younger twin was born a blue baby. His umbilical cord was kinked.&nbsp; The life in
                the womb between the two twins was very different. One got all the nutrients and oxygen he needed and the other did not.
                We also find that the twin with schizophrenia tried drugs prior to showing the first symptoms of the disease. He was
                already vulnerable to the disease because of the environment in which he developed in the womb and a mother with the
                disease. If you are susceptible to a health problem, you need to be more careful in life. Something in your environment
                which would not harm others might produce negative results for you.&nbsp;
                <br>
                <br>
                <br> The
                <mark>
                    <strong>Diathesis-stress hypothesis</strong>
                </mark>
                states that “Genetic factors place the individual at risk, but environmental stress factors transform this potential risk
                into an actual schizophrenic disorder”. This is true of any genetic potential. You are born with a potential to be smart
                or sick, then the environment will help or hinder the development of your potential. This is the Nature Vs. Nurture debate
                again! Consider this: While tranquilizers suppress active schizophrenia and are useful in the treatment of the disorder
                there are drugs (used in the past) that stimulate dopamine production in the brain which produces symptoms of schizophrenia.
                This is important to know because – in the past – patients came into the hospital for treatment of some disorder and
                were given these drugs. After a while taking the drugs the patients started acting like they had schizophrenia and were
                diagnoses with the disorder. We already found out that once you have been diagnosed with schizophrenia, doctors are reluctant
                to take back the diagnosis. You are stuck for life with a diagnosis simply because you were given a drug by the hospital
                for a different issue that produced the symptoms of schizophrenia. When you remove the drug, the symptoms disappear but
                the diagnosis remains.
                <br>
                <br> Now let’s move on to personality disorders. These are conditions involving a chronic, pervasive, inflexible, and maladaptive
                pattern of thinking, emotion, social relationships, or impulse control.
                <br>
                <br>
                <mark>
                    <strong>Narcissistic personality disorder</strong>
                </mark> is characterized by a grandiose sense of self-importance, a preoccupation with fantasies of success and power, and a
                need for constant attention. These people respond to criticism inappropriately. If you asked them if they got their hair
                cut (something we do on a regular basis to people we know) they would take it as an attack. They can also feel entitled
                to favors without any obligations. Their mind set is “You should feel privileged to have done something for somone as
                godlike as myself. To me you are meaningless, so I have no obligation to help you”. This makes it easy for them to exploit
                others, and they are unable to understand others feelings.
                <br>
                <br>
                <mark>
                    <strong>Antisocial personality disorder</strong>
                </mark> is characterized by a long-standing pattern of irresponsible behavior indicating a lack of conscience and a diminished
                sense of responsibility to others. Children may start out killing bugs and advance to torturing and then killing animals
                until they do the same to humans. Men are 4 X more likely to acquire this disorder. These types of people do not experience
                shame or intense emotions. Psychopaths or Sociopaths have this disorder and tend toward criminal behavior. 2 to 3 percent
                of the population has this disorder and those that are not criminals would probably do well in the senate, house of representative,
                oval office and in law firms. That’s a joke, but there is some truth to it. A defense attorney does not care if his client
                did the crime. It is the attorney’s responsibility to get his client off or reduce the sentence. The attorney needs to
                put doubt into the minds of the jury. An antisocial personality disorder could do this without regret. I could not live
                with myself if I thought I got a criminal off by my actions. There is a difference between sociopaths and psychopaths.&nbsp;
                A sociopath will try to upset you. If you are religious, a sociopath will verbally denigrate your religion. They will
                use warped logic and purposefully&nbsp; misrepresent truths to make you mad. When&nbsp; you get upset they will blame
                your emotions on you. The can form very loose bonds to groups and people.&nbsp; If they are outraged they can commit
                violent acts, but these will be spur of the moment acts of violence. Usually if a sociopath knows you, they will not
                harm you. A psychopath can not connect to others. They have a total lack of empathy,b ut they are very good at mimicking
                it.&nbsp; The meticulously plan their violence.&nbsp; They will wait till everyone is in church, lock it and set it on
                fire.
                <br>
                <br> There is an excellent example of a recent case with a murderer named Gary Ridgway. Imagine you are the prosecuting attorney
                in 2001 and you have Gary on a murder with undisputed DNA evidence and also suspect he committed two more, but you can
                not prove the other murders. You have enough proof on the first murder that there is no way the jury will have any doubt,
                and Gary is going to the electric chair for the murder. Gary’s defense attorney comes to the District Attorney and asks
                for the death sentence to be taken off the table. “Why would I do that?” the DA ask him. “I have him without any doubt
                for one murder and suspect him but only have circumstantial evidence on two other murders!” The defense attorney then
                asks; “If we could close some more murder cases for you, would you take the death sentence off the table”? Now, you and
                I might not think the same way as government officials.&nbsp; I want him dead, but the district attorney is interested
                in closing cases.&nbsp; There are families who want to know what happened to their loved ones.&nbsp; They want to retrieve
                the bodies and have a funeral to bring themselves some closure. So the DA asks him, “How many more are we talking?” And
                the defense says “ what if it’s twice as many? How many cases do you need to close to take the death sentence off the
                table?” The Da asks him, “Are we talking more than 8?” And the defense nods and says “more”. "More than 16"? Again the
                defense attorney nods his head. Gary was eventually convicted of more than 48 prostitute &amp; runaway murders. He says
                he killed
                <strong>
                    <span style="text-decoration: underline;">96</span>
                </strong>
                but could only lead the teams to 46 bodies, and he had
                <em>
                    <span style="text-decoration: underline;">No Remorse
                    </span>
                </em>! He thinks he did society a favor by getting rid of the prostitutes. His definition of a prostitute was any girl walking
                alone. So he murdered many women who were not prostitutes. When he learned this, he was not upset. They should not have
                been walking alone.
                <br>
                <br> Some people are relatively healthy individuals with a minor issue that they cannot resolve on their own. We call these
                people the worried well. Some issues that may cause a person to worry or feel anxious are: Mild depression, Marital problems,
                Physical complaints, Academic problems (something all students can relate to), Parent child issues, Bereavement, and
                Malingering
                <br>
                <br> Shyness is a distressing pattern of avoiding or withdrawing from social contact and it is not a DSM-IV disorder. If
                you can’t successfully navigate society and the feelings give you Personal Distress, then it can be classified and should
                be treated. But Shyness is then a symptom of the pathology. Shyness is not a pathology in and of itself.
                <br>
                <br> What happens when we label people? Ideally an accurate diagnosis can lead to proper treatments, but diagnoses may also
                become labels that depersonalize people and allows us to ignore the social and cultural contexts in which their problems
                arise Once labeled a person we feel a loss of responsibility toward that person. As if the labeling process concluded
                our responsibilities. “What is wrong with him?!” “He has schizophrenia.” “OH. Well, we found the problem and labeled
                them. Now we are done”. Instead we should look at the label as only the first part of our responsibility to another human
                being. Now that we know what is wrong, how can we make his life better? How can we act around him to make him more comfortable?
                What does he need to make his life easier?
                <br>
                <br>
                <strong>Diagnostic labels</strong> can also compound the problem. In many instances the prognosis occurs because of the labeling.
                For instance: My grandfather had cancer many years ago when there were very few options other than surgery. He went in
                for surgery. The surgeon came out of the operating room and told the family that the cancer was too invasive and to take
                it out would remove so many organs that he would die. He was given 6 months to live. The family told the surgeon to tell
                him they got the cancer and that he had to take medication because he had some of his colon removed. So, no one told
                him the prognosis. Twelve years later a new doctor told him he had cancer and had six months to live. Six months later
                my grandfather died. Telling a patient the prognosis affects the outcome. Once the mind accepts death, it comes quickly.
                <br>
                <br> The cultural context of mental disorder labeling is also an issue. When we label someone we treat them differently.
                When we treat them differently they behave differently. So a man living on the street is labeled a “BUM” and we treat
                them as we would treat a “vagrant”. The man on the street may be a father who lost his job when the company went under
                and because of the repression and his age has had trouble finding a job. He loses his house to foreclosure. His car is
                repossessed. He may have resumes submitted and he is looking for a job, but in the meantime he needs money to live so
                he begs on the street. We treat him like any other homeless man and soon he will start acting more and more like a “bum”.
                When we label a person with a pathology, it compounds the symptoms.
                <br>
                <br> Finally let’s talk about Insanity. Insanity is a legal term. It is not a psychological or psychiatric term. It is referring
                to a person who is unable, because of a mental disorder or defect, to confirm his or her behavior to the law. Only a
                Judge can label a person as “Insane”. The judge will consult psychiatrists and psychologists, but Insanity is purely
                a legal term. It is not used as much as you are led to believe in movies and on TV. Juries find it hard to believe that
                a person is not capable of thinking correctly and when they are, they are a danger to the population and should be jailed.
                Innocent by reason of insanity should really be guilty by reason of insanity and then the Sentencing phase of the trial
                should take into account the person’s (temporary or long term) insanity.
                <br>
                <br> It's time for a break guys, and gals.
                <br> Go get a cup of coffee.
                <br> Go do something other than study (maybe play the hangman game).
                <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                <br> Take 15 minutes or so before you go to the next slide.
                <br> Distributed learning is the best learning.
                <br> We will continue the study of the Psychopathology in the next lecture.
                <br> Talk with you then. 
            </div>
        </p>
    </div>
    </div>
</div>