<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Pathology (1)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Pathology_everybody_hurts.mp3"
                                title="Everybody Hurts - REM">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
            
            
                I went to college with R.E.M. at UGA!
                <br> Welcome to the unit on Psychopathology.
                <br> In this unit we’ll talk about the problems of the mind so let’s get started.
                <br>
                <br>
                <span class="flow-text">Watch one or both of the videos below before you continue:
                    <br> Discovering Psychology Series - "Psychopathology" is a 28 minute video.
                    <br> The Crash course in Psychology video that is less than 12 minutes.
                    <br> I find that older students enjoy the Discovering Psychology video and
                    <br> the younger students like the Crash course videos.&nbsp;
                    <br>
                    <br>
                </span>
            
                <div class="row">
                    <div class="col s12 offset-s0 m6 offset-m3">
                        <a href="http://www.learner.org/series/discoveringpsychology/21/e21expand.html" target="_blank">
                            <img class="hoverable" width="100%" src="img/Pathology_Icon.png">
                        </a>
                    </div>
                </div>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/wuhJ-GkRRQc" width="853" height="480" frameborder="0"
                        gesture="media" allowfullscreen=""></iframe>

                </div>
                <br> Psychopathology refers to people who have some mental health issue with very specific requirements. Archaeologists find
                evidence that people in early history attributed mental disorders to supernatural powers. We know from his writings that
                Hippocrates found mental disorders had biological causes. If they were biological then we could control them. As stated
                in another lecture, Hippocrates believed our lifestyle contributed to our health (both mental and physical) and lifestyle
                is something we can control.
                <img alt="Picture of a demon" src="img/Pathology_Krampus.jpg" style="float:right; padding: 10px;"> Later the church declared that mental disorders were a sign of demon possession and witchcraft. That made mental health
                a domain of the church. If you were not a priest, Monk, Abbot or Bishop then you better not be studying mental issues
                or you could be excommunicated - or worse. Recent analysis of the Salem witch trials suggests that the "possessed" girls
                were actually suffering from mushroom poisoning (they were "high") because the area where they stored their bread was
                contaminated with a psychotropic fungus which causes hallucinations. Even today there are cultures that believe in spirit
                possession. Some African tribes believe in sorcery and the Haitians believe in Voodoo. The Thais believe in Spirits as
                a part of their culture. If you believe in the Judeo-Christian bible, it talks about spirits too. But, science has taught
                us that Mental Health disorders are an illness caused by biological and other factors. We know that Hippocrates was right!
                <br>
                <br> We need to learn a few definitions used in pathology.
                <strong>Hallucinations</strong>
                are false sensory experiences that may suggest (but do not absolutely mean) that a person has a mental disorder. Hallucinations
                can have other causes. A person may be on drugs or may have an allergic reaction to some product they ate or they may
                be deprived of sensory information (such as in a
                <strong>deprivation tank</strong>). A 1980 movie called Altered States with William Hurt showed a deprivation tank and how it
                is used. William Hurts character was placed into the tank which isolates a person from all environmental stimuli. There
                is water in the tank which is at body temperature so you do not feel the water when you are floating. The air in the
                tank is the same as your body temperature as well so you do not feel a difference between the water and the air. There
                is enough salt in the water to make it so buoyant that you float without having to work at it. The tank is on springs
                so that it does not vibrate with the surrounding environment. It is dark so there is no visual stimuli and there are
                no smells, unless you ate Mexican for lunch :)) A person placed into such an environment cannot last very long without
                seeing and hearing things that do not exist. The first tank was created in 1953 by John Lilly . I'll place a link to
                the movie trailer later in the lectures.
                <strong>Delusions</strong> are extreme disorders of thinking involving persistent false beliefs. Delusions are the hallmark of
                the paranoid disorders.
                <strong>Affect
                </strong>is just another name for a mood or emotion. I know, why don’t we just say "mood" or "emotion". Well, as I have
                mentioned before, consider what your first finger is called. Is it a finger, or a digit or a phalanges? Of course it
                is called all three! It isn't as though science is hard enough...they have to make up lots of words for the same thing!
                Just accept it and learn all the possible ways to say the same thing. Now we get to the main definition.
                <strong>Psychopathology</strong> is any pattern of emotions, behaviors or thoughts that are inappropriate to the situation and
                leading to personal distress and/or the inability to achieve important goals. Notice the definition uses the word "pattern"
                - meaning they are persistent. They must also lead to loss of personal goals or cause distress. For instance a woman
                in Saudi Arabia walking outside without a burqa is exhibiting a psychopathology, because it will lead to personal distress
                - since she will be placed in jail. She knows it is against the rules of her society so it is inappropriate behavior.
                If she can not adapt her behavior to the society in which she lives, she will lose her personal freedoms. She may be
                doing it on purpose to get arrested as a civil disobedience protest and that is different - it is not a pathology. In
                that case she is exhibiting control over her behavior. Each culture has a different social norm and psychopathology must
                be described by virtue of the society or culture in which you find yourself. The indigenous Yanomami of Venezuela and
                Brazil like to use drugs for religious ritual purposes by sniffing the drugs up their nose. This damages their nasal
                passages and causes them to "leak" mucus from their nostrils. They use that mucus to grease back their long hair. That's
                disgusting ... no it'snot Get it? Snot
                <img alt="happy icon" src="img/happy.jpg" style="padding: 2px;"> - OK - anyway - in our society that would be considered unacceptable. We consider it unsanitary and totally unhygienic!
                If they could not adapt to our society we would avoid them and they would not be able to hold a job causing them personal
                distress and the inability to achieve any goals in our society. However, in their society, it is not a problem!
                <br>
                <br> So then, what is a mental disorder? Remember that there are two approaches to the mind. One is psychology and the other
                psychiatry. Psychiatrists are medical doctors so they take a medical approach to the mind. The medical model is a disease
                view of mental health. Remember that psychiatrists are medical doctors trained to look at issues as treatable through
                a medical approach. In the disease view the doctor determines what is wrong with you and tells you what to do about it.
                This is the "doctor knows best" approach to your health care. The answer will most likely include a medical intervention
                like drugs or surgery and the "patient", as the sick person is called, will be passive in the approach to the treatment.
                The doctor tells the patient what is wrong and how to fix it because it is too complicated for the patient to figure
                out. Psychologists are not medical doctors. Psychologists see the disorder as an interaction of biology, cognition, society
                and other factors. Psychologists work together with the "client" (not the patient) to figure out what is wrong. The client
                is actively involved in determining the root of the behavior and in helping themselves recover. Many issue can be resolved
                with a change in thinking because many issues are "
                <strong>psychogenic</strong>" (meaning they are related to psychological factors). Psychologists will use drugs but not as the
                first option. There are times when talking to a client is nearly impossible because of their state. Drugs may be temporarily
                provided to calm the client enough to start discussing their situation. The client will be slowly taken off the drugs
                as the therapy continues. Psychologists are not opposed to the use of drugs - when appropriate. Whether you are a psychiatrist
                or a psychologist certain researchers believe there are over 300 different pathologies from which we suffer. We are not
                going to discuss all of them here. I will cover some of the more well known disorders. Statistics show that 15.4 percent
                of the population suffers from mental health problems at any given time and 32% will have a symptom of a mental health
                disorder during their lifetime.
                <br>
                <br> Before we talk about the different pathologies it is interesting to review one specific historical note. Just prior
                to 1800 a man named "Mesmer" found that he could "transfix", as he called it, a patient. He taught his method to lots
                of people and it was called "mesmerizing" a person. Today we call it Hypnotism. Freud was mentored by a physician and
                psychiatrist named Josef Breuer. Breuer was 15 years older than Freud and helped him financially and personally prior
                to his graduation from medical school and for many years after. Breuer had a patient called "Anna O" displaying Hysteria.
                Freud and Breuer most likely collaborated together with this patient. Certainly Breuer and Freud talked about her a great
                deal. Breuer used hypnotism with Anna. One of Anna's unusual behaviors was that she would not drink water! She had a
                horrible reaction to water. One day while she was mesmerized she remembered an event from her childhood and told it to
                the doctor.
                <br>
                <img alt="Picture of Anna O" src="img/Pathology_Pappenheim.jpg" style="float:left; padding: 10px;">
                <br> She watched a woman drink from a glass and set the glass on the floor. Unbeknownst to the woman a flea bitten mongrel
                mangy dog walked up to the glass and drank from it. Then the woman picked up the glass and again drank from it. This
                so freaked out the little girl that she had fits where she would not drink water and only got liquid from fruits. She
                had forgotten this event from her past, but remembered it in the hypnotic trance and continued to remember it when she
                awoke from the trance. She had a perfectly normal reaction of disgust to the event and as a result had a "catharsis"
                (release) of the tensions acquired be the child who could not express the proper feelings needed for the event. Now -
                as an adult - she re-evaluated the event and was able to drink water again! Freud had a light-bulb moment and determined
                that there must be memories that we have "
                <strong>repressed</strong>" that
                <em>unconsciously </em>direct our behaviors and when we remember those events we can
                <em>consciously
                </em>change that behavior. Mesmer's work also influenced a young French physician named Jean Martin Charcot. Dr.&nbsp;
                Charcot used Hypnotism in his medical practice and studied it extensively in a scientific setting. He was especially
                interested in "
                <strong>hysteria</strong>" which can be defined as “
                <strong>unmanageable emotional excesses</strong>”. Sigmund Freud visited with Charcot for a number of months to learn his techniques
                but eventually gave up hypnotism for other methods of addressing "repressed" memories. As Paul Harvey used to say on
                the Radio - "and now the rest of the story". Anna's real name was
                <span style="text-decoration: underline;">
                    <a title="Link to Bertha's web page" href="http://jwa.org/encyclopedia/article/pappenheim-bertha">Bertha Pappenheim
                    </a>
                </span>. She successfully reintegrated and became a social worker in Germany. She started the League of Jewish Women and the
                West German government issued a postage stamp in honor of her contributions to the field of social work!
                <br>
                <br> Today psychologists have three perspectives on mental health. First there is the
                <strong>cognitive approach</strong> to mental disorders. The cognitive perspective believes that abnormal behaviors are influenced
                by mental processes. It is how people perceive themselves and their relationships to other people and the environment
                in which they find themselves that influences their mental health. Next there is the
                <strong>behavioral approach</strong>
                which says that abnormal behaviors can be acquired through behavioral learning - a byproduct of operant and classical conditioning.
                You might ask "How are we trained to be bad"? Think of children. How often do parents pay attention to their children
                while the children are behaving properly compared to the amount of attention they get when they are behaving badly. Parents
                are rewarding bad behavior by giving the child what they want (attention) when they are bad. In this way we "teach" the
                children to be bad.... PAY ATTENTION to your children while they are behaving properly more often!! Grab them and kiss
                them and hug them when they are being good!! The third perspective is the field of
                <strong>Biopsychology</strong>
                which studies the brain and its functions associated with mental health. Genetics also plays a role in some mental health
                disorders like depression. Most likely it is not as simple as only one of the perspectives. It is most likely a combination
                of the three approaches to mental health. This is the
                <strong>Interactionist </strong>view which states that there is an interaction of all three conditions which leads to mental
                health issues. For instance: a person may be
                <em>biologically
                </em>predisposed to depression. We talked earlier about the serotonin gene and its effects on depression. The person
                may find themselves in a stressful
                <em>environment</em>. They are overworked and stressed at their job. Their car breaks down and their child gets sick. They
                have poor
                <em>behavioral </em>management techniques which increase the stress around them. Their
                <em>thoughts
                </em>turn negative and all of these events lead to depression. So it is not just one thing that brought on the depression
                but a combination of many things.
                <br>
                <br> How do we determine if someone has a pathology? Think back to the comments about the Yanomami of Brazil. How do we determine
                what is abnormal behavior? If the behaviors or thoughts are statistically rare in a society then they may be considered
                abnormal. If the behaviors or thoughts deviate from the acceptable social norms, standards and values then they may be
                considered abnormal. Remember that just because a behavior or thought is abnormal does not means that it is a pathology.
                Some abnormal behaviors are truly wonderful. Not everyone acts like a hero or heroine. That is certainly abnormal behavior,
                but it is not pathological. There are a number of observations we can make about thoughts and behaviors that can help
                in determining abnormalities that are pathological.
                <br>
                <br> That's it for this lecture.
                <br> I’m going to stop here.
                <br> It's time for a break guys, and gals.
                <br> Go get a cup of coffee.
                <br> Go do something other than study (maybe play the hangman game).
                <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                <br> Take 15 minutes or so before you go to the next slide.
                <br> Distributed learning is the best learning.
                <br> We will continue the study of the Psychopathology in the next lecture.
                <br> Talk with you then.
                <br>
                <br>
                <br>
                <br>
            </div>
        </p>
    </div>
    </div>
</div>