<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Pathology (2)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Pathology_sittin-on-the-dock.mp3"
                                title="Otis Redding - Sitting on the dock of the bay">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
                Welcome back to lecture two in pathologies.
                <br>
                <br> It is time to discuss the Etiology of disorders. Remember that disorders are defined in the Diagnostic and Statistical
                Manual version five (DSM-V) through their symptoms. Here are six symptoms that can be considered causes or factors related
                to the development of a disorder: Distress, Maladaptiveness, Irrationality, Unpredictability, Unconventional or Undesirable
                behavior or thoughts, and Observer discomfort. Let's define these a little more.
                <strong>
                    <br>
                    <br> Distress </strong>can be defined as whether the individual shows unusual or prolonged levels of unease or anxiety.
                <strong>
                    <br> Maladaptiveness </strong>can be defined as both behaviors and thoughts. When a person acts or thinks in ways that
                interfere with his or her well being or the needs of the society they occupy we can say they are showing maladaptive
                thoughts or behaviors..
                <strong>
                    <br> Irrationality </strong>can be defined as whether a person acts or talks in ways that are irrational or incomprehensible
                to others. It used to be that we could tell someone had this behavior as they walked down the sidewalk talking to people
                that did not exist, but today that may simply be a blue tooth phone conversation.
                <img alt="Happy Icon" src="img/happy.jpg">
                <strong>
                    <br> Unpredictability </strong>is when a person behaves erratically and inconsistently at different times or from one
                situation to the next as if they are losing control.
                <br>
                <strong>Unconventional </strong>or
                <strong>undesirable </strong>behaviors are behaviors that are statistically rare and violate social norms of what is legal or
                morally acceptable or desirable (like walking downtown with no cloths on - unless you live in a nudist colony)!
                <br> Lastly when analyzing a person to determine if they have a mental disorder we look at
                <strong>observer discomfort</strong>. Does this individual behave in such a manner as to make those around him or her feel uncomfortable,
                threatened or distressed? One way to define this is
                <strong>bullying</strong>. This is not that a person may feel threatened by your presence simply because THEY have a problem
                with who you are. For instance; if you are Muslim or have dark skin - someone may feel uncomfortable around you, but
                both of these are acceptable in our society. A bully is a person who deliberately uses strength or power to harm or intimidate
                people who they feel are weaker or inferior to them. So, a Bully already has one of the Etiologies - creating observer
                discomfort. You must have two of the six symptoms present to be classified with a mental disorder. So - how do you stack
                up? Let's see. Do you feel lucky??
                <br>
                <br> 1. Have you had a time in your life when you felt “blue” for no apparent reason? (Certainly this is Distress.)
                <br> 2. Have you ever done something rather than study, when you knew you should be studying? (Is this maladaptive behavior?)
                <br> 3. Have you ever had an experience in which you though you saw or heard something that was not really there? (This might
                be considered irrational.) - How are you doing? Have your said yes more than once already?
                <br> 4. Have you had a flash of temper in which you said something that you later regretted? (Can we consider this unpredictable
                behavior?)
                <br> 5. Have you had unusual thoughts that you never told anyone about? (unconventional)
                <br> 6. Have you distressed someone because of something you said or did? (observer discomfort)
                <br>
                <br> I would hazard a guess that you said yes more than twice. Some of you said yes for every single question. Does that
                mean you have a mental disorder? Of course NOT! Remember the definition of a pathology! .... Although EVERYONE has experienced
                at least two of the etiologies, a psychopathology is defined as : "any
                <strong>pattern</strong>
                of emotions, behaviors, or thoughts that are inappropriate to the situation which
                <strong>leads to</strong> personal distress or the inability to achieve important goals". Most of the “etiologies” normal people
                experience are not persistent nor do they lead to long term distress or loss of functioning or an inability to achieve
                their goals. Most people experience temporary abnormalities. Everyone experiences moments when they are depressed or
                do something unpredictable at times. That's called being human! Be comforted, you probably do not have a psychopathology
                - AND if you do - you have gotten this far in life with it so you really are managing it well!
                <br>
                <br> If everyone has symptoms of mental illness, how do we diagnose a problem? A clinical diagnosis is the process of matching
                an individual’s specific symptoms to those that define a particular mental disorder. The most widely used system, the
                DSM-V, classifies disorders by their mental and behavioral "symptoms". The Diagnostic and Statistical Manual of Mental
                Disorders is the most widely accepted classification system in the United States. It is owned by the American Medical
                Association. Remember that the AMA is a medical doctor association which means the DSM is owned by PSYCHIATRISTS not
                psychologists. The DSM-V (the fifth edition) was released in 2013 with some changes to categorizations and names of pathologies
                but personality disorders remained exactly the same as the DSM-IV. To perform a brief overview of the DSM-V Classification
                System we will talk about some major classifications. Remember there are over 300 defined disorders. We will only cover
                a handful!
                <br>
                <br> The
                <strong>Neurotic </strong>disorders or neurosis were last classified in the DSM-II to describe a pattern of subjective distress
                or self defeating behaviors that do not show signs of a brain abnormality or grossly irrational thinking (which would
                be used to classify the disorder differently). It specifically meant a "neuron disorder". Today instead of saying that
                someone is neurotic (which is a broad definition) we specify the person's disorder more succinctly (i.e. Anxiety, phobias,
                OCD or Depression just to name a few). According to Dr. Boeree, professor emeritus at Shippensburg University, the effects
                of neurosis can involve: “
                <span style="font-style: italic;">anxiety, sadness or depression, anger, irritability and mental confusion as well as behavioral symptoms such as impulsive
                    and compulsive acts. It also can involve cognitive problems such as unpleasant or disturbing thoughts, repetition
                    of thoughts and obsession, habitual fantasizing, negativity and cynicism</span>”. The distinction of Neurotic was
                meant to classify issues that were not
                <strong>psychotic
                </strong>disorders. The psychotic disorders involve symptoms that include a loss of contact with reality. They are disorders
                involving “profound” disturbances in perception, rational thinking and affect (moods or emotions). I'll talk about some
                of these a little later.
                <br>
                <br> As long as I mentioned moods, let's talk about the
                <strong>mood disorders
                </strong> which are abnormal disturbances in emotions or moods including bipolar and uni-polar disorder without the loss
                of reality which comes with psychotic disorders. Mood disorders are also called
                <strong>affective </strong>disorders.
                <strong> Bi-polar</strong>
                disorder is a mental abnormality involving major swings of mood from mania to depression with very little - if any - time
                spent in normality.
                <strong> Mania </strong>is a pathological excessive elation or manic excitement. A person in this mood may spend money and max
                out a credit card just for the pleasure of purchasing something (they do not usually need). If their credit card is maxed
                out and they see one lying around they will use it - even though it isn't theirs - without any thought of the legality
                of their action. They are manic - they are not thinking straight. Emotions trump thoughts! They may commit suicide -
                not because they want to die, but because they think they can fly and will jump off a high rise building.
                <strong>Depression </strong>is something all of you have heard about or you know someone who is depressed. It is pathological
                sadness or despair. It is diagnosed at an average age of 15 and it is diagnosed 15% more than it was 50 years ago.
                <strong>
                    <br>
                    <br> Unipolar depression</strong> is a form of depression that does not alternate with mania. Unipolar depression is
                the commonest of all diagnosed major mental disorders. I say "diagnosed" because there is one that occurs more often,
                but it is not diagnosed as much as unipolar depression. Depression costs the United States 43 Billion dollars a year.
                This is not the cost of medication or hospitalization alone. It also includes the loss of productivity caused by depression.
                One in every 50 people diagnosed with this disorder succeeds in committing suicide. Women attempt suicide more often
                than men, but men succeed more often. Women tend to use a less forceful means of suicide. They take and overdose and
                call their best friend. It it is their best friend that person will call the authorities and get their friend to a hospital.
                After a man pulls the trigger, there is no time to call a friend. Depression is 10 to 20 times greater than it was 50
                years ago. Teenagers are more prone to acquiring this disorder. More women than men get depression. We will see that
                many of these disorders occur in women more often than men. However, one of the worst, is four times more likely to occur
                in men. Women tend to dwell on the causes of their depression; men tend to distract themselves to forget it. A woman
                will call up her best friend and cry and they will talk about what is bothering her and she will actually get MORE depressed
                in the initial part of the conversation. However, she will work it out with her friend and feel better by the end of
                the phone call. Can you see a man calling his best friend and crying about something that bothers him? Maybe in Italy!
                In the United States we would call up or friends and say – "Let’s go kill something". The man will feel better immediately.
                However, when he returns from the hunting trip he will fall right back into depression because he did not deal with the
                issue. He only dealt with the symptom – much like a drug does. What causes depression? Could it be as simple as a genetic
                code for the creation of serotonin? We already discussed in another lecture that the gene for serotonin comes in two
                sizes. There is a short version and a long version. If a person has two genes of the short version they are prone to
                depression and are depressed longer than those with two long genes. This is certainly a Genetic or biological cause.
                Also, the Brain shows lower activity in the left frontal lobe for people who are depressed. You may also get depressed
                when you catch a cold or when your thoughts turn dark or if you have low self-esteem. There is a condition called "
                <strong>Seasonal affective disorder</strong>" (SAD) which is also a possible cause of depression. SAD is believed to be caused
                by deprivation of sunlight causing an imbalance in melatonin and serotonin. SAD is a form of Unipolar depression. Intense
                "
                <strong>light therapy</strong>" tends to reduce the symptoms which gives credence to the belief that some SAD is due to a lack
                of sunlight in the winter months. Many people who move from northern areas of the world (where there is less sunlight)
                to the equator (where there is more sunlight) show a marked improvement during the winter months.
                <br>
                <br>
                <strong>Anxiety: </strong>15% of the population has experienced symptoms of anxiety great enough to qualify as an anxiety disorder.
                It is more common than depression, but it is not diagnosed as often as depression.
                <strong>Panic disorder</strong> is a type of anxiety marked by panic attacks that have no connection to events in a person’s
                present experience. It is also know as
                <strong>Free floating anxiety</strong>. It includes shaking, sweating, dizziness, racing heart beat – for no reason. It is –
                again - more common in women. 2% of the population experiences this form of anxiety. A person can be walking down the
                street and for no obvious reason may feel like they are having a heart attack with chest pains and sweating and shaking
                and feel extremely anxious.
                <strong>Phobia</strong>
                or phobic disorders involve a pathological fear of a specific object or situation. 12.5% of the population suffers from some
                form of phobia.
                <strong>Social phobias</strong> are the most common type of fear. This is known as
                <strong>Agoraphobia</strong>. Many people feel fear of some object, but it is not pathological. A person may have a fear of spider
                and not want them around, but a person with a phobia of spiders may be walking down the side walk and see a spider and
                run into the street to get away from it – without looking for any cars that could kill them. The fear is so great they
                do themselves injury to get away from the object of their fear. Again – this shows how emotions trump thoughts!
                <br>
                <br> It's time for a break guys, and gals.
                <br> Go get a cup of coffee.
                <br> Go do something other than study (maybe play the hangman game).
                <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                <br> Take 15 minutes or so before you go to the next slide.
                <br> Distributed learning is the best learning.
                <br> We will continue the study of the Psychopathology in the next lecture.
                <br> Talk with you then.
                <br>
                <br>
                <br>
            </div>
        </p>
    </div>
    </div>
</div>