<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Pathology (4)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Pathology-Adams-family.mp3"
                                title="The Adams Family">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
                
            
                Welcome back to the fourth lecture in psychopathologies.&nbsp;
                <br> We left off in lecture three with Dissociative disorders and we will continue now with
                <mark>
                    <strong>Body Dysmorphic Syndrome</strong>
                </mark>. SO let's get started.
                <br> Some people tend to see themselves as fatter than they truly are.&nbsp; Others want the perfect face, perfect hair,
                perfect proportions.&nbsp; Who defined perfect? When your view of perfection is shaped by advertising and marketing companies,
                it messes with your head!&nbsp; They present impossible models as reality when in fact the pictures have been "perfected"
                and NO ONE looks like the pictures and NO ONE can ever attain that level of perfection!&nbsp; This is a great video that
                speaks to this issue.
                
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/zRlpIkH3b5I" width="853" height="480" frameborder="0" gesture="media" allowfullscreen=""></iframe>
                </div>

                
                Many women think they need to have the perfect Barbie Doll figure. A Russian woman has had numerous surgeries to make herself
                look like barbie!&nbsp; Other women have breast implants because they think they need to be bigger than they are.&nbsp;
                Some have gone to extremes! They are never satisfied with the way they look. There are two women in the Guinness book
                of records for increasing their breasts from "B" cups to "Z" cups!&nbsp; Their backs take a toll carrying that much weight.,&nbsp;
                Their put their health at risk.&nbsp; However, it is not as simple as a person's own body image.&nbsp; Both ladies are
                encouraged by society.&nbsp; Many in the population applaud women with large breasts.&nbsp; The person gets positive
                reinforcement and more attention the bigger they get.&nbsp; It is not as simple as working on the client's view of themselves
                when society also encourages such behavior.&nbsp; When health becomes an issue you have gone too far! Men also get positive
                reinforcement for being bigger!
                <br>
                <div class="images">
                    <div style="width:320px;padding:10px;">
                        <div>
                            <img alt="man with huge muscles" style="width:300px;" src="img/Pathology_big-muscles.jpg">
                        </div>
                    </div>
                    Some men see themselves as too thin.&nbsp; They want to build muscle.&nbsp; Again, they get applause for their large muscles
                    and get more attention the bigger their muscles grow. This picture may not be real, and I can't find any reference
                    to the original or who this person is, but this is too big! Remember a&nbsp;
                    <span >
                        <span></span>
                    </span>
                    <strong>pathology</strong>
                    <span >
                        <span>&nbsp;</span>is any pattern of emotions, behaviors or thoughts that are inappropriate to the situation and lead
                        to personal distress and/or the inability to achieve important goals</span>.&nbsp; I doubt he would be able to
                    wipe his own ass.&nbsp; Yet, how many men look at this picture and think - "if he can do it, I can do it". Men take
                    steroids and pump their bodies with fluids to look more muscular than the next man.&nbsp; In doing so they put their
                    health at risk.&nbsp; How many die from the effects (complications) of long term steroid use? There are times that
                    muscles have exploded from too much fluid injection. Too many body builders have died of heart attacks and liver
                    and kidney disease caused by abuse of substances to make themselves bigger. Then there are people who see themselves
                    as overweight and want to be skinnier!
                </div>
                <div class="images">
                    <div style="width:320px;padding:10px;float:left;">
                        <div>
                            <img alt="body dysmorphia" style="width:300px; " src="img/Pathology_dysmorphia.jpg">
                        </div>
                    </div>
                </div>
                Eating Disorders can also be classified as a body dysmorphia.&nbsp; They include Bulimia and Anorexia.
                <mark>
                    <strong>Anorexia </strong>
                </mark>is an eating disorder which involves a persistent refusal to eat (even if the patient is hungry) stemming from psychological
                reasons rather than organic causes. The patient can see something wrong with their bodies and are Obsessive and Compulsive
                about the issue. They can also have a history of sexual abuse as children. This does not mean that all Anorexics had
                sexual abuse as children. However, if we try to fix the anorexia and they actually DID have a history of sexual abuse,
                then it will be very difficult to keep the anorexia resolved without also working on the other issue! Many Anorexics
                report that they felt their life was out of control. Not eating was the one thing they could control. Often we also hear
                that they felt un-loved!
                <br>
                <br> If you do not eat, you lose weight. Your body burns the fat first. As an aside - Have you heard the ridiculous commercials
                about Liposeme that claim people who lost weight on their product lost mostly FAT! What else are they going to lose?
                WIll they lose bone, skin, heart, liver?&nbsp; No we lose water and fat.&nbsp; When we have no more fat to burn, we start
                to burn muscle! How many people are manipulated by the Stupid use of facts! Enough to keep people purchasing their product!
                Anyway - back to Anorexia -
                <br>
                <br> Your heart is a muscle! When it is desperate for a source of energy it starts to destroy your internal organs. An Anorexic
                who has gotten this bad may be “cured” and gain weight again, but their internal organs are not going to be repaired.
                Karen Carpenter was a singer and song writer with her brother in a band called the Carpenters. The Carpenters were the
                #1 best-selling American group between 1970 and 1980. Her voice was one of the best in pop music. She went through three
                bouts of Anorexia in a time when the doctor’s cure was to basically slap you in the face and tell you to stop it and
                force food down your throat. In 1983 Karen Carpenter died at the age of 32 from complications caused by anorexia. Anorexia
                was not understood as a mental issue which needed therapy to resolve. Although they were able to bring her out of the
                episode each time, the damage done to her internal organs was too great and she died as a result of the side effects
                of Anorexia. Her family decided to let her image be the “Face of Anorexia” to help spread the word that this is a serious
                condition requiring BOTH medical and mental intervention.
                <br>
                <br>
                <mark>
                    <strong>Bulimia </strong>
                </mark>is another type of eating disorder characterized by eating binges followed by “purges,” induced by vomiting or laxatives.
                Bulimia is harder to “see” because Bulimics will go out with friends and eat. Then they will excuse themselves and go
                to the restroom and throw up before the calories are absorbed. Or they could surreptitiously take laxatives to get rid
                of the food before absorbing the calories. With Anorexics, you do not see them eat and they lose weight. It is fairly
                obvious what is happening. With Bulimics, it is not so easy to tell why they are losing weight. Purging takes stomach
                acid up the throat and into the mouth. If the Bulimic purging continues over a long period of time it causes damage to
                the esophagus leading to esophageal cancer. So you may fix the bulimia, but years later you can see negative health consequences
                related to the past experience. Also, their teeth and gums are badly damaged and their breath smells bad.
                <br>
                <br> The next disorder we will discuss is
                <mark>
                    <strong>Schizophrenia</strong>
                </mark>
                which is a psychotic disorder involving distortions in thoughts, perceptions, and/or emotions. It is a split with reality.
                It occurs between 25 and 45 in women and before the age of 25 in men. 40% of all admissions (in-patient) to mental health
                hospitals involve this diagnosis. One third of all cases never recover. Recover is a bad term because once you are diagnosed
                with this disorder you have it on your record for life! You are never cured of schizophrenia, unless we can figure out
                how to rewire the neurons of the brain (which may a possibility in 50 to100 years).
                <br>
                <br> There are four different schizophrenic diagnoses. The four types are Disorganized, Catatonic, Paranoid and Undifferentiated.
                When someone has no symptoms of the disease they are said to be a residual type. Each of the types can also be either
                positive or negative in scope. Let’s look at them all.
                <strong>The
                    <mark>Disorganized</mark> type</strong>
                features incoherent speech, hallucinations, delusions, and bizarre behavior. One symptom may be talking to imaginary people.
                Jimmy Stewart played a schizophrenic in a wonderful 1950 movie called “Harvey”. He had a friend who was a 6’3” White
                rabbit. The Rabbit went everywhere with him and he had a place at the table and the bar for Harvey. He even had a hat
                with holes in the top so Harvey’s Ears could fit through the hat. The following video is a portion of the movie where
                he is asked how he met Harvey!
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/Y-Ox_yXuCFA" width="853" height="480" frameborder="0" gesture="media" allowfullscreen=""></iframe>

                </div>
                
                Yes - ignore the fact it is a six foot talking white rabbit and instead be worried he knew your name!
                <br>
                <br> The
                <mark>
                    <strong>catatonic</strong>
                </mark> type involves a stupor or extreme excitement. In stupor the person can be motionless for hours and even in rare cases
                for days. The stupor may mimic the Petite Mal Seizure of epilepsy where a person simply freezes as if they “reboot”.
                In the 2001 Movie “Don’t say a word” Brittany Murphy faked catatonic schizophrenia to escape men who were trying to kill
                her. She felt safer in the mental ward of the hospital where they could not get to her. So, the killers kidnapped the
                daughter of one of the psychiatrists to force him to get her out! He held up her hand and let it go and she dropped her
                hand. He knew then it was not a catatonic state and she was faking it. A catatonic’s had would have remained where he
                let it go
                <br>
                <br> For a
                <mark>
                    <strong>Paranoid </strong>
                </mark>Schizophrenic the prominent feature is a combination of delusions and hallucinations. There are no catatonic states.
                Paranoia exists based on illogical and unorganized delusions. Mel Gibson played a paranoid schizophrenic in the 1997
                movie “Conspiracy Theory”. But, just because you are paranoid doesn't mean they aren't out to get you! In Mel Gibson’s
                case, his character was actually being hunted.
                <br>
                <br> People diagnosed with the
                <mark>
                    <strong>undifferentiated</strong>
                </mark>
                type display a combination of symptoms that do not clearly fit into one of the other categories.
                <br>
                <br>
                <mark>
                    <strong>Residual</strong>
                </mark> Schizophrenia means that individuals who have had a past episode of schizophrenia are now free of the most extreme symptoms.
                These people are mildly disturbed and emotionally impoverished. No one is ever considered “cured” once they have been
                diagnosed with schizophrenia. To show the absurdity of this refusal to say a person is cured, a college professor taught
                his students to act like they were schizophrenic. The students presented themselves at hospitals and all but one was
                hospitalized with a diagnosis of schizophrenia. Once they were hospitalized they stopped displaying the symptoms. They
                took daily notes about their experience. One nurse labeled the note-taking of one pseudo-patient as "writing behavior"
                and considered it pathological. The challenge for the students was to get themselves released. All of them were discharged
                with a diagnosis of schizophrenia "in remission” and all of them were forced to admit to having a mental illness and
                agree to take antipsychotic drugs as a condition of their release. They had all been tested prior to the experiment and
                found to be without any pathology.
                <br>
                <br> Schizophrenia can be broken down into two other forms called Positive and Negative. The
                <mark>
                    <strong>Positive form</strong>
                </mark>
                is when a person displays active symptoms (like hallucinations or delusions). So - for instance - we can describe someone
                as Positive Paranoid.
                <br>
                <br> The
                <mark>
                    <strong>negative form</strong>
                </mark> of Schizophrenia is defined as schizophrenia with deficits. For instance a person may already be diagnosed with schizophrenia
                but they are currently displaying deficits such as a “flat affect” meaning they have a dearth of emotions (both positive
                and negative). They may have trouble starting or maintaining activity. They may appear lazy or seem unwilling to do the
                tasks of daily living (like bathing or dressing) but it is a symptom of the disease. They may not respond when talked
                to, or when they respond it is in single words or a clipped sentence.
                <br>
                <br> It's time for a break guys, and gals.
                <br> Go get a cup of coffee.
                <br> Go do something other than study (maybe play the hangman game).
                <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                <br> Take 15 minutes or so before you go to the next slide.
                <br> Distributed learning is the best learning.
                <br> We will continue the study of the Psychopathology in the next lecture.
                <br> Talk with you then..
                <br>
                <br>
                <br>
            </div>
        </p>
    </div>
    </div>
</div>