        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">Learning (1)</p>
            <div class="row">
              <div class="row">
                <div class="container">
                    <paper-audio-player color="orange"
                                        src="audio/Dogs_Out.mp3"
                                        title="Who let the Dogs out by The Baha Men">
                    </paper-audio-player>
                </div>
              </div>
              <p class="flow-text" style="padding-top:18px;">
                <div class="flow-text">
                
                    <span class="flow-text">
                        <em>
                            <strong>
                                <span class="flow-text">Learning is not compulsory. Neither is survival. ~ W. Edwards Deming
                                </span>
                            </strong>
                        </em>
                    </span>
                    <br>
                    <span class="flow-text">
                        <br>
                    </span>
                    <span class="flow-text">Welcome to the first lecture in the chapter on learning.&nbsp;
                        <br> In this chapter we’ll discuss many different types of learning.&nbsp;
                        <br> Psychology is based, in the beginning, on a specific type of learning that Pavlov studied with his dogs called classical
                        conditioning.
                        <br> We will also study operant conditioning and we’ll talk about how we learn by watching others, called social learning,
                        and a number of other styles of learning.
                        <br>
                    </span> Before you start reading watch one or both of the videos below:
                    <br> Discovering Psychology Series - "Learning" is a 28 minute video.
                    <br> The Crash course in Psychology video is less than 12 minutes.&nbsp;
                    <br> I find that older students enjoy the Discovering Psychology video and the younger students like the Crash course videos.&nbsp;
                    
                    <div class="row">
                      <div class="col s12 offset-s0 m6 offset-m3">
                          <a href="http://www.learner.org/series/discoveringpsychology/08/e08expand.html" target="_blank">
                              <img class="hoverable" width="100%" src="img/Learning_Icon.png">
                          </a>
                      </div>
                  </div>
                  <div class="video-container">
                      <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="https://www.youtube.com/embed/qG2SwE_6uVM?list=PL8dPuuaLjXtOPRKzVLY0jJY-uHOH9KVU6"></iframe>
                  </div>
                    <br> First of all, what is learning? Learning can be described as a lasting change in behavior or mental processes. It is
                    not just a change in behavior but also in the way that we think that results from experience. Behavioral learning is
                    described in two different ways. Both classical conditioning and operant conditioning are considered behavioral and we’ll
                    study both of these types. Behavioral learning is actually forms of learning that can be described in terms of stimuli
                    and responses. In operant conditioning we talk about rewards and punishments. If you get rewarded for something then
                    your response is most probably going to be to increase. If you get punished for something then you’ll probably decrease
                    whatever behavior caused the punishment. In classical conditioning we’re connecting reflexes to neutral stimuli to create
                    a reflex action in a condition in which it never would have occurred before. We will also discuss Social Learning. In
                    social learning we learn by watching others. Humans are not the only animals to learn by watching others. Insight learning
                    is a Gestalt type idea, where you have enough information and suddenly all of the information makes sense. For instance;
                    when you’re looking at a jigsaw puzzle and have no idea what the final puzzle will reveal, and you have just enough of
                    the pieces put together that all of a sudden you can see where this particular puzzle is going. You get all the information
                    that’s necessary and it reorganizes itself in your brain. Sometimes when you work on something and can't find a solution
                    you give up and go to sleep. Then very late at night while you’re asleep you wake up with that
                    <br> "Ah-ha!" moment! Then you can’t go back to sleep again. That's insight learning.
                    <br>
                    <br> One of the terms in learning that we’ll use is habituation.
                    <strong>Habituation</strong>
                    is much like sensory adaptation where parents can become used to bad behavior from their children because they become habituated
                    to it. Habituation is a decrease in the strength or intensity of a behavioral response over repeated presentations of
                    the stimulus. This creates tolerance also called - habituation.
                    <strong>The mere exposure effect</strong> is another term that means a learned preference for stimuli to which we have been previously
                    exposed. In experiments we might expose you to numerous pictures of mammals and when we show you an ambiguous picture
                    you might see a mammal in it because you have had exposure to that particular type of stimuli. Here is a great 8 minute
                    video which gives an example of this. Another explanation of the Mere Exposure Effect is that the first time we are exposed
                    to an object we either have a negative reaction or a neutral reaction. The more we are exposed to the object, the more
                    we react positively to it.
                    <div style="border: 0px solid white ;float: right; padding: 10px;">
                        <iframe src="https://www.youtube.com/embed/YQXe1CokWqQ?rel=0" allowfullscreen="" frameborder="0" height="315" width="320"></iframe>
                        <br>
                        <center>The mere exposure effect</center>
                    </div>
                    <br>
                    <br>
                    <strong>Sensitization </strong>is an increase in the strength of a response - which is the opposite of habituation; it’s the
                    opposite of sensory adaptation. Sensitization is an increase in the strength or intensity of a behavioral response over
                    repeated presentations of the stimulus. For instance, one example might be repeated exposure to poison ivy. Every time
                    that you get exposed to poison ivy, if you have a reaction to it, the rash will increase in intensity until finally it
                    will put you in the hospital. To those of you who have never had an external reaction to poison ivy, you are having a
                    reaction! What is happening to you is an internal response. If you continuously expose yourself to poison ivy over and
                    over again, you will eventually get an outside rash, This is because we get sensitized to poison ivy.
                    <br>
                    <br>
                    <strong>Classical conditioning</strong> is a form of behavioral learning in which a previously neutral stimulus acquires the
                    power to elicit a response from the organism. Pavlov won the Nobel Prize for Physiology (not psychology) in 1904. He
                    was experimenting with digestion which is a pretty disgusting thing to have to experiment with. Digestion includes bile
                    and mastication and salivation. Pavlov was trying to discover something about the salivation of his animals in the presence
                    of specific types of food. Well, Pavlov noticed that as soon as his assistant came into the room, his dogs began to salivate
                    and this reaction was not expected. It ruined the experiment. He was not happy! He wanted to know why this happened and
                    tried to find out why by looking in the literature. Certainly this must be somewhere in some published material, but
                    he could not find anything about it.
                    <br>
                    <br> Maybe his dogs were checking out the assistants going “Hmm, I’m hungry and they look good enough to eat!” Nah! That
                    was not the reason. There was no research connecting this reflex (salivation) to different stimuli, so Pavlov decided
                    to do some experiments on his own. Since learning is the purview of Psychology, he became one of the most famous Psychologists.
                    Unfortunately he was a Physiologist and he really disliked the Psychologist of his time, because at the time that he
                    was doing his experiment, psychologists were mostly armchair philosophers. Psychology was just starting to become a science,
                    rather than an armchair philosophy. Unfortunately for him his fame came from Psychology instead of Physiology. Fortunately
                    for psychology he brought one of its aspects (learning) into the scientific laboratory setting.
                    <br>
                    <br> We say he discovered what we now call the learning process of classical conditioning. Of course he didn’t discover it!
                    Any dog owner knew about the classical conditioning phenomenon. Whenever a dog owner opened the door to go feed their
                    animals, the animals went crazy because they were expecting the food. If they came outside at another time of the day
                    the dogs didn't care! However these dog owners never had a name for what was happening and of course Pavlov was the first
                    person to study it and scientifically, quantify it in research and publish his results. So, he is known as the discoverer
                    of classical conditioning. As we discussed in the history section, there was another doctor studying this behavior in
                    humans, but he got on Stalin's bad side and ended up dead and all references to him deleted from text books. So, the
                    name Bekhterev is almost unknown and Pavlov gets the credit (simply for staying off of Stalin's radar).
                    <br>
                    <br> In classical conditioning we have a phase called Acquisition. This is the initial learning stage in classical conditioning
                    where the conditioned response becomes elicited (produced) by the conditioned stimulus. Let’s talk about how this happens
                    and describe each one of these different terms. First of all you have a neutral stimulus. A
                    <strong>neutral stimulus
                    </strong> is any stimulus that produces no conditioned response and no reflexive response prior to learning. So, a tone
                    or bell should not produce any salivation. If it does not produce salivation then it is neutral with respect to salivation.
                    A tone will produce an
                    <strong>orienting response</strong> so it does produce a reflex. The animal turns to look to see where the tone was produced.
                    but it does not produce salivation. So, salivation as a reflex is neutral when it comes to the tone or bell, any sound.
                    Once this neutral stimulus, in our case the tone, produces salivation, we say that the tone which used to be neutral
                    is now
                    <strong>conditioned</strong>
                    to produce the salivation. Now it is no longer a neutral stimulus, it is a conditioned stimulus. The response, which is salivation,
                    is now called a
                    <strong>conditioned response</strong> even though it looks just like what we would call the
                    <strong>unconditioned response
                    </strong>, UCR, or the unconditioned reflex. So, when somebody gives a dog a piece of meat, they automatically - reflexively
                    - will salivate. The conditioned response to the tone (which never occurred before) - the salivation - looks just like
                    the unconditioned response or reflex. Yes, they look exactly alike, but they’re not necessarily exactly alike. One could
                    contain a little bit different enzymes and might not be exactly the amount that it was when the animal was presented
                    with the meat, but the point is that the tone never produced salivation to begin with. You now have created a link between
                    some behavior and some stimulus. You linked behavior that occurs naturally with one type of stimulus to a stimulus that
                    it never would have occurred with before. Before the conditioning the neutral stimulus does nothing so it is neutral.
                    Once the stimulus does something, once it has been conditioned, we can no longer call it neutral. So, the tone is a neutral
                    stimulus at first because it does nothing, and when it does produce salivation, we call it a conditioned stimulus.
                    <br>
                    <br> So, here are the four different terms: Unconditioned stimulus, unconditioned response (reflex), neutral stimulus, conditioned
                    stimulus and the conditioned response. What is the
                    <strong>unconditioned stimulus
                    </strong>? It is the stimulus that automatically elicits a response. Spicy food, like a Jalapeño, is a good unconditioned
                    stimulus. Just thinking about a jalapeno creates salivation in your mouth. An unexpected loud noise like a gunshot or
                    a car backfiring causes you to jump. These are unconditioned stimuli. You don’t have to learn how to respond to them.
                    They’re not conditioned, they’re innate, built in, unconditioned. You haven’t learned these reactions; they’re built
                    into your body’s biological system. They are unconditioned stimuli with respect to the behavior that automatically follows
                    them (a reflex).
                    <br>
                    <br> The
                    <strong>unconditioned response</strong> is the reflex or we can call it an innate response that occurs or is elicited by an unconditioned
                    stimulus without prior learning. In the case of the Jalapeno stimulus, your response is salivation. As a response to
                    the gunshot or car backfiring your response is the flight or fight syndrome - you jump at that loud unexpected sound.
                    Your body is getting ready to run or fight. Okay, so you have a stimulus and a response. Another example might be the
                    knee jerk. When the doctor hits you on in the right location on your knee your leg jerks. That’s a stimulus; the hitting
                    of the knee and the response; the leg jerk. It is reflexive. It is not learned.
                    <br>
                    <br> The
                    <strong>neutral stimulus</strong> (which will become the conditioned stimulus) is an environmental stimulus that does not produce
                    the reflex we are going to pair with it. Although sound produces an orienting response, remember it does produce some
                    sort of response; it is neutral to the event that we’re trying to produce which is to have the animal salivate. So, it
                    is neutral for salivation. Sound does not produce salivation. This previously neutral stimulus at some point comes to
                    elicit or create or make or produce the conditioned response. When it does produce the reflex then it is no longer neutral
                    and we change its name to the
                    <strong>conditioned stimulus
                    </strong>. A flashing red light certainly should not create salivation but after the Acquisition phase, the red light
                    will create salivation. A kiss should not elicit nervous jumping, but if we do go through the learning process, we can
                    make them do so. During the Acquisition phase of a person kissing somebody and we can shoot off a gun at the same time.
                    You will eventually end up being nervous whenever you’re kissed.
                    <br>
                    <br> Finally we have the
                    <strong>conditioned response</strong> which looks just like the reflex - salivation for instance. Now the salivation is occurring
                    to a stimulus that it never responded to before. This would be the salivation to the sound of a bell or salivation to
                    a flashing red light or jumping when somebody kisses you because it’s been paired with a gunshot. Now, how do we do this
                    acquisition and pairing of the unconditioned stimulus and the neutral stimulus to create a conditioned stimulus?
                    <br>
                    <br> Prior to conditioning, you have to make sure the neutral stimulus does not produce the unconditioned response. You create
                    a tone and you see orienting responses but do not see any salivation. You now know that you have a neutral stimulus.
                    Then you put a powder in the mouth of the animal, food powder, like meats powder, or some protein powder that tastes
                    good, and the animal automatically salivates. Now you know you have a stimulus which causes a reflex, or as they are
                    called an unconditioned stimulus (UCS) and an unconditioned response (UCR). Next you have to present them together. In
                    conditioning, you always present the neutral stimulus first. So, you ring a bell and then you present food powder to
                    the animal. It salivates to the food powder. Again you ring a bell and you present food powder to the animal. it salivates
                    to the powder. AGAIN you ring a bell and you present food powder to the animal. Every time you’re presenting the food
                    powder to the animal, of course, it is producing the reflexive response, it salivates. After a while the conditioning
                    sets in and the neutral stimulus is now conditioned. We ring a bell and before we present the powder we get salivation.
                    Without the food powder and we get salivation. In the acquisition phase you ring a bell, present food powder, you get
                    salivation, over and over again until at some point you just ring the tone and you do not give the food powder but you
                    still get salivation. The tone is now connected to salivation and it is now no longer neutral, now it produces a response.
                    The tone creates salivation. Even though the salivation may be different than the saliva you get with the food power,
                    the point is something happened with the tone that never did before. Now the tone is producing salivation.
                    <br>
                    <br> Another term that we use in classical conditioning is called
                    <strong>extinction</strong>. This is the weakening of the conditioned association in the absence of the unconditioned stimulus
                    or reinforcer. So, what does that mean? A lot of words. It means you finally have stopped pairing food powder with the
                    tone but the tone is producing salivation and now you’re doing that tone over and over again without feeding the animal
                    every time you ring the bell. You stop presenting food powder after a tone and salivation eventually stops. You give
                    a tone and get salivation. Present the tone and get salivation. Tone Salivation; Tone salivation; Tone less salivation;
                    Tone less salivation. Tone - nothing. In other words the dog has an extinction of that association between the tone and
                    the food. The dog stops salivating to the tone. However, after a week or two weeks, you might come back and ring the
                    bell again. A of a sudden you get salivation again. This is called
                    <strong>spontaneous recovery</strong>. This is the reappearance of an extinguished conditioned response after a time delay, but
                    the spontaneous recovery is never as strong as the original association and it extinguishes much faster.
                    <br>
                    <br>
                    <div style="border: 0px solid white ;float: left; padding: 10px; width:320px;">
                        <div>
                            <img style="width:310px;padding:5px;" alt="Picture of classical conditioning graph" src="img/Learning_Spontaneous.jpg">
                            <center>OpenStax, Psychology. OpenStax CNX.
                                <br> May 18, 2016
                                <br>
                            </center>
                        </div>
                    </div>
                    <br>
                    <br> For those of you who like pictures and can imagine pictures when you’re taking tests here is a graph from the OpenStax
                    book. The picture represents a graph of the acquisition phase followed by the extinction phase. We have acquisition where
                    you’re giving the tone and the food together and you’re getting salivation. The salivation response gets stronger and
                    stronger. At a certain point the response no longer strengthens. You have the strongest association between the tone
                    and the salivation occurring. Then you stop giving the food. You are only giving the tone, and slowly, eventually that
                    association starts to decrease. You do not get as strong a salivation response or the salivation might come later, until
                    it finally just disappears. This is the extinguishing phase. Once it disappears, you can wait for a little bit, maybe
                    two weeks, and you ring the bell again and BOOM, you’ve got another run of salivation, but it’s not as strong as you
                    can see in the graph. It’s not as strong as the last acquisition phase, and it will actually die (extinguish) much faster
                    than the extinction phase of the original acquisition.
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br> It's time for a break guys, and gals.
                    <br> Go get a cup of coffee.
                    <br> Go do something other than study (maybe play the hangman game).
                    <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                    <br> Take 15 minutes or so before you go to the next slide.
                    <br> Distributed learning is the best learning.
                    <br> We will continue the study of Learning in the next lecture.
                    <br> Talk with you then.
                    <br>
                </div>
              </p>
            </div>
          </div>
        </div>