        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">Learning (2)</p>
            <div class="row">
              <p class="flow-text" style="padding-top:18px;">
                <div class="flow-text">
                
                    &nbsp;Welcome back to the second lecture in our learning lectures.&nbsp;
                    <br>
                    <br> We finished the first lecture talking about classical conditioning. We just discussed the acquisition and extinction
                    phases and spontaneous recovery. Now let's talk about
                    <strong> stimulus generalization
                    </strong>. We’ve been talking about giving a tone to a dog. Well tones come in different pitches. You can have a bell
                    that’s very high or very low in frequency. Stimulus Generalization says that some stimuli are very similar to the original
                    and they will elicit the same response. If you actually measure the hertz of the tone you can change it. You can train
                    a dog on a 100 hertz tone and then you can give the animal a 110 hertz tone, and they will still salivate. This is called
                    Stimulus generalization, but there’s also discrimination discriminating different sounds which means that we can actually
                    teach the dog to do different things with different levels of sounds. We can train an animal to do one thing at 100 hertz,
                    and another at 500 hertz, and yet another at 1000 hertz. Dogs are good a discriminating or responding to different sounds.
                    What if we teach an animal to do one thing at 100 hertz and another at 1000 hertz. It learns to react differently at
                    the two different sounds. Once the animal has learned the two different sounds and has acquired the two different behaviors
                    we bring the sounds closer together. Instead of 100 hz we make it 200 and instead of 1000 hz you make it 900. Because
                    of stimulus generalization the animals still respond to the 200 and 900 hz sounds. As we bring the sounds closer and
                    closer together the animal begins to be unable to discriminate between the sounds. They start to act neurotic. We create
                    <strong>experimental neurosis</strong>; which happens when the two stimuli are not distinguishable and the animal acts neurotic.
                    It starts to run around in circles, to howl, it looks nervous and basically has what we in humans would call a nervous
                    breakdown. Is it possible that humans have the same condition? I remember my mother being mad at me and telling me to
                    "Shut your mouth. Don't say another word". Then she asks "Do you understand me?" Well ..... what am I supposed to do?
                    She told me to shut my mouth and then wants me to answer a question!! I can't just nod my head. She made it clear for
                    many years that I answer her questions with a "Yes Mam"! I have two competing requirements! I'm about to have a nervous
                    breakdown!
                    <br>
                    <br> Another type of classical conditioning is called
                    <strong>aversive conditioning
                    </strong>, which is shown in the famous case of Little Albert. We learn to fear something by having it paired with something
                    else. Little Albert was a baby who a few months old and Watson paid his mother to use him in an experiment. Watson was
                    very interested in classical conditioning. They showed Little Albert little rats, and rabbits, and monkeys and dogs and
                    Little Albert didn’t really have any reaction at all to them. They were neutral stimuli. You could give Little Albert
                    a little white rat, and Little Albert had no positive or negative association with that little white rat. Then, since
                    they had this stimulus that they knew was neutral, they presented the little white rat to Little Albert and Watson would
                    stand behind Little Albert with a pot and pan and slam the pot and pan together just after the little white rat was presented
                    to him. Of course what happens when we hear a loud noise? We jump, it scares us, we want to run away. Over a number of
                    pairings of the rat and the pots and pans slamming together, Little Albert didn’t want anything to do with that rat.
                    In fact, not only did he not want anything to do with that rat, he didn’t want anything to do with anything that was
                    fluffy and furry. He didn’t want anything to do with monkeys, with dogs, with rabbits, he hated everything that ended
                    up on four feet and fluffy. In fact he even hated humans in masks at that point. What they did was create a fear in Little
                    Albert of something that was originally neutral to him. That’s a classical conditioning experiment creating an aversive
                    condition. People claim that destroyed Little Albert, but no, it didn’t. There are two competing theories on who Little
                    Albert was. One says that Little Albert was Douglas Merritte who died at age 6 of hydrocephalus (not related to the experiment)!
                    His grave was recently discovered and given the notoriety it deserves. The other theory links Little Albert to a man
                    (William Albert Barger) who died in 2007 as a very old man with no knowledge that he was the famous Little Albert and,
                    from people who knew him, no fear of fluffy objects. You pick which one you like!
                    <br>
                    <br> Today we could have cured Little Albert of his fear using
                    <strong>systematic desensitization
                    </strong>. If you have any phobias of any kind, you can go through a systematic desensitization procedure and reduce
                    or remove the fear. Psychologists help patients to become less phobic of a specific event or object - like spiders or
                    snakes using systematic desensitization which involves learning to relax. Humans don’t know how to relax very well. We
                    are not people who automatically relax unless we’re going to sleep and even then sometimes it’s hard for some people
                    to go to sleep and relax. What our bodies automatically do, is tense. We are very good at tensing up. So, to rid ourselves
                    of phobias we first need to learn to relax. We can teach a person how to relax and once they are able to relax on command,
                    we can start to reduce the fear created by that object. Let's say you are afraid of snakes, and let's say it is a dangerous
                    fear. What's the difference in fear or dangerous fear? I am afraid of snakes. If I see one, I do not approach it. I will
                    go around it. I am not dangerously afraid of it. A person with a phobia of snakes may see a snake on the sidewalk and
                    jump off the side walk directly into traffic and die when a car runs them over. That's a dangerous phobia! To reduce
                    this fear reaction we first need a phobic hierarchy. What is the stimulus that creates the smallest amount of phobia?
                    It could be thinking about snakes. What is the stimulus that creates the next level, it could be a picture of a snake,
                    and so on. Once we have a list of phobic producing stimuli related to snakes - from the least to most fear inducing event
                    we can start at the bottom of the list to reduce the fear response. While you are relaxing you are presented with the
                    smallest phobic producer. When you can remain relaxed while presented that stimulus, we move to the next in the hierarchy.
                    In incremental steps we move towards that full on aversive anxiety provoking stimulus. Systematic desensitization is
                    a type of what we call
                    <strong>counter conditioning.
                    </strong> You are conditioning a response that is counter to the response you want to get rid of. If you want to get
                    rid of somebody being tense, then you have to teach them to relax because you can’t be relaxed and tense at the same
                    time. You do it in small incremental steps, that’s what systematic desensitization is, you’re doing it slowly and desensitizing
                    that particular fear of something very slowly. So you could put a person in a room with a snake in a cage or maybe start
                    out with a rubber snake or even less you might just start out with pictures of snakes and they’re able to relax to pictures
                    of snakes before you start getting into rubber snakes and then real snakes somewhere else in the room, caged up until
                    finally they can actually go up to the cage and look at it and maybe even touch the snake. I know for those of you who
                    hate snakes and don’t even like me talking about it, you can’t even imagine that, but it does work fairly well. You could
                    do the Indiana Jones method of removing anxiety or phobia. If a person is afraid of snakes, throw the person into a pit
                    of snakes . If they don't have a heart attack and die, they may come out of the pit no longer fearing snakes. This is
                    an actual type of therapy called
                    <strong>exposure therapy
                    </strong> based on the old adage "Get back up on the horse" and we will discuss that in the therapy unit.
                    <br>
                    <br> Another type of aversive conditioning is what we call
                    <strong>taste-aversive learning
                    </strong>. It’s a biological tendency for the organism to learn to avoid foods with a certain taste or smell after a
                    single experience, if eating it is followed by illness. It is unusal in that it only takes one example to learn. This
                    is called
                    <strong>one trial learning</strong>. It is very rare to learn with one trial, one example or one experience. Of course evolutionary
                    psychologists would consider this to be a highly adaptable trait. People who ate something and got sick then stayed away
                    from that thing would be able to survive better than those who kept going back and eating the same thing over and over
                    again and getting sick and maybe even eventually dying from it. Even if they did survive they would be sick all of the
                    time. They wouldn’t have a very good rate of caring for their children, foraging for food, avoiding predators or even
                    reproducing. Those people who could learn with one trial would obviously outperform those who didn’t! Now, my dad had
                    a dog named Dawn who was one year old when I was born. I thought Dawn was my sister for a long time. Dawn ate everything
                    that she could find on the ground outside as well as inside. She was a vacuum cleaner! When we moved to a new city and
                    a new home my dad tried very hard to stop her from eating what she found on the ground. He placed jalapenos on the ground,
                    meat with Texas Pete on the ground and gave her everything that he could think of that was terrible. He even gave her
                    the thing that that my dad hated, vinegar, and she didn’t care, she ate it all! It didn’t matter what it was dipped in.
                    One day he was eating a lemon, he likes to eat lemons, the whole thing. He was chewing on a lemon and Dawn was begging
                    at his feet, so he gave her a slice of lemon. She took it in her mouth, made the most disgusting horrible face, spit
                    the lemon out and looked at him like “How could you do that to me?”. That was the last time she ever took anything out
                    of his hands. He had to put it on the floor for her to eat it. One trial learning. It wasn’t what he wanted to teach
                    her, but he taught her not to take anything out of his hands, and he did it with one trial taste-aversion.
                    <br>
                    <br> An interesting experiment was performed for classical conditioning where scientists were trying to condition aversion
                    to sweet water in rats. Robert Ader and Nicholas Cohen did this experiment in the 1970's. Rats absolutely love Saccharin,
                    so they were trying to make rats hate Saccharin. Saccharine is a sugar substitute. There is a back story here where rats
                    given saccharine get cancer. The saccharine industry was required to place a warning on all labels of saccharine. However,
                    it turns out that rats have an enzyme that binds with saccharine to cause the cancer and humans do not have that enzyme.
                    Saccharine would not cause cancer in humans. Too late, the saccharine industry was destroyed. What the scientists did
                    was take the and rats give them sweet water. Then they were gave the rats a drug that made them nauseous. They repeated
                    this - sweet water and drug until the Rats rejected the sweet water. The rats were trained to dislike the water that
                    had the Saccharin in it. Then, they stopped injecting them with the drug, and they only presented the sweet water over
                    many, many trials to find out when the rat would extinguish that fear of sweet water. However, when they presented the
                    sweet water to the rats (without the drug) waiting for extinction to occur, some of the rats died. This was something
                    that should have never happened. It was just an unusual circumstance in this particular experiment and they had to find
                    out why. What they found out was that the rats immune systems were compromised. The drug they gave the rats suppressed
                    their immune system. That was a side effect they didn’t expect. When they’re presented the sweet water, not only were
                    they staying away from the sweet water because they were afraid of it their immune systems were shutting down, even without
                    the drug being injected into them, their immune systems were shutting down. That means the immune system was trained
                    to shut down, so the immune system is in some way under our control. If the immune system is under our control that's
                    a great thing! I will talk about this more in the unit on STRESS!
                    <br>
                    <br> There are challenges to Pavlov. It turns out that there are some stimuli-consequence combinations that are easy to learn
                    like the food-salivation-tones and there are other combinations that are very, very resistant to learning. We can turn
                    to the idea of Preparedness to explain this. Your body, biology, is prepared to respond to specific stimuli-consequence
                    combinations. When you go hunting, you use your ears, and your eyes, and your nose. Your body is prepared to connect
                    these senses. What if Pavlov had tried to connect touch and salivation, it would’ve been harder to do because you don’t
                    use touch to hunt. You use your hearing to hunt, or your smell, or your sight. Pavlov was lucky, or maybe sort of unlucky
                    because it ruined his experiment. Hunting food is directly tied to sound.
                    <br>
                    <br> Another issue with using classical conditioning is the ability of humans to adapt to new procedures. Coyotes tend to
                    kill sheep and upset sheep herders. The herders go out hunting the coyotes. They kill a few but the coyotes come back.
                    What we can do to stop the coyotes is kill one of the sheep and lace it with a specific substance that will cause them
                    to throw up within the half hour. They will eat the sheep, they will go back to their den, they will regurgitate that
                    food for their clan and then all of them will throw up within a half an hour, and they will not touch sheep again. You
                    can keep a large percentage of coyotes from attacking the sheep, by just killing one of the sheep and lacing it with
                    this particular drug. The problem is that you can’t teach farmers to do that. Farmers are unable to kill one sheep to
                    save all the rest. They would rather attempt to kill all of the coyotes, which they can’t do. They lose sheep after sheep
                    instead of the one. Although taste-aversion works in coyotes, you can’t get farmers to purposely feed a sheep to the
                    coyotes. Actually, I think that means that the coyotes are smarter than the farmers are, but we’ll just leave it at that.
                    <br>
                    <br> It's time for a break guys, and gals.
                    <br> Go get a cup of coffee.
                    <br> Go do something other than study (maybe play the hangman game).
                    <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                    <br> Take 15 minutes or so before you go to the next slide.
                    <br> Distributed learning is the best learning.
                    <br> We will continue the study of Learning in the next lecture.
                    <br> Talk with you then.
                    <br>
                    <br>
                </div>
              </p>
            </div>
          </div>
        </div>