        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">Learning (4)</p>
            <div class="row">
              <p class="flow-text" style="padding-top:18px;">
                <div class="flow-text">
                  
                  Welcome back to lecture 4 in learning.<br>
                  We ended the last lecture with a reference to Project pigeon.&nbsp;
                  <br>
                  <br>
                  <div style="border: 0px solid white; float: left; padding: 10px;">
                    <div style="border: 2px solid black; "> <img alt="picture of a pigeon with a bomb" style="width:300px;" src="img/Learning_bomb.png">
                      <center> <span style="font-weight: bold; font-style: italic;">Project
                          Pigeon Explained</span></center>
                    </div>
                  </div>
                  <br>
                  I’m not pulling your legs on this. Skinner trained pigeons to drop
                  bombs on enemy ships in WWII. <span style="font-style: italic;">
                    They were the first smart bombs.</span> They were pigeon brained,
                  but they were the first smart bombs. Some have said that this
                  experiment led the military to consider making the first electronic
                  smart bombs. Even though he proved his point to the United States
                  Military, we were about to drop the atomic bomb and his pigeons were
                  never used by the government in the war. Now, you ask “Why would he
                  do this?” Okay, in the war, you are flying a bomber and you have to
                  drop your bombs on an enemy ship. You are hundreds of feet in the
                  air and the enemy ships are shooting at you. You need to drop your
                  bombs and hit this little tiny postage stamp on the water. The
                  higher you fly the fewer bombs will hit the ship. The lower you fly
                  the more chance you will be shot down by the ships. Of course most
                  of the bombs miss, and there’s a lot of unexploded ordinance at the
                  bottom of the ocean from World War II. If only 10% of the bombs hit,
                  then you’re wasting 90% of the ammunition. If you get close enough
                  to get all the bombs to hit the ship, you’re within range of the
                  guns of the ship and you lose most of your bombers. What if you
                  could fly much much higher up, and you could get - let’s say 20% of
                  the bombs to hit the ships and not lose any bombers? Because you are
                  much higher up they can’t reach you with their guns? You have
                  protected your planes and increased your probabilities well above
                  what your enemy can do, and therefore you would win the war. Skinner
                  showed that his planes could fly so high the enemy ships could not
                  reach them and he would get better than 20% of the bombs to hit the
                  ships. He didn’t get 40 or 50%, he got 100% of the bombs to hit the
                  ships if the pigeons were in control of dropping the bombs. Of
                  course, pigeons can’t carry a bomb; they probably couldn’t even
                  carry a hand-grenade. However, you can teach a pigeon - through
                  operant conditioning - to peck at a picture of a ship. Then you can
                  place the pigeon inside the bomb and show them a picture of what is
                  below the bomb as it drops toward the enemy. Whenever it sees a
                  ship, the pigeon pecks at the ship. The bomb has a little guidance
                  system, so that wherever the pigeon is pecking on the picture inside
                  the bomb, the bomb moves so that the pigeon’s pecking is dead center
                  of the screen; and what happens then? The bomb is heading directly
                  for that ship! The pigeon pecks on the picture of the ship from
                  inside the bombs. As they’re pecking on the picture, the bomb moves
                  itself so it’s centered over the ship, and 100% of the bombs are
                  going to hit the ship. <br>
                  <br>
                  <div style="border: 0px solid white ;float: left; padding: 5px;"> <iframe src="https://www.youtube.com/embed/vIbZB6rNLZ4" allowfullscreen="" frameborder="0" height="315" width="320"></iframe>
                    <center> <span style="font-weight: bold; font-style: italic;">Project
                        Pigeon Explained</span></center>
                  </div>
                  <br>
                  <br>
                  Well, my wife said “You are killing the pigeons!? Couldn’t you put
                  like a little door on the bomb and let the animal out when it got
                  directly over the ships so that the pigeons could escape and
                  survive?” The problem with that idea is that when the door opens it
                  breaks the airflow and throws the bomb off course. So you couldn’t
                  do that, besides you wouldn’t want the enemy to get their hands on
                  your trained pigeons. You want the enemy to train their own pigeons,
                  if they ever figured out what was happening. Of course, as I said,
                  none of the pigeons were ever used; none of them were ever exploded
                  because the atomic bomb ended the war. But, that is a true
                  experiment that happened with Skinner during WWII, and one of the
                  interesting uses of operant conditioning. The government loved his
                  research and therefore funded more of his research. Of course any
                  research funded by Uncle Sam gets special treatment. You get to do
                  most of the publishing, and if other people do experiments like
                  yours, they’re going to get funded too. That’s one of the reasons
                  why operant conditioning and behaviorism became such a huge part of
                  Psychology for so long. The government funded that kind of research!
                  If you wanted to make a living as an experimental psychologist, you
                  became a behaviorist! So behaviorism controlled psychology for
                  nearly 50 years!<br>
                  <br>
                  Now let's talk about the principles that Skinner applied to get his
                  pigeons to drop bombs. The process is called Operant Conditioning.
                  Operant conditioning is not about a simple reflex action like
                  Classical Conditioning. In operant conditioning we modify voluntary
                  behaviors to combine them into new behaviors. We do this through
                  reinforcement and punishment. A <span style="font-weight: bold;">reinforcer
                    </span> is any stimulus that increases behavior, makes it occur
                  more frequently, makes it stronger, or makes it more likely to
                  occur. Two adjectives used in Operant conditioning are positive and
                  negative, however, they have nothing to do with good or bad! This is
                  a confusing part of the learning unit for many students. The word <strong>Positive</strong>
                  means to present something (give something). A Positive reinforcer
                  for instance is candy or a hug. You’re presenting something to the
                  child. Negative does not mean bad.<strong> Negative</strong> means
                  to take something away. So, negative reinforcement is removal of
                  some sort of unpleasant stimulus, contingent on a particular
                  behavior that you’re trying to increase. Positive and negative do
                  not mean good and bad. It’s very important to recognize that when
                  we’re talking about Operant conditioning, positive means to present
                  something, negative means to take something away. Also remember that
                  the only way to define the reinforcer is to see how the behavior
                  changed. Did it increase? Then you gave or took away a reinforcer! <br>
                  <br>
                  <span style="font-weight: bold;">Primary reinforcers</span> are
                  those things that are biologically useful to the organism like food,
                  liquid or sex. They have an innate basis that will control behavior
                  because it has value to the organism. <strong>Secondary reinforcers</strong>
                  are stimuli such as money or tokens that acquire their reinforcing
                  power by their learned association with primary reinforcers. These
                  are also called <strong>conditioned reinforcers</strong>. These are
                  reinforcers that are classically conditioned. Tokens that you get
                  for being good can be turned in for extra pudding in a hospital.
                  They work with children and mentally challenged adults. You may
                  remember this from your elementary school. We put little gold stars
                  up on the board in the front of the room for those children who have
                  done well. When the child has a certain number of gold stars, then
                  they get something extra at school. Tokens in a mental ward for
                  mentally challenged adults can be turned in for extra food that they
                  like or for special privileges or extended time with the television.
                  You can't eat money or drink it, but you can use it to acquire food
                  and water. In certain counties of the State of Nevada in the United
                  States it is also legal for you to use money to acquire sex! <br>
                  <br>
                  We have the ability to reinforce a behavior with different
                  reinforcement schedules. We can reinforce either continuously or
                  only partially. In <strong>continuous reinforcement</strong>, it’s
                  a schedule in which every correct response is reinforced. Every
                  single time the subject gives a good response, they get the
                  reinforcement. <strong>Partial reinforcement</strong> is what
                  everybody who gets paid is on. You’re on a partial reinforcement
                  schedule. You do a lot of work, and you get paid at the end of the
                  week or at the end of the month, or twice a month. It’s
                  reinforcement scheduling in which some but not all correct responses
                  are reinforced. This is also called <span style="font-weight: bold;">intermittent
                    reinforcement</span>. We can also <span style="font-weight: bold;">extinguish
                    </span> the behavior in Operant conditioning; this is the process
                  by which a response that has been learned is weakened by the absence
                  or removal of the reinforcement. How does this differ from
                  extinction in classical conditioning? Not very much. The main
                  difference is the speed at which extinction occurs. In Classical
                  conditioning partial reinforcement produces weak behavior that is
                  easily extinguished. In Operant conditioning, partial reinforcement
                  produces strong behavior that takes longer to extinguish. <br>
                  <br>
                  We just saw that the event that follows the behavior you want to
                  change can occur all the time, which is continuously or only some of
                  the time which is partial. The partial or intermittent scenario can
                  be based on an interval of time or a ratio of events. In a ratio
                  schedule, a ratio of events, you provide a reward for a certain
                  number of responses. Every time they give six correct responses,
                  they get a dollar. That’s a fixed ratio schedule. If they give the
                  correct response they get paid, but they will not get paid again
                  until an hour has passed and they again give the correct response.
                  That’s an interval schedule in which we provide reward after a
                  certain time interval. We can modify the partial rewards with fixed
                  or variable ratios and times. We call them FR, VR, FI, or VI. <br>
                  <br>
                  <span style="font-weight: bold;">Fixed ratio</span> (FR) occurs when
                  rewards appear after a certain set number of responses. Factory
                  workers may get paid only after every 10 cases of product are
                  completed. That’s a fixed ratio. <br>
                  <br>
                  <strong>Variable ratio</strong> (VR), rewards appear after a certain
                  number of responses, but that number varies from trial to trial.
                  Using a variation of what I gave you as an example for fixed ratio;
                  the variable ration example might be that the factory workers get
                  paid for a variable ratio of 10 boxes. Sometimes it might be 5
                  boxes, sometimes it might be 15 boxes, eventually if you add up all
                  the rewards and all the boxes created and divide one by the other
                  you can figure out the average number of boxes they had to produce.
                  That is a variable ratio. Slot machines use this form of reward
                  because it creates the longest extinction time. In other words: when
                  the slot machine stops paying you, it takes a very long time before
                  you stop feeding it money! <br>
                  <br>
                  <span style="font-weight: bold;">Fixed interval</span> is when
                  rewards appear after a fixed amount of time, regardless of the
                  number of responses. It doesn’t matter how many responses you give,
                  what matters is the fixed amount of time. You get weekly or monthly
                  paychecks. It’s always weekly or monthly and it does not matter at
                  all how much work you did. You will do enough work to stay employed,
                  but why do more than that? <br>
                  <br>
                  <span style="font-weight: bold;">Variable interval</span> is when
                  rewards appear after a certain amount of time but that amount of
                  time varies from trial to trial. It could be random visits from the
                  boss who delivers praise to you. It can happen any time during the
                  week. Administrators get training and are told they should do this!
                  Unfortunately it does not work, because the employees know the boss
                  has zero idea of what they do. Praise under that condition means
                  absolutely nothing. If the boss takes the time to know the employees
                  and the work they do, then the variable interval of praise would
                  have a more positive effect. <br>
                  <br>
                  Below is a video of a rat in a Skinner box. Skinner himself did not
                  call it a Skinner box and did not like the reference, but he
                  invented the thing! The rat has learned that it can press a bar to
                  get a few morsels of food. It also knows that when the light is on
                  the lever works, but when the light is off the lever does not work.
                  What is interesting is that rats have a sense of time. You can
                  arrange the lever to only give out food when it is pressed every
                  minute. The rat will learn to press the bar, eat and then groom
                  itself or wonder around the box sniffing until the minute is almost
                  up and then it will go back to the bar and beat it to death until it
                  gets fed. The it will wait again. I had 150 rats and 10 Skinner
                  boxes for my Master's thesis on the Reversed Partial Reinforcement
                  Extinction Effect.<br>
                  <br>
                  <div style="border: 0px solid white ;float: left; padding: 5px;"> <iframe src="https://www.youtube.com/embed/PQtDTdDr8vs" allowfullscreen="" frameborder="0" height="315" width="320"></iframe>
                    <center><span style="font-style: italic;"><span style="font-weight: bold;">A
                          rat in a Skinner box</span></span></center>
                  </div>
                  We have been told that reinforcers increase behaviors, but
                  reinforcers aren’t the only part of operant conditioning. There are
                  also punishers. <span style="font-weight: bold;">Punishers </span>are
                  any stimulus that decreases behavior, that makes it occur less
                  frequently, makes the behavior weaker or makes it less likely to
                  occur. Now, again, positive and negative do not mean good or bad.
                  Positive means to present something; so positive punishment is the
                  application of an aversive stimulus after a response to decrease the
                  response. For example, hollering, screaming, slapping, spanking,
                  fines, tickets, and points on insurance are all used as positive
                  punishments. What about Negative punishments? Again, Negative means
                  to take something away; so negative punishment is the removal of
                  something pleasant or something attractive contingent on a
                  particular behavior to decrease that behavior. Your mom may say: if
                  you have a dirty room, you’re not going to watch TV. Punishment is
                  used to reduce a particular behavior. The child keeps a dirty room
                  and you want it to be less dirty. Here is a problem in defining
                  reinforcement or punishment. Are you looking at cleaning behavior or
                  messy behavior??? If you want to <strong>increase </strong>cleaning
                  you need reinforcement of the cleaning behavior. If you want them to
                  <strong>reduce</strong> the dirty behavior, you want to punish being
                  dirty. The child has to know which behavior you are punishing or
                  reinforcing. Punishment works almost immediately but does not work
                  as well as reinforcement as I will discuss in the next lecture. <br>
                  <br>
                  A rat in a cage will naturally press a lever in the cage simply
                  because it is there. We can measure the amount of normal lever
                  pressing behavior the rat performs. Then we can alter the normal
                  behavior. Let's look at a couple of examples of punishment and
                  reinforcement. First lets say we want a rat to increase lever
                  pressing behavior. Rats do not like loud noises (why they live in
                  New York I can't say????). If we put a rat into an environment with
                  loud noise and turn off the noise if a lever is pressed, then the
                  rat will press the lever more often. We removed a <span style="font-weight: bold;">stimulus</span>
                  (the noise) which is "negative". We increased lever pressing which
                  is reinforcement. You increased the lever pressing by taking away
                  something the rat does not like - so it is "Negative Reinforcement".
                  Second lets decrease the rat lever pressing behavior. Since we are
                  decreasing the behavior it is punishment. Let's make it positive
                  punishment. To do that we need to present a stimulus to decrease the
                  behavior. The rat is in a quiet environment. A loud noise is applied
                  when the rat presses the lever. They do not like loud noises so the
                  natural lever pressing behavior decreases. Remember that the
                  negative and positive adjectives have nothing to do with the amount
                  that the behavior changes. The words reinforcement and punishment
                  are what tell you that behavior is changing, either increasing with
                  reinforcement or decreasing with punishment. <br>
                  <br>
                  So, here is a good question: What is a reward or a punisher? What
                  you think is aversive or attractive, may not be to the subject. Are
                  you familiar with the word Masochist? It means "a person who enjoys
                  pain". If you spank a child, and that child happens to be
                  masochistic, then it’s going to be a reward to that child rather
                  than the punishment you wanted it to be. If you give bananas to
                  someone - because you want to reward them and YOU like bananas - but
                  the subject hates bananas, then you’re not giving a reward; you’re
                  going to decrease (punish) the behavior. Rewards and punishers are
                  defined by their effect on behaviors and that’s one of the big
                  problems with the Operant conditioning paradigm which we will
                  discuss in the next lecture. <br>
                  <br>
                  <img alt="Holywood Squares of Learning" src="img/Learning_hollywood_squares.png" style="width:320px;float:right; padding:10px;"> Here is a visual
                  display (I call the Hollywood squares) of how you can look at
                  increasing and decreasing behavior. First across the top row we have
                  Increasing behavior. If we are increasing behavior we are
                  reinforcing it. In the top left square we are increasing behavior,
                  and adding something which makes what we are doing "positive
                  reinforcement". It might be giving a bonus for working hard which
                  would lead to more hard work. In the top right box we are still
                  reinforcing but now we are taking something away to increase
                  behavior which makes it "negative reinforcement". An example would
                  be (how do we increase the consumption of aspirin?). If someone has
                  a headache and swallows an aspirin and the headache goes away, then
                  that person will increase their use of aspirin. On the bottom row we
                  are decreasing behavior which is always considered punishment. So,
                  positive punishment is getting a speeding ticket, which leads to
                  less speeding, and negative punishment could be a child who stays
                  out too late gets no dinner. Missing dinner leads to less staying
                  out late. You’re taking away something to decrease the behavior of
                  staying out late. Remember the definition depends on the behavior
                  being modified and the way you get it to change. <br>
                  <br>
                  Skinner was born in 1904 and died in 1990. <strong>Operant
                    conditioning</strong> is shaping and maintaining behavior by
                  assuring that consequences follow that behavior. Remember in this
                  context, positive does not mean good and negative does not mean bad.
                  Reinforcement makes something happen more often. Punishment makes
                  something happen less often. Positive means you present something,
                  such as candy. Negative means you take something away, such as
                  television privileges. <br>
                  <br>
                  Let's look at some terms for Operant Conditioning. First: <strong>positive
                    reinforcement</strong> is presenting something which produces an
                  increase in behavior. For example; bar pressing in a rat might lead
                  to being fed or working for a human might lead to being paid. That’s
                  positive reinforcement. Next: <strong>negative reinforcement</strong>
                  is taking something away which produces an increase in behavior. For
                  example; responding might cause a high pitched noise to stop, or a
                  child picks up her clothes in order to stop her parents from nagging
                  (see the analogy). Third: <strong>positive punishment</strong>
                  which is presenting something reduces the occurrence of behavior.
                  For example, if a rat moves off a platform and we want it to stay on
                  the platform then we give it a shock when it leaves the platform.
                  Another example might be dangerous driving which leads to be a big
                  fine. I do no adhere to the positive punishment principle. We will
                  discuss why in the next lecture. However, as an example: You are
                  holding a baby. The baby pinches you, so you slap the baby. That was
                  positive punishment, right? You want the baby pinching to decrease,
                  so you give it a slap and tell it no. This does not work as well as
                  it appears. I do not adhere to this philosophy. Slapping a child
                  creates many negative side effects we will talk about later, but
                  positive punishment does reduce the behavior almost immediately.
                  This is why people use it., The adults want immediate gratification
                  and positive punishment appears to give that to you. The behavior
                  stops. Lastly: <strong>negative punishment</strong> which is taking
                  something away to reduce the occurrence of behavior. For example:
                  rats are curious animals and explore their environment. If we want a
                  rat to stay in the center of a box we can give it pleasant brain
                  stimulation and if it moves off the center of the box the pleasant
                  brain stimulation stops. You’re taking away the pleasant
                  stimulation, so eventually the rat is never going to leave the
                  center of the box. Here is an issue with defining Operant
                  conditioning. Are you rewarding the rat for staying in the center of
                  the box, or punishing it for moving? It completely depends on the
                  behavior you are describing! If you say the sentence "I want to
                  control the rat" then I would ask, "what behavior do you want to
                  control"? If you say "I want to decrease curious foraging behavior".
                  Then we will punish that behavior. If you say "I want to increase
                  motionless behavior", then we will be reinforcing the rats
                  stationary behavior. Always be aware of what behavior you are
                  describing and what direction it is going (increasing or
                  decreasing). Let's go back to the pinching baby and talk about
                  negative punishment. If you are holding a baby, and the baby pinches
                  you. You tell the baby no and put the baby down, thus ending the
                  pleasant sensation the child had of being held (hopefully the baby
                  wants to be held). You pick the baby back up later. If it pinches
                  you again you tell it no and you put it down. It will take longer to
                  reduce the pinching behavior this way (rather than slapping the
                  child) but it is better than positive punishment for numerous
                  reasons. Negative punishment takes longer to affect behavior than
                  positive punishment, but works better. However, reinforcement of
                  behavior is best! <br>
                  <br>
                  It's time for a break guys, and gals. <br>
                  Go get a cup of coffee. <br>
                  Go do something other than study (maybe play the hangman game). <br>
                  There is one crossword puzzle for the entire unit, but the hangman
                  games are made for each slide. <br>
                  Take 15 minutes or so before you go to the next slide. <br>
                  Distributed learning is the best learning. <br>
                  We will continue the study of Learning in the next lecture. <br>
                  Talk with you then. <br>
                  <br>
                </div>
              </p>
            </div>
          </div>
        </div>