        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">Learning (3)</p>
            <div class="row">
              <p class="flow-text" style="padding-top:18px;">
                <div class="flow-text">
                  
                
                    &nbsp;Welcome back to the third lecture on Learning.
                    <br> We were discussing classical conditioning in the last lecture.
                    <br> Psychologists finally had something they could study in a laboratory and find causality rather than just correlation.
                    <br> Rather than just armchair philosophy, they could actually do experiments.&nbsp;&nbsp;
                    <br>
                    <br> What if you train an animal that nothing works, no matter what the animal does, it can not succeed. The animal learns
                    that it is helpless. Martin Seligman calls this
                    <span style="font-weight: bold;">learned helplessness
                    </span>. If nothing ever works, then the animal learns not to respond to anything, and when I say to anything I mean
                    anything. Even when it’s put into a new situation, it doesn’t respond like it would have normally responded. An old experiment
                    put a fish that likes to eat minnows (a Pike) into a tank with minnows. However, the minnows were on the other side of
                    a glass plate. The Pike tried to eat the minnows and kept hitting its nose on the glass plate. Finally it gave up. At
                    that point the glass plate was removed and the minnows swam around the entire tank without having to avoid the pike.
                    The pike did not even try to eat them anymore. It had learned that it was helpless.
                    <br>
                    <br>
                    <div style="border: 0px solid white ;float: left; padding: 5px;">
                        <iframe src="https://www.youtube.com/embed/87Vuqvp2V7w" allowfullscreen="" frameborder="0" height="315" width="320"></iframe>
                        <center>
                            <span style="font-weight: bold;">
                                <span style="font-style: italic;">Learned Helplessness explained</span>
                            </span>
                        </center>
                    </div>
                    <br> You could probably take a very nasty dangerous baboon and put it into a giant metal cone. The cone has a big opening
                    at the top, and then it narrows down into a smaller section at the bottom which will barley fit the animal. The baboon
                    is then in the bottom section and when it tries to climb out of the cone, it slides back down. No matter what it does,
                    it slides right back down into the bottom of the cone. It bites at the metal and throws its poop, because that's what
                    baboons do when they get upset. Finally it gives up. It learns that no matter what it does, nothing works, and just finally
                    sits down and stops doing anything. That very mean, horrible, creature (although still dangerous) is now much more docile
                    than it ever was before. It's not something that you would want to play with, but it will not be as dangerous as it was
                    because it has learned helplessness. That learned helplessness then inundates the rest of its life, not just when it’s
                    in the cone but everywhere else. It has learned that it can’t do anything, nothing works, and it just stops trying. Unfortunately
                    human children can learn helplessness too. They learn that it doesn’t matter what they do, they cannot get their father
                    or mother’s attention or can not do a specific task and they just give up. They stop trying. That then follows them throughout
                    their life. They experience the feeling of helplessness in everything in their life.&nbsp; You may know an adult or two
                    that fits this syndrome.
                    <br>
                    <br> A major question for behaviorists is: "Are there thoughts involved in Classical Conditioning"? Did Pavlov's dogs think,
                    "I hear a tone so the food is coming!"? According to the Behaviorists there are neural pathways created during classical
                    conditioning, and those pathways cause the behavior to reoccur without any need for thinking. Behaviorists do not care
                    about thought. They view thoughts as unobservable phenomenon. You can’t see a thought, and thus they are useless for
                    scientific testing. If you’re going to be giving animals thought processes, you’re basically armchair philosophizing
                    again. You can not take an animal into the laboratory and study thought. So, thoughts must be removed completely from
                    classical conditioning. It isn’t thought processes causing the behavior. It’s just neural pathways being built up during
                    the conditioning that create the behaviors. Cognitive Psychologists on the other hand, would talk about the link the
                    animals make between the neutral stimulus and the unconditioned stimulus that they think “Oh, there’s food coming” and
                    they salivate and that’s why they salivate. But, the Behaviorists don’t believe that. Behaviorists only want to study
                    what you can see and that means studying behavior - not thoughts. If I ring a bell there are neurons firing in my brain
                    as I hear the bell. When I am given food there are neurons in my brain that create the salivation. When the two neural
                    pathways fire off together long enough, the brain makes neuronal connections between the two pathways. Thought is not
                    involved in this process.
                    <br>
                    <br> How old were you when you changed the world? In 1898, Edward Thorndike was 23 years old and he did an experiment with
                    what he called a puzzle box to study how animals attempt to escape from the box to acquire food that’s outside the box.
                    The studies that he did at 23 years of age were the beginning of Behaviorism and the beginning of Operant conditioning.
                    Operant conditioning and Behaviorism ruled Psychology for over 40 years. If you wanted to be an experimental psychologist,
                    you were a Behaviorist and nothing else. Nobody else counted and it didn’t matter what else you were thinking about,
                    you were either a Behaviorist or you weren’t a true psychologist. We'll talk about why this happened in a few minutes.
                    So, Thorndike changed the face of Psychology and the Behaviorists and Operant conditioning which came out of his work
                    controlled psychology for many, many years.
                    <br>
                    <br> Thorndike described
                    <span style="font-weight: bold;">Trial-and-error learning
                    </span>; which is when the learner gradually discovers the correct responses by attempting many different behaviors.
                    The behaviors that produced the desired consequences are increased. He would say nothing about the idea that the animal
                    thought about it. What the Behaviorists say is that when a particular behavior is strengthened, the neural impulses for
                    that behavior are strengthened. There is no need to use thought as a reason for the increase in behavior. What did he
                    do? He would put a cat into a box. The box had holes in it, and there was food on the outside of the puzzle box. The
                    cat had to get out of the puzzle box to get to the food. There were certain levers that it might be able to push or holes
                    it might be able to stick its paws out of and hit something on the outside. One specific lever was designed to open the
                    box. Eventually the cat would hit the right sequence of events and would get out of the box. Certainly it took a long
                    time the first time, but eventually over time, you would put the animal in the box and it would immediately do the behaviors
                    that were necessary to get out of the box and get to the food.
                    <br>
                    <br> Edward Thorndike called what he found the
                    <strong>Law of Effect</strong>. Behaviors followed by positive consequences are strengthened, and behaviors followed by negative
                    or even simply innocuous consequences are weakened. This became the basis for Watson’s creation of Behaviorism. In his
                    1930 book Behaviorism Watson stated "
                    <span style="font-weight: bold; font-style: italic;">Give me a dozen healthy infants, well-formed, and my own specified world to bring them up in and I'll guarantee to take
                        any one at random and train him to become any type of specialist I might select – doctor, lawyer, artist, merchant-chief
                        and, yes, even beggar-man and thief, regardless of his talents, penchants, tendencies, abilities, vocations, and
                        race of his ancestors.</span>" (p. 82) Watson is viewed as the father of Behaviorism and it lead Skinner, who was
                    a student of behaviorism, to define what he called operant conditioning. Operant conditioning was for many, many years
                    the only type of real science in Psychology (I'll explain why in another part of this lecture). Skinner's students took
                    behaviorism to the extreme (called Radical Behaviorism).
                    <br>
                    <br>
                    <span style="font-weight: bold;">Operant conditioning</span> is a form of behavioral learning in which patterns of rewards, punishments, and other consequences
                    encourage or discourage the behaviors that they follow. So, operant conditioning is a change in the probability of behavior
                    occurring due to the consequences that follow that behavior. This is of course, part of the law of effect. It is not
                    a case of simple reflexes. Operant conditioning shapes very complex voluntary behavior patterns. Behavior can either
                    increase or decrease based on its consequences. Remember that according to behaviorists, thinking is not a part of the
                    process. You either increase the behavior or decrease the behavior because those are the patterns that are laid down,
                    not because you have created a thought pattern but because of the basic neurological patterns that are laid down in the
                    brain through the consequences that are following the behaviors that you are trying to change.
                    <br>
                    <br>
                    <div style="border: 0px solid white ;float: left; padding: 10px;">
                        <iframe src="https://www.youtube.com/embed/TtfQlkGwE2U" allowfullscreen="" frameborder="0" height="315" width="320"></iframe>
                        <center>Skinner training a pigeon</center>
                    </div>
                    <br> Skinner created what he called a study box. It later became known as a Skinner box, and still today is called a Skinner
                    box. He really disliked that term. His study box allowed him to manipulate sound and light in experiments on animals
                    inside the box. He found that he could reinforce responses that incrementally changed the behavior of the animal in the
                    box. The animal in the box would produce behaviors that it never, ever would produce in the wild. He could get a pigeon
                    to play a child's toy piano by “shaping” its behavior.
                    <span style="font-weight: bold;">Shaping
                    </span> is reinforcing small consecutive steps toward a final goal. You can get a pigeon to play “Twinkle, Twinkle, Little
                    Star” on a piano if you feed the pigeon when it takes little small steps towards the goal of playing the song. If you
                    wait for the pigeon to play “Twinkle, Twinkle Little Star” before you feed it, it’s going to die from starvation. However,
                    you can get the pigeon to peck at the keys if you put food on the piano keys. After the food is gone, it will still peck
                    at the piano and you can feed it when it pecks at the piano. It’s going to peck at the keys in order to get food. Now
                    since you’ve got it hitting the keys, you only allow the food to be given to the pigeon when it hits a specific key.
                    You can shape which key it pecks at by feeding it when it pecks the correct key. If you don't feed it right away then
                    it hits the key again and may hit another key. So you feed it again. Now, you give it the food only if it hits that key
                    and the next key in the direction of the next note. Yes this takes a LONG time and LOTS of patience, but it can be done.
                    Can anybody tell me why “Twinkle, Twinkle Little Star” and “A-B-C-D-E-F-G” the alphabet song, are the exact same music?
                    If you say the pigeon plays “A-B-C-D-E-F-G” instead of “Twinkle, Twinkle Little Star”, you could say “Well, this animal
                    knows its alphabet". In operant conditioning, you can do some really strange things. In a experiment using operant conditioning,
                    Skinner “shaped” pigeons during WWII to drop bombs on enemy ships in a experiment called
                    <span style="font-weight: bold;">Project Pigeon</span>.
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br> Here is the time frame for these experiments:
                    <br> Pavlov 1905 – Classical Conditioning
                    <br> Thorndike 1905 – The Law of effect
                    <br> Watson 1914 – Published a paper called Behaviorism
                    <br> Watson 1920 – Little Albert
                    <br> Skinner 1944 – Project Pigeon
                    <br>
                    <br> We'll talk about project pigeon in the next lecture.
                    <br> It's time for a break guys, and gals we'll talk about project pigeon in the next lecture!
                    <br> Go get a cup of coffee.
                    <br> Go do something other than study (maybe play the hangman game).
                    <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                    <br> Take 15 minutes or so before you go to the next slide.
                    <br> Distributed learning is the best learning.
                    <br> We will continue the study of Learning in the next lecture.
                    <br> Talk with you then.
                    <br>
                </div>
              </p>
            </div>
          </div>
        </div>