        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">Learning (5)</p>
            <div class="row">
              <div class="row">
                <div class="container">
                    <paper-audio-player color="orange"
                                        src="audio/dont_let_me_get_me.mp3"
                                        title="Pink! - Don't let me get me">
                    </paper-audio-player>
                </div>
              </div>
              <p class="flow-text" style="padding-top:18px;">
                <div class="flow-text">
                  
                  
                  Welcome back, this should be the last lecture on Learning, lecture
                  number 5. <br>
                  We just talked about Operant conditioning and got all of the terms
                  and conditions right, it is complicated. <br>
                  I hope I have made it a little bit less complicated by giving you
                  some of the examples. <br>
                  We’ve talked about reinforcement and punishment and the fact that
                  positive and negative do not mean good or bad, it means add or take
                  away. <br>
                  <br>
                  Now let's discuss punishment in more detail. The punisher’s power
                  usually disappears when the threat of punishment is removed. So, for
                  instance I’ve taught our cats not to get on the counter by knocking
                  them off the counter every time they got up on the counter or
                  spraying them with water. The cats learned to stay off the counter.
                  The problem is they learned something that I didn’t want them to
                  learn and that is - IF and only IF daddy is home stay off the
                  counter, but if daddy isn't home then you have free reign of the
                  house, wherever you want to go. How do I know this? When I'm home
                  they never get on the counter, but when I come home from work, there
                  are little paw prints all over the counter! The problem is that the
                  punisher’s power disappears when the punisher isn’t there. Also
                  positive punishment often triggers aggression. When you are
                  aggressive towards a child, they learn that aggression is OK.
                  Certainly your aggressive behavior might reduce the child's behavior
                  you punished them for, but it triggers aggression and fear as well.
                  Punishment may also inhibit learning new and better responses. When
                  you are aggressive against a child their brain chemicals change.
                  Adrenaline and other hormones are surging. It is difficult to teach
                  the child the "proper" behavior after you positively punished the
                  "improper" behavior. This is one reason negative punishment is
                  better than positive. Negative punishment allows you to teach and
                  reinforce the behavior you desire in the child. You may be able to
                  address new and better ways to behave after providing the negative
                  punishment. Another issue with punishment is that it is often
                  applied unequally and it needs to be applied immediately and
                  consistently. If it is immediate and consistent, punishment seems to
                  work. The problem is that this is usually impossible because you
                  cannot be there all the times. How many times did my mother tell me
                  "Wait till your father gets home!"? That is not an immediate
                  punishment. When a child or animal does something wrong, you usually
                  find out later that it happened. You are punishing many hours later
                  rather than immediately. So, since immediate and consistent is
                  nearly impossible, there are better ways to decrease unwanted
                  behavior.&nbsp; <br>
                  <br>
                  You could possibly use extinction to decrease unwanted behavior.
                  Some bad behaviors have been rewarded. The person (or animal) has
                  inappropriately been rewarded for the behavior that they’re
                  producing. How many times have you paid attention to your child when
                  they were doing something good? Compare that to the number of times
                  you paid attention to them when they are bad! Children want
                  attention - even if it is not very good attention (yelling and
                  screaming). You are teaching them to be bad! For God's sake, pay
                  attention to them when they are quiet or just took out the garbage
                  or helped you do something in the hose. Don't ignore them! How many
                  of your friends or the baby sitter say you have wonderful children
                  (when you aren't home), but you rarely see those children. The
                  siblings are always fighting when you are home! That's how they get
                  your attention. If you have been rewarding them for being bad then
                  take the reward away, and that behavior will extinguish. Again - it
                  changes slowly and adults like immediate gratification. You need to
                  be a little patient! So, you stop the reinforcement, and the
                  behavior decreases because no reinforcement follows. Another way to
                  change poor behavior is to reinforce preferred activities that are a
                  counter to the poor behavior. Counter conditioning is rewarding
                  behavior that is counter to the behavior you want to get rid of.
                  Increase behaviors that you like, by reinforcing the good activities
                  that are counter to the behavior that you don’t want. You would then
                  be increasing competing behaviors that cannot occur together with
                  the behaviors you want to reduce. If children are running around and
                  you don’t want them to run around, reward them for laying down and
                  sleeping or relaxing. You will get more sleeping and relaxing
                  behavior and less running around screaming behavior - eventually. As
                  adults we want "immediate gratification" and punishment provides
                  adults with immediate gratification. Rewards take longer to work,
                  but they are much better for learning proper behavior and reducing
                  bad behavior. If you have a child your child has probably taken a
                  pen or a crayon and produced "Wall art". You know what I mean! Every
                  kid eventually does it. How should we respond? They did a bad
                  behavior. We can punish them, but that does not teach them the
                  proper behavior which is drawing in a coloring book or on paper at
                  the table. First of all - control your own anger. Bring the child to
                  the wall with a bucket of cleaner and have them destroy their own
                  work (clean it off the wall). Tell them how pretty it was and it is
                  such a shame we have to destroy it. If only they had put it on a
                  piece of paper we could hang it on the refrigerator. When they are
                  done cleaning, take them to the table with a crayon and paper and
                  let them draw correctly. Then make a fuss about the new drawing on
                  the correct medium (paper) and put it on the refrigerator! <br>
                  <br>
                  One problem I have with Operant conditioning is circular logic. What
                  is a reinforcer? It is something that increases behavior. Why did
                  the behavior increase? Because a reinforcer was applied. Why was it
                  a reinforcer? Well, it increased the behavior. Can I tell it is a
                  reinforcer before I see how the behavior changes? No! It’s much like
                  the idea of going to the dictionary and looking up automobile and it
                  says “See car”, so you go to car and it says “see automobile”. It
                  just doesn’t work. It doesn’t give you any real good clear picture
                  of it, and it is a circular logic. Operant conditioning does have
                  this problem. Give a banana to somebody, and it decreases behavior
                  for one person and increases behavior for another. You’re defining
                  the behavior that occurs, but until the behavior occurs you don’t
                  know what that object is? Is it a reinforcer or a punisher? <br>
                  <br>
                  Let me compare Operant conditioning and Classical conditioning in
                  six different way. First of all in Operant conditioning, the
                  reinforcer or punisher must follow the behavior that you wish to
                  strengthen and in Classical conditioning there is no reinforcer or
                  punisher, it’s the neutral stimulus that has to precede the
                  unconditioned neutral stimulus. In Operant conditioning, the reward
                  can be delivered either on continuous or intermittent, which also
                  means partial schedule, and in Classical conditioning it’s
                  continuous always. The neutral stimulus is almost always paired with
                  the unconditioned stimulus. And number three, in Operant
                  conditioning, extinction will occur when the reinforcer or punisher
                  fails to appear and, hey, in Classical conditioning we also have
                  extinction which will occur when the neutral stimulus is no longer
                  paired with the unconditioned stimulus over many, many trials. <br>
                  <br>
                  Number four, in Operant conditioning, partial reinforcement produces
                  stronger behavior patterns and extinction is slower; but in
                  Classical conditioning, partial pairing of the neutral stimulus and
                  the unconditioned stimulus produces weaker behavior and thus faster
                  extinction. In Operant conditioning for number five, the goal is to
                  change the rate of behavior. In Classical conditioning, the goal is
                  to connect a response to what was a neutral stimulus. And, number
                  six, in Operant conditioning, it’s all about voluntary responses.
                  But, in Classical conditioning, it’s all about reflexive responses.
                  So, those are six different ways you can compare Operant and
                  Classical conditioning. <br>
                  <br>
                  They’re not the only types of learning. I know the majority of this
                  particular lecture has been Classical and Operant conditioning, but
                  there are other different ways that Psychologists look at learning.
                  The Cognitive Psychologists explain learning this way: according to
                  Cognitive psychology, some forms of learning have to be explained as
                  changes in mental processes, rather than as simply changes in
                  behavior. A learning process can occur, simply by mental changes
                  rather than behavior changes. You might not see any behavior
                  changes, but you would certainly get from that person a change in
                  their mental attitudes. <br>
                  <br>
                  Insight learning is problem solving that occurs by means of a sudden
                  reorganization of perceptions, also called an “Aha” moment. The
                  moment when you finally see how everything works and you get it, is
                  insight learning. It takes a long time for your brain to pull all
                  the different materials together or maybe it’s missing one and
                  you’re trying to find that one. You finally realize how everything
                  fits together, like the man who discovered the structure of the
                  benzene molecule. <a target="_blank" href="https://en.wikipedia.org/wiki/August_Kekul%C3%A9"><span style="font-weight: bold;">August Kekule</span></a> was working
                  long hours trying to find the structure of benzene and couldn’t
                  figure out how the carbon atoms fit together. Finally he had a
                  dream. In that dream there was a reorganization of the information
                  that he knew. He had the dream of snakes. All the snakes started
                  eating each other, and formed a ring. He realized when he woke up
                  what he was seeing was the benzene molecule as a ring, and that’s
                  how the carbon molecules fit together. That’s a great example of
                  insight learning. Now, cognitive maps are a mental representation of
                  physical space, we can actually close our eyes and we can imagine
                  the space that we’re in. We can imagine our physical space, we have
                  a cognitive map of our space, and that means if we can picture that
                  stuff, then we must have thought processes. Do you remember the last
                  lecture I talked about the pigeons and the bombs. I had a picture of
                  a pigeon dropping a bomb on a ship. Do not go back to it but imagine
                  that picture and think - do you remember if the picture of the ship
                  had an anchor? I guarantee you that you will come up with the answer
                  faster than people living in Israel speaking Hebrew as their first
                  language! I can also change the picture just slightly and you will
                  be slower than those in Israel! How, you might ask? We think! We see
                  images in our minds. We review those pictures based on cultural
                  characteristics. We read English from left to right and we review
                  pictures in our mind the same way. If the anchor is on the left we
                  will see it before those who speak Hebrew, because Hebrew is read
                  from Right to Left! If I change the ships direction and the anchor
                  is closer to the right, then people reviewing it in their minds from
                  right to left will see it in their mind before a person reviewing
                  the picture from the other direction! Evidence not only that we
                  think, but that culture determines how we think.<br>
                  <br>
                  Now, we don’t say that animals have thought processes, because we
                  can't talk to them.&nbsp; Humans can imagine and talk about a space
                  in their head, a cognitive space. You can think of a place that you
                  know.&nbsp; Maybe it is a place you like to go fishing or camping,
                  or hiking or down to the beach.&nbsp; You can close your eyes and
                  imagine that scene. We know that we can think, we know that we have
                  thought processes and Cognitive Psychologists like to study insight
                  learning and cognitive maps. <br>
                  <br>
                  <div class="images"> <img alt="picture of Bobo the clown toy" src="img/Learning_Bobo.jpg" style="float: left;"> </div>
                  Social learning is also a challenge to behaviorism. We do have
                  thought processes, there must be a way to imagine those thought
                  processes, and to do experiments with them. Dr. Albert Bandura
                  performed experiments with what was called a BoBo Doll. This was <span style="font-weight: bold;">Social learning</span> , which is a
                  form of Cognitive learning in which new responses are acquired after
                  watching others’ behavior and the consequences of their behavior,
                  but not having anything happen to you. You have not performed any
                  behavior and no consequences have occurred to you - so it is not
                  behavioral learning. You have watched, and socially learned from
                  what happened. This is called Observational Learning or Social
                  learning. The best experiment to illustrate this is the one I just
                  mentioned, the BoBo Doll experiment performed by Albert Bandura (who
                  received the presidential National Medal of Science in 2016). BoBo
                  was a clown, in the days of Bandura.&nbsp; When you said “BoBo” in
                  his day, it would be the same thing as when you say “Ronald
                  McDonald” today. Everybody knows who Ronald McDonald is. Back in
                  those days everybody knew who BoBo the clown was, and they made blow
                  up dolls of BoBo. The dolls were made out of plastic and the bottom,
                  the base, was round and heavy. They were like Weebles, wobble but
                  they don’t fall down. This doll would wobble around but was always
                  standing straight up. In the experiment they placed children into a
                  room with a whole lot of toys, and they watched the children play
                  with those toys and recorded the children's behavior. Then they took
                  the children out of the room and placed them into a room where they
                  could see another room through a two-way mirror. In the room were
                  all the same toys and they could see how adults were behaving in
                  that room. The adults were instructed before being placed into the
                  room to pick up the other toys in the room and beat the stuffing out
                  of the BoBo doll.&nbsp; Just beat him up. Then they placed the
                  children back into their room, and the behavior that almost never
                  occurred, beating up BoBo, occurred now that the children had
                  watched the adults do it. If the children witnessed some adults beat
                  up BoBo and others say specific words "stop". "don't do that" then
                  the children repeated those words. Actions and their consequences
                  are learned simply by watch others.&nbsp; That includes TV. and your
                  children are watching you!<br>
                  <br>
                  Social learning can also take the form of a token economy. You can
                  actually learn how to behave watching other people behave and
                  accepting tokens. So, you learn that if you get this many tokens
                  that you get certain privileges and you will then start behaving
                  properly to get your tokens. I find one aspect of social learning
                  very interesting.&nbsp; Octopuses, which we don’t think of as an
                  incredibly intelligent animal, can learn to open a bottle by
                  watching another Octopus open the bottle. Put two tanks right next
                  to each other with an octopus in each.&nbsp; Give one its favorite
                  food in a jar with a twist top.&nbsp; Let the animal experiment with
                  that bottle top. The Octopus will eventually learn to open the
                  bottle to get it's favorite food. The second Octopus sees how the
                  first one opens the bottle. Repeat this many times. When you finally
                  give the second Octopus the bottle (with its favorite food inside),
                  it will learn to open that bottle significantly faster than the
                  first Octopus did. It watched and it learned how to open the bottle.
                  So, even an Octopus can learn by social viewing - observational
                  learning.<br>
                  <br>
                  Let's discuss <strong>Long term potentiation</strong>; this term
                  means that your brain does change as you learn. It’s the biological
                  process involving physical changes that strengthen the synapses in
                  groups of nerve cells. It’s believed to be the neural basis on
                  learning.&nbsp; When you learn, certain nerves become activated, and
                  they become easier to activate. The brain does change its networking
                  connections when behaviors are performed often. In the Hippocampus,
                  neurons continue to form and make new connections throughout your
                  lifetime; and if a path is activated regularly, often, like a habit,
                  it builds more dendritic connections to help in its activation,
                  which also seems to increase its level of activation. This is known
                  as long term potentiation, and unfortunately it means that habits
                  are hard to break. <br>
                  <br>
                  Biological factors involved in learning are innate or inborn. We
                  have tendencies or predispositions that either impede or facilitate
                  certain kinds of learning. When biology facilitates the learning, we
                  say that the animal is “prepared” or it is “preparing” the organism
                  to learn. One of those particular instances is called imprinting.
                  Ethologists - people who study animals in their natural environment
                  - use naturalistic observation to study animals. They discovered
                  imprinting, which is an innate tendency for all animals of a
                  specific species to respond in a specific way to some environmental
                  cue. So, ducklings for instance, follow the first moving creature
                  that they see, hopefully it’s not a fox. Y’know, a fox comes along,
                  it’s not very hungry but it waits for the eggs to hatch, it starts
                  moving, all the little ducklings follow it and then it has dinner
                  following it. When it finally gets hungry it just turns around and
                  eats them. For most ducklings it’s their mother that they see first
                  and they will follow that first moving creature. Salmon will swim
                  upstream to get back to the nest where they were spawned. Swallows
                  return home to Capistrano, almost to the day, every year they return
                  to the same place every year. This behavior indicates a biological
                  preparedness to learn a specific thing and act in a specific way.
                  Not all creatures imprint, imprinting isn’t available for everyone,
                  but all are prepared to learn. A <strong>sensitive </strong>or <strong>critical
                    period </strong>is usually involved where this type of learning
                  most likely occurs. So, for imprinting for instance, you have a
                  specific scritical period where the animals will learn to follow the
                  first thing it sees, but after that period of time, you have less
                  and less chance that the ducklings will follow their mother.&nbsp;
                  If their mother was gone when the eggs hatched, and she comes too
                  late, they’re not going to follow her and they will die.&nbsp; They
                  will not stay around her.&nbsp; She needs them to follow, one can’t
                  just keep running after 12 little ducklings. They’ve got to follow
                  along behind you so you can teach them how to swim, eat, and keep
                  them out of harm’s way. That’s the chapter on learning, and I will
                  talk with you in the next lectures series. <br>
                  <br>
                  It's time for a break guys, and gals. <br>
                  Go get a cup of coffee. <br>
                  Go do something other than study (maybe play the hangman game). <br>
                  There is one crossword puzzle for the entire unit, but the hangman
                  games are made for each slide. <br>
                  Take 15 minutes or so before you go to the next slide. <br>
                  Distributed learning is the best learning. <br>
                  We will continue the study of Learning in the next lecture. <br>
                  Talk with you then. </div>
              </p>
            </div>
          </div>
        </div>