        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">The Sensation & Perception (2)</p>
            <div class="row">
              <p class="flow-text" style="padding-top:18px;">
                <div class="flow-text">
                    <span style="font-weight: bold; font-style: italic;">Our senses don't deceive us: our judgment does. - Johann Wolfgang von Goethe
                    </span>
                    <br>
                    <span class="flow-text">
                        <span class="flow-text">
                            <br> Welcome back to the Sensation and Perception audio presentation.
                            <br> We stopped with talking about Johnny Ray and how both Scientists and electronics have helped us to create sensing
                            machines when our body has lost the ability to sense,
                            <br> and possibly to even send that information directly to the brain.
                            <br>
                            <br> Now let's talk about each of the five major sense. First we will discuss vision.
                            <br>
                            <br>
                        </span>
                    </span>
                    <div style="border: 0px solid white; padding: 10px; float: left; font-family: Arial;">
                        <img style="border: 0px solid white; padding: 10px; float: left; width:320px;" alt="Picture of electromagnetic spectrum"
                            src="img/Electromagnetic.png">
                        <br>
                    </div>
                    The electromagnetic spectrum is the entire range of electromagnetic energy including radio-waves, microwaves, visible light,
                    X rays and Gamma Rays (you know - The HULK).
                    <br>
                    <br> There is a great deal of energy out in the environment and we have no receptors to interact with that energy so we can
                    not sense it or perceive it.&nbsp; Our eyes only respond to a very small portion of that spectrum of energy.
                    <span style="font-weight: bold;">Hue </span>is the color of light as determined by its wavelength.&nbsp;
                    <span style="font-weight: bold;">The color Red </span>is equal to a wavelength of 650 nanometers and it is the color on one end of the spectrum that we
                    can see. Further into red is the infrared which is invisible to us.
                    <span style="font-weight: bold;">
                        The color Violet </span>is equal to 415 nanometers of wavelength and is the color on the other end of our visible
                    spectrum. Further into the violet direction is Ultraviolet, but again this is invisible to humans. Our eyes only respond
                    to a small very specific area of wavelengths of energy - we call it color.
                    <div style="border: 0px solid white; padding: 5px; float: left; font-family: Arial;">
                        <img alt="Picture of wavelength" src="img/Wavelength.png"> </div>
                    However, Bumble Bees can see ultraviolet radiation. Why would they have a need to see a color we can not see? The answer
                    is Flowers. Flowers produce an ultraviolet light which attracts bees. It also directs the bees to the best location on
                    the flower to increase pollination. We see the wavelength that flowers produce within the 400 to 700 nanometer. But flowers
                    also produce wavelengths below 400 nm. Think about it. Flowers produce a wavelength of frequency we cannot see. What
                    if flowers did not produce the wavelengths we see and only produce the ultraviolet wavelengths? Then they would be invisible
                    to us, but not to bees. Have you ever been walking and tripped on something - but there was nothing there? What if there
                    was something there - but it was only producing wavelengths we can't see?!! Do you have cats or dogs? Sometimes they
                    seem to react to something we don't see? ..... Messing with your head again.... We have electronic instruments that can
                    detect those invisible wavelengths, so we know that there is no creature on earth that only produces wavelengths of energy
                    we can't see.
                    <br>
                    <br>
                    <div style="border: 0px solid white; padding: 5px; float: right; font-family: Arial;">
                        <img style="border: 0px solid white; padding: 10px; float: right;" alt="Picture of an eye" src="img/Eye_Pupil.jpg"> </div>
                    The
                    <span style="font-weight: bold;">Cornea </span>is the transparent part of the eye. The
                    <span style="font-weight: bold;">Iris
                    </span>is the muscle of the eye that changes the
                    <span style="font-weight: bold;">pupil
                    </span>which is the opening for the eye which is where the light comes into the eye. The iris comes in many different
                    colors. The one in this picture is blue, but there are also hazel, brown, auburn, amber, red, black, violet and gray.
                    There are Multiple genes that influence the eye's color. Melanin in the iris gives the color to the eye. If you have
                    no melanin it means you have blue eyes, while lots of melanin makes brown eyes. The
                    <span style="font-weight: bold;">lens
                    </span>is the transparent body behind the pupil which focuses the image. We have muscles attached to our lens, the lens
                    can be stretched and shaped differently by those muscles. So, if we’re holding something, a written word close to our
                    eye, the muscles are pulling the lens so we can focus on that particular page, and as the page moves away from us, our
                    muscles change the shape of the lens so that we can continue to read that information and focus on it. The lens of the
                    eye is very flexible in our youth, but by the age of 40 it becomes stiffer. As it hardens, it is more difficult for the
                    muscle to stretch it. At some point it will harden at a specific point where we can either see close up or we can focus
                    far away but we can’t do both anymore because the lens is no longer flexible and can’t be pulled and stretched. With
                    technology we now have the ability to take the lens out of the eye and put a new artificial lens in the eye. The lens
                    does not only get stiff it also dries out causing
                    <span style="font-weight: bold;">cataracts </span>which are areas of the lens that become cloudy - that don’t allow the light through. Doctors in Ancient
                    Egypt used needles to push away the opaque lens. Their patients could then see again, but they could never focus. Today
                    we replace the lens with the artificial one and connect the muscles to the new lens. Since it is flexible we can learn
                    to focus again at both large and small distances. The
                    <span style="font-weight: bold;">Retina
                    </span>is the area of the inner surface of the eye that contains the rods and the cones.
                    <span style="font-weight: bold;">Rods </span>and
                    <span style="font-weight: bold;">Cones </span>are the
                    <span style="font-weight: bold;">Photoreceptors
                    </span>of the eye; they are the objects in our eyes that respond to light. The
                    <span style="font-weight: bold;">Ganglion Cells</span>
                    are the cells that form the Optic Nerve of the eye, and the Optic Nerve is the part that transmits the sensory information
                    to the brain. So we have the rods and cones reacting to the light that comes into our eye – And then transducing that
                    into electrical energy which goes out the Ganglion cells to form the Optic Nerve. The
                    <span style="font-weight: bold;">Optic Nerve</span> goes from the eyes to the occipital lobe of the brain (although it makes many 'stops' along the way).
                    <span class="flow-text">
                        <span class="flow-text">About 25% of the brain is dedicated to vision which is more than any other of the senses.
                            <div style="border: 0px solid white; padding: 10px; float: right; font-family: Arial;">
                                <div style="border: 0px solid white; padding: 10px; font-family: Arial;">
                                    <img style="border: 0px solid white; padding: 10px; width:320px;" alt="Diagram of the Eye" src="img/Eye_anatomy.jpg">
                                    <br>
                                </div>
                            </div>
                            <br>
                            <br> The
                            <span style="font-weight: bold;">Fovea </span>of the eye is the dense area of the cones where the vision is the greatest in the eye. Interestingly
                            enough, pigeons have two of these per eye, humans only have one per eye. There are a group of seven stars in
                            the heaven known as the seven sisters (or Pleiades cluster) located in the Taurus constellation. Five of the
                            stars are easy to see on a clear dark night. One of the stars blinks on and off depending on heat and other changes
                            in the atmosphere. The last of the seven stars is not visible when viewed directly. However, if you look slightly
                            away from the cluster, either to the right or left, then the light from that star strikes your Fovea and there
                            are enough rods in that area of your eye for you to see the star. If you have a telescope then you have no trouble
                            seeing all seven (plus another 30 extremely dim stars within that system). There is an area of the eye where
                            the Optic Nerve is formed, where the axons formed by the ganglion cells leave the eye. This area is called the
                            <span style="font-weight: bold;">blind spot</span> and each eye has one. It occurs at the point where the axons leave the eye to form the Optic
                            Nerve. There are no cones or rods in this area of the eye. There's nothing to respond to light at that point
                            which makes a small hole in our vision. We don't see this blind spot because the right and left eye blind spots
                            are in areas of the field of vision that the opposite eye can see. So the right eye sees what the left eye can't
                            and vice-verse. The brain fills in the information so we don't actually have an empty hole in our total visual
                            field.
                            <br>
                            <br> There are about 120 million rods per eye.
                            <strong>Rods</strong>
                            respond to the intensity of light in the environment. There are about 5 million cones per eye.
                            <strong>Cones</strong> respond to the wavelength of light, or what we know as color. The mixture of light is an additive
                            process while the mixture of pigment is a subtractive process. What this means is that if you take no light what-so-ever,
                            you have blackness. As you add a wavelength of light, you get color, and another wavelength of color mixing with
                            that will create a different color. As you add all of the wavelengths, you end up with white light. Since we
                            go from darkness to light it is called an additive process. The mixture of pigment is a subtractive process because
                            as you add colors you go from light to dark to black. So pigment, for instance paint, works differently than
                            light. Blue paint is appears blue because it reflect the blue wavelength and absorbs all the other wavelengths.
                            If you add paint colors together, eventually you have absorbed all wavelengths and reflected none - this is black!
                            <br>
                            <br> We already know that Scientists can make little devices that can connect to our brain to see visible light.
                            There is no reason why they can't make those devices to react also to radio-waves, to x-rays, or to microwaves
                            and send that information to the brain. We would then be able to sense and perceive those particular types of
                            energies. The military already has hand held "binoculars" that pick up other signals, so we don't need to have
                            a direct connection. Brightness is the sensation caused by the intensity of light waves. Intensity is based on
                            amplitude , and the higher or more energy there is in the environment will stimulate the rods more and we determine
                            that it is bright. If there is less energy in the room, the rods aren't stimulated as much and we determine that
                            it is less bright (dim). Color is a little more complicated. There are three, and maybe more, different types
                            of cones (Red, Blue and Green). The
                            <strong>
                                trichromatic theory</strong> of vision says that these cones interact with each other to give us the ability
                            to perceive color. Remember that each of the colors is actually a wavelength. It is said that the cones react
                            at different strengths depending on how much of a wavelength you are viewing. If your cones respond to all the
                            wavelengths properly then you are considered “Trichromatic”, because all the cones combine together depending
                            on the level of stimulation of each of the types of cones to get different colors.
                            <br>
                            <br> Some people's cones do not respond properly to specific wavelengths of light and we say that they are color
                            blind. </span>
                    </span>
                    <div style="border: 0px solid white; padding: 10px; float: left; font-family: Arial;">
                        <div style="border: 0px solid white; font-family: Arial;">
                            <img style="border: 0px solid white;" alt="Picture to test color blindness" src="img/Color_blind.png">
                            <br>
                        </div>
                    </div>
                    <span style="font-weight: bold;">Color blindness</span> is a vision disorder that prevents an individual from discriminating certain colors. There is
                    a color blindness where some people do not see any color at all. Their cones just do not work only their rods do. They
                    just see gray or black and white. The most prevalent, most common type of color blindness, is the loss of the distinction
                    between red and green. The ability to see the color red comes from a gene on the X chromosome. Women get two of these
                    while men only get one. It has been shown that women see variations of the color red better than men - possibly because
                    they have two genes. I do not want you to think you are colorblind if you can not see the number in the red and green
                    circle. This is not a very good representation of the colors. If you can see green and any red in this circle you are
                    not color blind, if you want to know for sure, go see a vision expert. So, the wavelength stimulates the cones, the cones
                    then send information to the brain, then the brain distinguishes different colors based on that wavelength. However,
                    that is not the only way that we describe the color vision. We also have a theory called the opponent process model.
                    This model explains some issues with vision that the trichromatic theory can not explain. It appears that some cones
                    are suppressed while others are excited. When you look at the color green then the green cones are activated and the
                    opposite color (red) is suppressed. When you look away from the color green, the suppressed red cones come back on-line
                    and they overreact. We'll talk about what that means in a moment.
                    <br>
                    <br>
                    <br>
                    <div style="border: 0px solid white; padding: 10px; float: right; font-family: Arial;">
                        <img style="border: 0px solid white; padding: 10px; width:320px;" alt="diagram of retina phtoreceptors" src="img/Eye_retina.jpg">
                        <br>
                    </div>
                    <div style="border: 0px solid white; padding: 10px; float: left; font-family: Arial;">
                        <iframe src="https://www.youtube.com/embed/7KrakjEHeYs?rel=0" allowfullscreen="" style="float:left;" frameborder="0" height="315"
                            width="320">
                        </iframe>
                    </div>
                    Here is a diagram of the photoreceptors (the light sensitive) cells in the retina that convert light to neural impulses.
                    Remember the Rods are sensitive to intensity of light but not colors or wavelengths. Cones are sensitive to colors but
                    not intensity of light. They are not shaped like this. This diagram shows cones shaped like cones and rods shaped like
                    rids, but that is only to help you understand the diagram. They are not shaped like that!
                    <br>
                    <br> The Occipital cortex has different areas for perceiving sight. There are cells that specialize in specific events of
                    your visual field. Some respond to motion, some to specific line orientations. Depending on what you're looking at, different
                    neurons in that area of the brain will respond. If you're looking at something that's moving, the motion area of the
                    visual cortex will be activated. If you're looking at a line that goes straight up and down (vertical), specific neurons
                    activate. Different neurons of the brain will be activated when then the line's going horizontal. When we put all the
                    neurons being activated together, we get - for instance - a face. The visual
                    <span style="font-weight: bold;">association cortex</span>
                    is an area that takes all of the information from the eyes and puts it together so that we can make sense out of the signals
                    that are being sent. Without the association cortex, we would not know how to put all those signals together. If you
                    have specific damage in the association cortex of the occipital lobe but the rest of the occipital lobe is functioning
                    properly, you would get all the signals, and you would see the world but you would not be able to tell what you were
                    looking at because the association cortex does not put it all together for you. Sensing something in the outside world
                    starts the process of “seeing”, but the association cortex allows us to properly perceive the world. Some people have
                    a issue called Facial Aphasia - Prosopagnosia - or Facial Blindness. The never learn to identify a person by how their
                    face looks. They recognize people by their gate or their voice. This means that pieces of the association cortex may
                    be functioning while others are not. What if you were blind all of your life and then got your vision back at 46 years
                    of age? You would be unable to understand anything you saw. It would be useless information!
                    <br>
                    <br>
                    <a style="text-decoration: underline;" target="_blank" title="link to article about blind man with vision" href="http://psych.techscholia.com/psy150/articles/Mike_Mays.pdf">Here is an article about a man that lost his vision at age 3 and got it back again 43 years later</a>.
                    <br> (Discover Magazine - June 2002Issue By Michael Abrams - |Saturday, June 01, 2002)
                    <br> It isn't as wonderful as you would think! His brain has no idea what to do with the information and he is past the critical
                    time required to train the brain for sight.
                    <br>
                    <br> Afterimages are a very interesting aspect of our visual field. Afterimages are sensations that linger after the stimulus
                    is removed. The afterimage is the opposite of color or intensity. The opposite complimentary colors are Red and Green
                    and Yellow and Blue. So, if you're looking at something green then the red cone is suppressed. When you're finished looking
                    at the green color the red cone comes back. But it has been suppressed and as it comes back on-line it overcompensates
                    and stimulates. When the red cone stimulates, you "SEE" the color red, even though it is not in your field of vision.
                    This is called the "
                    <span style="font-weight: bold;">Neural</span>
                    <span style="font-weight: bold;">rebound effect</span>". Brightness afterimages are the opposite in brightness. If you're looking at something very bright
                    and you close your eyes, you'll get a dark spot in that area. If you're looking at something that's dark and you close
                    your eyes, you'll get a light spot in that area.
                    <em>
                        <strong></strong>
                    </em>
                    <br>
                    <br> That's it for this lecture.
                    <br> I’m going to stop here.
                    <br> It's time for a break guys, and gals.
                    <br> Go get a cup of coffee.
                    <br> Go do something other than study (maybe play the hangman game).
                    <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                    <br> Take 15 minutes or so before you go to the next slide.
                    <br> Distributed learning is the best learning.
                    <br> We will continue the study of the Sensation and Perception in the next lecture.
                    <br> Talk with you then.
                
                </div>
              </p>
            </div>
          </div>
        </div>