        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">The Sensation & Perception (3)</p>
            <div class="row">
              <p class="flow-text" style="padding-top:18px;">
                <div class="flow-text">
                    
                
                
                    <span style="font-weight: bold; font-style: italic;">Our senses don't deceive us: our judgment does. - Johann Wolfgang von Goethe&nbsp; </span>
                    <br>
                    <span class="flow-text">
                        <span class="flow-text">
                            <!-- <br> Insert the video on afterimages here:
                            <br> -->
                            <br> We can analyze in two ways. Some people use
                            <strong>Bottom-Up processing
                            </strong> which emphasizes the characteristics of the stimulus rather than internal concepts. It's like putting
                            a jigsaw puzzle together without looking at the box top. Some people prefer
                            <strong>Top-Down processing </strong>which emphasizes the perceiver's expectations, their memories, and other cognitive
                            factors. It would be like putting a crossword puzzle together knowing what the box top looks like.
                            <br>
                            <br>
                            <strong>Perceptual constancy</strong>, is the ability to recognize the same object under different conditions, such as
                            changes in illumination, distance, or location.
                            <strong>Size constancy
                            </strong> means that we tend to perceive objects as remaining the same size even though the impact on the visual
                            field changes as the distance between us changes. If you are in an airplane flying above the Eiffel Tower you
                            see a tiny little object. However, you know it's a huge monstrosity, and you recognize that fact, even though
                            what is impinging on your eyes is a very small little tiny thing. As you get closer and closer to it, the tower
                            gets bigger and bigger and we know that the size didn't change. We know it's just how much is being displayed
                            on our visual field and how much we can see in the eye at one time.
                            <span style="font-weight: bold;">Shape constancy</span>, is that we tend to see objects as remaining the same shape even though the impact on
                            the visual field changes as the angle between us changes. We can look at a person from the front or from the
                            side. As we change our way of looking at that person, we know their shape didn't change, even though we see a
                            different shape as we look at them front different angles.
                            <br>
                            <br>
                            <div class="images">
                                <div style="float:left; border:0px; padding:10px;">
                                    <div>
                                        <img alt="Ambiguous steps" src="img/Sensation_steps.png" style="float:left;">
                                        <br> continuous steps</div>
                                </div>
                            </div>
                            <div class="images">
                                <div style="float:right; border:0px; padding:10px;">
                                    <div>
                                        <img alt="Vase or people" src="img/Sensation_Vase.png" style="float:right; padding:10px;">
                                        <br> glass or faces </div>
                                </div>
                            </div>
                            <span style="font-weight: bold;">
                                <br> Illusions or Perceptual distortions</span> are demonstrably incorrect experiences of a stimulus pattern,
                            shared by others in the same perceptual environment. On the left we have an ambiguous picture of stair steps.
                            If you follow the steps up or down they just keep on going in the same direction. How is it possible for these
                            stairs to go up and down forever? That's not possible.
                            <br>
                            <br>
                            <br> On the right we have an Ambiguous figure. Images that are capable of more than one interpretation are ambiguous.
                            Is this a goblet or is it two people looking at each other? This demonstrates the Gestalt idea of "ground" which
                            we will talk about that in just a minute. What do you perceive as the background? Do you see the white as the
                            foreground or is it the black that captures your attention? Sometimes it is hard for a person's brain to switch
                            between the two. In the next picture we will see that how we relate to ambiguous figures can depend on our age.
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <img alt="Ambiguous pictuture" src="img/lady.png" style="float:left;">
                            
                            <br> For instance, most people have seen this picture. What's interesting is if you show this image to people they
                            see a different picture depending on their age. Most older people see an older lady, and most younger people
                            see a younger lady. It's very interesting.
                            <div class="row col s12">
                                <ul id="hoverYoungLady" class="collapsible popout" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header">Click to see young lady</div>
                                        <div class="collapsible-body">
                                            <img id="imgLadyYoung" src="img/Lady_young.png" style="width:100%;">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="row col s12">
                                <ul id="hoverOldLady" class="collapsible popout" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header">Click to see old lady</div>
                                        <div class="collapsible-body">
                                            <img id="imgOldYoung" src="img/Lady_old.png" style="width:100%;">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <br> Now, other perceptual illusions, research indicates that the ambiguity that you see right here in this particular
                            slide is a result of the left and right sides of the brain taking control in alternating patterns. So, you see
                            one pattern in one second and another pattern in another second, and they think that might be alternating of
                            the left and right parts of the brain taking control of this particular stimulus and that's kind of cool, too!
                            <br>
                            <br>
                            <img alt="picture of the Hermann grid" src="img/Sensation_Hermann.jpg" style="float:left;">
                            <br>
                            <br> How about the grid on the left?
                            <img alt="Learning based inference picture" src="img/Sensation_13.png" style="float:right;"> Do you see gray circles between each square?
                            <br> When you look directly at the circles they disappear. This is called the Herman grid.
                            <br>
                            <br> Some say that our perception is primarily shaped by learning, rather than innate factors. That's called
                            <strong>learning-based inference
                            </strong>. An example of a learning based inference is something called the
                            <strong>perceptual set</strong> which means that we have a readiness to detect a particular stimulus in a specific given
                            context. So, the patter in this picture is 1, 3, E, Home, 1, 3, Y, 4, colon, 1, 3. Now, we know that is not correct.
                            It makes no sense to our brain. We learned language and that isn't language. What we read is "Be home by 4:13".
                            Even though the B, and the 1, 3, are exactly the same figure we see them differently because of the
                            <span style="font-weight: bold;">context
                            </span>in which they appear.
                            <br>
                            <br> The
                            <span style="font-weight: bold;">Gestalt </span>approach to perception (as opposed to learning-based inference) is the view that much of perception
                            is shaped by innate factors that are built into the brain. We actually have areas of the brain that are meant
                            to react in specific situations. They also say that the whole is greater than the sum of its parts. Remember
                            the picture of the goblet and the faces? That picture shows the difference between the "
                            <span style="font-weight: bold;">figure</span>" (the part of the pattern that commands your attention) and the background or "
                            <span style="font-weight: bold;">ground</span>" (the part of the pattern that does not command your attention). If you saw the White as being
                            the ground, then the figure became the faces, but if you see the Black as the ground, then the figure is a goblet.
                            <span style="font-weight: bold;">The Phi phenomenon
                            </span> - according to the Gestalt psychologists - is a perception of motion which is achieved through the presentation
                            of still images. If you place a DOT on the wall in two different locations one foot apart from each other and
                            alternate them between appearing or disappearing, your brain will create a line between the dots. The dots will
                            also look like they are moving across the wall. Motion pictures are made the same way. A motion picture is only
                            still images shown at 32 frames per second. There is a very slight difference between each still image. To the
                            eye at that specific speed, we see motion, but all they are is individual still pictures.
                            <br>
                            <br>
                            <img alt="Picture showing closure" src="img/Sensation_closure.png" style="float:left; padding:10px;">
                            <br> The Gestalts talk about
                            <span style="font-weight: bold;">
                                closure </span>which is to fill in gaps in figures and see incomplete figures as if they were complete. So,
                            for these particular figures in this slide, the square we don't see four lines, we see square. We don't see three
                            lines, we see a triangle. We don't see two curved lines, we see a circle. That's closure.
                            <br>
                            <br>
                            <br>
                            <div id="popup" style="border: 0px solid white; padding: 5px; float: left; font-family: Arial;">
                                <div id="popup" style="border: 1px solid green; padding: 5px; font-family: Arial;">
                                    <a href="#">
                                        <img id="onHoverStarOfDavid" alt="Old Hover icon" src="img/Sensation_closure_triangle.png">
                                    </a>
                                </div>
                            </div>
                            <span class="flow-text">
                                <br> Closure can get us in trouble.
                                <span style="font-weight: bold;">Subjective contours
                                </span> are boundaries that are perceived but do not appear in the stimulus pattern. For instance, what do
                                you see in this picture?
                                <img alt="Picture of Similarity" src="img/Sensation_similarity.png" style="float: right; padding: 10px;"> You see the triangle that we looked at above when talking about closure. Hover over the picture and three
                                little black pacmen (or pacladies?) will be added to the picture. What happens? Our brain creates another
                                triangle that doesn't exist. We now see a six-pointed Star of David. You can actually see a white triangle
                                with lines that continue between each of the pacmen. We see a bright White triangle overlaying the other
                                triangle even though there's nothing there. So, closure can really be a problem for us. It makes us see things
                                that are not there. There are no lines on the bright White triangle but we do perceive them.
                                <br>
                                <br> Here are some of the laws of perceptual grouping in Gestalt psychology: Similarity, Proximity, Continuity,
                                Common fate, and Prägnanz. We'll look at each one of these.
                                <br>
                                <br>
                                <span style="font-weight: bold;">Similarity </span>is quite obvious. Things that are similar, we have a tendency to group together, so you
                                see not a square here, but two lines, the Red lines, and the Black lines because the Red dots are similar
                                to each other, so we group them together, and the Black dots are similar to each other so we group them together.
                                We do not see 20 dots we see rows or columns because of the similarities.
                                <br>
                                <strong>
                                    <img alt="picture of proximity" src="img/Sensation_proximity.png" style="float:left;">
                                    <br> Proximity </strong>is the tendency to group close objects together. In this picture there are six lines,
                                but we do not see six lines. We perceive the lines as three pairs of lines because of proximity.
                                <br> The lines that are close together become a single entity. We group the close lines together and separate
                                them from the others. That's proximity.
                                <br>
                            </span>
                            <span class="flow-text">
                                <strong>
                                    <img alt="picture of Continuity" src="img/Sensation_continuity.jpg" style="float: right;">
                                </strong>
                            </span>
                            <span class="flow-text">
                                <br>
                                <br>
                                <strong>Continuity </strong>helps us to see things continue in space rather than ending abruptly and starting again.
                                Part of this is part of closure. We see an 'x' here even though it is just dots on the page. The mind connects
                                the dots and sees a flow that approximates an 'x'. It is simply dots on a page placed into a pattern that
                                our brain enjoys as an "X". There is also a nice curve to that 'x', and we can easily imagine that the lines
                                of the 'x' continue to curve out into the universe.
                                <br>
                                <br>
                                <img alt="picture of common fate circle" src="img/Sensation_common_circle.gif" style="float: left; padding: 20px;">
                                <img alt="picture of dog dots" src="img/Sensation_common_dog.gif" style="float: right; padding: 20px;"
                                    width="350px">
                                <br>
                                <strong>Common fate</strong> is when we perceive objects that move together as belonging together. When the dots
                                in these pictures are stable, you can not see the shape. As soon as the dots within the shape move together
                                they are perceived as part of a whole image. The dots on the left move within a circle. The circle is obvious
                                while the dots are moving together, but as soon as the dots stop moving our brain can no longer hold the
                                image of the circle. It fades into the ground of the picture. The same is true of the dog in the picture
                                on the right. I want to thank Doctor David Landrigan at the University of Massachusetts who made these images
                                and gave me permission to use them in this unit.
                                <br>
                                <br>
                                <strong>Pragnanz </strong>is when we tend to see what is pleasing and ignore the esoteric in the world. Perception
                                takes the best form possible under the given circumstances. We like things to make sense. We don't like things
                                that don't make sense. So, we see sense in things sometimes and it gets us in trouble. For instance, you
                                may be familiar with the saying "A bird in the hand is worth more than two in the bush. This means that if
                                we have a live bird in our possession then we should not let it go to "possibly" acquire two that are in
                                the bush in front of us. We may end up with no birds at all. So, a bird in the hand is worth more than two
                                in the bush.
                                <br>
                                <span style="font-weight: bold; font-style: italic; text-decoration: underline;">Read the message in the Oval</span>.
                                <br>
                                <br>
                                <img alt="Prangnanz picture" src="img/Sensation_Bird_inhand.png" style="float: left; padding: 20px;">
                            </span>
                        </span>
                    </span>
                    <span class="flow-text">
                        <span class="flow-text">
                            <span class="flow-text">
                                <span class="flow-text">
                                    <span class="flow-text">
                                        <span class="flow-text">Most of you will not read the message correctly. </span>
                                    </span>
                                </span>There are three “THE”s in the message which should only contain TWO. We're so used to the saying, we overlook
                                the extra “THE”. It says “A bird in the
                                <span style="text-decoration: underline;">the</span>
                                hand is worth two in the bush.” We miss the extra "the" because of Pragnanz. The law of Pragnanz says we like things that
                                are pleasing. We don't pay attention to those things that get in the way of what we think is pleasing. This
                                is certainly correlated to our own personal biases. Did you fall for that one? Many people do! How can we
                                trust our own eyes when our brain is so easily fooled?
                                <br>
                                <br> That's it for this lecture.
                                <br> I’m going to stop here.
                                <br> It's time for a break guys, and gals.
                                <br> Go get a cup of coffee.
                                <br> Go do something other than study (maybe play the hangman game).
                                <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                                <br> Take 15 minutes or so before you go to the next slide.
                                <br> Distributed learning is the best learning.
                                <br> We will continue the study of the Sensation and Perception in the next lecture.
                                <br> Talk with you then.
                            </span>
                        </span>
                    </span>
                </div>
              </p>
            </div>
          </div>
        </div>