        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">The Sensation & Perception (5)</p>
            <div class="row">
              <p class="flow-text" style="padding-top:18px;">
                <div class="flow-text">
                    <span style="font-weight: bold; font-style: italic;">Our senses don't deceive us: our judgment does. - Johann Wolfgang von Goethe
                    </span>
                    <br>
                    <br> Welcome back to Sensations and Perception, this will be the last of the lectures for Sensations and Perception.&nbsp;
                    <br>
                    <br> We ended the last lecture talking about the reason why you sound different on a tape recording than you think you sound,
                    but unfortunately everybody thinks you sound just like the way you sound on that tape recording. There are three theories
                    of how we hear. The Frequency theory is basically associated with 20 hertz to 1,000 hertz. It says that neurons fire
                    at the same frequencies of the waves that are sending pulses into the basilar membrane. Vibrations pulse against the
                    eardrum. The eardrum vibrates at the same frequency and transmits the vibrations into the middle ear which transfers
                    the vibrations to the liquid of the cochlea. The tiny hairs in the cochlea sway back and forth as the vibrations travel
                    through the liquid in the cochlea. Think of seaweed moving in the ocean waves. As the hairs wave back and forth, they
                    stimulate the neurons attached to them. However, neurons can only fire at about 1,000 times per second. They can't fire
                    much faster than that because of their refractory period. That means that the Frequency theory prediction that neurons
                    pulse at the frequency of the waves flowing through the basilar membrane can only explain frequencies up to 1,000 hertz
                    our neurons can't pulse any faster than that. But we can hear all the way up to 20,000 hertz! The next theory accounts
                    for frequencies from1,000 to 4,000 hertz. The
                    <strong>Volley theory</strong>
                    states that one group fires at low frequencies, while another group fires along with it at higher frequencies. Now you've
                    got two groups firing at the next higher frequency and the next group firing at the next higher frequency, and so on
                    and so on until for 4,000 hertz all of the little hairs are firing all of the neurons that are associated with the auditory
                    nerve. The volley theory accounts for hearing 1,000 to 4,000 hertz, but then we have to go from 4,000 to 20,000 hertz.
                    The
                    <strong>Place theory</strong> tries to account for the highest frequencies. The place theory says that loudness and pitch are
                    related to three things: the type, the location, and the number of receptors activated in the basilar membrane. So, this
                    accounts for hearing from 4,000 hertz and up.
                    <br>
                    <br> There can be different types of damage to the ear. Remember anything over 85 decibels for a long period of time will
                    create permanent damage to the ear. There are many things in the environment that produce even more than 85 decibels,
                    and some can produce damage immediately to the ear if you hear too much of it.
                    <strong>Conductive deafness
                    </strong> is damage to the middle ear. We have been able to replace the middle ear for many years. We've been able to
                    fix damage to the middle ear.
                    <strong>Sensorineural deafness</strong>
                    is damage to the inner ear. There are two different types of sensorineural damage. The first is damage to the cochlea. This
                    can be repaired or replaced with electronic devices. However, if the damage is to the auditory nerve, the second type
                    of sensorineural deafness, it cannot be repaired at this time. Nerves in the peripheral system can repair themselves
                    but the auditory neurons are part of the central nervous system and they cannot. Neurons can not be repaired. There are
                    many different people doing experiments in biology trying to find ways to fix neurons, but at this time once a central
                    nervous system nerve is damaged, it is damaged forever.
                    <br>
                    <br> There's some really good research being done to try to make auditory and other neurons in the central nervous system
                    using stem cells. They want to trigger a stem cell to become a nerve, and then put it into the body in a specific area,
                    and it will recreate the nerve that was destroyed. They haven't been able to do THAT yet, but they're pretty sure they're
                    going to be able to do so in the not too distant future. Right now, they can take a stem cell and they can create muscle,
                    heart, liver, and kidney cells.
                    <strong>Stem cells</strong>
                    are cells that are have not yet been designated for a specific cell type. They can become any cell type in the body. Scientists
                    can take stem cells from your own body and create a new heart for you. If your heart becomes damaged they can grow you
                    a new one! The same is true for your liver and kidney. Of course it takes a long time to grow them, so you would have
                    to wait many years for them to get to an adult size. Scientists are hoping that they will find the mechanisms to tell
                    stem cells to grow into specific neurons as well. Anyone opposed to all stem cell research on the grounds that stem cells
                    come from abortions is a very narrow minded poorly educated individual refusing to accept the fact that all stem cells
                    are NOT from those sources. Stem cells come from your umbilical cord too. We used to throw out the babies umbilical cord.
                    Now we keep it and freeze it so we can harvest the person's own stem cells later in life, if they need them. Organs grown
                    from your own stem cells will not be rejected - they are genetically identical to your own!
                    <br>
                    <br> The sense of position and movement is created by areas in the ears. The semicircular canals in the ear are structures
                    in the inner ear that help monitor our body's movement and position. The
                    <strong>Vestibular sense
                    </strong> is the sense from your inner ear that tells the brain information about the head’s orientation to gravity,
                    acceleration and deceleration, and direction of movement relative to gravity. We can throw that off by getting under
                    water and spinning around with our eyes closed. Until we begin to float to the surface it's hard to tell what's up and
                    what's down. This is because the spinning has messed up your Vestibular sense by confusing the signals you get from the
                    liquid in your semicircular canals.
                    <br>
                    <br> There's also the
                    <strong>Kinesthetic sense</strong> associated with your ears. The Kinesthetic sense is the ability to know where your body is
                    in space in relationship to the rest of your body. This is the sense of body position and movement of body parts relative
                    to each other especially while they're in motion, because while you are in motion you are getting feedback from your
                    semicircular canals. The Kinesthetic sense is also associated with the propriceptors that we were talking about earlier
                    in the chapter.
                    <br>
                    <div class="images">
                        <img alt="Picture of the inside of a nose" src="img/Sensation_Olfactory1.png" style="float:left; padding:10px; width:320px;"> </div>
                    Next we will talk about smell.
                    <strong>Smell </strong>is also called
                    <strong>Olfaction</strong>. Remember earlier in the lectures when I said there were many different ways to say the same thing?
                    Your index finger is also the pointing finger and can be called a phalanges. You need to be aware of the many ways that
                    items are referred to, because different people use different words to describe the same thing. So, the areas of the
                    brain's sites for processing smell are called Olfactory bulbs. When a molecule finds its way to the nose it activates
                    specific olfactory bulbs (much like taste buds - will talk about them in a minute). Molecules are chemicals that get
                    sucked up through the nose, and impinge on olfactory bulbs. The brain gets specific signals from the olfactory bulb and
                    we recognize the smell - which can also cause specific actions in the body. Some of these chemical signals are released
                    by organisms to communicate with other members of the same species. One of the molecules is called a pheromone. For instance,
                    female moths can release pheromones into the atmosphere, and a male moth will follow the path of the molecule through
                    the woods, following the pheromone trail to find the female. Some animals can smell way better than we can. We don't
                    have a really good sense of smell. Yet, we do react to pheromones. Experimenters wanted to find out if pheromones affected
                    humans. They went to a club and found that women who are fertile (ovulating) got more attention than those who were not.
                    Men were somehow affected by the pheromones being released by the women. They also found that women have a preference
                    for more masculine and muscular men during fertile times.
                    <br>
                    <br>
                    <div class="images">
                        <img alt="Picture of the Olfactory Bulb" src="img/Sensation_Olfactory2.png" style="float:right; padding:10px; width: 320px;"> </div>
                    The picture to the right is an enlarged picture of the Olfactory bulb and the
                    <span style="font-weight: bold;">Olfactory receiver neurons
                    </span>. The receiver neurons are activated by chemicles and create the electrical signals that will be sent to the brain.
                    When you smell something there's a molecule in the environment that is impacting on your neurons. You smell! You may
                    think "I need to leave this room before whatever is causing this horrible smell gets on me", but it is already in your
                    nose and already in your body. The only way that you can smell is that something got into your nose. So, it may be really
                    tiny, small, even microscopic, but there are chemicals already getting into your nose.
                    <br>
                    <br> Now let's talk about taste. I need you to know that taste and smell are connected.
                    <span style="font-weight: bold;">Taste </span>is called
                    <span style="font-weight: bold;">Gustation</span>, and the sense of taste is 75% smell. Without smell, you lose most of your ability to taste. I have
                    a cousin who was a photographer back in the days when it was a chemical process - long before there was digital photography.
                    The chemicals used were toxic and released a lot of dangerous odors. Dark Rooms had fans which pulled in fresh air and
                    expelled the chemicals. She was in her dark room and the fan stopped working which meant the chemicals built up in the
                    room. She didn't realize what was happening and basically burned out her sense of smell. She cannot smell anymore. Now
                    I have told her that's a good thing because her husband stinks! You know what I mean, he doesn't actually smell. She
                    no longer tastes food anymore. She eats to stay alive, but the pleasure of taste is gone. Now she eats food based on
                    the food's texture. Mashed potatoes have a specific texture. Meat has a different texture. Applesauce has a different
                    texture. Rice has yet another texture.
                    <br>
                    <br>
                    <span style="font-weight: bold;">Taste buds</span> are the receptors for taste. They primarily sit on the the upper side of the tongue. These are some
                    of the fastest growing cells in the body. They regenerate very rapidly, replacing themselves every week. If you have
                    a tongue piercing, you know that you can't take the tongue stud out, because the tongue regenerates so rapidly, it will
                    close that hole almost immediately. You can take a stud out of your ear and leave it out for a little while. When you
                    go to place it back into your ear, the hole is still there. The ear cells do not grow as fast and do not close up as
                    fast. The tongue will close up within 24 hours. Remember I have continuously stressed how everybody's different, and
                    that perception and sensations for each individual is an individual subjective experience. Well - about 33% of people
                    have extraordinary amounts of taste buds on their tongues. Way more than everybody else has. They're called supertasters.
                    They taste much more intricately than most people do. Then another 33% of the population are non-tasters, they have so
                    few taste buds that they don't taste much at all.
                    <br>
                    <br> There is a theory that defines health as it is related to these two types of people; supertasters and non-tasters.
                    <span
                        style="font-weight: bold;">Supertasters
                        </span>taste the smallest amount of sugar in any food.
                        <span style="font-weight: bold;">Non-tasters</span>
                        must have a great deal of sugar in the food to get the sweet taste. Non-tasters prefer high sugar content to get the sweet
                        taste. That means they get more carbs and so they are heavier while supertasters are thinner. However, supertasters
                        can't stand the taste of vegetables, so they don't eat as many as they should and are missing some of the vitamins
                        and minerals that only come in vegetables. While Supertaters are thin, they also aren't usually getting the right
                        types of nutrition, so they're less healthy than the non-tasters. The non-tasters don't find the taste of broccoli
                        or brussel sprouts or okra to be as bad. We are all told told “Eat your vegetables” and non-taters will eat their
                        vegetables - it's not a big deal to them. Supertasters can't stand the taste of some of these acidic types of plants.
                        <br>
                        <br> There are five types of taste buds. We've always been told there are four;
                        <strong>sweet, sour, salt and bitter</strong>, but, there is a fifth one called
                        <strong>Umami</strong>. Umami is actually activated by specific types of chemicals, one of those chemicals is mono sodium
                        glutamate, which is also called MSG. The MSG is placed in the food to make the food taste better - just like salt
                        does. When we can activate the taste buds (salt or umami) then the brain is given a boost of flavor. It is why MSG
                        is added to American Chinese Food - because cat does not taste good without it! - Just kidding.
                        <br>
                        <br> Now we will talk about the skin senses. The
                        <strong>Galvanic Skin Response
                        </strong> also called the GSR is now referred to as electrodermal activity (EDA). This is the electrical conductance
                        of your skin. You can actually be trained to change the electrical sensations of the skin. That means you can manipulate
                        this sensation. If you know how to manipulate the GSR then a machine can be placed on your body, and you can send
                        out Morse code by changing the Galvanic Skin Response of your skin. That's kind of cool. Touch, of course is one
                        of the skin senses as are pressure, warmth, cold, and pain. We'll talk about some of these.
                        <br>
                        <br>
                        <div class="images">
                            <img alt="Picture of a humunulus" src="img/Sensation_Homunculus.png" style="float:left; padding:10px; width:320px;"> </div>
                        Touch, what you're looking at in this picture here is called a homunculus. A
                        <span style="font-weight: bold;">Homunculus </span>is a picture of a person based on the amount of nerve endings in different areas of the brain,
                        of the body. I know it's very goofy looking but the sizes of each body part, (some of them are covered for modesty's
                        sake) are related to the number of nerves in the sensory cortex of the brain associated with that body part. The
                        lips are huge because there are a great many nerve endings in the lips going all the way up to the Somatosensory
                        cortex area of your brain. You have a tremendous number of nerves in the sensory cortex of the brain that are directly
                        related to the lips and the hands and the fingertips and the face. There are not so many for the toes or the back
                        or the torso. Nerve endings are very densely packed in the face, in the lips, and in the hands, especially fingertips.
                        <br>
                        <br> The number of nerve endings creates what we call the
                        <strong>two point threshold.</strong> The two point threshold is the smallest distance between two objects where we can tell
                        that they are actually two objects. The two point threshold is the smallest in the lips and the fingertips because
                        of the number of nerves that are packed into those areas. So, if somebody takes two sewing needles and puts them
                        on your back right next to each other, you would say “That's one pin”. You couldn't tell that there were two points.
                        Then they would move the pins apart an inch and you would say “That's just one pin touching me again.” This will
                        continue until they move them out enough that you can feel that there are two pins pushing on your back. That point
                        where you can feel two pins is going to be a much larger space than on your lips. You would feel almost immediately
                        that there were two pins on your lips even though they are extremely close together. So, the two point threshold
                        is the smallest distance between two objects where you can tell that there are two objects. You have the smallest
                        point where you can actually tell that there are two objects in the lips and the fingertips.
                        <br>
                        <br> It is essential to be touched. Dr. Buscaglia considered that a person should have a handful of Bear Hugs every day
                        for a healthy personal growth. It is essential that newborn babies are touched. Touch stimulates brain growth. In
                        a research experiment baby mice were divided into two groups. One group was stroked with a paint brush and the other
                        group was not touched at all. They gave these baby mice everything they needed in their environment to grow. The
                        group that was touched with the paint brush had bigger brains and better development. Touch is incredibly important
                        for the development of any animal. but always the proper kind of touch.
                        <br>
                        <br> Pleasant stimulation helps to create growth. However, of course, too much stimulation causes pain!
                        <br>
                        <br> Now let's discuss pain. There is a theory for pain called the
                        <span style="font-weight: bold;">Gate Control Theory</span>. The gate control theory describes a mechanism for pain flow through the nervous system.
                        Before they can reach the brain these pain messages have to flow through "nerve gates" in the spinal cord. When the
                        gates are open the pain messages "get through" and pain can be intense. When the gates are closed the pain messages
                        are prevented from reaching the brain. In that case pain may not even be experienced. You can also create other stimuli
                        to flood the receptors and you won't feel pain. If you have hit your finger with a hammer it hurts like crazy, but
                        if somebody then slams their foot down on your foot, you don't feel the pain in your finger anymore. You feel the
                        pain in your foot but not your finger because you can only feel so much pain. There's a bottleneck like the neck
                        of a soda bottle that restricts the flow of the soda. I remember as a child, when it was time to get shots to travel
                        overseas, the doctor slapped me on the ass and gave me the shot in the arm. I did not feel the shot at all, because
                        my bottom still hurt. There are types of pain that exist for no apparent reason.
                        <strong>Phantom limb pain</strong>
                        is a type of pain that is "all in your head". If someone loses their arm, and they feel pain in the arm or hand that is missing,
                        doctors used to tell the patient "the pain is all in their head". It turns out that it really is in their head, because
                        they may lose their arm but they have not lost their sensory cortex area in their parietal lobe. If that area is
                        stimulated you feel the sensation of touch or pressure or pain. The area of the parietal lobe has not been removed,
                        only the limb to which that area points.
                        <br>
                        <span class="flow-text">
                            <span class="flow-text">
                                <br> That’s it for the lectures for Sensation and Perception
                                <br>
                                <span class="flow-text">
                                    <span class="flow-text">
                                        <span class="flow-text">
                                            <span class="flow-text">It's time for a break guys, and gals.
                                                <br> Go do something other than study.
                                                <br> It's time to try the Crossword Puzzle for Sensation and Perception.
                                                <br> Take 15 minutes or so before you go to the next Unit.
                                                <br> Distributed learning is the best learning.
                                                <br>
                                            </span>Talk with you in the next lecture series. </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                </div>
              </p>
            </div>
          </div>
        </div>