        <div class="section no-pad-bot" id="index-banner">
          <div class="container">
            <p class="flow-text center orange-text responsive-header">The Sensation & Perception (1)</p>
            <div class="row">
              <div class="row">
                <div class="container">
                    <paper-audio-player color="orange"
                                        src="audio/error.mp3"
                                        title="Phil Harris - The Thing">
                    </paper-audio-player>
                </div>
              </div>
              <p class="flow-text" style="padding-top:18px;">
                  <div class="flow-text">
                      <div>
                  
                  
                          &nbsp;
                          <span style="font-weight: bold; font-style: italic;">Our senses don't deceive us: our judgment does. - Johann Wolfgang von Goethe </span>
                          <br>
                      </div>
                  
                  
                      <br>
                      <span class="flow-text">
                          <span class="flow-text">
                              <br> Welcome to the unit on Sensation and Perception.&nbsp; What do you think "The Thing"was?&nbsp; Every person
                              will have a different answer!&nbsp; In this unit we’ll talk about perception and the sense organs and the difference
                              between sensing physical energy and then perceiving that energy in the brain, so let’s get started. </span>
                          <br>
                          <br>
                      </span>
                      <span class="flow-text">
                          <span class="flow-text">Watch one or both of the videos below before you continue:
                              <br> Discovering Psychology Series - "Sensation and Perception" </span>is a 28 minute video.
                          <br> The Crash course in Psychology video that is less than 12 minutes.
                          <br> I find that older students enjoy the Discovering Psychology video and
                          <br> the younger students like the Crash course videos.
                          <br>
                          <br>
                      </span>
                      <div class="row">
                          <div class="col s12 offset-s0 m6 offset-m3">
                              <a href="http://www.learner.org/series/discoveringpsychology/07/e07expand.html" target="_blank">
                                  <img class="hoverable" width="100%" src="img/Sensation_icon.png">
                              </a>
                          </div>
                      </div>
                      <div class="video-container">
                          <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="https://www.youtube.com/embed/unWnZvXJH2o"></iframe>
                      </div>
                      <span class="flow-text">
                          <br>
                          <br> The brain senses the world indirectly. The sense organs are able to access the energy in the environment. They convert
                          that energy. Stimulation of the receptors convert the energy into the language of the nervous system which is electrical
                          and chemical impulses. So, the brain does not see a wavelength of light. The wavelength of light is picked up by
                          the sense organ, the eye. The eye then transduces that energy of a wavelength of light into a chemical and electrical
                          energy signal which is passed to the brain. When we study&nbsp; people we notice that each individual brain is a
                          little bit different than another brain. We have a little bit different chemicals and we have different neuron connections.
                          So, is it possible that the wave length that you see as blue, what you’ve always been told is blue, is different
                          than what another person sees as blue? Is their perception of the wave length (475 nm) the same as yours? Since we
                          all have different amounts of chemicals in our system and different nerve connections, maybe we all “perceive” different
                          wave lengths as different colors. Although we’ve been told all our lives that 475 nm is blue it does not mean that
                          we see exactly the same thing. Maybe we all have the same favorite color. We've simply been told it's different!
                          HAH! That was just to blow your brain a little bit. It’s kind of interesting how perception can change our idea of
                          the world. The ears pick up vibrations in the air and water. The taste buds and nasal senses react to chemicals.
                          The skin reacts to pressure. The brain simply gets electrical signals and must determine what those signals mean.
                          <br>
                          <br> Some Psychologists describe sensation as the initial stimulation of the brain, and I’m not one of those. Other Psychologists
                          describe sensation as the activation of our sense organs and I believe that is a better definition for sensation.
                          <br>
                          <br>
                          <span class="flow-text"> So, for the purposes of this lecture
                              <span style="font-weight: bold;"> Sensation </span>is the stimulation of the sensory receptors. The receptors transduce that sensation when they
                              have been activated. They create electrical activity which is then passed into the brain. So
                              <span style="font-weight: bold;">transduction </span>is the transmutation (or the conversion) of the sensation into neural activity in order for
                              that sensory information to be transmitted to the central nervous system. Perception occurs when the electrical
                              impulses reach the brain. The brain gives those signals meaning.
                              <span style="font-weight: bold;">Perception
                              </span>is an active process that occurs in the brain, and makes sensory patterns meaningful and more elaborate.
                              Perception is when sensations are organized into an inner representation of the world using your past experiences
                              as a guide. You have memories and experiences that other people do not have, and your brain’s a little bit different
                              than everybody’s brain. As sensations activate the brain it interacts with all the memories and experiences that
                              you have, so perception is subjective! Perception brings personal meaning to the sensation.&nbsp; Perception
                              produces a subjective interpretation of the external world. It is not a perfect representation of it, and we’ll
                              talk more about this in the Memory unit.&nbsp;&nbsp; Here is a video to give you a visual idea about what sensation
                              is compared to perception.
                              <br>
                              <div style="float:left; padding:10px;">
                                  <br>
                                  <iframe src="https://www.youtube.com/embed/iaOZFub5T5g" allowfullscreen="" frameborder="0" height="315" width="320"></iframe>
                                  <br>
                              </div>
                              <br> Receptors are the specialized neurons in the body that are activated by stimulation and transduce (or convert)
                              the stimulation into a nerve impulse. Your eye does not respond to the energy of sound waves, your ears do that.
                              So, each of our sense organs responds to different types of stimulation in the environment. There is lots of
                              energy in the environment that we do NOT have any receptors for and therefore it is invisible to us. We do not
                              know that it’s there. We’ll talk a little bit about that later.
                              <strong>Sensory adaptation</strong> occurs when we become accustomed to a stimulus, and therefore less sensitive to it.
                              For instance, if you’re in a room with an air handler, or air conditioner, you get into the room and you notice
                              the air handler, and then after you sat there for a while, you don’t notice the sound of the air rushing out
                              - prior to of course my bringing it to your attention. In most cases we hear it and then we forget about it.
                              According to evolutionary psychologists, this is advantageous because it makes us pay attention to changes in
                              the environment but not those things that remain the same. We don’t pay much attention to those things that remain
                              the same because the constants in our environment will probably not kill us. But, if we hear something change
                              in the environment, like the snap of a twig, we immediately pay attention to it because that might be dangerous
                              for us. Evolutionary psychologists say it is advantageous for us to pay attention to those things that change
                              in the environment and to ignore those things that stay the same once we determine that they are not going to
                              harm us.
                              <br>
                              <br> Another term that we’re going to discuss is the
                              <span style="font-weight: bold;">absolute threshold
                              </span>. This is the minimum amount of energy that can produce a sensation at least half of the time. Every one
                              of our senses has an absolute threshold. For instance if you’re in Arizona, you can see for many, many miles.
                              Imagine a person is 30 miles away from you with a candle at night when the moon isn’t shining, so it’s very dark.
                              They put their hand in front of the candle so that their hand is between you and the candle flame. You can’t
                              see the candle. Then they take their hand away. If they’re at the absolute threshold of sight, then you will
                              see the candle light 50% of the time. If they come closer to you, you’ll see the candle more often. If they get
                              further away from you, you’ll see the candle less often. The absolute threshold is when you will sense that particular
                              energy half the time and for a candle on a dark night that is 30 miles.
                              <br>
                              <br>
                              <br>
                          </span>
                      </span>
                      <span class="flow-text">
                          <div class="images">
                              <div style="float:left; border:0px; padding:10px;">
                                  <div>
                                      <img alt="Picture of Sumo wrestler" src="img/Sumo_Asashoryu.jpg"> </div>
                              </div>
                          </div>
                      </span> The
                      <strong>difference threshold</strong> is the smallest amount by which any stimulus can be changed and that the difference, that
                      the change can be detected. It’s also called the Just Noticeable Difference, and I’ll give you a couple of instances
                      of this. If you’re in a department store, and all the lights are on in the department store, except for one, and they
                      turn that one light on, you won’t notice that there’s any difference. That one light won’t make a big difference to you.
                      But, if you’re in that store and there’s only one light on, and they turn on a second light , it will make a big difference
                      because it is a big change. The larger a stimulus is, the larger a change has to be for you to notice the difference.
                      When a sumo wrestler gains a pound, nobody notices it, but when a baby gains a pound, everybody notices it, because a
                      pound is a much larger percentage of a baby’s weight than a sumo wrestlers weight.
                      <strong>Weber’s law </strong>says the size of a
                      <strong>Just Noticeable Difference (JND)</strong> is proportional to the intensity of the stimulus in question.
                      <br>
                      <div class="images">
                          <div style="float:right; border:0px; padding:10px;">
                              <div>
                                  <img style="width: 198px; height: 212px;" alt="Picture of a baby" src="img/Baby.gif"> </div>
                          </div>
                      </div>
                      <strong>Signal detection theory</strong> is one of the theories of how we sense information. Perceptual judgement is a combination
                      of sensation and decision making processes. First there’s a stimulus event, then there’s neural activity. This neural
                      activity is compared with your personal standards. Then we take action or no action, depending on what we’ve decided.
                      So, signal detection theory says that if somebody is in front of us with a gun and shoots at us, first there’s the stimulus
                      event of the person in front of us with a gun. The sight of the guy with the gun is transmitted to our brain. Then we
                      have to compare that with personal standards of what we know about people with guns. Well, gosh, that guy’s in front
                      of me, he’s carrying a gun, he is going to shoot me. Then we take action or no action. In this particular situation we
                      would probably get killed because - hey - the brain may think really fast, but we probably haven’t had enough time to
                      act and we get hit by the bullet. I live in a city where there are alleys that split city blocks. You do not need to
                      walk all the way around the block to get to the other side. You can take an alley as a shortcut. At night the alleys
                      are very dark. You may see a shortcut, but a person who has been mugged in an alley sees something completely different.
                      The stimulation is exactly the same (a dark alley), but the perception is very different. We will discuss this again
                      in the memory unit. Another aspect of signal detection theory is how prepared you are to pay attention. An armed night
                      guard at a factory may hear and see better because it is his duty to pay attention. Whereas someone just visiting the
                      guard may not hear and see the same stimuli.
                      <br>
                      <br> The senses all operate in much the same way. They take energy of some kind from the environment and transduce that into
                      <span class="flow-text">
                          electrical and chemical energy to send to the brain. But, each of them extracts different information and sends it to its
                          own specialized processing region in the brain. So, can you name all of the senses? Most of us can name five senses;
                          touch, taste, eye sight, hearing, and smell. What about the sixth sense? Most of you will say the sixth sense is
                          extrasensory perception. However, it is not extrasensory perception. There is a sixth sense called Proprioception.
                          <strong>Proprioception</strong> is not extrasensory perception; it is the ability to know where our body is in space. It
                          is the ability to know where each part of our body is in comparison to the other parts, using what is called proprioceptors
                          in the muscles. If your hands are dangling by your side as you are reading this presentation, you know where your
                          hands are. You have senses, proprioceptors in your muscles, that continuously send feedback to you so that you know
                          where your hands are. What if you didn't? You would be unable to stop your arms from moving nor move them in any
                          specific direction. Unless they were within your sight you have no idea where they are. Your brain is getting no
                          feedback from the proprioceptors about where your arms are. If you do not know where your arms are, you do not know
                          if they’re moving. You have no indication that they are still in a certain location or not. Until they come within
                          your sight. Once you have them within your sight, you can then use your sight sense as feedback to keep your hands
                          still. A very good book for this particular problem is called “The Man Who Mistook His Wife for a Hat”. This is a
                          book about many types of brain traumas. If you want to know how bad it is to lose your proprioception, read this
                          book. It’s actually the story of some patients of Dr. Oliver Sacks. Some of you already know who Oliver Sacks is.
                          Robin Williams played him in the movie called “Awakenings”. In his first position out of medical school he was put
                          in charge of some coma patients. Some of those coma patients were different than others, they had different characteristics.
                          He grouped all of the coma patients that had specific characteristics together, and studied them. He found that if
                          he could give them a specific drug they woke up out of their comas. Unfortunately he had to give them larger and
                          larger dosages of the drug to keep them out of the coma. Eventually they all went back into the coma again because
                          he couldn’t give them large enough dosages. It is a sad story like “Flowers for Algernon” and it’s a true story.
                          Oliver Sacks took many of his interesting patients and put them together in the book called “
                          <a title=",Link to book purchase"
                              href="http://www.alibris.com/The-Man-Who-Mistook-His-Wife-for-a-Hat-and-Other-Clinical-Tales-Oliver-W-Sacks/book/4139683?matches=235">
                              The Man Who Mistook His Wife for a Hat</a>”. The stories are captivating!
                          <br>
                          <br>
                          <div style="padding:10px; float: left; border: 10px;">
                              <iframe src="https://www.youtube.com/embed/Bi_HpbFKnSw?rel=0" frameborder="0" height="300" width="320"> </iframe>
                              <br>
                              <center> ,Film about Eye implants</center>
                          </div>
                          <br> We can enhance our senses with eye glasses, when we can’t see very well. We use hearing aids when we can’t hear
                          very well. In the future we’ll be able to make machines that directly access our brain. Wait - that's happening right
                          now! Jens Neumann was blind and in 2002 doctors implanted electrodes into his brain to get feedback from a camera
                          attached to his glasses. At present it is only a 4X4 pixelated signal but others have been doing the same type of
                          research to enhance the vision of people who are blind. The hope is to get the vision to a 16 X 16 view soon (see
                          pictures below). With a 4X4 view of the world, he can drive a car in an empty parking lot.
                          <br>
                          <br> That is not all. In 1998 Johnny Ray was a 53 year old paralyzed stroke victim at the Veteran’s Hospital in Decatur,
                          Georgia. He became the first human to communicate to a computer controlled only by his brain power. He had an electrode
                          placed in his brain. That electrode was then connected to a computer, and he could move a mouse on the computer with
                          his thoughts. So, with the wires attached to his brain he was able to control a computer and although he was completely
                          paralyzed, he was able to talk to his family and his doctors through his computer.
                          <br>
                          <br> Today we have people who have lost their arms being fitted with a prosthesis that can send feeling as feedback to
                          the brain.
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                      </span>In the pictures below the images of a parked car have been pixelized to 4 by 4, 8 by 8, 12 by 12, 16 by 16, 32
                      by 32, 64 by 64 and 128 by 128 pixels, respectively.
                      <br> The images here still include shading, while some implants may give little more than on/off signals per pixel or phosphene.
                      <br> Images taken from the https://www.seeingwithsound.com/etumble.htm website.
                      <center style="color: rgb(0, 0, 0); font-family: Arial, Helvetica; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
                          <table style="font-size: 16px;" border="0" cellpadding="3" cellspacing="0" hspace="5" vspace="5">
                              <tbody>
                                  <tr>
                                      <td>
                                          <a href="https://www.seeingwithsound.com/car4x4.gif">
                                              <img src="https://www.seeingwithsound.com/car4x4.gif" alt="Parked car pixelized to 4 x 4 pixels"
                                                  border="1" height="128" width="128">
                                          </a>
                                      </td>
                                      <td>
                                          <a href="https://www.seeingwithsound.com/car8x8.gif">
                                              <img src="https://www.seeingwithsound.com/car8x8.gif" alt="Parked car pixelized to 8 x 8 pixels"
                                                  border="1" height="128" width="128">
                                          </a>
                                      </td>
                                      <td>
                                          <a href="https://www.seeingwithsound.com/car12x12.gif">
                                              <img src="https://www.seeingwithsound.com/car12x12.gif" alt="Parked car pixelized to 12 x 12 pixels"
                                                  border="1" height="128" width="128">
                                          </a>
                                      </td>
                                      <td>
                                          <a href="https://www.seeingwithsound.com/car16x16.gif">
                                              <img src="https://www.seeingwithsound.com/car16x16.gif" alt="Parked car pixelized to 16 x 16 pixels"
                                                  border="1" height="128" width="128">
                                          </a>
                                      </td>
                                      <td>
                                          <a href="https://www.seeingwithsound.com/car32x32.gif">
                                              <img src="https://www.seeingwithsound.com/car32x32.gif" alt="Parked car pixelized to 32 x 32 pixels"
                                                  border="1" height="128" width="128">
                                          </a>
                                      </td>
                                      <td>
                                          <a href="https://www.seeingwithsound.com/car64x64.gif">
                                              <img src="https://www.seeingwithsound.com/car64x64.gif" alt="Parked car pixelized to 64 x 64 pixels"
                                                  border="1" height="128" width="128">
                                          </a>
                                      </td>
                                      <td>
                                          <a href="https://www.seeingwithsound.com/car128x128.gif">
                                              <img src="https://www.seeingwithsound.com/car128x128.gif" alt="Parked car pixelized to 128 x 128 pixels"
                                                  border="1" height="128" width="128">
                                          </a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <center>
                                              <font face="Arial,Helvetica" size="1">16 pixels
                                                  <br> (4 × 4)</font>
                                          </center>
                                      </td>
                                      <td>
                                          <center>
                                              <font face="Arial,Helvetica" size="1">64 pixels
                                                  <br> (8 × 8)</font>
                                          </center>
                                      </td>
                                      <td>
                                          <center>
                                              <font face="Arial,Helvetica" size="1">144 pixels
                                                  <br> (12 × 12)</font>
                                          </center>
                                      </td>
                                      <td>
                                          <center>
                                              <font face="Arial,Helvetica" size="1">256 pixels
                                                  <br> (16 × 16)</font>
                                          </center>
                                      </td>
                                      <td>
                                          <center>
                                              <font face="Arial,Helvetica" size="1">1024 pixels
                                                  <br> (32 × 32)</font>
                                          </center>
                                      </td>
                                      <td>
                                          <center>
                                              <font face="Arial,Helvetica" size="1">4096 pixels
                                                  <br> (64 × 64)</font>
                                          </center>
                                      </td>
                                      <td>
                                          <center>
                                              <font face="Arial,Helvetica" size="1">16384 pixels
                                                  <br> (128 × 128)</font>
                                          </center>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </center>
                      <br> That's it for this lecture.&nbsp;
                      <br> I’m going to stop here.
                      <br> It's time for a break guys, and gals.
                      <br> Go get a cup of coffee.
                      <br> Go do something other than study (maybe play the hangman game).
                      <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                      <br> Take 15 minutes or so before you go to the next slide.
                      <br> Distributed learning is the best learning.
                      <br> We will continue the study of the Sensation and Perception in the next lecture.
                      <br> Talk with you then.
                      <br>
                      <br>
                  </div>
              </p>
            </div>
          </div>
        </div>