<div class="section no-pad-bot" id="index-banner">

  <div class="container">
    <p class="flow-text center orange-text responsive-header">The Sensation & Perception (4)</p>
    <div class="row">
      <p class="flow-text" style="padding-top:18px;">
          <div class="flow-text">
          
              Welcome back to the Sensation and Perception lectures. This is lecture number four.
              <br>
              <br> We stopped with lecture number three discussion issues of sight. Let us continue discussing
              <span style="font-weight: bold;">Monocular
              </span>vision cues. This is the ability to see specific data with just one eye (mono meaning one and ocular meaning eye).
              You don't need both eyes to see a lot of information in the environment. Some information is able to be perceived with
              just one eye.
              <span style="font-weight: bold;">Depth
              </span>can be perceived with just one eye.
              <span style="font-weight: bold;">Interposition
              </span>is when close objects obscure far away objects. For instance I'm looking at my computer right now and it is obscuring
              the television in the background. I can see parts of the television but not all of it. That tells me that my computer
              monitor is closer to me than the television which is in the background. I assume through interposition that the computer
              is closer to me. This is part of depth perception. Painters will use this idea when they're painting to make you think
              that what you're seeing is a 3 dimensional picture because of interposition and relative size.
              <span style="font-weight: bold;">Relative size</span> combines with size and shape constancy to determine distance. Far away objects appear smaller than
              close objects. If there are two trees in a picture, one of them very large, one of them very small, you assume that the
              larger tree is closer. We use shape and size constancy to perceive the smaller tree further away in the picture than
              the larger tree.
              <span style="font-weight: bold;">Linear perspective</span>
              is another monocular ability. Lines converge as they recede into the distance. If you're lucky to have ever stood on railroad
              tracks where you can see a long way away, you notice that the railroad tracks get closer and closer and closer together
              as they go out in the distance. Of course that can't possibly be, because the train's wheels are locked in one position
              and if the railroad tracks changed size, the train would jump the tracks! Obviously they don't move closer to each other
              but because of distance they look like they're getting closer together and no longer parallel.
              <strong>Motion parallax
              </strong> is also a monocular ability. Nearby objects appear to move faster and sometimes even appear to move backwards
              compared to more distant objects. If you're passing a fence post, the posts are going by very rapidly, but the trees
              in the forest a hundred yards away seem to be going slower even though there's a tree for every slat in the fence. If
              you are in an area with overhead telephone and electrical wires. Staring at the wires as the car is moving down the road
              makes them appear to get closer to the car (Only do this when you are a passenger in the car!).
              <br>
              <br> There are two
              <strong>Binocular </strong>clues; retinal disparity and convergence. They require both eyes to be able to get the information
              from the environment.
              <strong>Retinal disparity</strong>
              is where both eyes receive slightly different information because they're placed on the head in two different areas, right,
              they're not right up above one another and even then you get more different information. So, combining the two, slightly
              different pieces of information, allows the brain to calculate distance, and this is also through learning realize how
              far something is and the difference in the feeling that we have or the information that we're receiving to the brain.
              So we perceive that something is a specific distance away because the eyes are sensing two different aspects of the world.
              <strong>Convergence</strong> is as items get closer to the eyes, then the eyes physically change position and we can feel that
              movement, although you don't think about it, that there's a sense of pulling on the muscle and that sense of movement
              and pull on muscles we can use to calculate the distance that something is from us based on how close together or how
              far apart our eyes are.
              <br>
              <br> That's the end of vision. Now we're going to talk about hearing. I'm sure you've heard the saying that if a tree falls
              in the forest, does it make a sound if there's nobody there to listen? Well, that sure depends on your definition of
              hearing, doesn't it? If hearing is defined as sound waves impinging on your ears, then no, it doesn't make a sound. However
              it certainly makes the vibrations in the environment (physics does not stop simply because humans are not around). It
              does make a noise, but no one hears it.
              <span style="font-weight: bold;">
                  Hearing requires a medium</span>, such as air or water, which is displaced in some way. There is neither air nor
              water in space, so the explosions that you hear in Science Fiction films can't heard except in the ship that is exploding.
              In space there's nothing to propagate the movement of the waves. So, the only people who would hear an explosion are
              the ones that are on a ship that are about to explode or are exploding, and that sound is being carried by the oxygen
              in the ship that they're in. So, hopefully you will never hear an explosion in space. Now, you would be able to see light
              because light does travel without any medium, but you need vibrations in air or water to create sound.
              <span style="font-weight: bold;">Sound
              </span>results from vibrations in air or in water. Sound actually carries further in water than it does in air. If you
              are standing at one end of a football field and I on the other, I will probably not be able to hear you. Sound dissipated
              in the air very quickly. however a whale on one side of the world can hear other whales halfway around the world. There's
              a whale on the other side of the world that's alone, can't find any other whales and says “Hello! Are there any females
              around?” and the whale on the other side of the world, he has all the girl whales hanging out around him, and he says
              “Nooo!” Just trying to get you to laugh, but seriously that is an issue for the military. Sonar testing can feel to a
              wale like a gun going off next to your ear.
              <span style="font-weight: bold;">Timbre
              </span>is the quality of a sound wave, that derives from the wave's complexity of the sound. Sound is not a very simple
              wave, it is a very complex wave. When someone you know very well calls you on the phone and says hello, you can tell
              who it is almost immediately by the timber of their voice. Measurement of sound includes the frequency and the amplitude
              of the wave. Frequency is how many cycles per second, and amplitude is how much energy there is in the wave.
              <br>
              <br> So,
              <span style="font-weight: bold;">frequency </span>can also be called pitch and the number of cycles completed by a wave in a given amount of time. Cycles
              per second, basically, is pitch or frequency, that's how it's measured, in cycles per seconds. This is also called Hertz,
              that's 1 cycle per second equals 1 Hertz. They had to give it another name. What is your finger? Your finger is also
              a digit. We have to have numerous things for the same thing. Just to confuse us. Humans can hear from about from 20 Hertz
              to 20,000 Hertz, just like in sight where there are specific wavelengths that we cannot see, in hearing there are certain
              frequencies that we cannot hear. The greater the pitch, the higher the frequency. So, from 20, that's a very low frequency,
              and a very low pitch, 20,000 is a very high frequency and a very high pitch. Women talk normally at a higher pitch than
              men do. Women talk like this, women have a higher pitch, while men talk at a much lower pitch. So, that's the difference
              in frequency. Here's frequency, short frequency and high frequency, and that's the difference. The man is on the left
              and the woman is on the right. So, women generally have higher pitch, higher frequency than men do.
              <br> The
              <span style="font-weight: bold;">amplitude </span>of a sound is it's energy level or the physical strength of the wave. I am talking to you at my specific
              pitch, if I whisper to you, I have a very low amplitude, but if I'm screaming at you, my amplitude is much higher however
              my pitch remains the same, It may go up a little bit when I'm screaming, though. So, the physical strength of a wave
              is its amplitude or its intensity. Amplitude is also described as the loudness of a sound. Amplitude is defined in decibels,
              where frequency is in hertz. Hearing damage can occur with prolonged unprotected sounds of 85 decibels or more. Frequency
              and amplitude are independent of each other as I just said I can scream at you and have basically the same frequency
              as when I'm whispering to you. So, I can change the amplitude without changing the frequency.
              <br>
              <br>
              <img alt="Picture of the ear" src="img/Sensation_Ear_1.jpg" style="float:left; padding:10px; width:320px;">The picture on the left is a picture of the ear. The
              <span style="font-weight: bold;">Tympanic
              </span>membrane is what we call the
              <span style="font-weight: bold;">eardrum
              </span>and it separates the outer ear canal - which is where you can stick q-tips (although you're not supposed to put
              anything into the canal) - from the middle ear. When we get to the eardrum we have arrived at the middle ear. The entire
              eardrum is considered part of the middle ear. Even though one side seems to be part of the outer ear we considered the
              whole thing as part of the middle ear. The eardrum receives the vibrations that are coming to it - down the canal - from
              the air or from the water if there's water in your ear. It then vibrates in rhythm to the vibrations hitting it. The
              picture down at the bottom is a good picture of the middle ear. The
              <span style="font-weight: bold;">Hammer</span>,
              <span style="font-weight: bold;">Anvil</span>, and the
              <span style="font-weight: bold;">Stirrup
              </span>are bones that transfer the vibrations from the eardrum through the middle ear to the inner ear which contains
              the cochlea.
              <br>
              <br>
              <span class="flow-text">
                  <span class="flow-text">
                  </span>
              </span>
              <span class="flow-text">
                  <span class="flow-text">
                      The inner ear or the cochlea is where the sound waves are transduced, turned into the electrical and chemical energies that
                      gets to the brain. We interpret the brain wave patterns as sound. The
                      <span style="font-weight: bold;">Basilar </span>membrane is a thin strip of tissue which is sensitive to vibrations inside the cochlea. It contains
                      tiny hairs that vibrate with the vibrations that come into the cochlea through the middle ear. The auditory nerve
                      is the neural pathway connecting the ear to the brain, most of the auditory sensations occur in the temporal
                      lobe to begin with, so the temporal lobe contains our primary auditory cortex.
                      <br>
                      <br> The portion of the temporal lobe that processes sounds is the primary auditory cortex. The auditory association
                      cortex is also in the temporal lobe but it gives meanings to the signals, just like the visual association cortex
                      gives meaning to vision. So the temporal lobe has the primary auditory cortex and the auditory association cortex,
                      just like in the occipital lobe has a primary and association visual cortex. Let me ask you, do you sound the
                      same on a tape recording? Have you ever listened to yourself on a tape recording? Most of us absolutely despise
                      tape recordings because they never sound like us, they always sound like someone else. I am sorry to tell you,
                      but everyone else hears you the way you sound on that tape. You are the only one that thinks it sounds differently.
                      Recordings of you are the way you sound to other people. To some of you that's just a horror, but that is the
                      truth. What is sound. It is the vibrations that affect your eardrum. While you speak, your head vibrates, so
                      when you speak you hear yourself talking and that is combined with the vibrations of your head. You're getting
                      more vibrations affecting your eardrum than those who are listening to you. No one else of course hears the vibrations
                      your head makes. They hear your real voice, and you hear your voice plus the vibrations that are happening in
                      your head. That's why you sound different on a tape recording. The recording is missing the extra vibrations
                      of your head.
                      <br> There are three major theories of how we hear and we will start the next lecture discussion them.
                      <br>
                      <br> That's it for this lecture.
                      <br> I’m going to stop here.
                      <br> It's time for a break guys, and gals.
                      <br> Go get a cup of coffee.
                      <br> Go do something other than study (maybe play the hangman game).
                      <br> There is one crossword puzzle for the entire unit, but the hangman games are made for each slide.
                      <br> Take 15 minutes or so before you go to the next slide.
                      <br> Distributed learning is the best learning.
                      <br> We will continue the study of the Sensation and Perception in the next lecture.
                      <br> Talk with you then.
                  </span>
              </span>
          </div>
      </p>
    </div>
  </div>
</div>