        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">History (4)</p>
            <div class="row">
              
              <p class="flow-text">
                  Welcome back to lecture number four - the last lecture - on the History of Psychology.  
                  We just finished discussion the experimental psychologists in the last lecture.  
                  It is time to move onto the group of psychologists that are best known - the applied psychologists.  
                  <br><br>
                  <b><u>Applied Psychologists</u></b>                
                  <br>
                  We just talked about experimental psychology and some of the schools of thought defining experimentation. At the other side of the psychological spectrum we find the Applied Psychologists who use the experimental results applying them to help the human condition. Applied Psychologists use the knowledge developed by the Experimental Psychologists to solve human problems. Many of the people we just discussed were also clinicians. They helped individuals in a clinical setting. There are lots of ways that they can do this. So, Applied Psychologists come in lots of different forms. Here are just a few of them. There are others, but this is a short course so I’ll limit myself to: the Clinical, Counseling, I/O, Engineering, School, and Rehabilitation Psychologists.  
                  <div class="col s6 m4">
                      <img class="materialboxed" data-caption="" width="100%" src="img/history_counseling.jpg">
                  </div>
                  <p class="flow-text">
                      First of all, let’s look at the <b>Clinical</b> Psychologist. I have a question for you. Which sounds more medical to you: Clinical or Counseling? If you said Clinical you are correct. These Psychologists work with people who have major problems with social and emotional adjustment. The Clinical Psychologist, or the Clinician, is more likely to have a private practice that involves psychological testing and “long term” therapy as opposed to the Counseling Psychologist, as we’ll see in just a minute. So, the Clinical Psychologist is the one who deals with the major problems of adjustment to the world. The client will be in therapy for years and possibly their entire life. 
                      <br><br>
                      The <b>Counseling</b> Psychologists deal with the every-day problems of life. 
                      Counselors are more likely to work for an agency or school and spend fewer sessions 
                      with each of their clients. They work with people who have problems with emotional, 
                      social, vocational, educational, health-related, developmental, and organizational 
                      concerns. This is usually what we call the worried well. They’re okay people, they 
                      just have some problems that they can’t deal with on their own and they need help. 
                      So, the Counseling Psychologist is available and trained to help them. It takes about 
                      26 sessions for the client to work through their problem and get it taken care of. 
                      They may never have to return to the counselor. According to the 

                      <a href="http://www.div17.org/about-cp/what-is-counseling-psychology/" target="_blank">Society for Counseling Psychology</a>
                      <!-- TODO Check with rodger if this is the right link -->
                      <!-- http://psych.techscholia.com/book/Mchapters/%3Cdiv -->
                      <!-- (http://www.div17.org/about-cp/what-is-counseling-psychology/)  -->
                      “The practice of Counseling Psychology encompasses a broad range of culturally-sensitive 
                      practices that help people improve their well-being, alleviate distress and maladjustment, 
                      resolve crises, and increase their ability to function better in their lives. .... These 
                      activities are guided by a philosophy that values individual differences and diversity 
                      and a focus on prevention, development, and adjustment across the life-span.”  
                      <br><br>
                      The I/O Psychologist is the <b>Industrial/Organizational</b> Psychologist. These 
                      Psychologists specialize in modifying the work environment to maximize 
                      productivity and morale. They are very similar to an Engineering Psychologist 
                      we will look at in a minute. The specialty of industrial-organizational 
                      psychology (also called I/O psychology) is characterized by the scientific study of 
                      human behavior in organizations and the work place. The specialty focuses on deriving 
                      principles of individual, group and organizational behavior and applying this knowledge 
                      to the solution of problems at work. 
                      
                      <a href="http://www.apa.org/ed/graduate/specialize/industrial.aspx" target="_blank">According to the APA web site</a>
                      <!-- TODO Check with rodger if this is the right link --> 
                      <!-- http://psych.techscholia.com/book/Mchapters/%3Cdiv -->
                      <!-- - http://www.apa.org/ed/graduate/specialize/industrial.aspx -  -->

                      The I/O Psychologists have “specialized knowledge and training in the science of behavior in the workplace which requires in-depth knowledge of organizational development, attitudes, career development, decision theory, human performance and human factors, consumer behavior, small group theory and process, criterion theory and development, job and task analysis and individual assessment. In addition, the specialty of industrial-organizational psychology requires knowledge of ethical considerations as well as statutory, administrative, and case law and executive orders as related to activities in the workplace. The specialty of Industrial Organizational Psychology addresses issues of recruitment, selection and placement, training and development, performance measurement, workplace motivation and reward systems, quality of work life, structure of work and human factors, organizational development and consumer behavior. ... The distinct focus of I/O psychology is on human behavior in work settings. “ 
                      <br><br>
                      An I/O Psychologist may help an organization modify their organizational behaviors to keep turnover of employees low. Why would that be important? Why is it important that employee turnover is low? Well, companies spend a lot of time and money to train their employees, and if the employees turnover rapidly, which means the employee quits soon after training, then they have to get a new person to put in that place. The company spent a lot of time and money training the employee that left. The employee never got to their full output potential and the company lost the money they spent in training because they don’t get back enough quality work before the employee quit. Also, the turnover implies that workers aren’t happy and if the workers aren’t happy in your particular company, whatever that happens to be, then your employees are not doing the most productive work. Also if you have customers who are interacting with your unhappy employees, then your customers are probably going to be unhappy. So, you bring in an I/O, Industrial/Organizational Psychologist to find out what’s going on, and hopefully, but not always, the boss will listen to that Psychologist and their results and change the philosophy in their work environment. Here is an example: If a company has a Human Resources person who is an extrovert and they are in charge of hiring, then they are more likely to hire people who are like themselves - extroverts. The new employee is sent to their “Cubicle” to work. An extrovert is not going to be happy in a cubicle and will start to look for another job immediately! So the I/O psychologist will tell the company to hire introverts or change the work environment to suit both introverts and extroverts. 
                      <br><br>
                      The <b>Engineering</b> Psychologist is very similar to the I/O Psychologist. These people are designers of equipment, for instance producing ergonomically useful designs. Ergonomic means made for human use to provide comfort and to avoid stress or injury. Take the typical keyboard for instance. The flat and straight keyboard causes the typist to bend their wrists to type. This causes carpal tunnel syndrome.
                  </p>
                  <div class="col s6 m4">
                      <img class="materialboxed" data-caption="" width="100%" src="img/MSNatural.jpg">
                  </div>
                  <p class="flow-text">
                      A simple change in the keyboard reduces the incidence of the syndrome.  The Microsoft Natural Keyboard splits down the middle and angles the keyboard so it is oriented for natural hand positions. 
                      <br><br>
                      Engineering Psychologist are usually employed by private industry and by the government. They also do detective work in accidents involving “human error” to determine what went wrong and how it can be avoided in the future. For instance; my mom was the second woman ever appointed to a magistrate’s position in Virginia – she is now retired. Once there was a car accident, where a Volvo was involved in the accident, and somebody got hurt, so a Volvo Engineering Psychologist came out to investigate the crash to figure out why that person got hurt, because as far as Volvo’s concerned there is no way that a person should be able to get hurt in a Volvo if they were wearing their seat belt. Volvo is going to find out what happened. If necessary they would change the design of their cars so that it will never happen again. This is an interesting aspect of Volvos and the reason why my mom has never owned anything but a Volvo since she found that out. 
                      <br><br>
                      The <b>School</b> Psychologist is a person who works mainly in the K-12 School system. These Psychologists have special knowledge in learning: what it takes to learn and the problems of learning and teaching. They typically diagnose learning problems in a school district. So, if you have a student with a problem, the Psychologist will come in to determine what that problem is. It may not be the student that has the problem; it may be the teacher, the school boards, and the PTAs that have the problem. However, the school Psychologist’s expertise is limited to the student itself and does not include the learning problems that occur outside of the student. So, their expertise is centered on the student, and that’s where they’re going to look for the problem to exist and to cure the problem. The most diagnosed learning disability is <b>Dyslexia</b>, the fact that a student is not able to see words on a page properly. The child has no idea they are Dyslexic because they never have seen a page the way YOU see the page. So, they have no idea why they are having trouble while everyone else is doing well. Dyslexia should be diagnosed before you even get into school, but it’s usually diagnosed later in the school life, after the student’s become frustrated with schooling. When they finally find out that they’re dyslexic they also have to realize they are not stupid. They just can’t read like the other students. The school system has forced them to read in order to learn. When they finally are able to get the information into their brain, they do very well. Dyslexia is the most common form of learning issue. A dyslexic’s brain does not interpret input from the eyes correctly. Their memory systems are fine. They simply need someone to read to them – like audio books. But “God forbid” we ask the school system to modify the way they force students to learn! My cousin had trouble from K – 10 grades. He was labeled a poor student and a troublemaker. He finally found out he was dyslexic in 11th grade. My grandmother started reading him his text books. His grades shot up and he graduated and was accepted at Temple University where he received a Bachelor of Art in business. My grandmother read him his text books all through college. There are large numbers of students who could do very well if they could simply get the information in a format they can understand. What if all your books were in a foreign language you can’t read. Are you stupid? No! You simply need a different way to get at the material. 
                      <br><br>
                      Then there’s the <b>Rehabilitation</b> Psychologist. This is a very difficult profession. I already told you I am not an applied psychologist. I get too involved in my client’s life. I empathize too much. My boundaries are easily breached. Rehabilitation Psychologists are those who work alongside nurses and physicians. They treat patients who need help adapting to their new medical conditions or situation. They may have lost an arm or a leg. The nurses and doctors can help the body heal, but there’s a lot of Psychological trauma involved in the loss of a limb, or any other aspect where your life changes drastically because of what happened [Traumatic Brain Injury and PTSD are examples]. So, Rehabilitation Psychologist deal with some very, very, injured, and psychologically devastated individuals. They can do job training to find out what other areas of interest might exist for that particular person and how they might help the client to get a new job. A person who may not be able to do the same job that they had because of the loss of a limb, may not even consider anything else, or never have considered anything else, and the Rehabilitation Psychologist can help them find another way to survive in the world. We never "get over" such a trauma, but we can learn to incorporate and live in our new reality. So, it’s a difficult - I think - one of the more difficult aspects of Applied Psychology. 
                      <br><br>
                      That's it for the lectures on History of Psychology. <br>
                      It's time for a break guys, and gals. Go get a cup of coffee. <br>
                      Go do something other than study (maybe play the hangman game). <br>
                      There is one crossword puzzle for the entire unit <br>
                      (the crossword here is for BOTH History and Research), <br>
                      but the hangman games are made for each slide.<br>
                      Take 15 minutes or so before you go to the next lecture (Research). <br>
                      Distributed learning is the best learning. <br>
                      Continue your studies with the Research of Psychology.<br>
                      Talk with you then!
                  </p>

              </p>
              
              
            </div>
      
            <br><br>
      
          </div>
        </div>