        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">History (2)</p>
            <div class="row">


              <p class="flow-text" style="padding-top:18px;">
                  Welcome back to the <b>second</b> lecture on the History of Psychology.                 
                <br><br>
                  Historians believe that Hippocrates was born the same year as Socrates in 460 B.C. He is known for creating the profession of Medicine. He separated medicine from superstitious religious beliefs and argued that disease was not a punishment inflicted by Gods but rather was the product of environmental factors such as diet, and living habits. Even today medical professionals must take the Hippocratic Oath to work in their field. After Rome fell - the Catholic Church moved in the opposite direction of Hippocrates and decreed that the mind and soul operated outside of nature, outside of biology, and that no one should dare to study them unless they were leaders of the church (a bishop, monk or priest). In the Dark Ages of Scholasticism, the Catholic Church controlled scientific study. Critical thinking was used to defend the dogma of the church (a constriction of thought instead of an expansion of it). The theologians of the time were Monks who studied science specifically to verify their faith and the pontifications of their leaders. That limited the growth of Science for a few hundred years. The Dark Ages ended when the Catholic Church split into other religious authorities and the other religions were not as strict about the control of scientific inquiry.  
              </p>
              <div class="col s6 m4">
                <img class="materialboxed" data-caption="Descartes (1596-1650)" width="100%" src="img/descartes.jpg">
              </div>
              <p class="flow-text">
                  One of the leading philosophers to emerge after the Dark Ages was <a href="https://en.wikipedia.org/wiki/Ren%C3%A9_Descartes" target="_blank">Descartes</a> who lived from 1596 to 1650. He is considered the father of modern philosophy. Like Socrates he believed sensation and responses are based on the human nervous system. Since they are based on something that we can actually see, then we can study and learn how a human being functions, by studying the human nervous system. Descartes refused to accept the obviousness of his own senses. He believed - as did Socrates, Plato, and Aristotle - that perception is an interpretation. So, just because it’s obvious to his senses, doesn’t mean that it is correct. What we perceive in the world, is an interpretation and each person has their own interpretation. In the search for a foundation for Philosophy, he was a Philosopher, whatever could be doubted had to be rejected. Descartes resolved only to trust what is clearly and distinctly found to be beyond any doubt through his research and through, what today we call, the Scientific Method.   
                  <br><br>
                <p class="center-align flow-text"><em><u>In the 1800s, Psychological studies took on a more scientific rather than Philosophical view.</u></em></p>
                <br>
                <h1 class="center-align flow-text orange-text">Scientific Psychology Begins!</h1>
                <br><br>
              </p>
              <div class="col s6 m4 right">
                <img class="materialboxed" data-caption="Wilhelm Wundt (1832-1920)" width="100%" src="img/wundt.jpg">
              </div>
              <p class="flow-text">
                <a href="https://en.wikipedia.org/wiki/Wilhelm_Wundt" target="_blank">Wilhelm Wundt</a> lived from 1832 to 1920. He started the School of Structuralism. <b>Structuralism</b> was the view that tried to uncover the basic structures which make up the mind and thought. He is considered the father of Structuralism. He started the first scientific laboratory in the world devoted to Psychology in Leipzig, Germany. That means that the scientific study of Psychology started with Wundt in 1879, which means the "science" of psychology will not be 200 years old until 2079. Wilhelm Wundt was the very first person to call himself a Psychologist in writing and therefore he is also considered the Father of Psychology. So, Wilhelm Wundt was the Father of Structuralism, Father of Psychology, and the founder of <b>Experimental Psychology</b> because he created the very first laboratory to study Psychology in a scientific setting. This also means that Psychology is still a very young science compared to the other sciences. We will discuss this concept in the Research unit.
                <br><br>
                Although Wundt studied thoughts in a scientific manner, he used <b>introspection</b> in his laboratory. Introspection can be defined as the examination or observation of one's own mental and emotional processes. This is a highly subjective procedure and is thus prone to much bias. It is not a reasonable scientific approach, but it is a good way to devise hypothesis that can then be put to a rigorous scientific examination.
              </p>
              <div class="col s6 m4">
                  <img class="materialboxed" data-caption="E. B. Titchener (1867 -1927)" width="100%" src="img/titchener.jpg">
              </div>
              <p class="flow-text">
                <a href="https://en.wikipedia.org/wiki/Edward_B._Titchener" target="_blank">Edward Titchener</a> (we will hear this name again) was one of Wundt's students. Titchener lived from 1867 to 1927. Titchener brought Structuralism to England while attending Oxford and later to the United States by translating Wundt’s writings from German to English. It is said he did a rather poor job of interpreting the German. However, he gave an English voice to the works of Wundt. After writing the translation he traveled to Germany and studied under Wundt where he received his Doctorate in Psychology. He was later an instructor at Cornell University and - yes - his brain is still there (in the year 2017).
                
              </p>
              <div class="col s6 m4 right">
                  <img class="materialboxed" data-caption="William James (1842-1910)" width="100%" src="img/james.jpg">
              </div>
              <p class="flow-text">
                  In the United States one of the most influential leaders of psychology was <a href="https://en.wikipedia.org/wiki/William_James" target="_blank">William James</a>. He was born in 1842 and died in 1910. He received his M.D. degree in June 1869 from Harvard University and spent the majority of his career teaching at Harvard. He started a student laboratory at Harvard the same year that Wundt began his experiments. He taught the very first experimental psychology course at Harvard in 1875. James was awarded the title Assistant Professor of Psychology at Harvard in 1876. <b>G. Stanley Hall, John Dewy</b> and <b>Edward Thorndike</b> were all students of James. We will see these names again in this course. James is considered by many to be the first true American Psychologist. One of his beliefs was that physical responses are the source of our emotions. It is kind of a strange idea that your physical response starts your emotions. Most of us think that our emotions create our physical responses (we will see this again in the emotion and motivation unit). He wrote the “Principals of Psychology” – a two volume set – which was published in 1890. It’s still considered to be a great treatise on Psychology. William James taught at Harvard in Massachusetts and is considered the first true American Psychologist. He is also considered the Father of <b>Functionalism</b>. He thought that rather than study the structures of the mind, we should consider the functions of the mind. Functionalists believe that mental processes could best be understood in terms of their adaptive purposes and functions. Adaptation was an idea espoused by Charles Darwin. Darwin’s “Origin of the species” was only 40 years old at this point. If you want to see more about <a href="http://webspace.ship.edu/cgboer/wundtjames.html" target="_blank">Wundt and James</a>, you can click on the link which will take you to a web site created by Dr. George Boeree to get more information about these two pioneers in Psychology. 
                  <br><br>
                  Now, the difference between Structuralism and Functionalism is sometimes a little hard to understand. So, let me give you an example: how would you as a person describe a train? Would you study it by its structure? Would you describe it this way? “There are 15,000 bolts and some pistons and there are x number of wheels linked together by axles and there is a car which links to the engine”. That’s the structure of the train. Or would you look at the function of the train, “Here is the engine, the engine is supposed to produce steam, and the steam pushes on the pistons to run the wheels. The engine drags the cars behind it to move people from one place to another”. That’s the function of the train. You would be considered either a Structuralist or a Functionalist depending on how you study the train. Both are acceptable methods and maybe both structure and function should be studied together. Just because you know there’s a bolt on the train, it doesn’t tell you how that bolt works when it’s functioning and just because you know the function of a specific huge piece of the puzzle doesn’t mean you know the structure of it. So, both are necessary. However, the Functionalists did not like the Structuralists and vice versa. They often cast aspersions on each other. Arguments are common in Psychology. We will see other strong disagreements between psychologists as we continue on this journey. 
              </p>
              <div class="col s6 m4 right">
                  <img class="materialboxed" data-caption="G. Stanley Hall  (1844-1924)" width="100%" src="img/hall.jpg">
              </div>
              <p class="flow-text">
                  Now let’s talk about <a href="https://en.wikipedia.org/wiki/G._Stanley_Hall" target="_blank">G. Stanley Hall</a> who was born in 1844 and died in 1924. He took one of the very first classes in Experimental Psychology taught at Harvard by William James. Hall was the very first person to receive a PhD in Psychology in the United States, from Harvard University in 1878. He then traveled to Germany to study under Wundt and returned to the United States to start the first American Research laboratory devoted to Psychology at John Hopkins University in 1883. Hall's lab was devote to research rather than teaching. So, although William James was considered the Father of Functionalism and the first true American Psychologist, It was G. Stanley Hall who started the first American Research laboratory devoted to the scientific study of Psychology. In 1887 he helped establish and was later named the first president of Clark University. Clark University – founded in 1887 - is the oldest all-graduate educational institution in the United States. By 1893 Clark University had awarded 11 of the 14 PhD's in psychology acquired in the United States. <em>It can also be considered the birth place of the modern day rocket since Robert Goddard (creator of the world's first liquid-fueled rocket) received his PHD in Physics from Clark University.</em> Hall is responsible for getting Sigmund Freud to travel with Carl Jung to the United States to give lectures at Clark University. In 1892, along with 30 other individuals interested in psychology, Hall founded the <b>American Psychological Association (APA)</b>, which is still the premier Psychological Association in the United States and now around the world. He was elected as its very first president. One of the perks of starting a society is that you get to be the first president. Hall is also considered the father of the study of <b>Child psychology and Educational Psychology</b>.
              </p>
              <div class="col s6 m4">
                  <img class="materialboxed" data-caption="Francis Sumner (1895-1954)" width="100%" src="img/sumner.jpg">
              </div>
              <p class="flow-text">
                  Another important psychologist we should discuss is <a href="https://en.wikipedia.org/wiki/Francis_Sumner" target="_blank">Francis Cecil Sumner</a>. He was born in 1895 and died in 1954. He graduated from Clark University (where Hall was president) in 1916. Hall mentored Sumner and they became close associates during his time at Clark University. Sumner graduated from Clark with a BA. in English. He later returned to Clark University to study race relations with the goal of understanding and eliminating racial bias in the administration of justice (still a topic dear to the hearts of many Americans in 2015). Before he could acquire his PhD he was drafted into the Army for WWI. In 1919 Sumner – with the help of G. Stanley Hall - returned to Clark University and in 1920 he became the first African American to acquire a PhD in psychology. He is considered the Father of Black American Psychology. However, most people are more familiar with <a href="https://en.wikipedia.org/wiki/Kenneth_and_Mamie_Clark" target="_blank">Kenneth and Mamie Clark</a>. 
                  <br><br>
                  Kenneth Clark was born in 1915 and died in the year 2005. Mamie was born in 1917 and died in 1983. Kenneth and Mamie Clark met and fell in love at Howard University where Francis Sumner was head of the psychology department. <em>Are you beginning to see the <b>networking</b> relationships here?</em> They both received their undergraduate degrees at Howard. They both earned their PhD's from Columbia University. Kenneth was the first African American to get a PhD at Columbia and Mamie was the second. Mamie’s master’s thesis was the beginning of the experiment that would influence the Supreme Court and drastically change society in the United States. Her experiments with children and dolls helped end segregation in the United States.
                  <br><br>
              </p>
              <div class="col s6 m4 right">
                  <img class="materialboxed" data-caption="Kenneth and Mamie Clark." width="100%" src="img/clarks.jpg">
              </div>
              <p class="flow-text">
                  The experiment used four dolls which were identical except for their color. The children in the experiment were between the ages of three and seven. To test children’s racial perceptions the children were asked to identify both the race of the dolls and which of the dolls they preferred. A majority of the children preferred the white doll and assigned positive characteristics to it. The Clarks concluded that prejudice, discrimination, and segregation created a feeling of inferiority among African-American children and damaged their self-esteem. Segregation - in and of itself - is discriminatory. We will come back to the discussion of prejudice and discrimination in the Social Psychology section of this text. Kenneth Clark was the first African American president of the American Psychological Association in 1970 and 1971. Understand that segregation was not just the separation of blacks and whites, women also suffered from segregation.
              </p>
              <div class="col s6 m4">
                  <img class="materialboxed" data-caption="Margaret Washburn (1871-1939)" width="100%" src="img/washburn.jpg">
              </div>
              <p class="flow-text">
                  So, let's discuss women in psychology. There are currently (as of 2017) more women acquiring PhD's in Psychology than men. Let’s talk about the first woman to get a PhD in Psychology. 
                  <a href="https://en.wikipedia.org/wiki/Margaret_Floy_Washburn" target="_blank">Margaret Washburn</a> was born in 1871 and died in 1939 and was the first woman with a PhD in Psychology. She got it from Cornell University in New York in 1894 (guess who was in charge of the department of Psychology at the time - Titchener). She shouldn’t have been the first woman to get a PhD in Psychology. <b>Mary Calkins</b> should have been the first woman to get a PHD but segregation of women kept her from her degree. 
              </p>
              <div class="col s6 m4">
                  <img class="materialboxed" data-caption="Mary Calkins (1863-1930)" width="100%" src="img/calkins.png">
              </div>
              <p class="flow-text">
                  <a href="https://en.wikipedia.org/wiki/Mary_Whiton_Calkins" target="_blank">Mary Calkins</a> was born in 1863 and died in 1930. Margaret and Mary lived in the same time frame; they’re only 8 years apart in age. Mary should have been the first woman in history to receive a PhD in Psychology, but she went to Harvard to get her education and Harvard refused to give her the degree because “They did not award PhD's to women”. It’s hard to imagine those times today, but segregation included women as well as African Americans and Jews and Asians and Catholics and the Irish - to name a few. 
                  <br><br>
                  At the time Harvard only gave doctorates to (White Anglo-Saxon Protestant middle to upper class) men. They offered her a PhD from their segregated all women “sister school”, which was Radcliffe College, and she refused. Radcliffe - also known as the Harvard "Annex" - allowed women to receive lectures from Harvard instructors. The Harvard professors were given extra money for spending (wasting) their time instructing women. However, she had taken all of her coursework at Harvard, and she had presented her dissertation defense in front of William James, - yes THAT William James - and James said that she had the best dissertation defense that he had ever heard. He raved about her abilities and told the Harvard administration that she should get her PhD from Harvard, but no, they refused. So, she never got her PhD and yet went on to become a very, very well-known Psychologist and the first woman president of the American Psychological Association! Egg on your face Harvard! At Wellesley college in Massachusetts, as an associate professor of psychology, she opened the first psychological laboratory at a women’s school and began conducting experiments in psychology.
              </p>
              <div class="col s6 m4 ">
                  <img class="materialboxed" data-caption="Inez Beverly Prosser (1897-1934)" width="100%" src="img/prosser.jpg">
              </div>
              <p class="flow-text">
                  <a href="https://en.wikipedia.org/wiki/Inez_Beverly_Prosser" target="_blank">Inez Beverly Prosser</a> was born in 1897 and died in 1934 and was the first African American Woman to receive a PhD in Psychology from the University of Cincinnati in 1933. She died in a car accident the next year. There’s a big time difference from the first woman who got her PhD in Psychology (1894) to the first African American Woman in 1933. Notice too that she didn’t get her degree from the University of Alabama. In 1933 an African American at a Southern University would have been unthinkable! The first African American to enroll at UAB was in 1963! Our society has changed dramatically since then, although some people desperately try to cling to the old ways. 
                  <br><br>
                  The second African American woman with a PhD in Psychology received in 1934 was <b><u><a href="https://en.wikipedia.org/wiki/Ruth_Winifred_Howard" target="_blank">Ruth Howard (1900 – 1997)</a></u></b>. She attended the University of Minnesota (again notice - not a southern school). She had a long and very rewarding career in psychology. 
              </p>
              <div class="col s6 m4 right">
                  <img class="materialboxed" data-caption="Ruth Howard (1900–1997)" width="100%" src="img/howard.jpg">
              </div>
              <p class="flow-text">
                To show you briefly that psychology was spreading throughout the world let's talk about some others who brought experimental psychology to their countries.
                <br><br>         
                <!-- TODO: FIX BROKEN LINK!   -->
                <a href="http://divulgacion.famaf.unc.edu.ar/?q=ameghino/pi%C3%B1ero-horacio-g" target="_blank">Horacio G. Piñero</a>, was born in Buenos Aires, Argentina on March 12, 1869. He received his MD in 1892. In 1896, Piñero traveled to Europe where he studied at the Pasteur Institute and later was appointed as a Professor at that Institution. At that time he also became interested in experimental psychology and connected with Wundt. In 1899, he returned to Argentina to teach classes in psychology at the National College. In 1901 he joined the faculty of the School of Philosophy at the University of Buenos Aires, where he created South America's first (some say the second) psychological laboratory and taught Argentina's first class in experimental psychology based on both Wundt's and Jame's methods. In 1903, he was invited to lecture in Paris at the Psychological Society, which shows the respect he engendered in psychological circles. In 1908 Piñero founded the Psychological Society of Buenos Aires which is now known as the Argentina Society in Psychology. Piñero was the first president of the society.               
              </p>
              <div class="col s6 m4">
                  <img class="materialboxed" data-caption="Bekhterev" width="100%" src="img/Bekhterev_by_Repin.jpg">
              </div>
              <p class="flow-text">
                  <a href="https://en.wikipedia.org/wiki/Vladimir_Bekhterev" target="_blank">Vladimir M Bekhterev</a> founded the first Russian psychological laboratory in Kazan in 1885 and in 1912 the Russian Psychological institute was opened. Lev Vygotsky (we will see that name again) studied at this institute. Bekhterev and Pavlov discovered and described the idea of classical conditioning at the same time. We will discuss Classical Conditioning in depth in the Lectures on Learning. Bekhterev and Pavlov traded barbs on numerous occasions. Bekhterev's method of studying classical conditioning used mild electrical stimulation to examine motor reflexes in people and he was able to demonstrate the existence of this reflex in humans. Pavlov studied dogs. Knowing that dogs can be conditioned was nice but proving that the conditioning existed in humans was essential. As a physician Bekhterev was called to examine Stalin one day in 1927. After the examination he commented to a colleague that he had "just examined a paranoid" subject. The day after that, Bekhterev suddenly died, causing speculation that he was poisoned by Stalin as revenge for the calling him paranoid. 
              </p>

              <div class="col s6 m4 right">
                  <img class="materialboxed" data-caption="Yūjirō Motora" width="100%" src="img/Yūjirō_Motora.jpg">
              </div>
              <p class="flow-text">
                  Stalin had Bekhterev's name and all of his works removed from Soviet textbooks giving more credence to the revenge theory. An American psychologists named Watson read Pavlov's work (not Bekhterev's). He translated, experimented and commented on Pavlov's studies. So, now Pavlov gets all the credit for discovering classical conditioning. This is why most people know the name Pavlov but have never heard of Bekhterev. https://en.wikipedia.org/wiki/Vladimir_Bekhterev.
                  <br><br>
                  Yujiro Motora was trained by G. Stanley Hall at John Hopkins. Yuijro brought experimental psychology, emphasizing psychophysics, to the Imperial University of Tokyo and established the first psychology laboratory in Japan in 1900. https://pl.wikipedia.org/wiki/Yūjirō_Motora.
                  <br><br>
                  <a href="https://en.wikipedia.org/wiki/Chen_Daqi" target="_blank">Chen Daqi</a> went to Japan to study at the Imperial University of Tokyo and returned to China to establish China's first psychological laboratory in 1917 https://en.wikipedia.org/wiki/Chen_Daqi.
              </p>
              <div class="col s6 m4">
                  <img class="materialboxed" data-caption="Chen Daqi" width="100%" src="img/Chen_Daqi.jpg">
              </div>
              <p class="flow-text">
                  Finally, <a href="https://en.wikipedia.org/wiki/Narendra_Nath_Sen_Gupta" target="_blank">Narendra Sengupta</a> Received his PhD from Harvard in 1915 and in that same year returned to India and established India's first psychological laboratory. He was the founding editor of the Indian Journal of Psychology. https://en.wikipedia.org/wiki/Narendra_Nath_Sen_Gupta. 
              </p>
              <div class="col s6 m4 right">
                  <img class="materialboxed" data-caption="Narendra Sengupta" width="100%" src="img/NN_Sengupta.jpg">
              </div>
              <p class="flow-text">
                  All of these connections show the importance of Networking. If YOU want a job, one of the best ways to find one is through friends who are working in your field of interest. You may only know drug dealers. Then there is a great chance that you will end up as a drug dealer. If you want a good job, prepare yourself through education and by making connections with people in the field.
                  <br><br>
                  Those are just some of the people who influenced the beginnings of psychology. If you want more information <a href=" https://en.wikipedia.org/wiki/Psychology" target="_blank">check out this page at Wikipedia</a>.
                  <br><br>
                  We will meet many other people who influenced modern psychology throughout this course. The study of the history of psychology can easily take an entire semester, but this is a short class, so let’s move on to the current Modern Perspectives of Psychology.
                  <br><br>
                  <b><u>Modern Psychology:</u></b>
                  <br><br>
                  We started off talking about Structuralism and Functionalism and today we don’t talk about them as "areas" of psychology any longer. Now we have different ways to describe Psychology. Today psychology is divided along the lines of the researcher's main interest. That gives us a lot of different modern views of Psychology. I will discuss the following areas: Biological, Evolutionary, Cognitive, Behavioral, Humanistic, Psychodynamic, and Sociocultural. There are other ways to divide psychology but I'll stick to these seven modern perspectives.
                  <br><br>
                  That's it for this lecture. <br>
                  I’m going to stop here. <br>
                  It's time for a break guys, and gals. <br>
                  Go get a cup of coffee. <br>
                  Go do something other than study <br>
                  (maybe play the hangman game). <br>
                  There is one crossword puzzle for the entire unit, <br>
                  but the hangman games are made for each slide.<br>
                  Take 15 minutes or so before you go to the next slide. <br>
                  Distributed learning is the best learning. <br>
                  We will continue the study of the History of Psychology in the next lecture. <br>
                  Talk with you then...
              </p>

            </div>
      
            <br><br>
      
          </div>
        </div>