        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">History (3)</p>
            <div class="row">
            


              <p class="flow-text" style="padding-top:18px;">
                  Welcome back to lecture number three on the History of Psychology.                  
                <br><br>
                We’re talking now about the different modern perspectives of Psychology (as opposed to the older Structuralists and Functionalists views).      
                <br>
                What do Psychologists do? Psychology is a very broad field with many specialties. However, we can group them into two major categories: 
                the <b>Experimental</b> Psychologists and the <b>Applied</b> Psychologists. Remember, the Applied Psychologists are the ones who have the fifth goal of helping to improve the human condition. I have included an appendix in this course with a listing of many different jobs that a person with a degree in psychology might pursue. I also included descriptions of some of the programs at some Universities and the cost of attending those schools in case you are interested. Let's talk about the experimental psychologists first and then move on to the applied.  
                <br><br>
                <b><u>Experimental Psychologists</u></b>
                <br>
                Experimental Psychologists are the Psychologists that conduct most of the research across the Psychological spectrum. That would be “experimental research”, so we call them Experimental Psychologists. Experimental psychology is thriving. These psychologists often will teach at colleges or universities. I, myself, am an Experimental Psychologist and I have taught psychology at the college level for over a dozen years. Many of these Experimental Psychologists could work in private industry doing their experiments or they can work conducting research for the government. Experimental Psychologists study individuals. They come up with ideas for experiments, perform the experiments, collect the results, and then they pass those results to the Applied Psychologists by publishing their results. We will look more at the experiments of psychology in the research lectures. Universities get “Grant Money” to perform experiments and this helps defer the costs of running a university. This extra income is very important to the University and we will see in a future lecture how this money shaped psychology's past. Each experimental psychologists will be interested in different aspects of the human mind. There are many ways to think about the mind and behavior. I will discuss a few here. We will look at the Biological, Behavioral, Evolutionary, Cognitive Psychodynamic, Humanistic and Sociocultural perspectives.                 
                </p>
                <div class="col s6 m4 right">
                    <img class="materialboxed" data-caption="Strands of DNA" width="100%" src="img/dna.jpg">
                </div>
                <div class="col s6 m4">
                    <img class="materialboxed" data-caption="Neurons of a Rat Brain" width="100%" src="img/Rat_Neuron.jpg">
                </div>
                <p class="flow-text">
                    First let’s look at the <b>Biological</b> perspective. This perspective has a subset called the behaviorist which we will talk about in a minute. If your interests lie in biology, but you happen to also be a psychologist then you would most likely be interested in the Biological perspective. I studied biology before I became a psychologists, so i am interested in the biological aspects of psychology. This view of psychology will be discussed in an entire chapter called Biopsychology. You may also see this view called psycho-biology. Either one is correct. If you are a biologist by nature then your NOUN is biology and your adjective is psychology. In the English language we place the adjective before the Noun. We are in a psychology class so the NOUN is Psychology and the adjective is biology – thus bio-psychology. The view that bio-psychologists take for human nature is that we are complex systems that respond to heredity and environmental influences.Our neural structure, our biochemistry, and our reflexes (the innate responses to external cues that we are born with) will determine our behavior. As a bio-psychologist your focus of study would be the nervous system, the endocrine systems, and the biological genetic disorders that occur in both humans and animals.   
                </p>
                <div class="colsetting.json s6 m4">
                    <img class="materialboxed" data-caption="John Watson" width="100%" src="img/John_Watson.jpg">
                </div>
                <p class="flow-text">
                    Next we look at <b>Behaviorism</b> which is a subset of the biological view. <b>John Watson</b> is the Father of Behaviorism. He was born in 1878 and died in 1958. We’ll talk more about him as well as 
                    <b>B.F. Skinner</b> in the Lectures on Learning. 

                    Skinner was the leading representative for the Behavioral approach (actually known as radical behaviorism) for many, many years. Skinner was born in 1904 and died in 1990. According to behaviorists, the view of human nature is that we respond to surroundings according to the principles of behavioral learning. So, what determines these behaviors? The environment in which one finds themselves produces cues and we respond to those stimulus cues. We respond in accordance to our history of rewards and punishments. There’s no merit given to inner mental processes within Behavioral Psychology. Behaviorists do not want to talk about what they cannot see and measure in a laboratory. Thinking is not viewable and therefore not measurable. 
                </p>
                <div class="col s6 m4 right">
                    <img class="materialboxed" data-caption="B.F. Skinner" width="100%" src="img/Skinner.jpg">
                </div>
                <p class="flow-text">
                    Thoughts are simply a response to a stimulus anyway. You cannot see a person thinking, therefore, we do not consider any thinking processes within Behavioral Psychology. Behaviorists want to study only what they can take into a laboratory and manipulate by viewing/measuring it. Some students want to know how we act if we do not think. It is very simple. Our behavior is based on one neural pathway. When we see a light that is on, the light “on” pathway in our brain is activated. We can make that happen at the same time as some behavior that occurs. Those two pathways in the brain connect to each other because they are activated at the same time. Once the connection is made we can turn on a light and the neural path for the behavior will also be activated. Since it is a simple neural pathway that produces the behavior, there is no need to say, “The light turned on so the animal ‘knows’ it is going to get fed”. It is simply a stimulus that activated specific neural pathways. The focus of study for the bio-psychologists is finding the “Laws” that connect our responses to the stimulus conditions in our environment. Behaviorists are looking for the formulas (or laws) that connect responses and stimuli in our environment.
                </p>
                <div class="col s6 m4">
                    <img class="materialboxed" data-caption="Darwin" width="100%" src="img/Darwin.jpg">
                </div>
                <p class="flow-text">
                    The next field is called the <b>Evolutionary</b> perspective. This has nothing to do with Creationism versus Evolution. That’s not what “evolutionary” means in this perspective. We know that we have been on this planet for at least 5776 years because we have a book (The Bible) that traces history back that far. In that time humans have changed. We are not the same as we were 5,000 years ago. So, for the evolutionary psychologists the view of human nature is that we’re adapted to deal with the problems of our ancient human environments. Our behavior is determined by the mechanisms that are inherited through natural selection. The focus of the studies in Evolutionary Psychology is the evolved behaviors that have been conferred on us through survival or through reproductive advantage. We will talk more about that as we go along in these lectures. At the moment however I would like to say that I have a major issue with the Evolutionary psychologists because as a scientist I need scientific evidence to support my theories. The evolutionists do not have to provide such evidence. They can’t. It’s not possible to put humans into a laboratory and watch them evolve. They have to infer that the evolution of viruses and bacteria is the same as Human evolution. Let me give you a case in point. Imagine that the world is billions of years old. Consider the idea that we evolved from a species that produced both humans and Gorillas. There is a big difference between Gorillas and Humans which is normally not shown in pictures. We walk on two legs and they, for the most part, walk on four. More importantly, Gorillas have hair that grows to a certain length and stops while the hair on human heads and on the face of men continues to grow very long. So, let me postulate that it is obvious why we walk on two legs. At some point our common ancestor had a genetic mutation that caused the hair on our heads to continue to grow. We had environmental pressure to stand up or we would trip over our hair and never get the woman to mate with and have babies nor could we escape from our predators. So that one mutation caused a break in the ancestry leading to biped humans. This meets the required evolutionary principles of natural selection and selective advantage with pressure from predators and reproduction. This is an excellent evolutionary theory, but it cannot be proven through any research. The evolutionary psychologists simply need anecdotal evidence to “prove” their hypothesis.
                </p>
                <div class="col s6 m4">
                    <img class="materialboxed" data-caption="Albert Ellis" width="100%" src="img/Ellis.jpg">
                </div>
                <p class="flow-text">
                    Let’s move on to the <b>Cognitive</b> approach to Psychology which talks about humans as
                    information-processing systems. We think! That is what “cognitive” means. We take
                    information into our brains, we think about it, we process the information, and we 
                    react because of our considerations. This is obviously in direct conflict with the
                    behaviorists who do not want to consider thinking. <b>Albert Ellis</b> and <b>Aaron Beck</b>
                </p>
                <div class="col s6 m4 right">
                    <img class="materialboxed" data-caption="Aaron Beck" width="100%" src="img/Aaron Beck.jpg">
                </div>
                <p class="flow-text">
                    were influential in developing cognitive approaches to psychological therapy. What determines our behavior, then? Our behavior is determined by our interpretations of the experiences that we have in life; by means of the fact that we remember and we think about those memories. The focus of study is therefore our mental processes, the way we think, including our sensation, our perceptions, our learning, our memory, and our languages. We will cover more of this in each of the sections on sensation and perception, memory and language. Interestingly enough, language determines a lot about a person because language can give us different meanings for different events. For instance: when most people look at snow, what do they see? They see - snow! That’s our name for that white stuff that falls on the ground. However, in Alaska, Eskimos have seven different words for snow, which can mean hard-packed snow, soft-packed snow, and yellow snow, never eat the yellow snow, and other types of snow (this is actually an urban myth, but it makes the point). A language with multiple methods of seeing the world gives its users a completely different view of that world through the way they describe it (or think about it). So language definitely has a way of changing our thinking process.
                </p>
                <div class="col s6 m4">
                    <img class="materialboxed" data-caption="Sigmund Freud" width="100%" src="img/freud.jpg">
                </div>
                <p class="flow-text">
                    We’ve already talked a little bit about The <b>Psychodynamic</b> approach. <b>Sigmund Freud</b>
                    (born 1856 and died 1939) is the Father of this perspective. 
                    It’s also called the <b>Psychoanalytic</b> approach. 
                    Let me take a side trip here and ask a question many students want me to answer. WHY? Why are there different names for the same thing? It would be easier to remember if there was only one name! My answer is always "stick out your index finger on your right hand". Besides an index finger, what is it called? It is the pointer finger, a digit, a phalanges and a few other names. That's the way science is. I am not trying to confuse you, but lots of objects have different names! Your car is also called an automobile. How about "are you wearing trousers or pants"? This is an issue with every science. Anyway - Getting back to Freud: According to the psychodynamic perspective we are irrational beings, driven by unconscious motives, needs, desires and conflicts. What determines our behavior is our unconscious needs, and conflicts, and repressed memories from what’s considered our early development. Experiences in our young childhood are what determine most of our behaviors. We will cover this idea in a number of lectures. The focus of the study for the Psychodynamic psychologists is abnormal behavior. They study abnormal behavior as a reflection of our unconscious motives. The applications of the theory are to psychotherapy for treating mental disorders. In other words they use what they learn about our early childhood to help treat those people with psychopathologies. We have an entire Unit on Psychopathology. Some students wonder why we still talk about Freud. His ides seem so dated! My answer is simple. Any theory which can be used to help people is useful. Freud's theory may seem outdated today, but using it we can still improve the human condition. We will study Freud's Psychosexual theory in a number of different Units.
                </p>
                <div class="col s6 m4 right">
                    <img class="materialboxed" data-caption="Abraham Maslow" width="100%" src="img/maslow.jpg">
                </div>
                <p class="flow-text">
                    Next we will consider the <b>Humanistic</b> approach which says that we have free will - but we act in
                    accordance with our self-concept. <b>Carl Rodgers</b> was born 1902 and died in 1987, 
                    and <b>Abraham Maslow</b>, most of you know ‘Maslow’s Hierarchy of Needs’, lived from 1908 to 1970. We will discuss these two men in more detail later in the lectures. These two men are the fathers of the Humanistic approach to Psychology. What determines our behavior according to Humanistic Psychologists? Your self-concept (how you feel about yourself), your perceptions of the world, interpersonal relationships, and your inner need for personal growth determines your behavior. The need for personal growth is a mechanism built into our systems. Much like the need to eat and drink, we have a need to improve. The focus of studies for the Humanistic Psychologist is life patterns, values, goals, self-actualizing of individuals, and again, its applications to psychotherapy. Consider this. We have free will but we act according to our self-concept. If I like a girl, I have the free will to ask her out. However, if her perceived attractiveness level is a 10 on the beauty scale and I consider myself a 4, I will not ask her out. Why, because as a matter of principle we do not go after what we consider “lost causes”. We know that “tens” do not go out with “fours”. I will not ask her out because I expect her to say no and I do not like rejection. Here is the problem, everyone around me SEES me as a “nine”. It is only my low self-concept that thinks I am a “four”. So, I have free will, but I act according to my self-concept. We will talk more about this in the Motivation and Social Psychology lectures. 
                </p>
                <div class="col s6 m4">
                    <img class="materialboxed" data-caption="Lev Vygotsky" width="100%" src="img/Vygotsky.jpg">
                </div>
                <p class="flow-text">
                    Finally, for this lecture, there’s <b>Social Psychology</b> which I will break into a
                    couple of distinct views. First there is the Sociocultural view of Psychology. <b>Lev Vygotsky</b> 
                    (remember him from an earlier page?) is probably the best known proponent of this view. However,
                    his work was lost until the 1980s because he was born and raised in Russia in the time of 
                    Stalin when science was not very well received. Stalin had a way of making people smarter than
                    himself – disappear. Lev Vygotsky was born in1896 and died of tuberculosis in 1934, at 37
                    years of age, a young man. Unfortunately, he was not around to expound and promulgate his 
                    theory around the world and the vast majority of his work went mostly untranslated and 
                    unknown until 1978 when a group of admiring American psychologists finally translated a 
                    compendium of his work in a book 
                    "<a href="https://www.amazon.com/Mind-Society-Development-Psychological-Processes/dp/0674576292" target="_blank">Mind in Society</a>". 
                    His work is now very well-known and
                    very well received in Developmental Psychology which we shall review more closely in the
                    Developmental Unit. 
                    It is a shame he never met Piaget (another person we will discuss in the Development Unit) 
                    because their collaboration would have taken Developmental Psychology much further
                    much faster. Another social psychological view is <b>Social Learning</b> which is given 
                    to us by <b>Albert Bandura</b> . We will study him and this view more in depth in the Learning Unit. 
                </p>
                <div class="col s6 m4 right">
                    <img class="materialboxed" data-caption="DATA_CAPTION_HERE" width="100%" src="img/Bandura.jpg">
                </div>
                <p class="flow-text">
                    So, the view of human nature according to the Social psychologists is that we are social animals, we live in society, and human behavior must be interpreted inside of the social context. Our behaviors are determined by our cultures, social norms, expectations, and social learning. The focus of study is the social interactions that we have with other people, cross-cultural differences, and the way that others influence us just by their presence or even the thought that they might be present. You change your view of your world and your behavior simply by having a camera pointed at you in a store. There may not be anything on the other end of that camera, but you think there might be, and so your behavior changes. They have an issue with the behaviorists because most laboratory experiments study one person at a time in a laboratory outside of their social environment. How good are the results of experiments that isolate us? We are social creatures! 
                    <br><br>
                    There are other areas of psychology but this is a general course and you don’t need to know all of the aspects of psychology. So let’s move on to the Applied Psychologists. 
                    <br><br>
                    That's it for this lecture.   <br>
                    I’m going to stop here. <br>
                    It's time for a break guys, and gals.<br>
                    Go get a cup of coffee. <br>
                    Go do something other than study <br>
                    (maybe play the hangman game). <br>
                    There is one crossword puzzle for the entire unit <br>
                    (the crossword here is for BOTH History and Research), <br>
                    but the hangman games are made for each slide.<br>
                    Take 15 minutes or so before you go to the next slide. <br>
                    Distributed learning is the best learning. <br>
                    We will continue the study of the History of Psychology in the next lecture.
                </p>
                



                
            </div>
      
            <br><br>
      
          </div>
        </div>