        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">History (1)</p>
            <div class="row">
              <div class="row">
                <div class="container">
                    
                    <paper-audio-player color="orange"
                                        src="audio/dont_let_me_get_me.mp3"
                                        title="Pink! - Don't let me get me">
                    </paper-audio-player>
                </div>

              </div>
              

              <p class="flow-text" style="padding-top:18px;">
                Pink - "Everyday I fight a war against the mirror. I can't take the person looking back at me, I'm a hazard to myself".   Welcome to my very first lecture for an Introduction to Psychology. Maybe Pink should introduce the section on pathologies instead of the entire book.  Yet, a large part of psychology is helping people with emotional issues.  This chapter deals with the history of psychology. An in-depth study of that subject could easily take up an entire semester or more. Instead, we will focus on a select group of events and people. My goal is to provide an understanding of the origins of the field and give insight into how the major concepts of psychology emerged over time. Obviously, we are not going to do a complete history of psychology. The same is true for every Unit in this lecture series.  
                <br><br>
                Watch one or both of the videos below before you continue: Discovering Psychology Series - "Past, Present and Promise" is a 28 minute video. The Crash course in Psychology video is less than 12 minutes long. I find that older students enjoy the Discovering Psychology video and the younger students like the Crash course videos.
                
              </p>
              <div class="row">
                  <div class="col s12 offset-s0 m6 offset-m3">
                      <a href="http://www.learner.org/series/discoveringpsychology/01/e01expand.html" target="_blank">
                          <img class="hoverable" width="100%" src="img/History_Icon.png">
                      </a>
                  </div>
              </div>
              <div class="video-container">
                  <iframe width="853" height="480" src="https://www.youtube.com/embed/vo4pMVb0R6M" frameborder="0" gesture="media" allowfullscreen></iframe>
              </div>
                
              <p class="flow-text">
                  First of all, let's be clear: psychology is not the only <a href="https://en.wikipedia.org/wiki/Social_science" target="_blank">“Social Science”</a>.   The disciplines of Social Science also make up part of the Arts curriculum at most universities. Your Associate of Art or Bachelor or Master of Art degree will include a lot of the social science classes. The Social Sciences often include Political Science, Economics, Psychology, Geography, History, Anthropology and Sociology. Some of these disciplines also study human behavior and mental processes. Let’s take a brief look at Sociology and Anthropology. Then I want to mention Psychiatry and talk a little about Psychoanalysis which isn’t as much a separate science as it is the way that many Psychiatrists deal with their patients. 
              </p>
              <div class="col s6 m4">
                <img class="materialboxed" data-caption="Asimov's Foundation Trilogy" width="100%" src="img/asimov.jpg">
              </div>
              <p class="flow-text" style="padding-top:18px;">
                  First let’s look at <b>Sociology</b> which is the study of groups of people. What is the difference between Sociology and Psychology? Psychology studies the individual person while Sociology studies groups of people. One part of psychology we will cover in these lectures is Social Psychology, which deals with the affects of social variables on the individual, but even there our emphasis in psychology is the individual. Sociology deals more with groups. There’s a great Science-Fiction trilogy called "The Foundation Series" by Isaac Asimov. The reason I bring this up is because there is a connection between this science fiction book and Sociology. In the book a Sociologists (psycho-historian) has developed a formula to predict how groups of people will behave. If politicians know all the variables, they can control society and continue to get elected and make people do whatever they want. In The Foundation Series, politicians control the formula, until an individual variable interferes with the formula. That individual variable is a rouge person in society. This person (called the mule) doesn’t go by the normal behaviors of the formula, he can influence people with his mind. The politicians have to kill that person in order to bring everybody back into line so that they can predict what’s going to happen, and stay in power. The reason I mention this book is because it contains a little bit of reality. There is a Sociologists (E.O. WIlson) who actually came up with a formula to predict how women will shop in groups. Whether you believe or not that the formula works or not isn’t the point. The point is that Sociologists (or Sociobiologists) are trying to find formulas to determine how people in groups will function together. Of course, taking that to its ultimate extreme, you get the Science-Fiction trilogy, The Foundation Series.      
              </p>
              <div class="col s6 m4 right">
                <img class="materialboxed" data-caption="Tel Aviv Israel Garbage mountain" width="100%" src="img/telAviv.jpg">
              </div>
              <p class="flow-text">
                Now let’s look at <b>Anthropology</b>, which is the study of cultures. We would usually consider Anthropologist as studying Ancient Greece, or Ancient Egypt, or the Mayans in South America. They would attempt to find out how and why ancient cultures built temples. Using Archeology they attempt to determine the social and cultural development of societies. I live near Mount Trashmore which is a city park located in Virginia Beach in the United States. The park takes its name from the fact that it was once a trash dump. When the dump was full, it was covered by dirt and made into a park. An Anthropologist can visit your local trash dump, where all the societies’ trash accumulates, and go through the trash to figure out how your culture works. Are items in the trash fairly new? Then the culture must have had a lot of money because they just threw out almost new items. Or perhaps the trash is full of a lot of used up items. Then the culture was going through a rough time financially and people kept what they purchased until the item was thoroughly used up. The picture I included here is a park in Israel that was made the same way that Mount Trashmore was made. I would not want to be the one digging through the trash, but Anthropologists can do so and study both ancient and modern cultures.  
              </p>
              <div class="col s6 m4 right">
                <img class="materialboxed" data-caption="Psychiatrists generally prescribe drugs" width="100%" src="img/drugs.jpg">
              </div>
              <p class="flow-text">
                  Now let’s talk about <b>Psychiatrists</b>, or Psychiatry. Psychiatrists and Psychologists are not the same, remember this, it’s important, and we’ll hear it over and over again in the lectures. Psychiatry is the Science of the mind, that’s practiced by medical doctors - people that have MDs. Psychologists have PhDs or PsyDs, not MDs. Do you know what PhD stand for? PhD stands for Philosophy Doctorate or Doctor of Philosophy. You would call a person with a PHD a doctor, but they are not a medical doctor. Someone with an MD is a Medical Doctor. Medical Doctors can prescribe drugs. Those with PHDs cannot prescribe drugs (unless they take specialized classes as we will see later). The “<b>patient</b>” model of psychiatry is very different from the “<b>client</b>” model of psychology. We will also talk about this in a later lecture. People do not always require drugs to fix issues of the mind, so we do not always need a medical doctor to prescribe drugs. However, in Spain, prior to the year 2004, the medical profession did not allow Psychologists to work without Psychiatrist supervision (MD supervision). So, if you wanted to practice Psychology in Spain, you had to have a Psychiatrist (an MD doctor) refer patients to you. You could not get patients unless the Psychiatrist sent them to you. Why would a medical doctor refer a patient to a psychologist when the medical doctor could do both therapy and prescribe drugs? As Psychiatrists they can “do it all” without any need for psychologists. Yet, not all issues require drugs. The Psychologists in Spain sued and won the right to see clients without the need for referral. Now people in Spain do not have to go to a medical doctor first to get an appointment with a psychologist. 
                <br><br>
                Many Psychiatrists, use Psychoanalysis and drugs as therapy techniques. There’s a big difference between the way Psychiatrists work and Psychologists work, and you will see this as we go through the lectures. Psychoanalysis isn’t really another field of study, it’s not another Science, it’s rather the method that’s used by some Psychologists and most Psychiatrists (medical doctors), to help their patients. Sigmund Freud invented psychoanalysis as his talking cure. In its most basic form the patient lays down on a couch and communicates with the therapist sitting behind them. As I already mentioned - remember, the word “patient” because a Psychiatrist will consider the person that they’re helping a “patient”, whereas a Psychologist considers them a “client”. There is a difference in the mindset of thinking about a person as a patient or as a client or customer. We will discuss this more through the lectures.  
                <br><br>
              </p>
              <div class="col s6 m4 right">
                <img class="materialboxed" data-caption="The Greek Symbol PSY" width="100%" src="img/psi.png">
              </div>
              <p class="flow-text">
                  So then, what is Psychology? The word "<b>Psychology</b>" can be broken into two parts (Psych and Ology).
                  The term OLOGY derives from both Greek and French meaning “field of study”. The word Psych derives from a Greek word 
                  meaning “breath of life”, “soul”, or “self”. Of course we cannot see the soul or study it in a laboratory. Today we
                  use the word “mind” instead of soul. The term Psych-ology was first used to mean the "study of the mind" in 
                  Christian Wolff's Psychologia Empirica in 1732. Remember, also, that we study more than the human mind. In 
                  Psychology we also study the animal mind as well. We will talk more about that in future lectures.
                  <b>Psychology is then the Science that studies behavior and mental processes of individuals.</b> Psychologists 
                  study <b><u>all</u></b> behaviors, not just the abnormal behaviors, which is the realm of Psychiatry. Psychiatrists study mostly
                  abnormal behavior, whereas, Psychologists study the normal <b>and</b> the abnormal. 
                  <br><br>
                  Try to keep an open mind about what is <b>abnormal</b>. Let me give you a great example of what is abnormal: Do you know anybody that is happy all the time? That is not normal! Most people are not happy all the time. Wouldn't you love to be happy all the time! That would be great! It’s a wonderful thing to be happy! Being happy all the time is very abnormal. So, abnormal behavior may not necessarily be a bad thing, it could be a good thing. Psychologists study good behaviors, bad behaviors, normal behaviors and abnormal behaviors.  
                  <br><br>
                  In psychology we study single individuals and then make predictions about the behaviors of all people. Now, that may sound strange to you, that I would study a specific individual and then by that one person’s behavior, make predictions about all people. But, by studying lots and lots and LOTS of individuals, we find out what normal behavior is, and we find out the variations in behavior as well. We will talk about the “Normal Distribution Curve” many times in these lectures.
              </p>
              <div class="col s6 m4 right">
                <img class="materialboxed" data-caption="The Normal Distribution Curve" width="100%" src="img/normalcurve.gif">
              </div>
              <p class="flow-text">
                  <b>Statistics</b> are used to determine the curve. The normal distribution curve defines what normal is by showing what falls within the first standard deviation. The Sixty-Eight Percent of behaviors that fall within the first standard deviation is the "normal" behavior. [You may not be interested in the math but I included statistics as an appendix to these lectures for those who are interested]. Since 68% is the majority of behaviors, anything within that 68% is considered “normal”. AGAIN, that does not mean that abnormal behaviors are “bad”. It simply means that they are rare. Only in specific cases (which we will define later) will we also consider them pathological. 
                  <br><br>
                  Even though we know we can take the data that we’ve determined from studying individuals and use it to help people, we also realize that every person is unique. When a person comes to our office to get help, we will use the research that we know exists. We have a starting point to help that individual, instead of having to start from scratch every time somebody comes into our office for treatment. We know there are variations among people, but our knowledge about large numbers of individuals gives us a starting point for dealing with each unique individual. At times an individual client does not respond to the normal treatment. We do not attempt to force the client to conform to the treatment that “always” works. Instead we find unique ways to help the individual who does not conform to what normally works. 
                  <br><br>
                  The <b>four main goals</b> of Psychology are to describe, explain, predict, and control behavior. There is a group of Psychologists called Applied Psychologists, which also try to improve the quality of life, so that may be considered a fifth goal for the Applied Psychologists. We will talk about the difference between Applied Psychologists and Experimental Psychologists later in these lectures. 
                  <br><br>
                  So then, if Psychology is the study of behavior and mental processes of individuals, we need to understand both behaviors and mental processes. <b>Behavior</b> is the actions by which an organism adjusts to its surroundings. You adjust every day to your surroundings. You put on warm coats and warm clothes when it’s cold outside. You put on less clothing when it’s warm outside.
                  <br><br>
                  Besides the behaviors, we also talk about <b>Mental Processes</b> or <b>thoughts</b>. We can't see thoughts occur, but we can see the results of thinking. People have self esteem, self worth, self efficacy issues. Some poor mental issues can come from disturbing thought processes. However, some psychologists (behaviorists) do not want to consider thoughts while others consider them exclusively (cognitive). We will see this later in the lecture too.
                  <br><br>
                  The Philosophical thought processes which include Psychology go back to ancient China. Around 2200 B.C., tests were given by the Chinese emperor to determine if his public officials were intelligent enough for government work. It would be really nice if we did that today, to find out if a person was truly intelligent enough to lead our Nation or our State in public office. We allow any idiot to run for public office. By the way, if you do not vote because "your vote does not count", you can bet you are also completely irrelevant. If you do not vote then the people running for office do not care about your needs or your desires or what you think. They will not try to meet your needs, because you are irrelevant to the vote count. The candidates have no reason to care about you AT-ALL. This is called a self-fulfilling prophesy. We will talk about that later. In any case, since intelligence testing is the realm of Psychology, we can say that the ancient Chinese were involved in intelligence testing (or a process of Psychology) over 4,000 years ago. 
                  <br><br>
                  We can trace some Philosophical thoughts that led to Psychology to the ancient Greeks. There is a great paper <a href="http://www.social-psychology.de/do/history_I.pdf" target="_blank">written by Dr. Boeree</a> on the ancient Greeks. They influenced western thought for many reasons. The Semites invented an alphabet more than one thousand nine hundred years before the birth of Jesus. Most writing was used for government purposes. So, scribes working for the government and the religious authorities were the only people who knew how to read and write. The Greeks allowed all (free) men to learn to read and write after having improved the alphabet they got from the Semites. The Greeks were also a sea fairing nation. The Greeks visited lots of other nations to trade. This means that instead of simple government and religious documents, they could write down all their thoughts on many manuscripts and send those manuscripts to other locations by ship. The spread of their knowledge was much faster than having to go to each location in-person to talk to people. Other philosophies were less well known because they only used word of mouth to spread their ideas. 
              </p>
              <div class="col s6 m4 right">
                <img class="materialboxed" data-caption="Greek Philosophers" width="100%" src="img/Greek-Philosophers-Aristotle-plato-socrates.jpg">
              </div>
              <p class="flow-text">
                  Nearly 2,500 years ago, <b>Socrates, Plato, and Aristotle</b>, considered the human mind or the human psyche when they were talking and writing, in their dissertations. In case you did not know, Socrates was a philosopher in the time of the Oracle at Delphi. The Oracle said that Socrates was the wisest man in Athens. He tended to agree because he was the only person aware of his own ignorance (which basically told all the officials they were stupid). He was considered a Gadfly (a person who upsets the status quo by posing upsetting or novel questions). He was eventually put to death by the government. None of his writings survived and we only know him through the writings of his contemporaries. One of his students was Plato. Plato learned enough to start his own school of thought and people came to Plato’s school. Plato's best student was Aristotle. When Aristotle ventured out on his own, he became a tutor to the King's son. The son's name was Alexander, later to be named "The Great". Yes THAT Alexander! That's how these people connect, over 2,500 years ago. 
                  <br><br>
                  Some of the things that they said in their writings was that “emotions distort thought”. Today we know that to be true. Somebody who is in love does not act normal. They just don’t think straight. So, we say “Oh, they’re in love. They’re acting weird because they’re in love.” It’s because they are highly emotional and emotions distort thought. If you’re a 5 foot 6, 130 pounds, skinny, non-muscular male, and you get upset in a bar with a person who is 5’10” and 240 pounds that’s all muscle, you might just want to walk away. But if you’re really, really angry, you don’t think straight, and you get into a fight with this person who is most probably going to do you grievous bodily harm. So, your emotions definitely distort your thinking process. 
                  <br><br>
                  Socrates, Plato, and Aristotle also said “perception is an interpretation of the world”. It is fascinating that they came up with this, because we know today that the brain takes in information, interprets it and our perception of the world is an interpretation of the input to the brain. So, what we perceive and what we sense are two different things. We will talk more about this in the Sensation and Perception lectures.  
                  <br><br>
                  Socrates, Plato, and Aristotle also said that emotions come from the heart and liver, and we know today that’s not true. When a really disgusting, horrible person dies we can give their heart (in a transplant) to a nice, wonderful person. That heart doesn’t transfer the ugly emotions. That wonderful and nice person stays wonderful and nice even though they got the heart or liver of the horrible disgusting person. So we know that emotions do not come from the heart and liver as they thought back in those days. Yes, they got some things right, and some things wrong. That’s the nature of science and reasoning. We will discuss this topic again in the “Science of psychology” lectures.
                  <br><br>
                  Here’s another one of their statements; “mental disorders are caused by too much bile”. I guess that means, if you have a mental disorder, you just need to throw up or be given an enema and you’ll be fine after removing some of the bile. Obviously that’s not true. There are lots of other statements that they made that we’ll study throughout our talks and you’ll see they had some things that were really interesting and close to the mark, and some that were way off the mark. It’s interesting that without the Science we have today, they actually hit right on the mark on some of their writings. 
                  <br><br>
                  That's it for this lecture. <br>
                  I’m going to stop here. <br>
                  It's time for a break guys, and gals. <br>
                  Go get a cup of coffee. <br>
                  Go do something other than study<br>
                  (maybe play the hangman game). <br>
                  There is a crossword for the entire unit, <br>
                  but the hangman is made for each slide.<br>
                  Take 15 minutes or so,<br>
                  then go to the next slide. <br>
                  Distributed learning is the best learning. <br>
                  We will continue the study of the <br>
                  History of Psychology in the next lecture.<br>
                  Talk with you then.
              </p>
            </div>
      
            <br><br>
      
          </div>

        </div>
