<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Social (8)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/dont_let_me_get_me.mp3"
                                title="Pink! - Don't let me get me">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            TEXT_GOES_HERE
        </p>
    </div>
    </div>
</div>