<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Social (4)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Ebony_Ivory.mp3"
                                title="Ebony and Ivory-Stevie Wonder and Sir Paul McCartney">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
            
            
            
                <span style="font-size: 12pt; line-height: 24px; font-family: Arial,sans-serif; font-weight: bold; font-style: italic;">“Do you know what we call opinion in the absence of evidence? We call it prejudice.” ― Michael Crichton --&gt; </span>
                <span style="font-family: Arial;">
                    <span class="flow-text">
                        <span class="flow-text">
                            <br>
                        </span>
                    </span>
                </span>
                <span class="flow-text">
                </span>
                <br>
                <span class="flow-text"></span>
                <span class="flow-text">Social psychologists have found that we tend to attribute other people’s actions and misfortunes to their personal traits,
                    rather than to situational forces. This helps explain why we often hear attributions of laziness or low intelligence
                    to the poor or homeless, rather than an externally imposed lack of opportunity. The man on the street may be a 57
                    year old intelligent and a hard working manager. The It also helps us understand why most commentators on the Kitty
                    Genovese murder attributed the inaction of the bystanders to defects in character, rather than to social influences.
                    <br>
                    <br> On the other side of the attributional coin, we find that people use the same process to explain successes as they
                    do failings. So, you may ascribe the success of a favorite singer, athlete, or family member to personal traits,
                    such as exceptional talent or intense motivation, extreme beauty or intelligence bordering on genius. In doing so,
                    we tend to ignore the effects of situational forces, such as the influence of family, coaches, a marketing blitz,
                    or just a simple "lucky break." (The definition of Luck - when opportunity meets preparedness) College Students are
                    preparing themselves for the opportunities of life. When they graduate and find a job, others will say they are “Just
                    lucky”. Those others have not worked hard to get a diploma and will assassinate the college graduates character by
                    ignoring and overlooking the work it took to prepare for that opportunity.
                    <br>
                    <br> Psychologists call this tendency to emphasize personal traits and ignore situational influences the
                    <span style="font-weight: bold;">Fundamental Attribution Error</span>. We see a "bum" on the street and think that he is lazy and unintelligent. He
                    may be a 57 year old manager. His company may have closed because of the recession and he lost his job. Who wants
                    to hire a 57 year old? He can't find a job, and loses his car. Without transportation he has a harder time finding
                    a job. He loses his house. He wants to work and has a sign "will work for food". We see him on the street and think,
                    lazy, stupid bum! The fundamental attribution error (FAE) is not always an "error," of course. If the causes really
                    are dispositional, the observer’s guess is correct. Maybe he is lazy and unintelligent. Of course we can jump to
                    a conclusion that someone who is successful only got there through their personal traits. Who is your favorite actor?
                    That's only because she's beautiful. We don't take into consideration all the work it took for that person to become
                    successful. So the FAE is best thought of as a bias rather than a mistake. However, the FAE is an error in the sense
                    that the observer ignores the possibility that there are legitimate, situational explanations for another's actions.
                    <br>
                    <strong>
                        <div class="video-container">
                            <iframe src="https://www.youtube.com/embed/7P0iP2Zm6a4?list=PL8dPuuaLjXtOPRKzVLY0jJY-uHOH9KVU6" width="853" height="480" frameborder="0" gesture="media" allowfullscreen=""></iframe>
                        </div>
                        <br> Prejudice and Discrimination</strong>
                    <br> While attribution can be positive or negative, p</span>
                <span class="flow-text">
                    <span class="flow-text">rejudice can also be negative or positive. When we have a positive prejudice toward a group it manifests itself as
                        an undue favorability toward that group. </span>
                </span>
                <span class="flow-text">
                    <span class="flow-text">Prejudice, as social psychologists use the term, is always negative. </span>
                    <span class="flow-text">
                        <span class="flow-text"></span>
                    </span>
                    Prejudice can make an employer discriminate against women (or men) for a management job. It can make a teacher expect poor
                    work from a minority student. In some places in the world, it can still lead to Genocide: the systematic extermination
                    of a group of people because of their racial or ethnic origins.
                    <strong>Prejudice </strong>is a negative attitude toward an individual based solely on his or her membership in a particular
                    group. Prejudice may be expressed as negative emotions (such as dislike or fear), negative attributions or stereotypes
                    that justify the attitude, and/or the attempt to avoid, control, dominate, or eliminate those in the target group.
                    We must distinguish prejudice from discrimination, a related concept. While prejudice is an attitude, discrimination
                    is a behavior. Discrimination is the negative action taken against an individual as a result of his or her group
                    membership. </span>
                <span class="flow-text">
                    <span class="flow-text">Sunni Muslims in the Islamic group known as Daesh will let a Christian or a Jew live as a third class citizen within
                        their dominion, but will immediately kill a Shia Muslim. In Rwanda Tutsi and Hutu tribal members will kill one
                        another on site. The Serbs have no desire to share any land with the Croats and would rather kill them all. In
                        each case one or both groups are prejudiced against the other leading to discriminatory genocidal behaviors.
                        </span>
                    <br>
                    <br> So, what are the causes of Prejudice?
                    <br>
                    <br>
                    <strong>CAUSES OF PREJUDICE</strong>
                    <br> It is likely that there are numerous causes that interact with each other to cause prejudices. Prejudice can exist
                    on a personal (individual) level and it can also occur at the level of society. All human societies have prejudice
                    in some form and to some degree within their social norms. Here are five different causes that psychologists have
                    explored.
                    <br>
                    <strong>Dissimilarity and Social Distance: </strong>
                    <br> If similarity breeds liking, then dissimilarity can breed contempt (disdain). So, if you wear baggy shorts and a
                    nose ring, it’s a good bet that some middle-aged people from a traditional background feel just a bit uncomfortable
                    around you. When you perceive someone to be unlike the people in your In-Group (the group with which you identify),
                    you mentally place that person at a greater
                    <strong>Social Distance</strong> (the perceived difference or similarity between yourself and another person) than members
                    of your own group. You are then less likely to view that individual as a social equal. This inequality easily translates
                    into inferiority, making it easier for you to treat members of an Out-Group (those outside the group with which you
                    identify) with contempt.
                    <br>
                    <strong>Economic Competition:</strong>
                    <br> Highly competitive situations, where one group wins economic benefits or jobs at the other group’s expense, can
                    easily fan the flames of prejudice. Old-growth forests are called old-growth because the forest has not been touched
                    for over 100 years. Some trees in old growth forests are over 3,000 years old. Could we replace such a tree if it
                    was cut - absolutely not. The oldest known tree is 5,066 years old. It is called a Great Basin bristle cone pine
                    in White Mountains, California. There are animals that have evolved to live in old growth environments and can not
                    survive in younger forests. If it is destroyed, it is not possible to recreate such an environment. If it is destroyed
                    the animals will die. However, those trees! Cut them down and what a haul! </span>
                <span class="flow-text">
                    <span class="flow-text">In the Pacific Northwest where environmentalists stop the loggers from cutting down the trees you can find plenty
                        of prejudicial attitudes among the timber workers and environmentalists. In another example </span>surveys have
                    found that prejudice against black Americans is greatest among white groups (poor whites) poised at an economic level
                    just above the black American income average. This is the group - poor whites - that would feel their jobs most threatened
                    by economic advancements of black Americans. I remember from my childhood when white people were upset that blacks
                    moved into the neighborhood. The economic loss bothered them. Specifically they were worried about losing sales value
                    in their homes.
                    <br>
                    <strong>Scapegoating: </strong>
                    <br> The Hebrew priests of old performed a ritual during Yom Kippur that symbolically transferred the sins of the people
                    of Israel to a goat – the scapegoat. The animal was then driven into the desert to carry its burden of guilt away
                    from the community. The term scapegoat has been applied in modern times to an innocent person or group who receives
                    blame when others feel threatened. The German economy was a war economy prior to World War One. When they lost the
                    war their economy collapsed. The German people used wheelbarrows full of money to buy one small loaf of bread. Their
                    life was miserable. The government was completely responsible, but it is very hard for the government to take any
                    blame. The blamed Jews instead. On a large and horrifying scale, German Jews served as scapegoats for the Nazis.
                    The term
                    <strong>Scapegoating </strong>refers to blaming an innocent person or innocent group for one’s own troubles.
                    <br>
                    <strong>Conformity to social Norms:</strong>
                    <br> The source of discrimination and prejudice that is perhaps the most pervasive is an unthinking tendency to maintain
                    conditions the way they are – even when those conditions involve unfair assumptions, prejudices, and customs. For
                    example, in many offices it is normal for secretaries to be female and executives to be male. Because of this norm,
                    it may be difficult for a woman to break into the executive ranks. It never occurs to the people in charge of hiring
                    to hire a woman for an executive position. If a man wanted to be a nurse instead of a doctor or a woman wanted to
                    be a doctor instead of a nurse, it was difficult to get the position. There is an old story about a father and his
                    son on a fishing trip. On the way back, they were in a bad car accident. They both needed significant surgery to
                    save their lives. The surgeon walked into the operating room looked at the boy and said, "I can't operate on this
                    child. He's my son!". How can that be? The boy's father is in the other operating room! Are you stumped? It's because
                    social norms are so strong it is almost impossible to consider that the boy's mother is the surgeon!
                    <br>
                    <strong>Media Stereotypes:</strong>
                    <br> The images used to depict groups of people in film, in print, and on television may reflect and reinforce prejudicial
                    social norms. For instance: in the early days of TV and Radio the Amos and Andy show portrayed two black men who
                    were hard working and easily tricked out of their money. They were gullible and always getting into trouble. On the
                    Jack Benny show the "Rochester" character was a comedic role. African Americans on TV and Radio were portrayed as
                    dimwitted, slow, subservient and docile perpetuating a myth that many whites held. </span>
                <span class="flow-text">
                    <span class="flow-text">If you did not know anyone who was black, then your idea of what they were like was shaped by this portrayal</span>
                    <span class="flow-text">
                        <span class="flow-text">.
                        </span>
                    </span>
                </span>
                <span class="flow-text">
                    <span class="flow-text">
                        <span class="flow-text">
                            <span class="flow-text"></span>
                        </span>
                    </span> If you met a person with dark skin who had their own opinion they would seem out of the norm </span>
                <span class="flow-text">
                    <span class="flow-text">
                        This would upset your understanding of the world as you know it. Then the </span>Black Power movement gained
                    media attention which showed that African Americans were strong, organized and had their own opinions. Media distortions
                    still occur, of course, but they are more subtle. Prime time features three times as many male as female characters,
                    but the 2010 census showed there are more females in the United States than males. Most people on TV and the movies
                    are shown in professional and managerial positions, even though two-thirds of the U.S. work force is employed in
                    blue collar and service jobs. The proportion of nonwhites and older persons who appear on TV is also much smaller
                    than in the general population. </span>
                <span class="flow-text">
                    <span class="flow-text">Your perception of the world is distorted by the media.</span>
                    Misunderstandings are created and prejudice easier to develop when your norms are distorted from reality.
                    <br>
                    <br>
                    <strong>COMBATING PREJUDICE</strong>
                    <br> During the civil rights struggles of the 1950s and 1960s, educators expressed a belief that prejudice could be overcome
                    through a gradual process of information campaigns and education. Let's tell people to stop being prejudice and they
                    will. Right! This idea didn't work out. Why? Prejudiced people (like everyone else) usually avoid information that
                    conflicts with their view of the world. We don’t like cognitive dissonance. If my favorite TV show is interupted
                    by a commercial that tells me I should not smoke, I turn off the sound. If my favorite magazine starts to include
                    ads that conflict with my ideas, I cancel the subscription. So, how can one attack the prejudices of people who do
                    not want to listen to another viewpoint? Research in social psychology suggests several possibilities.
                    <br>
                    <strong>New Role Models:</strong>
                    <br> Tiger Woods, Connie Chung, and many others serve as role models in prestigious jobs and leadership positions where
                    few of their race or gender have appeared before. In 1997 Tiger Woods became the first African American to win the
                    Masters. Before then an African American child who wanted to be a golfer would be told it was not possible to be
                    at the top of the game. Connie Chung wanted to be a news anchor. You can imagine her mother telling her - "Look at
                    the TV. Look at the news anchors. They are all WASP and MEN! You are a woman and Chinese!" She did not let that stop
                    her. She became the first woman at CBS to co-anchor a major network's national news broadcast. Certainly having such
                    role models must encourage people in these groups who might never have considered such careers. They break the “norm”
                    of behavior and offer an alternative. Role models prevent prejudice as much as they cure it.
                    <br>
                    <strong>Common Goals:</strong>
                    <br> When two rival groups are faced with a common enemy or life threatening problem, they will come together to solve
                    the problem. In such cases friendships and understanding are fostered. When the groups are faced with future issues
                    of the same magnitude, they begin to develop an understanding and acceptance that lasts beyond the solution to the
                    problem. It was me against my sisters, but me and my sisters against the world! We will discuss a specific research
                    project that used this method in their research on prejudice later in this lecture.
                    <br>
                    <strong>Equal Status Contact:</strong>
                    <br> Encouraging news comes from studies of integrated public housing (where the economic threat of lowered property
                    values is not an issue) that suggest when people are placed together under conditions of equal status, where neither
                    wields power over the other, the chances of developing understanding increases. If you don't own your house, then
                    there is no threat of losing value in the home when someone "differnt" moves in beside yours. When you live next
                    to someone you hear their arguments with their spouse, just like your own. You hear the problems they have with their
                    children, just like yours. You see each other in the local stores purchasing the same kinds of foods. You have the
                    same issues with your cars. You learn they aren't very different from yourself.
                    <br>
                    <strong>Legislation:</strong>
                    <br> During the past half century, the United States has adopted laws abolishing racial discrimination. The consequences
                    were sometimes unhappy, even violent, but prejudice and discrimination have gradually diminished (although they have
                    not been eliminated). Evidence for this shift comes from polls showing that, in the 1940s, fewer than 30% of white
                    Americans favored desegregation. That percentage has steadily climbed to well above 90% today. Just like the Equal
                    Status Contact, because these changes in public opinion were not part of a carefully controlled experiment, we cannot
                    say that the data prove that legislation has caused peoples’ prejudices to diminish. Nevertheless, we can argue that
                    the increased number of white Americans favoring desegregation is exactly what one might predict from cognitive dissonance
                    theory: When the law requires people to act in a less discriminatory fashion, people have to justify their new behavior
                    by softening their prejudicial attitudes.
                    <br>
                    <br> Social influence was at work in Milgram’s obedience studies, where subjects obeyed orders to deliver apparently
                    lethal shocks to a stranger. Likewise, the social situation provoked aggression in the Stanford prison study, where
                    ordinary students acting as guards behaved with brutality toward fellow students in the role of prisoners. Still
                    other research has shown that aggressive behavior can be induced by situations that create prejudice, conformity,
                    frustration, threat, or wounded pride. So, let;s talk about Aggression?
                    <br>
                    <br>
                    <strong>Aggression</strong>
                    <br> We commonly use the word aggression in many ways. We say a person is assertive or competitive when they are addicted
                    to playing sports and we mean aggressive. When a person is Forward or Risk-taking such as when purchasing large amounts
                    of stocks when the market is depressed we call then aggressive. When we meet dominant, powerful or angry people we
                    call them aggressive. Social psychologists define
                    <strong>aggression </strong>as the intent to do harm to another. However, it is hard to measure intention. It is what makes
                    court proceedings difficult. The Jury needs to be convinced that a perp intended to do the crime or they might let
                    the person off. So why don’t we just say "Doing harm to others?" Harming someone without intent is not aggression.
                    However, intending to do harm whether the harm was actualized or not is aggressive thinking, and so we define intent
                    as part of aggression.
                    <br> Aggression comes in two types: Hostile aggression and Instrumental aggression.
                    <strong>Hostile </strong>aggression is anger based with a goal to injure the person with which you are angry. It is direct
                    (in your face) aggression.
                    <strong>Instrumental</strong>
                    <strong>aggression
                    </strong>is an indirect (behind-the-back) aggression. With indirect aggression you may hurt someone or something
                    as a means to hurting the person with which you are angry. I may be angry with you and you may be much bigger and
                    stronger than I am, but you have a little sister or a bicycle that I can hurt to get at you behind your back. This
                    instrumental aggression is perfected by high school girls. They tend to use it much more often than boys. My birthday
                    is coming up and I sent an invitation to my party to everyone except Jill. I know Jill will find out I did not invite
                    her and hope it hurts her feelings.
                    <br>
                    <br> There are two theoretical perspectives on aggression. The first comes from the Psychodynamic perspective (Freud)
                    and the second from the sociobiological perspective (Lorenz). They are extremely similar.
                    <br> The first is Freud’s Psychodynamic Perspective which says that we all possess an innate drive for sex and aggression.
                    The two are inescapable. Society functions to inhibit the direct expression of these urges, so we seek socially acceptable
                    means to express them. For sex we use creativity - the arts - and for aggression we use sports or competition. It
                    is called the
                    <strong>Hydraulic Model</strong>
                    meaning that aggressive tendencies build up over time and must be released (through catharsis). We can achieve catharsis
                    vicariously by watching violence on TV (boxing, football, or a violent movie) to release pent-up aggressive energies.
                    Consider the water that builds up behind a dam. The more water there is, the more pressure there is on the dam. If
                    the water is not released it can damage the structure. This is why it is called a hydraulic model. Just like in the
                    dam, if the aggressive energy is not released, it can damage the individual.
                    <br>
                    <br> The second is Lorenz’ Sociobiological Perspective which says that aggression is innate, necessary and (here is the
                    difference) adaptive. Genes for aggression are passed along, whereas genes for passivity are not. </span>
                <span class="flow-text">
                    <span class="flow-text">Arousal is caused by our hormones. </span>The most aggressive cave men lived and their children were also aggressive.
                    Today situational or environmental cues interact with genetic predispositions. It is all </span>
                <span class="flow-text">
                    <span class="flow-text">hard wired, not learned</span>.
                    <br>
                    <br>
                    <strong>Research on Aggression </strong>
                    <br> What are the roots of prejudice, aggression, violence and terrorism and how do we combat them? We have seen evidence
                    that a leader can sway a group to behave in a manner inconsistent with the norm. We have seen that intolerance can
                    be averted through greater understanding. We have even seen that the power of the situation can help us understand
                    violence and terrorism. Experiments have been performed to create prejudicial violent combative behaviors within
                    groups. We reviewed one of those experiments (the Stanford Prison experiment). Other experiments have gone one step
                    further in an attempt to better understand the roots of social conflict and how to end the behavior once it is started.
                    <br>
                    <br>
                    <strong>The Robbers’ Cave: An Experiment in Conflict Part 1:</strong>
                    <br> Muzafer Sherif was a Turkish-American social psychologist who died in 1988. He developed an ingenious experiment.
                    The setting was a Boy Scout Camp known as the Robbers’ Cave. There, the experimenters, Muzafer and Carolyn Sherif
                    and their colleagues randomly assigned 11- and 12-year-old boys to two groups, dubbed the Eagles and the Rattlers.
                    The experiment called for conditions similar to those at many other summer camps for boys. There were days filled
                    with competitive games and activities. The experimenters hoped that competition would create conflict between the
                    two groups, but they didn’t leave it at that. Initially, the Eagles and Rattlers were kept apart, allowing within-group
                    activities to build group cohesiveness (solidarity, loyalty, and a sense of group membership). Later the experimenters
                    brought the two groups together for competitions, such as tug-of-war and football. These were not games where everyone
                    who competed got a trophy. If you won the game you got a trophy otherwise you were the LOSER!! Prizes for the winners
                    heightened the competitive atmosphere. The final straw was a "party" at which the experimenters arranged to have
                    the Eagles arrive an hour early. Half the food was mouthwatering, and half was deliberately unappealing. As you might
                    expect, when the Rattlers arrived they found that the Eagles had devoured the more desirable food. This led to name
                    calling and scuffling, which culminated in a food fight.
                    <br>
                </span>
                <span class="flow-text">
                    <strong>
                        <span class="flow-text">The Robbers’ Cave: An Experiment in Conflict Part 2:</span>
                    </strong>
                    <br> With a rancorous atmosphere well established, Sherif and his colleagues tried various tactics for promoting cooperation
                    between the groups. What did help to reduce tension and rivalry was to contrive situations in which the groups had
                    to cooperate in order to serve their own interests. First the experimenters called a halt to the competitive games.
                    Then, they assembled the boys to inform them of a "problem" that had developed with the camp’s vital water line.
                    Both groups agreed to search the line for the trouble spot, which they did together harmoniously. To serve its own
                    needs, each group had to cooperate with the "enemy." And, as dissonance theory would predict, hostility changed to
                    friendliness. The change in behavior led to a change in attitude. The attitude change resulted from a need to justify
                    the altered behavior. It took several such crises to break down the hostile barriers between the two groups and to
                    build a sense of mutual interdependence, a working relationship based on shared goals. But, in the end, the groups
                    actively sought opportunities to mingle with each other, and friendships developed between members of the Eagles
                    and Rattlers. One group even used its own money to buy treats for members of the other group – a pro social behavior.
                    <br>
                    <br>
                    <strong>Pro Social Behavior </strong>
                    <br> It is a commentary on our society that we have names for a massive negative event (Crisis, Catastrophe, Calamity,
                    Devastation, etc..) but not a single one for a massive positive event (if you discount “miracle”). At least Psychologists
                    define positive behavior although few study it. We call it pro-social behavior.
                    <strong>Pro-social Behavior </strong>is any action intended to benefit another person or group. It is positive, constructive,
                    helpful behavior. It can be done with the expectation of reward. We can consider it the opposite of antisocial behavior.
                    Pro-social behaviors are carried out with the goal of helping other people rather than hurting them. There is one
                    special type of pro-social behavior where the animal does not consider its own safety. We call this behavior Altruism.
                    <br>
                    <br>
                    <strong>Altruism</strong>
                    <br> The definition of
                    <strong>Altruism</strong> is any action intended solely to benefit another and thus not to gain external or internal reward.
                    It is unselfish positive regard for the welfare of others. It is a pro-social behavior that a person carries out
                    without considering his or her own safety or interests. We might call Sister Teresa and the Dali Lama altruistic
                    humans. Many times when a person is altruistic we call them Heroes or Heroines. Although when asked, a hero or heroine
                    will usually say they did not think about jumping into the burning house to save the baby and it was a stupid thing
                    to do.
                    <br> So the definition for a heroic act might be one that is done:
                    <br>
                </span>
                <ol>
                    <li>
                        <span class="flow-text">on the spur of the moment</span>
                    </li>
                    <li>
                        <span class="flow-text">without thinking </span>
                    </li>
                    <li>
                        <span class="flow-text">placing the individual in great peril and </span>
                    </li>
                    <li>
                        <span class="flow-text">in which the person miraculously survives. </span>
                    </li>
                </ol>
                <span class="flow-text">Not a very complimentary definition for a heroine, but then we don't really want people praising heroin do we?
                    <br>
                    <br> In Evolutionary Biology Altruism is used to define the behavior of animals that risk their lives for the family
                    or group unit. In evolutionary biology, an organism is said to behave altruistically when its behavior benefits other
                    organisms, at a cost to itself. The costs and benefits are measured in terms of reproductive fitness, or expected
                    number of offspring. So by behaving altruistically, an organism reduces the number of offspring it is likely to produce
                    itself, but boosts the number that other organisms are likely to produce. This biological notion of altruism is not
                    identical to the everyday concept. In everyday parlance, an action would only be called ‘altruistic’ if it was done
                    with the conscious intention of helping another. But in the biological sense there is no such requirement. We don’t
                    give conscious algorithmic thinking to our animal friends.
                    <br>
                    <br> Vervet monkeys give alarm calls to warn fellow monkeys of the presence of predators. One sound means that there
                    are predators on the ground. When they hear this sound they all climb up the trees. A different sound means there
                    is a predator in the air and all the monkeys go down the trees. </span>
                <span class="flow-text">
                    <span class="flow-text">Psychologists attribute this behavior to genetics rather than thought. </span>You can record these sounds and go
                    someone far away, where the monkeys have never interacted. You can play the different sounds and get the monkeys
                    to go up and down the trees. They never learned the "language". They are born with this activity built into them.
                    When a monkey sees a wolf it makes the "land" predator noise and in so doing so it draws attention to itself. It
                    gives the rest of its group a chance to survive. However, it draws attention to itself by making the noise and is
                    the most likely target of the predator. In sociobiological terms, the monkey has a decreased personal and reproductive
                    fitness. Ground hogs live in colonies. Each family has its own hole. when an animal sees a fox or other predator,
                    it makes a noise and all the ground hogs in the colony go into their respective holes. The one that gave the warning
                    saved lots of the others from death, but it became the focus of the predator. It has a higher chance of getting hurt
                    or killed. Its reproductive fitness is decreased. In social insect colonies (ants, wasps, bees and termites) the
                    workers are all sterile. They devote their whole lives to caring for the queen. They construct and protect the nest,
                    forage for food, and tend the young. Such behavior is maximally altruistic. Sterile workers obviously do not leave
                    any offspring of their own -- so they have a personal fitness of zero -- but their actions greatly assist the reproductive
                    efforts of their species.
                    <br>
                    <br> So we end this study of Social Psychology on a positive note!
                    <br> I hope you will perform pro-social and altruistic behaviors to increase your species chance of survival.
                    <br>
                    <br>
                </span>
            </div>
        </p>
    </div>
    </div>
</div>