<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Social (2)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Brick_in_wall.mp3"
                                title="Another Brick In The Wall - Pink Floyd">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
                
            
                <span class="flow-text">“To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment.” ― Ralph
                    Waldo Emerson </span>
                <span class="flow-text">
                    <span class="flow-text">
                        <span class="flow-text">
                            <br>
                        </span>
                    </span>
                </span>
                <span class="flow-text">
                    <br>
                </span>
                <span class="flow-text">The tendency to mimic other people due to the effect of social pressure is called the
                    <span style="font-weight: bold;">
                    chameleon effect
                    </span>. People’s moods, clothing styles, and leisure activities can all be molded by social pressure. I do not golf,
                    but if I join a corporation and the boss golfs and those who get promotions seem to go golfing with him, I will learn
                    to golf! I garden as a leisure activity, but if my colleagues like to attend baseball games, I will give up some
                    of my gardening to join in. These are minor changes in my behavior. A major change for me would be hunting. I say
                    that I would not go hunting with colleagues because I do not believe in killing animals, unless I am starving. Hunting
                    is a personal subjective choice, but there are objective right and wrong issues in life such as “do not kill a fellow
                    human”. Can social influence be strong enough to make people follow a group norm that is clearly and objectively
                    wrong? This is the issue of
                    <span style="font-weight: bold;">conformity</span>.
                    <br>
                    <br> Can we create a situation that can make a person conform to an objectively wrong judgement? For example: could the
                    power of a situation prove stronger than the evidence of one's own eyes? Can I get you to give an answer you know
                    in your heart is wrong.
                    <strong>Solomon Asch
                    </strong> set out to answer just such a question with a group rigged to make subjects think that their eyes were
                    deceiving them. In Asch’s study, male college students were told they would be participating in a study of visual
                    perception. They were shown cards with three lines of differing lengths and asked to indicate which of the three
                    lines was the same length as a separate standard line. The problem was simple: The lines were different enough so
                    that mistakes were rare when the subjects were responding alone. But in a group of seven to nine students, where
                    the others had been coached to give the wrong answers, everything changed.
                    <br> Compare the line on the left with the other three lines using only your eyes (no rulers etc...).
                    <br> Which is the same?
                    <div class="images">
                        <div style="border: 0px solid white; padding: 10px; float: left; width: 290px; font-family: Arial;">
                            <div>
                                <img id="aschLines" alt="Comparison lines" src="img/Asch_lines.png" style="width:270px;">
                                <br> Hover over the picture to see the answer.
                                <br>
                            </div>
                        </div>
                    </div>
                    <br> A group of subjects were trained how to give answers and then were paired with one other person who had no idea
                    what was happening. The subject of the experiment gave his answer last. The trained group gave the same correct answer
                    on the first three trials. Then the first person to respond on the fourth trial reported an obviously incorrect judgment.
                    He reported that two obviously unequal lines were of equal length. Each and every other person reported the same
                    thing. All the members of the group but the remaining one (the only real subject in the experiment) had unanimously
                    agreed on an objectively incorrect answer. The subject then had to decide whether to go along with everyone else’s
                    view of the situation and conform, or remain independent, standing by the evidence of his own eyes. This group pressure
                    was imposed on 12 of the 18 trials. What did he and others in his position finally do?
                    <br>
                    <br> As you might expect, subjects showed signs of disbelief and discomfort when faced with a majority who saw the world
                    so differently from the way they did. But the group pressure usually prevailed. Three quarters (75%) of the subjects
                    conformed to the false judgment of the group one or more times, while only one-fourth remained completely independent
                    on all trials. In various related studies, between 50 and 80% of the subjects conformed with the majority’s false
                    estimate at least once and a third of the subjects yielded to the majority’s wrong judgments on half or more of the
                    critical trials. Social psychologists call this the
                    <strong>Asch effect</strong>: the influence of a group majority on the judgments of an individual. The Asch effect has become
                    the classic illustration of
                    <strong>conformity </strong>– the tendency for people to adopt the behavior and opinions presented by other group members.
                    By the way – it WAS the Right bar ("C") not the one in the middle ("B") that matched. Did you have a moment where
                    you questioned yourself? Did you want to write me an email telling me I was wrong, but then you decided it wasn't
                    worth the effort?
                    <br>
                    <br> GROUP CHARACTERISTICS THAT PRODUCE CONFORMITY
                    <br> In further experiments, Asch identified three factors that influence whether a person will yield to group pressure:
                    (1) the size of the majority (2) the presence of-a partner who dissented from the majority, and (3) the size of the
                    discrepancy between the correct answer and the majority’s position. He found that subjects tended to conform with
                    a unanimous majority of as few as three people, but not if they faced only one or two. Numerous studies have revealed
                    additional factors that influence conformity. (These experiments have included both female and male subjects.)
                    <br> Specifically, a person is likely to conform under the following circumstances:
                    <br>
                </span>
                <ol>
                    <li>
                        <span class="flow-text">When a judgment task is difficult or ambiguous, complex or confusing. For example: if a jury trial is very complex
                            you are more likely to go along with the majority.</span>
                    </li>
                    <li>
                        <span class="flow-text">When the group members are perceived as especially competent. For example: if you are an English Major and all
                            the others in the group are math majors and the problem is a math problem, you are more likely to conform.</span>
                    </li>
                    <li>
                        <span class="flow-text">When responses are given publicly (like raising your hand) rather than privately or anonymously. For example:
                            when juries and boards of directors vote on issues by raising their hands or saying "Aye or Nay" you are
                            more likely to conform.</span>
                    </li>
                    <li>
                        <span class="flow-text">When the group majority is unanimous: Once that unanimity is broken, the rate of conformity drops dramatically.
                            The person that breaks the unanimity does not have to agree with you. If there are four options and 9 say
                            answer "A" and one person says answer "B", you are more likely to give the answer you think is correct, even
                            if it isn't "A" or "B".</span>
                    </li>
                </ol>
                <span class="flow-text">
                    <span style="font-weight: bold;">Obedience </span>can be considered a type of conformity to authority. </span>
                <span class="flow-text">
                    <span class="flow-text">
                        <span style="font-weight: bold;"> Stanley Milgram </span>performed an experiment that showed that a willingness to follow brutal, and even potentially
                        lethal, orders is not confined to a few extreme personalities or deranged individuals. </span> Philip Zimbardo
                    was a high school classmate of Stanley Milgram in 1950. Stanley Milgram was a student of Solomon Asch. This experiment
                    by Milgram and the Zimbardo Prison Experiment were center to a debate on ethics and morality in experimentation placing
                    the two experimenters in the center of one of the biggest controversies in psychology (how do we assure the safety
                    of the subjects in experiments).
                    <br>
                    <br>
                    <span style="font-weight: bold;">MILGRAM’S OBEDIENCE EXPERIMENT</span>
                    <br> The volunteers thought that they were participating in a scientific study of memory and learning. Specifically,
                    the experimenter told them that the purpose of the experiment was to discover how learning and memory could be improved
                    through the proper balance of reward and punishment. Right away there is a problem. The teachers were given a shock
                    generator to punish errors, but were never shown any means of rewards. I have trouble believing these people didn't
                    pick up on this issue. They were also paid to be a part of the experiment, which gave them incentive to complete
                    the experiment. Cast in the role of "teacher," was a volunteer subject who was instructed to punish memory errors
                    made by another person (actually a confederate of the experimenter) playing the role of "learner." </span>
                <span class="flow-text">
                    <span class="flow-text">The learner was a pleasant, mild- mannered man, about 50 years old (an accomplished actor). </span>When the learner
                    accepted the role - he said, "Well I have a heart condition, but ... OK". To administer punishment, the teacher was
                    told to throw a switch that would deliver an electric shock to the learner each time the learner made an error. Moreover,
                    the teacher was told to increase the level of shock by a fixed amount for every new error. The Teacher also had a
                    hand in strapping the learner to a chair and applying the electrodes to the "learner", so they knew the "learner"
                    could not leave without help.
                    <br>
                    <br> Overseeing the whole procedure was a white-coated "experimenter". This authority figure presented the rules, arranged
                    for the assignment of roles (by a rigged drawing of lots), and ordered the teachers to do their job whenever they
                    hesitated or dissented. The real question driving the experiment was this:
                    <strong>How far would subjects go before they defied the authority figure by refusing to obey</strong>?
                    <br>
                    <br>
                </span>
                <span class="flow-text">
                    <span class="flow-text">The dependent variable was the subject’s response, measured by the shock level the subject was willing to deliver.
                        The level of shock could be clearly seen on a "shock generator" that featured a row of 30 switches that apparently
                        could deliver shocks in 15-volt steps up to whopping 450 volts. </span>At 75 volts, the script called for the
                    learner to moan and grunt; at 150 volts he would demand to be released from the experiment. At 180 volts he would
                    cry out that he could not stand the pain any longer. The plan then called for the learner’s protests to increase
                    with increasing shock levels. For any subjects still delivering punishment at the 300-volt level, the learner would
                    shout that he would no longer take part in the experiment and must be freed. He would also whimper about his heart
                    condition and refuse to reply any further. Refusal to reply was considered an incorrect answer which required a shock.
                    As you might imagine, this situation was stressful. If the teacher hesitated or protested about delivering the required
                    shock at any level, the experimenter interrupted, stating that the experiment "
                    <span style="font-weight: bold;">must continue
                    </span>" and asking the teacher to "
                    <span style="font-weight: bold;">please continue
                    </span>." The experiment ended only when the shock level reached the 450-volt maximum – or when the teacher refused
                    to obey.
                    <br>
                </span>
                <br>
                <span class="flow-text">
                    <span class="flow-text">
                        Many psychologists were asked to comment on the experiment before it began. They agreed that only a small percentage of people
                        would go all the way to the worst shock value. </span>
                    However, the majority of subjects obeyed the authority figure fully! Nearly two-thirds (66%) delivered the maximum 450 volts
                    to the learner. No subject who got within five switches of the end refused to go all the way. By then their resistance
                    was broken; they had resolved their own conflicts and just tried to get it over with as quickly as possible. These
                    were not sadistic people who obeyed happily. Most dissented verbally, even though they continued to deliver shocks.
                    They protested loudly to the experimenter, but the experimenter responded with stern commands: "You have no other
                    choice, you must go on." Even when there was only silence from the learner’s room, the teacher was ordered to keep
                    shocking him more and more strongly, all the way up to the button that was marked "Danger: Severe Shock XXX (450
                    volts)." Most subjects obeyed. Even when there was silence from the learner, the teacher was instructed to shock
                    the learner. He had a heart condition. He could be dead!
                    <br>
                    <br> Of course, no shocks were ever delivered to the learner. The "victim" of the "shocks" was an accomplished actor
                    who congenially chatted with his "teacher" after the experiment and assured him (
                    <strong>Debriefed
                    </strong>him) he was fine and had never felt any shocks at all.
                    <strong>Informed consent</strong> is given before the experiment.) The controversy about Milgram’s research concerns the
                    ethics of inflicting potential mental harm on the teachers. The teachers could have had nervous breakdowns thinking
                    they were significantly hurting another human being.
                    <strong>Independent Review Boards</strong>
                    (IRBs) will review proposals for experiments today and determine if the experiment should proceeded as written or should
                    be modify to fit the ethical and moral standards of society. Remember that the ethics and morals of society change
                    with each society.
                    <br>
                    <br> In all, Milgram tested more than 1,000 subjects. From the many variations Milgram conducted on his original study,
                    we can conclude that subjects tended to be obedient under the following conditions:
                    <br>
                </span>
                <ol>
                    <li>
                        <span class="flow-text">When a peer modeled obedience by complying with the authority figure’s commands – subjects are more obedient
                            – </span>
                    </li>
                    <li>
                        <span class="flow-text">When the victim is remote from the subject and could not be seen or heard – subjects are more obedient – </span>
                    </li>
                    <li>
                        <span class="flow-text">When the teacher is under direct surveillance of the authority figure so that the teacher is aware of the authority’s
                            presence – more obedient – </span>
                    </li>
                    <li>
                        <span class="flow-text">When a subject acted as an intermediary bystander– merely "assisting" the one who was delivering the shock, rather
                            than actually throwing the switches – more obedient – </span>
                    </li>
                    <li>
                        <span class="flow-text">When the authority figure had higher relative status than the subject, as when the subject was a student and
                            the experimenter was billed as "professor" or "doctor“ – more obedient. </span>
                    </li>
                </ol>
                <span class="flow-text">I will make a statement here that will shock you, but I will follow it up to clarify. No German soldier every directly
                    killed a Jewish prisoner in the gas chambers at the Aschwitz concentration camp. The Commandant told a lower ranking
                    soldier to find a prisoner and make that prisoner throw the switch. This is exactly what Milgram found in his experiments.
                    Soldiers were more likely to follow orders to have someone killed if the orders came from a more powerful person
                    and they did not have to throw the switch themselves, because they were simply "assisting" the one who threw the
                    switch! </span>
                <span class="flow-text">
                    <span class="flow-text">The German Soldiers are absolutely culpable for the deaths of the prisoners, but they did not throw the switches.</span>
                    <br> Personality tests administered to the Milgram's subjects did not reveal any traits that differentiated those who
                    obeyed from those who refused. They also did not identify any psychological disturbance or abnormality in the obedient
                    punishers. These findings enable us to rule out personality as a variable in obedient behavior. And what about gender?
                    Milgram found that women were just as obedient as the men. I joke and tell my students that women were even more
                    likely to throw the switches all the way if it was a man getting shocked. It's good for a laugh, but isn't true.
                    <br>
                    <br> Obedience is not simply defined by following an authority figure. As useful citizens we should be obedient to society’s
                    expectations of us. There are societal norms that we are expected to follow, but there are times where our social
                    obedience fails us. We'll talk about that in the next lecture!
                    <br>
                </span>
                <span class="flow-text">
                    <br> That's it for this lecture.
                    <br> I’m going to stop here. It's time for a break guys, and gals. Go get a cup of coffee.
                    <br> Go do something other than study (maybe play the hangman game).
                    <br> There is one crossword puzzle for the entire unit,
                    <br> but the hangman games are made for each slide.
                    <br> Take 15 minutes or so before you go to the next slide.
                    <br> Distributed learning is the best learning.
                    <br> We will continue the study of the Biopsychology in the next lecture.
                    <br>
                </span>Talk with you then.
                <br>
            </div>
        </p>
    </div>
    </div>
</div>