<div class="section no-pad-bot" id="index-banner">

    <div class="container">
    <p class="flow-text center orange-text responsive-header">Social (1)</p>
    <div class="row">
        <div class="row">
        <div class="container">
            <paper-audio-player color="orange"
                                src="audio/Downtown.mp3"
                                title="Downtown - Petula Clark">
            </paper-audio-player>
        </div>
        </div>
        <p class="flow-text" style="padding-top:18px;">
            <div class="flow-text">
            
            
                <span class="flow-text">
                    <span style="font-weight: bold; font-style: italic;">Psychology keeps trying to vindicate human nature. History keeps undermining the effort. ~Mason Cooley - City Aphorisms,
                        Fifth Selection, 1988</span>
                </span>
                <span class="flow-text">
                    <span class="flow-text">
                        <span class="flow-text">
                            <br>
                        </span>
                    </span>
                </span>
                <span class="flow-text">
                </span>
                <br>
                <span class="flow-text">
                    In this presentation we will look at the following issues in Social Psychology.&nbsp;
                    <br> • Behavior related to society and situations
                    <br> • Group decision-making
                    <br> • Obedience
                    <br> • Authority
                    <br> • Bystanders
                    <br> • Interpersonal attraction
                    <br> • Attitudes and attitude change
                    <br> • Prejudice and stereotyping
                    <br> • Aggression and Altruism
                    <br>
                </span>
                <br>
                <span class="flow-text">Before you start reading watch
                    <span class="flow-text">
                        <span class="flow-text">
                            <span class="flow-text"> one or both of the videos below before you continue:
                                <br> Discovering Psychology Series - "The Behaving Brain" is a 28 minute video.
                                <br> The Crash course in Psychology video that is less than 12 minutes.
                                <br> I find that older students enjoy the Discovering Psychology video and the younger students like the
                                Crash course videos.
                                <br>
                            </span>
                        </span>
                    </span>
                  
                    <div class="row">
                        <div class="col s12 offset-s0 m6 offset-m3">
                            <a href="http://www.learner.org/series/discoveringpsychology/19/e19expand.html" target="_blank">
                                <img class="hoverable" width="100%" src="img/Social_img.png">
                            </a>
                        </div>
                    </div>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/h6HLDV0T5Q8?list=PL8dPuuaLjXtOPRKzVLY0jJY-uHOH9KVU6" width="853" height="480" frameborder="0" gesture="media" allowfullscreen=""></iframe>
                    </div>
                </span>
                <span class="flow-text">
                    <span class="flow-text">How do we define Social Psychology? Gordon Allport described it this way: “Social Psychology is the study of the
                        thoughts, feelings, and behavior of individuals as shaped by the actual, imagined, or implied presence of others.”
                        Imagined or implied have powerful influences. If there is a camera in the room, and the red light is on, you
                        think someone may be watching and you change your behavior accordingly. Many books describe Social Psychology
                        as the branch of psychology that studies the effects of social variables and cognition on individual behavior
                        and social interactions.</span>When we talk about behavior as it relates to society we are saying that the social
                    situation affects our behavior.
                    <br>
                    <br> Social psychologists believe that, even when the situation is a familiar one, such as a college classroom, the primary
                    determinant of individual behavior is the social situation in which that behavior occurs. The situation is so powerful
                    that it can sometimes dominate our personalities and override our past history of learning, values, morals and beliefs.
                    We will discuss how our social roles, competition, and the presence of other people can influence how we behave.
                    We will usually change our behaviors to agree with the social situation. When we find ourselves in situations where
                    we are not certain how to behave we take cues about how to behave from behavior of others. Many times those people
                    are also lost!
                    <br>
                    <br>
                    <strong>Kurt Lewin</strong> (1890–1947) is considered by many to be the Father of Social Psychology. One of his experiments
                    in 1939 tested the influence of leadership style on the behavior on three groups of children. One leader was permissive
                    another was authoritarian and the last was authoritative. The leaders interacted with each group of children performing
                    arts and crafts projects. Researchers observed the behavior of the children. Dr. Lewin was interested in the total
                    control and influence the Nazi party had over the German people. The leadership styles certainly influenced the behavior
                    of the children. In the
                    <strong>authoritarian
                    </strong>(autocratic) style, the leader makes all the decisions without consulting anyone. In management these people
                    are usually known as the "micro-manager". This method caused the most level of discontent among the children. They
                    were also more violent under this type of leadership. This style might work when it is important for fast decisions
                    without the need for input from others. It might also be useful when others do not possess the skills or motivation
                    <strong>. </strong> With this type of leader people may be less creative and less motivated to perform. The children in Lewin's
                    experiment worked hard, but only when the leader was present. There were more aggressive and hostile than the children
                    in the working under the other leadership styles. In the
                    <strong>authoritative </strong>(democratic) style the leader involves others in the decision-making. The final decision is
                    made by the leader but there are attempts to reach a consensus in the group. P</span>
                <span class="flow-text">
                    <span class="flow-text">eople feel more wanted as a result of the added responsibility and the fact that their opinions matter. This in turn
                        should promote a higher level of motivation. However, with more people involved, decisions might take longer
                        to implement. This might be okay when things can take time but can become an issue when a decision must be made
                        in a hurry. </span>The children under this style showed more controlled play, had the most originality in their
                    work and showed the most motivation. The
                    <strong>permissive
                    </strong>(laissez-faire) style minimizes the leader's involvement in decision-making. Laissez-faire works best when
                    people are capable and motivated in making their own decisions, and where there is no requirement for central coordination.
                    The children in Lewin's permissive group worked the least and did work of the poorest quality. There behavior was
                    also much more chaotic.
                    <br>
                    <br> Lewin's experiment showed that the personality of the children was not the contributing factor for their behavior
                    but the leadership style.
                    <strong>Walter Mischel</strong> (1930 - ) published a paper and started a debate in psychology we call the person-situation
                    controversy.
                    <strong> Situationism </strong>is a view in social psychology that believes that environmental conditions influence people’s
                    behavior as much or more than their personal dispositions do. For Example: If you know me well then you can recognize
                    me by how I walk. My gait is very stylized. However, if I am in water, I change my gait. I walk differently in water
                    than I do in the air. As soon as I get out of the water, I return to my normal pattern of walking. The situation
                    changed my behavior. This carries over into personal traits as well. If a person is afraid of skydiving, can we claim
                    that the person is a fearful person? That same person may be an Arachnologist (a person who collects spiders), or
                    a Herpetologists (a person who collects snakes). Many people are afraid of both spiders and snakes, but this person
                    works with them all day long. Is the person a fearful person, or are they fearful in certain situations and brave
                    in others? Is it right to label the person fearful because of one situation? We will discuss experiments in this
                    lecture that show the power of the situation. Most psychologists consider the interplay of the person and the situation
                    and label this view “
                    <span style="font-weight: bold;">interactionism</span>”.
                    <br>
                    <br> We all have a reasonable expectation of how people will behave in particular situations. Most people are able to
                    evaluate the social circumstances in which they find themselves and fit their behavior to the demands of the situation.
                    Some people cannot do this and do not fit into social situations well. Those with Asperger’s syndrome (now part of
                    Autism Spectrum Disorder) come to mind. The behaviors most people decide to express can be based on two factors:
                    the Social Roles they play and the Social Norms of the group they are joining.
                    <br>
                    <br> Whether you are at a concert, a department meeting, or a pizza parlor, you will see that people operate by different
                    rules, depending on their social roles. A Social Role is one of several socially defined patterns of behavior that
                    are expected of persons in a given setting or group. In high school we expect the “popular girls” to behave a specific
                    way which will be different from the “emos”, “nerds”, “jocks” or “geeks”. The roles you assume may result from your
                    interests, abilities, and goals – or they may be imposed on you by the group or by cultural, economic, or even biological
                    conditions beyond your control. A schizophrenic has a biological condition which is not under their control. Their
                    social role will be determined by their pathology. Social roles prescribe your behavior but in many cases they are
                    arbitrary and even demeaning.
                    <br>
                    <br> Watch: LikeAGirl
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/XjJQBjWYDTs" width="853" height="480" frameborder="0" gesture="media" allowfullscreen=""></iframe>
                    </div>
                    <br> What would happen if normal college students were given specific and nontraditional roles to play?
                    <br> In 1971 Dr.
                    <span style="font-weight: bold;">Phillip Zimbardo</span>
                    (1933 - ) performed an experiment to determine what social roles do to behavior. The Stanford Prison Experiment cast students
                    at Stanford University as guards and prisoners giving them totally different social roles than that of “student”.
                    Random assignment decided the new roles as guards or prisoners, and these roles created status and power differences
                    that came out in the prison situation. No one taught the participants to play their roles. However, Dr. Zimbardo
                    did coach the guards by telling them not to let the prisoners gain control or power. He acted like a prison warden.
                    I hope you see this as a way to introduce BIAS into the experiment. A double blind control procedure was not used
                    in this experiment. We have seen this before when Piaget did studies on his own children.
                    <br>
                    <br> Aside from Zimbardo’s interference the guards were given no training. Have any of you been a guard in a prison?
                    Do you think they go to work without any training? Of course not! Prison guards have a great deal of training before
                    they go to work on the first day. If you do not know how to behave as a guard, how do you decide what behaviors to
                    perform? You take examples from your life. What examples do we have? We have Movies! Unfortunately, the norms of
                    behavior of guards in movies are rather brutal (not seen in the best light). Each student called upon scripts about
                    the roles they were assigned. A
                    <strong>Script </strong>involves a person’s knowledge about the sequence of events and actions that are expected of a particular
                    social role. The scripts these students were able to access from their experiences were of guards from the movies.
                    Those scripts do not include socially acceptable behaviors.
                    <br>
                    <br> In addition to specific social roles, groups develop many "unwritten rules" for the ways that members should act.
                    These “
                    <span style="font-weight: bold;">Social Norms</span>” are a group’s expectations regarding what scripts are appropriate and acceptable for its members’
                    attitudes and behaviors. Social norms can be broad guidelines, such as ideas about which political or religious attitudes
                    are considered acceptable. Social norms can also be very specific. You may have been told to chew with your mouth
                    closed or take your hat off inside a building or hold a door open for a lady. Pink is for girls and blue is for boys.
                    Soldiers have very specific patterns of behavior for how they march and salute. In the Stanford prison experiment,
                    the guards quickly developed norms for abusive behavior.
                    <br>
                    <br> Watch: The Prison Experiment:

                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/3XN2X72jrFk" width="853" height="480" frameborder="0" gesture="media" allowfullscreen=""></iframe>
                    </div>
                    <br> There were 5 psychologists involved in the study. One of them (Prescott) was away when the experiment began and
                    returned on the fifth day of the 2 week experiment. By then a third of the guard had fallen into violent behavior
                    patterns. One of the prisoners had already been released due to a nervous breakdown. She was appalled! Why couldn’t
                    the others see how bad this had gotten? They were too involved in the experiment! They became adapted to the hour
                    by hour deterioration of behavior. Prescott cancelled the experiment on the 6th day of a two week experiment. When
                    Zimbardo published the data, he said he felt that the experiment should never be performed again. However, people
                    in England felt it was Zimbardo's fault for being involved in the experiment as a “warden” and because of his instructions
                    to the guards. They thought they could do better. They videoed the entire experiment to create a reality TV show
                    called “The experiment”. On day six of the study the prisoners rioted and became the guards putting the guards in
                    prison. Two days later the experiment was canceled! The situational similarity between the two was a leader with
                    an aggressive personality. As Dr. Zimbardo states, “It is not a rotten apple that spoils the bunch, but the barrel
                    in which they find themselves”. He never suspected that he was part of the rotten barrel.
                    <br>
                    <br> When a person joins a new group, such as a work group or a group of friends, there is always an adjustment period
                    during which the individual tries to discover how best to fit in. If you have ever had to change schools because
                    your parents moved, you went through this experience. Military children are very familiar with this because they
                    move every three years. Sometimes those moves are to different countries where the cultural norms are very different.
                    Adjustment to a group typically involves discovering its social norms. Individuals experience this adjustment in
                    two ways: by noticing the uniformities (conformity) in certain behaviors and by observing the negative consequences
                    when someone violates a social norm. If a popular girls moves to a new school, she finds the popular girl group at
                    the new school. Suppose all the girls in this group have Gucci hand bags. However, if someone in the group does not
                    have a Gucci, what happens? She sees the consequences of violating the norm. Then she thinks, “can I join this group
                    without a Gucci and put up with the retaliations or should I buy a Gucci?”
                    <br>
                    <br> Sammy Davis Jr. sung the theme song for a TV police show called Beretta! The theme song was “Don’t do it”. One line
                    in the song was “Don’t do the crime if you can’t do the time!” The problem with that statement is that it is a choice!
                    If you can do the time go ahead and do the crime! We need to know what the consequences are in order to make that
                    decision. On television the "Dukes of hazard" wrecked their car every single week and there were no repercussions.
                    The next week they were fine and their car was fine. It was as if there were no side effects to the irresponsible
                    behavior. Ted Turner (creator of CNN) wanted to purchase the Dukes of hazard and show the repercussions. When they
                    crashed their car, they would be without a car for a while as it was fixed. They had to work to make the money to
                    fix it. They were in the hospital with broken bones that hurt! Children need to see the consequences of actions on
                    TV and those consequences should be real!
                    <br>
                    <em>
                        <strong style="text-decoration: underline;">
                            <br>
                        </strong>
                    </em>
                </span>
                <span class="flow-text">
                    That's it for this lecture.
                    <br> I’m going to stop here. It's time for a break guys, and gals. Go get a cup of coffee.
                    <br> Go do something other than study (maybe play the hangman game).
                    <br> There is one crossword puzzle for the entire unit,
                    <br> but the hangman games are made for each slide.
                    <br> Take 15 minutes or so before you go to the next slide.
                    <br> Distributed learning is the best learning.
                    <br> We will continue the study of the Biopsychology in the next lecture.
                    <br>
                </span>Talk with you then.
                <br>
                <br>
            </div>
        </p>
    </div>
    </div>
</div>