        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">The Science of Psychology (4)</p>
            <div class="row">
          
              <p class="flow-text" style="padding-top:18px;">
                  <span class="flow-text">Welcome! Let's continue with this fourth and final discussion of the Science behind Psychology.
                      <br> We just finished discussing the Confirmation Bias. &nbsp;</span>
                  <br>
                  <br> Next we will discuss
                  <strong>Observer bias</strong>. Some people see the world through rose colored glasses, and will not see the carnations in their
                  life.
                  <span>
                      <span class="Apple-converted-space">
                      </span>
                  </span>
                  <span> </span>Mistakes do happen and in instances of observer bias the mistakes can be due to either conscious or unconscious
                  prejudices.
                  <span class="Apple-converted-space"> </span>
                  <span>
                      As a young child you may have done this. Whisper a story into </span>a person's ear. Pass the story from person to
                  person and the story will change.
                  <span>
                      <span class="Apple-converted-space"> </span>
                  </span>
                  <span class="Apple-converted-space"></span>
                  <span> </span>This is a distortion of evidence due to personal motives and/or prior experience.
                  <span class="Apple-converted-space"> </span>
                  <span>Observer bias </span>may be due to faulty techniques, missing an abnormality, incorrect measurements or misinterpretation
                  of the data. There are two different varieties of Observer bias.
                  <span class="Apple-converted-space">
                  </span>
                  <span> </span>There is the
                  <span style="font-weight: bold;">
                      inter-observer </span> and the
                  <span style="font-weight: bold;">
                      intra-observer</span> variety. In the inter-observer variety, we record the amount which multiple observers vary
                  from one another when reporting the same material.
                  <span class="Apple-converted-space">
                  </span>
                  <span> </span>We have for instance, five people reporting on an accident, and we can get five different views!
                  <span class="Apple-converted-space">
                  </span>
                  <span> </span>So, the inter-observation variation is how different people see different things. Intra-observer bias describes
                  how one observer varies between statements when reporting more than once on the same material.
                  <span class="Apple-converted-space">
                  </span>
                  <span>
                  </span>There’s a joke that says “if you have two rabbis in a room, you already have five different views”.
                  <span>
                      <span class="Apple-converted-space">
                      </span>
                  </span>Intra-observation variation means that one observer can see two or more different things.
                  <span class="Apple-converted-space">
                  </span>
                  <span> </span>
                  <p class="MsoNormalCxSpMiddle">
                      <span class="flow-text">Researchers must also attempt to control
                          <span class="Apple-converted-space"> </span>
                          <b>Confounding</b>
                          <span class="Apple-converted-space"> </span>variables as biases. Confounding variables - as we have already seen - are events that are not taken into
                          consideration when the experiment is performed. This is easy to do.
                          <span class="Apple-converted-space">
                          </span>
                          <span> If </span> don’t know the variable exists or you don't consider the possible effects of the variable, how can
                          you control for it.
                          <span class="Apple-converted-space"></span>
                          <span></span>The outcome of the experiment may be the result of those variables that you didn’t think of. For instance,
                          if you are studying the health effects of a specific diet and some of your subjects are taking vitamins without
                          your knowing
                          <span class="Apple-converted-space">
                          </span>
                          <span class="GramE">it,</span>
                          <span class="Apple-converted-space">
                          </span>your results are going to be skewed.
                          <span>
                              <span class="Apple-converted-space">
                              </span>
                          </span>So, we have to be aware of the possibility of Confounding variables.
                          <br>
                          <br> As an example of a confounding variable: a mother was admitted to the hospital because her organs were failing.
                          She was placed in the IU and monitored, but no one could find anything wrong. She kept getting worse. One day
                          a nurse happened to be in the room while her daughter was visiting. The daughter gave her mother something and
                          the mother popped it in her mouth and swallowed it! "What was that?" "Just her vitamins." "Let me see the bottle.
                          This is a selenium supplement! How many of these did she take?" Well - the answer was an overdoes. The woman
                          had been taking too much selenium! The controlled diet that the hospital had her on was confounded by her relatives
                          making sure she took her daily overdose of selenium! They were not doing it purposefully, they had no idea that
                          too much selenium can kill you!
                          <br>
                          <div class="col s6 m4">
                              <img class="materialboxed" data-caption="" width="100%" src="img/Research_overdose.jpg">
                          </div>
                          <p class="flow-text">
                              As another example: the Titanic was supposed to be able to withstand a hit by an iceberg. We now know that there
                              was a fire in one of the coal bins next to the hull of the ship where it hit the iceberg. No one expected that
                              a fire would have degraded the metal near that part of the ship. Also, to get rid of the burning coal they placed
                              it in the boilers. This increased the amount of steam being fed to the engines which caused the engines to speed
                              up! The Titanic actually charged the iceberg. This was an unexpected "confounding" variable. When we create an
                              experiment we try very hard to predict all the variables that will affect the results. Sometimes, we get it wrong
                              and forget one - or more!
                          </p>
                      </span>
                  </p>
                  <div class="flow-text">
                      <div class="col s6 m4">
                          <img class="materialboxed" data-caption="" width="100%" src="img/Research_Titanic.jpg">
                      </div>
                      
                      <br> The way we control for all the Biases is through control groups. The control groups are used to separate normal
                      population from the experimental group. The
                      <span style="font-weight: bold;">experimental group
                      </span> receives a treatment. The
                      <span style="font-weight: bold;">control group
                      </span> receives no treatment. One specific control group is called a
                      <span style="font-weight: bold;">placebo control </span>
                      group that can
                      <span style="font-style: italic;"> think </span>
                      they are receiving the treatment. The placebo control group is included in most experimental designs. The placebo control
                      group is made up of people who are getting some kind of a
                      <span style="font-style: italic;">
                          bogus </span>treatment. They’re used to counter what we call a Placebo Effect. When a dependent variable changes
                      in the absence of a controlled independent variable, it’s called the
                      <span style="font-weight: bold;">Placebo Effect
                      </span>.
                      <br>
                      <br> If I give a
                      <span style="text-decoration: underline;">sugar pill</span>
                      (made to look and taste like a drug) to people with a cold, they have approximately a thirty-three percent chance of getting
                      better faster than people who are given no pill at all. All you did was give them a sugar pill.
                      <span>
                          <span class="Apple-converted-space">
                          </span>
                      </span>Some people get better just because they think they got the treatment.
                      <span class="Apple-converted-space"> </span>
                      <span>
                          How? Why? </span>When a person is stressed, their immune system is compromised (does not work as well). If they
                      think they are getting medicine, their stress levels decrease and their immune systems function better. Their cortisol
                      hormone levels drop because they are less stressed and their immune systems can now respond properly to heal them.
                      <span>
                          <br>
                          <br>
                          <span class="Apple-converted-space"> </span>
                      </span>Let's say you have a 300 people with colds. You give 100 of them a new cold medication (the treatment group). You
                      give 100 of them nothing at all (the control group). You give the last 100 a sugar pill (the placebo control group).
                      There are three groups. Sixty subjects in the treatment group get better faster than the 100 people with the same
                      cold that got no treatment at all (the control group). In the placebo control group (given the sugar pill) 33 subjects
                      got better faster. That changes your results. We have to say that 60 - 33 or 27 people got better because of the
                      medication, because you can’t count the thirty-three that would’ve gotten better anyway.
                      <span class="Apple-converted-space">
                      </span>
                      <span> W</span>e have to control for the "Placebo" effect by creating a group of people who get a "fake" treatment that
                      shouldn’t do anything.
                      <span class="Apple-converted-space">
                      </span>
                      <span> </span>It shouldn’t cause any kind of change, but it does! We can then adjust the results using the number of people
                      that change in the placebo group by removing that number form the actual experimental group to look at what the actual
                      population of change would’ve been based on our medicine that we’re giving them. This only works if the subjects
                      have no idea whether they are getting [the real treatment or the placebo (bogus) treatment].
                      <br>
                      <br> The Blind control experiment is one way to do this, and a double blind control experiment is another way to do this.
                      When an experimental subject does not know if he or she has been given the placebo or real treatment we call that
                      a
                      <span style="font-weight: bold;">Blind control
                      </span>.
                      <span class="Apple-converted-space"> </span>
                      <span>
                          However, </span>the experimenter knows which is which.
                      <span class="Apple-converted-space">
                      </span>
                      <span> </span>In a Blind control, the experimenter knows which subject got a treatment and which subject didn’t.
                      <span class="Apple-converted-space">
                      </span>
                      <span> </span>Well, we just talked about the Expectancy effect as a bias.
                      <span>
                          <span class="Apple-converted-space"> </span>
                      </span>So if the experimenter knows that one person is getting a treatment and the other one’s getting a sugar pill, then
                      the experimenter could treat the subjects differently.
                      <span class="Apple-converted-space">
                      </span>
                      <span> T</span>o be sure that the expectancy effect doesn’t occur, we go with a double-blind experiment. When both the experimental
                      subject
                      <span class="Apple-converted-space"> </span>
                      <b>and</b>
                      <span class="Apple-converted-space"> </span>the experimenter do not know if the subject has been given the placebo or the real treatment it is called
                      a
                      <span style="font-weight: bold;">Double Blind Placebo Control Experiment</span>.
                      <span class="Apple-converted-space">
                      </span>
                      <span> </span>Somebody takes all the placebos and labels them “A”, and labels all the actual treatment drug “B”.
                      <span>
                          <span class="Apple-converted-space"> </span>
                      </span>All we know as the experimenter, is this is “A”, and this is “B”.
                      <span class="Apple-converted-space">
                      </span>
                      <span> </span>One subject is getting “A”, and another is getting “B”. Both "A" and "B" look alike and taste alike. I don’t
                      know if “A” is the real drug treatment or if “B” is the treatment.
                      <span>
                          <span class="Apple-converted-space"> </span>
                      </span>
                      <span class="Apple-converted-space">
                          A</span>s the experimenter, I have no expectations anymore. The subjects also have no expectations because they
                      don’t know whether they’re getting a treatment or not. This way we control very well for the placebo effect and expectancy
                      effect in the same experiment.
                      <span>
                          <span class="Apple-converted-space"> </span>
                      </span>
                      <span style="text-decoration: underline;">Double Blind placebo controlled experiments are the gold standard in research.</span>
                      <b>
                          <span class="flow-text"></span>
                      </b>
                      <span class="flow-text"></span>
                      <br>
                      <br> Finally, let's talk about
                      <span style="font-weight: bold;">Ethical issues </span>in experimentation. Before a subject gets into the experiment we tell them as much as possible
                      about the experiment. This is called
                      <b> Informed Consent.</b>The subjects are given information about the experiment and they then can consent (agree) to
                      be a part of the experiment prior to the treatment. We tell them, “
                      <span class="GramE">look</span>
                      <span class="Apple-converted-space">
                      </span>we’re doing a study on a cancer drug. Half of the subjects are going to get a cancer drug, and the other half are
                      going to get something that should do absolutely nothing. Are you willing to be in the experiment and not know which
                      one you’re getting? You could get the drug or the sugar pill.” They can say “Yes” or “No”, knowing at least that
                      much about the experiment. Do we deceive in Psychology?
                      <span style="font-weight: bold;">Deception</span> is basically lying to the subjects of the experiment.
                      <br>
                      <br>
                      <b>Lying</b> includes half truths (not giving all the truth - only half of it). As I have said before, what people tell
                      you can be 100% truthful and still not be 100% of the truth. We can NOT tell them exactly what’s happening in the
                      experiment, because if we did then they would have an expectation of what’s going to happen. That could change the
                      results. If they know what we are looking for, they will be more inclined to produce that behavior. We do have to
                      deceive them - slightly. However, we also
                      <span class="Apple-converted-space">
                      </span>
                      <span class="GramE">
                          <b>Debrief</b>
                      </span>
                      <span class="Apple-converted-space">
                      </span>them at the end of the experiment. We talk to the subjects when the experiment is finished, and we tell them what
                      actually happened, what we were actually doing, so that they are properly debriefed.
                      <span> </span>
                      <br>
                      <br> Then, there’s the issue of
                      <b>animal research</b> which is using animals in scientific experimentation.
                      <span> </span>This is highly controversial, but it’s highly controlled by ethics committees in all
                      <span class="Apple-converted-space">
                      </span>
                      <b>valid</b>
                      <span class="Apple-converted-space"> </span>research areas. In these lectures we will study some experiments which would no longer be performed today.
                      Some of those experiments were performed on Human subjects and because of those experiments we now have IRBs.
                      <b>Institutional
                      </b> Review Boards(
                      <b>IRBs</b>) will review all legitimate experiments to determine if the experiment meets ethical and moral standards.
                      One of the big things that people complain about is, well, animals are starved. No! They are not starved. I performed
                      some of these experiments myself. For my masters degree I had 150 rats. I gave my rats MORE food than they could
                      eat. I measured how much I gave each rat. Each rat eats a good amount of the food and maintains a specific weight.
                      After a point, that animal has a specific amount of food that they eat every single day and they maintain a specific
                      weight every day. Then we take twenty percent of their food away from them. They are hungry - yes. They are not starving.
                      They are not eating as much as they want to eat. I myself could (and do) go with less food than I eat every day.
                      A lot of us could do with not eating as much as we want to. The rats are not starved by any means. They’re getting
                      eighty percent of what they would have eaten anyway, but they are motivated to get more food. A rat that eats as
                      much as it wants is a lazy rat. They'll lay on their backs, scratch their bellies and sleep. A hungry rat investigates
                      its surroundings to find food. If the reward for doing some behavior is food, they’ll do it. We try to treat them
                      as best as we can. They were born in a laboratory, they grow up in a laboratory, and they die in a laboratory. That
                      last part is another sticking point for many people. We can not let them loose. There would be millions more rats
                      in the world. We can't use them in other experiments, because once they have been in one experiment, they learned
                      something - which would change the results of the next experiment in which they participated. We try to put them
                      to sleep as humanely as possible, when we finish the experiment. Instead of studying humans, we study rats, and then
                      we take those particular results and interpret them based on human possibilities, and it turns out that you actually
                      can. The way the Rat reacts is nearly identical to the way a human behaves under certain conditions. We'll talk about
                      that in a later lecture too.
                      <br>
                      <br> That’s it for the lectures for the Research in Psychology
                      <br> I’m going to stop here. It's time for a break guys, and gals.
                      <br> Go do something other than study.
                      <br> It's time to try the Crossword Puzzle for Research and History.
                      <br> Take 15 minutes or so before you go to the next unit.
                      <br> Distributed learning is the best learning.
                      <br> Talk with you in the next lecture series.
                      <br>
                  </div>
              
              </p>
            </div>
      
            <br><br>
      
          </div>
        </div>