        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">The Science of Psychology (2)</p>
            <div class="row">
              <div class="row">
                <div class="container">
                    
                    <paper-audio-player color="orange"
                                        src="audio/Science_I_am_a_scientist.mp3"
                                        title="The Dandy Warhols - I Am A Scientist">
                    </paper-audio-player>
                </div>

              </div>

              <p class="flow-text">
                Welcome back to the second lecture in Research.
              </p>
              <p class="flow-text">
                Let's talk about the concepts of reliability and validity. <b>Reliability</b> is the degree that a test produces the same results
                every time it is used. My bathroom scale is extremely reliable. I step on it and it always tells me the same number. If
                I’ve eaten a lot, I know it’s going to tell me a little bit more, and if I haven’t eaten in a long time I know it’s going
                to tell me a little bit less. It stays within a small range. It’s very reliable. But, it’s not very valid. I turned my
                scale back ten pounds because I don’t want to see how much I really weigh. I know in my head what it’s supposed to be,
                but on the scale it tells me a much nicer number. So, that figure on the scale is not Valid, although it is Reliable, it
                continually tells me the same number. Reliability and Validity are two different things.
              </p>
              <p class="flow-text">
                <b>Validity</b> is the extent to which a test actually measures the variable the experiment is designed to test. My scale measures
                weight. It does not measure my blood sugar level. The real point of Validity is that while designing experiments we create
                a specific way to test something. We don’t really know, yet, at that point, whether we’re testing what we <em><b>want</b></em> to test.
                As an example; consider the first person who developed the cuff for figuring out blood pressure. What is they designed
                the cuff, but instead of testing for the blood pressure, they’re looking for how much cholesterol you have. Well, the blood
                pressure cuff is going to give you a Reliable reading every single time it is used, but it’s certainly never going to give
                you a valid number for cholesterol. One of the big issues with Validity happened less than a hundred years ago. So called
                "scientists" were feeling other people’s skulls to try and determine where the bumps and valleys were. By determining where
                the bumps and valleys were, they said they could tell the person's type of mental attitude. It was called the “ <em>Science</em>
                ” of <b>Phrenology</b> . Well, if you were the person trained to feel the bumps, you always gave the same outcome based on the
                bumps you felt (reliable). One bump means you are an angry individual and a specific valley means you are depressed. Although
                the results might be reliable, they were incredibly invalid. The bumps on your head have nothing to do with your mental
                attitude. It is always so much more believable and the public is so much more gullible if you have a bust made with all
                the variables of your trade!
              </p>
              <div class="col s6 m4">
                <img class="materialboxed" data-caption="A phrenology head model." src="img/Research_Phrenology.jpg">
              </div>
              <p class="flow-text">
                Another aspect of validity is the Intelligent Quotient (IQ). Is the IQ actually a test showing intelligence? It was developed
                to discover how much knowledge a person has. We have no way to know how much experience you have in the world. The amount
                of experience determines how much knowledge you COULD have. So simply testing how much knowledge you actually have without
                knowing what you were exposed to is not a test of intelligence. We will talk more about that in the Intelligence chapter.
              </p>
              <p class="flow-text">
                So, how do Psychologists develop new knowledge? Empirical investigation is research that relies on sensory experience, and
                observation to acquire research data. Our sensory experiences, unfortunately - are interpretations, interpreted by the brain.
                What we’re sensing interacts with our memories and biases and is a subjective interpretation of the world. We will talk about
                this in the sensation and perception unit.&nbsp;&nbsp; Empirical research has a tendency to include bias.&nbsp; That’s one
                of the reasons why the Scientific Method is better than other empirical investigations. The Scientific Method is a five-step
                process for investigating the hypothesis that’s been created under conditions that are designed to
                <i>
                control </i> biases, and control subjective judgment.&nbsp; Using the Scientific Method, researchers manipulate an independent
                variable to witness the effects on what’s known as the dependent variable. The
                <i>
                <span style="font-weight: bold;"> Independent </span> variable</i>
                is the one that researchers manipulate. The
                <i>
                <span style="font-weight: bold;">
                Dependent </span> variable</i> is the one that changes
                <b>
                <i>
                <u>
                if </u>
                </i>
                </b> the independent variable changes
                <span style="font-weight: bold; text-decoration: underline;">
                and </span> there’s a connection between the two.&nbsp;
              </p>
              <p class="flow-text">
                What if I came up with a theory that students do better on tests in a cold room rather than a warm room.&nbsp; I could take
                ten of my classes and give 5 of them a hot room and the other five a cold room in which to take their tests.&nbsp;&nbsp;
                I control the temperature so it is the Independent variable.&nbsp; The grade on each student's test would be the Dependent
                variable.&nbsp; Let's say that my hypothesis was correct !&nbsp; YEAH!&nbsp; The students in the cold classes had better
                grades on their tests.&nbsp; I was correct!&nbsp; So I publish my research and my data and someone responds saying how ridiculous
                I was, because I did the experiment in the summer during a heat wave! OF COURSE the students preferred the cold rooms - felt
                better - and thus did better on their tests.&nbsp; In the Winter students will probably prefer the hot room.&nbsp;
                <span style="text-decoration: underline;">
                    Confound it </span>! I did not take into consideration the temperature outside.&nbsp; This is actually called a
                <span style="font-weight: bold;">
                    Confounding </span> variable - a variable that I did not take into consideration that might have an effect on the results
                of my experiment.&nbsp; Unfortunately, just because we use the scientific method in an experiment it does not mean the results
                are guaranteed to be correct.

              </p>
              <p class="flow-text">
                The five-steps of the
                <span style="font-weight: bold;"> Scientific Method </span> are: (1) You develop a hypothesis, (2) you preform controlled tests, (3) then you gather
                all the data, (4) then you analyze the results, and finally (5) you publish.&nbsp; After publishing, of course, there’s
                criticism from other scientists and some attempt to replicate your results.&nbsp; If you do not like criticism, it
                is probably a good idea to find a profession other than experimental psychology.&nbsp; There is always someone out
                there who enjoys criticizing your work.&nbsp; If the criticism helps you improve, then it's a positive thing.&nbsp;
                Otherwise, ignore the idiot.
              </p>
              <p class="flow-text">
                Let's discuss these five steps of scientific inquiry.&nbsp; First let's talk about developing a hypothesis. What
                is a Hypothesis? The word
                <span style="font-weight: bold;"> Hypothesis </span> literally means “little theory”. Psychologists reject simple opinion in favor of a hypothesis
                which is – a statement which predicts the outcome of a scientific study under specific operational definitions. The
                expected outcome must be determined in advance of the experiment.&nbsp;There is an unacceptable practice in all science
                called "Outcome Switching".&nbsp; If your experiment does not show what you wanted it to show, then examine the data
                for anything that it does show and pretend that was what you wanted to do all along!&nbsp; This is very POOR methodology.&nbsp;
                However, the public doesn't know the difference and falls for the "slight of hand" magic trick that just happened.&nbsp;
                Then there is the issue of pseudoscience.&nbsp; When my child says “There’s a dragon in the basement, dad!” I say
                “Ooh, let’s go look and see the dragon!” and my little boy says “No, daddy, it’s invisible, you can’t see the dragon!”
                “Oh, well, then let’s go look at the dust on the floor because wherever he steps we’ll be able to see the dragon’s
                footprints.” “Oh, no, daddy, he floats in the air so he doesn’t have any footprints.” “Well then, maybe we’ll be
                able to see his breath when he breathes fire and we can get him to help roast our marshmallows!” “Oh, no, daddy,
                he doesn’t have fire that comes out of his mouth.”&nbsp; Every time I came up with a test, there is a reason we cannot
                use that test. A Hypothesis has to be testable! So, if the hypothesis is that there’s a dragon in the basement; okay,
                let’s do the tests to determine if it is true.&nbsp;&nbsp; If there are no tests that can be done, then it is not
                a proper hypothesis.&nbsp; When an experiment is designed to test the hypothesis it must include very specific operational
                definitions.
              </p>
              <p class="flow-text">
                The
                <span style="font-weight: bold;">operational definitions</span>
                of an experiment are the exact procedures used in establishing experimental conditions. What did you actually do to create
                the experimental conditions and how did you measure any of the results. We need these definitions so that somebody
                else can come along later and duplicate our experiment exactly.&nbsp; Replication of the experiment is very important.&nbsp;
                In 1989&nbsp; two American scientists (Martin Fleischmann and Stanley Pons) publishes the results of their Cold Fusion
                experiment. &nbsp; No one could replicate their experiment.&nbsp; When they tried to replicate their own experiment,
                they could not duplicate the results.&nbsp; They had not found cold fusion (which is an endless source of energy
                from chemical reactions at room temperature).&nbsp;
              </p>
              <p class="flow-text">
                Next while&nbsp; performing the controlled test: we must have
                <span style="font-weight: bold; text-decoration: underline;">Randomization
                </span> - where we are using chance alone to determine the presentation order of the stimuli and the assigning of
                subjects to groups. These are the only random events we want in the experiment. We use Randomization to reduce the
                biases that might exist.&nbsp; For example: I might pick all my friends to be in one group and everybody else to
                be in another group.&nbsp; That’s not random and it’s very possible that a group of my friends may have completely
                different results than the other group of people. A group of my friends will have specific information and feelings
                and desires similar to my own, whereas those who aren’t my friends, have other feelings and other desires and other
                observations of life.&nbsp; That will affect the results of my experiment. The subjects in the groups and the presentation
                of the stimuli need to be randomly determined. Randomization helps to insure that treatment groups are as similar
                as possible. Another aspect of the experiment that should be randomized is the presentation of the stimuli.&nbsp;
                Presenting stimuli in the same order each time may produce specific results.&nbsp; For instance: we may have people
                place their hands in cold water, and then room temperature water. That can produce a very specific result and it’s
                possible that’s not the outcome you were looking for.&nbsp; It may not even be the information you were looking for.&nbsp;
                It will effect your results.

              </p>
              <p class="flow-text">
                Next we gather the objective data. The data is information gathered by the research team and used to test the hypothesis.&nbsp;
                In that testing we’re looking at the Dependent variable, which is the measured outcome of the study.&nbsp; It’s the
                responses of the participants in a study. This variable is
                <i> not </i> controlled by the experimenter; its outcomes are dependent on changes that were made in the Independent
                variable.

              </p>
              <p class="flow-text">
                Then we analyze data to see if there was interaction between the Dependent and Independent variables. The hypothesis
                is accepted or rejected based on statistical analysis of the results. If the Independent variable doesn’t have anything
                to do with that particular Dependent variable, then the experiment will show that there isn't any interaction between
                them. Statistics are a large part of Psychological researches as I said before. We basically say “Look, did this
                thing happen an amount of times that are better than chance? Are the results statistically significant?”&nbsp; Many
                times our hypothesis is incorrect and we must reject it.&nbsp; We have to tell the world we were wrong.

              </p>
              <p class="flow-text">
                Rejected hypotheses are as important as those we confirm. We still learned something by rejected hypotheses. You’ve
                spent a lot of time and effort on a specific hypothesis and it’s incorrect.&nbsp; The Scientific community should
                know that it’s wrong. You need to publish those rejection results so that somebody else doesn’t spend the time duplicating
                your effort because they didn’t know that it had already been done. Also, when you reject your hypothesis and publish
                it, somebody might say “Well, yes, that would have been correct. Your outcome is correct because you missed one variable
                that you should have controlled for and I’ll prove it by doing your same experiment again and control that one other
                variable. The variable you didn’t think about.” So, even rejected hypotheses are important.

              </p>
              <p class="flow-text">
                Then you publish. Scientific Journals accept experimental results on a monthly basis. Any interesting experiments
                are reviewed by a group of professionals that are employed by that magazine and if those professionals feel that
                the experiment is worthy for print, then the magazine prints the experiment in some upcoming publication. Other professionals
                then read the experiment printed in the publication. Some will argue the points made by the author, and will recreate
                the experiment, to prove their particular point of view. So, all experiments are tested, and any alternate views
                are proved or disproved by other Scientists. If you have poor feelings about yourself, if you have low self-esteem,
                you do not need to be an Experimental Psychologist because there will ALWAYS be people picking apart your experiments,
                and if you have low self-esteem, you’re certainly are not going to have a good feeling about it.

              </p>
              <p class="flow-text">
                Research can also be conducted through other empirical means, without manipulating variables.&nbsp; These other
                methods are considered valid experimental paradigms. While the Scientific Method can be used to determine
                <strong>cause</strong> between two variables (one causes the other). The other empirical methods can be used to find
                <strong>correlations between two variables - but not cause</strong>.&nbsp; We will continue this conversation in the next
                lecture.
              </p>
              <p class="flow-text">
                That's it for this lecture.
                <br> I’m going to stop here. It's time for a break guys, and gals. Go get a cup of coffee.
                <br> Go do something other than study (maybe play the hangman game).
                <br> There is one crossword puzzle for both History and Research,
                <br> but the hangman games are made for each slide.
                <br> Take 15 minutes or so before you go to the next slide.
                <br> Distributed learning is the best learning.
                <br> We will continue the study of the Research in Psychology in the next lecture.
                <br> Talk with you then.
              </p>
            </div>
      
            <br><br>
      
          </div>
        </div>