        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">The Science of Psychology (1)</p>
            <div class="row">
              <div class="row">
                <div class="container">
                    
                    <paper-audio-player color="orange"
                                        src="audio/Science_wierd_science.mp3"
                                        title="Oingo Boingo - Weird Science!">
                    </paper-audio-player>
                </div>

              </div>
              <p class="flow-text">
                Welcome to this lecture series on the Science of psychology. Watch one or both of the videos below before you continue: Discovering
                Psychology Series - "Understanding Research" is a 28 minute video.
              </p>

              <p class="flow-text">
                The Crash course in Psychology video "Psychological Research - Crash Course Psychology #2" is less than 12 minutes. I find
                that older students enjoy the Discovering Psychology video and the younger students like the Crash course videos.
              </p>
              
              <div class="row">
                  <div class="col s12 offset-s0 m6 offset-m3">
                      <a href="http://www.learner.org/series/discoveringpsychology/02/e02expand.html" target="_blank">
                          <img class="hoverable" width="100%" src="img/Sleep_icon.png">
                      </a>
                  </div>
              </div>
              <div class="video-container">
                <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="https://www.youtube.com/embed/hFV71QPvX2I"></iframe>
              </div>
              <p class="flow-text">
                Let me start by saying that Psychology started as a philosophy but Wilhelm Wundt started doing scientific laboratory research
                in 1879. So the science of psychology will not be 200 years old until the year 2079. Think about Einstein's theory of relativity.
                It is the ultimate formula in physics. Its simplicity E=MC2 belies all the work that went into developing it. To trace
                the creation of this formula you have to go all the way back to Euclid. Around 300 BC Euclid developed the ideas of Geometry.
                Many others used his ideas and built on them. Brahe, Kepler, and Galileo looked at the universe using Geometry and determined
                how the universe functioned. This led to Newton developing the formula F=MA in 1727 describing the forces effecting the
                planets. By 1790 Ben Franklin was doing experiments with electricity (scaring the heck out of his wife - by the way). Volta
                defined voltage and how it worked in 1827. Doppler defined light and the hue of light moving toward or away from an object
                in 1853. Faraday defined the interaction of light and magnetism and designed the electric motor in 1867. Finally Maxwell
                added his parts in 1879. So more than 2000 years after Euclid developed Geometry, Einstein was able to develop E=MC2 using
                all the previous scientific work - standing on the shoulders of many amazing minds. What am I trying to say? Do not expect
                much from the science of psychology which is less than 200 years old! We are still working on the very basic experiments.
                Also consider that the rules of the universe remain the same while we attempt to determine what they are, but psychology
                depends on variables that change constantly. Our environment changes ( some people experience war and others do not while
                some experience depressed ecnomies and others live in flourishing economic conditions). Each of us has a distinctly different
                DNA combination from those that came before us. Psychology is determined by variables that change, and the the results
                of our experiments in psychology can only be extrapolated for as long as the variables remain the same. However, in describing
                what is the "normal", we include a wide range of existing behaviors and thoughts. Remember the standard distribution curve
                where 'normal' includes 68% of the population of behaviors and thoughts.
              </p>
              <p class="flow-text">
                Before we actually talk about Science, we need to talk about what Pseudoscience is. Psychologists use the Scientific Method
                based on Empirical Observation, to acquire new knowledge. Psychology disputes the claims of pseudoscience, because they
                are not proven scientifically. Pseudoscience as a definition is any approach which tries to explain phenomena in the natural
                world that doesn’t use the Scientific Method, which can include Astrology, Palmistry, Psychics, and Parapsychology. That
                does not mean that these things don’t exist, that’s not what we’re saying. What we’re saying is that some are never or
                can never be put through any rigorous testing and those that are find no significant results. If and when they are put
                through rigorous scientific testing; we find that they do not meet the requirements of anything other than chance. If they
                aren’t better than chance, then what good are they? I myself have had anecdotal evidence of parapsychology. I was on a
                boy scout camping trip for four days (Thursday through Sunday). On Saturday night I had a dream. My entire family was in
                my father’s station wagon. That is nearly 50 people in one car! I know - dreams do not always make any sense. We were traveling
                in the car and suddenly we were in a place with no landmarks. It was simply - white space. My Great Grandfather kissed
                everyone in the car, got out of the car, closed the door and the car was back on the road again. When I got home on Sunday
                I found out that my Great Grandfather had passed away that Saturday night.
              </p>
              <p class="flow-text">
                This is not proof of paranormal ability. This is anecdotal evidence (a narrative that is not necessarily true or reliable
                because it is based on a personal account rather than based on facts from research). There is no way to test this phenomenon,
                because I do not want anyone else in the family to die in order to test it! It was a onetime incident. I also had some
                foreknowledge. I knew he was sick and very old. For instance; do you believe in Precognition (the ability to know what
                is going to happen before it happens)? Think about this. How many times have you thought of someone and the phone rang
                and it was them! Whoo Hoo! Proof?? Right? Nope! It is Anecdotal evidence. Why? How many times did you think of that person
                during the last year and the phone did not ring? We forget about all those times and only remember the times our hypothesis
                is confirmed. This is called confirmation bias! This type of Bias refers to a type of selective thinking, where one tends
                to notice, to look for, and overvalue those things that confirm one’s own beliefs, and to ignore, not look for, or undervalue
                the relevance of what contradicts one’s beliefs. We will talk more about Biases in the next lecture.
              </p>
              <div class="col s6 m4">
                <img class="materialboxed" data-caption="New Frontiers of the Mind Published 1937" src="img/Rhine.png">
              </div>
              <p class="flow-text">
                If you are interested in extrasensory perception, Duke University in North Carolina, performed a lot of scientific tests
                in the 1930s on extrasensory perception. If you are interested, you want to look for a book called "New Frontiers of the
                Mind" by Dr. Rhine published in 1937.
              </p>
              <p class="flow-text">
                Dr. Rhine did not find enough proof to give it scientific credibility. That does not mean, again, that we say extrasensory
                perception does not exit. I, myself, have had experiences that I cannot explain. There are people who are trying to scientifically
                study these particular phenomena and one day, maybe they will be able to find the proper equipment and the proper methods
                to do so. But, you can’t ask a ghost to come into your laboratory and test them. Unfortunately, when you go to the place
                where they exist, well, they don’t behave like you want an experimental subject to behave, or an animal to behave when
                you’re testing them in a laboratory experiment. Maybe - with the advent of new technology - someone will find a way to
                find a significant result while studying these phenomenon, but at this time it is Pseudoscience. Dr. Rhine calls extrasensory
                perception the "sixth sense", but as we will see in a future lecture, there actually is a sixth sense that has nothing
                to do with parapsychology. </p>
              <p class="flow-text">
                Watch the video and think about what it is saying....
              </p>
              <div class="video-container">
                <iframe width="853" height="480" frameborder="0" gesture="media" allowfullscreen="" src="https://www.youtube.com/embed/6T4rPHvm9ys"></iframe>
              </div>
              <p class="flow-text">
                What do you think this video is saying? The DC9 out cleans which of the top five vacuums? They say the top five best selling
                - without the hassle of a cord! That does not mean they are comparing it to the top five best selling vacuums. They are
                comparing it to cordless vacuums!!!! Without the hassle of cord was meant to make you think they were talking about the
                DC9 cordless. The English language allows them to twist what they say in such a way to get you to think in their favor.
                They are not comparing themselves to vacuums with cords. They are comparing themselves to the top selling CORDLESS vacuums,
                and they do it so well you do not even realize you have been hoodwinked!!
              </p>
              <p class="flow-text">
                When I was young there was an ad on television for toothpaste. There were only three brands of toothpaste and they did not
                have variations on their brands. I believe it was Colgate that said "There is no better toothpaste than Colgate!" What
                does that mean to you?? To most people it means that Colgate is the BEST and the others don't compare. That is NOT what
                they said!! What it actually says is that all toothpastes are exactly the same and nothing is better. What they did not
                say is the other half of the statement. "There is also nothing worse!" They are not required to tell the whole truth. Everything
                I tell you can be truthful and still not be the entire truth! There is a great story that illustrates this point. Two racehorses
                ran against each other in Russia. The best Russian horse was running against the best American horse. When the race was
                over the papers pronounced "American horse comes in next to last"! In other words 'FIRST PLACE'!! If there is one thing
                I hope you get out of this course it will be to question everything you read and hear. How else could it be said? What
                did the statistics actually show? Do not automatically believe how the statistics are interpreted and presented by the
                person attempting to make you think - like them - that they are correct.
              </p>
              <p class="flow-text">
                There are three major research methods and designs that exist for doing scientific study. The Between Subject experiment
                is the typical type of experiment which contains two different groups randomly assigned to experimental and control conditions.
                I will define experimental and control conditions in a few minutes. Between subject experiments are the basic way that
                most people do scientific studies today.
              </p>
              <p class="flow-text">
                There are also A-B-A experiments which measure the subjects at a baseline before they are treated. Then they are tested again
                during the time that they are receiving the treatment, and lastly they are tested again when the treatment has been stopped
                to compare it to the original baseline to see if that baseline has been restored or modified. This design is used to see
                if the experimental condition causes a change. When the experimental condition has been removed, do you go back to the
                original point - the baseline? Is it possible the treatment has changed the subject in some way? There are many angles
                to the A-B-A experiment.
              </p>
              <p class="flow-text">
                Then there are Within Subjects experiments where participants serve as their own controls. They are exposed to both the control
                and the experimental condition. This produces a statistical nightmare but it does produce valid results. If you’re really
                good at math, you can do Within Subjects controls. What’s nice about Within Subject experiments today is that we have computers,
                and the computers can do all of the math for you, but the statistics on this are just horrible. By the way, if you’re going
                to be an Experimental Psychologist, if that’s something that you’re thinking about, and if you don’t like math, choose
                something else (maybe applied psychology), because there’s a lot of math in Experimental Psychology.
              </p>
              <p class="flow-text">
                When you are learning about research, there are a lot of terms with which you have to become familiar. You may already be
                familiar with some of these terms, and you may be using some of them improperly. Standardization means using a set of uniform
                procedures for treating each subject and for recording the data. If you are treating your subjects haphazardly instead
                of standardizing your treatment then you could be treating subjects differently, and if you treat subjects differently,
                that difference in and of itself could cause a change in the results. Later in the lectures we will talk about a study
                where treatment of school children caused one group to show an increase in their IQ scores and the IQ of the other children
                in the experiment decreased - simply because they were treated differently. The word Population is the entire group of
                people. The population of the Earth, for instance, is the ultimate population. But we can’t study 7+ billion people so
                we need a sample. A Sample is a subset of the whole group, but you don’t want just any sample, you want a Representative
                sample, which is a subset that closely mirrors the population that you want to study. Obviously you don’t want to just
                pick a random group of people from the phone book. If you want to study the TV watching habits of Hispanics then you want
                Hispanics in your Representative sample. This is an important lesson to learn, because the Nielsen Rating made this mistake.
                Nielsen rates the popularity of TV shows by measuring how many people watch each show. They used to do this by asking people
                if they could place a device on the TV which would log the day, time and channel whenever the TV was turned on. Who uses
                this information? Companies who want to advertise on the most popular shows are interested in the data. They spend a lot
                of money on advertising and they want to be sure lots of people see their ads. Shows with low ratings can only charge a
                small amount per minute. The problem with the Nielsen rating was that the devices were only placed on White Anglo Saxon
                Protestant (WASP) TV sets. That is not a representative sample of the population. What if the product you have to sell
                is for African Americans or Asians or Catholics or Jews? Nielsen had no idea what percentage of those populations were
                watching what shows! So they were sued and now they measure a more representative sample and know much more about what
                the population is doing.
              </p>
              <p class="flow-text">
                As an aside: I’m not certain Nielsen is even useful any more. I was on my Chrome browser looking for a dress for my wife.
                Later that day I got on Facebook and all of a sudden I am getting ads in Facebook for the dress I was reviewing on Google.
                Those are two different companies sharing information about me. There seems to be no privacy any longer. They seem to know
                everything about me. But they don’t know everything yet. Facebook advertisements use provocative pictures of women to get
                men to click on the link and open the advert. I have a friend who is Gay and he also gets these ads on Facebook with the
                picture of the half naked woman trying to entice him to click on the advertisement. It doesn’t work for him! It is not
                a reliable method for gay men. The companies do not know everything about us - yet!
              </p>
              <p class="flow-text">
                That's it for this lecture. <br>
                I’m going to stop here. <br>
                It's time for a break guys, and gals. Go get a cup of coffee. <br>
                Go do something other than study (maybe play the hangman game). <br>
                There is one crossword puzzle for both History and Research, <br>
                but the hangman games are made for each slide. <br>
                Take 15 minutes or so before you go to the next slide. <br>
                Distributed learning is the best learning. <br>
                We will continue the study of the Research in Psychology in the next lecture. <br>
                Talk with you then.
              </p>
            </div>
      
            <br><br>
      
          </div>
        </div>