        <div class="section no-pad-bot" id="index-banner">

          <div class="container">
            <p class="flow-text center orange-text responsive-header">The Science of Psychology (3)</p>
            <div class="row">
              <div class="row">
                <div class="container">
                    
                    <paper-audio-player color="orange"
                                        src="audio/Science_she_blinded_me.mp3"
                                        title="She blinded me with science – Thomas Dolby">
                    </paper-audio-player>
                </div>

              </div>

              <p class="flow-text" style="padding-top:18px;">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <br>
                  <span class="flow-text">
                      Welcome! Let's continue with this third discussion of the Science behind Psychology.&nbsp;</span>
                  <p class="flow-text">
                      <b>
                          <span class="flow-text"></span>
                      </b>
                      <span class="flow-text">
                          <span class="flow-text"></span>We just talked about the experimental method but there are other empirical research designs as well.
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> </span>There’s
                          <span style="font-weight: bold;">
                              Naturalistic observation</span>, which is a form of research involving the assessment of animals that includes
                          humans, as well, in an uncontrived setting without manipulating or interfering with the subject’s behavior.
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> </span>If you’re studying lions for instance, you don’t want the lion to know that you’re there because just
                          by your presence, you change the way the lion behaves and besides
                          <span style="font-style: italic;">they will eat you</span>
                          <span class="GramE">!.</span>
                          <span class="flow-text"> </span>
                          <span class="flow-text"> </span>When I was in my
                          <span class="flow-text"> </span>
                          <span class="SpellE">Masters</span>
                          <span class="flow-text"> </span>program I had to design and conduct a naturalistic observation.
                          <span class="flow-text">
                              <span class="flow-text">
                              </span>
                          </span>I decided to watch people eat at McDs.
                          <span class="flow-text">
                              <span class="flow-text"> </span>
                          </span>I went in early one day and sat down and started recording when a person picked up their
                          <span class="flow-text">
                          </span>
                          <span class="SpellE">burger</span>
                          <span class="flow-text">
                          </span>and took a bite and sipped from their drink and ate their fries.
                          <span class="flow-text">
                              <span class="flow-text"> </span>
                          </span>About Noon I was tracking one customer and I looked up to see him staring at me.
                          <span class="flow-text">
                              <span class="flow-text"> </span>
                          </span>He picked up a fry to eat and as I started to write, he put it down.
                          <span class="flow-text">
                              <span class="flow-text"> </span>
                          </span>Then he picked up his burger to take a bite and I started to write and he put it down.
                          <span class="flow-text">
                              <span class="flow-text">
                                  This went on for about a minute before h</span>
                          </span>e came over to ask
                          <span class="flow-text"> </span>
                          <span class="GramE">what</span>
                          <span class="flow-text"> </span>I was doing.
                          <span class="flow-text">
                              <span class="flow-text"> </span>
                          </span>I could not use his data because he knew I was watching and he changed his behavior because of my presence.
                          <span class="flow-text">
                              <span class="flow-text">
                              </span>
                          </span>Naturalistic Observations must be done without interfering with the subject.
                          <span class="flow-text"> Sometimes that is nearly impossible.
                              <a target="_blank" title="Pictrue of Diane Fossey" href="https://en.wikipedia.org/wiki/Dian_Fossey">
                                  <span style="font-weight: bold;">Dian Fossey
                                  </span>
                              </a> studied Mountain Gorillas in the wild and took many years to have the animals get to know her and consider
                              her part of the tribe. Her study lasted 18 years and was cut short when she was murdered by Gorilla poachers.
                              <a target="_blank" title="Jane Goodall picture" href="https://en.wikipedia.org/wiki/Jane_Goodall">
                                  <span style="font-weight: bold;">Jane Goodall</span>
                              </a>
                              studied Chimpanzees and had the same issue getting the animals to trust her. She spent 26 years doing the research. Her colleagues
                              continue the research today while Dr. Goodall travels the world advocating for proper treatment of the chimpanzees
                              and their habitats.
                              <br>
                              <br>
                          </span>In a
                          <span style="font-weight: bold;"> Case
                              <span class="flow-text">
                              </span>
                          </span>
                          <span class="GramE">
                              <span style="font-weight: bold;">study</span>
                          </span>
                          <span class="flow-text"> we concentrate on one individual case. T</span>he researcher can talk to people who know the individual and talk
                          directly to the individual of interest. They can also use historical records to gather in-depth information about
                          an experimental subject or subjects.
                          <span class="flow-text"> </span>
                          <span class="flow-text"> </span>Clay Jenkinson is a scholar who has studied President Thomas Jefferson so well that he can answer questions
                          as if Jefferson was answering the question.
                          <span class="flow-text"> </span>He is often on National Public Radio and you can find copies of those talks
                          <a target="_blank" title="The Jefferson Hour" href="https://www.blubrry.com/jeffersonhour/">here</a>. Case studies are a great way to study one specific person. For instance; psychologists are interested
                          in serial killers or people with specific personality disorders.
                          <span class="flow-text">
                              <span class="flow-text">
                                  We can study such a person in depth to attempt to discover what influenced the person's development. </span>
                          </span>A
                          <span style="font-weight: bold;"> survey </span>is the same as a case study but with a
                          <span class="flow-text"> </span>
                          <i>larger</i>
                          <span class="flow-text"> </span>population.
                          <span class="flow-text">
                              <span class="flow-text"> </span>
                          </span>You may have taken a survey. They often come in the mail with a dollar to entice you to fill it out and send
                          it back. Many times they are made to sway your answer to that which the creator of the survey wanted. For instance
                          they may ask - "What is your opinion of X presidential candidate?" Pick one of the following. [OK, Pretty Good,
                          Fantastic, Excellent]. Now the survey results show that EVERYONE has a positive experience with this person,
                          because there was no negative answer included in the selection! The question on a survey might also be worded
                          to manipulate your answer. "The bible says turn the other cheek and we should not kill. Wars kill people. Should
                          we go to war in the middle east?" A "concrete operational" thinker will consider this a clearly delineated "yes
                          or no" answer. The "formal operational" thinker will notice there are many other considerations, and will have
                          a hard time answering the question because it is not a yes or no answer. What the bible says is not the only
                          consideration. </span>
                      <span class="flow-text">
                          <span class="flow-text">
                              It depends on the situation!</span>
                          <br>
                          <br> Naturalistic Observations, Case studies and Surveys are looking for what is called
                          <span class="flow-text">
                          </span>
                          <b>
                              <i>correlations</i>
                          </b>
                          <span class="flow-text"> </span>among variables.</span>
                      <span class="flow-text">
                          So, what is a correlation? It is when one variable moves with respect to another variable.
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> </span>If one variable goes up during the experiment and another also goes up, or if one variable goes up and
                          another variable goes down, then they are correlated.
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> </span>
                          <span class="flow-text"> </span>It’s also possible the variables are not correlated in any way, as one goes up the other one moves up
                          or down.
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> T</span>he math for correlation coefficients works out that it ranges from plus one to negative one.
                          <span class="flow-text">
                              <span class="flow-text">
                                  A "
                                  <span style="font-weight: bold;">Positive O</span>
                              </span>
                          </span>
                          <span style="font-weight: bold;">ne</span> (+1)" correlation is a perfect correlation in which the first variable goes in a specific direction
                          one step and the second variable goes in the same direction the exact same amount, one step.
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> </span>A negative one correlation is also a perfect correlation where one variable goes one step in one direction
                          and the other variable goes the exact same amount in the opposite direction.
                          <span class="flow-text">
                              <span class="flow-text">
                              </span>
                          </span>That’s called a "
                          <span style="font-weight: bold;">Negative one </span>(-1)" correlation.
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> </span>Of course, zero correlation means movement of one variable has
                          <span class="flow-text">
                          </span>
                          <b>no</b>
                          <span class="flow-text"> </span>relationship to the movement of another variable. One issue students tend to have is that math has trained
                          us to consider "going down" on a coordinate plane as "negative". If BOTH variables go down students tend to think
                          of it as a negative correlation, but since the variables both went in the same direction, it is considered a
                          positive correlation! The correlation can range anywhere between -1 and +1. However, a correlation of point 2
                          (.2) means there is some correlation but it is very small and may not be significant.
                          <br>
                      </span>
                      <br>
                      <div class="col s6 m4">
                          <img class="materialboxed" data-caption="Picture of Australian beach" width="100%" src="img/Research_Australia.jpg">
                      </div>
                      <p class="flow-text">Is there a correlation to buying ice-cream on the beaches of Australia</p>
                      <br><br><br><br>
                      <div class="col s6 m4">
                          <img class="materialboxed" data-caption="Snow picture" width="100%" src="img/Research_snow.jpg">
                      </div>
                      <p class="flow-text">and the amount of snow falling in New York City in the United States?</p>
                      
                      
                  </p>
          
                  <p class="flow-text">
                      <span class="flow-text">
                          <br>
                          <br> It turns out,
                          <strong>there is </strong>and it is a positive correlation!
                          <span class="flow-text">! The more it </span>snows in New York City the more ice-cream is eaten in Australia. So, is the snow in New
                          York causing people in Australia to purchase ice cream? Or is it the other way around?
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> </span>Are Australians causing snow to fall in New York because they are eating more ice-cream? Now, that’s just
                          stupid.
                          <span class="flow-text"> </span>
                          <span class="flow-text">
                          </span>That is completely ridiculous!
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> </span>We don’t
                          <span class="flow-text">
                          </span>
                          <strong>
                              <i>cause</i>
                          </strong>
                          <span class="flow-text">
                          </span>the snow, and the snow doesn’t cause ice-cream purchases, but there is a positive correlation, so how do we explain
                          it?!
                          <br>
                          <div class="col s6 m4">
                              <img class="materialboxed" data-caption="picture of icecream" width="100%" src="img/Research_icecream.jpg">
                          </div>
                          <br>
                          <span class="flow-text"></span>
                          <span class="flow-text">
                              The question is <b>Why</b> is there a positive correlation? The answer is that Australia is in the southern hemisphere of the Earth and New York is in the northern
                              hemisphere. The seasons are revered. If it is winter in the north, then it is summer in the south. Also, the
                              colder it is in the north the hotter it is in the south. The colder it is - the more snow falls and the hotter it is - the more ice-cream is eaten. So, there is a correlation,
                              but I hope you can see that this correlation <span style="font-weight: bold;"> does </span> <span style="font-weight: bold;">NOT
                              </span>mean causation.
                              <span class="flow-text"> </span>When you find a correlation between two or more variables, then you need more study to determine if one
                              variable controls the other or if there’s something else, like the climate, controlling all of them. BTW "climate"
                              is the name for global changes while "weather" is what happens locally. So global warming means the climate is
                              getting hotter, but your local weather may be cold or hot at any given moment. The hotter the globe gets the
                              more drastic the changes in local weather can be. Many people use their local weather as a confirmation bias
                              to prove there is no climate change.</span>
                          </span>

                          
                      <b>
                          <span class="flow-text"></span>
                      </b>
                      <span class="flow-text"></span>
                  </p>
                  <p class="flow-text">
                      <span class="flow-text">Sources of error that can occur are important in any scientific study; Scientists must always be cognizant of the
                          possibility of Bias.
                          <br>
                      </span>
                  </p>
                  <p class="flow-text">
                      <span class="flow-text">Bias is any deviation of the results or inferences from the truth.
                          <span class="flow-text"> </span>
                          <span class="flow-text"> </span>Bias could affect the way an experimenter designs a study.
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> </span>It could affect the way they collect the data. It can even affect the interpretation of the results.</span>
                  </p>
                  <p class="flow-text">
                      <span class="flow-text">Bias can result from several sources: One sided or systematic variations in measurement from the true value is systematic
                          error.
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> T</span>his particular type of error occurs all the time, it’s a Bias that just -- happens.
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> </span>If you’ve ever counted a deck of cards and gotten the wrong number, you know what this bias is.
                          <span class="flow-text">
                              <span class="flow-text"> </span>
                          </span>There are fifty-two cards in the deck and you count them and you get fifty.
                          <span class="flow-text"> </span>
                          <span class="flow-text"> </span>What?
                          <span class="flow-text"> </span>
                          <span class="flow-text"> </span>Let me count them again, and you get fifty-two the next time.
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> </span>Oh, now you feel good about it.
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> </span>Well, that fifty-two may have been the wrong count and fifty may have been the right count, but you go
                          ahead and play the cards anyway.
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> </span>Systematic errors can be caused by flaws in study design, deviations of inferences, interpretations, analysis
                          based on flawed date, or data collection. There’s no sense of prejudice implied in the assessment of Bias under
                          those particular conditions. They just happen.</span>
                  </p>
                  <p class="flow-text">
                      <span class="flow-text">
                          <span class="flow-text">
                              <span class="flow-text"></span>
                          </span>Bias can be found on
                          <span class="flow-text"> </span>
                          <i>both</i>
                          <span class="flow-text"> </span>sides of an experiment, both the participant and the experimenter can fall prey to different types of
                          Biases.
                      </span>
                  </p>
                  <p class="flow-text">
                      <span class="flow-text">We already talked about
                          <span style="font-weight: bold;"> Confirmation Bias
                          </span>.
                          <span class="flow-text">
                              <span class="flow-text"> </span>
                          </span>This refers to a type of selective thinking, where one tends to notice, overvalue and look for those things that
                          confirm one’s own beliefs, and to ignore, or not look for at all, or undervalue the relevance of what contradicts
                          one’s beliefs.</span>
                      <span class="flow-text">
                          There are two types of Confirmation Bias I want to talk about. With
                          <strong>Personal bias</strong> you believe a thing to be true and you make assumptions that may not be true. Personal
                          bias can be caused by prejudicial feelings.
                          <span class="flow-text"> </span>The bias may be so ingrained that the individual does not recognize it as a bias. A police officer deals
                          with criminals all day long. They have a skewed perception of reality. There are less criminals in the world
                          than law abiding citizens, but not in their experience. After years on the force, an officer may meet a new person
                          and immediately be on guard. Personal biases lead to social norms that are very prejudicial such as treating
                          all male black teens as potential criminals. This can be an unconscious view buried deep in the officer's unconscious
                          mind and produce automatic behavior patterns toward people who are not criminals. Then there is the
                          <span style="font-weight: bold;">Expectancy bias
                          </span>.</span>
                      <span class="flow-text">
                          If you expect a result to exist, you may unconsciously create that result. This bias produces results called the
                          <span style="font-weight: bold;">self-fulfilling prophecy
                          </span> and the
                          <strong> Expectancy effect</strong>.
                          <span class="flow-text"> </span>
                          <span class="flow-text"> </span>This type of bias is caused by expectations on the part of the experimenter.
                          <span class="flow-text"> </span>
                          <span class="flow-text">
                          </span>If a person believes that something is going to happen then she or he will ignore data that does not conform
                          to expectations or may ignore data that confirms or denies the expected results.
                          <span class="flow-text"> </span>
                          <span class="flow-text">
                          </span>Also, treatment of the subjects will be different if the experimenter has an expectation of performance differentiation.
                          <span class="flow-text"> </span>
                          <span class="flow-text"> </span>If you believe a student is better than another student, you treat that student differently, and that
                          treatment in and of itself may actually cause the student to perform the way that you thought. What is the difference
                          between personal bias and expectancy? In personal bias you rarely think about the bias. It is engrained into
                          your being. With Expectancy, we know what we believe and acknowledge the feeling. I know Mountain dew is the
                          best soda! When I perform an experiment to prove this, my expectation that mountain Dew will come out on top
                          biases my experimental procedures and my view of the data.</span>
                  </p>
                  <p class="flow-text">
                      <span class="flow-text">In a self fulfilling prophecy the way you behave fulfills what you expected to happen. If a student expects to get
                          a bad grade, they may not study and thus - by their behavior - create the very grade they thought they would
                          get. If lots of people on the TV news tell us that the economy is about to go into a recession, we hoard our
                          money. When we hoard our money we purchase very few items. When we purchase very few items the stores do not
                          need as many employees and lay them off. When the stores do not sell a lot of items the manufacturers produce
                          less and lay people off. When all those people are laid off we create a recession. WE did it because we believed
                          it would happen so we behaved in a manner (refusing to purchase anything) that created the very thing we believed
                          would happen.
                          <br>
                      </span>
                  </p>
                  <p class="flow-text">
                      <span class="flow-text">There was a great experiment that occurred many years ago where a group of teachers were told by Psychologists that
                          every student in their classes had been given a psychological intelligence test and some of the students were
                          intelligent and others were not.
                          <span class="flow-text">
                              <span class="flow-text">The teachers were told which ones were "smart" and which were "not". </span>
                          </span>But, the teachers were told not to tell the students which they were.
                          <span class="flow-text">
                              <span class="flow-text"> </span>
                          </span>We don’t tell the students what they are because that might interfere with the way that they act.
                          <span class="flow-text">
                              <span class="flow-text">
                              </span>
                          </span>Smart kids may decide they do not need to study and non-intelligent kids may think there is no need to study.
                          <span class="flow-text">
                              <span class="flow-text"> </span>
                          </span>Funny how that happens!
                          <span class="flow-text">
                              <span class="flow-text"> </span>
                          </span>So we don’t want them to know that they’re smarter or less intelligent than the other ones in the class. However,
                          the teachers know. This creates an expectancy bias in the teachers.
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> </span>In actuality the tests showed NO difference between the students.
                          <span class="flow-text">
                              <span class="flow-text">
                              </span>
                          </span>They were all at the same level of intelligence.
                          <span class="flow-text">
                              <span class="flow-text"> The</span>
                          </span>
                          teachers actually treated the “smarter” kids differently than they treated the “unintelligent” kids.
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> </span>When they first took the intelligence test, there had been no difference between the to groups of students.
                          At the end of the year, when they gave a
                          <span class="flow-text">
                          </span>
                          <i>new</i>
                          <span class="flow-text"> </span>test to those students, the ones that the teachers thought were good students, or intelligent students,
                          did better on their intelligence test than the other students did.
                          <span class="flow-text">
                          </span>
                          <span class="flow-text"> </span>Just by the treatment that the teachers gave the students they increased and decreased their intelligence
                          levels.
                          <span class="flow-text"> </span>
                          <span class="flow-text">
                          </span>Many experiments show that the more you interact with a student the better that student will perform.
                          <span class="flow-text">
                              <span class="flow-text">
                              </span>
                          </span>That is exactly what the teachers did.
                          <span class="flow-text">
                              <span class="flow-text"> </span>
                          </span>They spent more time with the “good” students.&nbsp;
                          <span class="flow-text">
                              <span class="flow-text"></span>
                          </span>
                      </span>
                      <br>
                      <br>
                      <span class="flow-text">That's it for this lecture.
                          <br> I’m going to stop here. It's time for a break guys, and gals. Go get a cup of coffee.
                          <br> Go do something other than study (maybe play the hangman game).
                          <br> There is one crossword puzzle for both History and Research,
                          <br> but the hangman games are made for each slide.
                          <br> Take 15 minutes or so before you go to the next slide.
                          <br> Distributed learning is the best learning.
                          <br> We will continue the study of the Research in Psychology in the next lecture.
                          <br> Talk with you then. </span>
                  </p>
              
              </p>

            </div>
      
            <br><br>
      
          </div>
        </div>