<ul id="jobsForPsychologyMajorsMenu" class="side-nav fixed">
    <li>
        <div class="user-view light-blue lighten-1" style="padding-top: 8px;">
            <a href="#!name">
                <span class="white-text name">Universities with Psychology Majors:</span>
            </a>
            <a href="#!email">
                <span class="white-text email">A Short List</span>
            </a>
        </div>
    </li>
    <span class="schoolsOfPsychologyList">

    </span>

</ul>

<div class="section no-pad-bot" id="index-banner">

    <div class="container">
        <a id="jobsForPsychologyMajorsMenuTrigger" href="#" class="btn button-collapse light-blue lighten-1 hide-on-large-only" data-activates="jobsForPsychologyMajorsMenu">See list of Universities</a>

        <!-- <a href="#"  class=" hide-on-large-only"><i class="material-icons">menu</i></a> -->

        <p class="flow-text center orange-text" style="margin-top:0px;">
            The American Psychological Association followed some of the careers that students with Psychology Degrees acquired after
            graduation and asked if the degree helped them acquire the job.
        </p>
        <p class="center">
            Here is a list of jobs and careers that the students were hired into after graduation.
            <a href="http://www.apa.org/careers/resources/guides/careers.aspx">http://www.apa.org/careers/resources/guides/careers.aspx </a>
        </p>
        <p class="center">
            Below this listing you will also find a list of the top 25 best (student ranked) psychology schools from 2013
        </p>
        <div class="row">
            <div class="card">
                <table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
                    <tbody>
                        <tr>
                            <td class="orange" style="text-align: center;" colspan="3" rowspan="1">
                                <span>
                                    JOBS/CAREERS FOR THE UNDERGRADUATE PSYCHOLOGY MAJOR &nbsp;
                                    <br> Bachelor of Art or Bachelor of Science
                                </span>
                            </td>
                        </tr>
                        <tr style="padding:24px;">
                            <td>
                                <span>Employment Counselor&nbsp;
                                </span>
                                <br>
                                <span> Employment interviewer</span>
                                <br>
                                <span> Financial Aid Counselor</span>
                                <br>
                                <span> Fund Raiser</span>
                                <br>
                                <span> Health care facility coordinator
                                </span>
                                <br>
                                <span> Health care facility Administrator
                                </span>
                                <br>
                                <span> Human Resources Advisor</span>
                                <br>
                                <span> Information Specialist</span>
                                <br>
                                <span> Job Analyst</span>
                                <br>
                                <span> Labor Relations manager</span>
                                <br>
                                <span> Loan Officer</span>
                                <br>
                                <span> Management Analyst</span>
                                <br>
                                <span> Market research analyst</span>
                                <br>
                                <span> Mental Retardation Aid</span>
                                <br>
                                <span> News writer</span>
                            </td>
                            <td>
                                <span>Occupational Analyst</span>
                                <br>
                                <span> Patient resource and reimbursement agent</span>
                                <br>
                                <span> Personnel Recruiter</span>
                                <br>
                                <span> Police Officer</span>
                                <br>
                                <span> Polygraph examiner</span>
                                <br>
                                <span> K - 12 Teacher</span>
                                <br>
                                <span> Probation/Parole Officer</span>
                                <br>
                                <span> Project Evaluator</span>
                                <br>
                                <span> Psychiatric Aid attendant</span>
                                <br>
                                <span> Psychiatric Technician</span>
                                <br>
                                <span> Psychological Stress Evaluator </span>
                                <br>
                                <span> Psychosocial Rehabilitation Specialist (PSR) </span>
                                <br>
                                <span> Public Relations Representative </span>
                                <br>
                                <span> Purchasing Agent </span>
                                <br>
                                <span> Real Estate Agent</span>
                            </td>
                            <td>
                                <span>Recreation Leader </span>
                                <br>
                                <span> Recreation Supervisor </span>
                                <br>
                                <span> Recreational Therapist </span>
                                <br>
                                <span> Research Assistant </span>
                                <br>
                                <span> Retail Salesperson </span>
                                <br>
                                <span> Sales Clerk </span>
                                <br>
                                <span> Social Services Aide </span>
                                <br>
                                <span> Substance Abuse Counselor </span>
                                <br>
                                <span> Systems Analyst </span>
                                <br>
                                <span> Technical Writer </span>
                                <br>
                                <span> Veterans Contact Representative </span>
                                <br>
                                <span> Veterans Counselor </span>
                                <br>
                                <span> Victims' Advocate </span>
                                <br>
                                <span> Vocational Training Teacher
                                </span>
                                <br>
                                <span> Volunteer Coordinator </span>
                                <br>
                                <span> Writer </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card">
                <table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
                    <tbody>
                        <tr>
                            <td class="green" style=" text-align: center;" colspan="3" rowspan="1">
                                <span>CAREERS REQUIRING A DEGREE BEYOND THE&nbsp;UNDERGRADUATE PSYCHOLOGY MAJOR
                                    <br> MA/MS/PHD/PSYD/MD
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Academic Counselor,</span>
                                <br>
                                <span> Applied Statistician,</span>
                                <br>
                                <span> Art Therapist,</span>
                                <br>
                                <span>Professional/Program Evaluator
                                </span>
                                <br>
                                <span>Biogerontologist </span>
                                <br>
                                <span> Chief Psychologist </span>
                                <br>
                                <span> Child Abuse Counselor </span>
                                <br>
                                <span> Child Counselor </span>
                                <br>
                                <span> Child Psychologist </span>
                                <br>
                                <span> Clinical Psychologist </span>
                                <br>
                                <span> Clinical Social Worker </span>
                                <br>
                                <span> Cognitive Neuroscientist </span>
                                <br>
                                <span> Cognitive Psychologist </span>
                                <br>
                                <span> College/University Professor </span>
                                <br>
                                <span> Community Psychologist </span>
                                <br>
                                <span> Comparative Psychologist </span>
                                <br>
                                <span> Consumer Psychologist </span>
                                <br>
                                <span> Counseling Psychologist</span>
                                <br>
                                <span> &nbsp;Developmental Psychologist
                                </span>
                                <br>
                                <span> &nbsp;Domestic Violence Counselor </span>
                                <br>
                                <span> Educational Psychologist </span>
                                <br>
                                <span> Exercise Therapist</span>
                            </td>
                            <td>
                                <span>Experimental Psychologist
                                </span>
                                <br>
                                <span> Family Counselor/ Caseworker </span>
                                <br>
                                <span> Forensic Psychologist </span>
                                <br>
                                <span> Gerontological Counselor </span>
                                <br>
                                <span> Geropsychologist Guidance Counselor </span>
                                <br>
                                <span> Health Psychologist </span>
                                <br>
                                <span> Industrial/ Organizational Psychologist </span>
                                <br>
                                <span> Lawyer </span>
                                <br>
                                <span> Licensed Professional Counselor </span>
                                <br>
                                <span> Marriage and Family Counselor </span>
                                <br>
                                <span> Marriage and Family Therapist </span>
                                <br>
                                <span> Mathematical/ Quantitative Psychologist </span>
                                <br>
                                <span> Medical Social Worker </span>
                                <br>
                                <span> Mental Health Counselor </span>
                                <br>
                                <span> Military Chaplin </span>
                                <br>
                                <span> Military Counselor </span>
                                <br>
                                <span> Minister, Priest, Rabbi, Chaplain, etc. </span>
                                <br>
                                <span> Multicultural Counselor </span>
                                <br>
                                <span> Music Therapist </span>
                                <br>
                                <span> Neurologist </span>
                                <br>
                                <span> Neuropathologist </span>
                                <br>
                                <span> Neuropsychologist </span>
                            </td>
                            <td>
                                <span>Neurosurgeon </span>
                                <br>
                                <span> Occupational Therapist </span>
                                <br>
                                <span> Optometrist </span>
                                <br>
                                <span> Pediatrician </span>
                                <br>
                                <span> Personnel Psychologist </span>
                                <br>
                                <span> Physiatrist</span>
                                <br>
                                <span> Physical Therapist </span>
                                <br>
                                <span> Physician Psychiatric Nurse
                                </span>
                                <br>
                                <span> Psychiatric Social Worker </span>
                                <br>
                                <span> Psychiatrist </span>
                                <br>
                                <span> Psychological Anthropologist </span>
                                <br>
                                <span> Psychologist </span>
                                <br>
                                <span> Psychometrician </span>
                                <br>
                                <span> Psychotherapist </span>
                                <br>
                                <span> Rehabilitation Psychologist
                                </span>
                                <br>
                                <span> School Psychologist </span>
                                <br>
                                <span> School Social Worker </span>
                                <br>
                                <span> Social Psychologist </span>
                                <br>
                                <span> Speech Pathologist </span>
                                <br>
                                <span> Sport Psychologist </span>
                                <br>
                                <span> Veterinarian </span>
                                <br>
                                <span> Vocational Rehabilitation Counselor </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>
                <b>
                    The student-based rankings for the nation’s top psychology programs in 2013 (
                    <a href="http://www.graduateprograms.com/">http://www.graduateprograms.com/</a>) are:
                </b>
            </p>
            <p>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">1.) Harvard University (9.53 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">2.) Northwestern University (9.13 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">3.)
                    <span style="font-weight: bold;"> </span>University of Georgia
                    <span style="font-weight: bold;"> </span>(8.96 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">4.) University of Michigan-Ann Arbor (8.88 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">5.) University of Virginia (8.75 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">6.)
                    <span style="font-weight: bold;"> </span>Duke University (8.65 stars)&nbsp;
                </span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">7.) Yale University (8.64 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">8.) Stanford University (8.63 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">9.) Washington University in St. Louis (8.58 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">10.) Massachusetts Institute of Technology (8.57 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">11.) Bowling Green State University (8.54 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">12.) University of California, Davis (8.458 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">13.) University of Minnesota Twin Cities (8.45 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">14.) University of Florida (8.43 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">15.) Auburn University (8.41 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">16.) George Washington University (8.36 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">17.) Virginia Commonwealth University (8.34 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">18.) University of New Mexico (8.31 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">19.) Pepperdine University (8.19 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">20.) University of Illinois at Urbana-Champaign (8.17 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">21.) University of California, Berkeley (8.13 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">22.) University of Wisconsin-Madison (8.11 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">23.) Michigan State University (8.08 stars)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">24.) University of North Carolina at Chapel Hill (8.07)&nbsp;</span>
                <br>
                <span style="font-family: arial, helvetica, sans-serif; font-size: medium;">25.) Purdue University-West Lafayette (8.06)</span>
            </p>
        </div>

    </div>
</div>