<div class="section no-pad-bot" id="index-banner">

    <div class="container">
        <!-- <p class="flow-text center orange-text responsive-header">Introduction to Psychology</p> -->
        <div class="card blue">
            <div class="card-content white-text">
                <p>Universities with Psychology Majors:
                    <br>
                    <br> A Short List:</p>
            </div>
            <div class="card-content blue lighten-5">
                <ul>
                    <span class="schoolsOfPsychologyList">
                
                    </span>
                </ul>
            </div>
        </div>
    </div>
</div>